<template>
  <Button class="btn btn-icon btn-small btn-close" color="rgba(0,0,0,.2)" @click="clickEvent">
    <i class="icon-close"></i>
    <span class="is-blind">{{ btnText }}</span>
  </Button>
</template>
<script>
export default {
  props: ["btnText"],
  methods: {
    clickEvent() {
      this.$emit("click");
    }
  }
};
</script>