<template>
  <button
    type="button"
    ref="container"
    :class="classObj"
    :disabled="disabled"
    @mousedown="addRipple"
    @click="click"
    @blur="$emit('blur', $event.target.value)"
  >
    <slot> </slot>
    <transition-group class="ripples" name="grow" tag="div">
      <div
        class="ripple"
        v-for="ripple in ripples"
        :key="ripple.id"
        :style="{
          top: ripple.top,
          left: ripple.left,
          width: ripple.width,
          height: ripple.height,
          background: bgColor,
        }"
      ></div>
    </transition-group>
  </button>
</template>
<script>
import { ripples } from '@/assets/mixins/ripples';
export default {
  name: '',
  mixins: [ripples],
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: 'transparent',
    },
    size: {
      type: String,
      default: 'medium',
    },
    rounded: {
      type: Boolean,
      default: false,
    },
    block: {
      type: Boolean,
      default: false,
    },
    circle: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    classObj() {
      return `ripple-outer btn ${this.classSize} ${this.classColor} ${this.classRounded} ${this.classBlock} ${this.classCircle} ${this.classIcon}`.trim();
    },
    classColor() {
      if (this.color) return `btn-${this.color}`;
    },
    classSize() {
      if (this.size) return `btn-${this.size}`;
    },
    classRounded() {
      return this.rounded ? `btn-rounded` : '';
    },
    classBlock() {
      return this.block ? `btn-block` : '';
    },
    classCircle() {
      return this.circle ? `btn-circle` : '';
    },
    classIcon() {
      return this.icon ? `btn-icon` : '';
    },
  },
};
</script>
<style scoped>
.ripple-outer {
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
.ripple {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

.grow-enter-active,
.grow-enter-to-active {
  transition: all 1500ms ease-out;
}
.grow-leave-active,
.grow-leave-to-active {
  transition: all 700ms ease-out;
}

.grow-enter {
  transform: scale(0);
  opacity: 1;
}

.grow-enter-to {
  transform: scale(4);
  opacity: 1;
}

.grow-leave {
  transform: scale(4);
  opacity: 1;
}
.grow-leave-to {
  transform: scale(4);
  opacity: 0;
}
</style>
