<template>
  <main id="smallBusinessForm" class="main-wrapper">
    <EmptyHeader border title="2021년 ｢나누다키친 인큐베이팅｣ 참가 신청서">
      <template v-slot:leftArea>
        <PrevButton @click="$router.go(-1)" />
      </template>
    </EmptyHeader>
    <article class="main-article">
      <header class="article-header mb-4 is-blind">
        <h2 class="txt-large txt-black">신청공간 및 상담관련</h2>
      </header>
      <div class="article-content">
        <section class="article-section bg-gray-100">
          <div class="inner-container">
            <header class="section-header mb-4">
              <h3 class="txt-medium txt-bold txt-black">신청 및 선발과정</h3>
              <p class="txt-tiny txt-black mt-2">
                신청 및 선발과정은 아래의 순서로 진행되오니 참고 부탁드립니다.
              </p>
            </header>
            <div class="section-conent">
              <div class="plans-step-list">
                <ol class="plans-step-list-container">
                  <li class="plans-step-list-item">
                    <div class="txt-box">
                      <span class="step-num"
                        >STEP <strong class="txt-primary">1</strong></span
                      >
                      <p>교육 수료 및 수료증발급</p>
                    </div>
                  </li>
                  <li class="plans-step-list-item">
                    <div class="txt-box">
                      <span class="step-num"
                        >STEP <strong class="txt-primary">2</strong></span
                      >
                      <p>신청서 작성 및 제출</p>
                    </div>
                  </li>
                  <li class="plans-step-list-item">
                    <div class="txt-box">
                      <span class="step-num"
                        >STEP <strong class="txt-primary">3</strong></span
                      >
                      <p>서류 및 대면심사</p>
                    </div>
                  </li>
                  <li class="plans-step-list-item">
                    <div class="txt-box">
                      <span class="step-num"
                        >STEP <strong class="txt-primary">4</strong></span
                      >
                      <p>최종선발</p>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </section>
        <div class="py-4">
          <div class="inner-container">
            <div class="row gutter-16 justify-content-center">
              <div class="col col-12 col-lg-6">
                <section class="article-section py-0">
                  <header class="section-header mb-4">
                    <h3 class="txt-medium txt-bold txt-black">
                      참가 신청서
                    </h3>
                  </header>
                  <div class="secton-content">
                    <FormGroup>
                      <FormLabel
                        >신청부문 (1순위)
                        <span class="txt-primary">*</span></FormLabel
                      >
                      <FormControl>
                        <div class="row-box">
                          <div class="radio">
                            <input
                              type="radio"
                              name="appliedCategory"
                              id="appliedCategory1"
                              value="SMALL_BIZ_TYPE_1"
                              v-model="$v.appliedCategoryNo.$model"
                              disabled
                            />
                            <label for="appliedCategory1" class="label-txt">
                              <span
                                >패키지 A. 공유주방 영업실습(1개월) + 상품화지원
                                프로그램</span
                              >
                            </label>
                          </div>
                        </div>
                        <div class="row-box">
                          <div class="radio">
                            <input
                              type="radio"
                              name="appliedCategory"
                              id="appliedCategory2"
                              value="SMALL_BIZ_TYPE_2"
                              v-model="$v.appliedCategoryNo.$model"
                            />
                            <label for="appliedCategory2" class="label-txt">
                              <span
                                >패키지 B. 브랜드개발 및 창업교육 + 상품화지원
                                프로그램</span
                              >
                            </label>
                          </div>
                        </div>
                      </FormControl>
                      <div class="txt-box">
                        <p class="txt-tiny txt-primary">
                          ※ 1순위가 마감될 경우 2순위로 자동 지원됩니다.
                        </p>
                      </div>
                    </FormGroup>
                    <div class="row row-box gutter-8">
                      <div class="col col-6">
                        <FormGroup>
                          <FormLabel
                            >이름 <span class="txt-primary">*</span></FormLabel
                          >
                          <FormControl>
                            <InputGroup>
                              <InputField
                                type="text"
                                placeholder="홍길동"
                                v-model="$v.name.$model"
                                :autofocus="true"
                                addClass=""
                              />
                            </InputGroup>
                          </FormControl>
                          <FormMessage
                            v-if="!$v.name.required && $v.name.$dirty"
                            >이름을 입력해주세요</FormMessage
                          >
                        </FormGroup>
                      </div>
                      <div class="col col-6">
                        <FormGroup>
                          <FormLabel
                            >휴대폰번호
                            <span class="txt-primary">*</span></FormLabel
                          >
                          <FormControl>
                            <InputGroup>
                              <InputField
                                type="text"
                                placeholder="'-'없이 입력해주세요"
                                v-model="$v.phone.$model"
                                addClass=""
                              />
                            </InputGroup>
                          </FormControl>
                          <FormMessage
                            v-if="!$v.phone.required && $v.phone.$dirty"
                            >핸드폰번호를 입력해주세요</FormMessage
                          >
                          <FormMessage v-if="!$v.phone.numeric"
                            >숫자만 가능합니다</FormMessage
                          >
                        </FormGroup>
                      </div>
                      <div class="col col-6">
                        <FormGroup>
                          <FormLabel
                            >생년월일 <span class="txt-primary">*</span>
                          </FormLabel>
                          <FormControl>
                            <!-- <InputGroup>
                              <InputField
                                type="text"
                                placeholder="03-11-1991"
                                v-model="$v.dateOfBirth.$model"
                                addClass=""
                              />
                            </InputGroup> -->
                            <VueDatepicker
                              v-model="$v.dateOfBirth.$model"
                              :format="format"
                            ></VueDatepicker>
                          </FormControl>
                        </FormGroup>
                      </div>
                      <div class="col col-6">
                        <FormGroup>
                          <FormLabel
                            >이메일
                            <span class="txt-primary">*</span></FormLabel
                          >
                          <FormControl>
                            <InputGroup>
                              <InputField
                                type="text"
                                placeholder="abc@naver.com"
                                v-model="$v.email.$model"
                                addClass=""
                              />
                            </InputGroup>
                          </FormControl>
                          <FormMessage
                            v-if="!$v.email.required && $v.email.$dirty"
                            >이메일를 입력해주세요</FormMessage
                          >
                          <FormMessage v-if="!$v.email.email"
                            >이메일 형식만 가능합니다</FormMessage
                          >
                        </FormGroup>
                      </div>
                      <div class="col col-12">
                        <FormGroup>
                          <FormLabel
                            >주소 <span class="txt-primary">*</span></FormLabel
                          >
                          <FormControl>
                            <InputGroup>
                              <InputField
                                type="text"
                                placeholder="서울특별시 서초구 강남대로 311 드림플러스 강남, 1410호"
                                v-model="$v.address.$model"
                                addClass=""
                              />
                              <NButton
                                size="tiny"
                                color="black"
                                @click="onAddressInputClicked('address')"
                                >검색</NButton
                              >
                            </InputGroup>
                          </FormControl>
                        </FormGroup>
                      </div>
                      <div class="col col-12">
                        <div class="row gutter-8 border-top pt-4 mt-4">
                          <div class="col col-6">
                            <FormGroup>
                              <FormLabel>창업날짜</FormLabel>
                              <FormControl>
                                <!-- <InputGroup>
                                  <InputField
                                    type="text"
                                    placeholder="10-10-2010"
                                    v-model="experience.businessStartDate"
                                    addClass=""
                                  />
                                </InputGroup> -->
                                <VueDatepicker
                                  v-model="experience.businessStartDate"
                                  :format="format"
                                ></VueDatepicker>
                              </FormControl>
                            </FormGroup>
                          </div>
                          <div class="col col-6">
                            <FormGroup>
                              <FormLabel>운영기간</FormLabel>
                              <FormControl>
                                <InputGroup>
                                  <InputField
                                    type="text"
                                    placeholder="3년 2개월"
                                    v-model="experience.businessEndDate"
                                    addClass=""
                                  />
                                </InputGroup>
                              </FormControl>
                            </FormGroup>
                          </div>
                          <div class="col col-12">
                            <FormGroup>
                              <FormLabel>폐업사유</FormLabel>
                              <FormControl>
                                <InputGroup>
                                  <InputField
                                    type="text"
                                    placeholder=""
                                    v-model="experience.businessCloseReason"
                                    addClass=""
                                  />
                                </InputGroup>
                              </FormControl>
                            </FormGroup>
                          </div>
                          <div class="col col-12">
                            <FormGroup>
                              <FormLabel>신규사업 아이디어</FormLabel>
                              <FormControl>
                                <InputGroup>
                                  <InputField
                                    type="text"
                                    placeholder=""
                                    v-model="businessPlan"
                                    addClass=""
                                  />
                                </InputGroup>
                              </FormControl>
                            </FormGroup>
                          </div>
                          <div class="col col-12">
                            <FormGroup>
                              <FormLabel>창업지역</FormLabel>
                              <FormControl>
                                <InputGroup>
                                  <InputField
                                    type="text"
                                    placeholder="서울특별시 서초구 강남대로 311 드림플러스 강남, 1410호"
                                    v-model="experience.businessLocation"
                                    addClass=""
                                  />
                                  <NButton
                                    size="tiny"
                                    color="black"
                                    @click="
                                      onAddressInputClicked('businessLocation')
                                    "
                                    >검색</NButton
                                  >
                                </InputGroup>
                              </FormControl>
                            </FormGroup>
                          </div>
                          <div class="col col-9">
                            <FormGroup>
                              <FormLabel>업종 &amp; 운영브랜드</FormLabel>
                              <FormControl>
                                <InputGroup>
                                  <InputField
                                    type="text"
                                    placeholder=""
                                    v-model="experience.foodCategory"
                                    addClass=""
                                  />
                                </InputGroup>
                              </FormControl>
                            </FormGroup>
                          </div>
                          <div class="col col-3">
                            <NButton
                              color="secondary"
                              size="tiny"
                              block
                              class="mt-7"
                              @click="addExperience()"
                              :disabled="!isExperienceAll"
                              >추가</NButton
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row-box">
                      <div class="table txt-mini">
                        <table>
                          <colgroup>
                            <col width="12%" />
                            <col width="20%" />
                            <col width="30%" />
                            <col width="20%" />
                            <col width="10%" />
                            <col width="8%" />
                          </colgroup>
                          <thead>
                            <tr>
                              <th>창업날짜</th>
                              <th>운영기간</th>
                              <th>폐업사유</th>
                              <th>창업지역</th>
                              <th>업종브랜드</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <template v-if="experienceArr.length > 0">
                              <tr
                                v-for="(exp, index) in experienceArr"
                                :key="index"
                              >
                                <td>{{ exp.businessStartDate }}</td>
                                <td>{{ exp.businessEndDate }}</td>
                                <td>{{ exp.businessCloseReason }}</td>
                                <td>{{ exp.businessLocation }}</td>
                                <td>{{ exp.foodCategory }}</td>
                                <td>
                                  <NButton
                                    size="mini"
                                    color="danger"
                                    @click="removeExperince(index)"
                                  >
                                    삭제
                                  </NButton>
                                </td>
                              </tr>
                            </template>
                            <template v-else>
                              <tr>
                                <td colspan="6" class="txt-center">
                                  <p>
                                    창업경험을 추가해주세요 <br />
                                    <span class="txt-primary">
                                      (1건 이상 등록 필수입니다)</span
                                    >
                                  </p>
                                </td>
                              </tr>
                            </template>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row-box">
                      <div class="txt-box">
                        <p class="txt-mini txt-primary">
                          ※ 신청인은 향후 진행되는 인큐베이팅 과정에 성실히
                          참여하며, 제출하는 서류의 내용이 추후 사실과 다른
                          것으로 확인될 시 지원선정이 취소될 수 있습니다.
                        </p>
                        <p class="txt-mini txt-primary">
                          ※ 참가신청서 및 일체 관련 서류는 반환하지 않습니다.
                        </p>
                      </div>
                      <div class="txt-box txt-right txt-mini">
                        <p>
                          신청인은 이 사항에 동의합니다.
                        </p>
                        <p>
                          {{ $moment(new Date()).format('YYYY년 MM월 DD일') }}
                        </p>
                        <p>신청인 : {{ this.name }} (인)</p>
                      </div>
                      <div class="txt-box">
                        <p class="txt-mini txt-primary">
                          ※ 제출 서류: 1.참가 신청서 1부, 2. 개인정보 수집(이용)
                          · 제공 동의서 1부, 3. 희망리턴패키지
                          “재창업/업종변환”교육 수료증 (‘18년 이후)
                        </p>
                      </div>
                      <div class="txt-box txt-mini">
                        <p>
                          접수방법 - e-mail : restart@widaehan.com
                        </p>
                        <p>
                          문의처 - e-mail : restart@widaehan.com
                        </p>
                      </div>
                      <div class="txt-box txt-right">
                        <nuxt-link to="/" class="logo">
                          <LogoTitle />
                        </nuxt-link>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="col col-12 col-lg-6">
                <section class="article-section py-0">
                  <header class="section-header mb-4">
                    <h3 class="txt-medium txt-bold txt-black">
                      개인정보동의서
                    </h3>
                  </header>
                  <div class="section-conent">
                    <div class="title-box">
                      <h4 class="txt-mini txt-black txt-bold">
                        개인정보 수집(이용)·제공 동의서
                      </h4>
                      <p class="txt-mini mt-2">
                        ㈜위대한상사에서는 『‘나누다키친’ 공유주방 인큐베이팅
                        사업 운영』과 관련하여 귀 사(귀하)의 개인정보를
                        수집(이용)하거나 제3자에게 제공하고자 하는 경우, 아래와
                        같이 ｢개인정보보호법」에 의거 개인정보의 수집·이용 및
                        제3자 제공에 관해 귀하의 동의를 받아야 합니다.
                      </p>
                    </div>
                    <div class="table txt-mini">
                      <table>
                        <tbody>
                          <tr>
                            <th>목적</th>
                            <td>
                              ‘나누다키친’ 공유주방 인큐베이팅 사업 신청 사실
                              확인 및 공유주방 시설 이용, 창업지원
                            </td>
                          </tr>
                          <tr>
                            <th>수집항목</th>
                            <td>
                              <ul class="u-list">
                                <li>
                                  필수적 정보 - 신청인정보 : 신청자명, 생년월일,
                                  전화번호, 휴대폰 번호, 이메일, 개인 주소 등
                                  개인 고유식별정보
                                </li>
                                <li>
                                  선택적 정보: 없음
                                </li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <th>보유 이용 기간</th>
                            <td>
                              <p>
                                위 개인정보는 수집·이용에 관한 동의일로부터
                                보유목적 달성 시 또는 정보주체가 개인정보 삭제를
                                요청할 경우 지체없이 파기합니다.
                              </p>
                              <p>
                                단, 사업 종료일 후에는 향후 정부지원사업의
                                이력관리만을 위하여 보유·이용되며 보존기간은
                                사업신청일로부터 5년입니다.
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <th>
                              동의를 거부할 권리 및 동의를 거부할 경우의 이익
                            </th>
                            <td>
                              <p>
                                위 개인정보 중 필수항목의 수집·이용에 관한
                                동의는 본 사업의 수행을 위해 필수적이므로 이에
                                동의하셔야 이후 절차를 진행할 수 있습니다.
                              </p>
                              <p>
                                단, 동의하지 않으시는 경우 본 사업에 참여 신청이
                                불가합니다.
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <th>수집·이용 동의 여부</th>
                            <td>
                              <p>
                                귀사가 위와 같이 본인의 개인정보를 수집·이용하는
                                것에 동의합니다.
                              </p>
                              <p>
                                필수적 정보 (
                                <span>
                                  <label for="isAgreeY">
                                    동의함
                                  </label>
                                  <input
                                    type="radio"
                                    name="isAgreeYn"
                                    value="Y"
                                    id="isAgreeY"
                                    v-model="isAgreeYn"
                                  />
                                </span>

                                <span>
                                  <label for="isAgreeN">
                                    동의하지 않음
                                  </label>
                                  <input
                                    type="radio"
                                    name="isAgreeYn"
                                    value="N"
                                    id="isAgreeN"
                                    v-model="isAgreeYn"
                                  />
                                </span>

                                )
                              </p>
                              <p>
                                선택적 정보 (
                                <span>
                                  <label for="isAgreeOptionalY">
                                    동의함
                                  </label>
                                  <input
                                    type="radio"
                                    name="isAgreeOptionalYn"
                                    value="Y"
                                    id="isAgreeOptionalY"
                                    v-model="isAgreeOptionalYn"
                                  />
                                </span>
                                <span>
                                  <label for="isAgreeOptionalN">
                                    동의하지 않음
                                  </label>
                                  <input
                                    type="radio"
                                    name="isAgreeOptionalYn"
                                    value="N"
                                    id="isAgreeOptionalN"
                                    v-model="isAgreeOptionalYn"
                                  />

                                  )
                                </span>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <th>고유식별정보 동의 여부</th>
                            <td>
                              <p>
                                귀사가 위 목적으로 다음과 같은 본인의
                                고유식별정보를 수집·이용하는 것에 동의합니다.
                              </p>
                              <p>
                                고유식별정보 : 전화번호, 휴대폰 번호, 이메일,
                                주소
                              </p>
                              <p>
                                (
                                <span>
                                  <label for="sensitiveInfoY">
                                    동의함
                                  </label>
                                  <input
                                    type="radio"
                                    name="sensitiveInfoYn"
                                    value="Y"
                                    id="sensitiveInfoY"
                                    v-model="sensitiveInfoYn"
                                  />
                                </span>

                                <span>
                                  <label for="sensitiveInfoN">
                                    동의하지 않음
                                  </label>
                                  <input
                                    type="radio"
                                    name="sensitiveInfoYn"
                                    value="N"
                                    id="sensitiveInfoN"
                                    v-model="sensitiveInfoYn"
                                  />
                                </span>

                                )
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <th>민감정보 동의 여부</th>
                            <td>
                              <p>
                                ‘나누다키친’ 공유주방 인큐베이팅 사업 신청에
                                기록된 모든 정보에 대해 수집·이용하는 것에
                                동의합니다.
                              </p>
                              <p>
                                (
                                <span>
                                  <label for="isAgreePrivacyY">동의함</label>
                                  <input
                                    type="radio"
                                    name="isAgreePrivacyYn"
                                    value="Y"
                                    id="isAgreePrivacyY"
                                    v-model="isAgreePrivacyYn"
                                  />
                                </span>
                                <span>
                                  <label for="isAgreePrivacyN"
                                    >동의하지 않음</label
                                  >
                                  <input
                                    type="radio"
                                    name="isAgreePrivacyYn"
                                    value="N"
                                    id="isAgreePrivacyN"
                                    v-model="isAgreePrivacyYn"
                                /></span>
                                )
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2" class="txt-center">
                              {{
                                $moment(new Date()).format('YYYY년 MM월 DD일')
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2" class="txt-right">
                              성 명 : {{ this.name }} (서명 또는 인)
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="txt-red mt-4" v-if="errorMessage">
                      <template v-if="errorMessageString">
                        {{ errorMessage }}
                      </template>
                      <template v-else>
                        <p
                          v-for="message in errorMessage"
                          :key="message.property"
                        >
                          - {{ Object.values(message.constraints)[0] }}
                        </p>
                      </template>
                    </div>
                    <div
                      class="btn-box d-flex mt-12"
                      id="defaultBtn"
                      ref="defaultBtn"
                    >
                      <NButton
                        color="primary"
                        block
                        class="mk_plan_form_com_btn"
                        @click="save"
                        :disabled="
                          $v.appliedCategoryNo.$invalid ||
                          $v.name.$invalid ||
                          $v.phone.$invalid ||
                          $v.email.$invalid ||
                          $v.address.$invalid ||
                          $v.dateOfBirth.$invalid ||
                          !isAgreeAll ||
                          experienceArr.length === 0
                        "
                        >신청하기</NButton
                      >
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <transition name="slideInUp" type="animation">
      <div id="fixedButton" v-if="isShowFixedBtn">
        <NButton
          color="primary"
          block
          class="mk_plan_form_com_btn"
          @click="save"
          :disabled="
            $v.appliedCategoryNo.$invalid ||
            $v.name.$invalid ||
            $v.phone.$invalid ||
            $v.email.$invalid ||
            $v.address.$invalid ||
            $v.dateOfBirth.$invalid ||
            !isAgreeAll ||
            experienceArr.length === 0
          "
          >신청하기</NButton
        >
      </div>
    </transition>
    <!-- 로딩 레이어 -->
    <LoadingLayer v-if="isLoading" />
    <!--// -->
    <!-- 개인정보취급방침 모달 -->
    <CustomModal
      :visible="showInformedConsent"
      headerType="default"
      id="InformedConsent"
      title="개인정보취급 이용약관"
      noBtn="닫기"
      @close="showInformedConsent = false"
    >
      <PrivacyRestaurant />
    </CustomModal>
    <!-- 주소 검색 모달 -->
    <CustomModal
      :visible="showPostcode"
      headerType="default"
      id="searchAddress"
      title="주소검색"
      noBtn="닫기"
      @close="closePostCode"
    >
      <VueDaumPostcode
        @complete="focusAddress($event)"
        autoClose
        ref="postcode"
      ></VueDaumPostcode>
    </CustomModal>
    <!-- // -->
    <!-- 위도경도를 얻기위해 다음맵이 필요함 -->
    <vue-daum-map
      v-show="false"
      :appKey="appKey"
      :center="coords"
      :level.sync="level"
      :libraries="libraries"
      @load="onLoad"
    />
    <!-- // -->
  </main>
</template>
<script>
import LogoTitle from '@/components/UI/LogoTitle';
import EmptyHeader from '@/components/Navigation/EmptyHeader';
import LoadingLayer from '@/components/UI/LoadingLayer';
import DistrictSelectBox from '@/components/Utils/DistrictSelectBox';
import { required, numeric, email } from 'vuelidate/lib/validators';
import { registerForm } from '@/assets/mixins/homepage/registerForm';
import { kakaoAPIs } from '@/assets/mixins/kakaoAPIs';
import { handleScroll } from '@/assets/mixins/handleScroll';
export default {
  layout: 'empty',
  mixins: [registerForm, kakaoAPIs, handleScroll],
  components: {
    LogoTitle,
    EmptyHeader,
    LoadingLayer,
    DistrictSelectBox,
  },
  data() {
    return {
      isShowFixedBtn: false,
      isLoading: false,
      showPostcode: false,
      name: '',
      phone: '',
      appliedCategoryNo: 'SMALL_BIZ_TYPE_2',
      address: '',
      dateOfBirth: new Date().toISOString(0, 10),
      email: '',
      isSavedYn: 'Y',
      isCompleteYn: 'Y',
      isAgreeYn: 'Y',
      isAgreeOptionalYn: 'Y',
      isAgreePrivacyYn: 'Y',
      sensitiveInfoYn: 'Y',
      experienceArr: [],
      experience: {
        businessStartDate: new Date().toISOString(0, 10),
        businessEndDate: '',
        businessCloseReason: '',
        businessLocation: '',
        foodCategory: '',
      },
      addressValue: '',
      errorMessage: [],
      errorMessageString: false,
      businessPlan: '',
    };
  },
  computed: {
    computedDateOfBirth() {
      return new Date(this.dateOfBirth)
        .toISOString(0, 10)
        .toString()
        .substr(0, 10);
    },
    computedBusinessStartDate() {
      return new Date(this.experience.businessStartDate)
        .toISOString(0, 10)
        .toString()
        .substr(0, 10);
    },
    format() {
      return 'yyyy-MM-dd';
    },
    isExperienceAll() {
      if (
        this.experience.businessStartDate &&
        this.experience.businessEndDate.length > 0 &&
        this.experience.businessLocation.length > 0 &&
        this.experience.foodCategory.length > 0
      ) {
        return true;
      } else {
        return false;
      }
    },
    isAgreeAll() {
      if (
        this.isAgreeYn === 'Y' &&
        this.isAgreeOptionalYn === 'Y' &&
        this.isAgreePrivacyYn === 'Y' &&
        this.sensitiveInfoYn === 'Y'
      ) {
        return true;
      } else {
        return false;
      }
    },
  },
  methods: {
    scrollFunc() {
      const target = this.$refs.defaultBtn;
      if (target) {
        if (
          this.currentScroll < Math.floor(target.getBoundingClientRect().top)
        ) {
          this.isShowFixedBtn = true;
        } else {
          this.isShowFixedBtn = false;
        }
      }
    },
    onAddressInputClicked(value) {
      this.showPostcode = true;
      this.addressValue = value;
    },
    closePostCode() {
      // 검색창 모달 닫기
      this.showPostcode = false;
    },
    focusAddress($event) {
      this.setAddress($event, this.addressValue);
      this.showPostcode = false;
    },
    setAddress(res, ref) {
      return new Promise((resolve) => {
        if (ref === 'address') {
          this.address = res.address;
        }
        if (ref === 'businessLocation') {
          this.experience.businessLocation = res.address;
        }

        const geocoder = new kakao.maps.services.Geocoder();

        const callback = (results, status) => {
          if (status === kakao.maps.services.Status.OK) {
            const result = results[0]; //첫번째 결과의 값을 활용 // 해당 주소에 대한 좌표를 받아서
            this.coords.lng = result.x;
            this.coords.lat = result.y;
            resolve('resolved');
          }
        };
        //주소로 좌표를 가져옴
        geocoder.addressSearch(res.address, callback);
        this.showPostcode = !this.showPostcode;
      });
    },
    addExperience() {
      this.experienceArr.push({
        businessStartDate: this.computedBusinessStartDate,
        businessEndDate: this.experience.businessEndDate,
        businessCloseReason: this.experience.businessCloseReason,
        businessLocation: this.experience.businessLocation,
        foodCategory: this.experience.foodCategory,
      });
      //   console.log(this.experienceArr);
      this.experience.businessStartDate = new Date().toISOString(0, 10);
      this.experience.businessEndDate = '';
      this.experience.businessCloseReason = '';
      this.experience.businessLocation = '';
      this.experience.foodCategory = '';
    },
    removeExperince(index) {
      this.experienceArr.splice(index, 1);
    },
    save() {
      this.isLoading = true;

      this.$axios
        .$post(`${process.env.b2bBaseURL}/small-business-application`, {
          name: this.$v.name.$model,
          phone: this.$v.phone.$model,
          appliedCategoryNo: this.$v.appliedCategoryNo.$model,
          address: this.$v.address.$model,
          dateOfBirth: this.computedDateOfBirth,
          email: this.$v.email.$model,
          isSavedYn: this.isSavedYn,
          isCompleteYn: this.isCompleteYn,
          isAgreeYn: this.isAgreeYn,
          isAgreeOptionalYn: this.isAgreeOptionalYn,
          isAgreePrivacyYn: this.isAgreePrivacyYn,
          sensitiveInfoYn: this.sensitiveInfoYn,
          experience: this.experienceArr,
          businessPlan: this.businessPlan,
        })
        .then((res) => {
          if (res) {
            this.isLoading = false;
            this.$router.push('/small-business-application/complete');
          }
        })
        .catch((err) => {
          // 이미 존재하는 번호
          if (err.response.status === 400) {
            this.isLoading = false;
            this.errorMessage = err.response.data.message;
            if (typeof this.errorMessage === 'string') {
              this.errorMessageString = true;
            } else {
              this.errorMessageString = false;
            }
            // this.$router.push({
            //   path: '/small-business-application/complete',
            //   query: { isExistedMessage: err.response.data.message },
            // });
          }
        });
    },
  },
  validations: {
    name: {
      required,
    },
    phone: {
      numeric,
      required,
    },
    email: {
      required,
      email,
    },
    address: {
      required,
    },
    dateOfBirth: {
      required,
    },
    appliedCategoryNo: {
      required,
    },
  },
};
</script>
<style lang="scss">
#smallBusinessForm {
  #fixedButton {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  @media screen and (min-width: 1024px) {
    #fixedButton {
      display: none;
    }
  }
  .vdp-datepicker {
    max-width: 100%;
    input {
      width: 100%;
      height: 100%;
      border: 0;
      padding: 0;
      margin: 0;
      font-size: 1.4rem;
      border: 1px solid #dddddd;
      padding: 0.625em 0.5em;
      transition: border 0.4s ease;
      background-color: #fff;
      border-radius: 0.25rem;
    }
  }
  .article-section {
    padding: 1.5em 0;
  }
  .plans-step-list {
    .plans-step-list-container {
      display: flex;
      flex-wrap: wrap;
    }
    .plans-step-list-item {
      position: relative;
      text-align: center;
      width: 25%;

      &:last-child {
        .txt-box {
          &:after {
            display: none;
          }
        }
      }

      .txt-box {
        font-size: $txt-tiny;
        color: $black;
        position: relative;

        &:after {
          display: block;
          content: '';
          position: absolute;
          right: -0.25em;
          top: 50%;
          width: 0.5em;
          height: 1em;
          margin-top: -0.5em;
          background: url('~assets/svg/common/step_arrow.svg') no-repeat center
            center;
          background-size: cover;
        }
        img {
          max-width: 4em;
        }
        .step-num {
          display: block;
          font-weight: $txt-bold;
          margin-bottom: 0.5em;
        }
      }
    }
  }
  .logo {
    width: 10em;
    svg {
      fill: black;
    }
  }
}
</style>
