<template>
  <div class="renewal-wrapper">
    <div class="renewal-contents">
      <h1>
        <svg viewBox="0 0 2883.82 200.51" class="logo">
          <defs></defs>
          <path
            d="M0 3.32h31.5l103.65 134.05V3.32h33.79v193.87h-28.47L33.79 59.27v137.92H0V3.32zM312.07 2.63h31.57l85.3 195.25h-36l-19.66-46.8H281.6l-19.94 46.8h-34.9L312.07 2.63zm48.74 118.26L327.3 43.34l-33.24 77.55h66.75zM486.77 3.32h31.5l103.65 134.05V3.32h33.79v193.87h-28.47L520.55 59.27v137.92h-33.79V3.32zM809.64 198.72c-12.56 0-23.91-1.8-34.07-5.4a68.78 68.78 0 01-26.04-16.2c-7.2-7.2-12.74-16.11-16.62-26.72-3.88-10.62-5.82-22.94-5.82-36.98V1.8h33.79v110.23c0 18.09 4.36 31.85 13.09 41.26 8.73 9.42 20.79 14.13 36.21 14.13 15.22 0 27.2-4.53 35.93-13.57 8.72-9.05 13.09-22.53 13.09-40.44V1.8H893v109.95c0 14.41-1.98 27.06-5.95 37.95-3.97 10.89-9.55 19.99-16.76 27.28a67.81 67.81 0 01-26.17 16.34c-10.25 3.59-21.75 5.4-34.48 5.4zM964.39 3.32h72.28c15.14 0 29.03 2.45 41.68 7.34 12.64 4.9 23.54 11.68 32.68 20.36s16.2 18.88 21.19 30.61 7.48 24.41 7.48 38.08v.55c0 13.67-2.49 26.41-7.48 38.23a90.3 90.3 0 01-21.19 30.74c-9.14 8.67-20.04 15.51-32.68 20.49-12.65 4.99-26.54 7.47-41.68 7.47h-72.28V3.32zm72.01 163.13c10.15 0 19.39-1.61 27.7-4.86a60.66 60.66 0 0021.19-13.63 61.57 61.57 0 0013.57-20.86 70.04 70.04 0 004.85-26.28v-.56c0-9.46-1.62-18.26-4.85-26.42-3.23-8.16-7.76-15.16-13.57-21s-12.88-10.43-21.19-13.77-17.54-5.01-27.7-5.01h-38.22v132.38h38.22zM1270.79 2.63h31.57l85.3 195.25h-36l-19.66-46.8h-91.67l-19.94 46.8h-34.9l85.3-195.25zm48.74 118.26l-33.51-77.55-33.24 77.55h66.75zM1497.95 3.32h33.79v97.49l92.23-97.49h41.82l-80.59 83.36 84.2 110.51h-41.27l-66.19-87.24-30.19 31.02v56.22h-33.79V3.32zM1721.8 3.32h33.79v193.87h-33.79V3.32zM1872.96 34.89h-61.48V3.32h157.31v31.57h-61.49v162.3h-34.34V34.89zM2112.74 200.51c-14.22 0-27.33-2.59-39.33-7.75a97.42 97.42 0 01-31.24-21.19 97.7 97.7 0 01-20.77-31.71 101.56 101.56 0 01-7.53-39.06v-.55c0-13.85 2.46-26.82 7.4-38.91a98.11 98.11 0 0120.77-31.85 97.73 97.73 0 0131.65-21.6c12.18-5.27 25.66-7.9 40.43-7.9 8.86 0 16.94.74 24.23 2.22a98.32 98.32 0 0120.08 6.23c6.09 2.68 11.72 5.86 16.89 9.56s10.06 7.75 14.68 12.19l-21.88 25.2a109.13 109.13 0 00-24.65-17.45c-8.68-4.44-18.56-6.65-29.63-6.65-9.24 0-17.77 1.8-25.62 5.41a63.38 63.38 0 00-20.36 14.68 65.78 65.78 0 00-13.29 21.74 74.58 74.58 0 00-4.71 26.59v.56c0 9.41 1.57 18.33 4.71 26.72a67.34 67.34 0 0013.29 22.02 62.34 62.34 0 0020.36 14.82 60.65 60.65 0 0025.62 5.4c11.81 0 21.97-2.26 30.46-6.79 8.49-4.52 16.9-10.66 25.2-18.41l21.88 22.15a124.97 124.97 0 01-15.65 14.26 103.15 103.15 0 01-17.59 10.8 88.25 88.25 0 01-20.63 6.92 120.62 120.62 0 01-24.77 2.35zM2256.59 3.32h33.79v80.59h93.06V3.32h33.79v193.87h-33.79v-81.71h-93.06v81.71h-33.79V3.32zM2496.82 3.32h143.46v30.74H2530.6v49.85h97.21v30.74h-97.21v51.79h111.06v30.74h-144.85V3.32zM2714.88 3.32h31.5l103.65 134.04V3.32h33.79v193.87h-28.47L2748.66 59.26v137.93h-33.79V3.32z"
          ></path>
        </svg>
      </h1>
      <div class="renewal-img">
        <img src="https://kr.object.ncloudstorage.com/common-nanuda/renwal.png" alt="">
      </div>
      <h2>홈페이지 <strong>리뉴얼</strong>중입니다</h2>
      <p>
        보다 좋은 서비스를 제공하기 위해 홈페이지 리뉴얼중에 있습니다 <br />
        빠른 시일 내에 찾아뵙겠습니다. 감사합니다
      </p>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'empty',
  name: 'renewal',
};
</script>
<style lang="scss">
.renewal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  border-top: 4px solid  #ff7a00;

  .logo {
    width: 10em;
		max-width:100%;
    margin-bottom:0.5em;
  }

  .renewal-contents {
    text-align: center;
    color: #323232;
		padding:1em;
     strong {
        color: #ff7a00;
      }
    h2 {
      font-size: 3.75rem;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 2.25rem;
     
    }
    .renewal-img {
      text-align: center;
      img {
        width: 20em;
      }
    }
  }
}
</style>