<template>
  <div class="txt-center">
    <a href="https://zoom.us/" target="_blank">
      <span class="d-block d-lg-none">
        <img src="@/assets/images/start-your-business/zoom_guide.png" />
      </span>
      <span class="d-none d-lg-block">
        <img src="@/assets/images/start-your-business/zoom_guide_pc.png" />
      </span>
    </a>
  </div>
</template>
<script>
export default {
  layout: 'empty',
};
</script>
