<template>
  <div>
    <v-row align="end" justify="space-around">
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="상담신청인 정보"
          :headers="userHeaders"
          :items="[nanudaUser]"
          page="users"
          hideFooter
        >
          <template v-slot:top>
            <SMSBtnAndDialog
              :adminPhoneNum="loginedUser.PHONE"
              :userPhoneNumb="nanudaUser.PHONE"
            ></SMSBtnAndDialog></template
        ></TableWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="연관 정보">
          <v-row align="center" justify="space-around">
            <div>상담번호: {{ uid }}</div>
            <v-select
              label="상품"
              class="small-input"
              v-model="product.NAME"
              :items="[product.NAME]"
            ></v-select>
          </v-row>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-row align="stretch" justify="space-around">
      <v-col cols="12" lg="4">
        <CardWithTitle title="상품 상담 신청 상태">
          <ManagerSelect
            :initialManager="manager"
            :loading="loading.manager"
            :success="success.manager"
            :error="error.manager"
            @change="changeManager"
            style="max-width: none;"
            roles="CONSULT"
          ></ManagerSelect>
          <v-select
            label="상태"
            class="small-input"
            v-model="status"
            :items="categorys.STATUS"
            item-text="VALUE"
            item-value="KEY"
            :loading="loading.status"
            :success-messages="success.status"
            :error-messages="error.status"
            @change="changeInfo('status', 'STATUS', routerUrl)"
            color="orange"
            style="max-width: none;"
          ></v-select>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="미팅 일정 정보">
          <v-menu
            ref="showHopeDate"
            v-model="showHopeDate"
            :close-on-content-click="false"
            :return-value.sync="hopeDate"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="hopeDate"
                label="미팅 희망 날짜"
                readonly
                v-on="on"
                prepend-icon="mdi-calendar"
                :loading="loading.hopeDate"
                :success-messages="success.hopeDate"
                :error-messages="error.hopeDate"
              ></v-text-field>
            </template>
            <v-date-picker v-model="hopeDate" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="showhopeDate = false"
                >Cancel</v-btn
              >
              <v-btn
                text
                color="primary"
                @click="
                  [
                    $refs.showHopeDate.save(hopeDate),
                    changeInfo('hopeDate', 'HOPE_DATE', routerUrl),
                  ]
                "
                >OK</v-btn
              >
            </v-date-picker>
          </v-menu>
          <v-menu
            ref="showConfirmDate"
            v-model="showConfirmDate"
            :close-on-content-click="false"
            :return-value.sync="confirmDate"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="confirmDate"
                label="상담 확정 날짜"
                readonly
                v-on="on"
                prepend-icon="mdi-calendar"
                :loading="loading.confirmDate"
                :success-messages="success.confirmDate"
                :error-messages="error.confirmDate"
              ></v-text-field>
            </template>
            <v-date-picker v-model="confirmDate" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="showconfirmDate = false"
                >Cancel</v-btn
              >
              <v-btn
                text
                color="primary"
                @click="
                  [
                    $refs.showConfirmDate.save(confirmDate),
                    changeInfo('confirmDate', 'CONFIRM_DATE', routerUrl),
                  ]
                "
                >OK</v-btn
              >
            </v-date-picker>
          </v-menu>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="상담 선택 사항">
          <li>관심 지역 : {{ addressCode ? addressCode.NAME : '선택안함' }}</li>
          <li>관심 공간 타입 : {{ spaceType }}</li>
          <li>상담 희망 시간 : {{ eazyReadHopeTime(hopeTime) }}</li>
          <li>창업 경험 유무 : {{ changupExpYn == 'Y' ? '유' : '무' }}</li>
        </CardWithTitle>
      </v-col>
    </v-row>
    <CardWithTitle title="기타">
      <v-textarea
        label="기타 사항"
        filled
        auto-grow
        class="mt-5"
        v-model="etc"
        :loading="loading.etc"
        :success-messages="success.etc"
        :error-messages="error.etc"
        @blur="changeInfo('etc', 'P_CONSULT_ETC', routerUrl)"
      ></v-textarea>
    </CardWithTitle>
  </div>
</template>

<script>
import ManagerSelect from '@/components/Admin/ManagerSelect';
import { changeInfo } from '@/assets/mixins/changeInfo';
import { eazyReadHopeTime } from '@/assets/mixins/admin/eazyReadHopeTime';
import SMSBtnAndDialog from '@/components/Admin/SMSBtnAndDialog';
export default {
  layout: 'admin',
  components: { ManagerSelect, SMSBtnAndDialog },
  mixins: [changeInfo, eazyReadHopeTime],
  data() {
    return {
      showHopeDate: false,
      showConfirmDate: false,
      routerUrl: '/productConAdmin/',
      userHeaders: [
        {
          text: 'UID',
          value: 'NO',
          align: 'center',
          sortable: false,
        },
        {
          text: '이름',
          value: 'NAME',
          align: 'center',
          sortable: false,
        },
        {
          text: '전화번호',
          value: 'PHONE',
          align: 'center',
          sortable: false,
        },
      ],
    };
  },
  methods: {
    changeUser(user) {
      this.userNo = user.no;
      this.userName = user.name;
      this.userPhone = user.phone;
      this.changeInfo('userNo', 'NANUDA_USER_NO', this.routerUrl);
    },
    changeManager(value) {
      this.manager = value;
      this.changeInfo('manager', 'P_CONSULT_MANAGER', this.routerUrl);
    },
  },
  async asyncData(context) {
    let res = await context.$axios.$get(
      '/productConAdmin/' + context.route.params.uid,
    );
    //상담 상태 값 가져옴
    let categorysData = await context.$axios.$get('/category', {
      params: {
        PAGE: 'PRODUCT_CONSULT',
      },
    });
    let loginedUserData = await context.$axios.$get(
      `/userManagerAdmin/${context.store.state.userNum}`,
    );
    return {
      loginedUser: loginedUserData,
      uid: res.NO,
      nanudaUser: res.NANUDA_USER,
      nanudaUserNo: res.NANUDA_USER_NO,
      nanudaUserName: res.NANUDA_USER.NAME,
      nanudaUserPhone: res.NANUDA_USER.PHONE,
      status: res.STATUS,
      spaceId: res.SPACE_ID,
      adminUser: res.ADMIN_USER,
      manager: res.P_CONSULT_MANAGER,
      confirmDate: res.CONFIRM_DATE,
      hopeDate: res.HOPE_DATE,
      hopeTime: res.HOPE_TIME,
      changupExpYn: res.CHANGUP_EXP_YN,
      etc: res.P_CONSULT_ETC,
      spaceTypeNo: res.SPACE_TYPE_NO,
      product: res.PRODUCT,
      categorys: categorysData,
      addressCode: res.ADDRESS_CODE,
    };
  },
  computed: {
    spaceType() {
      switch (this.spaceTypeNo) {
        case 0:
          return '둘다선택';
        case 1:
          return '점포공유식당';
        case 2:
          return '배달전용 공유주방';
        default:
          return '알수없음';
      }
    },
  },
};
</script>

<style lang="scss">
.v-application {
  .flex-nowrap {
    overflow: auto;
  }
}
</style>
