<template>
  <CommonTable
    :headers="this.headers"
    :items="this.users"
    page="managers"
    addBtn="사용자"
  />
</template>

<script>
import CommonTable from "@/components/Admin/CommonTable";
export default {
  components: { CommonTable },
  layout: "admin",
  data() {
    return {
      headers: [
        {
          text: "UID",
          align: "center",
          value: "NO"
        },
        {
          text: "핸드폰번호",
          align: "center",
          value: "PHONE",
          sortable: false
        },
        { text: "이름", align: "center", value: "NAME", sortable: false }
      ]
    };
  },
  asyncData(context) {
    //user data 가져오기
    return context.$axios
      .$get("/userManagerAdmin")
      .then(res => {
        return { users: res };
      })
      .catch(e => console.log(e));
  },
  activated() {
    return this.$axios
      .$get("/userManagerAdmin")
      .then(res => {
        this.users = res;
      })
      .catch(e => console.log(e));
  }
};
</script>

<style lang="scss"></style>
