<template>
  <div class="select">
    <select
      class="form-element"
      :class="addClass"
      :id="inputId"
      @change="updateValue($event.target.value)"
    >
      <option value disabled :selected="!value ? true : false">{{
        placeholder
      }}</option>
      <option value v-if="allOption">{{ allOptionText }}</option>
      <option
        v-for="item in items"
        :value="item[itemValue]"
        :key="item[itemValue]"
        :selected="item[itemValue] === selectOption"
        :class="{
          'txt-red': item[addOptionCode] === addOptionValue && addOptionText,
        }"
      >
        <span
          v-if="item[addOptionCode] === addOptionValue && addOptionText"
          class="mr-2"
        >
          [{{ addOptionText }}]
        </span>

        {{ item[itemText] }}
      </option>
      <slot></slot>
    </select>
  </div>
</template>
<script>
export default {
  name: 'NSelect',
  props: {
    allOption: {
      type: Boolean,
      default: true,
    },
    placeholder: {
      type: String,
      default: '옵션 선택',
    },
    value: [Number, String, Object],
    items: {
      type: Array,
      default: () => [],
    },
    inputId: String,
    addClass: String,
    itemValue: [Number, String, Object],
    itemText: String,
    selectOption: [Number, String, Object],
    addOptionCode: String,
    addOptionValue: [String, Number],
    addOptionText: String,
    allOptionText: {
      type: String,
      default: '전체',
    },
  },
  methods: {
    updateValue: function (value) {
      if (value === '') {
        value = null;
      }
      this.$emit('input', value);
    },
  },
};
</script>
