<template>
  <div class="food-category-list">
    <ul>
      <li
        class="food-category-list-item"
        v-for="category in foodCategory"
        :key="category.CODE"
        :class="{'is-active' : category.NO === activeCategoryNo }"
        @click="getFoodCategory(category.NO)"
      >
        <div class="inner-box">
          <div class="icon-box">
            <img :src="require(`@/assets/svg/icon/${category.CODE}.svg`)" alt />
          </div>
          <div class="txt-box">
            <p>{{category.NAME_KR}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'FoodCategoryList',
  props: ['selectedCategoryNo'],
  data() {
    return {
      activeCategoryNo: null,
      foodCategory: [
        {
          NO: 1,
          CODE: 'KOREAN_FOOD',
          NAME_KR: '한식',
        },
        {
          NO: 4,
          CODE: 'WESTERN_FOOD',
          NAME_KR: '양식',
        },
        {
          NO: 3,
          CODE: 'JAPANESE_FOOD',
          NAME_KR: '일식',
        },
        {
          NO: 9,
          CODE: 'SNACK_FOOD',
          NAME_KR: '분식',
        },
        {
          NO: 16,
          CODE: 'LUNCH_BOX_FOOD',
          NAME_KR: '도시락',
        },
        {
          NO: 15,
          CODE: 'ETC',
          NAME_KR: '기타',
        },
      ],
    };
  },
  methods: {
    getFoodCategory(categoryNo) {
      if (this.$route.name !== 'delivery-kitchen-brands') {
        this.$router.push({
          name: 'delivery-kitchen-brands',
          params: { categoryNo: categoryNo },
        });
      } else {
        this.$emit('click', categoryNo);
        if (this.selectedCategoryNo !== categoryNo) {
          this.activeCategoryNo = categoryNo;
        }
      }
    },
  },
  created() {
    this.activeCategoryNo = this.selectedCategoryNo;
  },
};
</script>
<style lang="scss">
.food-category-list {
  ul {
    display: flex;
    flex-wrap: wrap;

    .food-category-list-item {
      width: 33.33%;
      text-align: center;

      &:hover,
      &.is-active {
        .inner-box {
          background-color: $white;
        }
      }

      .inner-box {
        width: 6em;
        height: 6em;
        margin: 0.5em auto;
        padding: 0.5em 0;
        border-radius: 50%;
        transition: all 0.4s ease;
      }

      .icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.625em;
        height: 3.625em;
        margin: 0 auto;

        img {
          max-height: 100%;
        }
      }
      .txt-box {
        margin-top: 0;
        p {
          font-size: $txt-small;
          font-weight: $txt-bold;
          color: $black;
        }
      }
    }
  }
}
</style>