<template>
  <v-container fluid>
    <NewDistrictDialog
      :show.sync="showNewDistrictDialog"
      @saved="districtSaved"
    ></NewDistrictDialog>
    <PromoDialog
      v-if="selectedPromo"
      :show.sync="showPromoDialog"
      :no="selectedPromo.NO"
      @click="onPromoClicked"
      @saved="promoSaved"
    />
    <NewPromoDialog :show.sync="showNewPromoDialog" @saved="promoSaved" />
    <CardWithTitle title="업체 정보">
      <v-row>
        <v-col cols="12" sm="3">
          <v-text-field
            label="이름"
            v-model="company.NAME_KR"
            disabled
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="3">
          <v-text-field
            label="전화번호"
            v-model="company.PHONE"
            disabled
          ></v-text-field>
        </v-col>
      </v-row>
    </CardWithTitle>
    <CardWithTitle title="프로모션 관리">
      <v-data-iterator
        :items="promos"
        :items-per-page.sync="itemsPerPage"
        :page="page"
        :search="search"
        :sort-by="sortBy.toLowerCase()"
        :sort-desc="sortDesc"
        hide-default-footer
      >
        <template v-slot:header>
          <v-toolbar dark color="blue darken-3" class="mb-1">
            <v-text-field
              v-model="search"
              clearable
              flat
              solo-inverted
              hide-details
              prepend-inner-icon="mdi-magnify"
              label="Search"
            ></v-text-field>
            <template v-if="$vuetify.breakpoint.mdAndUp">
              <v-spacer></v-spacer>
              <!-- <v-select
                v-model="sortBy"
                flat
                solo-inverted
                hide-details
                :items="keys"
                prepend-inner-icon="mdi-magnify"
                label="Sort by"
              ></v-select> -->
              <v-spacer></v-spacer>
              <v-btn
                class="mx-2"
                dark
                large
                color="blue lighten-1"
                @click="addPromo"
              >
                <v-icon dark>mdi-plus</v-icon>
              </v-btn>
              <!-- <v-spacer></v-spacer>
              <v-btn-toggle v-model="sortDesc" mandatory>
                <v-btn large depressed color="blue" :value="false">
                  <v-icon>mdi-arrow-up</v-icon>
                </v-btn>
                <v-btn large depressed color="blue" :value="true">
                  <v-icon>mdi-arrow-down</v-icon>
                </v-btn> -->
              <!-- </v-btn-toggle> -->
            </template>
          </v-toolbar>
        </template>

        <template v-slot:default="props">
          <v-row>
            <v-col
              v-for="item in props.items"
              :key="item.name"
              cols="12"
              sm="6"
              md="4"
              lg="3"
            >
              <v-hover v-slot:default="{ hover }">
                <v-card
                  class="promo"
                  :color="
                    $vuetify.theme.isDark ? 'grey darken-3' : 'grey lighten-3'
                  "
                  @click="onPromoClicked(item)"
                  :class="{ 'on-hover': hover }"
                  style="overflow: hidden;"
                >
                  <v-btn
                    icon
                    :class="{ 'show-btns': hover }"
                    color="red"
                    @click.stop="deletePromo(item)"
                  >
                    <v-icon
                      :class="{ 'show-btns': hover }"
                      color="red"
                      class="mr-1 mt-1"
                      >mdi-close-circle</v-icon
                    >
                  </v-btn>
                  <v-card-title class="subheading font-weight-bold">{{
                    item.TITLE
                  }}</v-card-title>

                  <v-divider></v-divider>

                  <v-list
                    dense
                    :color="
                      $vuetify.theme.isDark ? 'grey darken-3' : 'grey lighten-3'
                    "
                  >
                    <v-list-item
                      v-for="(key, index) in item.PROMOTION_PROPERTY"
                      :key="index"
                    >
                      <v-list-item-icon>
                        <v-icon>mdi-circle-medium</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content
                        :class="{ 'blue--text': sortBy === key }"
                        >{{ key.KEY }}</v-list-item-content
                      >
                      <v-list-item-content
                        class="align-end ml-2"
                        :class="{ 'blue--text': sortBy === key }"
                        v-show="key.VALUE"
                        >{{ key.VALUE }}</v-list-item-content
                      >
                    </v-list-item>
                  </v-list>
                </v-card>
              </v-hover>
            </v-col>
          </v-row>
        </template>

        <template v-slot:footer>
          <v-row class="mt-2" align="center" justify="center">
            <span class="grey--text">Items per page</span>
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  dark
                  text
                  color="primary"
                  class="ml-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  {{ itemsPerPage }}
                  <v-icon>mdi-chevron-down</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(number, index) in itemsPerPageArray"
                  :key="index"
                  @click="updateItemsPerPage(number)"
                >
                  <v-list-item-title>{{ number }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>

            <v-spacer></v-spacer>

            <span class="mr-4 grey--text">
              Page {{ page }} of {{ numberOfPages }}
            </span>
            <v-btn
              fab
              dark
              color="blue darken-3"
              class="mr-1"
              @click="formerPage"
            >
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn
              fab
              dark
              color="blue darken-3"
              class="ml-1"
              @click="nextPage"
            >
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
          </v-row>
        </template>
      </v-data-iterator>
    </CardWithTitle>
    <v-row>
      <v-col cols="12" sm="6">
        <TableWithTitle
          title="지점 정보"
          :headers="districtHeaders"
          :items="district"
          hideFooter
          disableLink
        >
          <template v-slot:top>
            <v-btn
              fab
              x-small
              class="ml-2"
              color="orange"
              @click="showNewDistrictDialog = !showNewDistrictDialog"
              ><v-icon>mdi-plus</v-icon></v-btn
            >
          </template></TableWithTitle
        >
      </v-col>
      <v-col cols="12" sm="6">
        <CardWithTitle title="담당자 선택">
          <ManagerSelect
            roles="SPACE"
            :initialManager="theCompany.COMPANY.MANAGER"
            @change="changeManager"
            :loading="loading.manager"
            :success="success.manager"
            :error="error.manager"
          />
        </CardWithTitle>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ManagerSelect from '@/components/Admin/ManagerSelect';
import TableWithTitle from '@/components/Admin/TableWithTitle';
import CardWithTitle from '@/components/Admin/CardWithTitle';
import PromoDialog from '@/components/Admin/Company/PromoDialog';
import NewPromoDialog from '@/components/Admin/Company/NewPromoDialog';
import NewDistrictDialog from '@/components/Admin/Company/NewDistrictDialog';
import { changeInfo } from '@/assets/mixins/changeInfo';
export default {
  components: {
    CardWithTitle,
    PromoDialog,
    NewPromoDialog,
    NewDistrictDialog,
    ManagerSelect,
  },
  mixins: [changeInfo],
  asyncData(context) {
    return context.$axios
      .$get(`/companyAdmin/${context.route.params.uid}`)
      .then((res) => {
        context.loading = false;
        return {
          uid: res.COMPANY.NO,
          theCompany: res,
          company: res.COMPANY,
          promos: res.CURRENT_PROMOTION,
          district: res.COMPANY_DISTRICT.rows,
        };
      })
      .catch((e) => console.log(e));
  },
  data() {
    return {
      routerUrl: `/companyAdmin/`,
      showNewPromoDialog: false,
      selectedPromo: null,
      showPromoDialog: false,
      showNewDistrictDialog: false,
      itemsPerPageArray: [8, 12, 16],
      search: '',
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 8,
      sortBy: 'name',
      keys: ['Name'],
      districtHeaders: [
        {
          text: 'UID',
          value: 'NO',
          align: 'center',
          sortable: false,
        },
        {
          text: '이름',
          value: 'NAME_KR',
          align: 'center',
          sortable: false,
        },
      ],
    };
  },
  computed: {
    numberOfPages() {
      if (this.promos) {
        return Math.ceil(this.promos.length / this.itemsPerPage);
      }
    },
    filteredKeys() {
      return this.keys.filter((key) => key !== `Name`);
    },
  },
  methods: {
    changeManager(value) {
      this.manager = value;
      this.changeInfo('manager', 'MANAGER_NO', this.routerUrl);
    },
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1;
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1;
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number;
    },
    onPromoClicked(item) {
      this.selectedPromo = item;
      this.showPromoDialog = true;
    },
    addPromo() {
      this.showNewPromoDialog = true;
    },
    promoSaved() {
      return this.$axios
        .$get(`/companyAdmin/${this.$nuxt.$route.params.uid}`)
        .then((res) => {
          this.promos = res.CURRENT_PROMOTION;
        })
        .catch((e) => console.log(e));
    },
    deletePromo(item) {
      if (
        confirm(
          '프로모션을 삭제하면 이 프로모션이 설정되있는 공간에서도 삭제됩니다. 그래도 삭제하시겠습니까?',
        )
      ) {
        return this.$axios
          .$put(`/promotionAdmin/${item.NO}`, {
            DEL_YN: 'Y',
          })
          .then((res) => {
            return this.$axios
              .$get(`/companyAdmin/${this.$nuxt.$route.params.uid}`)
              .then((res) => {
                this.promos = res.CURRENT_PROMOTION;
              });
          });
      }
    },
    districtSaved() {
      return this.$axios
        .$get(`/companyAdmin/${this.$nuxt.$route.params.uid}/companyDistrict`)
        .then((res) => {
          this.district = res;
        });
    },
  },
  layout: 'admin',
};
</script>

<style>
.promo {
  transition: opacity 0.2s ease-in-out;
}

.promo:hover {
  opacity: 0.8;
}

.show-btns {
  color: rgba(255, 255, 255, 1) !important;
}
</style>
