<template>
  <div class="company-list">
    <div
      class="row gutter-8"
      :class="{ 'justify-content-center': companies.length < 3 }"
    >
      <div
        class="col col-md-6 col-lg-4"
        v-for="company in companies"
        :key="company.no"
      >
        <CompanyPreview :company="company" />
      </div>
    </div>
  </div>
</template>
<script>
import CompanyPreview from '@/components/Company/CompanyPreview';
export default {
  props: {
    companies: {
      type: Array,
      default: () => [],
    },
  },
  components: {
    CompanyPreview,
  },
};
</script>
