<template>
  <div class="company-preview" @click="toDetailCompany()">
    <template v-if="company.logo && company.logo.length > 0">
      <div>
        <img v-lazy="company.logo[0].endpoint" :alt="company.nameKr" />
      </div>
    </template>
    <template v-else>
      <div class="logo-text">
        <p>
          {{ company.nameKr }}
        </p>
      </div>
    </template>
  </div>
</template>
<script>
export default {
  props: {
    company: {
      type: Object,
      deafult: () => {},
    },
  },
  methods: {
    toDetailCompany() {
      let path = null;
      if (this.company.nameEng) {
        // 기업형공유주방 & 영문명으로 URL 접속 => 해당 랜딩페이지명 동일하게 생성하기
        path = this.company.nameEng.replace(' ', '-').toLowerCase();
      }
      const id =
        this.company.companyType === 'CORP_COMPANY' && path
          ? path
          : this.company.no;
      this.$router.push(`/kitchen-partners/${id}`);
    },
  },
};
</script>
<style lang="scss" scoped>
.company-preview {
  border: 1px solid $border-color;
  background-color: $white;
  text-align: center;
  cursor: pointer;
  text-align: center;
  height: 100%;

  .logo-text {
    position: relative;
    padding-bottom: 54.83%;
    p {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: $txt-bold;
      font-size: $txt-massive;
      color: $black;
      line-height: 1.2;
      padding: 0.5em;
    }
  }
  &:hover {
    border-color: $black;
    img {
      opacity: 0.8;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
}
</style>
