<template>
  <main class="main-wrapper" id="nhKitchen" v-if="company">
    <article class="main-article">
      <header class="article-header">
        <div class="d-flex justify-content-center align-items-center">
          <template v-if="company.logo && company.logo.length > 0">
            <span class="d-inline-block company-logo">
              <img
                v-lazy="company.logo[0].endpoint"
                :alt="company.nameKr"
                height="140"
              />
            </span>
          </template>
          <template v-else>
            <h2 class="txt-massive">
              {{ company.nameEng ? company.nameEng : company.nameKr }}
            </h2>
          </template>
        </div>
      </header>
      <div class="article-content">
        <section
          class="article-section bg-light"
          v-if="promotions && promotions.length > 0"
        >
          <header class="section-header txt-center">
            <h3>진행중인 이벤트</h3>
          </header>
          <div class="section-content">
            <div class="inner-container">
              <PromotionList
                :promotions="promotions"
                :promotionTotalCount="promotionTotalCount"
              />
            </div>
          </div>
        </section>
        <!-- 인기공유주방 :  프로모션 중인 공유주방 노출 -->
        <section class="article-section border-top" v-if="allSpaces.length > 0">
          <div class="container">
            <header class="section-header txt-center">
              <h3>공유주방 창업자 모집</h3>
            </header>
            <div class="section-content">
              <SpaceSlider :spaces="allSpaces" hideFavorite />
            </div>
          </div>
        </section>
        <section class="article-section" id="hanaro">
          <header class="section-header">
            <div class="container">
              <div class="title-box">
                <div
                  class="d-block d-lg-flex align-items-center justify-content-center mb-6"
                >
                  <span class="d-inline-block">
                    <img
                      src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/nh_kitchen_logo_w.svg"
                      alt="농협공유주방"
                      class="d-block w-18"
                    />
                  </span>
                  <i
                    class="d-block d-lg-inline-block txt-big my-1 my-lg-0 mx-2 icon icon-close"
                  ></i>
                  <span class="d-inline-block">
                    <LogoTitle class="d-block w-24"></LogoTitle>
                  </span>
                </div>
                <h3>
                  농협과 함께 성장하는
                  <strong class="txt-bolder">배달 창업의 시작점</strong>
                </h3>
                <p>
                  농협공유주방은 창업자와의 지속가능한 성장에 집중합니다
                </p>
              </div>
              <div class="row mt-8">
                <div class="col col-12 col-xl-4">
                  <div class="summary-box">
                    <div>
                      <h4>
                        안전한 국산 식자재<br />
                        공급이 가능합니다
                      </h4>
                      <p>
                        365일 연중무휴<br />
                        하나로마트 배송 연계
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col col-12 col-xl-4">
                  <div class="summary-box">
                    <div>
                      <h4>
                        창업자의 부담을<br />
                        확 줄였습니다
                      </h4>
                      <p>
                        임대료 무상지원
                        <span>(10월까지)</span> <br />
                        650<span>만원</span> 상당 주방집기 지원
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col col-12 col-xl-4">
                  <div class="summary-box">
                    <div>
                      <h4>
                        함께 성장 가능한<br />
                        환경을 만들었습니다
                      </h4>
                      <p>
                        국내 최초 ESG 기반<br />
                        스마트 공유주방 모델 도입
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="section-content">
            <div class="container">
              <div class="hanaro-benefit-box hanaro-benefit-01">
                <div class="hanaro-benefit-title">
                  <h4>
                    <span>하나.</span>
                    하나로마트 연계 <strong>식자재 배송</strong>
                  </h4>
                </div>
                <div class="hanaro-benefit-content">
                  <div class="inner-container">
                    <div class="txt-box txt-center">
                      <p class="txt-mlarge txt-black txt-bold">
                        농협공유주방에 입점하시면 하나로마트와 연계된
                        <br class="d-none d-md-block" />
                        신선하고 저렴한 식자재를 매일 받아보실 수 있습니다.
                      </p>
                    </div>
                    <div class="row-box row gutter-16 mt-16">
                      <div class="col col-6 col-xl-3">
                        <div class="icon-box">
                          <img
                            src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/hanaro_benefit_01_icon_01.svg"
                            alt=""
                          />
                        </div>
                        <div class="txt-box">
                          <p class="txt-large">
                            물류가 없어도 <strong class="txt-bolder">OK</strong>
                          </p>
                        </div>
                      </div>
                      <div class="col col-6 col-xl-3">
                        <div class="icon-box">
                          <img
                            src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/hanaro_benefit_01_icon_02.svg"
                            alt=""
                          />
                        </div>
                        <div class="txt-box">
                          <p class="txt-large">
                            소량 구매도 <strong class="txt-bolder">OK</strong>
                          </p>
                        </div>
                      </div>
                      <div class="col col-6 col-xl-3">
                        <div class="icon-box">
                          <img
                            src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/hanaro_benefit_01_icon_03.svg"
                            alt=""
                          />
                        </div>
                        <div class="txt-box">
                          <p class="txt-large">
                            <strong class="txt-bolder">365일</strong> 식자재
                            배송
                          </p>
                        </div>
                      </div>
                      <div class="col col-6 col-xl-3">
                        <div class="icon-box">
                          <img
                            src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/hanaro_benefit_01_icon_04.svg"
                            alt=""
                          />
                        </div>
                        <div class="txt-box">
                          <p class="txt-large">
                            식자재
                            <strong class="txt-bolder">캐쉬백</strong> 혜택
                            <br />
                            <span class="txt-mlarge"
                              >(농협공유주방 창업자 한정)</span
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hanaro-benefit-box hanaro-benefit-02">
                <div class="hanaro-benefit-title">
                  <h4>
                    <span>둘.</span>
                    <strong>폭발적인 배달 수요</strong>는 기본,<br
                      class="d-block d-lg-none"
                    />
                    창업자의 부담까지 생각한 공유주방!
                  </h4>
                </div>
                <div class="hanaro-benefit-content">
                  <div class="inner-container">
                    <div class="row-box row">
                      <div class="col col-12 col-lg-6">
                        <div class="map-box ml-xr-4">
                          <img
                            src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/img_nk_kitchen_map.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col col-12 col-lg-6">
                        <div class="point-list ml-xl-4">
                          <div class="point-box">
                            <span class="point-label">
                              Point 1
                            </span>
                            <p>
                              정자, 수내, 미금 지역 배달 포괄
                            </p>
                          </div>
                          <div class="point-box">
                            <span class="point-label">
                              Point 2
                            </span>
                            <p>
                              신흥 오피스 단지의 메카
                              <span>(두산, 네이버)</span>
                            </p>
                          </div>
                          <div class="point-box">
                            <span class="point-label">
                              Point 3
                            </span>
                            <p>
                              정자동 먹자골목 중심부 위치
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row-box border-top pt-12 mt-12">
                      <div class="txt-box txt-center">
                        <p class="txt-mlarge txt-black txt-bold">
                          A급 배달 상권에 위치는 기본, <br />
                          더불어 창업자를 위한 혜택 제공
                        </p>
                      </div>
                      <div
                        class="extra-benefit-list d-block d-lg-flex align-items-center justify-content-evenly"
                      >
                        <div class="extra-benefit-box">
                          <span class="d-block txt-medium txt-bold mb-4">
                            혜택 1
                          </span>
                          <div class="icon-box">
                            <div>
                              <p>1개월<br />임대료 무료</p>
                              <span>
                                <img
                                  src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/hanaro_benefit_02_icon_01.svg"
                                  alt=""
                                />
                              </span>
                            </div>
                          </div>
                          <p class="d-none d-lg-block">
                            <br />
                          </p>
                        </div>
                        <span
                          class="d-block txt-huge txt-center icon icon-more my-4 my-lg-0 mx-4"
                        >
                        </span>
                        <div class="extra-benefit-box">
                          <span class="d-block txt-medium txt-bold mb-4">
                            혜택 2
                          </span>
                          <div class="icon-box">
                            <div>
                              <p>
                                650만원 상당의 <br />
                                주방집기 기본 셋팅!
                              </p>
                              <span>
                                <img
                                  src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/hanaro_benefit_02_icon_02.svg"
                                  alt=""
                                />
                              </span>
                            </div>
                          </div>
                          <div class="txt-box">
                            <p>
                              45BOX 냉장냉동고, 토핑냉장고, 테이블냉장고,<br />
                              튀김기, 싱크대, 작업대, 선반 등
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hanaro-benefit-box hanaro-benefit-03">
                <div class="hanaro-benefit-title">
                  <h4>
                    <span>셋.</span>
                    함께 성장할 수 있는 <strong>공유주방</strong>
                  </h4>
                </div>
                <div class="hanaro-benefit-content">
                  <div class="inner-container">
                    <div class="support-list">
                      <div class="row-box row">
                        <div class="col col-12 col-lg-4">
                          <div class="icon-box">
                            <img
                              src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/hanaro_benefit_03_icon_01.svg"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="col col-12 col-lg-8">
                          <h4 class="txt-center txt-lg-left">
                            ESG와 함께하는 공유주방
                          </h4>
                          <ul class="u-list">
                            <li>
                              환경을 생각하는 국내 최초
                              <strong>스마트공유주방</strong>
                            </li>
                            <li>
                              <strong>ESG형 공유주방</strong>을 함께 만들어 가고
                              싶은 창업자
                            </li>
                            <li>
                              공유주방 내 입점 기업간의
                              <strong>시너지</strong>를 생각하는 창업자
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row-box row">
                        <div class="col col-12 col-lg-4">
                          <div class="icon-box">
                            <img
                              src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/hanaro_benefit_03_icon_02.svg"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="col col-12 col-lg-8">
                          <h4 class="txt-center txt-lg-left">
                            예비 프랜차이즈 성장 지원
                          </h4>
                          <ul class="u-list">
                            <li>
                              초기 매장 수 10개 이하의 <strong>성장</strong>을
                              꿈꾸는 프랜차이즈
                            </li>
                            <li>
                              <strong>배달전문 브랜드</strong>로서의 발돋움이
                              필요한 예비 프랜차이즈
                            </li>
                            <li>
                              다양한 <strong>영업 채널 확장</strong>을 희망하는
                              사업자
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row-box row">
                        <div class="col col-12 col-lg-4">
                          <div class="icon-box">
                            <img
                              src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/hanaro_benefit_03_icon_03.svg"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="col col-12 col-lg-8">
                          <h4 class="txt-center txt-lg-left">
                            소셜 프로그램 운영
                          </h4>
                          <ul class="u-list">
                            <li>
                              <strong>재창업</strong>을 생각하시는 N번째 창업자
                            </li>
                            <li>
                              <strong>업종전환</strong>을 생각하시는 창업자
                            </li>
                            <li>
                              안전하게 <strong>검증된 장소</strong>에서 창업을
                              희망하시는 창업자
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="article-section">
          <div class="container">
            <div class="section-header txt-center">
              <h3>
                <span
                  class="d-inline-block border-bottom pb-1 border-gray-500 txt-gray-500"
                >
                  농협과 나누다키친의 인프라와 함께하세요!
                </span>
              </h3>
            </div>
            <div class="section-content">
              <div class="row gutter-16">
                <div class="col col-6 col-lg-3">
                  <img
                    src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/nh_kitchen_partner_01.jpg"
                    alt="농협경제지주"
                    class="border"
                  />
                </div>
                <div class="col col-6 col-lg-3">
                  <img
                    src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/nh_kitchen_partner_02.jpg"
                    alt="농협하나로마트"
                    class="border"
                  />
                </div>
                <!-- <div class="col col-6 col-lg-4">
                  <img
                    src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/nh_kitchen_partner_03.jpg"
                    alt="NH농협은행"
                    class="border"
                  />
                </div>
                <div class="col col-6 col-lg-4">
                  <img
                    src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/nh_kitchen_partner_04.jpg"
                    alt="세스코"
                    class="border"
                  />
                </div> -->
                <div class="col col-6 col-lg-3">
                  <img
                    src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/nh_kitchen_partner_05.jpg"
                    alt="케이티"
                    class="border"
                  />
                </div>
                <div class="col col-6 col-lg-3">
                  <img
                    src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/nh_kitchen_partner_06.jpg"
                    alt="픽쿡"
                    class="border"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="article-section bg-light py-16">
          <div class="container">
            <div class="section-header txt-center">
              <h3>
                <span class="txt-normal txt-gray-500">
                  창업의 성공과 성장을 위한 첫걸음<br />
                  이제 <strong class="txt-bold">농협공유주방</strong>과
                  함께하세요!
                </span>
              </h3>
            </div>
            <div class="section-content">
              <div class="btn-box txt-center">
                <NButton color="success" @click="send()" class="w-40"
                  >농협공유주방 입점 신청</NButton
                >
              </div>
            </div>
          </div>
        </section>
      </div>
    </article>
  </main>
</template>
<script>
import LogoTitle from '@/components/UI/LogoTitle';
import SpaceList from '@/components/Main/SpaceList'; // 공간 리스트
import SpaceSlider from '@/components/Main/SpaceSlider'; // 인기 공유 주방 슬라이더
import PromotionList from '@/components/Promotion/PromotionList';
export default {
  components: {
    SpaceList,
    SpaceSlider,
    PromotionList,
    LogoTitle,
  },
  async asyncData(context) {
    let company = await context.$axios.$get(`/company/52`);
    let bestSpaces = await context.$axios.$get('/bestSpace/byQuery', {
      params: {
        companyNo: 52,
        take: 6,
      },
    });
    let allSpaces = await context.$axios.$get('/deliverySpace', {
      params: {
        nanudaUserNo: context.store.state.userNum,
        companyNo: 52,
      },
    });
    let promotions = await context.$axios.$get(`/company/52/ongoingPromtions`);

    return {
      company: company,
      promotions: promotions.items,
      promotionTotalCount: promotions.totalCount,
      bestSpaces: bestSpaces.items,
      allSpaces: allSpaces.items,
    };
  },
  methods: {
    async send() {
      await this.$checkTokenExpired();
      if (this.allSpaces.length > 0) {
        this.$store.dispatch('spaces/setSelectedSpace', this.allSpaces[0]);
        if (this.$store.getters.isAuthenticated) {
          this.$router.push('/delivery-kitchen/form');
        } else {
          this.$router.push({
            name: 'login',
            params: { redirected: '/delivery-kitchen/form' }, // form 으로 바로 연결
          });
        }
      }
    },
    moreView() {
      this.$router.push({
        name: 'delivery-kitchen',
        params: { companyNo: this.company.no },
      });
    },
  },
};
</script>
<style lang="scss" scoped>
$nh-kitchen: #2fa444;
#nhKitchen {
  letter-spacing: -0.04em;
  .container {
    max-width: 1680px;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
  .article-header {
    text-align: center;
    padding: 4em 0;
    .company-logo {
      + h2 {
        padding-left: 1.5em;
        margin-left: 1.5em;
        border-left: 1px solid $border-color;
      }
    }
    h2 {
      color: $black;
      font-weight: $txt-bold;
      text-align: left;
      line-height: 1.2;
      font-size: $txt-large;
      text-transform: uppercase;
    }
    .title-eng {
      display: block;
      font-size: $txt-tiny;
      letter-spacing: 0.2em;
      margin-bottom: 1em;
    }
  }

  #hanaro {
    padding: 0;
    .section-header {
      position: relative;
      padding: 4em 0;
      background-image: url('https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/bg_hanaro.jpg');
      background-size: cover;
      background-position: center center;
      text-align: center;
      color: #fff;
      .container {
        max-width: 1400px;
      }
      .title-box {
        position: relative;
      }
      &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }
      h3 {
        color: #58cc62;
        font-size: $txt-huge;
        font-weight: $txt-bold;
      }
      p {
        font-size: $txt-mlarge;
        margin-top: 0.5em;
      }

      .summary-box {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 1em;
        width: 18.5em;
        height: 18.5em;
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
          font-weight: $txt-bold;
          font-size: $txt-large;
        }
        p {
          font-size: $txt-large;
          margin-top: 1em;
          span {
            font-size: $txt-medium;
          }
        }
      }
    }
    .section-content {
      margin-top: 0;
      padding: 4em 0;
      background-color: $light;

      .hanaro-benefit-box {
        border-radius: $border-radius;
        overflow: hidden;
        + .hanaro-benefit-box {
          margin-top: 6.25em;
        }
        .hanaro-benefit-title {
          background-color: $nh-kitchen;
          color: #fff;
          padding: 2.5em 0.5em;
          text-align: center;

          h4 {
            font-size: $txt-big;
            span {
              display: block;
              font-size: $txt-large;
              font-weight: $txt-bold;
              margin-bottom: 0.5em;
            }
            strong {
              font-weight: $txt-bolder;
            }
          }
        }
        .hanaro-benefit-content {
          padding: 3.5em 0;
          background-color: #fff;
          .inner-container {
            max-width: 1400px;
          }
        }
      }
      .hanaro-benefit-01 {
        .hanaro-benefit-content {
          text-align: center;
        }
        .icon-box {
          background-color: $light;
          border-radius: 50%;
          max-width: 12.5em;
          margin: 0 auto;
        }
      }
      .hanaro-benefit-02 {
        .map-box {
          border-radius: $border-radius;
          overflow: hidden;
          img {
            display: block;
            width: 100%;
          }
        }
        .point-list {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .point-box {
            display: flex;
            align-items: center;
            .point-label {
              width: 4.6em;
              height: 4.6em;
              border-radius: 50%;
              background-color: #eaffd0;
              color: $nh-kitchen;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 1em;
              font-weight: $txt-bold;
              font-size: $txt-mlarge;
              letter-spacing: -0.04em;
            }
            p {
              font-size: $txt-big;
              font-weight: $txt-bold;
              color: $black;
              span {
                font-size: $txt-mlarge;
                white-space: nowrap;
              }
            }
          }
        }

        .extra-benefit-list {
          margin-top: 2em;
          .extra-benefit-box {
            text-align: center;
            .icon-box {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20em;
              height: 20em;
              background-color: $light;
              border-radius: 50%;
              margin: 0 auto;
              p {
                font-size: $txt-large;
                font-weight: $txt-bold;
              }
              img {
                height: 8em;
                margin-top: 1em;
              }
            }
          }
        }
      }
      .hanaro-benefit-03 {
        .hanaro-benefit-content {
          .inner-container {
            max-width: 1140px;
          }
        }
        .support-list {
          .row-box {
            + .row-box {
              margin-top: 4em;
            }
          }
          .icon-box {
            border-radius: 50%;
            background-color: $light;
            max-width: 12.5em;
            margin: 0 auto;
          }
          h4 {
            color: $black;
            font-size: $txt-big;
            font-weight: $txt-bold;
          }
          .u-list {
            font-size: $txt-large;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1199px) {
    #hanaro {
      .section-header {
        .summary-box {
          border-radius: 0;
          width: auto;
          height: auto;
        }
      }

      .section-content {
        .hanaro-benefit-box {
          + .hanaro-benefit-box {
            margin-top: 2.5em;
          }
          .hanaro-benefit-title {
            h4 {
              font-size: $txt-large;
              span {
                font-size: $txt-medium;
              }
            }
          }
        }
        .hanaro-benefit-01 {
          .icon-box {
            max-width: 8em;
          }
        }
        .hanaro-benefit-02 {
          .point-list {
            .point-box {
              display: block;
              .point-label {
                display: block;
                width: auto;
                height: auto;
                text-align: center;
                padding: 0.5em 0;
                border-radius: 0;
                margin: 0;
              }
              p {
                text-align: center;
                margin-top: 0.5em;
                font-size: $txt-mlarge;
                span {
                  display: block;
                  font-size: $txt-medium;
                }
              }
            }
          }
          .extra-benefit-list {
            .extra-benefit-box {
              .icon-box {
                width: 14em;
                height: 14em;
                img {
                  height: 5em;
                  margin-top: 0.5em;
                }
                p {
                  font-size: $txt-mlarge;
                }
              }
            }
          }
        }
        .hanaro-benefit-03 {
          .support-list {
            .icon-box {
              max-width: 8em !important;
            }
            h4 {
              font-size: $txt-large;
            }
            .u-list {
              font-size: $txt-mlarge;
            }
          }
        }
      }
    }
  }
}
</style>
