<template>
  <ErrorPage title="브라우저 미지원">
    <template v-slot:imgArea>
      <img src="@/assets/svg/common/notsupport_character.svg" alt />
    </template>
    <template v-slot:txtArea>
      <div class="txt-box">
        <p class="txt-black">
          현재 익스플로러 브라우저를 지원하지 않습니다.
          <br />다른 브라우저를 이용해주세요.
        </p>
      </div>
      <div class="img-box">
        <img src="@/assets/images/common/browser_support.png" class="w-25" />
      </div>
    </template>
  </ErrorPage>
</template>
<script>
import ErrorPage from '@/components/UI/System/ErrorPage';
export default {
  layout: 'empty',
  components: {
    ErrorPage,
  },
};
</script>
