<template>
  <main id="articles" class="main-wrapper">
    <article class="main-article">
      <section class="article-section">
        <div class="inner-container">
          <header class="section-header txt-center">
            <h3>나누다키친 언론소식</h3>
          </header>
          <div class="section-content">
            <ArticleList take="20" />
          </div>
        </div>
      </section>
    </article>
  </main>
</template>
<script>
import ArticleList from '@/components/Articles/ArticleList';
export default {
  components: {
    ArticleList,
  },
};
</script>
