<template>
  <div>
    <v-row>
      <v-col cols="12" md="6" lg="4">
        <CardWithTitle title="사용자 추가하기">
          <v-form ref="form" v-model="valid">
            <v-text-field
              v-model="userName"
              label="이름"
              :rules="[required, noSpace]"
              autofocus
            ></v-text-field>
            <v-text-field
              v-model="phoneNumber"
              :rules="[required, number, length(phoneNumber, 11)]"
              label="휴대폰 번호"
            ></v-text-field>
            <v-text-field
              v-model="password"
              :rules="[required, min(password, 4)]"
              label="비밀번호"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show ? 'text' : 'password'"
              @click:append="show = !show"
              @keyup.enter="save"
            ></v-text-field>
            <div class="mt-4 text-right">
              <v-btn
                color="orange"
                :disabled="!valid"
                @click="save"
                :light="valid"
                >저장하기</v-btn
              >
            </div>
          </v-form>
        </CardWithTitle>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { validations } from '@/assets/mixins/validations';

export default {
  layout: 'admin',
  mixins: [validations],
  data() {
    return {
      show: false,
      valid: false,
      userName: '',
      phoneNumber: '',
      password: '',
    };
  },
  methods: {
    save() {
      return this.$axios
        .$post('/userManagerAdmin', {
          PHONE: this.phoneNumber,
          NAME: this.userName,
          PASSWORD: this.password,
        })
        .then((res) => {
          this.$router.push('/admin/managers');
        })
        .catch((e) => console.log(e));
    },
  },
  deactivated() {
    this.$destroy();
  },
};
</script>

<style></style>
