<template>
  <main id="restaurantKitchen" class="main-wrapper">
    <header class="main-header is-blind">
      <h1>식당형 공유식당</h1>
    </header>
    <article class="main-article">
      <header class="article-header txt-left">
        <div class="inner-container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="title-box">
                <h2>
                  요식업 창업 도전의 시작은
                  <br />나누다키친에서
                </h2>
                <p>
                  강남, 송파 등 최고 오피스 상권에서 <br />
                  점심전용 식당에 사장님이 되어보세요
                </p>
              </div>
              <div class="mt-8">
                <SearchDeliverySpace
                  dropDownEndpoint="/space/dropdown"
                  mapRoute="restaurant-kitchen-map"
                  addClass="mk_restaurant_search_btn"
                  addClass2="mk_restaurant_found_btn"
                />
                <div class="btn-box mt-2">
                  <router-link to="/restaurant-kitchen/map"
                    ><v-icon color="white" dark>mdi-map-marker</v-icon>
                    <span
                      class="btn-tiny btn-txt txt-white txt-underline txt-bold mk_restaurant_mapfound_btn"
                      >지도로 찾아보기</span
                    ></router-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section
        class="article-section bg-light"
        ref="articleContent"
        id="feature"
      >
        <header class="section-header is-blind">
          <h3>배달형 공유주방 특징</h3>
        </header>
        <div class="section-content">
          <div class="feature-slider">
            <div class="inner-container">
              <div class="row gutter-16">
                <div class="col-12 col-lg-5">
                  <div class="img-box">
                    <img
                      src="@/assets/images/restaurant-kitchen/cooking_serving.gif"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-12 col-lg-7">
                  <div class="content-box txt-center txt-lg-left">
                    <div class="title-box">
                      <h4 class="txt-black">
                        <strong class="txt-primary">점심장사</strong>에
                        최적화된<br />
                        공유주방을
                        <strong class="txt-primary">나누다키친</strong>에서
                      </h4>
                    </div>
                    <div class="txt-box">
                      <p>
                        서울,경기 등 핵심 상권 지역에서 요식업 창업이
                        가능합니다.
                        <br />
                        기존 음식점의 낮시간대를 이용해 권리금, 인테리어비,
                        <br />
                        보증금 추가 비용 없이 최고의 오피스 상권에서 점심장사를
                        하고 수익을 올려보세요.
                      </p>
                    </div>
                    <div class="btn-box mt-8">
                      <router-link
                        to="/restaurant-kitchen/map"
                        class="btn btn-primary w-30 mk_restaurant_sharefound_btn"
                        >공유주방 찾아보기</router-link
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div v-swiper:feature="featureOption">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="slide-box">
                      <div class="row gutter-16">
                        <div class="col-12 col-lg-5">
                          <div class="img-box">
                            <img
                              src="@/assets/images/restaurant-kitchen/cooking_serving.png"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="col-12 col-lg-7">
                          <div class="content-box">
                            <div class="title-box">
                              <h4>
                                <strong class="txt-primary"
                                  >오피스 상권 점심장사</strong
                                >에 최적화된<br />
                                공유주방을
                                <strong class="txt-primary">나누다키친</strong
                                >에서
                              </h4>
                            </div>
                            <div class="txt-box">
                              <p>
                                서울,경기 등 핵심 상권 지역에서 요식업 창업이
                                가능합니다
                                <br />
                                기존 음식점의 낮시간대를 이용해 권리금,
                                인테리어비, 보증금 추가 비용 없이 1,000만원대로
                                최고의 오피스 상권에서 점심장사를 하고 수익을
                                올려보세요
                              </p>
                            </div>
                            <div class="btn-box mt-8">
                              <router-link
                                to="/restaurant-kitchen/map"
                                class="btn btn-primary"
                                >공유주방 찾아보기</router-link
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slide-box">
                      <div class="row gutter-16">
                        <div class="col-12 col-lg-5">
                          <div class="img-box">
                            <img
                              src="@/assets/images/delivery-kitchen/delivery_kitchen.gif"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="col-12 col-lg-7">
                          <div class="content-box">
                            <div class="title-box">
                              <h4>
                                음식에만
                                <strong class="txt-primary">집중</strong>하세요
                                <br />
                                <strong class="txt-primary"
                                  >배달 전문 창업</strong
                                >을 빨리 시작할 수<br />
                                있도록 준비 시켜드립니다
                              </h4>
                            </div>
                            <div class="txt-box">
                              <p>
                                음식에만 집중할 수 있도록 배달 전문 창업에 꼭
                                필요한 서비스와 <br />
                                최적의 공간을 제공하고 창업 준비를<br />
                                시켜드릴 수 있도록 상담을 진행하고 있습니다.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slide-box">
                      <div class="row gutter-16">
                        <div class="col-12 col-lg-5">
                          <div class="img-box">
                            <img
                              src="@/assets/images/delivery-kitchen/ani_graph.gif"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="col-12 col-lg-7">
                          <div class="content-box">
                            <div class="title-box">
                              <h4>
                                적절한 위치에서 창업할 수 있도록 <br />
                                <strong class="txt-primary">데이터</strong>를
                                통해
                                <br />
                                공유주방을 찾아드립니다
                              </h4>
                            </div>
                            <div class="txt-box">
                              <p>
                                어디서 배달 전문 창업을 창업할지 고민을 할 필요
                                없이 <br />나누다키친에서는 창업에 최적화 된
                                공간들을 쉽게 검색할 수 있고 <br />입점할 수
                                있도록 도와드리겠습니다.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                페이징
                <div class="swiper-pagination"></div>
              </div>
              네비게이션 버튼 
              <NButton size="large" icon circle class="swiper-button-prev">
                <i class="txt-black icon icon-arrow-angle-left txt-bold"></i>
                <span class="is-blind">이전으로</span>
              </NButton>
              <NButton size="large" icon circle class="swiper-button-next">
                <i class="txt-black icon icon-arrow-angle-right txt-bold"></i>
                <span class="is-blind">다음으로</span>
              </NButton> -->
            </div>
          </div>
        </div>
      </section>
      <section class="article-section">
        <div id="bestKitchen"></div>
        <div class="inner-container">
          <header class="section-header txt-center">
            <h3>이달의 <strong class="txt-primary">인기 공유주방</strong></h3>
            <!-- <p>
              총
              <strong class="txt-primary">{{ restaurantSpacesCount }}</strong>
              개의 공간
            </p> -->
          </header>
          <div class="section-content">
            <SpaceList
              :spaces="restaurantBestSpaces"
              addClass="mk_restaurant_bestkitchen_btn"
            />
          </div>
        </div>
      </section>
      <section class="article-section bg-light" v-if="brands.length > 0">
        <div class="inner-container">
          <header class="section-header">
            <h3>
              점심시간에 누구나 좋아할 메뉴들을 만나 보고 <br />
              식당을 차려보세요
            </h3>
            <p class="h3_desc">
              나누다키친이 개발한 점심장사에 특화된 메뉴를 소개해드립니다.
              <br />간단한 레시피로 손쉽게 요리하고 빠른 제공이 가능합니다.<br />
              혹시 도전해보고싶은 예비 창업자분의 레시피가 있나요? <br />
              <button
                class="btn-txt txt-primary txt-underline mk_restaurant_recipestart_btn"
                @click="showMyBrandModal = true"
              >
                나만의 레시피로도 창업할 수 있습니다
              </button>
            </p>
          </header>
          <div class="section-content">
            <BrandSlider :brands="brands" />
          </div>
        </div>
      </section>
      <section
        class="article-section txt-center overlay-dark"
        id="middleBanner"
      >
        <div class="inner-container">
          <div class="title-box txt-white">
            <h4>
              <strong>식당 공유주방 창업</strong>에 대해 <br />
              좀 더 알고 싶으신가요?
            </h4>
          </div>
          <div class="txt-box txt-white">
            <p class="txt-small">
              요식업 창업의 첫 도전을 식당 공유주방으로 실현해보세요<br />
              맞춤 컨설팅이 필요하다면 <br />나누다키친이 친절하게
              상담해드리겠습니다
            </p>
          </div>
          <div class="btn-box">
            <NButton
              color="primary"
              @click="toFormPage(1)"
              class="w-30 mk_restaurant_apply_btn"
              >입점 문의하기</NButton
            >
          </div>
        </div>
      </section>
    </article>
    <!-- 마이 브랜드 모달 -->
    <Modal
      noBtn="닫기"
      :visible="showMyBrandModal"
      @close="showMyBrandModal = false"
    >
      <div class="txt-center">
        <p>
          나만의 특별한 레시피로 창업할 수 있도록 상권선정과 운영노하우를 상담해
          드립니다.
        </p>
        <br />
        <NButton
          color="primary"
          block
          @click="toFormPage(1)"
          class="mk_restaurant_recipe_apply_btn"
          >창업 문의하기</NButton
        >
      </div>
    </Modal>
  </main>
</template>
<script>
import SpaceList from '@/components/Main/SpaceList'; // 공간 리스트
import BrandSlider from '@/components/Brands/BrandSlider';
import SearchDeliverySpace from '@/components/DeliveryKitchen/SearchDeliverySpace';
import { brandInfo } from '@/assets/mixins/brandInfo';
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤 이베트
export default {
  mixins: [brandInfo, infoAppRequest, handleScroll],
  components: {
    BrandSlider,
    SearchDeliverySpace,
    SpaceList,
  },
  head() {
    return {
      titie: '나누다키친 식당 공유주방 창업',
      meta: [
        {
          hid: 'og:title',
          name: 'og:title',
          property: 'og:title',
          content: '나누다키친 식당 공유주방 창업',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          property: 'og:url',
          content: 'https://nanudakitchen.com/restaurant-kitchen',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          property: 'og:description',
          content:
            '요식업 창업 도전의 시작은 나누다키친에서 강남, 송파 등 최고 오피스 상권에서 점심전용 식당에 사장님이 되어보세요',
        },
        {
          hid: 'og:image',
          name: 'og:image',
          property: 'og:image',
          content: '/meta_delivery.png',
        },
      ],
    };
  },
  data() {
    return {
      moreRead: false,
      showMyBrandModal: false,
      featureOption: {
        loop: true,
        autoHeight: true,
        slidesPerView: 1,
        centeredSlides: true,
        freeMode: false,
        spaceBetween: 0,
        grabCursor: true,
        navigation: {
          nextEl: '.swiper-button-next ',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
    };
  },
  async asyncData(context) {
    let brands = await context.$axios.$get('/brand/spaceType/1');
    let media = await context.$axios.$get('/homePageMedia/youtube');
    let bestSpaces = await context.$axios.$get('/bestSpace/restaurantKitchen');
    let restaurantSpacesCount = await context.$axios.$get('/space/getCount');
    return {
      brands: brands.rows,
      media: media,
      restaurantBestSpaces: bestSpaces,
      restaurantSpacesCount: restaurantSpacesCount,
    };
  },
  methods: {
    scrollFunc() {
      // 스크롤 이벤트
      this.appVisitFixed();
    },
  },
  mounted() {
    this.$nextTick(() => {
      const el = document.getElementById(this.$route.hash);
      el && el.scrollIntoView();
    });
  },
};
</script>
<style lang="scss" scoped>
#restaurantKitchen {
  #bestKitchen {
    position: absolute;
    top: -6rem;
    height: 6rem;
  }
  .main-article {
    .article-header {
      position: relative;
      padding: 8em 0 4.5em;
      background-image: url('~assets/images/restaurant-kitchen/bg_top_visual.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      text-align: center;
      z-index: 2;
      @include darkOverlay();
      .inner-container {
        .title-box {
          h2 {
            font-weight: $txt-bold;
            color: $white;
          }
          p {
            margin-top: 0.8em;
            color: $white;
          }
        }
      }
    }

    .feature-slider {
      .inner-container {
        position: relative;
      }
      .img-box {
        text-align: center;
        // img {
        //   // max-height: 12em;
        // }
      }
      .content-box {
        h4 {
          color: $black;
        }
        p {
          font-size: $txt-small;
        }
      }
      .swiper-slide {
        .row {
          flex-direction: row-reverse;
        }
      }
      .swiper-button-prev {
        left: -2.5em;
      }
      .swiper-button-next {
        right: -2.5em;
      }
      .swiper-pagination {
        position: static;
        margin-top: 1em;
      }
    }
  }
  .media-box {
    position: relative;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  #middleBanner {
    background: url('~assets/images/delivery-kitchen/bg_inquiry_banner.jpg')
      no-repeat center center;
    background-size: cover;
    .inner-container {
      position: relative;
      z-index: 2;
    }
  }
  @media screen and (min-width: 1024px) {
    .feature-slider {
      padding: 0 3em;
    }
  }
}
</style>
