<template>
  <CommonTable
    :headers="headers"
    :items="consults"
    page="space-meetings"
    addBtn="방문 상담"
  />
</template>
<script>
import CommonTable from '@/components/Admin/CommonTable';
import { eazyReadHopeTime } from '@/assets/mixins/admin/eazyReadHopeTime';
export default {
  components: { CommonTable },
  mixins: [eazyReadHopeTime],
  layout: 'admin',
  data() {
    return {
      headers: [
        {
          text: 'UID',
          align: 'left',
          sortable: false,
          value: 'NO',
        },
        {
          text: 'STATUS',
          value: 'CODE_MANAGEMENT.VALUE',
          sortable: false,
          align: 'center',
        },
        {
          text: '공간타입',
          align: 'center',
          sortable: true,
          value: 'SPACE.SPACE_TYPE.DISPLAY_NAME',
        },
        {
          text: '사용자 핸드폰 번호',
          value: 'NANUDA_USER.PHONE',
          sortable: false,
        },
        { text: '사용자 이름', value: 'NANUDA_USER.NAME', sortable: false },
        { text: '공간 매장명', value: 'SPACE.NAME', sortable: false },
        { text: '공간 주소', value: 'SPACE.ADDRESS', sortable: false },
        { text: '통화 가능 시간', value: 'HOPE_TIME', sortable: false },
        // {
        //   text: "확정 상담 날짜",
        //   value: "CONFIRM_DATE",
        //   sortable: false
        // },
        {
          text: '담당자',
          align: 'center',
          sortable: true,
          value: 'ADMIN_USER.NAME',
        },
        {
          text: '생성일',
          value: 'createdAt',
          sortable: false,
          align: 'center',
        },
      ],
    };
  },
  asyncData(context) {
    //user data 가져오기
    context.loading = true;
    return context.$axios
      .$get('/visitConAdmin')
      .then((result) => {
        context.loading = false;
        return { res: result };
      })
      .catch((e) => console.log(e));
  },
  computed: {
    //상담희망시간 리포멧
    consults() {
      let reformmattedRes = [];
      this.res.forEach((e) => {
        e.HOPE_TIME = this.eazyReadHopeTime(e.HOPE_TIME);
        reformmattedRes.push(e);
      });
      return reformmattedRes;
    },
  },
  activated() {
    return this.$axios
      .$get('/visitConAdmin')
      .then((result) => {
        this.res = result;
      })
      .catch((e) => console.log(e));
  },
};
</script>

<style lang="scss"></style>
