@font-face {
  font-family: 'nanuda';
  src: url('~assets/fonts/nanuda.eot?f0xb7e');
  src: url('~assets/fonts/nanuda.eot?f0xb7e#iefix') format('embedded-opentype'),
    url('~assets/fonts/nanuda.ttf?f0xb7e') format('truetype'),
    url('~assets/fonts/nanuda.woff?f0xb7e') format('woff'),
    url('~assets/fonts/nanuda.svg?f0xb7e#nanuda') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@mixin iconfont {
  font-family: 'nanuda' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i,
[class*='icon'] {
  /* use !important to prevent issues with browser extensions that change fonts */

  @include iconfont();
  &.txt-bold {
    font-weight: bold;
  }
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nanuda' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nanuda' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-filter:before {
  content: '\e96d';
}
.icon-arrow-angle-more:before {
  content: '\e96c';
}
.icon-share:before {
  content: '\e969';
}
.icon-heart-fill:before {
  content: '\e96a';
}
.icon-heart:before {
  content: '\e96b';
}
.icon-sort:before {
  content: '\e91d';
}
.icon-search:before {
  content: '\e920';
}
.icon-home:before {
  content: '\e950';
}
.icon-pencil:before {
  content: '\e951';
}
.icon-building-add:before {
  content: '\e94e';
}
.icon-camera:before {
  content: '\e94f';
}
.icon-handshake:before {
  content: '\e952';
}
.icon-arrow-angle-down:before {
  content: '\e924';
}
.icon-arrow-angle-left:before {
  content: '\e926';
}
.icon-arrow-angle-right:before {
  content: '\e927';
}
.icon-arrow-angle-up:before {
  content: '\e930';
}
.icon-arrow-left:before {
  content: '\e932';
}
.icon-arrow-right:before {
  content: '\e936';
}
.icon-arrow-triangle-down:before {
  content: '\e93a';
}
.icon-arrow-triangle-up:before {
  content: '\e941';
}
.icon-check:before {
  content: '\e943';
}
.icon-close:before {
  content: '\e95a';
}
.icon-info-building:before {
  content: '\e95b';
}
.icon-info-bus:before {
  content: '\e95c';
}
.icon-info-calendar:before {
  content: '\e95d';
}
.icon-info-car:before {
  content: '\e95e';
}
.icon-info-card:before {
  content: '\e95f';
}
.icon-info-car-opening:before {
  content: '\e960';
}
.icon-info-cash:before {
  content: '\e961';
}
.icon-info-cellphone:before {
  content: '\e962';
}
.icon-info-chair:before {
  content: '\e91a';
}
.icon-info-confirm:before {
  content: '\e91b';
}
.icon-info-consulting:before {
  content: '\e91c';
}
.icon-info-deafening:before {
  content: '\e91e';
}
.icon-info-dirtfloor:before {
  content: '\e91f';
}
.icon-info-door:before {
  content: '\e921';
}
.icon-info-electric:before {
  content: '\e922';
}
.icon-info-email:before {
  content: '\e923';
}
.icon-info-floor:before {
  content: '\e925';
}
.icon-info-gravelfloor:before {
  content: '\e928';
}
.icon-info-guide:before {
  content: '\e929';
}
.icon-info-hall:before {
  content: '\e92a';
}
.icon-info-heating:before {
  content: '\e92b';
}
.icon-info-inquiry:before {
  content: '\e92c';
}
.icon-info-key:before {
  content: '\e92d';
}
.icon-info-kitchenware:before {
  content: '\e92e';
}
.icon-info-light:before {
  content: '\e92f';
}
.icon-info-mirror:before {
  content: '\e931';
}
.icon-info-people:before {
  content: '\e933';
}
.icon-info-pr:before {
  content: '\e934';
}
.icon-info-pyeong:before {
  content: '\e935';
}
.icon-info-sales:before {
  content: '\e937';
}
.icon-info-seminar:before {
  content: '\e938';
}
.icon-info-shelves:before {
  content: '\e939';
}
.icon-info-shutter:before {
  content: '\e93b';
}
.icon-info-stairs:before {
  content: '\e93c';
}
.icon-info-subway:before {
  content: '\e93d';
}
.icon-info-table:before {
  content: '\e93e';
}
.icon-info-time:before {
  content: '\e93f';
}
.icon-info-toilet:before {
  content: '\e940';
}
.icon-info-watertap:before {
  content: '\e942';
}
.icon-info-won:before {
  content: '\e944';
}
.icon-menu:before {
  content: '\e945';
}
.icon-menu-grid:before {
  content: '\e946';
}
.icon-menu-option:before {
  content: '\e947';
}
.icon-more:before {
  content: '\e948';
}
.icon-refresh:before {
  content: '\e949';
}
.icon-share1:before {
  content: '\e94a';
}
.icon-sns-blog:before {
  content: '\e963';
}
.icon-sns-fbook:before {
  content: '\e964';
}
.icon-sns-insta:before {
  content: '\e965';
}
.icon-sns-kakao:before {
  content: '\e966';
}
.icon-sns-line:before {
  content: '\e967';
}
.icon-sns-clipboard:before {
  content: '\e957';
}
.icon-sns-blog-outline:before {
  content: '\e94b';
}
.icon-sns-fbook-outline:before {
  content: '\e94c';
}
.icon-sns-insta-outline:before {
  content: '\e94d';
}
.icon-sns-kakao-outline:before {
  content: '\e953';
}
.icon-sns-line-outline:before {
  content: '\e968';
}
.icon-trash:before {
  content: '\e954';
}
.icon-zoom-in:before {
  content: '\e955';
}
.icon-zoom-out:before {
  content: '\e956';
}
.icon-register-space:before {
  content: '\e958';
}
.icon-founder-plans:before {
  content: '\e959';
}
.icon-AIR_CONDITIONER:before {
  content: '\e900';
}
.icon-WIFI:before {
  content: '\e919';
}
.icon-BENCH:before {
  content: '\e901';
}
.icon-FREEZER:before {
  content: '\e905';
}
.icon-FIREBALL:before {
  content: '\e903';
}
.icon-CONFERENCE_ROOM:before {
  content: '\e902';
}
.icon-FRYER:before {
  content: '\e906';
}
.icon-FOUR_DOOR_FREEZER:before {
  content: '\e904';
}
.icon-GEN_RES:before {
  content: '\e907';
}
.icon-HOOD_DUCT:before {
  content: '\e908';
}
.icon-LOCKER_ROOM:before {
  content: '\e90a';
}
.icon-ICEMAKER:before {
  content: '\e909';
}
.icon-PARKING:before {
  content: '\e90b';
}
.icon-QUARANTINE:before {
  content: '\e90c';
}
.icon-REFRIGERATOR:before {
  content: '\e90d';
}
.icon-RESTING_AREA:before {
  content: '\e90e';
}
.icon-SHOWCASE:before {
  content: '\e90f';
}
.icon-SHOWER:before {
  content: '\e910';
}
.icon-STORAGE:before {
  content: '\e912';
}
.icon-SINK:before {
  content: '\e911';
}
.icon-TOPPING_FRIDGE:before {
  content: '\e914';
}
.icon-TABLE_FRIDGE:before {
  content: '\e913';
}
.icon-TRENCH:before {
  content: '\e915';
}
.icon-WASHER:before {
  content: '\e917';
}
.icon-WATER_PURIFIER:before {
  content: '\e918';
}
.icon-TWO_DOOR_FREEZER:before {
  content: '\e916';
}

.icon-HOT_WATER:before {
  content: '\e96e';
}
