@charset "utf-8";

html {
  font-display: 'swap';
  font-family: 'Gotham', 'SpoqaHanSansNeo', 'Apple SD Gothic Neo',
    'Malgun Gothic', '맑은고딕', 'Dotum', '돋움';
  letter-spacing: -0.04em;
  font-size: 10px !important;
  color: $gray-900;
  word-break: keep-all;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  /* text-rendering: optimizeLegibility; 크롬에서 줄 바뀜 문제 발생으로 주석 처리*/
  /* -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.2); */
}

body {
  font-size: $txt-medium;
  color: $gray-500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.4;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

code,
pre,
mark {
  font-size: $txt-small;
}

.gotham {
  font-family: 'Gotham', sans-serif;
}

.yoongothic {
  font-family: 'YoonGothic', sans-serif;
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBook.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBook.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBook.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 600;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamMedium.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamMedium.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamMedium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 800;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBold.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBold.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 400;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Regular.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Regular.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 600;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Medium.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Medium.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Medium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 800;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Bold.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Bold.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Bold.ttf')
      format('truetype');
}
