<template>
  <main class="main-wrapper" id="brands">
    <article class="main-article">
      <header class="article-header txt-center">
        <div class="inner-container">
          <h2 class="txt-white">브랜드 소개</h2>
          <p class="h2_desc txt-white mt-2">
            나누다키친과 함께하는 브랜드를 알아보세요
          </p>
        </div>
      </header>
      <div class="article-content">
        <div class="article-section">
          <div class="inner-container">
            <div v-if="brands.length > 0" class="brand-list mt-4">
              <div class="row gutter-8">
                <div
                  class="col-4 col-lg-3"
                  v-for="brand in brands"
                  :key="brand.NO"
                >
                  <div
                    class="img-box mk_brand_img_btn lazy-preload mk_brands_brandinfo_btn"
                    @click="showBrandInfo(brand.NO)"
                  >
                    <!-- 추천 뱃지 -->
                    <Badge
                      size="mini"
                      color="red"
                      text="인기"
                      v-if="brand.IS_RECOMMENDED_YN === 'Y'"
                    />
                    <!-- // -->
                    <img
                      v-lazy="brand.LOGO[0].endpoint"
                      :alt="brand.NAME_KR"
                      v-if="brand.LOGO && brand.LOGO.length > 0"
                      class="thumb-img mk_brands_brandinfo_btn"
                    />
                    <img
                      v-lazy="require('@/assets/images/common/no_img.png')"
                      class="thumb-img mk_brands_brandinfo_btn"
                      v-else
                    />
                  </div>
                </div>
              </div>
              <div class="btn-box">
                <NButton
                  color="primary"
                  size="medium"
                  block
                  @click="moreBrandView"
                  class="mk_brands_more_btn"
                  v-if="totalCount > brands.length"
                  >더 보기</NButton
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 브랜드 상세 모달 레이어 -->
      <BrandModal
        :visible="showBrandModal"
        @close="closeBrandModal"
        :brandInfo="brandInfo"
        :menuInfo="menuInfo"
      />
    </article>
  </main>
</template>
<script>
import { brandInfo } from '@/assets/mixins/brandInfo';
export default {
  mixins: [brandInfo],
  data() {
    return {
      skip: 0,
      limit: 12,
      brands: [],
      totalCount: 0,
    };
  },
  methods: {
    moreBrandView() {
      this.$axios
        .$get('/brand', {
          params: {
            limit: this.limit,
            skip: this.skip,
          },
        })
        .then((res) => {
          this.skip += 1;
          let moreBrands = res.rows;
          this.totalCount = res.count;
          this.brands = this.brands.concat(moreBrands);
          return this.skip;
        });
    },
  },
  created() {
    this.moreBrandView();
  },
};
</script>
<style lang="scss">
#brands {
  .main-article {
    .article-header {
      padding: 5em 0;
      background-color: $light;
      background-image: url('~assets/images/brands/bg_top_visual.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      .inner-container {
        position: relative;
      }
      @include darkOverlay();
    }
    .food-category-list {
      background-color: #faf8f5;
      padding: 2em 0;
      cursor: pointer;

      ul {
        display: flex;
        .food-category-list-item {
          width: 20%;
          text-align: center;
          .icon-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.625em;
            height: 3.625em;
            margin: 0 auto;

            img {
              max-height: 100%;
            }
          }
          .txt-box {
            margin-top: 0;
            p {
              font-size: $txt-small;
              font-weight: $txt-bold;
              color: $black;
            }
          }
        }
      }
    }
  }
  .brand-list {
    .img-box {
      position: relative;
      padding-bottom: 54.83%;
      border: 1px solid $border-color;
      cursor: pointer;
      border-radius: 0;

      .badge {
        position: absolute;
        right: -1px;
        top: -1px;
        z-index: 1;
      }

      img {
        background-color: $white;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .main-article {
      .article-header {
        padding: 10em 0;
      }
    }
  }
}
</style>
