<template>
  <main class="main-wrapper search-space-wrapper">
    <article class="main-article">
      <div class="nav-content-wrapper">
        <div class="nav-tab-list">
          <router-link to="/restaurant-kitchen/map" class="nav-tab-item"
            >식당형</router-link
          >
          <router-link to="/delivery-kitchen/map" class="nav-tab-item"
            >배달형</router-link
          >
        </div>
        <div class="filter-bar">
          <NButton
            icon
            size="small"
            class="btn-search"
            :class="{ 'is-active': isSearchLayerVisible }"
            @click="onSearchLayerOpen()"
          >
            <i class="icon icon-search"></i>
            <span>검색</span>
          </NButton>
          <NButton
            icon
            size="small"
            class="btn-filter"
            :class="{ 'is-active': isFilterLayerVisible }"
            @click="onFilterLayerOpen()"
          >
            <i class="icon icon-filter"></i>
            <span>필터</span>
          </NButton>
        </div>
        <div
          class="search-content-wrapper"
          v-show="isSearchLayerVisible || isFilterLayerVisible"
        >
          <div v-show="isSearchLayerVisible && !isFilterLayerVisible">
            <SearchDeliverySpaceFull
              :show="true"
              @canceled="isShowSearchPage = false"
              @centerChanged="onCenterChanged"
              dropDownEndpoint="/companyDistrict/dropdown"
              mapRoute="delivery-kitchen-map"
            />
          </div>
          <div v-show="isFilterLayerVisible && !isSearchLayerVisible">
            <!-- TODO:  추후 컴포넌트 화 -->
            <div class="filter-wrapper">
              <section class="filter-section">
                <div class="filter-title">
                  <h1>주방시설</h1>
                </div>
                <div class="filter-content">
                  <NButton
                    size="mini"
                    class="filter-tab"
                    :class="{ 'is-active': isKitchenApplianceTapOpen }"
                    @click="
                      isKitchenApplianceTapOpen = !isKitchenApplianceTapOpen
                    "
                    ><span class="mr-2">주방시설</span>
                    <v-icon v-if="!isKitchenApplianceTapOpen"
                      >mdi-menu-down</v-icon
                    ><v-icon v-else>mdi-menu-up</v-icon>
                  </NButton>
                  <div v-show="isKitchenApplianceTapOpen" class="filter-layer">
                    <NButton
                      class="filter-item"
                      v-for="item in amenityFilterBtns"
                      :key="item.id"
                      :class="{ 'is-active': amenityFilters.includes(item.id) }"
                      size="tiny"
                      @click="onAmenityFilterClicked(item.id)"
                      >{{ item.name }}</NButton
                    >
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="map-content-wrapper" :class="{ 'is-collapsed': isCollapsed }">
        <div class="map-area-wrapper">
          <client-only>
            <vue-daum-map
              :appKey="appKey"
              :center="coords"
              :level.sync="level"
              :libraries="libraries"
              @load="onDeliveryClustererLoad"
              class="map-area"
            />
          </client-only>
        </div>
        <div
          class="space-area-wrapper"
          :class="{ 'is-fixed': isSpaceListfixed }"
          v-if="bottomSpaceListCount > 0 || bottomSpaceLoading"
        >
          <span class="scroll-up">
            <i class="icon icon-arrow-angle-up"></i>
          </span>
          <div class="space-list-title is-fixed">
            <span class="txt-white txt-small">
              검색 결과
              <strong class="txt-bold txt-primary">{{
                bottomSpaceListCount
              }}</strong>
              건
            </span>
          </div>
          <div class="space-list-wrapper" ref="deliverySpaceList">
            <div class="space-list-title">
              <span class="txt-white txt-small">
                검색 결과
                <strong class="txt-bold txt-primary">{{
                  bottomSpaceListCount
                }}</strong>
                건
              </span>
            </div>
            <div class="space-list">
              <div class="txt-center" v-show="bottomSpaceLoading">
                <div class="loader">
                  <img
                    src="@/assets/svg/common/loader.svg"
                    alt="로딩중"
                    style="width: 6em;"
                  />
                </div>
              </div>

              <template
                v-show="bottomSpaceList.length > 0 || bottomSpaceLoading"
              >
                <div
                  class="p-3 mb-4 bg-light rounded-sm txt-tiny txt-center"
                  v-if="
                    bottomSpaceList[0] && bottomSpaceList[0].companyDistrict
                  "
                >
                  <span class="txt-black txt-bold"
                    >{{ bottomSpaceList[0].companyDistrict.region1DepthName }}
                    {{ bottomSpaceList[0].companyDistrict.region2DepthName }}
                    {{
                      bottomSpaceList[0].companyDistrict.region3DepthName
                    }}</span
                  >
                </div>
                <div
                  class="space-list-preview"
                  v-for="item in bottomSpaceList"
                  :key="item.no"
                  :loading="bottomSpaceLoading"
                  @click="$router.push(`/delivery-kitchen/${item.no}`)"
                >
                  <div class="row no-gutters align-items-start">
                    <div class="space-img">
                      <img
                        v-lazy="item.images[0].endpoint"
                        data-loading="@/assets/svg/common/loader.svg"
                        v-if="item.images && item.images.length > 0"
                        class="thumb-img"
                      />
                      <img
                        src="@/assets/images/common/no_img.png"
                        v-else
                        class="thumb-img"
                      />
                    </div>
                    <div class="space-info">
                      <div class="row-box">
                        <h5
                          class="txt-medium txt-bold txt-black"
                          v-if="item.typeName || item.size"
                        >
                          {{ item.companyDistrict.company.nameKr }}
                          {{ item.companyDistrict.nameKr }}
                          {{ item.size }}평
                        </h5>
                      </div>
                      <div class="row-box mt-2">
                        <div
                          v-if="
                            item.deposit || item.monthlyRentFee || item.size
                          "
                        >
                          <div
                            class="d-flex align-items-center mb-1 mr-4"
                            v-if="item.deposit || item.monthlyRentFee"
                          >
                            <i
                              class="icon icon-info-won txt-medium txt-primary"
                            ></i>
                            <span class="txt-black ml-2 is-nowrap">
                              <template
                                v-if="
                                  item.deposit !== '' && item.deposit != '0'
                                "
                              >
                                <span class="txt-medium txt-bolder">{{
                                  item.deposit
                                }}</span>
                                <span class="txt-mini">만원</span>
                              </template>
                              <template v-else>
                                <span class="txt-bold txt-tiny"
                                  >보증금 없음</span
                                >
                              </template>
                              <span class="txt-mini">/</span>
                            </span>
                            <span class="txt-black ml-2 is-nowrap">
                              <template v-if="item.monthlyRentFee">
                                <span class="txt-medium txt-bolder">
                                  {{ item.monthlyRentFee }}
                                </span>
                                <span class="txt-mini">만원</span>
                              </template>
                              <template v-else>
                                <span class="txt-bold txt-tiny">월세 없음</span>
                              </template>
                            </span>
                          </div>
                          <div
                            class="d-flex align-items-center mb-1"
                            v-if="item.size"
                          >
                            <i
                              class="icon icon-info-pyeong txt-medium txt-primary"
                            ></i>
                            <span class="txt-black ml-2 is-nowrap">
                              <span class="txt-medium txt-bolder">
                                {{ item.size }}
                              </span>
                              <span class="txt-mini">평</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row-box mt-2">
                        <div
                          class="d-flex align-items-center justify-content-start"
                        >
                          <div
                            class="d-flex align-items-center"
                            @click.stop="favoriteSpace(item)"
                          >
                            <span>
                              <i
                                class="icon icon-heart-fill txt-bold txt-primary"
                                v-if="item.likedYn"
                              ></i>
                              <i class="icon icon-heart txt-bold" v-else></i>
                            </span>
                            <span class="txt-black txt-small ml-2">{{
                              item.likedCount
                            }}</span>
                          </div>
                          <Badge
                            size="mini"
                            color="primary"
                            text="오픈예정"
                            square
                            v-if="item.isOpenedYn !== 'Y'"
                            class="ml-4"
                          />
                          <Badge
                            v-else-if="
                              item.isOpenedYn === 'Y' && item.remainingCount > 0
                            "
                            color="lightblue"
                            size="mini"
                            :text="`${item.remainingCount} 개 입점가능`"
                            class="ml-4"
                          ></Badge>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div
                  class="btn-box mt-4"
                  ref="moreBtn"
                >
                  <NButton color="outline-primary" size="medium" block @click="moreBtn()">더보기</NButton>
                </div>-->
              </template>
            </div>
          </div>
        </div>
      </div>
    </article>

    <Modal
      yesBtn="로그인하기"
      noBtn="닫기"
      :visible="isVisible"
      @close="goToLogin"
    >
      <div class="txt-box txt-center">
        <p class="txt-small txt-black txt-bold">
          로그인이 필요한 서비스 입니다 <br />로그인 하시겠습니까?
        </p>
      </div>
    </Modal>
  </main>
</template>

<script>
import { kakaoAPIs } from '@/assets/mixins/kakaoAPIs';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤이벤트 , scrollFunc() 함수에 작성
import SearchDeliverySpaceFull from '@/components/DeliveryKitchen/SearchDeliverySpaceFull';
import EmptyHeader from '@/components/Navigation/EmptyHeader';

export default {
  components: { SearchDeliverySpaceFull, EmptyHeader },
  mixins: [kakaoAPIs, handleScroll],
  data() {
    return {
      minLevel: 6,
      bottomSpaceList: [], // mixins kakaoAPIs
      bottomSpaceListCount: 0, // mixins kakaoAPIs
      isShowSearchPage: false,
      isSpaceListfixed: false,
      isVisible: false,
      amenityFilterBtns: [
        { name: '화구', id: '1' },
        { name: '튀김기', id: '3' },
        { name: '쇼케이스/주류 냉장공간', id: '5' },
        { name: '4구 냉장/냉동고', id: '17' },
        { name: '2구 냉장/냉동고', id: '18' },
        { name: '테이블 냉장고', id: '19' },
        { name: '온수기', id: '26' },
      ],
    };
  },
  async asyncData(context) {
    let coords;
    let searchKeyword;
    let spaceNo;
    let level = 7;
    let amenityFilters = [];
    //라우트 좌표 쿼리가 있으면 그 좌표로 센터를 잡음
    if (context.route.query.lat && context.route.query.searchKeyword) {
      coords = {
        lat: context.route.query.lat,
        lng: context.route.query.lon,
      };
      searchKeyword = context.route.query.searchKeyword;
    } //url에 공간번호가 있을시
    else if (context.route.query.spaceNo) {
      let res = await context.$axios.$get('/companyDistrict/getCenter', {
        params: { keyword: '무주' },
      });
      coords = { lat: res.lat, lng: res.lon };
      spaceNo = context.route.query.spaceNo;
    }
    //좌표가 없고 키워드만 있을시
    else if (context.route.query.searchKeyword) {
      let res = await context.$axios.$get('/companyDistrict/getCenter', {
        params: { keyword: context.route.query.searchKeyword },
      });
      coords = { lat: res.lat, lng: res.lon };
      searchKeyword = context.route.query.searchKeyword;
      //둘다 없을 시
    } else {
      let res = await context.$axios.$get('/companyDistrict/getCenter', {
        params: { keyword: '무주' },
      });
      coords = { lat: res.lat, lng: res.lon };
      level = 13;
      // searchKeyword = '무주';
    }
    //선택 시설이 하나일땐  context.route.query.amenityIds이 string 둘 이상일땐 array로 옴
    if (
      context.route.query.amenityIds &&
      Array.isArray(context.route.query.amenityIds)
    ) {
      amenityFilters = context.route.query.amenityIds;
    } else if (context.route.query.amenityIds) {
      amenityFilters.push(context.route.query.amenityIds);
    }
    let deliverySpaces = await context.$axios.$get('/companyDistrict/search', {
      params: { keyword: '', amenityIds: amenityFilters },
    });

    return {
      coords: coords,
      deliverySpaces: [...deliverySpaces.cities],
      searchKeyword: searchKeyword,
      selectedDistrictNo: spaceNo,
      level: level,
      amenityFilters: amenityFilters,
    };
  },
  computed: {
    querys() {
      return {
        searchKeyword: this.searchKeyword,
        spaceNo: this.selectedDistrictNo,
        amenityIds: this.amenityFilters,
      };
    },
  },
  watch: {
    amenityFilters() {
      this.resetDeliverySelection();
      this.getSpaceAndRemarker();
    },
    querys() {
      this.setQuerys();
    },
  },
  methods: {
    onDeliveryClustererLoad(map) {
      //   get custom image
      this.transparentIcon = new kakao.maps.MarkerImage(
        'https://kr.object.ncloudstorage.com/common-nanuda/icon_marker_transparent.png',
        new kakao.maps.Size(39, 50),
      );
      if (this.minLevel) {
        map.setMinLevel(this.minLevel);
      }
      this.map = map;
      this.clusterer = new kakao.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
        minLevel: 9, // 클러스터 할 최소 지도 레벨
        maxLevel: 15,
        texts: getTexts,
        styles: [
          {
            // calculator 각 사이 값 마다 적용될 스타일을 지정한다
            padding: '7px 10px',
            background: '#635dff',
            borderRadius: '25px',
            color: '#fff',
            fontSize: '18px',
            textAlign: 'center',
          },
        ],
      });
      //   customize text field for cluste
      function getTexts(count) {
        return `<span style="font-size: 12px">지점 총 수</span> <br> <b> ${Math.floor(
          count / 2,
        )}</b>개`;
      }
      // //   zoomable control
      // const zoomControl = new kakao.maps.ZoomControl();
      // map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
      // //   sky view control
      // const mapTypeControl = new kakao.maps.MapTypeControl();
      // map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

      const overlays = this.getDeliveryOverlays();
      const markers = this.getDeliveryMarkers();

      //마커, 타입리스트 초기화
      kakao.maps.event.addListener(map, 'idle', () => {
        this.$nextTick(() => {
          map.relayout();
        });
      });
      //마커, 타입리스트 초기화
      kakao.maps.event.addListener(map, 'dragstart', () => {
        this.resetDeliverySelection();
        this.$nextTick(() => {
          map.relayout();
        });
      });
      kakao.maps.event.addListener(map, 'click', () => {
        this.resetDeliverySelection();
        this.$nextTick(() => {
          map.relayout();
        });
      });
      kakao.maps.event.addListener(map, 'zoom_start', () => {
        this.resetDeliverySelection();
      });
      this.clusterer.addMarkers(overlays);
      this.clusterer.addMarkers(markers);
    },
    getDeliveryOverlays() {
      // over hundred
      const overHundred = (count) => {
        if (count > 99) {
          return '99+';
        } else {
          return count;
        }
      };
      const overlays = this.deliverySpaces.map((deliverySpace) => {
        let wholeQuantity = 0;
        deliverySpace.deliverySpaces.map((e) => {
          wholeQuantity += e.quantity - e.contracts.length;
        });
        const overlay = new kakao.maps.CustomOverlay({
          position: new kakao.maps.LatLng(deliverySpace.lat, deliverySpace.lon),
          clickable: false,
          content: `<div id=${
            deliverySpace.no
          } class="marker"><span class="count">${overHundred(
            wholeQuantity,
          )}</span></div>`,
          zIndex: 1,
        });
        if (this.selectedDistrictNo == deliverySpace.no) {
          const overlay = new kakao.maps.CustomOverlay({
            position: new kakao.maps.LatLng(
              deliverySpace.lat,
              deliverySpace.lon,
            ),
            clickable: false,
            content: `<div id=${
              deliverySpace.no
            } class="marker is-active"><span class="count">${overHundred(
              wholeQuantity,
            )}</span></div>`,
            zIndex: 1,
          });
          return overlay;
        }
        return overlay;
      });
      return overlays;
    },
    getDeliveryMarkers() {
      const markers = this.deliverySpaces.map((deliverySpace) => {
        const marker = new kakao.maps.Marker({
          position: new kakao.maps.LatLng(deliverySpace.lat, deliverySpace.lon),
          clickable: true,
          image: this.transparentIcon,
          zIndex: 2,
        });
        kakao.maps.event.addListener(marker, 'click', () => {
          this.changeCollapse(false).then(() => {
            let previousMarkerDom;
            let currentMarkerDom;
            this.map.relayout();
            this.panToCenter(this.map, deliverySpace);
            this.bottomSpaceList = [];
            this.bottomSpaceLoading = true;
            if (this.selectedDistrictNo) {
              previousMarkerDom = document.getElementById(
                this.selectedDistrictNo,
              );
            }
            if (previousMarkerDom) {
              previousMarkerDom.classList.remove('is-active');
            }
            currentMarkerDom = document.getElementById(deliverySpace.no);
            if (currentMarkerDom) {
              currentMarkerDom.classList.add('is-active');
            }
            this.selectedDistrictNo = deliverySpace.no;
            this.$axios
              .$get('/deliverySpace', {
                params: {
                  nanudaUserNo: this.$store.state.userNum,
                  companyDistrictNo: deliverySpace.no,
                  amenityIds: this.amenityFilters,
                },
              })
              .then((res) => {
                this.bottomSpaceLoading = false;
                this.bottomSpaceList = res.items;
                this.bottomSpaceListCount = res.totalCount;
              });
          });
        });
        //url에 선택된 공간no가 있다면 클릭 트리거
        if (this.selectedDistrictNo == deliverySpace.no) {
          kakao.maps.event.trigger(marker, 'click');
        }
        return marker;
      });
      return markers;
    },
    resetDeliverySelection() {
      this.changeCollapse(true).then(() => {
        // 맵 초기화
        if (this.selectedDistrictNo) {
          const selectedMarker = document.getElementById(
            this.selectedDistrictNo,
          );
          selectedMarker.classList.remove('is-active');
        }
        this.bottomSpaceList = [];
        this.bottomSpaceListCount = 0;
        this.isSpaceListfixed = false;
        this.selectedDistrictNo = null;
      });
    },
    getSpaceAndRemarker() {
      this.$axios
        .$get('/companyDistrict/search', {
          params: { keyword: '', amenityIds: this.amenityFilters },
        })
        .then((res) => {
          this.deliverySpaces = res.cities;
          this.clusterer.clear();
          const overlays = this.getDeliveryOverlays();
          const markers = this.getDeliveryMarkers();
          this.clusterer.addMarkers(overlays);
          this.clusterer.addMarkers(markers);
          this.map.relayout();
        });
    },
    scrollFunc() {
      // 스크롤 이벤트
      if (this.bottomSpaceListCount > 0) {
        const target = this.$refs.deliverySpaceList;
        const header = document.getElementById('header').clientHeight;
        if (Math.floor(target.getBoundingClientRect().top) <= header + 6) {
          this.isSpaceListfixed = true;
        } else {
          this.isSpaceListfixed = false;
        }
      }
    },

    onCenterChanged(value) {
      this.coords = value.coords;
      this.searchKeyword = value.searchKeyword;
      this.bottomSpaceList = [];
      this.bottomSpaceListCount = 0;
      this.level = 7;
    },
    onResize() {
      this.isSpaceListfixed = false;
    },
    async favoriteSpace(space) {
      //토큰 유효기간 검사
      await this.$checkTokenExpired();
      if (this.$store.getters.isAuthenticated) {
        if (space.likedYn) {
          // 찜 해제하기
          return this.$axios
            .$delete('/favoriteSpace', {
              params: {
                deliverySpaceNo: space.no,
                spaceTypeNo: '2',
              },
            })
            .then((res) => {
              if (res) {
                space.likedYn = false;
                space.likedCount -= 1;
                space.isLiked = false;
              }
            });
        } else {
          // 찜 하기
          return this.$axios
            .$post('/favoriteSpace', {
              deliverySpaceNo: space.no,
              spaceTypeNo: '2',
            })
            .then((res) => {
              if (res) {
                space.likedYn = true;
                space.likedCount += 1;
                space.isLiked = true;
              }
            });
        }
      } else {
        this.isVisible = true;
      }
    },
    onAmenityFilterClicked(value) {
      if (this.amenityFilters.includes(value)) {
        const i = this.amenityFilters.indexOf(value);
        this.amenityFilters.splice(i, 1);
      } else {
        this.amenityFilters.push(value);
      }
    },
  },
  mounted() {
    window.addEventListener('resize', this.onResize);
  },
  destroyed() {
    window.removeEventListener('resize', this.onResize);
  },
};
</script>

<style lang="scss">
.marker {
  position: relative;
  bottom: 3em;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #635dff;
  padding: 0.65em;
  font-size: $txt-mini;
  border-style: solid;
  border-color: #2e28ff;
  border-width: 2px;
  &:after {
    position: absolute;
    top: 67%;
    left: 50%;
    display: block;
    content: '';
    width: 50%;
    height: 50%;
    margin-left: -25%;
    background-color: #635dff;
    transform: rotate(45deg);
    border: 0;
    border-right-width: inherit;
    border-bottom-width: inherit;
    border-color: inherit;
    border-style: solid;
  }

  &.is-active {
    background-color: #d95050;
    border-color: #c12b2b;
    &:after {
      background-color: #d95050;
      border-color: #c12b2b;
    }
  }

  .count {
    position: relative;
    z-index: 2;
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: $txt-bold;
    background-color: $white;
    border-radius: 50%;
    color: $black;
  }
}
</style>
