<script>
import { Bar, mixins } from 'vue-chartjs';

export default {
  extends: Bar,
  mixins: [mixins.reactiveProp],
  props: ['chartData'],

  computed: {
    theme() {
      return this.$store.state.theme;
    },
    options() {
      return {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false,
        },
        tooltips: {
          // Disable the on-canvas tooltip
          enabled: false,
          mode: 'label',
          callbacks: {
            label: function (tooltipItem, data) {
              var corporation = data.datasets[tooltipItem.datasetIndex].label;
              var value =
                data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
              if (tooltipItem.datasetIndex != data.datasets.length - 1) {
                var result = corporation + ' : 영업안함';
                if (value) {
                  result =
                    corporation +
                    ' : ' +
                    value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
                return result;
              } else {
                var result = corporation + ' : 영업안함';
                if (value) {
                  result =
                    corporation +
                    ' : ' +
                    value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
                return result;
              }
            },
          },
          custom: function (tooltipModel) {
            // Tooltip Element
            var tooltipEl = document.getElementById('chartjs-tooltip');

            // Create element on first render
            if (!tooltipEl) {
              tooltipEl = document.createElement('div');
              tooltipEl.style.background = 'rgba(0,0,0,0.7)';
              tooltipEl.style.color = '#fff';
              tooltipEl.id = 'chartjs-tooltip';
              tooltipEl.innerHTML = '<table></table>';
              document.body.appendChild(tooltipEl);
            }
            //total of value
            let total = 0;
            if (tooltipModel.dataPoints) {
              tooltipModel.dataPoints.map((e) => {
                total += +e.value;
              });
            }

            // Hide if no tooltip
            if (tooltipModel.opacity === 0) {
              tooltipEl.style.opacity = 0;
              return;
            }

            // Set caret Position
            tooltipEl.classList.remove('above', 'below', 'no-transform');
            if (tooltipModel.yAlign) {
              tooltipEl.classList.add(tooltipModel.yAlign);
            } else {
              tooltipEl.classList.add('no-transform');
            }

            function getBody(bodyItem) {
              return bodyItem.lines;
            }

            // Set Text
            if (tooltipModel.body) {
              var titleLines = tooltipModel.title || [];
              var bodyLines = tooltipModel.body.map(getBody);

              var innerHtml = '<thead>';

              titleLines.forEach(function (title) {
                innerHtml += '<tr><th>' + title + '</th></tr>';
              });
              innerHtml += '<tr><th></th><th></th><th></th></tr>';
              innerHtml += '</thead><tbody>';
              // tooltip 을 3줄로 보이게하기 위해 원래 어레이를 3개 묶음으로 자름
              let i,
                j,
                temparray,
                chunk = 3;
              for (i = 0, j = bodyLines.length; i < j; i += chunk) {
                temparray = bodyLines.slice(i, i + chunk);
                let tempSpanBody = '';
                temparray.forEach((body, k) => {
                  var colors = tooltipModel.labelColors[i + k];
                  var style = 'background:' + colors.backgroundColor;
                  style += '; border: 1px solid black';
                  var span =
                    '<span style="' + style + '">&nbsp&nbsp&nbsp&nbsp;</span>';
                  tempSpanBody += `<td>${span} ${body} </td>`;
                });
                innerHtml += '<tr>' + tempSpanBody + '</tr>';
              }
              innerHtml += '</tbody>';
              innerHtml += `<tfoot><tr><td>TOTAL : ${total
                .toString()
                .replace(/\B(?=(\d{3})+(?!\d))/g, ',')} </td></tr></tfoot>`;
              var tableRoot = tooltipEl.querySelector('table');
              tableRoot.innerHTML = innerHtml;
            }

            // `this` will be the overall tooltip
            var position = this._chart.canvas.getBoundingClientRect();

            // Display, position, and set styles for font
            tooltipEl.style.opacity = 1;
            tooltipEl.style.position = 'absolute';
            tooltipEl.style.left =
              position.left +
              window.pageXOffset +
              tooltipModel.caretX -
              500 +
              'px';
            tooltipEl.style.top =
              position.top +
              window.pageYOffset +
              tooltipModel.caretY -
              300 +
              'px';
            tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
            tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
            tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
            tooltipEl.style.padding =
              tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
            tooltipEl.style.pointerEvents = 'none';
          },
        },
        scales: {
          xAxes: [
            {
              barPercentage: 1,
              categoryPercentage: this.$vuetify.breakpoint.lgAndUp ? 0.6 : 0.4,
              stacked: true,
              gridLines: {
                color: this.theme == 'dark' ? '#4d4d4d' : '#ededed',
              },
              ticks: {
                fontColor: this.theme == 'dark' ? '#fff' : 'black',
              },
            },
          ],
          yAxes: [
            {
              stacked: true,
              gridLines: {
                color: this.theme == 'dark' ? '#4d4d4d' : '#ededed',
              },
              ticks: {
                fontColor: this.theme == 'dark' ? '#fff' : 'black',
              },
            },
          ],
        },
      };
    },
  },
  mounted() {
    this.renderChart(this.chartData, this.options);
  },
  watch: {
    options() {
      this.renderChart(this.chartData, this.options);
    },
  },
};
</script>

<style></style>
