<template>
  <main class="main-wrapper">
    <EmptyHeader border title="실증특례 이용자고지">
      <template v-slot:leftArea>
        <CloseButton @click="$router.push('/')" />
      </template>
    </EmptyHeader>
    <article class="main-article">
      <div class="article-section">
        <UserNotice />
      </div>
    </article>
  </main>
</template>
<script>
import UserNotice from '@/components/Agreement/UserNotice';
export default {
  layout: 'empty',
  components: {
    UserNotice,
  },
};
</script>
