<template>
  <main id="startYourBusiness" class="main-wrapper">
    <header class="main-header is-blind">
      <h1>나누다키친 창업 설명회</h1>
    </header>
    <article class="main-article">
      <section class="article-section py-0 main-top-banner">
        <div
          v-if="event.image && event.image.length > 0"
          class="d-none d-lg-block"
        >
          <div v-swiper:mainTopBanner="mainTopBannerOption">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide"
                v-for="image in event.image"
                :key="image.endpoint"
              >
                <img v-lazy="image.endpoint" class="d-block" width="100%" />
              </div>
              <!-- 페이징 -->
              <div
                class="swiper-pagination"
                v-if="event.image.length > 1"
              ></div>
            </div>
          </div>
        </div>
        <!-- <div
          v-if="event.mobileImage && event.mobileImage.length > 0"
          class="d-block d-lg-none txt-center"
        >
          <div v-swiper:mainTopMobileBanner="mainTopBannerOption">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  v-lazy="event.mobileImage[0].endpoint"
                  class="d-block"
                  width="100%"
                />
              </div>
            </div>
            <div
              class="swiper-pagination"
              v-if="event.mobileImage.length > 1"
            ></div>
          </div>
        </div> -->
      </section>
      <div :style="`height:${formHeight}px`" class="bg-gray-900">
        <section
          class="article-section bg-gray-900 py-6"
          id="registerTopForm"
          :class="{ 'is-fixed': isScrolled }"
          ref="registerTopForm"
        >
          <div class="px-6">
            <div v-if="event.isEnded !== 'Y'">
              <template v-if="!formComplete">
                <div class="form-wrapper">
                  <div class="title-box">
                    <h4 class="txt-medium txt-bold txt-light">
                      창업 설명회 신청
                    </h4>
                  </div>
                  <div class="row align-items-center gutter-16">
                    <div class="col col-12 col-lg-6 col-xl-5">
                      <div class="row gutter-16">
                        <div class="col col-12 col-sm-6 col-xl-6">
                          <FormGroup>
                            <FormLabel for="topName">이름</FormLabel>
                            <FormControl>
                              <InputGroup>
                                <InputField
                                  ref="name"
                                  type="text"
                                  id="topName"
                                  placeholder="이름을 입력해주세요"
                                  v-model="$v.userName.$model"
                                  add-class="mk_event_topname_btn"
                                />
                              </InputGroup>
                            </FormControl>
                          </FormGroup>
                        </div>
                        <div class="col col-12 col-sm-6 col-xl-6">
                          <FormGroup>
                            <FormLabel for="topCellPhone">연락처</FormLabel>
                            <FormControl>
                              <InputGroup>
                                <InputField
                                  type="tel"
                                  placeholder="-없이 입력해주세요"
                                  id="topCellPhone"
                                  v-model="$v.phoneNumber.$model"
                                  add-class="mk_event_topnumber_btn"
                                />
                              </InputGroup>
                            </FormControl>
                          </FormGroup>
                        </div>
                      </div>
                    </div>
                    <div class="col col-12 col-lg-6 col-xl-4">
                      <template v-if="event.displayType !== 'ONLINE'">
                        <FormGroup>
                          <FormLabel> 시간대 선택</FormLabel>
                          <FormRow class="mt-2">
                            <div
                              class="d-flex flex-wrap gutter-8 txt-center txt-small"
                            >
                              <div
                                :class="`col-${12 / event.schedule.length}`"
                                v-for="(schedule, index) in event.schedule"
                                :key="index"
                              >
                                <Radio
                                  :id="`schedule_${index}`"
                                  name="schedule"
                                  :label="schedule"
                                  class="type-button w-100p"
                                  @click="timeSchedule = schedule"
                                  :checked="timeSchedule === schedule"
                                ></Radio>
                              </div>
                            </div>
                          </FormRow>
                        </FormGroup>
                      </template>
                      <template v-else>
                        <FormGroup>
                          <FormLabel> 날짜 선택</FormLabel>
                          <FormRow class="mt-2">
                            <div
                              class="d-flex flex-wrap gutter-8 txt-center txt-small"
                            >
                              <div
                                style="width: 20%;"
                                class="col"
                                v-for="(date,
                                index) in presentationDateSchedule"
                                :key="index"
                              >
                                <Radio
                                  :id="`online_schedule_${index}`"
                                  name="online_schedule"
                                  :label="date.label"
                                  class="type-button w-100p"
                                  @click="presentationDate = date.value"
                                  :checked="presentationDate === date.value"
                                  :disabled="
                                    index <= expiredDate || date.isDisabled
                                  "
                                ></Radio>
                              </div>
                            </div>
                          </FormRow>
                        </FormGroup>
                      </template>
                    </div>
                    <div class="col col-12 col-lg-12 col-xl-3">
                      <div class="agree-box d-flex justify-content-between">
                        <CheckBox
                          label="개인정보취급방침에 동의합니다"
                          id="informedConsent"
                          class="txt-mini"
                          @click="isInformedConsent"
                          :checked="isInformedConsentChecked"
                          addClass=""
                        />
                        <button
                          @click="showInformedConsent = true"
                          class="btn-text btn-mini btn-underline"
                        >
                          약관보기
                        </button>
                      </div>
                      <div class="btn-box mt-2">
                        <template v-if="event.displayType !== 'ONLINE'">
                          <NButton
                            color="primary"
                            size="tiny"
                            class="mk_sessionform_topcom_btn"
                            block
                            @click="save()"
                            :disabled="
                              $v.userName.$invalid ||
                              $v.phoneNumber.$invalid ||
                              $v.timeSchedule.$invalid ||
                              !isInformedConsentChecked
                            "
                          >
                            창업 설명회 신청하기
                          </NButton>
                        </template>
                        <template v-else>
                          <NButton
                            color="primary"
                            size="tiny"
                            class="mk_sessionform_topcom_btn"
                            block
                            @click="saveOnline()"
                            :disabled="
                              $v.userName.$invalid ||
                              $v.phoneNumber.$invalid ||
                              $v.presentationDate.$invalid ||
                              !isInformedConsentChecked
                            "
                          >
                            창업 설명회 신청하기
                          </NButton>
                        </template>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
              <template v-else>
                <div class="txt-center">
                  <i
                    class="icon icon-info-confirm txt-massive txt-bold txt-success"
                  ></i>
                  <div class="txt-box">
                    <p class="txt-white txt-large">
                      <template v-if="complteMessage.length > 0">
                        {{ complteMessage }}
                      </template>
                      <template v-else>
                        <strong>
                          창업 설명회 신청이
                          <br class="d-block d-lg-none" /><strong
                            class="txt-bold txt-success"
                            >완료</strong
                          >되었습니다. <br />
                          <template v-if="event.displayType !== 'ONLINE'">
                            {{
                              $moment(event.presentationDate)
                                .locale('ko')
                                .format('YYYY.MM.DD (ddd)')
                            }}
                            {{ this.timeSchedule }}
                          </template>
                          <template v-else>
                            {{ presentationDate }}
                          </template>
                          에 뵙겠습니다!</strong
                        >
                      </template>
                    </p>
                  </div>
                </div>
              </template>
            </div>
            <div v-else>
              <div class="txt-center">
                <i
                  class="icon icon-info-confirm txt-massive txt-bold txt-success"
                ></i>
                <div class="txt-box">
                  <p class="txt-white txt-large">
                    창업 설명회 신청이 <br class="d-block d-lg-none" /><strong
                      class="txt-bold txt-success"
                      >마감</strong
                    >되었습니다. <br />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section
        class="article-section bg-light py-20"
        v-if="event.brands && event.brands.length > 0"
        ref="articleContent"
      >
        <div class="inner-container">
          <template>
            <header class="section-header txt-center">
              <h3>
                창업 설명회에서 만나볼 창업 아이템을 소개합니다
              </h3>
              <p class="h3_desc">
                <template v-if="event.eventType === 'RESTAURANT_EVENT'">
                  어느 때보다 흔들리지 않고 안전하게 창업할 수 있는 <br />
                  나누다키친 <b class="txt-primary">BEST 창업 아이템</b>들을
                  창업 설명회에서 만나보세요!
                </template>
                <template v-if="event.eventType === 'DELIVERY_EVENT'">
                  1개의 브랜드를 선택하거나, 3개 브랜드를 <br /><b
                    class="txt-primary"
                    >샵인샵 형태</b
                  >로도 창업할 수 있는 브랜드를 창업 설명회에서 만나보세요!
                </template>
              </p>
            </header>
            <div class="section-content">
              <template>
                <div class="row gutter-8">
                  <div
                    class="col col-12 col-lg-4"
                    v-for="brand in event.brands"
                    :key="brand.no"
                  >
                    <div class="border txt-center bg-white">
                      <img
                        :src="brand.logo[0].endpoint"
                        :alt="brand.name"
                        v-if="brand.logo[0]"
                        style="max-height: 10em;"
                        @click="showBrandInfo(brand.no)"
                      />
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </template>
        </div>
      </section>
      <section
        class="article-section border-bottom py-0"
        v-if="event.brands && event.brands.length > 0"
      >
        <div v-swiper:mainBrand="mainBrandOption" class="brand-side-banner">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              v-for="brand in event.brands"
              :key="brand.no"
            >
              <img
                :src="brand.sideBanner[0].endpoint"
                :alt="brand.name"
                class="d-none d-lg-block mk_start_brandinfo_btn"
                v-if="brand.sideBanner && brand.sideBanner.length > 0"
                @click="showBrandInfo(brand.id)"
                style="width: 100%;"
              />
              <img
                :src="brand.mobileSideBanner[0].endpoint"
                :alt="brand.name"
                class="d-lg-none mk_start_brandinfo_btn"
                v-if="
                  brand.mobileSideBanner && brand.mobileSideBanner.length > 0
                "
                @click="showBrandInfo(brand.id)"
                style="width: 100%;"
              />
            </div>
          </div>
          <!-- 페이징 -->
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <section
        class="article-section section-feature"
        id="nndFeature"
        v-if="event.displayType !== 'ONLINE'"
      >
        <div>
          <header class="section-header txt-center">
            <h3>
              왜
              <strong class="txt-primary">나누다키친</strong>과 함께<br
                class="d-block d-md-none"
              />
              창업해야하나요?
            </h3>
          </header>
          <div class="section-content">
            <div class="">
              <div class="swiper-slider" v-swiper:feature="featureOption">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="title-box">
                      <h4>
                        <strong class="label">하나</strong>
                        <span>가장 좋은 공유주방 보유</span>
                      </h4>
                    </div>
                    <div class="img-box">
                      <img
                        src="@/assets/images/start-your-business/feature_01.png"
                        alt
                        style="max-height: 18em;"
                      />
                    </div>
                    <div class="txt-box">
                      <p>
                        시설완비에서 상권이 좋은 공간까지
                        <br />
                        <strong class="txt-bold"
                          >공유주방에 최적화된 공간들을 보유!</strong
                        >
                      </p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="title-box">
                      <h4>
                        <strong class="label">둘</strong>
                        <span>낮은 초기비용</span>
                      </h4>
                    </div>
                    <div class="img-box">
                      <img
                        src="@/assets/images/start-your-business/feature_02.png"
                        alt
                        style="max-height: 18em;"
                      />
                    </div>
                    <div class="txt-box">
                      <p>
                        일반 외식업 창업 비용대비
                        <br />
                        <strong class="txt-bold"
                          >최대 90%까지 비용 감축 가능!</strong
                        >
                      </p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="title-box">
                      <h4>
                        <strong class="label">셋</strong>

                        <span>공유주방 특화 브랜드</span>
                      </h4>
                    </div>
                    <div class="img-box">
                      <img
                        src="@/assets/images/start-your-business/feature_03.png"
                        alt
                        style="max-height: 18em;"
                      />
                    </div>
                    <div class="txt-box">
                      <p>
                        공유주방에서 특화된 브랜드로 창업하고
                        <br />
                        <strong class="txt-bold"
                          >교육부터 오픈까지 도와드립니다!</strong
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <!-- 페이징 -->
                <div class="swiper-pagination d-lg-none"></div>
                <!-- 네비게이션 버튼  -->
                <div class="d-lg-none">
                  <NButton
                    bg-color="rgba(0,0,0,.25)"
                    icon
                    circle
                    class="swiper-button-prev"
                  >
                    <i class="icon icon-arrow-angle-left txt-bold"></i>
                    <span class="is-blind">이전으로</span>
                  </NButton>
                  <NButton
                    bg-color="rgba(0,0,0,.25)"
                    icon
                    circle
                    class="swiper-button-next"
                  >
                    <i class="icon icon-arrow-angle-right txt-bold"></i>
                    <span class="is-blind">다음으로</span>
                  </NButton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="article-section"
        id="mainStory"
        v-if="event.eventType === 'RESTAURANT_EVENT' && media"
      >
        <div class="inner-container">
          <div class="row gutter-16">
            <div class="col col-12 col-lg-4">
              <header class="section-header txt-center txt-lg-left">
                <span style="color: white; width: 32px;">
                  <svg viewBox="0 0 490 490" y="0px" x="0px" class="svg-icon">
                    <g>
                      <g>
                        <path
                          d="M464.979,334.57H25.024C11.226,334.57,0,323.349,0,309.553V72.987c0-13.795,11.226-25.018,25.024-25.018h439.955    c13.793,0,25.021,11.223,25.021,25.018v236.566C490,323.349,478.772,334.57,464.979,334.57z M25.024,68.178    c-2.654,0-4.817,2.157-4.817,4.809v236.566c0,2.652,2.163,4.81,4.817,4.81h439.955c2.653,0,4.813-2.158,4.813-4.81V72.987    c0-2.652-2.159-4.809-4.813-4.809H25.024z"
                        ></path>
                      </g>
                      <g>
                        <path
                          d="M192.69,268.058c-3.318-1.815-5.476-5.198-5.476-8.978V123.461c0-3.782,2.114-7.245,5.476-8.98    c3.36-1.734,7.404-1.445,10.486,0.747l95.358,67.809c2.668,1.896,4.248,4.964,4.248,8.234c0,3.271-1.58,6.339-4.248,8.235    c0,0-71.522,50.854-95.358,67.807C201.434,268.552,197.679,270.789,192.69,268.058z M207.425,143.045v96.451l67.817-48.225    L207.425,143.045z"
                        ></path>
                      </g>
                      <path
                        d="M479.897,391.927H286.767c-4.485-17.18-20.137-29.894-38.702-29.894c-18.563,0-34.211,12.714-38.697,29.894H10.104   C4.525,391.927,0,396.452,0,402.031c0,5.581,4.525,10.104,10.104,10.104h199.265c4.486,17.18,20.135,29.896,38.697,29.896   c18.565,0,34.217-12.717,38.702-29.896h193.129c5.575,0,10.103-4.522,10.103-10.104C490,396.452,485.472,391.927,479.897,391.927z    M248.065,421.821c-10.908,0-19.788-8.878-19.788-19.791c0-10.911,8.88-19.788,19.788-19.788c10.913,0,19.791,8.877,19.791,19.788   C267.856,412.944,258.978,421.821,248.065,421.821z"
                      ></path>
                    </g>
                  </svg>
                </span>
                <h3>
                  창업 성공 스토리
                </h3>
                <p class="h3_desc txt-white">
                  나누다키친 창업자 &amp; 헬스 트레이너
                  <br />
                  <strong class="txt-bold">오승엽 사장님</strong>
                </p>
              </header>
            </div>
            <div class="col col-12 col-lg-8">
              <div class="section-content">
                <div class="media-box">
                  <iframe
                    width="100%"
                    height="100%"
                    :src="media.URL"
                    rel="0"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <template v-if="event.displayType !== 'ONLINE'">
        <section class="article-section border-top">
          <div class="inner-container">
            <header class="section-header txt-center">
              <h3>창업 설명회 안내</h3>
            </header>
            <div class="section-content">
              <div class="row">
                <div class="col col-12 col-xl-6">
                  <client-only>
                    <vue-daum-map
                      :appKey="appKey"
                      :center="coords"
                      :level.sync="level"
                      :libraries="libraries"
                      @load="onLoad"
                      style="width: 100%; height: 350px;"
                      class="mb-5"
                    />
                  </client-only>
                </div>
                <div class="col col-12 col-xl-6">
                  <div class="row-box">
                    <div class="row align-items-center border-top">
                      <div class="col-2 txt-center">
                        <i class="icon icon-info-time txt-huge txt-gray"></i>
                      </div>
                      <div class="col-10">
                        <p class="txt-black">
                          {{
                            $moment(event.presentationDate)
                              .locale('ko')
                              .format('YYYY.MM.DD (ddd)')
                          }}
                          <span
                            v-for="(schedule, index) in event.schedule"
                            :key="index"
                          >
                            <template v-if="index > 0">
                              |
                            </template>
                            {{ schedule }}
                          </span>
                        </p>
                      </div>
                    </div>
                    <div
                      class="row align-items-center border-top"
                      v-if="event.address"
                    >
                      <div class="col-2 txt-center">
                        <i
                          class="icon icon-info-building txt-huge txt-gray"
                        ></i>
                      </div>
                      <div class="col-10">
                        <p class="txt-black">
                          {{ event.address }}
                        </p>
                      </div>
                    </div>
                    <div class="row align-items-center border-top">
                      <div class="col-2 txt-center">
                        <i class="icon icon-info-subway txt-huge txt-gray"></i>
                      </div>
                      <div class="col-10">
                        <div class="row-box">
                          <p class="txt-black">
                            <span class="badge badge-mini badge-brown">9</span>
                            <span class="ml-2">신논현역 6번 출구에서 250m</span>
                          </p>
                        </div>
                        <div class="row-box mt-2">
                          <p class="txt-black">
                            <span class="badge badge-mini badge-green">2</span>
                            <span class="ml-2">강남역 10번 출구에서 480m</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="row align-items-center border-top border-bottom"
                    >
                      <div class="col-2 txt-center">
                        <i
                          class="icon icon-info-cellphone txt-huge txt-gray"
                        ></i>
                      </div>
                      <div class="col-10">
                        <p class="txt-black">
                          <a :href="`tel:${event.contactPhone}`">{{
                            event.contactPhone
                          }}</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row-box">
                    <p class="txt-small">
                      * 주차공간이협소하오니,대중교통이용부탁드립니다
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </template>
      <template v-else>
        <section class="article-section border-top">
          <div class="inner-container">
            <header class="section-header txt-center">
              <h3>나누다키친 온라인 창업설명회</h3>
            </header>
            <div class="section-content">
              <div class="row-box txt-center">
                <div class="img-box">
                  <img
                    src="@/assets/images/start-your-business/online_ppt.png"
                  />
                </div>
                <div class="txt-box">
                  <p>
                    <span class="badge badge-large badge-light txt-bold"
                      >2021년 1월 25일~ 29일 <br class="d-block d-md-none" />
                      매일
                      <strong class="txt-primary">오후 5시</strong> 진행</span
                    >
                  </p>
                </div>
                <div class="txt-box">
                  <p class="txt-tiny">
                    줌(Zoom) 사이트 접속 또는 앱 다운로드하여 시청해주세요
                  </p>
                  <p class="mt-2">
                    <a
                      :href="`tel:${event.contactPhone}`"
                      class="d-inline-flex align-itmes-center"
                    >
                      <i
                        class="icon icon-info-consulting txt-large mr-1 txt-black"
                      ></i>
                      <span> {{ event.contactPhone }}</span>
                    </a>
                  </p>
                </div>
              </div>

              <div class="bg-light rounded p-4 mt-4">
                <div class="bg-white rounded p-8">
                  <div class="title-box txt-center">
                    <h4>
                      <span class="badge badge-black badge-medium px-5"
                        >· 이벤트 참여방법 ·</span
                      >
                    </h4>
                  </div>
                  <div class="content-box">
                    <div class="row">
                      <div class="col col-12 col-lg-4">
                        <div class="row align-items-center gutter-8">
                          <div class="col col-12 col-sm-5 col-lg-12">
                            <div class="img-box txt-center">
                              <img
                                src="@/assets/images/start-your-business/online_step_01.png"
                                alt=""
                                style="max-height: 18em;"
                              />
                            </div>
                          </div>
                          <div class="col col-12 col-sm-7 col-lg-12">
                            <div class="txt-box txt-center">
                              <span
                                class="badge badge-tiny badge-teal rounded-lg"
                                >STEP 01</span
                              >
                              <p class="txt-small mt-2">
                                아래 창업 설명회신청하기 <br />버튼을 클릭한다
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col col-12 col-lg-4">
                        <div class="row align-items-center gutter-8">
                          <div class="col col-12 col-sm-5 col-lg-12">
                            <div class="img-box txt-center">
                              <img
                                src="@/assets/images/start-your-business/online_step_02.png"
                                alt=""
                                style="max-height: 18em;"
                              />
                            </div>
                          </div>
                          <div class="col col-12 col-sm-7 col-lg-12">
                            <div class="txt-box txt-center">
                              <span
                                class="badge badge-tiny badge-teal rounded-lg"
                                >STEP 02</span
                              >
                              <p class="txt-small mt-2">
                                SNS에 신청 완료한 이미지를 올리고 <br />해시태그
                                걸고 <br /><span class="txt-success txt-bold"
                                  >스타벅스 기프티콘</span
                                >을 받는다
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col col-12 col-lg-4">
                        <div class="row align-items-center gutter-8">
                          <div class="col col-12 col-sm-5 col-lg-12">
                            <div class="img-box txt-center">
                              <img
                                src="@/assets/images/start-your-business/online_step_03.png"
                                alt=""
                                style="max-height: 18em;"
                              />
                            </div>
                          </div>
                          <div class="col col-12 col-sm-7 col-lg-12">
                            <div class="txt-box txt-center">
                              <span
                                class="badge badge-tiny badge-teal rounded-lg"
                                >STEP 03</span
                              >
                              <p class="txt-small mt-2">
                                신청한 날짜에 창업설명회를 시청하며 <br />
                                당일 진행하는 미션에 참여하여<br />
                                <span class="txt-darkorange txt-bold"
                                  >BHC 기프티콘</span
                                >을 받는다
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <div
                        class="row align-items-center gutter-8"
                        style="text-align: left;"
                      >
                        <div class="txt-small mt-2" style="color: red;">
                          <span
                            >*본 이벤트 중 스타벅스 기프티콘 증정은
                            <b> 조기 마감</b>되었음을 안내드립니다.</span
                          ><br />
                          <span
                            >*BHC 뿌링클 증정은 2부 미팅이 끝난 후
                            제공됩니다.</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="title-box txt-center mt-8">
                  <span class="badge badge-medium badge-secondary"
                    >· 온라인 창업설명회 참여 방법 ·</span
                  >
                </div>
                <div class="txt-box txt-small">
                  <div class="txt-right">
                    <a href="https://zoom.us" target="_blank">
                      <img
                        src="@/assets/images/start-your-business/logo_zoom.png"
                        style="height: 30px;"
                      />
                    </a>
                  </div>
                  <div class="border p-8 row-box">
                    <h4>
                      <span class="badge badge-small badge-secondary rounded"
                        >줌 프로그램을 설치한 경우</span
                      >
                    </h4>
                    <div class="txt-box txt-small">
                      <p>
                        창업설명회
                        <span class="txt-bold txt-primary"
                          >당일 약 1시간 전</span
                        >에 발송되는 문자 메시지 내
                        <span class="txt-bold txt-primary">“링크”</span>
                        클릭합니다. <br />
                        (링크 클릭 시 이동이 안되는 경우 인터넷 주소창에 해당
                        링크를 복사 붙여넣기 해주시면 됩니다)
                      </p>
                    </div>
                  </div>
                  <div class="border p-8 row-box">
                    <h4>
                      <span class="badge badge-small badge-secondary rounded"
                        >줌 프로그램을 설치하지 않은 경우</span
                      >
                    </h4>
                    <div class="txt-box txt-small">
                      <p>
                        <a
                          href="https://zoom.us"
                          target="_blank"
                          class="txt-secondary"
                          style="text-decoration: underline;"
                          >https://zoom.us</a
                        >
                        사이트 내 우측 상단에 있는
                        <span class="txt-bold txt-primary">회의 참가</span>
                        버튼을 클릭합니다.
                        <br />
                        “회의 ID” 빈칸에 창업설명회 당일 약 1시간 전에 발송되는
                        문자메세지 내
                        <span class="txt-bold txt-primary"
                          >"회의 ID (숫자 11자리)"</span
                        >를 입력하고
                        <span class="txt-bold txt-primary">“참가＂</span>버튼을
                        클릭합니다.
                      </p>
                    </div>
                  </div>
                  <div class="border p-8 row-box">
                    <h4>
                      <span class="badge badge-small badge-secondary rounded"
                        >공통</span
                      >
                    </h4>
                    <div class="img-box">
                      <div class="row gutter-8">
                        <div class="col col-6 col-md-3">
                          <img
                            src="@/assets/images/start-your-business/common_android_01.png"
                            class="w-100p"
                          />
                        </div>
                        <div class="col col-6 col-md-3">
                          <img
                            src="@/assets/images/start-your-business/common_android_05.png"
                            class="w-100p"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="txt-box">
                      <p>
                        줌 사이트/프로그램에서
                        <span class="txt-bold txt-black"
                          >“이름을 입력하여 주십시오"</span
                        >
                        창이 나오면
                        <span class="txt-bold txt-primary">이름</span> 또는
                        <span class="txt-bold txt-primary"
                          >핸드폰 번호 뒷4자리</span
                        >를 입력합니다.
                      </p>
                      <p>
                        <span class="txt-bold txt-black"
                          >“다른 사람의 소리를 들으려면 오디오에
                          연결하십시오＂</span
                        >
                        창이 나오면
                        <span class="txt-bold txt-primary"
                          >“장치(인터넷) 오디오로 통화＂</span
                        >버튼 클릭하고 참여가 수락되기 전까지 잠깐 대기해주세요.
                      </p>
                    </div>
                  </div>
                  <div class="row-box txt-tiny">
                    <p>
                      ※ 창업설명회 신청 전 미리 줌 프로그램을 다운로드 받으시면
                      더 쉽게 참여할 수 있습니다.
                    </p>
                    <p>프로그램 다운 : 줌(Zoom) 사이트 또는 앱 이용</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </template>

      <section
        class="article-section py-20 bg-light"
        id="registerBottomForm"
        ref="registerForm"
      >
        <div class="inner-container">
          <header
            class="section-header txt-center"
            v-if="event.isEnded !== 'Y'"
          >
            <h3 v-if="!formComplete">
              창업 설명회 신청하시고 차별화된 창업 아이템을 만나보세요
            </h3>
            <h3 v-if="formComplete">
              신청해주셔서 감사합니다
            </h3>
          </header>
          <div class="section-content">
            <div v-if="event.isEnded !== 'Y'">
              <template v-if="!formComplete">
                <div class="form-wrapper">
                  <div class="bg-white border p-4">
                    <div class="row gutter-16">
                      <div class="col col-12 col-xl-6">
                        <FormGroup>
                          <FormLabel for="bottomName">이름</FormLabel>
                          <FormControl>
                            <InputGroup>
                              <InputField
                                ref="name"
                                type="text"
                                id="bottomName"
                                placeholder="이름을 입력해주세요"
                                add-class="mk_event_bottomname_btn"
                                v-model="$v.userName.$model"
                              />
                            </InputGroup>
                          </FormControl>
                        </FormGroup>
                      </div>
                      <div class="col col-12 col-xl-6">
                        <FormGroup>
                          <FormLabel for="bottomCellPhone">연락처</FormLabel>
                          <FormControl>
                            <InputGroup>
                              <InputField
                                type="tel"
                                placeholder="-없이 입력해주세요"
                                id="bottomCellPhone"
                                add-class="mk_event_bottomnumber_btn"
                                v-model="$v.phoneNumber.$model"
                              />
                            </InputGroup>
                          </FormControl>
                        </FormGroup>
                      </div>
                      <div class="col col-12 col-xl-12">
                        <template v-if="event.displayType !== 'ONLINE'">
                          <FormGroup>
                            <FormLabel> 시간대 선택</FormLabel>
                            <FormRow class="mt-2">
                              <div
                                class="d-flex flex-wrap gutter-8 txt-center txt-small"
                              >
                                <div
                                  :class="`col-${12 / event.schedule.length}`"
                                  v-for="(schedule, index) in event.schedule"
                                  :key="index"
                                >
                                  <Radio
                                    :id="`bottom_schedule_${index}`"
                                    name="bottom_schedule"
                                    :label="schedule"
                                    class="type-button w-100p"
                                    @click="timeSchedule = schedule"
                                    :checked="timeSchedule === schedule"
                                  ></Radio>
                                </div>
                              </div>
                            </FormRow>
                          </FormGroup>
                        </template>
                        <template v-else>
                          <FormGroup>
                            <FormLabel> 날짜 선택</FormLabel>
                            <FormRow class="mt-2">
                              <div
                                class="d-flex flex-wrap gutter-8 txt-center txt-small"
                              >
                                <div
                                  style="width: 20%;"
                                  class="col"
                                  v-for="(date,
                                  index) in presentationDateSchedule"
                                  :key="index"
                                >
                                  <Radio
                                    :id="`bottom_online_schedule_${index}`"
                                    name="bottom_online_schedule"
                                    :label="date.label"
                                    class="type-button w-100p"
                                    @click="presentationDate = date.value"
                                    :checked="presentationDate === date.value"
                                    :disabled="
                                      index <= expiredDate || date.isDisabled
                                    "
                                  ></Radio>
                                </div>
                              </div>
                            </FormRow>
                          </FormGroup>
                        </template>
                      </div>
                      <div class="col col-12 col-xl-12">
                        <div
                          class="agree-box d-flex justify-content-between bg-light p-3 rounded-sm"
                        >
                          <CheckBox
                            label="개인정보취급방침에 동의합니다"
                            id="informedConsent"
                            class="txt-small"
                            @click="isInformedConsent"
                            :checked="isInformedConsentChecked"
                            addClass=""
                          />
                          <br />
                          <button
                            @click="showInformedConsent = true"
                            class="btn-text btn-tiny btn-underline"
                          >
                            약관보기
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="btn-box txt-center mt-8">
                    <template v-if="event.displayType !== 'ONLINE'">
                      <div>
                        <NButton
                          color="primary"
                          size="medium"
                          class="mk_sessionform_bottomcom_btn w-30"
                          block
                          @click="save()"
                          :disabled="
                            $v.userName.$invalid ||
                            $v.phoneNumber.$invalid ||
                            $v.timeSchedule.$invalid ||
                            !isInformedConsentChecked
                          "
                        >
                          창업 설명회 신청하기
                        </NButton>
                      </div>
                    </template>
                    <template v-else>
                      <NButton
                        color="primary"
                        size="medium"
                        class="mk_sessionform_bottomcom_btn w-30"
                        block
                        @click="saveOnline()"
                        :disabled="
                          $v.userName.$invalid ||
                          $v.phoneNumber.$invalid ||
                          $v.presentationDate.$invalid ||
                          !isInformedConsentChecked
                        "
                      >
                        창업 설명회 신청하기
                      </NButton>
                    </template>
                  </div>
                </div>
              </template>
              <template v-else>
                <div class="txt-center">
                  <i
                    class="icon icon-info-confirm txt-massive txt-bold txt-success"
                  ></i>
                  <div class="txt-box">
                    <p class="txt-black txt-large">
                      <template v-if="complteMessage.length > 0">
                        {{ complteMessage }}
                      </template>
                      <template v-else>
                        <strong>
                          <template v-if="event.displayType !== 'ONLINE'">
                            {{
                              $moment(event.presentationDate)
                                .locale('ko')
                                .format('YYYY.MM.DD (ddd)')
                            }}
                            {{ this.timeSchedule }}
                          </template>
                          <template v-else>
                            {{ presentationDate }}
                          </template>
                          에 뵙겠습니다!
                        </strong>
                      </template>
                    </p>
                  </div>
                </div>
              </template>
            </div>
            <div v-else>
              <div class="txt-center">
                <i
                  class="icon icon-info-confirm txt-massive txt-bold txt-success"
                ></i>
                <div class="txt-box">
                  <p class="txt-black txt-large">
                    창업 설명회 신청이 <br class="d-block d-lg-none" /><strong
                      class="txt-bold txt-success"
                      >마감</strong
                    >되었습니다. <br />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <!-- 브랜드 상세 모달 레이어 -->
    <BrandModal
      :visible="showBrandModal"
      @close="closeBrandModal"
      :brandInfo="brandInfo"
      :menuInfo="menuInfo"
    />
    <!-- 개인정보취급방침 모달 -->
    <CustomModal
      :visible="showInformedConsent"
      headerType="default"
      id="InformedConsent"
      title="개인정보취급 이용약관"
      noBtn="닫기"
      @close="showInformedConsent = false"
    >
      <PrivacyRestaurant />
    </CustomModal>
    <CustomModal
      :visible="showZoomguide"
      headerType="default"
      title="나누다키친 온라인 창업설명회 참여 방법"
      noBtn="닫기"
      @close="showZoomguide = false"
    >
    </CustomModal>
    <!-- 모바일 전용 배너 이미지  모달 -->
    <div class="d-block d-lg-none">
      <Modal
        :visible="showPopup"
        noBtn="닫기"
        id="popupModal"
        @close="showPopup = false"
        v-if="event.mobileImage && event.mobileImage.length > 0"
      >
        <img
          v-lazy="event.mobileImage[0].endpoint"
          class="d-block"
          width="100%"
        />
      </Modal>
    </div>
  </main>
</template>
<script>
import 'moment/locale/ko'; // moment 한글
import { brandInfo } from '@/assets/mixins/brandInfo';
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤 이베트
import { registerForm } from '@/assets/mixins/homepage/registerForm';
import { required, numeric } from 'vuelidate/lib/validators';
import { kakaoAPIs } from '@/assets/mixins/kakaoAPIs';
import Badge from '~/components/UI/Badge.vue';
import * as axios from 'axios';
export default {
  components: { Badge },
  mixins: [brandInfo, infoAppRequest, handleScroll, registerForm, kakaoAPIs],
  computed: {
    isAuth() {
      return this.$store.getters.isAuthenticated;
    },
  },
  data() {
    return {
      expiredDate: null,
      showPopup: false,
      showZoomguide: false,
      formHeight: '',
      isScrolled: false,
      term: '',
      userName: '',
      phoneNumber: '',
      spaceType: '',
      spaceTypeName: '',
      timeSchedule: '',
      coords: { lat: '37.5019747', lng: '127.0244474' },
      level: 5,
      minLevel: 1,
      formComplete: false,
      featureOption: {
        loop: false,
        slidesPerView: 3,
        centeredSlides: false,
        freeMode: false,
        spaceBetween: 48,
        grabCursor: true,
        followFinger: false,
        allowTouchMove: false,
        navigation: {
          nextEl: '#nndFeature .swiper-button-next ',
          prevEl: '#nndFeature .swiper-button-prev',
        },
        pagination: {
          el: '#nndFeature .swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          1023: {
            loop: false,
            slidesPerView: 1,
            centeredSlides: true,
            followFinger: true,
            allowTouchMove: true,
          },
        },
      },
      mainTopBannerOption: {
        autoplay: {
          delay: 5000,
        },
        slidesPerView: 1,
        loop: false,
        followFinger: false,
        pagination: {
          el: '.main-top-banner .swiper-pagination',
          clickable: true,
        },
      },
      mainBrandOption: {
        autoplay: {
          delay: 5000,
        },
        slidesPerView: 1,
        loop: true,
        autoplay: {
          delay: 5000,
        },
        pagination: {
          el: '.brand-side-banner .swiper-pagination',
          clickable: true,
        },
      },
      complteMessage: '',
      presentationDate: '',
      presentationDateSchedule: [
        {
          label: '25일(월)',
          value: '2021-01-25',
          isDisabled: true,
        },
        {
          label: '26일(화)',
          value: '2021-01-26',
          isDisabled: false,
        },
        {
          label: '27일(수)',
          value: '2021-01-27',
          isDisabled: false,
        },
        {
          label: '28일(목)',
          value: '2021-01-28',
          isDisabled: false,
        },
        {
          label: '29일(금)',
          value: '2021-01-29',
          isDisabled: false,
        },
      ],
    };
  },
  async asyncData(context) {
    let event = await context.$axios.$get(
      `/presentation/${context.params.uid}`,
    );
    let media = await context.$axios.$get('/homePageMedia/youtube'); // 창업자 성공 스토리 동영상
    return {
      media: media,
      event: event,
    };
  },
  methods: {
    getFormHeight() {
      const target = document.getElementById('registerTopForm');
      if (target) {
        this.formHeight = target.getBoundingClientRect().height;
        // console.log(this.formHeight);
      }
    },
    formFixed() {
      const target = this.$refs.articleContent;
      const form = this.$refs.registerForm;
      if (target) {
        let rect =
          target.getBoundingClientRect().top + this.currentScroll ||
          target.offsetTop;
        let formRect = form.getBoundingClientRect().top + this.currentScroll;

        if (
          this.currentScroll > rect &&
          this.currentScroll < formRect - window.outerHeight
        ) {
          this.isScrolled = true;
        } else {
          this.isScrolled = false;
        }
      }
    },
    scrollFunc() {
      // 스크롤 이벤트
      this.formFixed();
    },
    save() {
      this.$axios
        .$post('/presentation/newCreate', {
          name: this.userName,
          phone: this.phoneNumber,
          eventNo: this.$route.params.uid,
          scheduleTime: this.timeSchedule,
        })
        .then((res) => {
          this.formComplete = true;
          sessionStorage.setItem('formComplete', this.formComplete);

          if (typeof res === 'string') {
            this.complteMessage = res;
            sessionStorage.setItem('complteMessage', this.complteMessage);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    saveOnline() {
      this.$axios
        .$post('/presentation/newCreateOnline', {
          name: this.userName,
          phone: this.phoneNumber,
          eventNo: this.$route.params.uid,
          presentationDate: this.presentationDate,
          eventTime: '오후 5시',
          requestIp: this.term,
        })
        .then((res) => {
          this.formComplete = true;
          sessionStorage.setItem('formComplete', this.formComplete);
          sessionStorage.setItem('presentationDate', this.presentationDate);
          if (typeof res == 'string') {
            this.complteMessage = res;
            sessionStorage.setItem('complteMessage', this.complteMessage);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onResize() {
      this.getFormHeight();
    },
    getFormatDate(date) {
      const year = date.getFullYear();
      let month = 1 + date.getMonth();
      month = month >= 10 ? month : '0' + month;
      let day = date.getDate();
      day = day >= 10 ? day : '0' + day;
      return year + '-' + month + '-' + day;
    },
  },
  created() {
    axios.get('https://api.ipify.org?format=json').then((res) => {
      this.term = res.data.ip;
      // console.log(this.term);
    });
    this.showPopup = true;
  },
  mounted() {
    this.getFormHeight();
    window.addEventListener('resize', this.onResize);
    if (window.sessionStorage.formComplete) {
      const formComplete = sessionStorage.getItem('formComplete');

      if (formComplete) {
        this.formComplete = formComplete;
      }
    }

    if (window.sessionStorage.presentationDate) {
      const presentationDate = sessionStorage.getItem('presentationDate');

      if (presentationDate) {
        this.presentationDate = presentationDate;
      }
    }

    if (window.sessionStorage.complteMessage) {
      const complteMessage = sessionStorage.getItem('complteMessage');

      if (complteMessage) {
        this.complteMessage = complteMessage;
      }
    }

    // 신청 날짜가 현재 날짜 지난 버튼 disabled
    const today = new Date();
    const todayDate = today.toISOString().slice(0, 10);
    this.expiredDate = this.presentationDateSchedule
      .map((v) => v.value)
      .indexOf(todayDate);
  },
  validations: {
    userName: {
      required,
    },
    phoneNumber: {
      required,
      numeric,
    },
    timeSchedule: {
      required,
    },
    presentationDate: {
      required,
    },
  },
};
</script>
<style lang="scss">
.marker {
  position: relative;
  bottom: 3em;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #635dff;
  padding: 0.65em;
  font-size: $txt-mini;
  border-style: solid;
  border-color: #2e28ff;
  border-width: 2px;
  &:after {
    position: absolute;
    top: 67%;
    left: 50%;
    display: block;
    content: '';
    width: 50%;
    height: 50%;
    margin-left: -25%;
    background-color: #635dff;
    transform: rotate(45deg);
    border: 0;
    border-right-width: inherit;
    border-bottom-width: inherit;
    border-color: inherit;
    border-style: solid;
  }

  &.is-active {
    background-color: #d95050;
    border-color: #c12b2b;
    &:after {
      background-color: #d95050;
      border-color: #c12b2b;
    }
  }

  .count {
    position: relative;
    z-index: 2;
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: $txt-bold;
    background-color: $white;
    border-radius: 50%;
    color: $black;
  }
}
#startYourBusiness {
  .main-top-banner {
    .swiper-wrapper {
      .swiper-slide {
        font-size: 0;
      }
    }
    .swiper-pagination {
      left: 0;
      right: 0;
      bottom: 1em;
    }
  }

  .brand-side-banner {
    .swiper-wrapper {
      .swiper-slide {
        font-size: 0;
      }
    }
    .swiper-pagination {
      left: 0;
      right: 0;
      bottom: 1em;
    }
  }

  .main-article {
    .article-header {
      .inner-container {
        .title-box {
          text-align: center;
          .title {
            color: $black;
            font-size: $txt-big;
          }
          .sub-title {
            font-size: 4.2rem;
            color: $black;
            font-weight: $txt-bolder;
          }
          .desc {
            margin-top: 0.8em;
            font-size: $txt-large;
            font-weight: $txt-bold;
            color: $black;
          }
        }
      }
    }
  }

  #mainStory {
    position: relative;
    padding-bottom: 5em;
    .section-header {
      h3 {
        color: $white;
      }
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $gray-800;
      background-image: url('~assets/images/common/pattern_black_linen.png');
      background-repeat: repeat;
    }
    .inner-container {
      position: relative;
      z-index: 1;
    }

    .media-box {
      position: relative;
      padding-bottom: 56.25%;
      border: 0;
      box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.15);
      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  #nndFeature {
    text-align: center;
    .title-box {
      margin-top: 2em;
      h4 {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $light;
        border-radius: $border-radius-lg;
        overflow: hidden;
        line-height: 1;
        font-size: 1.4rem;
        .label {
          min-width: 4em;
          padding: 0.5em 1em;
          text-align: center;
          background-color: $primary;
          color: $white;
          border-radius: $border-radius-lg;
        }
        span {
          display: inline-block;
          padding: 0 1.5em 0 1em;
          color: $black;
        }
      }
    }
    .txt-box {
      p {
        color: $black;
      }
    }
    .img-box {
      img {
        max-width: 100%;
      }
    }
    .swiper-slider {
      max-width: 60em;
      margin: -2em auto 0;
      padding: 0 2.5em;
      text-align: center;
      .swiper-slide {
        text-align: center;
      }

      .swiper-pagination {
        position: static;
        margin-top: 1em;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    #registerTopForm {
      &.is-fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $zindex-header;
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
</style>
