<template>
  <main id="mypage" class="main-wrapper">
    <EmptyHeader title="마이페이지" border>
      <template v-slot:leftArea>
        <PrevButton @click="$router.go(-1)" />
      </template>
      <template v-slot:rightArea>
        <HomeButton @click="$router.push('/')" />
      </template>
    </EmptyHeader>
    <article class="main-article">
      <header class="article-header">
        <div class="inner-container">
          <h2 class="is-blind">나의 계정 정보</h2>
          <p class="d-flex align-items-center">
            <span class="txt-big txt-black txt-bold">{{ userInfo.NAME }}</span>
            <NButton
              size="mini"
              color="outline-gray"
              rounded
              @click="$router.push('/mypage/modify')"
              class="ml-2"
            >
              <span>정보 수정</span>
            </NButton>
          </p>
          <p class="txt-large">{{ formatedPhoneNum }}</p>
        </div>
      </header>
      <div class="article-content">
        <div id="tabContent">
          <div class="inner-container">
            <div class="row">
              <div class="col col-12 col-lg-4">
                <div class="tab-wrapper bg-white">
                  <div class="d-lg-none">
                    <v-tabs fixed-tabs v-model="tab" light>
                      <v-tab @click="getMyFavorite()">
                        <div class="tab-txt">
                          <p>
                            <i class="icon icon-heart"></i>
                            <span class="d-block txt-small">찜 리스트</span>
                          </p>
                        </div>
                      </v-tab>
                      <v-tab @click="getMySpaces()">
                        <div class="tab-txt">
                          <p>
                            <i class="icon icon-building-add"></i>
                            <span class="d-block txt-small">공간등록내역</span>
                          </p>
                        </div>
                      </v-tab>
                      <v-tab @click="getMyConsult()">
                        <div class="tab-txt">
                          <p>
                            <i class="icon icon-info-consulting"></i>
                            <span class="d-block txt-small">상담신청내역</span>
                          </p>
                        </div>
                      </v-tab>
                      <v-tab @click="getMyContract()">
                        <div class="tab-txt">
                          <p>
                            <i class="icon icon-handshake"></i>
                            <span class="d-block txt-small">계약내역</span>
                          </p>
                        </div>
                      </v-tab>
                    </v-tabs>
                  </div>
                  <div class="d-none d-lg-block">
                    <v-tabs fixed-tabs v-model="tab" light vertical>
                      <v-tab @click="getMyFavorite()">
                        <div class="tab-txt">
                          <p>
                            <i class="icon icon-heart"></i>
                            <span class="txt-small">찜 리스트</span>
                          </p>
                        </div>
                      </v-tab>
                      <v-tab @click="getMySpaces()">
                        <div class="tab-txt">
                          <p>
                            <i class="icon icon-building-add"></i>
                            <span class="txt-small">공간등록내역</span>
                          </p>
                        </div>
                      </v-tab>
                      <v-tab @click="getMyConsult()">
                        <div class="tab-txt">
                          <p>
                            <i class="icon icon-info-consulting"></i>
                            <span class="txt-small">상담신청내역</span>
                          </p>
                        </div>
                      </v-tab>
                      <v-tab @click="getMyContract()">
                        <div class="tab-txt">
                          <p>
                            <i class="icon icon-handshake"></i>
                            <span class="txt-small">계약내역</span>
                          </p>
                        </div>
                      </v-tab>
                    </v-tabs>
                  </div>
                </div>
              </div>
              <div class="col col-12 col-lg-8">
                <v-tabs-items :touchless="true" v-model="tab" light>
                  <v-tab-item>
                    <section class="article-section">
                      <header class="section-header is-blind">
                        <h3>내가 찜한 공간 목록</h3>
                      </header>
                      <div class="section-content">
                        <MyFavoriteList />
                      </div>
                    </section>
                  </v-tab-item>
                  <v-tab-item>
                    <section class="article-section">
                      <header class="section-header is-blind">
                        <h3>공간등록내역 목록</h3>
                      </header>
                      <div class="section-content">
                        <MySpaceList
                          v-if="mySpaces.length > 0"
                          :spaces="mySpaces"
                        />
                        <NoResult text="등록 내역이 없습니다." v-else />
                      </div>
                    </section>
                  </v-tab-item>
                  <v-tab-item>
                    <section class="article-section">
                      <header class="section-header is-blind">
                        <h3>상담신청내역 목록</h3>
                      </header>
                      <div class="section-content">
                        <MyMeetingList
                          v-if="
                            myFounderConsult.length > 0 ||
                            myProductConsult.length > 0 ||
                            myDeliveryFounderConsult.length > 0
                          "
                          :myFounderConsult="myFounderConsult"
                          :myDeliveryFounderConsult="myDeliveryFounderConsult"
                          :plans="myProductConsult"
                        />
                        <NoResult text="상담 신청 내역이 없습니다." v-else />
                      </div>
                    </section>
                  </v-tab-item>
                  <v-tab-item>
                    <section class="article-section">
                      <header class="section-header is-blind">
                        <h3>계약내역 목록</h3>
                      </header>
                      <div class="section-content">
                        <MyContractList
                          v-if="
                            mySpaceContract.length > 0 ||
                            myChangupContract.length > 0
                          "
                          :spaces="mySpaceContract"
                          :plans="myChangupContract"
                        />
                        <NoResult text="계약 내역이 없습니다." v-else />
                      </div>
                    </section>
                  </v-tab-item>
                </v-tabs-items>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
</template>

<script>
import { formatPhoneNum } from '@/assets/utils/common';
import EmptyHeader from '@/components/Navigation/EmptyHeader';
import NoResult from '@/components/UI/NoResult';
import MySpaceList from '@/components/Mypage/Myspace/MySpaceList'; // 공간등록내역
import MyMeetingList from '@/components/Mypage/Meeting/MyMeetingList'; // 상담신청내역
import MyContractList from '@/components/Mypage/Contract/MyContractList'; // 계약내역
import MyFavoriteList from '@/components/Mypage/MyFavorite/MyFavoriteList'; // 계약내역

export default {
  layout: 'empty',
  components: {
    EmptyHeader,
    NoResult,
    MySpaceList,
    MyMeetingList,
    MyContractList,
    MyFavoriteList,
  },
  computed: {
    formatedPhoneNum() {
      return formatPhoneNum(this.userInfo.PHONE);
    },
  },
  data() {
    return {
      tab: null,
      myFavorite: [],
      myFavoriteCount: null,
      mySpaces: [],
      myFounderConsult: [],
      myDeliveryFounderConsult: [],
      myProductConsult: [],
      myChangupContract: [],
      mySpaceContract: [],
    };
  },
  asyncData(context) {
    return context.$axios.$get('/mypage/userInfo').then((res) => {
      return {
        userInfo: res,
      };
    });
  },
  methods: {
    getMyFavorite() {
      this.$axios.$get('/favoriteSpace/myFavoriteDelivery').then((res) => {
        this.myFavorite = res.items;
        this.myFavoriteCount = res.totalCount;
      });
    },
    getMySpaces() {
      this.$axios.$get('/mypage/mySpace').then((res) => {
        this.mySpaces = res;
      });
    },
    getMyConsult() {
      this.$axios.$get('/mypage/myFounderConsult').then((res) => {
        this.myFounderConsult = res;
      });
      this.$axios.$get('/deliveryFounderConsult').then((res) => {
        // console.log(res);
        this.myDeliveryFounderConsult = res.items;
      });
      this.$axios.$get('/mypage/myProductConsult').then((res) => {
        this.myProductConsult = res;
      });
    },
    getMyContract() {
      this.$axios.$get('/mypage/myChangupContract').then((res) => {
        this.myChangupContract = res;
      });
      this.$axios.$get('/mypage/mySpaceContract').then((res) => {
        this.mySpaceContract = res;
      });
    },
  },
  created() {
    this.getMyFavorite();
  },
  mounted() {
    this.$root.$on('deleteFavoriteId', () => {
      this.getMyFavorite();
    });
  },
};
</script>

<style lang="scss" scoped>
#mypage {
  padding-top: 6rem;
  background: #f0f0f0;

  .main-article {
    padding: 0;
  }
  .article-header {
    padding: 1.4em 0;
    background-color: $white;
    margin-bottom: 5px;
    min-height: 7em;
  }

  .article-content {
    padding-bottom: 1px;
    .article-section {
      padding: 1em 0;
    }
  }

  .theme--light.v-tabs-items {
    background: transparent;
  }

  .v-slide-group__content .v-tab + .v-tab {
    border-left: 1px solid #ddd;
  }
  @media screen and (min-width: 1024px) {
    .article-content {
      padding: 2em 0;
      .article-section {
        padding: 0;
      }
      .no-result {
        background: $white;
      }
    }
    .v-slide-group__content .v-tab {
      height: auto;
      + .v-tab {
        border-left: 0;
        border-top: 1px solid $border-color;
      }
      .tab-txt {
        padding: 1em 2em;
        justify-content: start;
        &:before {
          display: none !important;
        }
        .icon {
          display: inline-block;
          vertical-align: middle;
          font-size: 2.5rem;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  @media screen and (max-width: 1023px) {
    .row {
      .col-12 {
        padding: 0;
      }
    }
    .article-content {
      .article-section {
        padding: 1em 1.25em;
      }
    }
  }
}
</style>
