<template>
  <main id="join" class="main-wrapper">
    <EmptyHeader title="회원가입" border>
      <template v-slot:leftArea>
        <PrevButton @click="$router.go(-1)" />
      </template>
    </EmptyHeader>
    <article class="main-article">
      <header class="article-header is-blind">
        <h2>로그인</h2>
      </header>
      <section class="article-section">
        <div class="inner-container">
          <div class="section-header">
            <h3 class="txt-large">
              회원가입하고 <br />
              오직 나누다키친에서만 제공하는<br />
              창업 혜택을 누려보세요
            </h3>
          </div>
          <div class="section-content">
            <div class="form-wrapper">
              <!-- 인증번호 받기 버튼 비화성화 :: disabled 속성 추가 -->
              <!-- 처음접속자이면 핸폰필드와 인증번호 필드를 가림 -->
              <FormGroup :class="{ 'is-error': $v.name.$error }">
                <FormLabel for="name">이름</FormLabel>
                <FormControl>
                  <InputGroup>
                    <InputField
                      ref="name"
                      type="text"
                      id="name"
                      placeholder="홍길동"
                      :autofocus="true"
                      v-model="$v.name.$model"
                      addClass="mk_join_name_btn"
                    />
                  </InputGroup>
                </FormControl>
                <FormMessage>{{ nameValid }}</FormMessage>
              </FormGroup>
              <FormGroup :class="{ 'is-error': $v.phoneNumb.$error }">
                <FormLabel for="cellPhone">휴대폰번호</FormLabel>
                <FormControl>
                  <InputGroup>
                    <BtnGroup class="certnum-button-wrap">
                      <NButton
                        color="black"
                        size="mini"
                        rounded
                        @click="sendCertNumb('resend')"
                        v-if="validNumbBtnClicked"
                        :disabled="checkComplete"
                        >재발송</NButton
                      >
                      <NButton
                        color="black"
                        size="mini"
                        rounded
                        :disabled="$v.phoneNumb.$invalid || isIdAlreadyExist"
                        @click="sendCertNumb"
                        v-else
                        class="mk_join_codereceive_btn"
                        >인증번호 받기</NButton
                      >
                    </BtnGroup>
                    <InputField
                      type="tel"
                      placeholder="'-'없이 입력해주세요"
                      id="cellPhone"
                      v-model="$v.phoneNumb.$model"
                      maxLength="11"
                      addClass="mk_join_number_btn"
                      :readonly="validNumbBtnClicked"
                    />
                  </InputGroup>
                </FormControl>
                <!-- 입력값이 없고 사용자가 인풋창을 건들였을때만 보임 -->
                <FormMessage>{{ phoneNumbErrMessage }}</FormMessage>
              </FormGroup>
              <FormGroup
                v-show="validNumbBtnClicked"
                :class="{ 'is-error': $v.phoneNumb.$error }"
              >
                <FormLabel for="certNum">인증번호(6자리)</FormLabel>
                <FormControl>
                  <InputGroup>
                    <div class="certnum-count-wrap">
                      <template v-if="!checkComplete">
                        <countdown
                          :time="totalMilliseconds"
                          :auto-start="false"
                          ref="countdown"
                          :transform="transform"
                          @progress="timeProgress"
                          class="d-inline-block"
                        >
                          <div
                            slot-scope="props"
                            class="time txt-small txt-primary"
                          >
                            {{ props.minutes }}:{{ props.seconds }}
                          </div>
                        </countdown>
                        <NButton
                          v-if="validNumbBtnClicked"
                          color="black"
                          size="mini"
                          rounded
                          :disabled="
                            $v.phoneNumb.$invalid ||
                            $v.certNumb.$invalid ||
                            (this.timer.minutes === '00' &&
                              this.timer.seconds === '00')
                          "
                          @click="checkAuth()"
                          class="ml-2"
                          >인증번호 확인</NButton
                        >
                      </template>
                      <template v-else>
                        <div class="txt-tiny txt-secondary">
                          인증 완료
                        </div>
                      </template>
                    </div>
                    <InputField
                      type="tel"
                      placeholder="인증번호"
                      id="certNum"
                      name="certNum"
                      ref="certNumbInput"
                      maxLength="6"
                      v-model="$v.certNumb.$model"
                      addClass="mk_join_code_btn"
                      :disabled="checkComplete"
                      @input="onCertNumChange"
                    />
                  </InputGroup>
                </FormControl>
                <FormMessage v-if="!checkComplete">{{
                  certNumbValid
                }}</FormMessage>
              </FormGroup>
              <div class="agreement-box">
                <div class="mb-4">
                  <div class="checkbox txt-small">
                    <input
                      type="checkbox"
                      name="checkbox"
                      id="selectAll"
                      v-model="selectAll"
                    />
                    <label for="selectAll" class="label-txt">
                      <span>전체동의</span>
                    </label>
                  </div>
                </div>
                <FormGroup>
                  <FormRow
                    v-for="(list, index) in checkList"
                    :key="index"
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="checkbox txt-tiny">
                      <input
                        type="checkbox"
                        name="checkbox"
                        :id="list.id"
                        :value="list"
                        v-model="selectedList"
                      />
                      <label :for="list.id" class="label-txt">
                        <span>
                          {{
                            `[${list.required ? '필수' : '선택'}] ${list.label}`
                          }}
                        </span>
                      </label>
                    </div>
                    <Button
                      class="btn-text btn-underline txt-tiny"
                      @click="showAgreeModal(list.id)"
                      >자세히 보기</Button
                    >
                  </FormRow>
                </FormGroup>
              </div>
              <div class="btn-box mt-8">
                <!-- 필수항목 전체 동의 수정 20.03.16 -->
                <NButton
                  color="primary"
                  size="medium"
                  block
                  class="mk_join_com_btn"
                  :disabled="
                    $v.name.$invalid ||
                    $v.phoneNumb.$invalid ||
                    $v.certNumb.$invalid ||
                    isIdAlreadyExist ||
                    !checkComplete ||
                    !allRequired
                  "
                  @click="register()"
                  >회원가입</NButton
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <!-- 서비스 이용약관 동의 모달 -->
    <CustomModal
      animation="slideInUp"
      :visible="serviceInfo"
      headerType="default"
      id="service"
      title="서비스 이용약관"
      noBtn="닫기"
      @close="serviceInfo = false"
    >
      <TermsOfUse />
    </CustomModal>
    <!-- 개인정보 수집 동의 모달 -->
    <CustomModal
      animation="slideInUp"
      :visible="privacyInfo"
      headerType="default"
      id="privacy"
      title="개인정보 취급방침"
      noBtn="닫기"
      @close="privacyInfo = false"
    >
      <Privacy />
    </CustomModal>
    <!-- 마케팅 수신 동의 모달 -->
    <CustomModal
      animation="slideInUp"
      :visible="marketingInfo"
      headerType="default"
      id="marketing"
      title="마케팅 정보 수신에 대한 동의"
      noBtn="닫기"
      @close="marketingInfo = false"
    >
      <Marketing />
    </CustomModal>
    <!-- // -->
  </main>
</template>

<script>
import EmptyHeader from '@/components/Navigation/EmptyHeader';
import SvgCharAni from '@/components/UI/SvgCharAni';
import TermsOfUse from '@/components/Agreement/TermsOfUse';
import Privacy from '@/components/Agreement/Privacy';
import Marketing from '@/components/Agreement/Marketing';
import CustomModal from '@/components/Modal/CustomModal';
import {
  required,
  minLength,
  maxLength,
  numeric,
  between,
  alphaNum,
} from 'vuelidate/lib/validators';
import Cookie from 'js-cookie';

export default {
  name: 'join',
  layout: 'empty',
  middleware: ['login-page-guard'],
  components: {
    EmptyHeader,
    SvgCharAni,
    CustomModal,
    TermsOfUse,
    Privacy,
    Marketing,
  },
  data() {
    return {
      selectedList: [],
      checkList: [
        {
          id: 'service',
          label: '서비스 이용약관 동의',
          required: true,
        },
        {
          id: 'privacy',
          label: '개인정보취급방침 및 제3자 제공 동의',
          required: true,
        },
        {
          id: 'marketing',
          label: '마케팅 정보 수신 동의',
          required: false,
        },
      ],
      serviceInfo: false,
      privacyInfo: false,
      marketingInfo: false,
      validNumbBtnClicked: false,
      preventResend: false,
      phoneNumb: '',
      certNumb: '',
      name: '',
      timer: {},
      totalMilliseconds: 3 * 60 * 1000,
      resendButtonClicked: false,
      isNotUser: false,
      checkComplete: false,
      phoneNumbErrMessage: '',
      isIdAlreadyExist: false,
    };
  },
  watch: {
    async phoneNumb() {
      if (this.phoneNumbValid) {
        if (await this.isIdExist()) {
          this.phoneNumbErrMessage = '이미 회원가입한 핸드폰번호입니다';
          this.isIdAlreadyExist = true;
        } else {
          this.isIdAlreadyExist = false;
        }
      }
    },
  },

  computed: {
    nameValid() {
      // 이름 유효성 체크
      if (!this.$v.name.required && this.$v.name.$dirty) {
        return '이름을 입력해주세요';
      } else if (!this.$v.name.minLength) {
        return '최소 2자리여야 합니다';
      } else if (!this.$v.name.maxLength) {
        return '최대 20자리여야 합니다';
      }
    },
    phoneNumbValid() {
      // 휴대폰번호 유효성 체크
      if (!this.$v.phoneNumb.required && this.$v.phoneNumb.$dirty) {
        this.phoneNumbErrMessage = '핸드폰번호를 입력해주세요';
        return false;
      } else if (!this.$v.phoneNumb.numeric) {
        this.phoneNumbErrMessage = '숫자만 가능합니다';
        return false;
      } else if (!this.$v.phoneNumb.minLength || !this.$v.phoneNumb.maxLength) {
        this.phoneNumbErrMessage = '11자리 숫자여야 합니다';
        return false;
      } else {
        this.phoneNumbErrMessage = '';
        return true;
      }
    },
    certNumbValid() {
      // 인증번호 유효성 체크
      if (this.preventResend && this.resendButtonClicked) {
        return '재발송은 1분후에 가능합니다.';
      } else if (!this.$v.certNumb.required && this.$v.certNumb.$dirty) {
        return '인증번호를 입력해주세요.';
      } else if (
        this.timer.minutes === '00' &&
        this.timer.seconds === '00' &&
        this.validNumbBtnClicked
      ) {
        return '재발송 버튼을 누르고 다시 입력해 주세요';
      } else if (!this.$v.certNumb.numeric) {
        return '숫자만 가능합니다';
      } else if (!this.$v.certNumb.minLength || !this.$v.certNumb.maxLength) {
        return '6자리 숫자여야 합니다';
      } else if (this.authError) {
        return '인증번호가 일치하지 않습니다';
      }
    },
    allRequired() {
      // 필수 체크항목들의 체크 여부
      return this.requiredList.length === this.selectedRequired.length;
    },
    requiredList() {
      // 필수 체크 리스트
      return this.checkList.filter((item) => {
        if (item.required) {
          return true;
        }
      });
    },
    selectedRequired() {
      // 선택된 필수 체크 리스트
      return this.selectedList.filter((item) => {
        if (item.required) {
          return true;
        }
      });
    },
    selectedListId() {
      // 체크된 id 리스트
      return this.selectedList.map((item) => {
        return item.id;
      });
    },
    selectAll: {
      get() {
        // 체크리스트가 모두 체크 되었을 때
        return this.checkList
          ? this.checkList.length === this.selectedList.length
          : false;
      },
      set(value) {
        // 전체동의 체크 눌렀을때
        const selected = [];
        if (value) {
          // TODO: map으로 변경 (성능상)
          this.checkList.map((item) => {
            selected.push(item);
          });
        }
        this.selectedList = selected;
      },
    },
  },
  methods: {
    onCertNumChange() {
      // 인증번호 input change시 인증번호 에러 관련, 재전송버튼 클릭 관련 이벤트 초기화
      this.authError = false;
      this.resendButtonClicked = false;
    },
    showAgreeModal(id) {
      // 약관 동의 모달
      switch (id) {
        case 'service':
          this.serviceInfo = true;
          break;
        case 'privacy':
          this.privacyInfo = true;
          break;
        case 'marketing':
          this.marketingInfo = true;
          break;
        default:
          break;
      }
    },
    transform(props) {
      Object.entries(props).forEach(([key, value]) => {
        // Adds leading zero
        const digits = value < 10 ? `0${value}` : value;
        props[key] = `${digits}`;
      });
      this.timer = props;
      return props;
    },
    sendCertNumb(val) {
      // 재발송 버튼 클릭 시
      if (this.preventResend) {
        this.resendButtonClicked = true;
        return;
      }
      // 처음 인증번호 발송 버튼 클릭시
      if (!val) {
        this.validNumbBtnClicked = true;
      }
      this.checkComplete = false;
      this.getAuth();
    },
    timeProgress(data) {
      // 2분 이하 실행
      if (data.totalSeconds <= 120) {
        this.preventResend = false;
        return;
      }
    },
    getAuth() {
      // 인증 번호 받기
      return this.$axios
        .$post('/userLogin/getAuth', {
          PHONE: this.$v.phoneNumb.$model,
        })
        .then((res) => {
          if (res.isSent) {
            this.certNumb = '';
            this.$nextTick(() =>
              this.$refs.certNumbInput.$el.children[0].focus(),
            );
            this.$refs.countdown.totalMilliseconds = this.totalMilliseconds;
            this.$refs.countdown.start();
            this.preventResend = true;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    checkAuth() {
      // 인증 번호 체크
      return this.$axios
        .$post('/userLogin/checkAuth', {
          PHONE: this.$v.phoneNumb.$model,
          AUTH_CODE: this.$v.certNumb.$model,
        })
        .then((res) => {
          if (res.isTrue) {
            this.checkComplete = true;
            this.preventResend = false;
            this.$refs.countdown.end();
          }
        })
        .catch((error) => {
          // 인증 번호 체크 에러
          if (error.response.status === 404) {
            this.authError = true;
          }
        });
    },
    register() {
      return this.$axios
        .$post('/userLogin/register', {
          PHONE: this.phoneNumb,
          NAME: this.name,
          SERVICE_YN: this.selectedListId.includes('service') ? 'Y' : 'N', // 서비스 이용약관 동의
          INFO_YN: this.selectedListId.includes('privacy') ? 'Y' : 'N', // 개인정보처리 취급 및 제 3자 정보 제공 동의
          MARKET_YN: this.selectedListId.includes('marketing') ? 'Y' : 'N', // SMS, 메일 등 마케팅 수신 동의
        })
        .then((res) => {
          //회원가입하면 자동으로 로그인됨
          this.$store
            .dispatch('user-auth/authenticateUser', this.phoneNumb)
            .then((res) => {
              //로그인 페이지로 리다이렉팅했다면
              if (
                this.$route.params.redirected &&
                this.$route.params.spaceType
              ) {
                // console.log(
                //   'this.$route.params.redirected&&this.$route.params.spaceType',
                //   this.$route.params.spaceType,
                // );
                this.$router.push({
                  path: this.$route.params.redirected,
                  query: { spaceType: this.$route.params.spaceType },
                });
              } else if (this.$route.params.redirected) {
                // console.log('this.$route.params.redirected');
                this.$router.push(this.$route.params.redirected);
              } else {
                this.$router.go(-1);
              }
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    isIdExist() {
      return this.$axios
        .$post('/userLogin/checkId', { PHONE: this.$v.phoneNumb.$model })
        .then((res) => {
          return true;
        })
        .catch((error) => {
          return false;
        });
    },
  },
  //vuelidate property
  validations: {
    phoneNumb: {
      numeric,
      required,
      minLength: minLength(11),
      maxLength: maxLength(11),
    },
    certNumb: {
      numeric,
      required,
      minLength: minLength(6),
      maxLength: maxLength(6),
    },
    name: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(20),
    },
  },
};
</script>
<style lang="scss">
// login
#join {
  .main-article {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light;
    padding: 3em 0;
    .article-section {
      background-color: $white;
      padding: 1.25em 0;
      min-width: 40%;
      max-width: 100%;
    }
    .certnum-button-wrap {
      position: absolute;
      right: 0.5em;
    }
    .certnum-count-wrap {
      position: absolute;
      right: 0.5em;
    }
  }
}
</style>
