<template>
  <div class="info-app-visit">
    <div class="inner-container d-flex align-items-center">
      <div class="info-box">
        <SpacePriceArea
          :deposit="deposit"
          :rentalfee="rentalfee"
          :pyeong="pyeong"
        ></SpacePriceArea>
        <div class="txt-box mt-1">
          <p class="txt-mini txt-black">
            입점 문의 후 신속하게 담당자가 연락드리겠습니다.
          </p>
        </div>
      </div>
      <div class="btn-box mt-0">
        <Button
          class="btn btn-medium btn-primary btn-rounded"
          :class="addClass"
          @click="toSpaceMeeting"
          >입점 문의</Button
        >
      </div>
    </div>
  </div>
</template>
<script>
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
export default {
  components: {
    SpacePriceArea,
  },
  props: ['deposit', 'rentalfee', 'pyeong', 'space', 'addClass', 'route'],
  methods: {
    async toSpaceMeeting() {
      //토큰 유효기간 검사
      await this.$checkTokenExpired();
      //store에 selectedSpace를 set하고 space-meetings 페이지로 이동
      this.$store.dispatch('spaces/setSelectedSpace', this.space);
      if (this.$store.getters.isAuthenticated) {
        this.$router.push(this.route);
      } else {
        this.$router.push({
          name: 'login',
          params: { redirected: this.route }, // form 으로 바로 연결
        });
      }
    },
  },
};
</script>
