<template>
  <div>
    <highcharts :options="chartOptions" />
  </div>
</template>
<script>
import Vue from "vue";
import Highcharts from "highcharts";
import VueHighcharts from "vue-highcharts";

Vue.use(VueHighcharts, {
  highcharts: Highcharts
});

export default {
  data() {
    return {
      chartOptions: {
        chart: {
          type: "column"
        },
        title: {
          text: null
        },
        xAxis: {
          categories: ["월", "화", "수", "목", "금", "토", "일"]
        },
        yAxis: {
          title: {
            text: null
          },
          visible: false
        },
        legend: false,
        series: [
          {
            data: [100, 50, 40, 30, 60, 10, 10],
            color: "#ff7a00"
          }
        ]
      }
    };
  }
};
</script>
<style lang="scss">
</style>