<template>
  <div class="d-flex justify-content-center">
    <div class="character">
      <!-- 남자 -->
      <SvgGenderCharacter>
        <!-- 캐릭터 body -->
        <SvgGenderBody :value="options.boy" fillColor="#7085FA" />
        <!-- 캐릭터 head -->
        <SvgGenderHead />
      </SvgGenderCharacter>
      <p class="txt-small">남</p>
      <p class="txt-large txt-black txt-bold percent">{{ options.boy }}%</p>
    </div>
    <div class="character">
      <!-- 여자 -->
      <SvgGenderCharacter>
        <!-- 캐릭터 body -->
        <SvgGenderBody :value="options.girl" fillColor="#FD7070" />
        <!-- 캐릭터 head -->
        <SvgGenderHead>
          <!-- 머리카락 추가-->
          <g class="hair">
            <g>
              <g>
                <path
                  d="M62.29,32.09c-0.3-0.44-0.77-0.73-1.29-0.8c-0.17-0.02-0.35-0.03-0.52-0.02c-0.35-0.02-0.7,0.04-1.03,0.16
				c-0.39,0.2-0.71,0.53-0.91,0.92c-0.15,0.32-0.24,0.69-0.24,1.04c0.01,0.45,0.14,0.89,0.37,1.27c0.3,0.44,0.77,0.73,1.29,0.8
				c0.17,0.02,0.35,0.03,0.52,0.02c0.35,0.02,0.7-0.04,1.03-0.16c0.4-0.2,0.71-0.52,0.91-0.92c0.15-0.31,0.23-0.65,0.23-1
				C62.64,32.96,62.52,32.47,62.29,32.09z"
                />
                <path
                  class="st2"
                  d="M64.28,32.29c-0.16-0.5-0.43-0.96-0.78-1.35c-0.35-0.38-0.76-0.69-1.22-0.94c-0.46-0.28-0.97-0.46-1.5-0.53
				l-0.22-0.02c-0.64-0.04-1.28,0.12-1.83,0.44c-0.54,0.32-1,0.75-1.36,1.27c-0.26,0.36-0.46,0.75-0.6,1.16
				c-0.06,0.18-0.11,0.36-0.15,0.54c-0.05,0.24-0.08,0.47-0.08,0.71c0,0.24,0.03,0.48,0.09,0.72c0.01,0.06,0.03,0.12,0.05,0.18
				c0.16,0.5,0.43,0.96,0.78,1.35c0.35,0.38,0.76,0.69,1.22,0.94c0.46,0.28,0.97,0.46,1.5,0.53l0.22,0.02
				c0.64,0.04,1.28-0.12,1.83-0.44c0.54-0.32,1-0.75,1.35-1.28c0.44-0.66,0.76-1.39,0.81-2.19c0-0.09,0.01-0.18,0-0.27
				C64.39,32.85,64.36,32.56,64.28,32.29z M61.51,35.33c-0.33,0.12-0.68,0.17-1.03,0.16c-0.17,0.01-0.35,0-0.52-0.02
				c-0.52-0.07-0.99-0.36-1.29-0.8c-0.23-0.39-0.36-0.82-0.37-1.27c0-0.35,0.09-0.72,0.24-1.04c0.2-0.4,0.51-0.72,0.91-0.92
				c0.33-0.12,0.68-0.17,1.03-0.16c0.17-0.01,0.35,0,0.52,0.02c0.52,0.07,0.99,0.36,1.29,0.8c0.23,0.38,0.35,0.87,0.36,1.31
				c0,0.35-0.08,0.69-0.23,1C62.23,34.8,61.91,35.12,61.51,35.33z"
                />
              </g>
              <g>
                <path
                  d="M66.74,40.96c-0.3-0.44-0.77-0.73-1.29-0.8c-0.17-0.02-0.35-0.03-0.52-0.02c-0.35-0.02-0.7,0.04-1.03,0.16
				c-0.39,0.2-0.71,0.53-0.91,0.92c-0.15,0.32-0.24,0.69-0.24,1.04c0.01,0.45,0.14,0.89,0.37,1.27c0.3,0.44,0.77,0.73,1.29,0.8
				c0.17,0.02,0.35,0.03,0.52,0.02c0.35,0.02,0.7-0.04,1.03-0.16c0.4-0.2,0.71-0.52,0.91-0.92c0.15-0.31,0.23-0.65,0.23-1
				C67.09,41.82,66.97,41.34,66.74,40.96z"
                />
                <path
                  class="st2"
                  d="M68.73,41.15c-0.16-0.5-0.43-0.96-0.78-1.35c-0.35-0.38-0.76-0.69-1.22-0.94c-0.46-0.28-0.97-0.46-1.5-0.53
				l-0.22-0.02c-0.64-0.04-1.28,0.12-1.83,0.44c-0.54,0.32-1,0.75-1.36,1.27c-0.26,0.36-0.46,0.75-0.6,1.16
				c-0.06,0.18-0.11,0.36-0.15,0.54c-0.05,0.24-0.08,0.47-0.08,0.71c0,0.24,0.03,0.48,0.09,0.72c0.01,0.06,0.03,0.12,0.05,0.18
				c0.16,0.5,0.43,0.96,0.78,1.35c0.35,0.38,0.76,0.69,1.22,0.94c0.46,0.28,0.97,0.46,1.5,0.53l0.22,0.02
				c0.64,0.04,1.28-0.12,1.83-0.44c0.54-0.32,1-0.75,1.35-1.28c0.44-0.66,0.76-1.39,0.81-2.19c0-0.09,0.01-0.18,0-0.27
				C68.84,41.72,68.81,41.43,68.73,41.15z M65.97,44.19c-0.33,0.12-0.68,0.17-1.03,0.16c-0.17,0.01-0.35,0-0.52-0.02
				c-0.52-0.07-0.99-0.36-1.29-0.8c-0.23-0.39-0.36-0.82-0.37-1.27c0-0.35,0.09-0.72,0.24-1.04c0.2-0.4,0.51-0.72,0.91-0.92
				c0.33-0.12,0.68-0.17,1.03-0.16c0.17-0.01,0.35,0,0.52,0.02c0.52,0.07,0.99,0.36,1.29,0.8c0.23,0.38,0.35,0.87,0.36,1.31
				c0,0.35-0.08,0.69-0.23,1C66.68,43.67,66.36,43.99,65.97,44.19z"
                />
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M11.4,32.09c0.3-0.44,0.77-0.73,1.29-0.8c0.17-0.02,0.35-0.03,0.52-0.02c0.35-0.02,0.7,0.04,1.03,0.16
				c0.39,0.2,0.71,0.53,0.91,0.92c0.15,0.32,0.24,0.69,0.24,1.04c-0.01,0.45-0.14,0.89-0.37,1.27c-0.3,0.44-0.77,0.73-1.29,0.8
				c-0.17,0.02-0.35,0.03-0.52,0.02c-0.35,0.02-0.7-0.04-1.03-0.16c-0.4-0.2-0.71-0.52-0.91-0.92c-0.15-0.31-0.23-0.65-0.23-1
				C11.05,32.96,11.17,32.47,11.4,32.09z"
                />
                <path
                  class="st2"
                  d="M9.29,33.14c0,0.09,0,0.18,0,0.27c0.04,0.79,0.36,1.53,0.81,2.19c0.35,0.52,0.81,0.96,1.35,1.28
				c0.55,0.33,1.19,0.48,1.83,0.44l0.22-0.02c0.53-0.07,1.04-0.25,1.5-0.53c0.45-0.24,0.86-0.56,1.22-0.94
				c0.35-0.39,0.62-0.85,0.78-1.35c0.02-0.06,0.03-0.12,0.05-0.18c0.06-0.24,0.09-0.48,0.09-0.72s-0.03-0.47-0.08-0.71
				c-0.04-0.18-0.09-0.36-0.15-0.54c-0.14-0.41-0.35-0.81-0.6-1.16c-0.35-0.52-0.81-0.96-1.36-1.27c-0.55-0.33-1.19-0.48-1.83-0.44
				l-0.22,0.02c-0.53,0.07-1.04,0.25-1.5,0.53c-0.45,0.24-0.86,0.56-1.22,0.94C9.83,31.34,9.56,31.8,9.4,32.3
				C9.33,32.56,9.29,32.85,9.29,33.14z M11.26,34.4c-0.15-0.31-0.23-0.65-0.23-1c0.01-0.45,0.13-0.93,0.36-1.31
				c0.3-0.44,0.77-0.73,1.29-0.8c0.17-0.02,0.35-0.03,0.52-0.02c0.35-0.02,0.7,0.04,1.03,0.16c0.39,0.2,0.71,0.53,0.91,0.92
				c0.15,0.32,0.24,0.69,0.24,1.04c-0.01,0.45-0.14,0.89-0.37,1.27c-0.3,0.44-0.77,0.73-1.29,0.8c-0.17,0.02-0.35,0.03-0.52,0.02
				c-0.35,0.02-0.7-0.04-1.03-0.16C11.78,35.12,11.46,34.8,11.26,34.4z"
                />
              </g>
              <g>
                <path
                  d="M6.94,40.96c0.3-0.44,0.77-0.73,1.29-0.8c0.17-0.02,0.35-0.03,0.52-0.02c0.35-0.02,0.7,0.04,1.03,0.16
				c0.39,0.2,0.71,0.53,0.91,0.92c0.15,0.32,0.24,0.69,0.24,1.04c-0.01,0.45-0.14,0.89-0.37,1.27c-0.3,0.44-0.77,0.73-1.29,0.8
				c-0.17,0.02-0.35,0.03-0.52,0.02c-0.35,0.02-0.7-0.04-1.03-0.16c-0.4-0.2-0.71-0.52-0.91-0.92c-0.15-0.31-0.23-0.65-0.23-1
				C6.6,41.82,6.71,41.34,6.94,40.96z"
                />
                <path
                  class="st2"
                  d="M4.83,42c0,0.09,0,0.18,0,0.27c0.04,0.79,0.36,1.53,0.81,2.19C6,44.98,6.46,45.42,7,45.73
				c0.55,0.33,1.19,0.48,1.83,0.44l0.22-0.02c0.53-0.07,1.04-0.25,1.5-0.53c0.45-0.24,0.86-0.56,1.22-0.94
				c0.35-0.39,0.62-0.85,0.78-1.35c0.02-0.06,0.03-0.12,0.05-0.18c0.06-0.24,0.09-0.48,0.09-0.72s-0.03-0.47-0.08-0.71
				c-0.04-0.18-0.09-0.36-0.15-0.54c-0.14-0.41-0.35-0.81-0.6-1.16c-0.35-0.52-0.81-0.96-1.36-1.27c-0.55-0.33-1.19-0.48-1.83-0.44
				l-0.22,0.02c-0.53,0.07-1.04,0.25-1.5,0.53C6.5,39.1,6.09,39.42,5.74,39.8c-0.35,0.39-0.62,0.85-0.78,1.35
				C4.87,41.43,4.84,41.72,4.83,42z M6.81,43.27c-0.15-0.31-0.23-0.65-0.23-1c0.01-0.45,0.13-0.93,0.36-1.31
				c0.3-0.44,0.77-0.73,1.29-0.8c0.17-0.02,0.35-0.03,0.52-0.02c0.35-0.02,0.7,0.04,1.03,0.16c0.39,0.2,0.71,0.53,0.91,0.92
				c0.15,0.32,0.24,0.69,0.24,1.04c-0.01,0.45-0.14,0.89-0.37,1.27c-0.3,0.44-0.77,0.73-1.29,0.8c-0.17,0.02-0.35,0.03-0.52,0.02
				c-0.35,0.02-0.7-0.04-1.03-0.16C7.33,43.99,7.01,43.67,6.81,43.27z"
                />
              </g>
            </g>
          </g>
          <!-- // -->
        </SvgGenderHead>
      </SvgGenderCharacter>
      <p class="txt-small">여</p>
      <p class="txt-large txt-black txt-bold percent">{{ options.girl }}%</p>
    </div>
  </div>
</template>
<script>
import SvgGenderCharacter from "@/components/Spaces/SvgGenderCharacter";
import SvgGenderHead from "@/components/Spaces/SvgGenderHead";
import SvgGenderBody from "@/components/Spaces/SvgGenderBody";
export default {
  name: "ChartGender",
  props: {
    options: {
      type: Object
    }
  },
  components: {
    SvgGenderCharacter,
    SvgGenderHead,
    SvgGenderBody
  }
};
</script>
<style lang="scss" scoped>
.character {
  position: relative;
  .percent {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 25%;
  }
}
</style>
