<template>
  <div class="detail-box">
    <div class="inner-container">
      <div class="title-box" v-if="!noTitle">
        <slot name="title">타이틀영역</slot>
      </div>
      <div class="content-box">
        <slot name="content">기본내용</slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    noTitle: {
      // 타이틀 미노출
      type: Boolean,
      default: false,
    },
  },
};
</script>
