<template>
  <div class="w-20p mb-4 txt-center">
    <div class="icon-box" v-if="icon">
      <img v-lazy="icon" alt="text" style="max-height: 2.25em;" />
    </div>
    <div class="txt-box mt-1">
      <p class="txt-tiny txt-black" v-html="text">{{ text }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FacilityInfo',
  props: ['label', 'text', 'icon'],
};
</script>

<style lang="scss" scoped></style>
