<template>
  <div class="genderCharcter" :class="gender">
    <slot></slot>
  </div>
</template>
<script>
export default {
  props: ['gender'],
};
</script>
<style lang="scss" scoped>
.genderCharcter {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 140px;
  height: 247px;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  &.boy {
    .bar {
      background-color: skyblue;
    }
    &::before {
      background-image: url('~assets/images/spaces/gender_boy.png');
    }
  }
  &.girl {
    .bar {
      background-color: pink;
    }
    &::before {
      background-image: url('~assets/images/spaces/gender_girl.png');
    }
  }
}
</style>
