<template>
  <section class="article-section search-wrapper">
    <div class="inner-container">
      <div class="select-box row no-gutters">
        <div class="col-6">
          <FormLabel for="region">지역선택</FormLabel>
          <div class="row no-gutters">
            <div class="col-6">
              <nSelect
                :items="addresses"
                placeholder="시/도"
                @selected="sidoSelected"
              />
            </div>
            <div class="col-6">
              <nSelect
                :items="filteredGungu"
                placeholder="군/구"
                @selected="gunguSelected"
              />
            </div>
          </div>
        </div>
        <div class="col-6">
          <FormLabel for="cate">공간유형</FormLabel>
          <div class>
            <nSelect
              :items="spaceTypes"
              placeholder="유형을 선택해주세요"
              @selected="selectSpaceType"
              type="spaceType"
            />
          </div>
        </div>
      </div>
      <div class="btn-box mt-4">
        <Button
          @click="searchSpaces"
          class="btn btn-medium btn-primary btn-block"
          >검색</Button
        >
      </div>
      <div class="filter-box">
        <div class="d-flex align-items-center justify-content-between">
          <h3 v-if="spaces.length > 0">
            <span class="txt-primary">{{ spaces.length }}개</span>의 공간
          </h3>
          <Button class="btn-sort" @click="showSortList">정렬</Button>
        </div>
        <div
          v-show="sortList"
          class="sort-list d-flex flex-wrap align-items-center mt-4"
        >
          <Button class="btn btn-tiny btn-outline-gray btn-rounded"
            >추천 순</Button
          >
          <Button class="btn btn-tiny btn-outline-gray btn-rounded"
            >높은가격 순</Button
          >
          <Button class="btn btn-tiny btn-outline-gray btn-rounded"
            >낮은가격 순</Button
          >
          <Button class="btn btn-tiny btn-outline-gray btn-rounded"
            >큰 매장 순</Button
          >
          <Button class="btn btn-tiny btn-outline-gray btn-rounded"
            >작은 매장 순</Button
          >
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { searchSpaces } from "@/assets/mixins/searchSpaces";
export default {
  name: "SearchBox",
  mixins: [searchSpaces],
  props: ["spaces"],
  created() {
    //스토어에 공간리스트가 없을 경우(새로고침 등) 전체 데이터를 api에서 가져옴
    if (this.$store.state.spaces.spaces == null) {
      this.$store.dispatch("spaces/getSpaces");
    }
  },
  computed: {
    spaces() {
      return this.$store.state.spaces.spaces;
    },
    showingSpaces() {
      let showingSpaces = [];
      if (this.spaces) {
        showingSpaces = this.spaces.slice(
          0,
          this.$store.state.spaces.showingSpacesNum
        );
      }

      return showingSpaces;
    },
    showShowMoreBtn() {
      return this.$store.getters["spaces/showShowMoreBtn"];
    }
  },
  async asyncData(context) {
    //지역선택 주소가져옴(ex)서울시,동구)
    let addressRes = await context.$axios.get("/address");
    return {
      addresses: addressRes.data.SIGUNGU_INFO
    };
  },
  methods: {
    searchSpaces() {
      //공간 검색
      this.$store.dispatch("spaces/getSpaces", {
        CODE: this.queryCode,
        SPACE_TYPE_NO: this.selectedSpaceType
      });
    },
    showSortList() {
      this.sortList = !this.sortList;
    }
  }
};
</script>
