<template>
  <div class="col-12 col-md-6 col-lg-12">
    <div class="space-preview" @click="toDetailSpace">
      <div class="space-preview-img lazy-preload">
        <img
          v-lazy="`${baseUrl}/${mainImage.FILE_PATH}`"
          loading="lazy"
          alt
          v-if="mainImage"
        />
        <img
          v-lazy="require('@/assets/images/common/no_img.png')"
          loading="lazy"
          alt
          v-else
        />
      </div>
      <div class="space-preview-body">
        <span class="space-preview-cate">
          <Badge
            color="darkorange"
            size="mini"
            text="식당형"
            v-if="type === 1"
          />
          <Badge color="lightblue" size="mini" text="배달형" v-else />
        </span>
        <h4 class="space-preview-title">{{ name }}</h4>
        <p class="space-preview-address">
          {{ sido }} {{ sigungu }} {{ bname }}
        </p>
        <!-- 임대료 / 평수 추가 내용 -->
        <div class="mt-2">
          <SpacePriceArea
            :deposit="deposit"
            :rentalfee="rentalfee"
            :pyeong="pyeong"
          ></SpacePriceArea>
        </div>
        <!-- -->
      </div>
    </div>
  </div>
</template>

<script>
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
export default {
  props: {
    name: String,
    address: String,
    no: Number,
    files: Array,
    rentalfee: String, // 임대료
    pyeong: String, // 평수
    type: Number,
    sido: String,
    sigungu: String,
    bname: String,
    deposit: String,
  },
  name: 'SpacePreview',
  components: {
    SpacePriceArea,
  },
  data() {
    return {
      baseUrl: process.env.baseUrl,
    };
  },
  computed: {
    mainImage() {
      let result = null;
      if (this.files) {
        result = this.files.find((e) => e.MAIN_YN === 'Y');
      }

      return result;
    },
  },
  methods: {
    toDetailSpace(value) {
      this.$router.push('/restaurant-kitchen/' + this.no);
    },
  },
};
</script>

<style lang="scss">
.space-preview {
  position: relative;
  min-width: 200px;
  height: 100%;
  padding: 0;
  border: 0;
  border-radius: 0;
  overflow: hidden;

  img {
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  + .space-preview {
    margin-top: 1.5em;
  }

  a:hover {
    text-decoration: none;
  }
  .space-preview-img {
    position: relative;
    padding-bottom: 60%;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .space-preview-body {
    padding: 1em;

    .space-preview-cate {
      position: absolute;
      left: 1em;
      top: 1em;
      .badge {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
      }
    }
    .space-preview-title {
      font-size: 1.6rem;
      color: $black;
      font-weight: 600;
    }
    .space-preview-address {
      font-size: 1.4rem;
      color: $black;
    }
  }
}
</style>
