<template>
  <div class="newspace-list" v-if="spaces.length > 0">
    <div v-swiper:newspace="newspaceOption">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="space in spaces" :key="space.no">
          <div class="space-preview">
            <div @click="$router.push(`/restaurant-kitchen/${space.no}`)">
              <div class="space-preview-img lazy-preload">
                <img
                  v-lazy="`${baseUrl}/${space.fileManagements[0].filePath}`"
                  loading="lazy"
                  alt
                  v-if="
                    space.fileManagements && space.fileManagements[0].filePath
                  "
                />
                <img
                  v-lazy="require('@/assets/images/common/no_img.png')"
                  loading="lazy"
                  alt
                  v-else
                />
              </div>
              <div class="space-preview-body">
                <div class="row-box">
                  <h4
                    class="space-preview-title"
                    v-if="space.showName || space.name"
                  >
                    {{ space.showName ? space.showName : space.name }}
                  </h4>
                  <p
                    class="space-preview-address"
                    v-if="space.sido || space.gungu"
                  >
                    {{ space.sido }}
                    {{ space.gungu }}
                    {{ space.bName }}
                  </p>
                </div>
                <div class="row-box mt-2" v-if="space.rentalFee || space.size">
                  <SpacePriceArea
                    :deposit="space.deposit"
                    :rentalfee="space.rentalFee"
                    :pyeong="space.size"
                  ></SpacePriceArea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-md-block mt-8 txt-center">
        <NButton
          color="outline-gray"
          size="tiny"
          icon
          circle
          class="swiper-button-prev"
        >
          <i class="icon icon-arrow-angle-left txt-bold"></i>
          <span class="is-blind">이전으로</span>
        </NButton>
        <NButton
          color="outline-gray"
          size="tiny"
          icon
          circle
          class="swiper-button-next"
        >
          <i class="icon icon-arrow-angle-right txt-bold"></i>
          <span class="is-blind">다음으로</span>
        </NButton>
      </div>
    </div>
  </div>
</template>
<script>
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
export default {
  props: {
    spaces: {
      type: Array,
      default: () => [],
    },
  },
  components: {
    SpacePriceArea,
  },
  data() {
    return {
      baseUrl: process.env.baseUrl,
      newspaceOption: {
        loop: false,
        slidesPerView: 2,
        centeredSlides: false,
        freeMode: true,
        spaceBetween: 16,
        grabCursor: true,
        lazy: {
          loadPrevNext: true,
          preloaderClass: 'lazy-loader',
        },
        fadeEffect: {
          crossFade: true,
        },
        preloadImages: true,
        pagination: false,
        navigation: {
          nextEl: '.newspace-list .swiper-button-next ',
          prevEl: '.newspace-list .swiper-button-prev',
          hideOnClick: false,
          disabledClass: 'swiper-button-disabled',
          hiddenClass: 'swiper-button-hidden',
        },
        breakpoints: {
          1023: {
            slidesPerView: 'auto',
          },
        },
      },
    };
  },

  created() {
    // console.log(this.baseUrl);
  },
};
</script>
<style lang="scss">
.newspace-list {
  .swiper-container {
    .swiper-slide {
      min-width: 200px;
      width: 56%;
      &.more-slide {
        width: 25%;
        padding-top: 30%;
        .inner-box {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .swiper-button-prev {
      position: static;
      left: 0;
    }
    .swiper-button-next {
      position: static;
      right: 0;
    }
  }

  @media screen and (min-width: 576px) {
    // .swiper-slide {
    //   width: 43%;
    // }
  }
}
</style>
