<template>
  <div>
    <div class="average-list" v-for="(item, index) in avgSales" :key="index">
      <div class="d-flex align-items-center">
        <div class="avarage-title col-4 px-4 py-0">
          <span class="mr-4">{{ index + 1 }}</span>
          <span>{{ item.title }}</span>
        </div>
        <div class="avarage-bars col-5 px-4 py-0">
          <span class="avarage-bar" style="width:50%"></span>
        </div>
        <div class="avarage-price col-3 px-4 py-0">{{ item.price }} : {{percent}}</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["avgSales"],
  data() {
    return {
      total: 3000,
      value: 0
    };
  },
  computed: {
    Max() {
      return Math.max.apply(
        Math,
        this.avgSales.map(v => {
          return v.price;
        })
      );
    },
    percent() {
      return this.avgSales.map(v => {
        return (v.price / this.max) * 100;
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.average-list {
  padding: 8px 0;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    .avarage-title {
      color: $primary;
    }
    .avarage-price {
      color: $primary;
    }
    .avarage-bar {
      background-color: $primary;
    }
  }
  + .average-list {
    border-top: 1px solid #ddd;
  }

  .avarage-title {
    font-size: 12px;
    color: $gray;
  }
  .avarage-price {
    font-size: 12px;
    color: #212121;
  }

  .avarage-bar {
    display: inline-block;
    width: 100%;
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
  }
}
</style>
