<template>
  <div v-if="rentalfee || deposit || pyeong">
    <div
      class="d-flex align-items-center mb-1 mr-4"
      v-if="rentalfee || deposit"
    >
      <i class="icon icon-info-won txt-large txt-primary"></i>
      <span class="txt-black ml-2 is-nowrap">
        <template v-if="deposit !== '' && deposit != '0'">
          <span class="txt-large txt-bolder">{{ deposit }}</span>
          <span class="txt-small">만원</span>
        </template>
        <template v-else>
          <span class="txt-bold txt-small">보증금 없음</span>
        </template>
        <span class="txt-small">/</span>
      </span>
      <span class="txt-black ml-2 is-nowrap">
        <template v-if="rentalfee">
          <span class="txt-large txt-bolder">{{ rentalfee }}</span>
          <span class="txt-small">만원</span>
        </template>
        <template v-else>
          <span class="txt-bold txt-small">월세 없음</span>
        </template>
      </span>
    </div>
    <div class="d-flex align-items-center mb-1" v-if="pyeong">
      <i class="icon icon-info-pyeong txt-large txt-primary"></i>
      <span class="txt-black ml-2 is-nowrap">
        <span class="txt-large txt-bolder">{{ pyeong }}</span>
        <span class="txt-small">평</span>
      </span>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    rentalfee: String | Number,
    pyeong: String | Number,
    deposit: String | Number,
  },
};
</script>
