<template>
  <div class="space-list">
    <div class="row gutter-16 align-items-stretch">
      <SpacePreview
        v-for="space in spaces"
        :key="space.NO"
        :name="space.SHOW_NAME"
        :address="space.ADDRESS"
        :no="space.NO"
        :files="space.FILE_MANAGEMENT"
        :rentalfee="space.RENTAL_FEE"
        :deposit="space.DEPOSIT"
        :pyeong="space.SIZE"
        :type="space.SPACE_TYPE_NO"
        :sido="space.SIDO"
        :sigungu="space.SIGUNGU"
        :bname="space.BNAME"
      />
    </div>
  </div>
</template>

<script>
import SpacePreview from '@/components/Spaces/SpacePreview';
export default {
  name: 'SpaceList',
  props: ['spaces'],
  components: { SpacePreview },
};
</script>

<style></style>
