<template>
  <g class="body">
    <mask id="myMask">
      <path
        class="st1"
        d="M1.19,124.2c0.77-5.1,1.69-9.98,2.67-15.04C5.88,98.64,8.2,88.16,11.2,77.88c2.51-8.61,5.25-18.49,11.01-25.59
	c7.11-8.76,23.99-7.29,30.68,1.29c5.55,7.12,7.29,16.19,8.87,24.85c1.57,8.62,2.98,17.27,4.36,25.93
	c0.19,1.18,2.64,19.85,3.06,19.85C69.17,124.2,1.19,124.2,1.19,124.2z"
      />
    </mask>
    <!-- 그래프 영역 -->
    <g mask="url(#myMask)">
      <rect
        x="0.94"
        y="46.18"
        class="st0"
        width="67.91"
        height="76.98"
        :fill="fillColor"
        :style="{ transform: 'scaleY(' + scaleValue + ')' }"
      ></rect>
    </g>
    <!-- // 그래프 영역 -->
    <g>
      <path
        class="st1"
        d="M41.89,49.07c-1.33-0.32-2.69-0.47-4.05-0.42l-1.4,0.06c-0.46,0.03-0.92-0.02-1.39-0.03l-0.7-0.02
			c-0.23,0.01-0.47,0.02-0.7,0.04c-1.13,0.12-2.25,0.35-3.34,0.7c-0.46,0.13-0.89,0.3-1.32,0.45c-0.07,0.03-0.14,0.06-0.2,0.08
			c0.16,0.18,0.3,0.37,0.4,0.59c0.16,0.33,0.3,0.68,0.42,1.03c0.04,0.16,0.08,0.33,0.13,0.51c0.04,0.18,0.08,0.34,0.13,0.48
			c0.09,0.26,0.21,0.51,0.3,0.74l0,0c0.11,0.29,0.25,0.55,0.38,0.81c0.13,0.27,0.29,0.51,0.45,0.77s0.37,0.49,0.58,0.76
			c0.12,0.13,0.25,0.24,0.38,0.38c0.14,0.14,0.28,0.27,0.44,0.38c0.8,0.62,1.71,1.06,2.69,1.3c0.95,0.23,1.92,0.37,2.9,0.42h0.34
			c0.42,0.02,0.83-0.03,1.26-0.05c0.21-0.02,0.42-0.07,0.63-0.1c0.21-0.03,0.42-0.09,0.62-0.16c0.78-0.28,1.5-0.71,2.13-1.26
			c0.17-0.16,0.36-0.3,0.51-0.47l0.45-0.48c0.14-0.16,0.26-0.32,0.38-0.47c0.11-0.13,0.22-0.26,0.31-0.4
			c0.39-0.52,0.72-1.05,0.98-1.49l0.32-0.57l0.3-0.65c0.06-0.15,0.11-0.32,0.12-0.48l0.09-0.63c0-0.04,0.02-0.08,0.02-0.11
			c-0.39-0.19-0.79-0.36-1.19-0.52C44.23,49.81,43.1,49.43,41.89,49.07z"
      />
      <path
        class="st2"
        d="M69.98,121.84c-0.04-0.16-0.06-0.33-0.07-0.49c-0.02-0.48-0.02-0.94-0.06-1.44
			c-0.02-0.51-0.07-1.06-0.16-1.72c-0.16-1.22-0.74-3.67-0.87-4.89c-0.09-0.85-0.07-1.71-0.15-2.56c-0.01-0.11-0.02-0.23-0.02-0.34
			c-0.15-2-0.75-3.94-1.09-5.91c-0.08-0.45-0.14-0.91-0.18-1.37c-0.04-0.4-0.07-0.8-0.09-1.2c-0.02-0.25-0.03-0.5-0.05-0.74
			c-0.01-0.12-0.02-0.25-0.03-0.37c-0.01-0.11-0.02-0.22-0.04-0.33c-0.02-0.11-0.03-0.23-0.04-0.35c-0.03-0.25-0.06-0.5-0.1-0.75
			c0-0.03-0.01-0.06-0.01-0.09c-0.02-0.11-0.03-0.22-0.05-0.33c-0.2-1.21-0.88-3.64-1.05-4.85c-0.12-0.85-0.12-1.71-0.24-2.55
			l-0.04-0.34c-0.22-1.99-0.89-3.91-1.3-5.87c-0.33-1.58-0.35-2.57-0.51-3.8c-0.07-0.51-0.16-1.05-0.3-1.7
			c-0.26-1.2-1-3.61-1.23-4.81c-0.15-0.84-0.19-1.7-0.34-2.54c-0.02-0.11-0.03-0.23-0.05-0.34c-0.29-1.99-1.08-3.87-1.55-5.81
			c-0.19-0.77-0.32-1.47-0.45-2.08s-0.24-1.19-0.42-1.81c-0.15-0.58-0.34-1.15-0.57-1.71c-0.34-0.79-0.73-1.57-1.15-2.32
			c-0.47-0.86-0.97-1.69-1.28-2.26c-0.42-0.79-0.78-1.63-1.28-2.4c-0.06-0.11-0.13-0.21-0.2-0.32C54.4,52.53,53.66,51.7,52.8,51
			l-0.65-0.52c-0.22-0.17-0.45-0.32-0.67-0.48c-0.44-0.33-0.91-0.6-1.36-0.91c-1.46-0.92-2.33-1.49-3.52-2.1
			c-0.01-0.01-0.02-0.01-0.03-0.02c-0.55-0.26-1.15-0.5-1.73-0.68c-0.38-0.12-0.77-0.22-1.17-0.3c-0.45-0.1-0.94-0.18-1.44-0.25
			c-0.99-0.15-1.97-0.23-2.62-0.32c-0.89-0.13-1.79-0.32-2.7-0.36c-0.12-0.01-0.25-0.02-0.36-0.03c-2.14,0.01-4.26,0.34-6.3,1
			c-1.65,0.44-2.67,0.68-3.94,1.13c-0.26,0.1-0.53,0.21-0.81,0.33c-0.28,0.12-0.58,0.29-0.9,0.47c-0.3,0.16-0.64,0.41-1.03,0.67
			s-0.78,0.61-1.18,0.93c-0.77,0.68-1.5,1.41-1.96,1.9c-0.33,0.34-0.68,0.66-1,1.01c-0.16,0.17-0.33,0.35-0.48,0.53
			s-0.29,0.38-0.43,0.58l-0.23,0.31c-0.16,0.23-0.3,0.48-0.44,0.73L17.65,55c-0.06,0.12-0.1,0.24-0.16,0.36
			c-0.2,0.47-0.38,0.95-0.56,1.43c-0.35,0.96-0.71,1.92-1.08,2.87c-0.55,1.51-1.04,2.36-1.57,3.49c-0.01,0.02-0.01,0.03-0.02,0.04
			c-0.24,0.51-0.48,1.09-0.65,1.63c-0.38,1.18-0.96,3.65-1.37,4.81c-0.27,0.81-0.66,1.59-0.93,2.4l-0.12,0.32
			c-0.35,0.94-0.62,1.91-0.81,2.9c-0.2,0.99-0.38,1.98-0.64,2.95c-0.4,1.53-0.81,2.43-1.18,3.58c0,0.01-0.01,0.02-0.01,0.03
			s-0.01,0.02-0.01,0.04c-0.16,0.47-0.33,1.05-0.47,1.67c-0.14,0.6-0.31,1.52-0.48,2.44c-0.17,0.92-0.32,1.85-0.48,2.44
			c-0.22,0.83-0.56,1.62-0.78,2.44l-0.1,0.33c-0.59,1.92-0.69,3.95-1.1,5.91c-0.31,1.55-0.68,2.54-1.01,3.7
			c0,0.02-0.01,0.03-0.01,0.05c0,0.01-0.01,0.02-0.01,0.03c-0.13,0.47-0.26,0.98-0.38,1.59c-0.23,1.2-0.47,3.71-0.74,4.91
			c-0.19,0.83-0.49,1.64-0.68,2.47l-0.09,0.33c-0.51,1.94-0.55,3.97-0.88,5.94c-0.26,1.59-0.58,2.52-0.87,3.73
			c-0.06,0.25-0.12,0.51-0.17,0.79c-0.06,0.28-0.19,0.68-0.24,1.01c-0.09,0.55-0.03,1.73,0.48,2.12c0.41,0.43,0.98,0.67,1.57,0.66
			c0.46-0.17,0.87-0.42,1.23-0.75c0.29-0.38,0.42-0.85,0.36-1.33c-0.01-0.35,0.02-0.69,0.08-1.04c0.05-0.29,0.1-0.58,0.14-0.86
			c0.16-0.98,0.31-1.94,0.47-2.95c0.2-1.2,0.39-2.41,0.64-3.6c0.2-0.97,0.59-1.91,0.76-2.89c0.07-0.41,0.14-0.99,0.2-1.49
			c0.24-1.44,0.33-2.81,0.72-4.3c0.34-1.3,0.6-2.49,0.84-3.65c0,0,0.01-0.04,0.01-0.05l0.58-2.93C8.36,97.38,8.6,96.18,8.9,95
			c0.25-0.96,0.65-1.89,0.86-2.85c0.09-0.41,0.18-0.98,0.27-1.48c0.31-1.42,0.42-2.8,0.89-4.27c0.41-1.27,0.73-2.51,1.01-3.66
			l0.35-1.44l0.38-1.45c0.31-1.17,0.6-2.36,0.96-3.52c0.29-0.95,0.79-1.83,1.05-2.78c0.11-0.4,0.24-0.96,0.36-1.46
			c0.2-0.7,0.34-1.39,0.52-2.08c0.19-0.71,0.42-1.4,0.69-2.08c0.26-0.63,0.48-1.23,0.69-1.82l0.31-0.87c0,0,0.32-0.84,0.33-0.84
			l1.01-2.77c0.2-0.57,0.41-1.13,0.66-1.67c0.25-0.54,0.49-1.09,0.75-1.63c0.43-0.86,1-1.73,1.39-2.43c0.09-0.16,0.2-0.34,0.31-0.54
			c0.11-0.2,0.22-0.4,0.36-0.59c0.7-1.09,1.61-2.04,2.68-2.78c0.33-0.21,0.67-0.4,1.01-0.57c0.05,0.33,0.15,0.65,0.28,0.95
			c0.16,0.47,0.38,0.89,0.53,1.34c0.13,0.38,0.34,0.75,0.52,1.13c0.64,1.21,1.47,2.32,2.46,3.26c1.24,1.16,2.69,2.07,4.27,2.67
			c1.28,0.57,2.65,0.89,4.05,0.94c0.71-0.03,1.41-0.12,2.1-0.27c1.98-0.45,3.84-1.34,5.42-2.61c1.42-1.05,2.57-2.43,3.33-4.02
			c0.15-0.35,0.33-0.68,0.46-1.04c0.16-0.36,0.29-0.74,0.41-1.11c0.27,0.23,0.56,0.44,0.81,0.69c0.59,0.67,1.13,1.38,1.61,2.13
			c0.24,0.3,0.57,0.71,0.86,1.1c0.83,1.11,1.53,2.3,2.08,3.57c0.47,1.22,0.89,2.32,1.28,3.41c0.32,0.89,0.61,1.78,0.85,2.71
			c0.29,1.17,0.59,2.36,0.83,3.55c0.19,0.98,0.23,1.98,0.45,2.95c0.1,0.41,0.26,0.96,0.4,1.45c0.41,1.39,0.76,2.81,1.03,4.24
			c0.19,1.35,0.42,2.56,0.67,3.74c0.2,0.97,0.4,1.92,0.61,2.92c0.24,1.2,0.51,2.39,0.69,3.59c0.15,0.98,0.12,2,0.32,2.97
			c0.08,0.41,0.23,0.97,0.34,1.47c0.27,1.43,0.69,2.75,0.85,4.28c0.13,1.29,0.3,2.45,0.49,3.58l0.53,3.13
			c0.2,1.2,0.42,2.41,0.55,3.62c0.11,0.99,0.06,2,0.22,2.98c0.07,0.41,0.19,0.98,0.29,1.48c0.23,1.44,0.6,2.77,0.7,4.31
			c0.09,1.36,0.23,2.58,0.39,3.78l0.11,0.81c0.05,0.35,0.02,0.79,0.06,1.13c-0.01,0.53,0.17,1.04,0.51,1.44
			c0.51,0.59,1.34,0.79,2.07,0.51c0.32-0.17,0.59-0.43,0.76-0.76c0.06-0.12,0.12-0.24,0.17-0.36
			C70.14,122.68,70.12,122.24,69.98,121.84z M46.43,50.86l-0.09,0.63c-0.02,0.17-0.06,0.33-0.12,0.48l-0.3,0.65l-0.32,0.57
			c-0.27,0.44-0.59,0.96-0.98,1.49c-0.1,0.14-0.2,0.27-0.31,0.4c-0.12,0.14-0.23,0.31-0.38,0.47l-0.45,0.48
			c-0.16,0.17-0.34,0.31-0.51,0.47c-0.62,0.55-1.35,0.98-2.13,1.26c-0.2,0.08-0.41,0.13-0.62,0.16s-0.42,0.08-0.63,0.1
			c-0.43,0.02-0.84,0.07-1.26,0.05h-0.34c-0.98-0.04-1.95-0.18-2.9-0.42c-0.98-0.24-1.89-0.68-2.69-1.3
			c-0.16-0.11-0.31-0.24-0.44-0.38c-0.13-0.13-0.26-0.25-0.38-0.38c-0.21-0.27-0.42-0.51-0.58-0.76s-0.32-0.5-0.45-0.77
			c-0.13-0.26-0.27-0.52-0.38-0.81l0,0c-0.09-0.23-0.21-0.48-0.3-0.74c-0.04-0.14-0.08-0.3-0.13-0.48
			c-0.04-0.18-0.09-0.35-0.13-0.51c-0.12-0.35-0.26-0.7-0.42-1.03c-0.1-0.22-0.24-0.41-0.4-0.59c0.07-0.03,0.14-0.05,0.2-0.08
			c0.43-0.15,0.86-0.32,1.32-0.45c1.09-0.35,2.21-0.58,3.34-0.7c0.23-0.02,0.47-0.03,0.7-0.04l0.7,0.02
			c0.46,0.01,0.93,0.05,1.39,0.03l1.4-0.06c1.36-0.04,2.73,0.1,4.05,0.42c1.21,0.37,2.34,0.74,3.37,1.15
			c0.4,0.16,0.8,0.33,1.19,0.52C46.44,50.78,46.43,50.82,46.43,50.86z"
      />
    </g>
  </g>
</template>
<script>
import anime from "animejs"; // 애니메이션 js
//mixins
import { handleScroll } from "@/assets/mixins/handleScroll"; // 스크롤이베트
export default {
  mixins: [handleScroll],
  props: ["value", "fillColor"],
  data() {
    return {
      scaleValue: 0
      // count: 0
    };
  },
  watch: {
    // num(val) {
    //   this.setCount(val);
    // }
  },
  methods: {
    styleOption() {
      return (this.scaleValue = this.value / 100);
    },
    scrollFunc() {
      // 스크롤시 이벤트
      const target = document.getElementById("genderChart");
      if (target) {
        let rect =
          target.getBoundingClientRect().top + this.currentScroll ||
          target.offsetTop;
        if (this.currentScroll > rect - this.winHeight / 2) {
          this.styleOption();
          // this.setCount(this.value);
        }
      }
    }
    // setCount(val) {
    //   const obj = { n: this.count };
    //   anime({
    //     targets: obj,
    //     n: val,
    //     round: 1,
    //     duration: 500,
    //     easing: "linear",
    //     update: () => {
    //       this.count = obj.n;
    //     }
    //   });
    // }
  }
};
</script>
