<template>
  <g class="head">
    <g class="facde">
      <path
        class="st2"
        d="M58.69,19.08c-0.16-2.23-0.77-4.41-1.8-6.4c-0.33-0.83-0.67-1.46-0.94-2.07c-0.07-0.15-0.13-0.3-0.2-0.45
		C55.69,10,55.6,9.87,55.52,9.73l-0.5-0.89c-0.33-0.55-0.71-1.07-1.14-1.55L53.5,6.85c-0.15-0.15-0.32-0.3-0.5-0.46
		c-0.36-0.32-0.74-0.68-1.14-1.01c-0.84-0.62-1.66-1.25-2.23-1.61c-0.39-0.27-0.75-0.58-1.14-0.85S47.7,2.4,47.28,2.16l-0.33-0.2
		c-2-0.96-4.19-1.52-6.43-1.66c-0.89-0.05-1.6-0.2-2.27-0.21l-0.98-0.07C37.12,0.02,36.95,0,36.79,0l-0.5,0.02V0.01
		C36,0.03,35.7,0.04,35.39,0.07L34.9,0.12c-0.17,0.03-0.35,0.07-0.53,0.11c-0.34,0.07-0.76,0.18-1.22,0.3
		c-0.46,0.12-0.94,0.33-1.43,0.51C31.48,1.13,31.23,1.22,31,1.32l-0.67,0.32c-0.43,0.2-0.82,0.37-1.13,0.5
		c-0.88,0.36-1.73,0.77-2.56,1.24L26.3,3.55c-1.85,1.26-3.44,2.88-4.67,4.75c-0.49,0.74-0.93,1.31-1.32,1.86
		c-0.35,0.56-0.69,1.07-1.05,1.65l0,0l0,0c0,0.01-0.01,0.01-0.01,0.02l0,0c-0.3,0.56-0.57,1.16-0.78,1.77
		c-0.29,0.88-0.5,1.78-0.63,2.7c-0.16,1.03-0.23,2.06-0.3,2.74c-0.14,0.94-0.21,1.89-0.22,2.84c0,0.13,0,0.26,0,0.38
		c0.04,1.12,0.24,2.23,0.58,3.3c0.35,1.06,0.76,2.09,1.22,3.11c0.55,1.31,1.17,2.58,1.87,3.82c0.15,0.24,0.32,0.5,0.5,0.76
		s0.4,0.52,0.63,0.81c0.22,0.26,0.54,0.57,0.87,0.9c0.36,0.32,0.74,0.67,1.15,0.99c0.82,0.65,1.67,1.24,2.22,1.62
		c0.38,0.28,0.75,0.57,1.15,0.84c0.19,0.14,0.39,0.28,0.58,0.41c0.2,0.13,0.41,0.24,0.61,0.36l0.33,0.2
		c2.02,0.96,4.21,1.52,6.45,1.64c0.88,0.13,1.6,0.14,2.26,0.23c0.66,0.06,1.29,0.06,1.98,0.08l0,0h0.01c0,0,0,0,0.01,0l0,0
		c0.64-0.03,1.27-0.1,1.9-0.2c0.9-0.2,1.79-0.47,2.65-0.82c0.24-0.1,0.49-0.17,0.72-0.28l0.67-0.31c0.43-0.2,0.83-0.35,1.13-0.51
		c0.43-0.2,0.87-0.38,1.31-0.56c0.42-0.21,0.85-0.42,1.26-0.66c0.11-0.06,0.23-0.12,0.33-0.19c1.86-1.26,3.44-2.88,4.65-4.77
		c0.54-0.71,0.94-1.3,1.33-1.85c0.38-0.53,0.72-1.09,1.04-1.66l0,0c0,0,0,0,0-0.01c0,0,0-0.01,0.01-0.01l0,0
		c0.24-0.52,0.5-1.08,0.78-1.76c0.13-0.4,0.24-0.8,0.33-1.21c0.13-0.49,0.23-0.99,0.3-1.49c0.07-0.51,0.14-1.03,0.2-1.5
		c0.03-0.47,0.05-0.9,0.09-1.24c0.03-0.23,0.06-0.47,0.1-0.7c0.04-0.23,0.04-0.47,0.06-0.71c0.04-0.47,0.08-0.95,0.08-1.42
		C58.71,19.33,58.7,19.2,58.69,19.08z M54.85,24.68c-0.21,0.61-0.41,1.18-0.59,1.74c-0.24,0.54-0.46,1.05-0.66,1.58
		c-0.38,0.85-0.83,1.67-1.35,2.45c-0.31,0.48-0.68,0.91-1.03,1.38c-0.34,0.46-0.78,0.84-1.17,1.25c-0.36,0.3-0.75,0.57-1.12,0.84
		c-0.4,0.23-0.78,0.49-1.15,0.76c-0.3,0.24-0.75,0.54-1.14,0.82c-1.12,0.78-2.37,1.36-3.69,1.73c-0.62,0.17-1.22,0.24-1.8,0.37
		c-0.58,0.1-1.15,0.15-1.71,0.23l-1.38,0.09l-1.41-0.03c-0.57-0.05-1.14-0.11-1.7-0.19l-0.84-0.18c-0.28-0.05-0.56-0.13-0.83-0.22
		c-0.44-0.16-0.87-0.34-1.29-0.55c-0.4-0.23-0.82-0.44-1.24-0.61c-0.35-0.17-0.86-0.35-1.28-0.58c-1.24-0.58-2.37-1.36-3.35-2.32
		c-0.81-0.85-1.58-1.79-2.26-2.75c-0.28-0.37-0.51-0.77-0.77-1.15c-0.22-0.41-0.48-0.8-0.67-1.24c-0.53-1.02-0.92-2.1-1.18-3.22
		c-0.14-0.92-0.22-1.84-0.26-2.77c-0.05-0.39-0.12-0.92-0.15-1.39c-0.12-1.36,0-2.73,0.34-4.06c0.35-1.13,0.77-2.26,1.26-3.34
		c0.4-0.84,0.85-1.65,1.36-2.43c0.16-0.23,0.3-0.49,0.48-0.71l0.54-0.67c0.17-0.23,0.36-0.45,0.56-0.65l0.62-0.59
		c0.17-0.16,0.35-0.31,0.53-0.46l0.59-0.38c0.4-0.24,0.76-0.53,1.15-0.77c0.32-0.21,0.73-0.57,1.13-0.83
		c0.3-0.16,0.58-0.34,0.87-0.52c0.14-0.09,0.28-0.18,0.43-0.26l0.45-0.22c0.3-0.15,0.61-0.29,0.93-0.43
		c0.33-0.12,0.67-0.22,1.02-0.3c0.62-0.17,1.22-0.25,1.8-0.36c0.57-0.14,1.15-0.15,1.71-0.23v0.01c0.46-0.06,0.92-0.08,1.38-0.08
		l0.7-0.02c0.23,0.01,0.47,0.03,0.71,0.05l0.85,0.06c0.28,0.03,0.57,0.07,0.85,0.13l0.84,0.16c0.28,0.06,0.55,0.15,0.82,0.24
		c0.22,0.07,0.44,0.16,0.66,0.24l0.32,0.13l0.31,0.17c0.4,0.23,0.82,0.43,1.25,0.6c0.35,0.17,0.84,0.39,1.28,0.59
		c0.3,0.15,0.6,0.31,0.88,0.49l0.87,0.5c0.28,0.18,0.54,0.4,0.82,0.61l0.4,0.33l0.2,0.17l0.18,0.2c0.81,0.87,1.56,1.79,2.25,2.75
		c0.25,0.39,0.54,0.77,0.78,1.17l0.68,1.23c0.24,0.52,0.46,1.05,0.69,1.57c0.17,0.55,0.34,1.09,0.49,1.65
		c0.08,0.46,0.12,0.93,0.16,1.39s0.01,0.93,0.08,1.38c0.07,0.46,0.12,0.93,0.14,1.39C55.28,21.99,55.18,23.36,54.85,24.68z"
      />
      <g>
        <ellipse cx="34.32" cy="20.51" rx="1.66" ry="1.66" />
        <ellipse cx="41.63" cy="20.51" rx="1.66" ry="1.66" />
      </g>
      <path
        class="st2"
        d="M43.66,25.49c-0.12-0.27-0.35-0.47-0.64-0.55c-0.22-0.01-0.44,0.01-0.66,0.05c-0.19,0.03-0.28,0.22-0.36,0.35
		c-0.05,0.12-0.13,0.22-0.23,0.31c-0.08,0.08-0.16,0.15-0.25,0.21c-0.3,0.24-0.62,0.45-0.97,0.61c-0.44,0.21-0.91,0.36-1.39,0.43
		c-0.4,0.03-0.81,0.03-1.21,0.01c-0.17,0.01-0.4,0.03-0.61,0.02c-0.59,0.02-1.17-0.08-1.72-0.28c-0.43-0.18-0.83-0.42-1.19-0.71
		l-0.21-0.19c-0.07-0.1-0.12-0.2-0.17-0.3c-0.09-0.14-0.1-0.23-0.33-0.34c-0.31-0.18-0.68-0.23-1.03-0.13
		c-0.17,0.09-0.29,0.25-0.35,0.43c-0.02,0.07-0.04,0.15-0.04,0.22c-0.01,0.13,0.01,0.26,0.08,0.38c0.05,0.12,0.12,0.23,0.2,0.33
		c0.06,0.08,0.11,0.17,0.17,0.25c0.31,0.5,0.77,0.96,1.29,1.23c0.38,0.21,0.79,0.36,1.22,0.46c0.46,0.13,0.93,0.18,1.22,0.24
		c0.42,0.09,0.84,0.16,1.26,0.2c0.06,0,0.11,0.01,0.17,0.02c1.01,0,2.01-0.21,2.93-0.64c0.62-0.23,1.22-0.52,1.78-0.87
		c0.12-0.08,0.23-0.17,0.34-0.27c0.15-0.11,0.29-0.24,0.41-0.38C43.58,26.37,43.84,25.76,43.66,25.49z"
      />
    </g>
    <slot></slot>
  </g>
</template>
