<template>
  <svg x="0px" y="0px" viewBox="0 0 70.11 124.41" xml:space="preserve" class="svgGenderCharacter">
    <slot />
  </svg>
</template>
<script>
</script>
<style lang="scss">
.svgGenderCharacter {
  width: 5.625em;
  .st0 {
    transform: scaleY(0);
    transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: center bottom;
  }
  .st1 {
    fill: #ffffff;
  }
  .st2 {
    fill: #202020;
  }
}
</style>
