<template>
  <main id="modify" class="main-wrapper">
    <EmptyHeader title="개인정보 수정" border>
      <template v-slot:leftArea>
        <PrevButton @click="$router.go(-1)" />
      </template>
    </EmptyHeader>
    <article class="main-article">
      <div class="article-section">
        <div class="inner-container">
          <div class="section-header">
            <h3 class="txt-large">
              휴대폰번호가 변경되었을 경우,<br />
              나누다키친으로 문의주세요!
            </h3>
            <p class="mt-4">
              <i class="icon icon-info-cellphone txt-primary"></i>
              <a
                href="tel:1588-5972"
                class="btn-txt txt-large txt-primary txt-bold"
                >1588-5972</a
              >
            </p>
          </div>
          <div class="section-content">
            <div class="form-wrapper">
              <FormGroup :class="{ 'is-error': $v.name.$error }">
                <FormLabel for="name">이름</FormLabel>
                <FormControl>
                  <InputGroup>
                    <InputField
                      ref="name"
                      type="text"
                      id="name"
                      placeholder="홍길동"
                      v-model="userInfo.NAME"
                      @input="setName"
                    />
                  </InputGroup>
                </FormControl>
                <FormMessage v-if="!$v.name.required && $v.name.$dirty"
                  >이름을 입력해주세요</FormMessage
                >
                <FormMessage v-else-if="!$v.name.minLength"
                  >최소 2자리여야합니다</FormMessage
                >
                <FormMessage v-else-if="!$v.name.maxLength"
                  >최대 20자리까지만 가능합니다</FormMessage
                >
              </FormGroup>
              <FormGroup>
                <FormRow
                  class="d-flex align-items-center justify-content-between"
                >
                  <CheckBox
                    @click="
                      userInfo.MARKET_YN == 'Y'
                        ? (userInfo.MARKET_YN = 'N')
                        : (userInfo.MARKET_YN = 'Y')
                    "
                    id="check-1"
                    name="checkbox"
                    label="마케팅 이용약관 동의"
                    :checked="userInfo.MARKET_YN == 'Y' ? true : false"
                    class="txt-tiny"
                  />
                  <Button
                    class="btn-text btn-underline txt-tiny"
                    @click="showAgree = true"
                    >자세히 보기</Button
                  >
                </FormRow>
              </FormGroup>

              <div class="btn-box mt-8">
                <Button
                  class="btn btn-primary btn-medium btn-block"
                  :disabled="$v.name.$error"
                  @click="modify"
                  >수정하기</Button
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <CustomModal
      animation="slideInUp"
      :visible="showAgree"
      headerType="default"
      id="marketing"
      title="마케팅 정보 수신에 대한 동의"
      noBtn="닫기"
      @close="showAgree = false"
    >
      <Marketing />
    </CustomModal>
  </main>
</template>
<script>
import EmptyHeader from '@/components/Navigation/EmptyHeader';
import Marketing from '@/components/Agreement/Marketing';
import CustomModal from '@/components/Modal/CustomModal';
import {
  required,
  minLength,
  maxLength,
  numeric,
  between,
  alphaNum,
} from 'vuelidate/lib/validators';
export default {
  layout: 'empty',
  components: { EmptyHeader, Marketing, CustomModal },
  asyncData(context) {
    return context.$axios.$get('/mypage/userInfo').then((res) => {
      return {
        userInfo: res,
      };
    });
  },
  data() {
    return {
      showAgree: false,
      name: '',
    };
  },
  methods: {
    setName(value) {
      this.name = value;
      this.$v.name.$touch();
    },
    modify() {
      // 수정버튼 클릭 methods
      return this.$axios
        .$put('/mypage/userInfoUpdate', {
          NAME: this.userInfo.NAME,
          MARKET_YN: this.userInfo.MARKET_YN,
          INFO_YN: 'Y',
          SERVICE_YN: 'Y',
        })
        .then((res) => {
          this.$router.replace('/mypage');
        });
    },
  },
  //vuelidate property
  validations: {
    name: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(20),
    },
  },
};
</script>
<style lang="scss">
#modify {
  .main-article {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 3em 0;
    .article-section {
      background-color: #fff;
      padding: 1.25em 0;
      min-width: 40%;
      max-width: 100%;
    }
  }
}
</style>
