<template>
  <main id="login" class="main-wrapper">
    <EmptyHeader title="로그인" border>
      <template v-slot:leftArea>
        <PrevButton @click="$router.go(-1)" />
      </template>
    </EmptyHeader>
    <article class="main-article">
      <header class="article-header is-blind">
        <h2>로그인</h2>
      </header>
      <section class="article-section">
        <div class="inner-container">
          <div class="section-header">
            <h3 class="txt-large">
              로그인하고, <br />다양한 공유주방을 비교해보시고 <br />창업에
              도전하세요
            </h3>
          </div>
          <div class="section-content">
            <div class="form-wrapper">
              <FormGroup :class="{ 'is-error': $v.phoneNumb.$error }">
                <FormLabel for="cellPhone">휴대폰번호</FormLabel>
                <FormControl>
                  <InputGroup>
                    <BtnGroup class="certnum-button-wrap">
                      <NButton
                        color="black"
                        size="mini"
                        rounded
                        @click="sendCertNumb('resend')"
                        v-if="validNumbBtnClicked"
                        >재발송</NButton
                      >
                      <NButton
                        color="black"
                        size="mini"
                        rounded
                        :disabled="$v.phoneNumb.$invalid"
                        @click="sendCertNumb"
                        v-else
                        >인증번호 받기</NButton
                      >
                    </BtnGroup>
                    <InputField
                      type="tel"
                      placeholder="'-'없이 입력해주세요"
                      id="cellPhone"
                      v-model="$v.phoneNumb.$model"
                      maxLength="11"
                      :autofocus="true"
                      @input="onPhoneNumbChange()"
                      addClass="mk_login_cellphone_btn"
                    />
                  </InputGroup>
                </FormControl>
                <!-- 입력값이 없고 사용자가 인풋창을 건들였을때만 보임 -->
                <FormMessage>{{ phoneNumbValid }}</FormMessage>
                <FormMessage v-if="isNotUser"
                  >아직 등록되지 않은 번호입니다. 회원가입을
                  해주세요</FormMessage
                >
              </FormGroup>
              <FormGroup
                v-show="validNumbBtnClicked"
                :class="{ 'is-error': $v.phoneNumb.$error }"
              >
                <FormLabel for="certNum">인증번호(6자리)</FormLabel>
                <FormControl>
                  <InputGroup>
                    <countdown
                      :time="totalMilliseconds"
                      :auto-start="false"
                      ref="countdown"
                      :transform="transform"
                      @progress="timeProgress"
                      class="certnum-count-wrap"
                    >
                      <div
                        slot-scope="props"
                        class="time txt-small txt-primary"
                      >
                        {{ props.minutes }}:{{ props.seconds }}
                      </div>
                    </countdown>
                    <InputField
                      type="tel"
                      placeholder="인증번호"
                      id="certNum"
                      name="certNum"
                      ref="certNumbInput"
                      maxLength="6"
                      v-model="$v.certNumb.$model"
                      addClass="mk_login_code_btn"
                      @input="onCertNumbChange()"
                    />
                  </InputGroup>
                </FormControl>
                <FormMessage>{{ certNumbValid }}</FormMessage>
              </FormGroup>
              <div class="btn-box">
                <NButton
                  color="primary"
                  size="medium"
                  block
                  class="mk_login_num_btn"
                  :disabled="
                    $v.phoneNumb.$invalid ||
                    $v.certNumb.$invalid ||
                    (this.timer.minutes === '00' && this.timer.seconds === '00')
                  "
                  @click="checkAuth()"
                  >로그인</NButton
                >
              </div>
              <div class="txt-box">
                <p class="txt-small">
                  아직 나누다키친 회원이 아니신가요?
                  <button
                    class="btn-txt txt-primary txt-underline txt-bold"
                    @click="toJoin()"
                  >
                    회원가입
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
</template>

<script>
import EmptyHeader from '@/components/Navigation/EmptyHeader';
import {
  required,
  minLength,
  maxLength,
  numeric,
  between,
  alphaNum,
} from 'vuelidate/lib/validators';
import Cookie from 'js-cookie';

export default {
  name: 'login',
  layout: 'empty',
  middleware: ['login-page-guard'],
  components: {
    EmptyHeader,
  },
  data() {
    return {
      validNumbBtnClicked: false,
      preventResend: false,
      phoneNumb: '',
      certNumb: '',
      timer: {},
      totalMilliseconds: 3 * 60 * 1000,
      resendButtonClicked: false,
      isNotUser: false,
    };
  },
  computed: {
    phoneNumbValid() {
      // 휴대폰번호 유효성 체크
      if (!this.$v.phoneNumb.required && this.$v.phoneNumb.$dirty) {
        return '핸드폰번호를 입력해주세요';
      } else if (!this.$v.phoneNumb.numeric) {
        return '숫자만 가능합니다';
      } else if (!this.$v.phoneNumb.minLength || !this.$v.phoneNumb.maxLength) {
        return '11자리 숫자여야 합니다';
      }
    },
    certNumbValid() {
      // 인증번호 유효성 체크
      if (this.preventResend && this.resendButtonClicked) {
        return '재발송은 1분후에 가능합니다.';
      } else if (!this.$v.certNumb.required && this.$v.certNumb.$dirty) {
        return '인증번호를 입력해주세요.';
      } else if (
        this.timer.minutes === '00' &&
        this.timer.seconds === '00' &&
        this.validNumbBtnClicked
      ) {
        return '재발송 버튼을 누르고 다시 입력해 주세요';
      } else if (!this.$v.certNumb.numeric) {
        return '숫자만 가능합니다';
      } else if (!this.$v.certNumb.minLength || !this.$v.certNumb.maxLength) {
        return '6자리 숫자여야 합니다';
      } else if (this.authError) {
        return '인증번호가 일치하지 않습니다';
      }
    },
  },
  methods: {
    onPhoneNumbChange() {
      // 휴대ㅗㄴ 번호 input change시 초기화
      this.isNotUser = false;
    },
    onCertNumbChange() {
      // 인증번호 input change시 인증번호 에러 관련, 재전송버튼 클릭 관련 이벤트 초기화
      this.authError = false;
      this.resendButtonClicked = false;
    },
    transform(props) {
      Object.entries(props).forEach(([key, value]) => {
        // Adds leading zero
        const digits = value < 10 ? `0${value}` : value;
        props[key] = `${digits}`;
      });
      this.timer = props;
      return props;
    },
    sendCertNumb(val) {
      // 재발송 버튼 클릭 시
      if (this.preventResend) {
        this.resendButtonClicked = true;
        return;
      }
      // 처음 인증번호 발송 버튼 클릭시
      if (!val) {
        this.validNumbBtnClicked = true;
      }

      this.getAuth();
    },
    timeProgress(data) {
      // 2분 이하 실행
      if (data.totalSeconds <= 120) {
        this.preventResend = false;
        return;
      }
    },
    getAuth() {
      // 인증 번호 받기
      return this.$axios
        .$post('/userLogin/getAuth', {
          PHONE: this.$v.phoneNumb.$model,
        })
        .then((res) => {
          if (res.isSent) {
            this.certNumb = '';
            this.$nextTick(() =>
              this.$refs.certNumbInput.$el.children[0].focus(),
            );
            this.$refs.countdown.totalMilliseconds = this.totalMilliseconds;
            this.$refs.countdown.start();
            this.preventResend = true;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    checkAuth() {
      // 인증 번호 체크
      return this.$axios
        .$post('/userLogin/checkAuth', {
          PHONE: this.$v.phoneNumb.$model,
          AUTH_CODE: this.$v.certNumb.$model,
        })
        .then((res) => {
          if (res.isTrue) {
            this.checkId();
          }
        })
        .catch((error) => {
          // 인증 번호 체크 에러
          if (error.response.status === 404) {
            this.authError = true;
          }
        });
    },
    toJoin() {
      let routerInfo;
      if (this.$route.params.redirected) {
        routerInfo = {
          name: 'join',
          params: { redirected: this.$route.params.redirected }, // form 으로 바로 연결
        };
        this.$router.push(routerInfo);
      } else {
        this.$router.push('/join');
      }
    },
    checkId() {
      // 유저 체크
      return this.$axios
        .$post('/userLogin/checkId', {
          PHONE: this.$v.phoneNumb.$model,
        })
        .then((res) => {
          //유저가 회원가입되있다면
          this.$store
            .dispatch('user-auth/authenticateUser', this.phoneNumb)
            .then((res) => {
              //로그인 페이지로 리다이렉팅했다면
              //만약 params중 spaceType이 있다면
              if (
                this.$route.params.redirected &&
                this.$route.params.spaceType
              ) {
                this.$router.push({
                  path: this.$route.params.redirected,
                  query: { spaceType: this.$route.params.spaceType },
                });
                //만약 params중 spaceType이 없다면
              } else if (this.$route.params.redirected) {
                this.$router.push(this.$route.params.redirected);
              } else {
                this.$router.go(-1);
              }
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch((error) => {
          console.log(error);
          if (error.response.status === 404) {
            //유저가 회원가입이 되지않았다면
            this.isNotUser = true;
            this.preventResend = false;
            this.$refs.countdown.end();
            this.validNumbBtnClicked = false;
            // this.$nextTick(() => this.$refs.name.$el.children[0].focus());
          }
        });
    },
  },
  //vuelidate property
  validations: {
    phoneNumb: {
      numeric,
      required,
      minLength: minLength(11),
      maxLength: maxLength(11),
    },
    certNumb: {
      numeric,
      required,
      minLength: minLength(6),
      maxLength: maxLength(6),
    },
    name: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(20),
    },
  },
};
</script>
<style lang="scss">
// login
#login {
  .main-article {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light;
    padding: 3em 0;
    .article-section {
      background-color: $white;
      padding: 1.25em 0;
      min-width: 40%;
      max-width: 100%;
    }
    .certnum-button-wrap {
      position: absolute;
      right: 0.5em;
    }
    .certnum-count-wrap {
      position: absolute;
      right: 0.5em;
    }
  }
}
</style>
