<template>
  <v-dialog v-model="show" width="500" @click:outside="close">
    <v-card>
      <v-card-title class="headline grey darken-2" primary-title>
        지점 추가
      </v-card-title>

      <v-card-text>
        <v-text-field label="지점 이름" v-model="name"></v-text-field>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn color="primary" text @click="close">
          취소
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="save">
          저장하기
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: { show: Boolean },
  data() {
    return {
      name: '',
    };
  },
  methods: {
    save() {
      return this.$axios
        .$post('/companyAdmin/companyDistrict', {
          COMPANY_NO: this.$nuxt.$route.params.uid,
          NAME_KR: this.name,
        })
        .then((res) => {
          this.$emit('saved');
          this.close();
        })
        .catch((e) => console.log(e));
    },
    close() {
      this.$emit('update:show', false);
    },
  },
  watch: {
    //다이얼로그를 끄면 초기화함
    show() {
      this.name = '';
    },
  },
};
</script>

<style></style>
