<template>
  <v-dialog v-model="show" width="800" @click:outside="close">
    <v-card>
      <v-card-title class="headline" primary-title>
        <v-text-field label="제목" v-model="title"></v-text-field>
      </v-card-title>

      <v-card-text>
        <v-row v-for="(item, index) in property" :key="index">
          <!-- input.native는 v-combobox의 v-model 업데이트가 바로바로 되지않아 넣음 -->
          <v-combobox
            v-model="item.KEY"
            @input.native="item.KEY = $event.srcElement.value"
          ></v-combobox>
          <v-text-field
            label="value"
            v-model="item.VALUE"
            class="small-input mx-5"
          ></v-text-field>
          <v-btn
            class="mx-2 mt-2"
            fab
            dark
            small
            color="primary"
            @click="deleteRow(index)"
          >
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </v-row>
        <v-row justify="center">
          <v-btn
            class="mx-2 mt-2"
            fab
            dark
            small
            color="primary"
            @click="addEmptyRow"
          >
            <v-icon dark>mdi-plus</v-icon>
          </v-btn>
        </v-row>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn color="primary" text @click="close">
          취소
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="save">
          저장하기
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { changePromotion } from '@/assets/mixins/admin/company/changePromotion';

export default {
  props: { show: Boolean, no: Number },
  mixins: [changePromotion],
  data() {
    return {
      title: '',
      property: [],
    };
  },
  methods: {
    save() {
      this.$axios
        .$put(`/promotionAdmin/${this.no}`, {
          TITLE: this.title,
          PROMOTION_PROPERTY: this.property,
        })
        .then((res) => {
          this.close();
          this.$emit('saved');
        });
    },
  },
  created() {
    this.$axios.$get(`/promotionAdmin/${this.no}`).then((res) => {
      this.title = res.TITLE;
      this.property = res.PROMOTION_PROPERTY;
    });
  },
  watch: {
    //prop show가 바뀌면 trigger
    show() {
      this.$axios.$get(`/promotionAdmin/${this.no}`).then((res) => {
        this.title = res.TITLE;
        this.property = res.PROMOTION_PROPERTY;
      });
    },
  },
};
</script>

<style></style>
