<template>
  <main id="registerIntro" class="main-wrapper">
    <article class="main-article">
      <header class="article-header is-blind">
        <h2>공간 등록 메인</h2>
      </header>
      <div class="article-content">
        <section class="article-section bg-primary">
          <div class="inner-container">
            <div class="row">
              <div class="col col-12 col-lg-7">
                <div class="title-box txt-white txt-center txt-lg-left">
                  <span class="txt-small">저녁에만 음식점을 운영하시나요?</span>
                  <div class="mt-1">
                    <h2 class="txt-huge txt-bold">
                      운영 안 하는 시간대의
                      <br />공간을 등록하고 <br />추가 수익을 창출하세요!
                    </h2>
                  </div>
                </div>
                <div class="btn-box txt-center txt-lg-left mt-8">
                  <NButton
                    color="gray-800"
                    block
                    class="w-30 mk_register_topapply_btn"
                    @click="register()"
                    >공간 등록하기</NButton
                  >
                </div>
              </div>
              <div class="col col-12 col-lg-5">
                <div class="img-box txt-center txt-lg-right">
                  <img
                    src="@/assets/images/register/intro_character.png"
                    class="w-40"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="article-section">
          <div class="inner-container">
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="txt-center">
                  <div class="icon-box">
                    <i
                      class="icon icon-founder-plans txt-massive txt-black"
                    ></i>
                  </div>
                  <div class="title-box">
                    <h4 class="txt-medium txt-bold txt-black">
                      더욱 특별한 공간
                    </h4>
                  </div>
                  <div class="txt-box">
                    <p class="txt-small">
                      공간를 공유하여 다양한 이야기로
                      <br class="d-none d-lg-block" />특별함을 더해보세요!
                      <br />
                      공간이 더 가치있고 주목받을 수 있게 바뀝니다
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="txt-center">
                  <div class="icon-box">
                    <i
                      class="icon icon-register-space txt-massive txt-black"
                    ></i>
                  </div>
                  <div class="title-box">
                    <h4 class="txt-medium txt-bold txt-black">
                      쉬운 공간 등록
                    </h4>
                  </div>
                  <div class="txt-box">
                    <p class="txt-small">
                      정말 간편합니다! <br />무료로 공간 등록하시면 담당자가
                      방문하여 <br />공간 등록을 도와드립니다
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="txt-center">
                  <div class="icon-box">
                    <i class="icon icon-info-won txt-massive txt-black"></i>
                  </div>
                  <div class="title-box">
                    <h4 class="txt-medium txt-bold txt-black">부가적인 수익</h4>
                  </div>
                  <div class="txt-box">
                    <p class="txt-small">
                      공간 공유로 추가 수익을 창출해 보세요! <br />투자 비용
                      없이 수익을 낼 수 있는 좋은 방법입니다
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="article-section bg-gray-100">
          <header class="section-header txt-center">
            <h3>공간 등록 진행 과정</h3>
          </header>
          <div class="section-content">
            <div class="inner-container">
              <div class="register-step-list">
                <ol class="register-step-list-container">
                  <li class="register-step-list-item">
                    <div class="icon-box">
                      <img
                        src="@/assets/svg/register/register_step_01.svg"
                        alt=""
                      />
                    </div>
                    <div class="txt-box">
                      <span class="step-num"
                        >STEP <strong class="txt-primary">1</strong></span
                      >
                      <p>온라인 공간 등록</p>
                    </div>
                  </li>
                  <li class="register-step-list-item">
                    <div class="icon-box">
                      <img
                        src="@/assets/svg/register/register_step_02.svg"
                        alt=""
                      />
                    </div>
                    <div class="txt-box">
                      <span class="step-num"
                        >STEP <strong class="txt-primary">2</strong></span
                      >
                      <p>공간 매니저 확인</p>
                    </div>
                  </li>
                  <li class="register-step-list-item">
                    <div class="icon-box">
                      <img
                        src="@/assets/svg/register/register_step_03.svg"
                        alt=""
                      />
                    </div>
                    <div class="txt-box">
                      <span class="step-num"
                        >STEP <strong class="txt-primary">3</strong></span
                      >
                      <p>공간 대여 계약</p>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </section>
        <section class="article-section">
          <div class="inner-container">
            <header class="section-header txt-center">
              <h3>공간 등록 FAQ</h3>
            </header>
            <div class="section-content">
              <Accordion
                :contents="faqContents"
                qna
                addClass="mk_register_faq"
              />
              <div class="btn-box txt-center mt-8">
                <div
                  class="d-block d-md-flex align-items-center justify-content-center"
                >
                  <!-- <div class="row-box">
                    <NButton
                      color="primary"
                      block
                      class="w-30"
                      @click="toFormPage()"
                      >내 점포에서 점심장사 하기</NButton
                    >
                  </div> -->
                  <div class="row-box mt-md-0 ml-md-4">
                    <NButton
                      color="primary"
                      block
                      class="w-30 mk_register_bottomapply_btn"
                      @click="register()"
                      >공간 등록하고 추가수익 얻기</NButton
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </article>
  </main>
</template>
<script>
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import Accordion from '@/components/UI/Accordion';
export default {
  mixins: [infoAppRequest],
  components: {
    Accordion,
  },
  head() {
    return {
      titie: '나누다키친 공간 등록',
      meta: [
        {
          hid: 'og:title',
          name: 'og:title',
          property: 'og:title',
          content: '나누다키친 공간 등록',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          property: 'og:url',
          content: 'https://nanudakitchen.com/register',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          property: 'og:description',
          content:
            '공간 공유로 추가 수익을 창출해 보세요! 투자 비용 없이 수익을 낼 수 있는 좋은 방법입니다',
        },
        {
          hid: 'og:image',
          name: 'og:image',
          property: 'og:image',
          content: '/meta_main.png',
        },
      ],
    };
  },
  data() {
    return {
      faqContents: [
        {
          active: false,
          title: '결제시스템도 공유해야 하나요?',
          text:
            '아닙니다. 나누다키친은 자체 결제시스템을 이용합니다. 기존의 타업체는 점포주님의 결제시스템(POS기 등)을 이용한 후 해당 금액에서 수수료(부가세, 신용카드수수료 등)를 제외하고 창업주에게 입금해주는 불편함이 있었습니다. 이에 따라 불필요하게 점포주님의 소득세율을 높여 세금부담도 적지 않았습니다.',
        },
        {
          active: false,
          title: '공간 공동사용으로 인하여 고장 및 파손이 우려됩니다',
          text:
            '나누다키친은 극히 일부분의 집기(조리기구, 물컵 등)를 제외하고는 자체적인 집기와 식기를 사용합니다. 기존 업체들처럼 점주님의 집기와 식기를 사용하지 않아 분실, 파손에 대하여 걱정하실 필요가 없습니다. 실수로 집기가 파손되었을 경우 전액 보상하여 드리며, 해당 내용은 계약내용에 반영되어 보장 받으실 수 있습니다.',
        },
        {
          active: false,
          title: '계약기간은 얼마나 되나요?',
          text:
            '통상적으로 6개월을 가이드라인으로 제시하고 있습니다. 계약 종료 2개월 전 점포주님께 계약기간 연장의사를 여쭈어 계약연장을 진행합니다.',
        },
        {
          active: false,
          title: '임대료는 얼마나 절감할 수 있나요?',
          text:
            '임대료 산정은 매장상권특성, 점포주변 유동인구, 인테리어, 공유시간 등을 종합적으로 고려하여 조절하게 됩니다. 매장등록 시 점주님과의 상담을 통해서 기존 임대료를 바탕으로 합리적인 금액선에서 합의를 하도록 노력하고 있습니다.',
        },
        {
          active: false,
          title: '공간 등록하는데 수수료는 얼마인가요?',
          text:
            '무료입니다. 공간 등록을 희망하시는 파트너님께는 수수료를 일절 받지 않고 있습니다.',
        },
        {
          active: false,
          title:
            '현재 공간 점주가 나누다키친을 통해 점심시간 오픈도 가능할까요?',
          text:
            '가능합니다. 점심에도 매장을 운영하고 싶으셨으나 직접 운영의 문제, 인력문제, 메뉴개발의 문제 등 각가지 현실적인 제한사항으로 인해 망설이셨던 점포주님들 많이 계십니다. 또한, 현재 힘들게 운영하고 계신 파트너님들도 많이 계십니다. 이제는 나누다키친을 통하여 손쉽게 점심시간을 오픈하실 수 있습니다. 망설이지 마시고 나누다키친과 상담해 보세요.',
        },
      ],
    };
  },
  methods: {
    register() {
      this.$router.push('/register/form');
    },
  },
};
</script>
<style lang="scss">
#registerIntro {
  .article-header {
    position: relative;
    z-index: 2;
    text-align: center;

    .sub-title {
      display: block;
      font-size: 1.7rem;
      margin: 1.75em 0;
      line-height: 1;
    }
    .title {
      font-size: $txt-large;
      color: $black;
      font-weight: 600;
    }
  }

  .register-step-list {
    .register-step-list-container {
      display: flex;
      flex-wrap: wrap;
    }
    .register-step-list-item {
      position: relative;
      text-align: center;
      width: 33.33%;

      &:last-child {
        .icon-box {
          &:after {
            display: none;
          }
        }
      }
      .icon-box {
        position: relative;
        &:after {
          display: block;
          content: '';
          position: absolute;
          right: -0.25em;
          top: 50%;
          width: 0.5em;
          height: 1em;
          margin-top: -0.5em;
          background: url('~assets/svg/common/step_arrow.svg') no-repeat center
            center;
          background-size: cover;
        }
        img {
          max-width: 5em;
        }
      }

      .txt-box {
        font-size: $txt-small;
        color: $black;
        .step-num {
          display: block;
          font-weight: $txt-bold;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}
</style>
