<template>
  <div>
    <div class="pb-4 border-bottom border-black" v-if="favCount">
      <h4 class="txt-medium txt-black txt-bold">
        찜한 배달형 공간
        <strong class="txt-bold txt-primary">{{ favCount }}</strong>
        건
      </h4>
    </div>
    <div v-if="favCount > 0">
      <div
        v-for="item in myFavoriteList"
        :key="item.no"
        v-show="myFavoriteList"
      >
        <div class="mypage-preview">
          <div class="d-flex align-items-start justify-content-start">
            <div class="pr-2">
              <div class="checkbox txt-medium">
                <input
                  type="checkbox"
                  name="checkbox"
                  :id="`favoriteId_${item.no}`"
                  :value="item.no"
                  v-model="selectedIds"
                />
                <label :for="`favoriteId_${item.no}`" class="label-txt">
                  <span class="d-none">{{ item.no }}</span>
                </label>
              </div>
            </div>
            <div @click="goToSpaces(item.deliverySpace.no)" class="w-100p">
              <div class="row no-gutters">
                <div class="col col-4">
                  <div
                    v-if="
                      item.deliverySpace.images &&
                      item.deliverySpace.images.length > 0
                    "
                  >
                    <div class="space-preview-img lazy-preload">
                      <img
                        v-lazy="item.deliverySpace.images[0].endpoint"
                        v-if="item.deliverySpace.images[0].endpoint"
                        class="thumb-img"
                      />
                      <img
                        v-lazy="require('@/assets/images/common/no_img.png')"
                        loading="lazy"
                        class="thumb-img"
                        :class="addClass2"
                        alt
                        v-else
                      />
                    </div>
                  </div>
                  <div class="space-preview-img lazy-preload" v-else></div>
                </div>
                <div class="col col-8">
                  <div class="px-4">
                    <div class="row-box">
                      <h5 class="txt-bold txt-black txt-small">
                        {{ item.deliverySpace.companyDistrict.company.nameKr }}
                        {{ item.deliverySpace.companyDistrict.nameKr }}
                        {{ item.deliverySpace.size }}평
                      </h5>
                      <p
                        class="txt-mini"
                        v-if="item.deliverySpace.companyDistrict"
                      >
                        {{
                          item.deliverySpace.companyDistrict.region1DepthName
                        }}
                        {{
                          item.deliverySpace.companyDistrict.region2DepthName
                        }}
                        {{
                          item.deliverySpace.companyDistrict.region3DepthName
                        }}
                      </p>
                    </div>
                    <div class="row-box mt-2">
                      <div
                        v-if="
                          item.deliverySpace.deposit ||
                          item.deliverySpace.monthlyRentFee ||
                          item.deliverySpace.size
                        "
                      >
                        <div
                          class="d-flex align-items-center mb-1 mr-4"
                          v-if="
                            item.deliverySpace.deposit ||
                            item.deliverySpace.monthlyRentFee
                          "
                        >
                          <i
                            class="icon icon-info-won txt-medium txt-primary"
                          ></i>
                          <span class="txt-black ml-2 is-nowrap">
                            <template
                              v-if="
                                item.deliverySpace.deposit !== '' &&
                                item.deliverySpace.deposit != '0'
                              "
                            >
                              <span class="txt-medium txt-bolder">{{
                                item.deliverySpace.deposit
                              }}</span>
                              <span class="txt-mini">만원</span>
                            </template>
                            <template v-else>
                              <span class="txt-bold txt-tiny">보증금 없음</span>
                            </template>
                            <span class="txt-mini">/</span>
                          </span>
                          <span class="txt-black ml-2 is-nowrap">
                            <template v-if="item.deliverySpace.monthlyRentFee">
                              <span class="txt-medium txt-bolder">{{
                                item.deliverySpace.monthlyRentFee
                              }}</span>
                              <span class="txt-mini">만원</span>
                            </template>
                            <template v-else>
                              <span class="txt-bold txt-tiny">월세 없음</span>
                            </template>
                          </span>
                        </div>
                        <div
                          class="d-flex align-items-center mb-1"
                          v-if="item.deliverySpace.size"
                        >
                          <i
                            class="icon icon-info-pyeong txt-medium txt-primary"
                          ></i>
                          <span class="txt-black ml-2 is-nowrap">
                            <span class="txt-medium txt-bolder">{{
                              item.deliverySpace.size
                            }}</span>
                            <span class="txt-mini">평</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-2">
              <NButton
                size="mini"
                color="red"
                icon
                circle
                @click="deleteFav(item.deliverySpaceNo)"
              >
                <i class="icon icon-close"></i>
                <span>삭제</span>
              </NButton>
            </div>
          </div>
        </div>
      </div>
    </div>
    <NoResult text="찜 내역이 없습니다." v-else-if="favCount === 0" />
    <div class="txt-center" v-else>
      <div class="loader">
        <img
          src="@/assets/svg/common/loader.svg"
          alt="로딩중"
          style="width: 6em;"
        />
      </div>
    </div>
    <div class="pt-4 border-top border-black">
      <div class="d-flex">
        <div class="mr-2">
          <input
            type="checkbox"
            name="checkbox"
            id="selectAll"
            v-model="selectAll"
            class="d-none"
          />
          <label for="selectAll">
            <span class="btn btn-mini btn-outline-gray" v-if="!selectAll"
              >전체 선택</span
            >
            <span class="btn btn-mini btn-gray" v-else>전체 해제</span>
          </label>
        </div>
        <NButton
          size="mini"
          color="outline-secondary"
          @click="deleteSelected()"
        >
          <span>선택 삭제</span>
        </NButton>
      </div>
    </div>
  </div>
</template>
<script>
import NoResult from '@/components/UI/NoResult';
export default {
  props: {
    myFavoriteList: Array,
    favCount: Number,
  },
  components: { NoResult },
  data() {
    return {
      selectedIds: [],
    };
  },
  computed: {
    selectAll: {
      get() {
        // 체크리스트가 모두 체크 되었을 때
        return this.myFavoriteList
          ? this.myFavoriteList.length === this.selectedIds.length &&
              this.myFavoriteList.length > 0
          : false;
      },
      set(value) {
        const selected = [];
        if (value) {
          this.myFavoriteList.map((item) => {
            selected.push(item.no);
          });
        }
        console.log(this.selectedIds);
        this.selectedIds = [...selected];
      },
    },
  },
  methods: {
    goToSpaces(no) {
      this.$router.push(`/delivery-kitchen/${no}`);
    },
    deleteFav(no) {
      console.log('delete emitted', no);
      this.$emit('delete', { id: no, spaceTypeNo: '2' });
    },
    deleteSelected() {
      this.$emit('deleteSelected', this.selectedIds);
      this.selectedIds = [];
    },
  },
};
</script>
