<template>
  <div>
    <FormGroup class="mb-4 txt-center">
      <div>
        <div class="row gutter-8">
          <div class="col col-6">
            <Radio
              id="spaceType1-fav"
              name="spacetype-fav"
              label="식당형"
              class="type-button txt-tiny w-100p"
              @click="spaceType = '1'"
              :checked="spaceType === '1'"
            ></Radio>
          </div>
          <div class="col col-6">
            <Radio
              id="spaceType2-fav"
              name="spacetype-fav"
              label="배달형"
              class="type-button txt-tiny w-100p"
              @click="spaceType = '2'"
              :checked="spaceType === '2'"
            ></Radio>
          </div>
        </div>
      </div>
    </FormGroup>
    <MypageList v-if="spaceType === '1'">
      <RestaurantFavPreview
        :myFavoriteList="restaurantFav"
        :favCount="restaurantFavCount"
        @delete="deleteFav"
        @deleteSelected="deleteSelectedIds"
      />
    </MypageList>
    <MypageList v-if="spaceType === '2'">
      <DeliveryFavPreview
        :myFavoriteList="deliveryFav"
        :favCount="deliveryFavCount"
        @delete="deleteFav"
        @deleteSelected="deleteSelectedIds"
      />
    </MypageList>
  </div>
</template>
<script>
import MypageList from '@/components/Mypage/MypageList';
import DeliveryFavPreview from '@/components/Mypage/MyFavorite/DeliveryFavPreview';
import RestaurantFavPreview from '@/components/Mypage/MyFavorite/RestaurantFavPreview';
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
import NoResult from '@/components/UI/NoResult';
export default {
  props: {
    myFavoriteList: Array,
    myFavoriteCount: Number,
  },
  components: {
    MypageList,
    DeliveryFavPreview,
    SpacePriceArea,
    RestaurantFavPreview,
    NoResult,
  },
  data() {
    return {
      restaurantSelectedIds: [],
      spaceType: '1',
      deliveryFav: null,
      restaurantFav: null,
      deliveryFavCount: null,
      restaurantFavCount: null,
    };
  },
  computed: {
    restaurantSelectAll: {
      get() {
        // 체크리스트가 모두 체크 되었을 때
        return this.restaurantFav
          ? this.restaurantFav.length === this.restaurantSelectedIds.length
          : false;
      },
      set(value) {
        const selected = [];
        if (value) {
          this.restaurantFav.map((item) => {
            selected.push(item.no);
          });
        }
        console.log(this.restaurantSelectedIds);
        this.restaurantSelectedIds = [...selected];
      },
    },
  },

  methods: {
    getDeliveryFav() {
      this.$axios.$get('/favoriteSpace/myFavoriteDelivery').then((res) => {
        this.deliveryFav = res.items;
        this.deliveryFavCount = res.totalCount;
      });
    },
    getRestaurantFav() {
      this.$axios.$get('/favoriteSpace/myFavoriteRestaurant').then((res) => {
        this.restaurantFav = res.items;
        // console.log('resFav', this.restaurantFav);
        this.restaurantFavCount = res.totalCount;
      });
    },
    goToDeliverySpaces(no) {
      this.$router.push(`/delivery-kitchen/${no}`);
    },
    deleteSelectedIds(selectedIds) {
      console.log('selectedIds', selectedIds);
      this.$axios
        .$delete('/favoriteSpace/multiple', {
          data: {
            favoriteSpaceNos: selectedIds,
          },
        })
        .then((res) => {
          // this.$root.$emit('deleteFavoriteId');
          // this.restaurantSelectedIds = [];
          this.getRestaurantFav();
          this.getDeliveryFav();
        });
    },
    deleteFav(params) {
      console.log('deleteFav params', params);
      return this.$axios
        .$delete('/favoriteSpace', {
          params: {
            deliverySpaceNo: params.id,
            spaceTypeNo: params.spaceTypeNo,
          },
        })
        .then((res) => {
          console.log('res', res);
          if (params.spaceTypeNo === '1') {
            this.getRestaurantFav();
          } else {
            this.getDeliveryFav();
          }
        });
    },
  },
  mounted() {
    this.getDeliveryFav();
    this.getRestaurantFav();
  },
};
</script>
