<template>
  <div class="mypage-preview">
    <div class="d-flex align-items-start justify-content-start">
      <div class="pr-2">
        <div class="checkbox txt-medium">
          <input
            type="checkbox"
            name="checkbox"
            :id="`favoriteId_${item.deliverySpace.no}`"
            :value="item.deliverySpace.no"
            @change="updateValue($event.target.value)"
          />
          <label :for="`favoriteId_${item.deliverySpace.no}`" class="label-txt">
            <span class="d-none">{{ item.deliverySpace.no }}</span>
          </label>
        </div>
      </div>
      <div @click="goToDeliverySpaces(item.deliverySpace.no)" class="w-100p">
        <div class="row no-gutters">
          <div class="col col-4">
            <div
              v-if="
                item.deliverySpace.images &&
                item.deliverySpace.images.length > 0
              "
            >
              <div class="space-preview-img lazy-preload">
                <img
                  v-lazy="item.deliverySpace.images[0].endpoint"
                  v-if="item.deliverySpace.images[0].endpoint"
                  class="thumb-img"
                />
                <img
                  v-lazy="require('@/assets/images/common/no_img.png')"
                  loading="lazy"
                  class="thumb-img"
                  :class="addClass2"
                  alt
                  v-else
                />
              </div>
            </div>
          </div>
          <div class="col col-8">
            <div class="px-4">
              <Badge color="lightblue" size="mini" text="배달형" />
              <div class="row-box mt-2">
                <h5 class="txt-bold txt-black txt-small">
                  {{ item.deliverySpace.typeName }}
                  {{ item.deliverySpace.size }}
                </h5>
                <p class="txt-mini" v-if="item.deliverySpace.companyDistrict">
                  {{ item.deliverySpace.companyDistrict.address }}
                </p>
              </div>
              <div class="row-box mt-2">
                <SpacePriceArea
                  :deposit="item.deliverySpace.deposit"
                  :rentalfee="item.deliverySpace.monthlyRentFee"
                  :pyeong="item.deliverySpace.size"
                ></SpacePriceArea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pl-2">
        <NButton size="mini" color="red" icon circle>
          <i class="icon icon-close"></i>
          <span>삭제</span>
        </NButton>
      </div>
    </div>
  </div>
</template>
<script>
import MypagePreview from '@/components/Mypage/MypagePreview';
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
export default {
  props: ['item'],
  components: {
    MypagePreview,
    SpacePriceArea,
  },
  data() {
    return {};
  },
  methods: {
    updateValue(value) {
      this.$emit('input', value);
    },
    goToDeliverySpaces(no) {
      this.$router.push(`/delivery-kitchen/${no}`);
    },
  },
};
</script>
<style lang="scss">
.space-preview-img {
  position: relative;
  padding-bottom: 60%;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
</style>
