<template>
  <main id="spaceMeetingsForm" class="main-wrapper">
    <EmptyHeader border title="입점 문의하기">
      <template v-slot:leftArea>
        <PrevButton @click="$router.go(-1)" />
      </template>
    </EmptyHeader>
    <article class="main-article">
      <header class="article-header mb-4 is-blind">
        <h2 class="txt-large txt-black">신청공간 및 상담관련</h2>
      </header>
      <div class="article-content">
        <!-- <section class="article-section bg-gray-100">
          <div class="inner-container">
            <header class="section-header mb-4">
              <h3 class="txt-medium txt-bold txt-black">상담 및 계약 순서</h3>
              <p class="txt-tiny txt-black mt-2">
                상담 및 계약은 아래의 순서로 진행되오니 참고 부탁드립니다.
              </p>
            </header>
            <div class="section-conent">
              <div class="step-box mt-2">
                <img
                  src="@/assets/svg/space-meetings/meetings_step.svg"
                  alt="방문상담 진행순서"
                />
              </div>
            </div>
          </div>
        </section> -->
        <section class="article-section border-bottom">
          <div class="inner-container">
            <header class="section-header mb-4">
              <h3 class="txt-medium txt-bold txt-black">입점하고 싶은 공간</h3>
            </header>
            <div class="section-conent">
              <div
                class="app-space-preview d-flex align-items-start justify-content-start"
              >
                <div class="col-4 p-0">
                  <div class="app-space-img lazy-preload">
                    <img
                      v-lazy="filePath"
                      loading="lazy"
                      alt
                      v-if="filePath"
                      @click="$router.push(`/delivery-kitchen/${theSpace.no}`)"
                      style="cursor: pointer;"
                    />
                    <img
                      v-lazy="require('@/assets/images/common/no_img.png')"
                      loading="lazy"
                      alt
                      v-else
                    />
                  </div>
                </div>
                <div class="col-8 p-0 pl-4">
                  <div class="row-box">
                    <div class="mb-2">
                      <Badge color="lightblue" size="mini" text="배달형" />
                      <span class="d-inline-block txt-mini"
                        >공간번호 {{ theSpace.no }}</span
                      >
                    </div>
                    <h4
                      class="txt-small txt-black txt-bold"
                      v-if="theSpace.typeName && theSpace.size"
                    >
                      {{ theSpace.companyDistrict.company.nameKr }}
                      {{ theSpace.companyDistrict.nameKr }}
                      {{ theSpace.size }}평
                    </h4>
                    <p class="txt-tiny txt-black txt-semi-bold mt-1">
                      {{ theSpace.companyDistrict.region1DepthName }}
                      {{ theSpace.companyDistrict.region2DepthName }}
                      {{ theSpace.companyDistrict.region3DepthName }}
                    </p>
                  </div>
                  <div class="row-box mt-2">
                    <SpacePriceArea
                      :deposit="theSpace.deposit"
                      :rentalfee="theSpace.monthlyRentFee"
                      :pyeong="theSpace.size"
                    ></SpacePriceArea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="article-section">
          <div class="inner-container">
            <header class="section-header mb-4">
              <h3 class="txt-medium txt-bold txt-black">상담관련</h3>
            </header>
            <div class="section-conent">
              <div class="form-wrapper">
                <FormGroup>
                  <FormLabel>업종 선택</FormLabel>
                  <FormControl>
                    <NSelect
                      v-model="selectedFoodCategory"
                      placeholder="선택"
                      item-value="nameKr"
                      item-text="nameKr"
                      :items="foodCategory"
                      :allOption="false"
                    />
                  </FormControl>
                </FormGroup>
                <!-- 상담가능 시간 -->
                <FormGroup>
                  <div class="d-flex align-items-end justify-content-between">
                    <FormLabel>유선상담 가능 시간 선택</FormLabel>
                    <Radio
                      id="timeInfo01"
                      name="timeInfo"
                      label="상시가능"
                      class="type-check txt-tiny"
                      @click="hopeTime = 'ALL_DAY'"
                      :checked="hopeTime == 'ALL_DAY'"
                    ></Radio>
                  </div>
                  <FormRow class="mt-2">
                    <div class="d-flex flex-wrap gutter-8 txt-center txt-small">
                      <div class="col-4">
                        <Radio
                          id="timeInfo02"
                          name="timeInfo"
                          label="10:00~12:00"
                          class="type-button w-100p"
                          @click="hopeTime = '1012'"
                          :checked="hopeTime == '1012'"
                        ></Radio>
                      </div>
                      <div class="col-4">
                        <Radio
                          id="timeInfo03"
                          name="timeInfo"
                          label="14:00~16:00"
                          class="type-button w-100p"
                          @click="hopeTime = '1416'"
                          :checked="hopeTime == '1416'"
                        ></Radio>
                      </div>
                      <div class="col-4">
                        <Radio
                          id="timeInfo04"
                          name="timeInfo"
                          label="16:00~18:00"
                          class="type-button w-100p"
                          @click="hopeTime = '1618'"
                          :checked="hopeTime == '1618'"
                        ></Radio>
                      </div>
                    </div>
                  </FormRow>
                </FormGroup>
                <FormGroup class="pb-4 border-bottom">
                  <FormLabel>창업 경험 유무</FormLabel>
                  <FormRow>
                    <div class="row no-gutters">
                      <div class="col-4">
                        <Radio
                          id="expY"
                          name="changup_exp_yn"
                          label="예"
                          :checked="isExp"
                          @click="isExp = !isExp"
                        />
                      </div>
                      <div class="col-4">
                        <Radio
                          id="expN"
                          name="changup_exp_yn"
                          label="아니오"
                          :checked="!isExp"
                          @click="isExp = !isExp"
                        />
                      </div>
                    </div>
                  </FormRow>
                </FormGroup>
                <div class="btn-box d-flex mt-12">
                  <NButton
                    color="primary"
                    size="medium"
                    block
                    class="mk_sp3_form_com_btn"
                    @click="save()"
                    >신청하기</NButton
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </article>
    <!-- 로딩 레이어 -->
    <LoadingLayer v-if="isLoading" />
    <!--// -->
  </main>
</template>
<script>
import EmptyHeader from '@/components/Navigation/EmptyHeader';
import LoadingLayer from '@/components/UI/LoadingLayer';
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
export default {
  name: 'delivery-kitchen-form',
  middleware: ['no-auth-guard', 'form-guard'],
  layout: 'empty',
  components: {
    EmptyHeader,
    LoadingLayer,
    SpacePriceArea,
  },
  created() {
    //토큰 유효기간 체크
    this.$checkTokenExpired('/delivery-kitchen/form');
  },
  data() {
    return {
      baseUrl: process.env.baseUrl,
      theSpace: this.$store.state.spaces.selectedSpace,
      hopeTime: 'ALL_DAY',
      isExp: true,
      isLoading: false,
      selectedFoodCategory: null,
      foodCategory: [
        { nameKr: '한식' },
        { nameKr: '중식' },
        { nameKr: '일식' },
        { nameKr: '양식' },
        { nameKr: '동남아' },
        { nameKr: '인도' },
        { nameKr: '치킨' },
        { nameKr: '패스트푸드' },
        { nameKr: '분식' },
        { nameKr: '면' },
        { nameKr: '해산물' },
        { nameKr: '육류' },
        { nameKr: '제과' },
        { nameKr: '커피' },
        { nameKr: '기타' },
        { nameKr: '도시락' },
      ],
    };
  },
  computed: {
    filePath() {
      if (this.theSpace.images[0]) {
        return this.theSpace.images[0].endpoint;
      }
    },
  },
  methods: {
    save() {
      this.isLoading = true;
      this.$axios
        .$post('/deliveryFounderConsult', {
          deliverySpaceNo: this.theSpace.no,
          hopeFoodCategory: this.selectedFoodCategory,
          hopeTime: this.hopeTime,
          changUpExpYn: this.isExp ? 'Y' : 'N',
        })
        .then((res) => {
          this.isLoading = false;
          // 기업공유주방용 pixel 값
          if (
            this.theSpace.companyDistrict.company.companyType === 'CORP_COMPANY'
          ) {
            this.$fb.track('NHKitchen_complete_reg');
          }
          this.$router.push('/delivery-kitchen/complete');
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
#spaceMeetingsForm {
  .article-section {
    padding: 1.5em 0;
  }
  .step-box {
    margin: 0 auto;
  }

  .app-space-preview {
    .app-space-img {
      position: relative;
      padding-bottom: 60%;
      overflow: hidden;
      border-radius: $border-radius-sm;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
</style>
