<template>
  <main class="main-wrapper">
    <EmptyHeader border title="개인정보 취급방침">
      <template v-slot:leftArea>
        <CloseButton @click="$router.push('/')" />
      </template>
    </EmptyHeader>
    <article class="main-article">
      <div class="article-section">
        <Privacy />
      </div>
    </article>
  </main>
</template>
<script>
import Privacy from '@/components/Agreement/Privacy';
export default {
  layout: 'empty',
  components: {
    Privacy,
  },
};
</script>
