@charset "utf-8";

// txt color
@each $color, $value in $colors {
  .txt-#{$color} {
    color: $value;
    &.txt-underline {
      padding-bottom: 4px;
      border-bottom: 1px solid $value;
      font-weight: $txt-bold;
      &:after {
        display: inline-block;
        font-family: 'nanuda' !important;
        content: '\e927';
        margin-left: 0.25em;
        vertical-align: text-bottom;
      }
      &:hover {
        @include saturate(color, $value, 10);
      }
    }
  }
}

// txt theme color
@each $color, $value in $theme-colors {
  .txt-#{$color} {
    color: $value;
    &.txt-underline {
      padding-bottom: 2px;
      border-bottom: 1px solid $value;
      font-weight: $txt-bold;
      &:after {
        display: inline-block;
        font-family: 'nanuda' !important;
        content: '\e927';
        margin-left: 0.25em;
        vertical-align: text-bottom;
      }
      &:hover {
        @include saturate(color, $value, 10);
      }
    }
  }
}

// txt size
@each $size, $value in $font-sizes {
  .txt-#{$size} {
    font-size: $value;
  }
}

// txt weight
@each $weight, $value in $font-weight {
  .txt-#{$weight} {
    font-weight: $value;
  }
}

// txt align
.txt-left {
  text-align: left !important;
}

.txt-center {
  text-align: center !important;
}

.txt-right {
  text-align: right !important;
}

.txt-justify {
  text-align: justify !important;
}

// media query
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .txt#{$infix}-left {
      text-align: left !important;
    }

    .txt#{$infix}-right {
      text-align: right !important;
    }

    .txt#{$infix}-center {
      text-align: center !important;
    }

    .txt#{$infix}-justify {
      text-align: justify !important;
    }
  }
}

// etc
code.hljs {
  padding: empx(2, 30);
  background-color: $gray-100;
  border-radius: $border-radius;
  tab-size: 2;
}
