<template>
  <main class="main-wrapper" id="companyDetail" v-if="company">
    <article class="main-article">
      <header class="article-header">
        <div class="d-flex justify-content-center align-items-center">
          <template v-if="company.logo && company.logo.length > 0">
            <span class="d-inline-block company-logo">
              <img
                v-lazy="company.logo[0].endpoint"
                :alt="company.nameKr"
                height="140"
              />
            </span>
          </template>
          <!-- <h2>
            BY<br />
            {{ company.nameEng ? company.nameEng : company.nameKr }}
          </h2> -->
        </div>
      </header>
      <div class="article-content">
        <section
          class="article-section bg-light"
          v-if="promotions && promotions.length > 0"
        >
          <header class="section-header txt-center">
            <h3>진행중인 이벤트</h3>
          </header>
          <div class="section-content">
            <div class="inner-container">
              <PromotionList
                :promotions="promotions"
                :promotionTotalCount="promotionTotalCount"
              />
            </div>
          </div>
        </section>
        <section
          class="article-section border-top"
          v-if="bestSpaces.length > 0"
        >
          <header class="section-header txt-center">
            <h3>인기 공유주방</h3>
          </header>
          <div class="section-content">
            <SpaceSlider :spaces="bestSpaces" hideFavorite />
          </div>
        </section>
        <section class="article-section border-top" v-if="allSpaces.length > 0">
          <header class="section-header txt-center">
            <h3>전체 공유주방</h3>
          </header>
          <div class="section-content">
            <div class="inner-container">
              <SpaceList :spaces="allSpaces" :take="9" hidebtnMore />
              <div class="btn-box txt-center mt-8">
                <NButton
                  v-if="allSpaces.length > 9"
                  color="outline-primary"
                  @click="moreView()"
                  class="w-30"
                  >더 보기</NButton
                >
              </div>
            </div>
          </div>
        </section>
        <!-- <section class="article-section bg-light">
          <div class="inner-container">
            <header class="section-header txt-center">
              <h3>다른 공유주방업체가 궁금하신가요?</h3>
            </header>
            <div class="section-content">
              <div class="btn-box txt-center">
                <NButton
                  color="primary"
                  @click="$router.push('/kitchen-partners')"
                  class="w-30"
                  >전체 업체 보러가기</NButton
                >
              </div>
            </div>
          </div>
        </section> -->
      </div>
    </article>
  </main>
</template>
<script>
import SpaceList from '@/components/Main/SpaceList'; // 공간 리스트
import SpaceSlider from '@/components/Main/SpaceSlider'; // 인기 공유 주방 슬라이더
import PromotionList from '@/components/Promotion/PromotionList';
export default {
  components: {
    SpaceList,
    SpaceSlider,
    PromotionList,
  },
  async asyncData(context) {
    let company = await context.$axios.$get(`/company/${context.params.id}`);
    let bestSpaces = await context.$axios.$get('/bestSpace/byQuery', {
      params: {
        companyNo: context.params.id,
        take: 6,
      },
    });
    let allSpaces = await context.$axios.$get('/deliverySpace', {
      params: {
        nanudaUserNo: context.store.state.userNum,
        companyNo: context.params.id,
      },
    });
    let promotions = await context.$axios.$get(
      `/company/${context.params.id}/ongoingPromtions`,
    );

    return {
      company: company,
      promotions: promotions.items,
      promotionTotalCount: promotions.totalCount,
      bestSpaces: bestSpaces.items,
      allSpaces: allSpaces.items,
    };
  },
  methods: {
    moreView() {
      this.$router.push({
        name: 'delivery-kitchen',
        params: { companyNo: this.company.no },
      });
    },
  },
};
</script>
<style lang="scss" scoped>
#companyDetail {
  .article-header {
    text-align: center;
    padding: 4em 0;
    // background-color: $black;
    .company-logo {
      // filter: invert(1);
      + h2 {
        padding-left: 1.5em;
        margin-left: 1.5em;
        border-left: 1px solid $border-color;
      }
    }
    h2 {
      // color: $white;
      color: $black;
      font-weight: $txt-bold;
      text-align: left;
      line-height: 1.2;
      font-size: $txt-large;
      text-transform: uppercase;
    }
    .title-eng {
      display: block;
      font-size: $txt-tiny;
      letter-spacing: 0.2em;
      margin-bottom: 1em;
    }
  }
}
</style>
