<template>
  <div :class="{ 'is-active': isScrolled }" id="infoAppRequestFixed">
    <div class="info-app-request">
      <div class="inner-container d-flex align-items-center">
        <div class="info-box">
          <slot name="infoArea"> </slot>
        </div>
        <div class="btn-box mt-0">
          <slot name="btnArea"> </slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    isScrolled: Boolean,
  },
};
</script>
