<template>
  <div class="brand-list">
    <div class="brand-preview brand-damda">
      <span class="brand-num">01</span>
      <div class="brand-desc">
        <Badge color="yellow" size="mini" text="NND BRAND" />
        <div class="txt-box">
          <div class="logo-box">
            <img
              src="@/assets/svg/common/logo_damda.svg"
              alt="담다 로고"
              class="h-4"
            />
          </div>
          <h4>
            한식뷔페 담다
          </h4>
          <p>
            조선호텔, 르꼬르동 출신의 쉐프들이 모여 '공유식당'을 위한
            <br />한식 뷔페를 개발하여 나누다키친의 전용 브랜드로 확장.
            <br />양질의 식재료와 다양한 메뉴로 정갈한 한끼식사를 제공하는
            <br />나누다키친의 대표 브랜드 입니다.
          </p>
        </div>
      </div>
      <div class="store-preview">
        <div class="store-slider">
          <div v-swiper:mySwiper2="swiperOption">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_damda_01.jpg"
                  alt="담다 매장 01"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_damda_02.jpg"
                  alt="담다 매장 02"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_damda_03.jpg"
                  alt="담다 매장 03"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_damda_04.jpg"
                  alt="담다 매장 04"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_damda_05.jpg"
                  alt="담다 매장 05"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="store-desc">
          <h5>
            대표매장 : 한식뷔페 담다 역삼점
          </h5>
          <p>
            역삼역 직장인 밀집 지역에 위치한 매장으로 엄선된 재료로 신선하게
            즐기는 한식 뷔페입니다. 매장 외부에 오늘의 메뉴를 플레이팅하여
            고객들이 시각적으로 메뉴를 볼 수 있게 하고 있으며, 1일 100명 이상의
            직장인들이 방문하는 인기있는 매장입니다.
          </p>
        </div>
      </div>
    </div>
    <div class="brand-preview brand-curryboy">
      <span class="brand-num">02</span>
      <div class="brand-desc">
        <Badge color="yellow" size="mini" text="NND BRAND" />
        <div class="txt-box">
          <div class="logo-box">
            <img
              src="@/assets/svg/common/logo_curryboy.svg"
              alt="카레보이 로고"
              class="h-6"
            />
          </div>
          <h4>
            카레보이
          </h4>
          <p>
            유명 쉐프와 공동개발한 시금치 카레, 스파이시 포크카레 등
            <br />8종의 카레와 20종이 넘는 사이드 메뉴로 구성된 <br />점심
            공유식당에 혁신을 가져온 국내 유일 카레 전문 브랜드
          </p>
        </div>
      </div>
      <div class="store-preview">
        <div class="store-slider">
          <div v-swiper:mySwiper1="swiperOption">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_curryboy_01.jpg"
                  alt="카레보이 매장 01"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_curryboy_02.jpg"
                  alt="카레보이 매장 02"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_curryboy_03.jpg"
                  alt="카레보이 매장 03"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_curryboy_04.jpg"
                  alt="카레보이 매장 04"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_curryboy_05.jpg"
                  alt="카레보이 매장 05"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_curryboy_06.jpg"
                  alt="카레보이 매장 06"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="store-desc">
          <h5>
            대표매장 : 나누다키친 삼성점
          </h5>
          <p>
            삼성동 직장인 밀집 지역에 위치한 매장이며, 월 평균 1,500만원 이상의
            매출을 내고 있습니다. 인건비 절감을 위하여 무인 결제 시스템을
            사용하고 있으며, 기본 카레 뷔페 외 개별 메뉴(난)을 판매하고
            있습니다.
          </p>
        </div>
      </div>
    </div>
    <div class="brand-preview brand-bmeal">
      <span class="brand-num">03</span>
      <div class="brand-desc">
        <Badge color="yellow" size="mini" text="NND BRAND" />
        <div class="txt-box">
          <div class="logo-box">
            <img
              src="@/assets/svg/common/logo_bmeal.svg"
              alt="비밀 로고"
              class="h-2"
            />
          </div>
          <h4>
            비:밀
          </h4>
          <p>
            미슐랭 쉐프와 르꼬끄동 출신의 쉐프들이 개발한
            <br />한국인이 가장 즐겨먹는 각종 덮밥류와 국, 반찬류 등
            <br />18가지 메뉴로 구성된 퓨전 덮밥 뷔페 브랜드
          </p>
        </div>
      </div>
      <div class="store-preview">
        <div class="store-slider">
          <div v-swiper:mySwiper3="swiperOption">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_bmeal_01.jpg"
                  alt="비밀 매장 01"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="@/assets/images/plans/brand_bmeal_02.jpg"
                  alt="비밀 매장 02"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="store-desc">
          <h5>
            대표매장: 준비중
          </h5>
          <p>
            현재 준비 중인 브랜드입니다.
          </p>
        </div>
      </div>
    </div>
    <div class="brand-preview brand-mybrand">
      <span class="brand-num">04</span>
      <div class="brand-desc">
        <Badge color="green" size="mini" text="MY BRAND" />
        <div class="txt-box">
          <h4>
            MY 브랜드
          </h4>
          <p>
            창업자가 직접 만드는 브랜드
          </p>
        </div>
      </div>
      <div class="store-preview">
        <div class="store-desc mt-0">
          <p class="txt-mini mt-0">
            나누다키친 브랜드가 아닌 창업자께서 원하는 브랜드를 활용하여 오픈할
            수 있습니다. 메뉴, 디자인, 키오스크 등 다양한 서비스를 필요하신
            것들만 선택하여 창업하실 수 있습니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      swiperOption: {
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: false,
        spaceBetween: 10,
        freeMode: true,
        grabCursor: true,
        pagination: false, // 페이징 미노출
      },
    };
  },
};
</script>
<style lang="scss" scoped>
.brand-preview {
  position: relative;

  .brand-num {
    display: block;
    font-size: 1.6rem;
    color: $primary;
    text-align: center;
    margin-bottom: 1.5em;
  }

  .brand-desc {
    position: relative;
    padding: 3.5em 1.5em;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('~assets/images/plans/plans_visual.jpg');
    color: $white;

    .badge {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
    }

    .logo-box {
      margin-bottom: 1.5em;
    }

    .txt-box {
      position: relative;
      z-index: 2;
      margin-top: 0;

      h4 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1.2rem;
        margin-top: 1em;
      }
    }
  }

  .store-preview {
    padding: 2em 1.5em 6em;

    .store-slider {
      .swiper-slide {
        width: 17.5em;

        img {
          width: 100%;
        }
      }
    }
    .store-desc {
      margin-top: 1em;

      h5 {
        font-size: 1.4rem;
        color: $black;
        font-weight: 600;
      }
      p {
        font-size: 1.2rem;
        margin-top: 1em;
      }
    }
  }

  &.brand-curryboy {
    .brand-desc {
      background-image: url('~assets/images/plans/bg_brand_curryboy.jpg');
    }
  }
  &.brand-damda {
    .brand-desc {
      background-image: url('~assets/images/plans/bg_brand_damda.jpg');
    }
  }
  &.brand-bmeal {
    .brand-desc {
      background-image: url('~assets/images/plans/bg_brand_bmeal.jpg');
    }
  }
  &.brand-mybrand {
    .brand-desc {
      background-image: url('~assets/images/plans/bg_brand_mybrand.jpg');
    }
  }
}
</style>
