<template>
  <div class="service-list">
    <div class="row gutter-8">
      <ServicePreview title="브랜드/레시피" desc="브랜드에 맞는 <br>레시피 제공" :index="1">
        <template v-slot:icon>
          <img src="@/assets/svg/plans/service_01.svg" />
        </template>
      </ServicePreview>
      <ServicePreview title="상권분석" desc="객관적 DB를 통한 <br>공간 추천" :index="2">
        <template v-slot:icon>
          <img src="@/assets/svg/plans/service_02.svg" />
        </template>
      </ServicePreview>
      <ServicePreview title="1:1 맞춤 교육" desc="레시피 교육과 매장 <br>운영 교육 제공" :index="3">
        <template v-slot:icon>
          <img src="@/assets/svg/plans/service_03.svg" />
        </template>
      </ServicePreview>
      <ServicePreview title="내외부 디자인" desc="전문 디자이너의 <br>디자인물 제공" :index="4">
        <template v-slot:icon>
          <img src="@/assets/svg/plans/service_04.svg" />
        </template>
      </ServicePreview>
      <ServicePreview title="점포 마케팅" desc="매장별 마케팅<br>솔루션 제공" :index="5">
        <template v-slot:icon>
          <img src="@/assets/svg/plans/service_05.svg" />
        </template>
      </ServicePreview>
      <ServicePreview title="정산 세무" desc="세무 정산 대행 <br>서비스 제공" :index="6">
        <template v-slot:icon>
          <img src="@/assets/svg/plans/service_06.svg" />
        </template>
      </ServicePreview>
    </div>
  </div>
</template>
<script>
import ServicePreview from "@/components/plans/ServicePreview";
export default {
  components: {
    ServicePreview
  }
};
</script>
<style lang="scss">
.service-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  border-radius: 1em;
  padding: 1em 0.5em;
}
</style>