<template>
  <div class="col-4">
    <div
      class="service-preview"
      data-aos="fade-up"
      data-aos-duration="500"
      :data-aos-delay="`${100 * index}`"
      data-aos-once="true"
    >
      <div class="icon-box">
        <slot name="icon"></slot>
      </div>
      <div class="txt-box">
        <h4>{{ title }}</h4>
        <p v-html="desc">{{ desc }}</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['index', 'title', 'desc'],
};
</script>
<style lang="scss">
.service-preview {
  display: block;
  align-items: center;
  padding: 1em 0;

  + .service-preview {
    border-top: 1px solid #ddd;
  }

  .icon-box {
    text-align: center;
    img {
      max-width: 4.125em;
    }
  }

  .txt-box {
    text-align: center;

    h4 {
      color: #212121;
      font-size: 1.3rem;
      line-height: 1;
    }
    p {
      font-size: 1.1rem;
      margin-top: 0.5em;
    }
  }
}
</style>
