<template>
  <main class="main-wrapper" id="promotionDetail">
    <article class="main-article">
      <header class="article-header txt-center py-10">
        <div class="inner-container">
          <template v-if="promotion.codeManagement">
            <Badge
              size="mini"
              color="secondary"
              :text="promotion.codeManagement.value"
              :style="{
                background: promotion.codeManagement.subCssValue,
                'border-color': promotion.codeManagement.subCssValue,
              }"
              class="promotion-type"
            />
          </template>
          <div class="mt-1">
            <h2 class="txt-black txt-bold">
              {{ promotion.displayTitle }}
            </h2>
          </div>
          <div class="row-box my-8">
            <p class="txt-large">
              <span class="py-2 px-4 border-top border-bottom">
                <i class="icon icon-info-calendar mr-2"></i>
                <span>
                  {{ $moment(promotion.started).format('YYYY.MM.DD') }}</span
                >
                ~
                <span>{{ $moment(promotion.ended).format('YYYY.MM.DD') }}</span>
              </span>
            </p>
          </div>
          <div
            class="row-box mt-4"
            v-if="promotion.desc"
            v-html="promotion.desc"
          >
            {{ promotion.desc }}
          </div>
        </div>
      </header>
      <section class="article-section bg-light">
        <header class="section-header txt-center">
          <h3>
            이벤트 진행중인 업체
          </h3>
        </header>
        <div class="section-content">
          <div class="inner-container">
            <CompanyList :companies="companies" />
          </div>
        </div>
      </section>
      <section class="article-section">
        <header class="section-header txt-center">
          <h3>
            이벤트 진행중인 공유주방
          </h3>
        </header>
        <div class="section-content">
          <div class="inner-container">
            <template v-if="spaces.length > 0">
              <SpaceList :spaces="spaces" />
            </template>
            <template v-else>
              <div class="txt-center">
                <p>
                  준비중입니다
                </p>
              </div>
            </template>
          </div>
        </div>
      </section>
      <section class="article-section bg-light">
        <div class="inner-container">
          <header class="section-header txt-center">
            <h3>다른 이벤트가 궁금하신가요?</h3>
          </header>
          <div class="section-content">
            <div class="btn-box txt-center">
              <NButton
                color="primary"
                @click="$router.push('/events')"
                class="w-30"
                >전체 이벤트 보러가기</NButton
              >
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
</template>
<script>
import CompanyList from '@/components/Company/CompanyList';
import SpaceList from '@/components/Main/SpaceList';
export default {
  components: {
    CompanyList,
    SpaceList,
  },
  async asyncData(context) {
    let promotion = await context.$axios.$get(
      `/promotion/${context.params.id}`,
    );

    let companies = await context.$axios.$get(
      `/promotion/${context.params.id}/companies`,
    );

    let spaces = await context.$axios.$get(`/deliverySpace`, {
      params: {
        nanudaUserNo: context.store.state.userNum,
        promotionNo: context.params.id,
      },
    });

    return {
      promotion: promotion,
      companies: companies.items,
      spaces: spaces.items,
    };
  },
};
</script>
