<template>
  <svg
    version="1.1"
    id="errorText"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 152.77 29.81"
    style="enable-background: new 0 0 152.77 29.81;"
    xml:space="preserve"
  >
    <g id="그룹_20318" transform="translate(-45 -109)">
      <g id="그룹_20294" transform="translate(140.271 253.76)">
        <path
          id="패스_16423"
          class="st0"
          d="M-12.21-136.61c0-0.02,0-0.04,0-0.05l0,0c0-0.2-0.01-0.39-0.02-0.61
			c-0.01-0.15-0.02-0.3-0.03-0.45c-0.03-0.17-0.07-0.33-0.11-0.5c-0.2-0.86-0.56-1.68-1.08-2.39c-0.51-0.7-1.12-1.33-1.81-1.85
			c-0.66-0.56-1.38-1.02-2.16-1.39l-0.31-0.15c-0.91-0.36-1.87-0.57-2.84-0.62c-0.48-0.03-0.97-0.02-1.45,0.03
			c-0.43,0.03-0.86,0.05-1.29,0.06c-0.92,0-1.84-0.04-2.75-0.14v-0.03l-1.19-0.06h-0.37h-0.39l-0.43,0.02l-0.5,0.03l-1.14,0.08l0,0
			h-0.03l-0.09,0.02l-0.08,0.02l-0.07,0.03l-0.07,0.03l-0.06,0.03l-0.06,0.04l-0.06,0.04l-0.05,0.04l-0.05,0.05l-0.04,0.05
			l-0.08,0.1l-0.04,0.05l-0.03,0.05l-0.06,0.11l-0.05,0.11l-0.03,0.11l-0.03,0.11l-0.02,0.11l-0.01,0.1l-0.01,0.17
			c-0.01,0.17-0.01,0.32-0.02,0.47l-0.03,0.43c-0.03,0.28-0.06,0.53-0.08,0.78l-0.19,1.45l0,0c-0.05,0.52-0.09,1.09-0.12,1.77
			c-0.05,1.26,0.05,3.84-0.04,5.09c-0.06,0.87-0.23,1.74-0.29,2.61c-0.01,0.11-0.03,0.24-0.04,0.35c-0.21,2.04-0.03,4.11-0.1,6.16
			c-0.05,1.57-0.23,2.72-0.36,3.91l0,0c0,0.03-0.01,0.07-0.01,0.11s-0.01,0.06-0.01,0.09l0,0c-0.02,0.2-0.04,0.41-0.05,0.63
			c-0.02,0.29-0.09,0.71-0.11,1.05c-0.02,0.56,0.13,1.76,0.58,2.1c0.48,0.36,0.8,0.6,1.36,0.47c0.24-0.06,0.8-0.7,0.96-0.92
			c0.21-0.44,0.27-0.93,0.18-1.41c-0.04-0.36-0.05-0.71-0.03-1.07c0.01-0.3,0.03-0.6,0.04-0.9l0,0c0.04-0.98,0.07-2.1,0.11-3.08
			c0.05-1.26,0.08-2.52,0.17-3.77c0.01-0.13,0.02-0.26,0.04-0.39c0.31,0.09,0.65,0.1,0.97,0.04c0.14-0.02,0.28-0.02,0.43-0.01
			c0.36,0.03,0.83,0.07,1.25,0.09v0.01c0.02,0,0.04,0,0.07,0c0.04,0,0.09,0.01,0.13,0.01v-0.01c0.46,0.01,0.92,0,1.38-0.04
			c0.78-0.11,1.56-0.25,2.33-0.42c0.03,0.04,0.03,0.09,0.07,0.12c0.12,0.14,0.21,0.3,0.28,0.47c0.06,0.14,0.11,0.28,0.18,0.42h-0.01
			c0.2,0.48,0.42,0.94,0.63,1.43c0.25,0.59,0.52,1.17,0.74,1.77c0.18,0.49,0.22,1.04,0.43,1.51c0.09,0.2,0.24,0.47,0.36,0.71
			c0.37,0.67,0.7,1.36,0.97,2.08c0.18,0.57,0.39,1.14,0.63,1.69h-0.01c0.05,0.13,0.19,0.44,0.25,0.57c0.07,0.17,0.1,0.41,0.17,0.57
			c0.12,0.27,0.16,0.47,0.56,0.62c0.58,0.16,1.19,0.05,1.69-0.28c0.22-0.15,0.39-0.35,0.51-0.59c0.04-0.07,0.07-0.15,0.09-0.22
			c0.08-0.25-0.09-0.44-0.2-0.63c-0.05-0.07-0.09-0.15-0.11-0.23c-0.05-0.19-0.13-0.49-0.19-0.73l0,0c0-0.02-0.02-0.04-0.02-0.06
			c-0.01-0.04-0.03-0.09-0.04-0.13h-0.01c-0.07-0.22-0.14-0.44-0.24-0.66c-0.25-0.59-0.95-1.72-1.16-2.32
			c-0.15-0.42-0.21-0.88-0.35-1.29c-0.02-0.06-0.03-0.11-0.05-0.17c-0.39-0.97-0.85-1.92-1.36-2.83c-0.25-0.62-0.45-1.26-0.59-1.91
			h0.01c-0.04-0.13-0.08-0.26-0.13-0.4c-0.02-0.06-0.04-0.14-0.06-0.22c0.45-0.1,0.89-0.22,1.33-0.36l0.31-0.1
			c1.91-0.7,3.51-2.05,4.53-3.8c0.74-1.14,1.16-2.47,1.2-3.83h0.01C-12.2-136.51-12.21-136.56-12.21-136.61z M-15.18-135.43
			c-0.08,0.31-0.17,0.62-0.28,0.92c-0.34,0.75-0.88,1.4-1.55,1.88c-0.64,0.37-1.31,0.68-2.01,0.93c-0.29,0.13-0.69,0.34-1.07,0.48
			c-1.08,0.45-2.22,0.76-3.39,0.9c-1.08,0.09-2.06,0.16-3,0.2l-0.78,0.02c-0.3,0-0.68-0.06-0.98-0.06
			c-0.22-0.03-0.44-0.01-0.65,0.03c0.01-0.42,0-0.94,0-1.42c0.04-1.51-0.05-2.92,0.1-4.51c0.14-1.4,0.2-2.67,0.25-3.91l0,0
			c0.01-0.47,0.03-0.95,0.04-1.42v-0.05l0.01-0.06l0.02-0.05l0.02-0.04l0.03-0.04l0.04-0.03l0.04-0.03l0.04-0.03l0.05-0.02
			l0.05-0.02l0.06-0.02l0.06-0.01l0.06-0.01h1.4l0,0h0.21h0.4v-0.01l1.97-0.03l1.58-0.02h0.79c0.1,0,0.21,0,0.31,0.01
			c0.1,0.01,0.22,0.02,0.33,0.04c0.73,0.15,1.45,0.37,2.14,0.65c0.34,0.1,0.68,0.23,1.01,0.37c0.93,0.35,1.71,1.01,2.19,1.88
			c0.3,0.74,0.48,1.52,0.52,2.31C-15.15-136.25-15.18-135.72-15.18-135.43L-15.18-135.43z"
        />
        <path
          id="패스_16424"
          class="st0"
          d="M11.66-136.09c0-0.28-0.01-0.56-0.04-0.83c-0.02-0.14-0.03-0.3-0.04-0.45
			c-0.03-0.14-0.08-0.31-0.12-0.48c-0.22-0.86-0.61-1.66-1.14-2.37c-0.53-0.69-1.15-1.3-1.85-1.81c-0.67-0.54-1.41-0.99-2.2-1.34
			l-0.31-0.14c-0.91-0.34-1.88-0.53-2.86-0.55c-0.48-0.02-0.97,0-1.45,0.06c-0.43,0.04-0.86,0.07-1.28,0.09
			c-1.38,0.05-2.22-0.06-3.28-0.1l0,0l-0.66-0.02h-0.36l-0.4,0.01l-0.43,0.03l-0.5,0.04l-1.13,0.1v0.01h-0.04l-0.08,0.02l-0.08,0.02
			l-0.07,0.03l-0.07,0.03l-0.08,0.03l-0.06,0.04l-0.05,0.04l-0.05,0.05l-0.05,0.05l-0.04,0.05l-0.08,0.1l-0.03,0.05l-0.04,0.06
			l-0.06,0.11l-0.04,0.11l-0.03,0.11l-0.02,0.11l-0.02,0.11l-0.01,0.1l-0.01,0.17c0,0.17-0.01,0.33-0.01,0.47s-0.01,0.3-0.02,0.43
			l-0.06,0.78c-0.05,0.49-0.1,0.95-0.16,1.46h0.01c-0.04,0.52-0.08,1.09-0.08,1.77c-0.02,1.26,0.14,3.84,0.08,5.09
			c-0.04,0.87-0.18,1.75-0.23,2.62c-0.01,0.11-0.02,0.24-0.03,0.35c-0.16,2.05,0.06,4.11,0.04,6.16c-0.02,1.59-0.17,2.71-0.27,3.92
			l0,0c0,0.03,0,0.06-0.01,0.08c-0.01,0.02,0,0.05-0.01,0.08l0,0c-0.02,0.22-0.03,0.43-0.04,0.67c-0.01,0.29-0.08,0.71-0.08,1.05
			c-0.01,0.56,0.17,1.76,0.63,2.08c0.49,0.35,0.82,0.59,1.37,0.44c0.24-0.06,0.78-0.72,0.94-0.95c0.2-0.44,0.25-0.94,0.15-1.41
			c-0.04-0.36-0.06-0.71-0.06-1.07c0.01-0.26,0.01-0.51,0.02-0.76l0,0v-0.03v-0.11l0,0c0.01-0.99,0.02-2.08,0.04-3.08
			c0.02-1.26,0.02-2.52,0.08-3.78c0.01-0.13,0.02-0.26,0.03-0.39c0.32,0.08,0.65,0.09,0.96,0.01c0.14-0.02,0.28-0.03,0.43-0.02
			c0.38,0.02,0.82,0.05,1.25,0.06l0,0c0.01,0,0.02,0,0.03,0h0.08v-0.01c0.49,0.01,0.98-0.02,1.46-0.07c0.77-0.13,1.54-0.29,2.3-0.47
			c0.03,0.04,0.03,0.08,0.07,0.12c0.12,0.14,0.22,0.3,0.29,0.47c0.06,0.14,0.13,0.28,0.19,0.42H2c0.22,0.47,0.44,0.93,0.66,1.42
			c0.27,0.58,0.55,1.16,0.78,1.76c0.19,0.49,0.24,1.03,0.47,1.5c0.09,0.2,0.25,0.46,0.38,0.7c0.38,0.66,0.72,1.35,1.01,2.05
			c0.2,0.6,0.44,1.18,0.7,1.75H5.99c0.06,0.13,0.17,0.37,0.23,0.5c0.08,0.17,0.11,0.4,0.19,0.56c0.13,0.27,0.17,0.47,0.58,0.6
			c0.58,0.14,1.19,0.03,1.68-0.32c0.21-0.16,0.39-0.36,0.5-0.6c0.03-0.07,0.06-0.15,0.08-0.22c0.07-0.25-0.1-0.44-0.21-0.62
			c-0.05-0.07-0.09-0.15-0.11-0.23c-0.06-0.2-0.14-0.49-0.22-0.74l0,0c0-0.01-0.01-0.02-0.01-0.03c-0.01-0.03-0.02-0.07-0.03-0.1
			H8.66c-0.08-0.24-0.17-0.47-0.27-0.7c-0.27-0.58-0.99-1.69-1.22-2.29c-0.16-0.42-0.22-0.87-0.38-1.29
			c-0.02-0.06-0.04-0.11-0.05-0.17c-0.41-0.96-0.89-1.9-1.43-2.79c-0.26-0.62-0.48-1.25-0.64-1.9l0,0c-0.04-0.13-0.08-0.26-0.14-0.4
			c-0.03-0.07-0.05-0.15-0.06-0.22c0.45-0.12,0.89-0.24,1.33-0.39l0.3-0.11c1.89-0.74,3.46-2.12,4.44-3.9
			c0.64-1.12,1.02-2.36,1.09-3.65h0.01C11.66-135.95,11.66-136.01,11.66-136.09v-0.02V-136.09z M8.71-134.99
			c-0.09,0.3-0.14,0.63-0.25,0.93c-0.33,0.76-0.84,1.42-1.5,1.91c-0.63,0.38-1.3,0.71-1.99,0.98c-0.29,0.14-0.68,0.36-1.06,0.5
			c-1.07,0.48-2.21,0.81-3.37,0.98c-1.09,0.11-2.09,0.21-3.03,0.27l-0.74,0.04c-0.3,0.01-0.68-0.05-0.97-0.03
			c-0.22-0.02-0.43,0-0.65,0.05c0-0.42-0.02-0.94-0.03-1.41c0.01-1.51-0.12-2.92,0-4.51c0.1-1.4,0.14-2.67,0.16-3.92h-0.01
			c0-0.47,0.01-0.95,0.01-1.42v-0.07l0.01-0.06l0.02-0.05l0.02-0.04l0.03-0.04l0.03-0.03l0.04-0.03l0.04-0.03l0.05-0.02l0.05-0.02
			l0.06-0.02l0.06-0.01l0.06-0.01h0.23l0,0l1.18-0.03l0,0l2.56-0.1l1.58-0.06l0.79-0.02c0.1-0.01,0.21-0.01,0.31,0
			c0.1,0,0.22,0.02,0.33,0.03c0.73,0.14,1.45,0.34,2.15,0.6c0.35,0.09,0.69,0.21,1.03,0.34c0.94,0.33,1.73,0.97,2.24,1.83
			c0.35,0.87,0.55,1.8,0.59,2.74C8.73-135.49,8.71-135.24,8.71-134.99L8.71-134.99z"
        />
        <path
          id="패스_16425"
          class="st0"
          d="M52.2-128.18c0.91-0.26,1.76-0.7,2.51-1.28c0.8-0.65,1.45-1.45,1.92-2.37
			c0.6-1.14,0.9-2.42,0.87-3.71h-0.01c-0.01-0.24-0.02-0.49-0.04-0.76c-0.05-0.3-0.12-0.6-0.2-0.89c-0.09-0.36-0.22-0.7-0.39-1.03
			c-0.18-0.41-0.41-0.79-0.68-1.15c-0.26-0.36-0.54-0.7-0.84-1.01l-0.76-0.74c-0.57-0.56-1.2-1.05-1.88-1.47l-0.27-0.16
			c-0.81-0.44-1.68-0.74-2.58-0.89c-0.23-0.04-0.43-0.07-0.74-0.11c-0.14-0.02-0.28-0.03-0.43-0.02l-0.37,0.02
			c-0.4,0.03-0.8,0.05-1.21,0.05c-1.03-0.01-2.05-0.08-3.07-0.19l0,0l-0.69-0.04l-0.38-0.01h-0.41l-0.44,0.01l-0.52,0.03l-1.17,0.07
			l0,0h-0.04l-0.09,0.02l-0.08,0.02l-0.08,0.03l-0.07,0.03l-0.07,0.02l-0.06,0.04l-0.06,0.04l-0.05,0.04l-0.05,0.05l-0.05,0.05
			l-0.08,0.11l-0.04,0.05l-0.03,0.06l-0.05,0.11l-0.04,0.12l-0.03,0.12l-0.02,0.11l-0.02,0.11l-0.01,0.1c0,0.06,0,0.12-0.01,0.17
			c0,0.17-0.01,0.34-0.01,0.49c0,0.15-0.01,0.3-0.02,0.45c-0.02,0.29-0.04,0.55-0.06,0.8c-0.04,0.36-0.07,0.71-0.11,1.07l0,0
			c-0.01,0.14-0.03,0.28-0.04,0.43h0.01c-0.03,0.51-0.08,1.18-0.08,1.67c-0.01,1.19,0.14,3.63,0.09,4.81
			c-0.04,0.83-0.18,1.65-0.23,2.47c-0.01,0.11-0.02,0.22-0.03,0.33c-0.16,1.93,0.07,3.88,0.05,5.83c-0.02,1.57-0.17,2.5-0.27,3.7
			l0,0c-0.02,0.25-0.04,0.5-0.05,0.78c-0.01,0.28-0.08,0.67-0.08,1c-0.01,0.54,0.18,1.66,0.64,1.97c0.5,0.33,0.82,0.55,1.37,0.42
			c0.24-0.06,0.78-0.68,0.94-0.89c0.19-0.42,0.25-0.88,0.15-1.33c-0.05-0.34-0.06-0.67-0.06-1.01c0.01-0.29,0.01-0.57,0.02-0.85l0,0
			c0.01-0.97,0.02-1.91,0.03-2.91c0.01-1.19,0.02-2.38,0.07-3.57c0.01-0.14,0.02-0.27,0.03-0.41c0.28,0.07,0.56,0.07,0.84,0
			c0.13-0.02,0.27-0.03,0.4-0.02l1.16,0.07v-0.01c0.47,0.02,0.93,0.02,1.4,0c0.83-0.08,1.65-0.19,2.47-0.32
			c0.08,0.09,0.14,0.2,0.2,0.31c0.06,0.14,0.11,0.27,0.18,0.4l0,0c0.21,0.45,0.42,0.89,0.64,1.35c0.26,0.55,0.52,1.1,0.74,1.67
			c0.18,0.47,0.23,0.99,0.44,1.44c0.09,0.19,0.24,0.44,0.36,0.66c0.37,0.63,0.7,1.28,0.98,1.96c0.2,0.6,0.43,1.2,0.7,1.77l0,0
			c0.05,0.13,0.11,0.25,0.17,0.37c0.07,0.16,0.1,0.39,0.18,0.54c0.12,0.26,0.16,0.45,0.56,0.57c0.58,0.12,1.19,0,1.67-0.34
			c0.21-0.15,0.39-0.34,0.51-0.57c0.04-0.07,0.07-0.15,0.09-0.22c0.07-0.24-0.09-0.42-0.2-0.6c-0.05-0.07-0.09-0.14-0.11-0.22
			c-0.06-0.22-0.12-0.45-0.2-0.69l0,0c-0.08-0.27-0.19-0.54-0.31-0.8c-0.26-0.55-0.95-1.61-1.17-2.18c-0.15-0.4-0.21-0.83-0.36-1.23
			c-0.02-0.05-0.03-0.11-0.05-0.16c-0.4-0.92-0.85-1.81-1.37-2.66c-0.25-0.59-0.45-1.2-0.6-1.82l0,0l-0.01-0.03
			c0.28-0.05,0.57-0.11,0.85-0.17L52.2-128.18z M50.29-130.73c-1.04,0.35-2.13,0.56-3.23,0.62c-1.06,0.02-2.01,0.03-3,0.07v0.01
			L43.39-130c-0.28,0.01-0.63-0.05-0.92-0.03c-0.18-0.01-0.36,0-0.53,0.04c-0.01-0.35-0.02-0.75-0.03-1.12
			c0.01-1.42-0.12-2.76-0.01-4.26c0.09-1.22,0.13-2.58,0.14-3.71l0,0c0-0.49,0.01-0.97,0.01-1.47v-0.07l0.01-0.06l0.02-0.05
			l0.02-0.05l0.03-0.04l0.03-0.03l0.04-0.03l0.04-0.03l0.05-0.02l0.05-0.02l0.06-0.02l0.06-0.01h0.03l1.48,0.01l0,0l2.42-0.03
			l1.48-0.02h0.66c0.17,0.02,0.34,0.05,0.51,0.1c0.66,0.24,1.3,0.52,1.92,0.85c0.25,0.13,0.63,0.27,0.93,0.45
			c0.86,0.43,1.57,1.1,2.05,1.94c0.35,0.74,0.56,1.55,0.62,2.37l0,0c0.04,0.3,0.04,0.61,0.01,0.92c-0.01,0.29-0.07,0.58-0.16,0.86
			c-0.24,0.68-0.69,1.27-1.28,1.67c-0.28,0.17-0.57,0.31-0.88,0.41c-0.34,0.09-0.63,0.22-0.97,0.33
			C51.03-131,50.66-130.83,50.29-130.73L50.29-130.73z"
        />
        <path
          id="패스_16426"
          class="st0"
          d="M-36.74-117.12c-0.07-0.26-0.2-0.51-0.39-0.7c-0.06-0.06-0.13-0.12-0.2-0.17
			c-0.23-0.12-0.49-0.13-0.74-0.05c-0.1,0.02-0.19,0.02-0.29,0.01c-0.28-0.03-0.55-0.07-0.84-0.1l0,0
			c-0.34-0.03-0.67-0.05-1.01-0.04c-0.72,0.02-2.19,0.22-2.91,0.2c-0.5-0.02-1-0.14-1.5-0.16l-0.2-0.02c-1.18,0-2.35,0.06-3.52,0.19
			c-0.75-0.01-1.5-0.06-2.24-0.17l0,0l-0.67-0.03l-0.37-0.01h-0.41h-0.23h-0.02l-0.05-0.02l-0.04-0.02l-0.04-0.03l-0.03-0.03
			l-0.03-0.03l-0.02-0.04l-0.02-0.04v-0.05l-0.01-0.04v-0.14c0.02-0.44,0.06-1.14,0.08-1.6h-0.01c0.01-0.43,0.01-0.89-0.01-1.43
			c-0.05-1.2-0.34-3.66-0.35-4.86c0-0.52,0.02-1.05,0.05-1.57c0.07-0.02,0.14-0.03,0.21-0.03h0.43l0,0
			c0.49-0.01,0.97-0.03,1.46-0.04c0.6-0.02,1.2-0.04,1.8-0.01c0.49,0.02,0.98,0.19,1.47,0.17c0.21-0.01,0.49-0.04,0.74-0.07
			c0.71-0.09,1.43-0.13,2.14-0.11c0.62,0.06,1.24,0.08,1.87,0.07l0,0c0.14,0,0.27,0,0.4-0.01c0.17,0,0.39,0.06,0.56,0.06
			c0.28,0.05,0.56-0.06,0.73-0.29c0.34-0.48,0.47-1.09,0.36-1.67c-0.05-0.26-0.16-0.5-0.33-0.7c-0.05-0.06-0.11-0.12-0.17-0.17
			c-0.19-0.16-0.41-0.09-0.61-0.06c-0.08,0.02-0.16,0.02-0.24,0.01c-0.23-0.03-0.45-0.07-0.7-0.1l0,0
			c-0.28-0.03-0.56-0.04-0.84-0.04c-0.6,0.02-1.82,0.22-2.42,0.2c-0.42-0.02-0.83-0.14-1.25-0.16l-0.18-0.04
			c-0.98,0-1.96,0.06-2.93,0.19c-0.62-0.01-1.25-0.06-1.86-0.18l0,0c-0.13-0.02-0.25-0.03-0.39-0.03c-0.07,0-0.16-0.02-0.25-0.03
			c-0.09-1.39-0.27-2.77-0.33-4.16c-0.07-1.57,0.03-2.53,0.06-3.75l0,0c0-0.22,0.01-0.46,0.01-0.71s-0.01-0.54-0.02-0.83h0.01
			l-0.01-0.08v-0.13l0.01-0.06l0.02-0.05l0.01-0.02l0.01-0.02l0.03-0.04l0.03-0.03l0.04-0.03l0.04-0.02l0.04-0.01l0.05-0.01
			l0.05-0.01h0.15l1.4,0.11v0.01c0.35,0.04,0.7,0.05,1.05,0.04c0.75-0.02,2.28-0.22,3.03-0.2c0.52,0.02,1.04,0.14,1.56,0.16
			l0.21,0.02c1.23,0,2.45-0.06,3.67-0.19c0.78,0,1.56,0.06,2.34,0.17l0,0c0.15,0.02,0.32,0.03,0.49,0.03c0.17,0,0.43,0.06,0.63,0.06
			c0.5,0,0.96-0.26,1.23-0.68c0.22-0.42,0.31-0.91,0.25-1.38c-0.14-0.34-0.33-0.65-0.58-0.91c-0.24-0.18-0.56-0.22-0.84-0.11
			c-0.21,0.05-0.42,0.08-0.64,0.08h-0.54c-0.61,0-1.21,0.02-1.84,0.04c-0.75,0.02-1.5,0.04-2.25,0.01
			c-0.61-0.02-1.22-0.19-1.83-0.17c-0.26,0.01-0.61,0.04-0.93,0.07c-0.89,0.09-1.79,0.13-2.68,0.11c-0.84-0.07-1.59-0.08-2.33-0.06
			v-0.01l-2.68,0.04l-0.27,0.01l-0.28,0.02l-0.27,0.03l-0.27,0.04l-0.13,0.03l-0.12,0.03l-0.11,0.03l-0.1,0.04l-0.09,0.05
			l-0.09,0.05l-0.03,0.02l-0.04,0.03l-0.01,0.01l-0.01,0.02l-0.03,0.03l-0.04,0.07l-0.04,0.06l-0.03,0.07l-0.03,0.06l-0.02,0.07
			l-0.02,0.06l-0.01,0.03l-0.03,0.12l-0.03,0.11l-0.02,0.1l-0.02,0.18l-0.01,0.13c0,0.31-0.01,0.6-0.01,0.9s0,0.58,0,0.86
			c0.02,0.56,0.03,1.11,0.05,1.65h0.01c0.03,0.98,0.09,1.94,0.13,2.94c0.05,1.2,0.11,2.41,0.12,3.61c0.01,0.98-0.13,1.97-0.08,2.95
			c0.02,0.41,0.07,0.98,0.11,1.49c0.07,1.44,0.27,2.78,0.25,4.31c-0.02,1.22,0,2.32,0.04,3.4l0,0l0.01,0.2c0,0.05,0,0.1,0,0.16l0,0
			c0.04,0.8,0.08,1.78,0.11,2.52c0,0.08,0.01,0.17,0.02,0.25l0.03,0.26l0.04,0.26c0.02,0.09,0.03,0.17,0.05,0.25l0.03,0.11
			l0.03,0.11l0.04,0.11l0.04,0.1l0.05,0.09l0.05,0.08l0.03,0.03l0.03,0.03l0.06,0.05l0.06,0.04l0.06,0.04l0.06,0.03l0.06,0.03
			l0.06,0.03l0.06,0.02l0.06,0.02l0.03,0.01l0.05,0.02l0.1,0.03l0.09,0.02l0.16,0.03l0.12,0.01l0.84,0.04l0.81,0.02h1.55v0.01
			c0.58-0.01,1.16-0.03,1.76-0.04c0.72-0.02,1.44-0.04,2.16-0.01c0.59,0.02,1.17,0.19,1.76,0.17c0.25-0.01,0.59-0.04,0.89-0.07
			c0.85-0.09,1.71-0.13,2.57-0.11c0.75,0.06,1.49,0.08,2.24,0.07l0,0l0.48-0.01c0.21,0,0.46,0.06,0.67,0.06
			c0.32,0.05,0.65-0.06,0.88-0.29C-36.77-115.92-36.61-116.53-36.74-117.12z"
        />
        <path
          id="패스_16427"
          class="st0"
          d="M34.45-133.82c-0.19-0.79-0.44-1.57-0.74-2.34c-0.14-0.29-0.34-0.69-0.51-1.04
			c-0.66-1.33-1.75-2.4-3.1-3.02c-1.03-0.52-2.15-0.83-3.29-0.9l0,0c-0.24-0.02-0.47-0.03-0.7-0.04c-0.29-0.01-0.66-0.09-0.95-0.08
			c-0.27-0.04-0.55,0-0.81,0.1c-0.02-0.02-0.05-0.05-0.07-0.06c-0.39-0.17-0.83-0.17-1.21,0c-0.3,0.1-0.59,0.18-0.89,0.25
			c-0.19,0.05-0.49,0.13-0.74,0.2l0,0c-0.02,0.01-0.04,0.02-0.07,0.02l-0.17,0.05v0.02c-0.75,0.24-1.47,0.55-2.16,0.93
			c-0.95,0.52-1.84,1.16-2.63,1.9c-0.72,0.61-1.31,1.35-1.75,2.18c-0.18,0.42-0.33,0.85-0.44,1.29c-0.29,1.21-0.48,2.43-0.59,3.67
			c-0.15,1.04-0.18,2.09-0.11,3.14l0,0l0,0l0,0c0.06,0.82,0.17,1.64,0.32,2.45c0.18,1.04,0.48,2.07,0.87,3.05
			c0.31,0.94,0.86,1.79,1.58,2.47c0.39,0.31,0.81,0.58,1.27,0.79c1.18,0.49,2.4,0.85,3.66,1.07c1.03,0.26,2.1,0.39,3.16,0.39l0,0
			c0.85,0.01,1.7-0.06,2.54-0.19c1.1-0.17,2.16-0.52,3.15-1.02c0.89-0.39,1.68-0.97,2.31-1.7c0.29-0.39,0.54-0.81,0.74-1.25
			c0.48-1.17,0.85-2.38,1.09-3.62c0.27-0.99,0.46-2,0.57-3.02c0.09-0.82,0.13-1.65,0.12-2.48
			C34.93-131.69,34.77-132.78,34.45-133.82z M31.9-128.48c-0.07,0.36-0.15,0.76-0.22,1.25c-0.09,1.19-0.3,2.37-0.62,3.51
			c-0.22,0.49-0.51,0.95-0.86,1.35l-0.13,0.15c-0.38,0.43-0.81,0.81-1.27,1.15c-0.52,0.37-1.1,0.63-1.72,0.78
			c-0.87,0.16-1.76,0.17-2.64,0.04l0,0l-1.21-0.11c-0.43-0.03-1.09-0.06-1.75-0.15c-0.58-0.06-1.14-0.18-1.69-0.37
			c-0.48-0.21-0.92-0.49-1.3-0.84l-0.13-0.13c-0.39-0.38-0.74-0.81-1.01-1.28c-0.34-0.58-0.58-1.21-0.73-1.86
			c-0.18-0.9-0.24-1.82-0.18-2.74l0,0c0-0.37,0-0.77,0-1.24c-0.08-1.18-0.03-2.36,0.16-3.52c0.17-0.55,0.39-1.07,0.66-1.58
			l0.11-0.19c0.28-0.53,0.61-1.04,0.98-1.52c0.41-0.51,0.9-0.95,1.45-1.3c0.83-0.46,1.75-0.78,2.69-0.93l0.27-0.05
			c0.19-0.03,0.46-0.03,0.68-0.07c0.28-0.03,0.55-0.13,0.79-0.29c0.01,0.01,0.03,0.02,0.04,0.02c0.29,0.1,0.61,0.12,0.92,0.04
			c0.12-0.02,0.24-0.02,0.35-0.01c0.34,0.04,0.65,0.1,0.99,0.15l0,0l1.13,0.21c0.5,0.08,0.99,0.22,1.46,0.39
			c0.42,0.16,0.8,0.43,1.09,0.78c0.24,0.48,0.43,0.98,0.56,1.5l0.09,0.26c0.54,1.52,1.31,2.56,1.35,3.88
			C32.23-130.28,32.13-129.36,31.9-128.48L31.9-128.48z"
        />
      </g>
      <g id="그룹_20373" transform="translate(101 257.484)">
        <g id="그룹_20367">
          <path
            id="패스_16480"
            class="st1"
            d="M-45.6-141.95l-8.7,15.08c-0.84,1.46-0.34,3.33,1.12,4.18c0.46,0.27,0.99,0.41,1.53,0.41
				h17.41c1.69,0,3.06-1.37,3.06-3.06l0,0c0-0.54-0.14-1.07-0.41-1.53l-8.71-15.08c-0.84-1.46-2.71-1.96-4.17-1.12l0,0
				C-44.94-142.8-45.33-142.41-45.6-141.95z"
          />
          <path
            id="패스_16429"
            class="st0"
            d="M-29.94-125.92c-0.05-0.32-0.13-0.63-0.24-0.93c-0.05-0.15-0.12-0.3-0.19-0.44l-0.1-0.21
				l-0.08-0.15c-0.35-0.65-0.58-1.36-0.96-1.99c-0.16-0.26-0.41-0.62-0.61-0.93c-0.56-0.92-1.2-1.72-1.71-2.75
				c-0.45-0.9-0.9-1.7-1.35-2.47l0,0l-1.14-1.89c-0.46-0.78-0.94-1.55-1.37-2.34c-0.35-0.65-0.58-1.36-0.96-1.99
				c-0.22-0.36-0.46-0.71-0.72-1.05c-1-1.21-2.55-1.84-4.11-1.66c-1.36,0.15-2.57,0.93-3.27,2.11l0,0l-0.04,0.06v0.01l0,0
				c-0.35,0.61-0.68,1.22-1.03,1.86c-0.44,0.79-0.87,1.58-1.35,2.35c-0.38,0.63-0.89,1.19-1.24,1.83c-0.15,0.27-0.34,0.66-0.5,1
				c-0.52,0.95-0.89,1.9-1.52,2.85c-0.53,0.8-0.97,1.54-1.39,2.27l0,0l-0.04,0.07l-0.04,0.06l0,0l-1.08,1.94
				c-0.26,0.44-0.5,0.9-0.71,1.36c-0.23,0.6-0.34,1.25-0.3,1.89c0,1.08,0.41,2.11,1.15,2.9c0.4,0.37,0.87,0.67,1.38,0.87
				c0.36,0.15,0.74,0.25,1.13,0.29c0.19,0.02,0.38,0.02,0.56,0.02c0.21,0,0.28-0.02,0.43-0.02c0.54-0.04,1.09-0.04,1.64-0.02
				c1.01,0.06,1.92,0.07,2.82,0.06l0,0l2.21-0.04c0.9-0.01,1.8-0.04,2.71-0.01c0.74,0.02,1.47,0.18,2.21,0.16
				c0.31-0.01,0.74-0.04,1.11-0.07c1.08-0.03,2.09-0.18,3.23-0.11l0.74,0.04l0.36,0.01c0.11,0.01,0.32-0.01,0.47-0.02
				c0.66-0.06,1.29-0.27,1.86-0.6l0.01,0.01c0.03-0.02,0.05-0.04,0.08-0.06s0.07-0.03,0.1-0.05l-0.01-0.01
				c0.82-0.56,1.43-1.38,1.73-2.33C-29.88-124.62-29.84-125.28-29.94-125.92z M-34.04-123.73c-0.07,0-0.14,0.01-0.21,0.03
				l-0.45,0.03l-1,0.07c-0.69,0.05-1.37,0.09-1.82,0.08c-0.63-0.02-1.26-0.13-1.88-0.15l-0.25-0.02c-1.47-0.1-2.95,0.16-4.42,0.18
				c-0.94,0-1.88-0.06-2.82-0.17l0,0c-0.37-0.03-0.78-0.05-1.26-0.04c-0.45,0.01-1.14,0.06-1.83,0.11l-1,0.06l-0.45,0.02
				c-0.11,0.01-0.21,0-0.32-0.01c-0.35-0.06-0.68-0.23-0.93-0.49l-0.09-0.11c-0.27-0.3-0.46-0.65-0.56-1.04
				c-0.05-0.2-0.06-0.41-0.04-0.61c0.02-0.11,0.04-0.21,0.08-0.31c0.02-0.05,0.03-0.09,0.07-0.17l0.13-0.24
				c0.48-0.81,1.13-1.67,1.62-2.47l0,0c0.19-0.28,0.39-0.59,0.6-0.98c0.44-0.79,1.19-2.49,1.66-3.26c0.33-0.53,0.74-1.02,1.07-1.55
				l0.14-0.21c0.82-1.22,1.34-2.63,2.05-3.92c0.46-0.79,0.96-1.55,1.5-2.28c0.16-0.2,0.34-0.39,0.53-0.56
				c0.26-0.21,0.57-0.36,0.9-0.41c0.35-0.07,0.72,0,1.03,0.2c0.15,0.11,0.27,0.25,0.36,0.41l0.31,0.64l0.11,0.22
				c0.65,1.33,1.61,2.48,2.37,3.74c0.47,0.82,0.89,1.66,1.26,2.52l0,0c0.18,0.39,0.38,0.76,0.6,1.12c0.46,0.78,1.56,2.27,1.99,3.07
				c0.3,0.55,0.52,1.15,0.81,1.7l0.11,0.22c0.33,0.66,0.72,1.29,1.14,1.89l0.24,0.36c0.06,0.09,0.11,0.18,0.15,0.28
				c0.08,0.2,0.11,0.42,0.09,0.63c-0.07,0.52-0.4,0.97-0.88,1.18C-33.54-123.87-33.79-123.79-34.04-123.73L-34.04-123.73z"
          />
        </g>
        <path
          id="패스_16430"
          class="st0"
          d="M-41.63-134.06c0.01-0.03,0.01-0.07,0.02-0.1c0-0.57-0.05-1.14-0.17-1.7
			c0.03-0.36,0.07-0.73,0.15-1.08l0,0v-0.02l0.01-0.06l0,0c0.01-0.05,0.01-0.1,0.02-0.14c0.02-0.09,0.04-0.19,0.05-0.29
			c-0.06-0.29-0.3-0.52-0.59-0.57c-0.39-0.11-0.8-0.14-1.2-0.11c-0.27,0.06-0.54,0.15-0.79,0.27c-0.2,0.1-0.16,0.27-0.1,0.39
			c0.05,0.09,0.07,0.19,0.07,0.29v0.25l0,0c0.01,0.27,0.03,0.59,0.04,0.85c0.02,0.35,0.03,0.69,0.01,1.04
			c-0.07,0.28-0.12,0.56-0.15,0.85c0.01,0.12,0.04,0.28,0.06,0.43c0.08,0.41,0.11,0.82,0.1,1.24c-0.05,0.36-0.07,0.72-0.06,1.08l0,0
			c0,0.08,0,0.16,0.01,0.23c0,0.1-0.05,0.22-0.05,0.32c0.01,0.16-0.03,0.27,0.25,0.42c0.45,0.2,0.95,0.27,1.45,0.21
			c0.21-0.03,0.41-0.09,0.6-0.19c0.05-0.03,0.1-0.06,0.15-0.1c0.14-0.1,0.08-0.24,0.05-0.35c-0.01-0.05-0.02-0.09-0.01-0.14
			c0.03-0.13,0.06-0.26,0.08-0.41l0,0c0.03-0.16,0.04-0.32,0.03-0.49c-0.01-0.35-0.2-1.05-0.18-1.4
			C-41.75-133.58-41.65-133.82-41.63-134.06z"
        />
        <path
          id="패스_16431"
          class="st0"
          d="M-40.89-127.53L-40.89-127.53c0.03-0.38-0.07-0.77-0.28-1.09
			c-0.31-0.45-0.79-0.75-1.34-0.82c-0.51-0.06-1.03,0.07-1.45,0.35c-0.48,0.27-0.82,0.72-0.94,1.25c-0.02,0.07-0.03,0.15-0.04,0.22
			c-0.06,0.68,0.26,1.33,0.84,1.68c0.54,0.33,1.21,0.39,1.8,0.16c0.39-0.14,0.74-0.4,1-0.73
			C-41.07-126.79-40.93-127.15-40.89-127.53L-40.89-127.53z"
        />
      </g>
    </g>
  </svg>
</template>
<style lang="scss">
#errorText {
  height: 4em;
  .st0 {
    fill: #212121;
  }
  .st1 {
    fill: #ffcf4e;
  }
}
</style>
