<template>
  <main class="main-wrapper" id="errorPage">
    <header class="main-header is-blind">
      <h1>{{ title }}</h1>
    </header>
    <article class="main-article">
      <div class="inner-container">
        <slot name="topArea"> </slot>
        <div class="title-box">
          <slot name="imgArea">
            <!-- 기본 에러 이미지 -->
            <img src="@/assets/svg/common/error_character.svg" alt="" />
          </slot>
        </div>
        <div class="row-box">
          <slot name="txtArea">
            <p class="txt-black">
              페이지를 찾을 수 없습니다.
              <br />잠시 후 다시 시도해 주세요.
            </p>
          </slot>
        </div>
        <div class="btn-box mt-8" v-if="isBtn">
          <slot name="btnArea">
            <Button
              @click="$router.push('/')"
              class="btn btn-outline-primary btn-medium btn-block w-30"
              >홈으로</Button
            >
          </slot>
        </div>
      </div>
    </article>
  </main>
</template>

<script>
export default {
  props: {
    title: String,
    isBtn: {
      // 하단 버튼 영역
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
#errorPage {
  .error-code {
    display: block;
    font-size: $txt-small;
    color: $primary;
    margin-bottom: 1em;
  }
  .main-article {
    display: flex;
    align-items: center;
    justify-content: content;
    width: 100%;
    padding: 3.25em 0;
    text-align: center;

    .title-box {
      margin-top: 0;
      img {
        width: 16.875em;
      }
    }
  }
}
</style>
