<template>
  <div>
    <v-row>
      <v-col cols="12" lg="6">
        <CardWithTitle title="일간 등록 추이" class="small">
          <LineChart :height="300" :chartData="dayData" :options="lineOption()"
        /></CardWithTitle>
        <CardWithTitle title="월간 등록 추이" class="small">
          <LineChart
            :height="300"
            :chartData="monthData"
            :options="lineOption()"
        /></CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="일간 총 매출">
          <BarChart
            :chartData="revenueData"
            style="height: calc(100%);"
            v-if="$vuetify.breakpoint.lgAndUp"
          />
          <BarChart :chartData="revenueData" style="height: 300px;" v-else />
        </CardWithTitle>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import BarChart from '@/components/Charts/BarChart';
import LineChart from '@/components/Charts/LineChart';
import CardWithTitle from '@/components/Admin/CardWithTitle';
export default {
  layout: 'admin',
  components: { BarChart, LineChart, CardWithTitle },
  methods: {
    lineOption() {
      return {
        legend: {
          labels: {
            fontColor: this.$store.state.theme == 'dark' ? '#fff' : 'black',
          },
        },
        maintainAspectRatio: false,
        responsive: true,
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true,
        },
        scales: {
          xAxes: [
            {
              display: true,
              gridLines: {
                color:
                  this.$store.state.theme == 'dark' ? '#383838' : '#ededed',
              },
              scaleLabel: {
                display: true,
              },
              ticks: {
                fontColor: this.$store.state.theme == 'dark' ? '#fff' : 'black',
              },
            },
          ],
          yAxes: [
            {
              display: true,
              gridLines: {
                color:
                  this.$store.state.theme == 'dark' ? '#383838' : '#ededed',
              },
              scaleLabel: {
                display: true,
              },
              ticks: {
                fontColor: this.$store.state.theme == 'dark' ? '#fff' : 'black',
              },
            },
          ],
        },
      };
    },
  },
  async asyncData(context) {
    //등록,상담,매출 data 가져오기
    let dayData = await context.$axios.$get('/dashboardAdmin/dayGraph?days=10');
    let monthData = await context.$axios.$get(
      '/dashboardAdmin/monthGraph?months=12',
    );
    let revenueData = await context.$axios.$get(
      '/dashboardAdmin/revenueGraph?days=10',
    );
    return {
      dayData: dayData,
      monthData: monthData,
      revenueData: revenueData,
    };
  },
};
</script>

<style>
.small {
  max-height: 400px;
}
</style>
