<template>
  <main id="restaurantKitchenBalance" class="main-wrapper">
    <header class="main-header is-blind">
      <h1>식당형 공유주방 - 워라밸</h1>
    </header>
    <RestaurantBalance :media="media" :brands="brands" />
    <section
      class="article-section bg-light mx-0"
      id="registerForm"
      ref="registerForm"
    >
      <div class="txt-center border-bottom border-white pt-6 pb-4">
        <div class="inner-container">
          <p class="txt-small txt-gray-700">
            아래 작성해 주시는 내용을 바탕으로
            <br />전문 상담 매니저가 배정 예정이오니 <br />답변 주시면
            감사하겠습니다.
          </p>
        </div>
      </div>
      <div class="pt-4 pb-37">
        <div class="inner-container">
          <div class="bg-white rounded-lg px-4 py-6 border border-gray">
            <header class="section-header mb-8">
              <div class="title-box">
                <h3>창업 상담 신청</h3>
              </div>
            </header>
            <div class="section-content">
              <div>
                <div class="form-wrapper">
                  <div class="title-box mb-6 px-4 py-2 bg-secondary rounded-sm">
                    <h4 class="txt-medium txt-bold txt-white">필수 사항</h4>
                  </div>
                  <FormGroup>
                    <FormLabel for="name">이름</FormLabel>
                    <FormControl>
                      <InputGroup>
                        <InputField
                          ref="name"
                          type="text"
                          id="name"
                          placeholder="홍길동"
                          addClass="mk_restaurant_name_btn"
                          v-model="$v.name.$model"
                        />
                      </InputGroup>
                    </FormControl>
                  </FormGroup>
                  <FormGroup>
                    <FormLabel for="cellPhone">휴대폰번호</FormLabel>
                    <FormControl>
                      <InputGroup>
                        <InputField
                          type="tel"
                          placeholder="-없이 입력해주세요"
                          id="cellPhone"
                          addClass="mk_restaurant_phone_btn"
                          v-model="$v.phone.$model"
                        />
                      </InputGroup>
                    </FormControl>
                  </FormGroup>
                  <AddressSelectBox
                    @selectedCity="onSelectedCity"
                    @selectedDistrict="onSelectedDistrict"
                  />
                </div>
                <div class="form-wrapper pt-12">
                  <div class="title-box mb-6 px-4 py-2 bg-light rounded-sm">
                    <h4 class="txt-medium txt-bold txt-black">선택 사항</h4>
                  </div>
                  <FormGroup class="mt-6">
                    <FormLabel>연령대</FormLabel>
                    <FormRow>
                      <div class="row no-gutters">
                        <div class="col-4">
                          <div class="radio">
                            <input
                              type="radio"
                              name="userAge"
                              id="userAgeUnder30"
                              value="30대 이하"
                              v-model="age"
                              class="mk_restaurant_old_btn"
                            />
                            <label
                              for="userAgeUnder30"
                              class="label-txt mk_restaurant_old_btn"
                            >
                              <span>30대 이하</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="radio">
                            <input
                              type="radio"
                              name="userAge"
                              id="userAgeOver30"
                              value="30대 이상"
                              v-model="age"
                              class="mk_restaurant_old_btn"
                            />
                            <label
                              for="userAgeOver30"
                              class="label-txt mk_restaurant_old_btn"
                            >
                              <span>30대 이상</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="radio">
                            <input
                              type="radio"
                              name="userAge"
                              id="userAgeOver40"
                              value="40대 이상"
                              v-model="age"
                              class="mk_restaurant_old_btn"
                            />
                            <label
                              for="userAgeOver40"
                              class="label-txt mk_restaurant_old_btn"
                            >
                              <span>40대 이상</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </FormRow>
                  </FormGroup>
                  <FormGroup class="mt-6">
                    <FormLabel>음식점 창업 경험</FormLabel>
                    <FormRow>
                      <div class="row no-gutters">
                        <div class="col-4">
                          <div class="radio">
                            <input
                              type="radio"
                              name="is_exp"
                              id="isExpY"
                              v-model="changupExpYn"
                              value="예"
                              class="mk_restaurant_experience_btn"
                            />
                            <label
                              for="isExpY"
                              class="label-txt mk_restaurant_experience_btn"
                            >
                              <span>예</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="radio">
                            <input
                              type="radio"
                              name="is_exp"
                              id="isExpN"
                              value="아니오"
                              v-model="changupExpYn"
                              class="mk_restaurant_experience_btn"
                            />
                            <label
                              for="isExpN"
                              class="label-txt mk_restaurant_experience_btn"
                            >
                              <span>아니오</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </FormRow>
                  </FormGroup>
                  <FormGroup class="mt-6" v-show="changupExpYn === '예'">
                    <FormLabel>창업 업종</FormLabel>
                    <div class="select">
                      <select
                        name="foodCategory"
                        id="foodCategory"
                        class="form-control mk_restaurant_storetype_btn"
                        v-model="foodCategoryType"
                      >
                        <option value disabled selected>선택안함</option>
                        <option value="식당">식당</option>
                        <option value="카페">카페</option>
                        <option value="주점">주점</option>
                        <option value="공유주방">공유주방</option>
                        <option value="기타">기타</option>
                      </select>
                    </div>
                  </FormGroup>
                  <FormGroup class="mt-6">
                    <FormLabel>개인 메뉴 창업 희망</FormLabel>
                    <FormRow>
                      <div class="row no-gutters">
                        <div class="col-4">
                          <div class="radio">
                            <input
                              type="radio"
                              name="is_my_menu"
                              id="isMymenuY"
                              value="예"
                              v-model="personalMenu"
                              class="mk_restaurant_mymenu_btn"
                            />
                            <label
                              for="isMymenuY"
                              class="label-txt mk_restaurant_mymenu_btn"
                            >
                              <span>예</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="radio">
                            <input
                              type="radio"
                              name="is_my_menu"
                              id="isMymenuN"
                              value="아니오"
                              v-model="personalMenu"
                              class="mk_restaurant_mymenu_btn"
                            />
                            <label
                              for="isMymenuN"
                              class="label-txt mk_restaurant_mymenu_btn"
                            >
                              <span>아니오</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </FormRow>
                  </FormGroup>
                  <FormGroup class="mt-6">
                    <FormLabel>창업 계획 일정</FormLabel>
                    <FormRow>
                      <div class="row-box">
                        <div class="row-box">
                          <div class="radio">
                            <input
                              type="radio"
                              name="is_my_plan"
                              id="isHopePlan"
                              value="3개월 이내 창업 희망"
                              v-model="changupPlanning"
                              class="mk_restaurant_schedule_btn"
                            />
                            <label
                              for="isHopePlan"
                              class="label-txt mk_restaurant_schedule_btn"
                            >
                              <span>3개월 이내 창업 희망</span>
                            </label>
                          </div>
                        </div>
                        <div class="row-box">
                          <div class="radio">
                            <input
                              type="radio"
                              name="is_my_plan"
                              id="isOkPlan"
                              value="3개월 이후 창업 가능"
                              v-model="changupPlanning"
                              class="mk_restaurant_schedule_btn"
                            />
                            <label
                              for="isOkPlan"
                              class="label-txt mk_restaurant_schedule_btn"
                            >
                              <span>3개월 이후 창업 가능</span>
                            </label>
                          </div>
                        </div>
                        <div class="row-box">
                          <div class="radio">
                            <input
                              type="radio"
                              name="is_my_plan"
                              id="isNoPlan"
                              value="구체적인 계획 없음"
                              v-model="changupPlanning"
                              class="mk_restaurant_schedule_btn"
                            />
                            <label
                              for="isNoPlan"
                              class="label-txt mk_restaurant_schedule_btn"
                            >
                              <span>구체적인 계획 없음</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </FormRow>
                  </FormGroup>
                  <FormGroup class="mt-6">
                    <FormLabel>문의 사항</FormLabel>
                    <FormControl>
                      <div class="textarea">
                        <textarea
                          placeholder="문의 사항을 입력해주세요"
                          class="form-element mk_restaurant_question_btn"
                          v-model="etc"
                          maxlength="500"
                        ></textarea>
                        <span class="form-underline"></span>
                      </div>
                    </FormControl>
                    <div class="txt-box txt-right mt-1">
                      <p class="length txt-small">{{ etc.length }} / 500</p>
                    </div>
                  </FormGroup>
                </div>
                <div class="agree-box d-flex justify-content-between">
                  <CheckBox
                    label="개인정보취급방침에 동의합니다"
                    id="informedConsent"
                    class="txt-small"
                    @click="isInformedConsent"
                    :checked="isInformedConsentChecked"
                    addClass="mk_re2_law_btn"
                  />
                  <Button
                    @click="showInformedConsent = true"
                    class="btn-text btn-tiny btn-underline"
                    >약관보기</Button
                  >
                </div>
                <div class="btn-box txt-center mt-6">
                  <NButton
                    color="secondary"
                    size="medium"
                    block
                    @click="send()"
                    :disabled="$v.$invalid || !isInformedConsentChecked"
                    class="mk_restaurant_typeform_com_btn"
                    >신청하기</NButton
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 개인정보취급방침 모달 -->
    <CustomModal
      :visible="showInformedConsent"
      headerType="default"
      id="InformedConsent"
      title="개인정보취급 이용약관"
      noBtn="닫기"
      @close="showInformedConsent = false"
    >
      <PrivacyRestaurant />
    </CustomModal>
    <!-- // -->
  </main>
</template>
<script>
import RestaurantBalance from '@/components/RestaurantKitchen/RestaurantBalance';
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤 이베트
import { registerForm } from '@/assets/mixins/homepage/registerForm';

export default {
  mixins: [infoAppRequest, handleScroll, registerForm],
  components: {
    RestaurantBalance,
  },
  async asyncData(context) {
    let brands = await context.$axios.$get('/brand/spaceType/1');
    let media = await context.$axios.$get('/homePageMedia/youtube');
    return {
      media: media,
      brands: brands.rows,
    };
  },
  methods: {
    send() {
      // 전송 메소드
      return this.$axios
        .$post('/product/restaurant-kitchen-balance_v2', {
          PHONE: this.$v.phone.$model,
          NAME: this.$v.name.$model,
          CITY: this.$v.city.$model,
          DISTRICT: this.district,
          AGE: this.age,
          CHANGUPEXPYN: this.changupExpYn,
          FOOD_CATEGORY_TYPE: this.foodCategoryType,
          PERSONAL_MENU: this.personalMenu,
          CHANGUP_PLANNING: this.changupPlanning,
          ETC: this.etc,
        })
        .then((res) => {
          this.$router.push('/plans/complete');
        })
        .catch((e) => console.log(e));
    },
    scrollFunc() {
      // 스크롤 이벤트
      this.appVisitFixed();
    },
  },
};
</script>
