<template>
  <div class="agreement">
    <div class="inner-container">
      <slot></slot>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.agreement {
  + .agreement {
    padding-top: 3em;
    margin-top: 3em;
    border-top: 1px solid $border-color;
  }
  font-size: $txt-small;
  .section-header {
    margin-bottom: 1em;
    h3 {
      font-size: $txt-medium;
      color: $black;
      font-weight: $txt-bold;
    }
    p {
      margin-top: 1em;
      color: $black;
    }
  }
  .section-content {
    .agree-box {
      font-size: 1.1rem;

      + .agree-box {
        padding-top: 1.5em;
      }
    }
    h4 {
      font-size: $txt-tiny;
      color: $black;
      font-weight: $txt-bold;
      line-height: 1;
    }
    p {
      margin-top: 0.5em;
    }
  }
}
.o-list {
  padding-left: 1.5em;
  color: $black;
  li {
    padding-left: 0;
    margin-left: 0;
    list-style: decimal;
  }
  .o-list {
    li {
      list-style: disc;
      font-size: $txt-tiny;
    }
  }
}
</style>
