<template>
  <Agreement>
    <header class="section-header">
      <h3>마케팅 정보 수신에 대한 동의</h3>
    </header>
    <div class="section-content">
      <div class="agree-box">
        <p>
          본 동의서는 주식회사 위대한상사(이하 “회사”)가 「개인정보보호법」 및
          「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 등 관계법령에 따라
          광고성정보 전송을 위한 사전 수신동의를 받고 있습니다.
        </p>
      </div>
      <div class="agree-box">
        <h4>전송방법</h4>
        <p>
          고객님의 문자, 모바일 카카오톡, 이메일 통해 전달될 수 있습니다.
        </p>
      </div>
      <div class="agree-box">
        <h4>전송내용</h4>
        <p>
          발송되는 정보는 “회사”가 제공하는 이벤트 및 혜택정보, 신규공간 등의
          알림의 정보를 관련 법의 규정을 준수하여 발송합니다.
        </p>
        <p>
          단, 광고성 정보 이외 의무적으로 안내되어야 하는 정보성 내용은 수신동의
          여부와 무관하게 제공됩니다.
        </p>
      </div>
      <div class="agree-box">
        <h4>철회안내</h4>
        <p>
          수신동의 이후라도 동의를 철회할 수 있으며, 동의하지 않아도 회사가
          제공하는 기본적인 서비스를 이용할 수 있습니다.
        </p>
      </div>
      <div class="agree-box">
        <h4>수신동의변경</h4>
        <p>
          “회사” Web 서비스를 통해 마케팅 정보 수신동의를 변경(동의/철회)할 수
          있습니다.
        </p>
      </div>
    </div>
  </Agreement>
</template>
<script>
import Agreement from '@/components/Agreement/Agreement';
export default {
  components: {
    Agreement,
  },
};
</script>
