<template>
  <div>
    <Agreement>
      <header class="section-header">
        <h3>개인정보 수집 및 이용 동의서</h3>
      </header>
      <div class="section-content">
        <div class="agree-box">
          <h4>제1조 (목적)</h4>
          <p>
            이 정책은 주식회사 위대한상사(이하 “회사”)가 이용자의 정보수집의
            과정에 있어서 기본적으로 이행해야 할 개인정보보호정책을 규정함을
            목적으로 합니다
          </p>
        </div>
        <div class="agree-box">
          <h4>제2조 (개인정보보호)</h4>
          <p>
            “회사”는 이용자의 정보수집 시 서비스 이용계약 이행에 필요한 최소한의
            정보를 수집합니다. 다음 사항을 필수사항으로 하며 그 외 사항은
            선택사항으로 합니다.
          </p>
          <div class="o-list">
            <ol>
              <li>성명</li>
              <li>전화번호(또는 휴대폰번호)</li>
              <li>전자우편주소</li>
              <li>비밀번호(회원의 경우)</li>
              <li>거주지역</li>
              <li>점포관련정보(공간대여자)</li>
              <li>창업희망공간(예비창업자)</li>
            </ol>
          </div>
        </div>
        <div class="agree-box">
          <h4>제3조 ("회사"의 의무)</h4>
          <div class="o-list">
            <ol>
              <li>
                “회사”는 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를
                하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로
                재화•용역을 제공하는데 최선을 다하여야 합니다.
              </li>
              <li>
                “회사”는 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록
                이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을
                갖추어야 합니다.
              </li>
              <li>
                “회사”가 상품이나 용역에 대하여 「표시•광고의공정화에관한법률」
                제3조 소정의 부당한 표시•광고행위를 함으로써 이용자가 손해를
                입은 때에는 이를 배상할 책임을 집니다.
              </li>
              <li>
                “회사”는 이용자가 원하지 않는 영리목적의 광고성 전자우편을
                발송하지 않습니다.
              </li>
            </ol>
          </div>
        </div>
        <div class="agree-box">
          <h4>제4조 (회원의 ID 및 비밀번호에 대한 의무)</h4>
          <div class="o-list">
            <ol>
              <li>ID와 비밀번호에 관한 관리책임은 “회원”에게 있습니다.</li>
              <li>
                “회원”은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는
                안됩니다.
              </li>
              <li>
                “회사”가 상품이나 용역에 대하여 「표시•광고의공정화에관한법률」
                제3조 소정의 부당한 표시•광고행위를 함으로써 이용자가 손해를
                입은 때에는 이를 배상할 책임을 집니다.
              </li>
              <li>
                “회원”이 자신의 ID 및 비밀번호를 도난 당하거나 제3자가 사용하고
                있음을 인지한 경우에는 바로 “회사”에 통보하고 “회사”의 안내가
                있는 경우에는 그에 따라야 합니다
              </li>
            </ol>
          </div>
        </div>
        <div class="agree-box">
          <h4>제5조 (이용자의 의무)</h4>
          <p>이용자는 다음 행위를 하여서는 안됩니다.</p>
          <div class="o-list">
            <ol>
              <li>신청 또는 변경 시 허위 내용의 등록</li>
              <li>타인의 정보 도용</li>
              <li>사이트에 게시된 정보의 변경</li>
              <li>
                “회사”가 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신
                또는 게시
              </li>
              <li>“회사” 및 기타 제3자의 저작권 등 지적재산권에 대한 침해</li>
              <li>“회사” 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위</li>
              <li>
                외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는
                정보를 사이트에 공개 또는 게시하는 행위
              </li>
            </ol>
          </div>
        </div>
        <div class="agree-box">
          <h4>제6조 (재판권 및 준거법)</h4>
          <p>이용자는 다음 행위를 하여서는 안됩니다.</p>
          <div class="o-list">
            <ol>
              <li>
                “회사”와 이용자간에 발생한 전자상거래 분쟁에 관한 소송은 제소
                당시의 이용자의 주소에 의하고, 주소가 없는 경우에는 거소를
                관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의
                주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는
                민사소송법상의 관할법원에 제기합니다.
              </li>
              <li>
                “회사”와 이용자간에 제기된 전자상거래 소송에는 한국법을
                적용합니다.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </Agreement>
    <Agreement>
      <header class="section-header">
        <h3>개인정보 제3자 제공에 대한 동의서</h3>
      </header>
      <div class="section-content">
        <div class="agree-box">
          <p>
            본 동의서는 주식회사 위대한상사(이하 “회사”)가 이용자의 동의를 받아
            수집한 정보를 제3자에게 제공함에 있어서 ‘개인정보보호법’ 제15조에
            근거하여 기본적으로 이행해야 할 개인정보보호정책을 규정함을 목적으로
            합니다.
          </p>
        </div>
        <div class="agree-box">
          <h4>제1조 (개인정보 수집 및 이용 목적)</h4>
          <p>
            “회사”가 이용자의 동의를 받아 수집한 정보는 이용자의 창업을 위하여
            <span
              class="txt-primary txt-bold"
            >외부 전문 창업 상담자, 창업 전문 기업, 창업 관련 공공기관</span>에 제공하여 이용자의 창업을 위한 목적으로만 사용됩니다.
          </p>
        </div>
        <div class="agree-box">
          <h4>제2조 (개인정보 수집 및 제공항목)</h4>
          <p>
            <span class="txt-primary txt-bold">성명, 전화번호, 전자우편주소, 거주지역, 창업희망공간</span>
          </p>
        </div>
        <div class="agree-box">
          <h4>제3조 (개인정보를 제공받는자)</h4>
          <p>
            <span class="txt-primary txt-bold">외부 전문 창업 상담자, 창업 전문 기업, 창업 관련 공공기관</span>
          </p>
        </div>
        <div class="agree-box">
          <h4>제4조 (개인정보를 제공받는 자의 개인정보 보유 및 이용 기간)</h4>
          <p>위 개인정보는 수집‧이용에관한 동의일로부터 보유목적 달성시 또는 정보주체가 개인정보 삭제를 요청 할 경우 지체없이 파기합니다.</p>
        </div>
        <div class="agree-box">
          <h4>제5조 (동의 거부)</h4>
          <p>
            이용자는 위와 같이 개인정보를 수집〮이용, 제3자 제공하는 것을 거부할
            수 있습니다. 다만, 거부할 경우
            <span
              class="txt-primary txt-bold"
            >서비스</span>는 이용할 수
            없습니다.
          </p>
        </div>
      </div>
    </Agreement>
  </div>
</template>
<script>
import Agreement from '@/components/Agreement/Agreement';
export default {
  components: {
    Agreement,
  },
};
</script>
