<template>
  <div>
    <Agreement>
      <header class="section-header">
        <h3>
          공유주방 서비스
        </h3>
      </header>
      <div class="section-content">
        <p class="txt-right">
          <span class="txt-tiny">주식회사 위대한상사</span>
        </p>
        <div class="agree-box">
          <h4>1. 실증특례 지정사실 (별첨 지정서 사본 참고)</h4>
          <ul class="u-list">
            <li>유효기간 : 2021년 04월 01일 ~ 2023년 03월 31일</li>
            <li>
              서비스 내용 : 음식점 창업자 대상으로 주방 및 관련시설을
              대여·공유하는 서비스. 조리된 음식은 매장 방문 고객 또는 배달 주문
              고객에게 제공
            </li>
          </ul>
        </div>
        <div class="agree-box">
          <h4>
            2. 이용자 유의사항
          </h4>
          <div class="u-list">
            <li>
              운영자는 ‘위생관리책임자’를 지정하여 운영하고, 매일 주방시설 및
              식재료에 대한 위생관리 상태 점검 및 기록·관리
            </li>
            <li>
              공유주방 운영·이용자는 모두 ‘공유주방 운영 가이드라인’ 준수
            </li>
            <li>
              주·야간 영업자는 매 영업 종료 시 마다 주방의 위생상태 등에 관한
              인수인계서 작성·보관
            </li>
            <li>
              각 영업자별 식재료 보관공간을 구분 제공하고, 개별 식재료에는 모두
              이용자(소유자) 식별 표시 부착
            </li>
            <li>
              ‘다동점’은 동 시간대 주방 최대 이용자 2팀(3명/1팀)으로 제한
            </li>
          </div>
        </div>
        <div class="agree-box">
          <h4>3. 이용자 보호방안</h4>
          <ul class="u-list">
            <li>영업배상책임보험 가입</li>
          </ul>
        </div>
        <div class="row-box bg-light border p-4 mt-8">
          <a
            href="https://kr.object.ncloudstorage.com/common-nanuda/files/%EC%8B%A4%EC%A6%9D%EC%9D%84%20%EC%9C%84%ED%95%9C%20%EA%B7%9C%EC%A0%9C%ED%8A%B9%EB%A1%80%EC%A7%80%EC%A0%95%EC%84%9C%282020-20%ED%98%B8%2C%20%EC%A3%BC%EC%8B%9D%ED%9A%8C%EC%82%AC%20%EC%9C%84%EB%8C%80%ED%95%9C%EC%83%81%EC%82%AC%29.pdf"
            download
            class="txt-tiny txt-secondary"
          >
            <v-icon>mdi-download</v-icon>
            실증을 위한 규제특례지정서(2020-20호, 주식회사 위대한상사).pdf
          </a>
        </div>
      </div>
    </Agreement>
  </div>
</template>
<script>
import Agreement from '@/components/Agreement/Agreement';
export default {
  components: {
    Agreement,
  },
};
</script>
