<template>
  <div>
    <v-row>
      <v-col cols="12" lg="4">
        <CardWithTitle title="연관 정보*">
          <v-row align="center" justify="space-around">
            <v-col cols="12">
              <v-select
                label="상품*"
                class="small-input"
                v-model="plan"
                :items="plans"
                :rules="[required]"
                style="max-width: none;"
              ></v-select>
            </v-col>
            <v-col cols="12">
              <v-form ref="form" v-model="userValid">
                <UserAutoComplete @changed="changeUser"></UserAutoComplete>
              </v-form>
            </v-col>
            <v-col>
              <v-checkbox label="창업 경험 있음" v-model="exp_yn"></v-checkbox>
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="상품 상담 신청 상태">
          <v-row align="center" justify="space-around">
            <v-col cols="12">
              <ManagerSelect
                @change="changeManager"
                style="max-width: none;"
                roles="CONSULT"
              ></ManagerSelect>
            </v-col>
            <v-col cols="12">
              <v-form ref="form" v-model="statusValid">
                <v-select
                  label="상태*"
                  class="small-input"
                  v-model="status"
                  :items="categorys.STATUS"
                  item-text="VALUE"
                  item-value="KEY"
                  color="orange"
                  :rules="[required]"
                  style="max-width: none;"
                ></v-select>
              </v-form>
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="미팅 일정 정보">
          <v-row align="center" justify="space-around">
            <v-col cols="12">
              <DatePicker
                title="미팅 희망 날짜 선택"
                v-model="hopeDate"
                @dateChanged="hopeDate = $event"
              />
            </v-col>
            <v-col cols="12">
              <DatePicker
                title="확정 방문 일자 선택*"
                v-model="hopeDate"
                @dateChanged="confirmDate = $event"
              />
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" lg="4">
        <CardWithTitle title="상담 시간 선택">
          <v-radio-group
            v-model="selectedHopeTime"
            :mandatory="false"
            :rules="[required]"
          >
            <v-row no-gutters align="start" justify="start">
              <v-radio
                class="mr-2"
                :key="hopeTime.CODE"
                :label="hopeTime.NAME"
                :value="hopeTime.CODE"
                v-for="hopeTime in hopeTimes"
              ></v-radio>
            </v-row>
          </v-radio-group>
        </CardWithTitle>
      </v-col>
      <!-- <v-col cols="12" lg="4">
        <CardWithTitle title="관심 공간 유형 선택*">
          <v-form ref="form" v-model="spaceTypeValid">
            <v-radio-group
              v-model="selectedSpaceType"
              :mandatory="false"
              :rules="[required]"
            >
              <v-row no-gutters align="start" justify="start">
                <v-radio
                  class="mr-2"
                  :key="type.CODE"
                  :label="type.NAME"
                  :value="type.NO"
                  v-for="type in spaceType"
                ></v-radio>
              </v-row>
            </v-radio-group>
          </v-form>
        </CardWithTitle>
      </v-col> -->
      <v-col cols="12" lg="4">
        <CardWithTitle title="기타">
          <v-textarea filled label="기타" v-model="etc"></v-textarea>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-row no-gutters justify="end">
      <v-btn
        color="orange"
        x-large
        @click="save"
        :disabled="!allValid"
        :light="allValid"
        >저장 하기</v-btn
      >
    </v-row>
  </div>
</template>

<script>
import UserAutoComplete from '@/components/Admin/UserAutoComplete';
import SpaceAutoComplete from '@/components/Admin/SpaceAutoComplete';
import ManagerSelect from '@/components/Admin/ManagerSelect';
import { changeManager } from '@/assets/mixins/admin/changeManager';
import { changeUser } from '@/assets/mixins/admin/changeUser';
import { changeSpace } from '@/assets/mixins/admin/changeSpace';
import { validations } from '@/assets/mixins/validations';

export default {
  layout: 'admin',
  components: {
    UserAutoComplete,
    ManagerSelect,
  },
  mixins: [changeManager, changeUser, validations],
  async asyncData(context) {
    let categorys = await context.$axios.$get('/category', {
      params: {
        PAGE: 'PRODUCT_CONSULT',
      },
    });
    let spaceType = await context.$axios.$get('/spaceType');
    return {
      categorys: categorys,
      spaceType: spaceType.rows,
    };
  },
  data() {
    return {
      exp_yn: false,
      spaceTypeValid: false,
      statusValid: false,
      userValid: false,
      status: null,
      hopeDate: new Date().toJSON().slice(0, 10).replace(/-/g, '-'),
      confirmDate: new Date().toJSON().slice(0, 10).replace(/-/g, '-'),
      contractImg: null,
      etc: null,
      plan: '나누다 플랫폼',
      plans: ['나누다 플랫폼'],
      selectedSpaceType: null,
      hopeTimes: [
        { NAME: '10:00 ~ 12: 00', CODE: '1012' },
        { NAME: '14:00 ~ 16: 00', CODE: '1416' },
        { NAME: '16:00 ~ 18: 00', CODE: '1618' },
        { NAME: '아무때나', CODE: 'ALL_DAY' },
      ],
      selectedHopeTime: null,
    };
  },
  methods: {
    save() {
      this.$axios
        .$post('/productConAdmin', {
          NANUDA_USER_NO: this.userNo,
          STATUS: this.status,
          P_CONSULT_MANAGER: this.manager,
          PRODUCT_ID: 1,
          HOPE_DATE: this.hopeDate,
          HOPE_TIME: this.selectedHopeTime,
          CONFIRM_DATE: this.confirmDate,
          P_CONSULT_ETC: this.etc,
          SPACE_TYPE_NO: this.selectedSpaceType,
          CHANGUP_EXP_YN: this.exp_yn ? 'Y' : 'N',
          ADDRESS_CODE: '',
        })
        .then((response) => {
          this.$router.push('/admin/plan-meetings');
        })
        .catch((error) => {
          console.log('failed', error);
        });
    },
  },
  computed: {
    allValid() {
      if (this.userValid && this.statusValid) {
        return true;
      } else {
        return false;
      }
    },
  },
  deactivated() {
    this.$destroy();
  },
};
</script>

<style lang="scss">
.v-application {
  .flex-nowrap {
    overflow: auto;
  }
}
</style>
