<template>
  <div class="contact-info">
    <div class="txt-box">
      <p class="txt-large">
        <a href="tel:1588-5972">1588-5972</a>
      </p>
    </div>
    <div class="txt-box mt-2">
      <p class="txt-tiny">운영시간 : 평일 09:30 - 18:30</p>
      <p class="txt-tiny">점심시간 : 평일 12:30 - 13:30</p>
    </div>
    <div class="txt-box mt-2">
      <p class="txt-mini">주말∙공휴일 제외</p>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.contact-info {
  color: $black;
  background: url('~assets/svg/character/character_13.svg') no-repeat right
    bottom;
  background-size: 5.25em auto;
}
</style>
