<template>
  <div>
    <MypageList v-if="spaces.length > 0">
      <MypageTitle title="공간 계약내역" />
      <MySpaceContractPreview
        v-for="space in spaces"
        :key="space.NO"
        :spaceID="space.SPACE.NO"
        :name="space.SPACE.NAME"
        :address="space.SPACE.ADDRESS"
        :startDate="space.S_START_DATE"
        :endDate="space.S_END_DATE"
        :type="space.SPACE.SPACE_TYPE_NO"
        :status="space.STATUS"
        :space="space"
      ></MySpaceContractPreview>
    </MypageList>
    <MypageList v-if="plans.length > 0">
      <MypageTitle title="창업 계약내역" />
      <MyPlanContractPreview
        v-for="plan in plans"
        :key="plan.NO"
        :name="plan.SPACE.NAME"
        :spaceID="plan.SPACE.NO"
        :address="plan.SPACE.ADDRESS"
        :spaceType="plan.SPACE.SPACE_TYPE_NO"
        :startDate="plan.C_START_DATE"
        :endDate="plan.C_END_DATE"
        :status="plan.STATUS"
      ></MyPlanContractPreview>
    </MypageList>
  </div>
</template>
<script>
import MypageTitle from '@/components/Mypage/MypageTitle';
import MypageList from '@/components/Mypage/MypageList';
import MySpaceContractPreview from '@/components/Mypage/Contract/MySpaceContractPreview';
import MyPlanContractPreview from '@/components/Mypage/Contract/MyPlanContractPreview';

export default {
  props: ['spaces', 'plans'],
  components: {
    MypageTitle,
    MypageList,
    MySpaceContractPreview,
    MyPlanContractPreview,
  },
};
</script>
