<template>
  <div class="contract-detail">
    <div class="inner-container">
      <section class="article-section">
        <header class="section-header">
          <h3>계약 상품정보</h3>
        </header>
        <div class="section-conetent">
          <div class="d-flex align-items-start justify-content-start">
            <div class="col-4 p-0">
              <div class="space-img">
                <!-- <img
                  src="@/assets/images/main/main_visual.jpg"
                  alt
                  class="rounded"
                /> -->
              </div>
            </div>
            <div class="col-8 p-0 pl-4">
              <!-- 신청한 상품 관련 데이터 출력-->
              <div class="mb-2">
                <Badge color="yellow" size="mini" text="NND BRAND" />
              </div>
              <p class="txt-small txt-black txt-bold">NND 창업</p>
              <p class="txt-tiny txt-black txt-semi-bold">
                계약 브랜드 : ㅂ:MEAL (퓨전 덮밥 뷔페 브랜드)
              </p>
              <!-- // -->
            </div>
          </div>
        </div>
      </section>
      <section class="article-section">
        <header class="section-header">
          <h3>대여조건 및 계약기간</h3>
        </header>
        <div class="section-conetent">
          <div class="txt-box">
            <p>공간유형 : 공유식당 전용 (배달 선택)</p>
            <p>계약기간 : 2020.02.02 ~ 2021.02.02</p>
          </div>
        </div>
      </section>
      <section class="article-section">
        <header class="section-header">
          <h3>계약 관련 문의</h3>
        </header>
        <div class="section-conetent">
          <div class="txt-box">
            <p>
              <span>고객센터</span>
              <span>1588-5972</span>
            </p>
          </div>
          <div class="txt-box">
            <p>운영시간 : 평일 09:30 - 18:30</p>
            <p>점심시간 : 평일 12:30 - 13:30</p>
            <p>주말∙공휴일 제외</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.contract-detail {
  .article-section {
    padding: 1em 0;
    + .article-section {
      border-top: 1px solid #ddd;
    }
  }
  .section-header {
    margin-bottom: 1em;
    h3 {
      font-size: 1.6rem;
      color: #212121;
    }
  }
}
</style>
