<template>
  <MypagePreview>
    <template v-slot:info>
      <!-- 브랜드 구분  -->
      <div class="mb-2">
        <Badge
          color="yellow"
          size="mini"
          text="NND BRAND"
          v-if="brandType !== 'CUSTOM'"
        />
        <Badge color="green" size="mini" text="MY BRAND" v-else />

        <!-- 공간 타입 -->
        <Badge
          color="lightblue"
          size="mini"
          text="배달형"
          v-if="spaceType === 2"
        />
        <Badge
          color="darkorange"
          size="mini"
          text="식당형"
          v-else-if="spaceType === 1"
        />
        <span class="txt-mini ml-2" v-if="spaceID">공간번호 {{ spaceID }}</span>
      </div>
      <!-- // -->
      <div>
        <p class="txt-black txt-small txt-bold">
          <span v-if="brand">{{ brand }}</span>
          <span v-if="name">
            <span class="txt-light">|</span>
            {{ name }}
          </span>
        </p>
        <p class="txt-black txt-tiny txt-semi">{{ address }}</p>
      </div>
      <!-- NND 브랜드 선택시 노출 -->
      <div class="mt-3" v-if="startDate">
        <p class="txt-mini">
          <i class="icon icon-check txt-success txt-bold"></i>
          계약시작일 : {{ $moment(startDate).format('YYYY.MM.DD') }}
        </p>
        <p class="txt-mini">
          <i class="icon icon-check txt-success txt-bold"></i>
          계약종료일 : {{ $moment(endDate).format('YYYY.MM.DD') }}
        </p>
      </div>
      <!-- // -->
    </template>
    <template v-slot:status>
      <!-- 상태 표시 구분 -->
      <Badge
        color="green"
        size="tiny"
        text="계약중"
        v-if="status === 'PROCEEDING'"
      />
      <Badge
        color="gray"
        size="tiny"
        text="계약종료"
        v-else-if="status === 'END'"
      />
      <!-- // -->
      <!-- 계약상세보기 버튼 
        <Button class="btn btn-black btn-mini btn-rounded" @click="showContractDetail= true ">계약내용보기</Button>
      -->
    </template>
    <!-- 계약 상세 모달 -->
    <CustomModal
      :visible="showContractDetail"
      headerType="default"
      id="contractDetail"
      title="계약내역"
      noBtn="닫기"
      @close="showContractDetail = false"
    >
      <MyPlanContractDetail />
    </CustomModal>
    <!-- // -->
  </MypagePreview>
</template>
<script>
import MypagePreview from '@/components/Mypage/MypagePreview';
import MyPlanContractDetail from '@/components/Mypage/Contract/MyPlanContractDetail';
import CustomModal from '@/components/Modal/CustomModal';
export default {
  props: [
    'spaceID',
    'name',
    'address',
    'startDate',
    'endDate',
    'brand',
    'brandType',
    'spaceType',
    'status',
  ],
  components: {
    MypagePreview,
    MyPlanContractDetail,
    CustomModal,
  },
  data() {
    return {
      showContractDetail: false,
    };
  },
};
</script>
