<template>
  <div>
    <MypagePreview>
      <template v-slot:info>
        <!-- 유형 구분  -->
        <div class="mb-2">
          <Badge
            color="lightblue"
            size="mini"
            text="배달형"
            v-if="type === 2"
          />
          <Badge
            color="darkorange"
            size="mini"
            text="식당형"
            v-else-if="type === 1"
          />
          <span class="txt-mini ml-2" v-if="spaceID"
            >공간번호 {{ spaceID }}</span
          >
        </div>
        <!-- // -->
        <div>
          <p class="txt-black txt-small txt-bold">
            <nuxt-link to="/">{{ name }}</nuxt-link>
          </p>
          <p class="txt-black txt-tiny txt-semi" v-if="address">
            {{ address }}
          </p>
        </div>
        <div class="mt-3">
          <p class="txt-mini">
            <i class="icon icon-check txt-success txt-bold"></i>
            계약시작일 : {{ $moment(startDate).format('YYYY.MM.DD') }}
          </p>
          <p class="txt-mini">
            <i class="icon icon-check txt-success txt-bold"></i>
            계약종료일 : {{ $moment(endDate).format('YYYY.MM.DD') }}
          </p>
        </div>
      </template>
      <template v-slot:status>
        <!-- 상태 표시 구분 -->
        <Badge
          color="green"
          size="tiny"
          text="계약중"
          v-if="status === 'PROCEEDING'"
        />
        <Badge
          color="gray"
          size="tiny"
          text="계약종료"
          v-else-if="status === 'END'"
        />
        <!-- // -->
        <!-- 계약상세보기 버튼 
        <Button class="btn btn-black btn-mini btn-rounded" @click="showContractDetail= true">계약내용보기</Button>
        -->
      </template>
    </MypagePreview>
    <!-- 계약 상세 모달 -->
    <CustomModal
      :visible="showContractDetail"
      headerType="default"
      id="spaceContractDetail"
      title="계약내역"
      noBtn="닫기"
      @close="showContractDetail = false"
    >
      <MySpaceContractDetail :space="space" />
    </CustomModal>
    <!-- // -->
  </div>
</template>
<script>
import MypagePreview from '@/components/Mypage/MypagePreview';
import MySpaceContractDetail from '@/components/Mypage/Contract/MySpaceContractDetail';
import CustomModal from '@/components/Modal/CustomModal';
export default {
  props: [
    'spaceID',
    'name',
    'address',
    'startDate',
    'endDate',
    'status',
    'type',
    'space',
  ],
  components: {
    MypagePreview,
    MySpaceContractDetail,
    CustomModal,
  },
  data() {
    return {
      showContractDetail: false,
    };
  },
};
</script>
