<template>
  <div class="contract-detail">
    <div class="inner-container">
      <section class="article-section">
        <header class="section-header">
          <h3>계약 공간정보</h3>
        </header>
        <div class="section-conetent">
          <div class="d-flex align-items-start justify-content-start">
            <div class="col-4 p-0">
              <div class="space-img">
                <img v-bind:src="imageSrc" class="rounded" />
              </div>
            </div>
            <div class="col-8 p-0 pl-4">
              <!-- 신청한 공간 관련 데이터 출력-->
              <div class="mb-2">
                <Badge color="lightblue" size="mini" text="배달형" />
                <span class="d-inline-block txt-mini"
                  >공간번호 {{ space.SPACE.NO }}</span
                >
              </div>
              <p class="txt-small txt-black txt-bold">{{ space.SPACE.NAME }}</p>
              <p class="txt-tiny txt-black txt-semi-bold">
                {{ space.SPACE.ADDRESS }}
              </p>
              <!-- // -->
            </div>
          </div>
        </div>
      </section>
      <section class="article-section">
        <header class="section-header">
          <h3>대여조건 및 계약기간</h3>
        </header>
        <div class="section-conetent">
          <div class="txt-box">
            <p>계약 시작일 : {{ space.S_START_DATE }}</p>
            <p>계약 종료일 : {{ space.S_END_DATE }}</p>
          </div>
        </div>
      </section>
      <section class="article-section">
        <header class="section-header">
          <h3>계약 관련 문의</h3>
        </header>
        <div class="section-conetent">
          <div class="txt-box">
            <p>
              <span>고객센터</span>
              <span>1588-5972</span>
            </p>
          </div>
          <div class="txt-box">
            <p>운영시간 : 평일 09:30 - 18:30</p>
            <p>점심시간 : 평일 12:30 - 13:30</p>
            <p>주말∙공휴일 제외</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
export default {
  props: ['space'],
  computed: {
    imageSrc() {
      return `${process.env.baseUrl}/${this.space.SPACE.FILE_MANAGEMENT[0].FILE_PATH}`;
    },
  },
};
</script>
<style lang="scss" scoped>
.contract-detail {
  .article-section {
    padding: 1em 0;
    + .article-section {
      border-top: 1px solid #ddd;
    }
  }
  .section-header {
    margin-bottom: 1em;
    h3 {
      font-size: 1.6rem;
      color: #212121;
    }
  }
}
</style>
