<template>
  <v-card class="pa-10">
    <v-card-title>관리자 로그인</v-card-title>
    <v-form ref="form" v-model="valid">
      <v-text-field
        v-model="phoneNumber"
        label="전화번호"
        :rules="[required]"
        autofocus
      ></v-text-field>
      <v-text-field
        v-model="password"
        :rules="[required]"
        label="비밀번호"
        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
        :type="show ? 'text' : 'password'"
        @click:append="show = !show"
        @keyup.enter="login"
      ></v-text-field>
      <v-btn
        color="orange"
        :disabled="!valid"
        style="width: 100%"
        @click="login"
        >로그인</v-btn
      >
    </v-form>
  </v-card>
</template>

<script>
import { validations } from "@/assets/mixins/validations";
export default {
  layout: "centered",
  mixins: [validations],
  data() {
    return {
      show: false,
      valid: false,
      isLogin: null,
      phoneNumber: "",
      password: ""
    };
  },
  methods: {
    login() {
      this.$store
        .dispatch("admin-auth/authenticateAdminUser", {
          phoneNumber: this.phoneNumber,
          password: this.password
        })
        .then(() => {
          //redirect 쿼리가 있으면 로그인후 redirect 주소로 이동
          if (this.$route.query.redirected) {
            this.$router.push(this.$route.query.redirected);
          } else {
            this.$router.push("/admin");
          }
        });
    }
  }
};
</script>

<style></style>
