<template>
  <div>
    <v-row align="end" justify="space-around">
      <v-col cols="12" lg="6">
        <!-- <TableWithTitle title="상담 신청인 정보" :headers="userHeaders" :items="[user]" page="users">
          <template v-slot:top>
            <SMSBtnAndDialog :adminPhoneNum="loginedUser.PHONE" :userPhoneNumb="user.PHONE" />
          </template>
        </TableWithTitle>-->
        <TableWithTitle
          title="상담 신청인 정보"
          :headers="userHeaders"
          :items="[user]"
          page="users"
          hideFooter
        >
          <template v-slot:top>
            <SMSBtnAndDialog
              :adminPhoneNum="loginedUser.PHONE"
              :userPhoneNumb="user.PHONE"
            />
          </template>
        </TableWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="방문 신청 공간"
          :headers="spaceHeaders"
          :items="[space]"
          page="spaces"
          hideFooter
        ></TableWithTitle>
      </v-col>
    </v-row>
    <v-row align="stretch" justify="space-between">
      <v-col cols="12" lg="4">
        <CardWithTitle title="미팅 일정 정보">
          <v-menu
            ref="showHopeDate"
            v-model="showHopeDate"
            :close-on-content-click="false"
            :return-value.sync="hopeDate"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="hopeDate"
                label="미팅 희망 날짜 선택"
                readonly
                v-on="on"
                prepend-icon="mdi-calendar"
                :loading="loading.hopeDate"
                :success-messages="success.hopeDate"
                :error-messages="error.hopeDate"
              ></v-text-field>
            </template>
            <v-date-picker v-model="hopeDate" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="showHopeDate = false"
                >Cancel</v-btn
              >
              <v-btn
                text
                color="primary"
                @click="
                  [
                    $refs.showHopeDate.save(hopeDate),
                    changeInfo('hopeDate', 'HOPE_DATE', routerUrl),
                  ]
                "
                >OK</v-btn
              >
            </v-date-picker>
          </v-menu>
          <v-spacer></v-spacer>
          <v-menu
            ref="showConfirmDate"
            v-model="showConfirmDate"
            :close-on-content-click="false"
            :return-value.sync="confirmDate"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="confirmDate"
                label="확정 방문 일자 선택"
                readonly
                v-on="on"
                prepend-icon="mdi-calendar"
                :loading="loading.confirmDate"
                :success-messages="success.confirmDate"
                :error-messages="error.confirmDate"
              ></v-text-field>
            </template>
            <v-date-picker v-model="confirmDate" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="showConfirmDate = false"
                >Cancel</v-btn
              >
              <v-btn
                text
                color="primary"
                @click="
                  [
                    $refs.showConfirmDate.save(confirmDate),
                    changeInfo('confirmDate', 'CONFIRM_DATE', routerUrl),
                  ]
                "
                >OK</v-btn
              >
            </v-date-picker>
          </v-menu>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="담당자 및 상담 상태">
          <ManagerSelect
            :initialManager="adminUser"
            :loading="loading.sConsultManager"
            :success="success.sConsultManager"
            :error="error.sConsultManager"
            @change="changeManager"
            style="max-width: none;"
            roles="CONSULT"
          ></ManagerSelect>
          <v-select
            label="상태"
            v-model="status"
            :items="categorys.STATUS"
            item-text="VALUE"
            item-value="KEY"
            :loading="loading.status"
            :success-messages="success.status"
            :error-messages="error.status"
            @change="changeInfo('status', 'STATUS', routerUrl)"
            color="orange"
          ></v-select>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="방문 상담 상세정보">
          <v-row align="center" justify="space-around" style="height: 100%;">
            <v-checkbox
              label="창업 경험 유무"
              true-value="Y"
              false-value="N"
              v-model="changupExpYn"
              :loading="loading.changupExpYn"
              :success-messages="success.changupExpYn"
              :error-messages="error.changupExpYn"
              @change="changeInfo('changupExpYn', 'CHANGUP_EXP_YN', routerUrl)"
            ></v-checkbox>
            <ul>
              상담 희망 시간 :
              {{
                eazyReadHopeTime(hopeTime)
              }}
            </ul>
          </v-row>
        </CardWithTitle>
      </v-col>
    </v-row>
    <CardWithTitle title="기타">
      <v-textarea
        label="기타 사항"
        filled
        auto-grow
        class="mt-0"
        v-model="sConsultEtc"
        :loading="loading.sConsultEtc"
        :success-messages="success.sConsultEtc"
        :error-messages="error.sConsultEtc"
        @blur="changeInfo('sConsultEtc', 'S_CONSULT_ETC', routerUrl)"
      ></v-textarea>
    </CardWithTitle>
  </div>
</template>

<script>
import TableWithTitle from '@/components/Admin/TableWithTitle';
import { validations } from '@/assets/mixins/validations';
import ImageList from '@/components/Admin/ImageList';
import UserAutoComplete from '@/components/Admin/UserAutoComplete';
import { changeInfo } from '@/assets/mixins/changeInfo';
import { eazyReadHopeTime } from '@/assets/mixins/admin/eazyReadHopeTime';
import ManagerSelect from '@/components/Admin/ManagerSelect';
import SMSBtnAndDialog from '@/components/Admin/SMSBtnAndDialog';
export default {
  layout: 'admin',
  mixins: [changeInfo, eazyReadHopeTime, validations],
  components: {
    ImageList,
    UserAutoComplete,
    ManagerSelect,
    SMSBtnAndDialog,
  },
  data() {
    return {
      spaceHeaders: [
        {
          text: 'UID',
          value: 'NO',
          align: 'center',
          sortable: false,
        },
        {
          text: '공간이름',
          value: 'NAME',
          align: 'center',
          sortable: false,
        },
        {
          text: '주소',
          value: 'ADDRESS',
          align: 'center',
          sortable: false,
        },
      ],
      userHeaders: [
        {
          text: 'UID',
          value: 'NO',
          align: 'center',
          sortable: false,
        },
        {
          text: '이름',
          value: 'NAME',
          align: 'center',
          sortable: false,
        },
        {
          text: '전화번호',
          value: 'PHONE',
          align: 'center',
          sortable: false,
        },
      ],
      baseUrl: process.env.baseUrl,
      showExpiryDate: false,
      showHopeDate: false,
      showConfirmDate: false,
      routerUrl: '/visitConAdmin/',
      selectBrand: [],
    };
  },
  methods: {
    toggleShow(ref) {
      this.isShowing == 'Y' ? (this.isShowing = 'N') : (this.isShowing = 'Y');
      this.changeInfo(ref, 'SHOW_YN', this.routerUrl);
    },
    toggleDelete(ref) {
      this.isDel == 'Y' ? (this.isDel = 'N') : (this.isDel = 'Y');
    },
    changeManager(value) {
      this.sConsultManager = value;
      this.changeInfo('sConsultManager', 'S_CONSULT_MANAGER', this.routerUrl);
    },
  },
  //데이터 이니시에이팅
  async asyncData(context) {
    let res = await context.$axios.$get(
      '/visitConAdmin/' + context.route.params.uid,
    );
    let categorysData = await context.$axios.$get('/category', {
      params: {
        PAGE: 'FOUNDER_CONSULT',
      },
    });
    let loginedUserData = await context.$axios.$get(
      `/userManagerAdmin/${context.store.state.userNum}`,
    );

    return {
      loginedUser: loginedUserData,
      uid: res.NO,
      user: res.NANUDA_USER,
      space: res.SPACE,
      status: res.STATUS,
      spaceId: res.SPACE_ID,
      adminUser: res.ADMIN_USER,
      sConsultManager: res.S_CONSULT_MANAGER,
      confirmDate: res.CONFIRM_DATE,
      hopeDate: res.HOPE_DATE,
      hopeTime: res.HOPE_TIME,
      purposeUse: res.PURPOSE_USE,
      changupExpYn: res.CHANGUP_EXP_YN,
      spaceOwnYn: res.SPACE_OWN_YN,
      sConsultEtc: res.S_CONSULT_ETC,
      spaceId: res.SPACE_ID,
      spaceNo: res.SPACE.NO,
      spaceZonecode: res.SPACE.ZONECODE,
      spaceAddress: res.SPACE.ADDRESS,
      spaceJibun_address: res.SPACE.JIBUN_ADDRESS,
      spaceSido: res.SPACE.SIDO,
      spaceUserNo: res.SPACE.NANUDA_USER_NO,
      categorys: categorysData,
    };
  },
};
</script>

<style lang="scss" scoped></style>
