<template>
  <div>
    <v-row>
      <v-col cols="12" lg="4">
        <CardWithTitle title="사용자 추가하기">
          <v-form ref="form" v-model="valid">
            <v-text-field
              v-model="userName"
              label="이름*"
              :rules="[
                required,
                fullHangul,
                max(userName, 20),
                min(userName, 2),
                noSpace,
              ]"
              autofocus
            ></v-text-field>
            <v-text-field
              v-model="phoneNumber"
              :rules="[
                noSpace,
                required,
                number,
                max(phoneNumber, 11),
                min(phoneNumber, 9),
              ]"
              label="휴대폰 번호*"
              :error-messages="errorMessage"
            ></v-text-field>
            <div class="mt-4 text-right">
              <v-btn
                color="orange"
                :disabled="!valid"
                @click="save"
                :light="valid"
                >저장하기</v-btn
              >
            </div>
          </v-form>
        </CardWithTitle>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { validations } from '@/assets/mixins/validations';

export default {
  layout: 'admin',
  mixins: [validations],
  data() {
    return {
      valid: false,
      userName: '',
      phoneNumber: '',
      errorMessage: '',
    };
  },
  methods: {
    save() {
      return this.$axios
        .$post('/userAdmin', {
          NAME: this.userName,
          PHONE: this.phoneNumber,
        })
        .then((res) => {
          this.$router.push('/admin/users');
        })
        .catch((error) => {
          const code = parseInt(error.response && error.response.status);
          if (code === 409) {
            this.errorMessage = '이미 존재하는 유저의 휴대폰 번호입니다.';
            setTimeout(() => {
              this.errorMessage = '';
            }, 3000);
          }
        });
    },
    // setPhoneNumb(event) {
    //   console.log(event);
    //   // this.phoneNumber += event.key
    //   console.log(this.phoneNumber);
    // }
  },
  deactivated() {
    this.$destroy();
  },
};
</script>

<style></style>
