<template>
  <div>
    <CardWithTitle title="상품 게재 설정">
      <v-row justify="space-between" align="center">
        <v-col cols="12" lg="6">
          <v-row align="center">
            <v-col cols="12" md="6" lg="7">
              <v-row no-gutters align="center" justify="space-between">
                <div class="mr-2">상품검색 게재</div>
                <ToggleBtn
                  :isActivated="isShowing"
                  @activate="asyncToggleShow"
                  :isLoading="loading.toggleBtn"
                />
              </v-row>
            </v-col>
            <v-col cols="12" md="6" lg="5">
              <ManagerSelect
                :initialManager="adminUser"
                :loading="loading.manager"
                :success="success.manager"
                :error="error.manager"
                @change="asyncChangeManager($event)"
                style="max-width: none;"
              ></ManagerSelect>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" lg="6">
          <v-row>
            <v-col cols="12" md="6">
              <DatePicker title="게재 시작일"></DatePicker>
            </v-col>
            <v-col cols="12" md="6">
              <DatePicker title="게재 종료일"></DatePicker>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </CardWithTitle>
    <CardWithTitle title="상품 정보">
      <v-row>
        <v-col cols="12" lg="6">
          <v-row no-gutters align="center">
            <v-col cols="12" md="6">
              <v-text-field
                label="UID"
                class="small-input"
                v-model="uid"
                disabled
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                label="상품명"
                class="small-input"
                v-model="planName"
                :loading="loading.planName"
                :success-messages="success.planName"
                :error-messages="error.planName"
                @blur="
                  if (!$refs.planName.hasError) {
                    changeInfo('planName', 'NAME', '/productAdmin/');
                  }
                "
                :rules="[required, fullHangul]"
                ref="planName"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters align="center">
            <v-text-field label="초기비용" class="small-input"></v-text-field>
            <div>만원</div>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" md="6">
              <v-row no-gutters align="center">
                <v-text-field
                  label="월 수수료"
                  class="small-input"
                ></v-text-field>
                <div>만원</div>
              </v-row>
            </v-col>
            <v-col cols="12" md="6">
              <v-row no-gutters align="center">
                <v-text-field
                  label="월 수수료"
                  class="small-input"
                ></v-text-field>
                <div>%(매출 기준)</div>
              </v-row>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" md="6">
              <v-row no-gutters align="center">
                <v-text-field
                  label="추가 수수료"
                  class="small-input"
                ></v-text-field>
                <div>만원</div>
              </v-row>
            </v-col>
            <v-col cols="12" md="6">
              <v-row no-gutters align="center">
                <v-text-field
                  label="추가 수수료"
                  class="small-input"
                ></v-text-field>
                <div>%(매출 기준)</div>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" lg="6">
          <AdminFileUpload
            @updateImages="onUpdateImages"
            category="PRODUCT"
            :uid="uid"
          ></AdminFileUpload>
          <ImageList
            :images="images"
            :baseUrl="baseUrl"
            @delete="deleteImage"
          ></ImageList>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" lg="4">
          <v-textarea label="상품 상세 설명" filled></v-textarea>
        </v-col>
        <v-col cols="12" lg="4">
          <v-textarea label="상품 간단 설명" filled></v-textarea>
        </v-col>
        <v-col cols="12" lg="4">
          <v-textarea label="기타" filled></v-textarea>
        </v-col>
      </v-row>
    </CardWithTitle>
  </div>
</template>

<script>
import { changeInfo } from '@/assets/mixins/changeInfo';
import { showToggleBtn } from '@/assets/mixins/showToggleBtn';
import { changeManager } from '@/assets/mixins/admin/changeManager';
import { validations } from '@/assets/mixins/validations';
import { images } from '@/assets/mixins/images';
import ManagerSelect from '@/components/Admin/ManagerSelect';
import ImageList from '@/components/Admin/ImageList';
import AdminFileUpload from '@/components/Admin/AdminFileUpload';
export default {
  layout: 'admin',
  components: {
    ManagerSelect,
    ImageList,
    AdminFileUpload,
  },
  mixins: [changeInfo, showToggleBtn, changeManager, validations, images],
  data() {
    return {
      baseUrl: process.env.baseUrl,
    };
  },
  methods: {
    asyncToggleShow() {
      this.toggleShow('isShowing');
      this.changeInfo('isShowing', 'SHOW_YN', '/productAdmin/');
    },
    asyncChangeManager(value) {
      this.changeManager(value);
      this.changeInfo('manager', 'MANAGER', '/productAdmin/');
    },
  },
  asyncData(context) {
    return context.$axios
      .$get('/productAdmin/' + context.route.params.uid)
      .then((res) => {
        return {
          uid: res.NO,
          isShowing: res.SHOW_YN,
          adminUser: res.ADMIN_USER,
          planName: res.NAME,
          startDate: res.START_DATE,
          endDate: res.END_DATE,
          initialCharge: res.INITIAL_CHARGE,
          monthlyFee: res.MONTHLY_FEE,
          monthlyPer: res.MONTHLY_PER,
          addFee: res.ADD_FEE,
          addPer: res.ADD_PER,
          title: res.TITLE,
          subtitle: res.SUB_TITLE,
          content: res.CONTENT,
          etc: res.ETC,
          images: res.FILE_MANAGEMENT,
        };
      })
      .catch((e) => console.log('error async uid', e));
  },
};
</script>

<style lang="scss">
.small-input {
  max-width: 200px;
}
</style>
