@charset "utf-8";

@mixin maxLayout {
  @media screen and (min-width: 1025px) and (orientation: landscape) {
    // max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin darkOverlay {
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.5;
    z-index: 0;
  }
}

@mixin blind {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.is-blind {
  @include blind();
}

@function empx($em, $px) {
  @if $unit =='rem' {
    @return $em +em;
  }

  @else {
    @return $px +px;
  }
}

@function rempx($rem, $px) {
  @if $unit =='rem' {
    @return $rem +rem;
  }

  @else {
    @return $px +px;
  }
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin unit-setting($property, $values) {
  $px: ();
  $rem: ();

  $root: $baseFontSize;

  @each $value in $values {
    @if $value ==0 or $value ==auto {
      $px: append($px, $value);
      $rem: append($rem, $value);
    }

    @else if type-of($value)==number {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit =='px' {
        $px: append($px, $value);
        $rem: append($rem, ($val / $root + rem));
      }

      @if $unit =='rem' {
        $px: append($px, ($val * $root + px));
        $rem: append($rem, $value);
      }
    }

    @else {
      $px: append($px, $value);
      $rem: append($rem, $value);
    }
  }

  @if $px ==$rem {
    #{$property}: $px;
  }

  @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

// Unit Settings
$unit: 'rem';

// Font Settings
$txt-mini: rempx(1, 10);
$txt-tiny: rempx(1.2, 12);
$txt-small: rempx(1.4, 14);
$txt-medium: rempx(1.6, 16);
$txt-mlarge: rempx(1.8, 18);
$txt-large: rempx(2.1, 21);
$txt-big: rempx(2.6, 26);
$txt-huge: rempx(3, 30);
$txt-massive: rempx(3.6, 36);
$h1: rempx(3.6, 36);
$h2: rempx(3, 30);
$h3: rempx(2.6, 26);
$h4: rempx(2.4, 24);
$h5: rempx(2, 20);
$h6: rempx(1.8, 18);

$font-sizes: (
  ) !default;
$font-sizes: map-merge(('mini': $txt-mini,
      'tiny': $txt-tiny,
      'small': $txt-small,
      'medium': $txt-medium,
      'mlarge': $txt-mlarge,
      'large': $txt-large,
      'big': $txt-big,
      'huge': $txt-huge,
      'massive': $txt-massive,
    ),
    $font-sizes
);

$line-height-default: 1.6;

// Font Weight

$txt-normal: 400 !default;
$txt-bold: 600 !default;
$txt-bolder: 800 !default;

$font-weight: (
  ) !default;
$font-weight: map-merge(('normal': $txt-normal,
      'bold': $txt-bold,
      'bolder': $txt-bolder,
    ),
    $font-weight
);