<template>
  <Modal
    :visible="showPopup"
    yesBtn="오늘 하루 안보기"
    noBtn="닫기"
    id="popupModal"
    @close="closePopup"
  >
    <client-only>
      <div class="inner-content">
        <div v-swiper:swiper="popupOption">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              v-for="popup in popupsList"
              :key="popup.no"
            >
              <div
                v-if="popup.popupType === 'NOTIFICATION'"
                class="notice-popup"
              >
                <header class="notice-header">
                  <h1>NOTICE</h1>
                </header>
                <h2>
                  {{ popup.title }}
                </h2>
                <h3 v-if="popup.subTitle">
                  <span>
                    {{ popup.subTitle }}
                  </span>
                </h3>
                <div class="popup-content">
                  <p v-html="popup.content">
                    {{ popup.content }}
                  </p>
                </div>
                <div class="txt-center mt-4">
                  <a
                    :href="getLinkUrl(popup.link)"
                    class="
                      btn btn-small btn-square btn-outline-secondary btn-block
                    "
                    v-if="popup.link"
                    :target="popup.linkType === 'EXTERNAL' ? '_blank' : '_self'"
                  >
                    <span>자세히보기</span>
                  </a>
                </div>
              </div>
              <div v-else>
                <a
                  :href="getLinkUrl(popup.link)"
                  :target="popup.linkType === 'EXTERNAL' ? '_blank' : '_self'"
                >
                  <img
                    :src="popup.images[0].endpoint"
                    :alt="popup.title"
                    style="width: 100%"
                    v-if="popup.images && popup.images[0]"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 페이징 -->
      <div class="swiper-pagination" v-if="popups.length > 1"></div>
      <!-- 네비게이션 버튼  -->
      <Button
        class="btn btn-icon btn-circle btn-white btn-swiper-prev btn-swiper-nav"
      >
        <i class="icon icon-arrow-angle-left"></i>
        <span class="is-blind">이전으로</span>
      </Button>
      <Button
        class="btn btn-icon btn-circle btn-white btn-swiper-next btn-swiper-nav"
      >
        <i class="icon icon-arrow-angle-right"></i>
        <span class="is-blind">다음으로</span>
      </Button>
    </client-only>
  </Modal>
</template>

<script>
import Cookie from 'js-cookie';
import Modal from '@/components/Modal/Modal';
import { changeInfo } from '@/assets/mixins/changeInfo';
export default {
  mixins: [changeInfo],
  props: ['popups'],
  components: {
    Modal,
  },
  computed: {
    popupsList() {
      return this.popups.slice().reverse();
    },
  },
  data: () => ({
    baseUrl: process.env.baseUrl,
    showPopup: false,
    popupOption: {
      loop: false,
      slidesPerView: 1,
      centeredSlides: true,
      spaceBetween: 0,
      grabCursor: false,
      followFinger: false,
      navigation: {
        nextEl: '#popupModal .btn-swiper-next',
        prevEl: '#popupModal .btn-swiper-prev',
      },
      pagination: {
        el: '#popupModal .swiper-pagination',
        clickable: true,
      },
    },
  }),
  mounted() {
    this.getBannerCookie();
  },
  methods: {
    getLinkUrl(linkUrl) {
      if (linkUrl) {
        return linkUrl.includes('//') ? linkUrl : `//${linkUrl}`;
      }
    },
    closePopup(res) {
      if (res.ok) {
        // 하루 동안 안보기
        this.hideOneday();
      } else {
        this.showPopup = false;
      }
    },
    hideOneday() {
      const currentDate = new Date();
      const expirationDate = new Date(
        currentDate.getFullYear(),
        currentDate.getMonth(),
        currentDate.getDate() + 1,
        0,
        0,
        0,
      );
      Cookie.set('oneday', 'one', { expires: expirationDate });
      this.showPopup = false;
    },
    getBannerCookie() {
      // 하루동안(자정기준) 안보기 쿠키 가져오기
      const cookiedata = Cookie.get('oneday');
      if (cookiedata === 'one') {
        this.showPopup = false;
      } else {
        this.showPopup = true;
      }
    },
  },
};
</script>
<style lang="scss">
#popupModal {
  .modal-dialog {
    overflow: visible;
    border-radius: $border-radius;
    width: calc(100% - 7em);
  }

  .inner-content {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    overflow: hidden;
  }
  .modal-content {
    padding: 0;
    overflow: visible;
  }

  .swiper-slide {
    img {
      display: block;
    }
  }
  .swiper-pagination {
    left: 0;
    right: 0;
    bottom: auto;
    top: -2em;
    .swiper-pagination-bullet {
      margin: 0 4px;
      opacity: 0.8;
      background: $white;
    }

    .swiper-pagination-bullet-active {
      background: $primary;
    }
  }
  .btn-swiper-nav {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0.5;

    .icon {
      font-weight: bold;
    }

    &.btn-swiper-prev {
      left: -3em;
    }

    &.btn-swiper-next {
      right: -3em;
    }

    &.swiper-button-disabled {
      opacity: 0;
    }
  }

  .notice-popup {
    position: relative;
    padding: 4.5em 1.25em 1em;
    .notice-header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0.5em 1em;
      background-color: $primary;
      color: $white;
      h1 {
        font-size: $txt-large;
      }
    }

    h2 {
      line-height: 1.2;
      font-size: $txt-medium;
      color: $black;
      font-weight: $txt-bold;
      text-align: center;
    }

    h3 {
      line-height: 1.2;
      font-size: $txt-small;
      margin-top: 0.5em;
      color: $primary;
      text-align: center;
    }

    .popup-content {
      margin-top: 0.5em;
      max-height: 10em;
      overflow-y: auto;
      text-align: center;
      p {
        font-size: $txt-tiny;
      }
    }
  }
}
</style>
