<template>
  <div class="review-card">
    <div class="reivew-card-title">
      <span class="space-name">{{ spaceName }}</span>
    </div>
    <div class="review-card-img">
      <slot>
        <img src="@/assets/images/main/main_review.jpg" alt="spaceName" class="img" />
      </slot>
    </div>
    <div class="review-card-container">
      <div class="review-card-content">
        <div class="review-character">
          <span>창업자</span>
        </div>
        <div class="review-card-body">
          <p class="review-card-text">{{ founderReview }}</p>
        </div>
      </div>
      <div class="review-card-content">
        <div class="review-character">
          <span>대여자</span>
        </div>
        <div class="review-card-body">
          <p class="review-card-text">{{ ownerReview }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["spaceName", "founderReview", "ownerReview"]
};
</script>

<style lang="scss" scoped>
.review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  box-shadow: 1px 1px 6px rgba(60, 60, 60, 0.25);
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: none;
  background-color: transparent;
  padding: 0.5em;

  + .review-card {
    margin-top: 2em;
  }
  .review-card-container {
    margin-top: -0.85em;
  }
  .review-card-content {
    position: relative;
    padding-bottom: 0.25em;

    + .review-card-content {
      margin-top: 1em;
    }

    &:nth-child(odd) {
      padding-left: 0.5em;
      padding-right: 4em;
      .review-card-body {
        border-bottom-right-radius: 0;
      }
      .review-character {
        right: 0;
        &:before {
          background-image: url("~assets/svg/main/character_founder.svg");
        }
      }
    }
    &:nth-child(even) {
      padding-right: 0.5em;
      padding-left: 4em;
      .review-card-body {
        border-bottom-left-radius: 0;
      }
      .review-character {
        left: 0;
        &:before {
          background-color: #bac0fa;
          background-image: url("~assets/svg/main/character_owner.svg");
        }
        span {
          background-color: #bac0fa;
        }
      }
    }
  }

  .reivew-card-title {
    position: relative;
    text-align: center;
    margin-bottom: -1.5em;
    z-index: 2;

    .space-name {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: $txt-small;
      font-weight: 600;
      color: $white;
      width: 13em;
      height: 3em;
      background: url("~assets/svg/main/review_title.svg") no-repeat center;
      background-size: contain;
    }
  }
  .review-card-img {
    text-anchor: middle;
    height: 100%;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 0 2em;

    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  .review-character {
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    &:before {
      display: block;
      width: 3em;
      height: 3em;
      border-radius: 50%;
      content: "";
      background-color: $secondary;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 1.75em auto;
    }

    span {
      display: block;
      margin-top: 0.5em;
      padding: 0.25em;
      font-size: $txt-tiny;
      color: $white;
      border-radius: $border-radius;
      background-color: $secondary;
    }
  }

  .review-card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2em 0.75em;
    color: $gray-500;
    padding: 1em 1em;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1.5em;
    + .review-card-body {
      margin-top: 1em;
    }

    .review-card-name {
      display: block;
      font-size: $txt-tiny;
      color: $gray;
      line-height: 1;
    }

    .review-card-space {
      color: $black;
      font-size: $txt-mini;
    }

    .review-card-text {
      font-size: $txt-tiny;
      color: $black;
      font-weight: 600;
    }
  }
}
</style>
