<template>
  <div class="space-list" v-if="spaces && spaces.length > 0">
    <div
      class="row gutter-16"
      :class="{ 'justify-content-center': showingSpaces.length < 3 }"
    >
      <div
        :class="`col col-md-6 col-lg-${12 / parseInt(cols)}`"
        v-for="space in showingSpaces"
        :key="space.no"
      >
        <SpacePreview :space="space" :addClass="addClass" />
      </div>
    </div>
    <template v-if="spaces && spaces.length > limit && !hidebtnMore">
      <div class="btn-box txt-center d-block d-lg-none">
        <NButton color="outline-primary" block @click="moreView()"
          >더 보기</NButton
        >
      </div>
      <div class="btn-box txt-center d-none d-lg-block">
        <NButton color="outline-primary" class="w-30" @click="moreView()"
          >더 보기</NButton
        >
      </div>
    </template>
    <Modal
      yesBtn="로그인하기"
      noBtn="닫기"
      :visible="isVisible"
      @close="goToLogin"
    >
      <div class="txt-box txt-center">
        <p class="txt-small txt-black txt-bold">
          로그인이 필요한 서비스 입니다 <br />로그인 하시겠습니까?
        </p>
      </div>
    </Modal>
  </div>
</template>

<script>
// 메인 추천 공간 리스트
import SpacePreview from '@/components/Main/SpacePreview';
export default {
  name: 'SpaceList',
  props: {
    spaces: {
      type: Array,
      default: () => [],
    },
    addClass: {
      type: String,
      default: '',
    },
    cols: {
      type: String,
      default: '3',
    },
    take: {
      type: Number,
      default: 6,
    },
    hidebtnMore: {
      type: Boolean,
      default: false,
    },
  },
  components: { SpacePreview },
  data() {
    return {
      isVisible: false,
      limit: this.take ? this.take : parseInt(this.cols) * 2,
    };
  },
  computed: {
    showingSpaces() {
      if (this.spaces && this.spaces.length > this.limit) {
        return this.spaces.slice(0, this.limit ? this.limit : this.limit);
      } else {
        return this.spaces;
      }
    },
  },
  methods: {
    moreView() {
      return (this.limit += this.limit ? this.limit : parseInt(this.cols) * 2);
    },
    goToLogin(res) {
      if (res.ok) {
        this.$router.push('/login');
      } else {
        this.isVisible = false;
      }
    },
  },
};
</script>

<style></style>
