<template>
  <div class="space-preview" :class="addClass">
    <template v-if="space.companyDistrict">
      <!-- 기본 배달형 -->
      <div
        class="space-preview-img bg-light"
        @click="toDetailSpace(space.companyDistrict ? space.no : space.spaceNo)"
      >
        <img
          v-lazy="space.companyDistrict.image[0].endpoint"
          alt=""
          v-if="
            space.companyDistrict.image &&
            space.companyDistrict.image.length > 0
          "
        />
        <img
          v-lazy="space.images[0].endpoint"
          alt=""
          v-if="space.images && space.images.length > 0"
        />
        <img
          v-lazy="require('@/assets/images/common/no_img.png')"
          loading="lazy"
          alt
          v-else
          :class="addClass"
        />
      </div>
      <div class="row-box mt-2">
        <NButton
          size="mini"
          block
          color="outline-secondary"
          @click="toSpaceMeeting(space.no)"
          ><span class="is-nowrap">빠른 입점 문의</span>
        </NButton>
      </div>
      <div
        class="space-preview-body"
        @click="toDetailSpace(space.companyDistrict ? space.no : space.spaceNo)"
      >
        <div class="row-box" v-if="space.spaceTypeNo">
          <Badge
            color="darkorange"
            size="mini"
            text="식당형"
            v-if="space.spaceTypeNo == '1'"
          />
          <Badge
            color="lightblue"
            size="mini"
            text="배달형"
            v-if="space.spaceTypeNo == '2'"
          />
        </div>
        <div class="row-box">
          <div class="d-flex align-items-start justify-content-between">
            <div>
              <h4 class="space-preview-title" :class="addClass">
                <template
                  v-if="
                    space.companyDistrict.company.companyType === 'CORP_COMPANY'
                  "
                >
                  <Badge
                    size="mini"
                    color="green"
                    :text="space.typeName"
                    square
                    v-if="space.typeName"
                  />
                </template>

                {{
                  `${space.companyDistrict.company.nameKr} ${space.companyDistrict.nameKr} ${space.size} 평`
                }}
              </h4>
              <p class="space-preview-address" :class="addClass">
                {{ space.companyDistrict.region1DepthName }}
                {{ space.companyDistrict.region2DepthName }}
                {{ space.companyDistrict.region3DepthName }}
              </p>
            </div>
            <div class="txt-center ml-2">
              <div class="d-flex align-items-start">
                <button
                  @click.stop="favoriteSpace(space)"
                  class="btn-like mk_sp_like_btn"
                  v-if="!hideFavorite"
                >
                  <i
                    class="icon icon-heart-fill txt-big txt-primary mk_sp_like_btn"
                    v-if="space.likedYn"
                  ></i>
                  <i class="icon icon-heart txt-big mk_sp_like_btn" v-else></i>
                  <span class="is-blind">찜하기</span>
                  <span class="txt-tiny" v-if="space.likedCount">{{
                    space.likedCount
                  }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row-box mt-2" :class="addClass">
          <SpacePriceArea
            :deposit="space.deposit"
            :rentalfee="space.monthlyRentFee"
            :pyeong="space.size"
          ></SpacePriceArea>
        </div>
        <div class="row-box">
          <Badge
            size="mini"
            color="outline-lightorange"
            text="오픈예정"
            square
            v-if="space.isOpenedYn && space.isOpenedYn !== 'Y'"
          />
          <Badge
            v-if="space.isOpenedYn === 'Y' && space.remainingCount > 0"
            color="outline-lightblue"
            size="mini"
            :text="`${space.remainingCount} 개 입점가능`"
          ></Badge>
          <Badge
            v-if="space.isOpenedYn === 'Y' && space.remainingCount <= 3"
            color="red"
            size="mini"
            text="마감임박"
          ></Badge>
        </div>
      </div>
    </template>
    <template v-else>
      <!-- 기본 식당형 + 메인 배달&식당 혼합형 -->
      <div
        class="space-preview-img bg-light"
        @click="toDetailSpace(space.companyDistrict ? space.no : space.spaceNo)"
      >
        <img
          v-lazy="space.images"
          loading="lazy"
          alt
          v-if="space.images && space.images.length > 0"
          :class="addClass"
        />
        <img
          v-lazy="require('@/assets/images/common/no_img.png')"
          loading="lazy"
          alt
          v-else
          :class="addClass"
        />
      </div>
      <div
        class="space-preview-body"
        @click="toDetailSpace(space.companyDistrict ? space.no : space.spaceNo)"
      >
        <div class="row-box" v-if="space.spaceTypeNo">
          <Badge
            color="darkorange"
            size="mini"
            text="식당형"
            v-if="space.spaceTypeNo == '1'"
          />
          <Badge
            color="lightblue"
            size="mini"
            text="배달형"
            v-if="space.spaceTypeNo == '2'"
          />
        </div>
        <div class="row-box mt-2">
          <h4 class="space-preview-title" :class="addClass">
            {{ space.name }}
          </h4>
          <p class="space-preview-address" :class="addClass">
            {{ space.region1DepthName }} {{ space.region2DepthName }}
            {{ space.region3DepthName }}
          </p>
        </div>
        <div class="row-box mt-2" :class="addClass">
          <SpacePriceArea
            :deposit="space.deposit"
            :rentalfee="space.monthlyRent"
            :pyeong="space.size"
          ></SpacePriceArea>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
// 메인 추천 공간 상세
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
export default {
  props: {
    space: {
      type: Object,
      default: () => {},
    },
    spaceName: {
      type: String,
      default: null,
    },
    addClass: {
      type: String,
      default: '',
    },
    hideFavorite: {
      type: Boolean,
      default: false,
    },
  },
  name: 'SpacePreview',
  components: {
    SpacePriceArea,
  },
  data() {
    return {
      baseUrl: process.env.baseUrl,
    };
  },
  computed: {
    mainImage() {
      let result = null;
      if (this.files) {
        result = this.files.find((e) => e.MAIN_YN === 'Y');
      }

      return result;
    },
  },
  methods: {
    toDetailSpace(no) {
      if (this.space.spaceTypeNo == '1' && !this.space.companyDistrict) {
        // 식당형 상세
        this.$router.push('/restaurant-kitchen/' + no);
      } else if (this.space.spaceTypeNo == '2' || this.space.companyDistrict) {
        // 배달형 상세
        this.$router.push('/delivery-kitchen/' + no);
      }
    },
    async favoriteSpace(space) {
      //토큰 유효기간 검사
      await this.$checkTokenExpired();

      if (this.$store.getters.isAuthenticated) {
        if (space.likedYn) {
          // 찜 해제하기
          return this.$axios
            .$delete('/favoriteSpace', {
              params: {
                deliverySpaceNo: space.no,
                spaceTypeNo: '2',
              },
            })
            .then((res) => {
              if (res) {
                space.likedYn = false;
                space.likedCount -= 1;
                space.isLiked = false;
                // this.$root.$emit('toggleFavorite', space);
                this.$emit('likeChanged', space, space.no);
              }
            });
        } else {
          // 찜 하기
          return this.$axios
            .$post('/favoriteSpace', {
              deliverySpaceNo: space.no,
              spaceTypeNo: '2',
            })
            .then((res) => {
              if (res) {
                space.likedYn = true;
                space.likedCount += 1;
                space.isLiked = true;
                // this.$root.$emit('toggleFavorite', space);
                this.$emit('likeChanged', space, space.no);
              }
            });
        }
      } else {
        // 로그인 안했을 때
        this.$root.$emit('checkAuth', true);
      }
    },
    async toSpaceMeeting(space) {
      await this.$checkTokenExpired();
      this.$store.dispatch('spaces/setSelectedSpace', this.space);
      if (this.$store.getters.isAuthenticated) {
        this.$router.push('/delivery-kitchen/form');
      } else {
        this.$router.push({
          name: 'login',
          params: { redirected: '/delivery-kitchen/form' }, // form 으로 바로 연결
        });
      }
    },
  },
};
</script>

<style lang="scss">
.space-preview {
  position: relative;
  min-width: 200px;
  height: 100%;
  padding: 0;
  border: 0;
  border-radius: 0;
  overflow: hidden;
  cursor: pointer;
  .btn-like {
    line-break: 1;
    margin: 0 0.5em;
    span {
      display: block;
    }
  }

  .space-preview-img {
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  img {
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  + .space-preview {
    margin-top: 1.5em;
  }

  a:hover {
    text-decoration: none;
  }
  .space-preview-img {
    position: relative;
    padding-bottom: 60%;
    overflow: hidden;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform: scale(1);
    }
  }
  .space-preview-body {
    padding: 1em 0;

    .space-preview-title {
      font-size: 1.4rem;
      color: $black;
      font-weight: 600;
    }
    .space-preview-address {
      font-size: 1.2rem;
      color: $black;
      margin-bottom: 0.5em;
    }
  }
}
</style>
