<template>
  <div>
    <h4 class="txt-black txt-bold txt-large mb-2 pl-3">
      {{ title }}
    </h4>
    <div class="space-slider">
      <div v-swiper:spaceSlider="sliderOption" class="px-4">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide"
            :style="{ width: spaces.length < 5 ? 'calc(25% - 12px)' : '22%' }"
            v-for="space in spaces"
            :key="space.NO"
          >
            <SpacePreview
              :space="space"
              :addClass="addClass"
              :hideFavorite="hideFavorite"
              @likeChanged="syncSameSpace"
            />
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
        <!-- 네비게이션 버튼  -->
        <div
          class="swiper-controller d-none d-lg-block"
          v-if="spaces.length > 4"
        >
          <NButton
            bg-color="rgba(0,0,0,.25)"
            color="outline-gray"
            icon
            circle
            class="swiper-button-prev"
          >
            <i class="icon icon-arrow-angle-left txt-bold"></i>
            <span class="is-blind">이전으로</span>
          </NButton>
          <NButton
            bg-color="rgba(0,0,0,.25)"
            color="outline-gray"
            icon
            circle
            class="swiper-button-next"
          >
            <i class="icon icon-arrow-angle-right txt-bold"></i>
            <span class="is-blind">다음으로</span>
          </NButton>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SpacePreview from '@/components/Main/SpacePreview';
export default {
  props: {
    spaces: Array,
    title: String,
    addClass: String,
    addClass2: String,
    hideFavorite: Boolean,
  },
  components: {
    SpacePreview,
  },
  data() {
    return {
      sliderOption: {
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: false,
        freeMode: true,
        spaceBetween: 16,
        grabCursor: true,
        lazy: {
          loadPrevNext: true,
          preloaderClass: 'lazy-loader',
        },
        fadeEffect: {
          crossFade: true,
        },
        preloadImages: true,
        navigation: {
          nextEl: '.swiper-button-next ',
          prevEl: '.swiper-button-prev',
        },
      },
    };
  },
  methods: {
    moreView() {
      this.$emit('click');
    },
    syncSameSpace(space, no) {
      this.$emit('likeChanged', space, no);
    },
  },
};
</script>
<style lang="scss">
.space-slider {
  .swiper-slide {
    min-width: 280px;
    width: 56%;
    &.more-slide {
      width: 25%;
      padding-top: 30%;
      .inner-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .swiper-container {
    .swiper-controller {
      text-align: center;
      margin-top: 2em;
      .swiper-button-prev,
      .swiper-button-next {
        position: static;
        transform: none;
      }
    }
  }

  @media screen and (min-width: 576px) {
    .swiper-slide {
      width: 20%;
    }
  }
}
</style>
