<template>
  <div id="animation" v-scroll="parallax">
    <svg
      viewBox="0 0 210 210"
      id="circleOrange"
      class="circle"
      :style="{ transform: 'translateY(' + parallax1 + ')' }"
    >
      <circle class="st0" cx="105" cy="105" r="105" />
    </svg>
    <svg
      viewBox="0 0 210 210"
      id="circleBlue"
      class="circle"
      :style="{ transform: 'translateY(' + parallax2 + ')' }"
    >
      <circle class="st1" cx="105" cy="105" r="105" />
    </svg>
    <svg viewBox="0 0 458 375.61" id="character" width="100%">
      <g>
        <path
          class="st2"
          d="M326.24,93.82c1,0.9,2.72,1.97,4.36,3.12c1.72,1.04,3.39,2.13,4.48,2.85c1.51,1,2.88,2.28,4.41,3.22
		c0.2,0.14,0.4,0.28,0.6,0.41c3.54,2.38,7.66,3.73,11.57,5.4c3.17,1.33,4.99,2.37,7.46,3.41l2.35-6.86
		c-1.86-0.63-3.7-1.26-5.59-2.04c-2.26-0.93-4.52-1.89-6.66-3.08c-1.76-0.96-3.31-2.29-5.06-3.24c-0.73-0.42-1.8-0.9-2.68-1.41
		c-1.24-0.76-2.52-1.39-3.75-2.13c-1.2-0.76-2.46-1.51-3.61-2.53c-1-0.91-2.02-1.71-2.93-2.54c-0.9-0.84-1.84-1.61-2.7-2.42
		l-4.99,5.26C324.25,92.07,325.15,92.87,326.24,93.82"
        />
        <g>
          <polygon points="318.15,53.3 318.15,53.3 320.4,55.17 		" />
          <polygon points="355.44,45.07 355.44,45.07 355.17,46.18 		" />
          <path
            d="M368.63,107.56c2.91,0.82,5.61,0.81,8.33,0.8c0.96-0.03,2.01-0.16,2.77-0.22c1.78-0.17,3.59-0.06,5.27-0.54
			c2.05-0.56,3.8-1.67,5.24-3.02c1.2-1.14,2.08-2.48,2.79-3.98l0,0c0.97-2.11,1.86-4.27,2.66-6.68c0.91-2.74,0.7-5.29,0.46-7.83
			c-0.09-0.44-0.18-0.91-0.27-1.36c-0.11-0.44-0.23-0.86-0.3-1.22c-0.41-1.66-0.61-3.46-1.36-5.14c-0.91-2.04-2.22-3.94-3.71-5.74
			c-1.23-1.51-2.56-2.87-3.95-4.23l2.51-2.51c0,0,0,0,0,0l-2.51,2.51c-1.7-1.65-3.51-3.3-5.51-5.18c-2.27-2.12-4.73-3.48-7.17-5.18
			c-0.88-0.56-1.89-1.18-2.6-1.66c-0.84-0.56-1.54-1.14-2.29-1.75c-0.76-0.58-1.51-1.2-2.35-1.66c-2.03-1.19-4.22-2.13-6.46-2.89
			c-1.87-0.64-3.69-1.16-5.56-1.56l0,0c-2.28-0.51-4.62-0.94-7.24-1.33c-2.97-0.43-5.63,0-8.38,0.35c-0.97,0.14-2.03,0.42-2.81,0.56
			c-1.82,0.36-3.73,0.44-5.52,0.99c-2.18,0.68-4.2,1.73-5.99,2.97c-1.49,1.04-2.74,2.22-3.79,3.51l0,0
			c-0.67,0.78-1.19,1.64-1.71,2.54c-0.23,0.49-0.46,0.98-0.7,1.49c-0.11,0.26-0.27,0.5-0.37,0.77c-0.09,0.27-0.18,0.54-0.28,0.82
			c-0.22,0.62-0.44,1.23-0.46,1.87c-0.03,0.31-0.06,0.62-0.09,0.93c-0.03,0.31-0.07,0.61-0.02,0.92c0.05,0.61,0.1,1.22,0.15,1.83
			c0.13,0.61,0.26,1.22,0.36,1.84c0.06,0.43,0.26,0.88,0.4,1.32c0.15,0.43,0.29,0.84,0.39,1.19c0.29,0.82,0.57,1.67,0.79,2.55
			c0.3,0.86,0.64,1.73,1.02,2.56c0.58,0.99,1.17,1.98,1.85,2.92c0.74,0.91,1.4,1.87,2.2,2.73c0.67,0.73,1.3,1.45,1.98,2.14
			c0.7,0.67,1.39,1.33,2.09,2l-2.45,2.58c3.88,3.67,8.62,7.23,14.15,10.57c6.86,4.14,13.69,7.39,20.13,9.59l1.15-3.36
			C363.74,106.11,366.06,106.82,368.63,107.56z"
          />
          <path
            class="st2"
            d="M326.4,83.98c-0.67-0.69-1.31-1.41-1.98-2.14c-0.81-0.86-1.46-1.82-2.2-2.73c-0.67-0.94-1.27-1.93-1.85-2.92
			c-0.39-0.84-0.72-1.71-1.02-2.56c-0.21-0.88-0.49-1.73-0.79-2.55c-0.1-0.35-0.24-0.76-0.39-1.19c-0.15-0.43-0.34-0.88-0.4-1.32
			c-0.1-0.62-0.23-1.23-0.36-1.84c-0.05-0.61-0.1-1.22-0.15-1.83c-0.05-0.31-0.01-0.61,0.02-0.92c0.03-0.31,0.06-0.62,0.09-0.93
			c0.02-0.64,0.24-1.25,0.46-1.87c0.09-0.28,0.18-0.55,0.28-0.82c0.09-0.27,0.25-0.51,0.37-0.77c0.24-0.5,0.47-1,0.7-1.49
			c0.53-0.89,1.05-1.76,1.71-2.54l0,0c1.05-1.3,2.3-2.47,3.79-3.51c1.79-1.24,3.82-2.29,5.99-2.97c1.79-0.55,3.69-0.63,5.52-0.99
			c0.78-0.14,1.84-0.42,2.81-0.56c2.75-0.34,5.41-0.77,8.38-0.35c2.62,0.39,4.96,0.82,7.24,1.33l0,0c1.88,0.41,3.7,0.92,5.56,1.56
			c2.23,0.76,4.42,1.7,6.46,2.89c0.84,0.47,1.59,1.09,2.35,1.66c0.76,0.61,1.46,1.19,2.29,1.75c0.71,0.48,1.72,1.09,2.6,1.66
			c2.44,1.7,4.9,3.06,7.17,5.18c2,1.88,3.81,3.52,5.51,5.18l2.51-2.51l2.61-2.62c-0.73-0.84-1.58-1.69-2.65-2.64
			c-1.98-1.79-6.45-4.72-8.48-6.29c-1.4-1.11-2.67-2.41-4.08-3.49c-0.18-0.15-0.37-0.31-0.55-0.46c-0.78-0.66-1.77-1.3-2.69-1.89
			c-0.97-0.54-1.93-1.11-2.95-1.55c-2-0.97-4.09-1.7-6.12-2.52c-3.3-1.25-5.26-2.14-7.88-2.96l-0.86,3.6l-0.26,1.11l0.26-1.11
			l0.86-3.6c-1.07-0.34-2.27-0.61-3.71-0.85c-1.34-0.2-3.41-0.36-5.47-0.35c-2.06-0.03-4.11,0.11-5.46,0.11
			c-1.88,0.05-3.79-0.12-5.68,0.13c-0.26,0.02-0.52,0.04-0.77,0.06c-4.49,0.52-8.73,2.51-12.66,4.9c-0.81,0.46-1.5,0.95-2.18,1.36
			c-0.64,0.47-1.27,0.84-1.84,1.28c-1.14,0.86-2.2,1.69-3.23,2.82l2.85,2.36l2.25,1.87l-2.25-1.87l-2.85-2.36
			c-0.21,0.23-0.43,0.47-0.65,0.72c-0.2,0.27-0.41,0.54-0.62,0.82c-0.44,0.56-0.82,1.23-1.22,1.96c-0.66,1.37-1.49,3.49-1.86,5.76
			c-0.41,2.24-0.43,4.51-0.4,5.97c-0.06,1.03,0.03,2.04,0.09,3.06c0.04,0.51,0.03,1.04,0.13,1.53c0.09,0.5,0.19,0.99,0.31,1.48
			c0.06,0.27,0.11,0.54,0.17,0.8c0.1,0.59,0.31,1.14,0.52,1.69c0.21,0.55,0.43,1.09,0.65,1.63c0.47,1.07,1.11,2.03,1.68,3.03
			c0.6,0.97,1.32,1.85,1.97,2.77c0.65,0.92,1.42,1.72,2.09,2.61c0.53,0.72,1.06,1.32,1.53,1.89c0.47,0.57,0.89,1.11,1.29,1.64
			c0.83,1.02,1.62,1.93,2.52,2.96l2.54-2.68l2.45-2.58C327.79,85.31,327.1,84.65,326.4,83.98z"
          />
          <path
            class="st2"
            d="M403.16,83.06c-0.04-0.27-0.07-0.55-0.1-0.81c-0.34-2.36-1.23-4.62-2.36-6.65c-1.13-2.04-2.48-3.89-3.82-5.67
			c-2.19-2.84-3.41-4.6-5.19-6.65l-2.61,2.62l-2.51,2.51c1.39,1.36,2.72,2.72,3.95,4.23c1.48,1.8,2.8,3.7,3.71,5.74
			c0.75,1.67,0.95,3.48,1.36,5.14c0.07,0.36,0.19,0.78,0.3,1.22c0.09,0.45,0.18,0.92,0.27,1.36c0.24,2.53,0.45,5.08-0.46,7.83
			c-0.8,2.41-1.68,4.57-2.66,6.68l0,0c-0.71,1.5-1.59,2.84-2.79,3.98c-1.44,1.34-3.19,2.46-5.24,3.02
			c-1.68,0.48-3.49,0.37-5.27,0.54c-0.76,0.06-1.82,0.19-2.77,0.22c-2.72,0.01-5.42,0.02-8.33-0.8c-2.57-0.74-4.89-1.45-7.16-2.19
			l-1.15,3.36l-1.2,3.5c1.02,0.41,2.14,0.84,3.53,1.21c1.28,0.37,3.29,0.73,5.31,1.03c2.03,0.27,4.07,0.48,5.42,0.62
			c1.87,0.25,3.77,0.62,5.73,0.61c0.26,0.01,0.53,0.01,0.79,0.02c4.63,0,9.42-1.89,13.33-4.92c1.56-1.24,2.77-2.34,3.74-3.48
			c1.01-1.11,1.81-2.25,2.58-3.58l-1.25-0.6l1.25,0.6c0.53-1.01,1.11-2.09,1.62-3.51c0.5-1.28,1.03-3.35,1.39-5.47
			c0.39-2.11,0.46-4.28,0.58-5.7C403.28,87.1,403.43,85.06,403.16,83.06z"
          />
        </g>
        <g>
          <polygon class="st3" points="324.84,148.61 324.99,148.11 324.99,148.11 		" />
          <polygon class="st3" points="348.34,70.9 348.34,70.9 348.54,70.25 		" />
          <path
            class="st4"
            d="M303.19,125.11c1.14,2.89,2.97,5.02,4.82,7.24c0.66,0.77,1.53,1.54,2.08,2.16c0.72,0.66,1.36,1.41,2,2.18
			c0.66,0.74,1.38,1.43,2.13,2.09c0.45,0.42,0.97,0.74,1.47,1.09l1.52,1.02c1.06,0.6,2.14,1.18,3.23,1.72
			c0.94,0.4,1.86,0.78,2.77,1.17c0.94,0.31,1.87,0.61,2.81,0.92l-1.03,3.4h0l1.03-3.4c1.17,0.28,2.34,0.62,3.57,0.88
			c1.24,0.2,2.5,0.55,3.86,0.68c3.07,0.51,5.83-0.09,8.68-0.53c0.99-0.26,2.11-0.49,2.9-0.73c0.94-0.29,1.92-0.42,2.89-0.62
			c0.96-0.24,1.94-0.46,2.88-0.78c1.11-0.5,2.25-0.95,3.31-1.56c1.04-0.64,2.13-1.21,3.12-1.92c1.67-1.16,3.17-2.43,4.6-3.8l0,0
			c0.83-0.88,1.67-1.76,2.56-2.65c0.8-0.97,1.64-1.95,2.54-2.99c1.85-2.48,2.9-5.06,3.83-7.8c0.31-0.97,0.66-2.06,0.82-2.88
			c0.22-0.95,0.64-1.86,0.92-2.81c0.27-0.95,0.56-1.91,0.77-2.89c0.15-1.21,0.23-2.43,0.32-3.65c-0.04-1.22-0.07-2.45-0.13-3.67
			c-0.13-1.01-0.26-2-0.39-2.98c-0.15-0.98-0.43-1.93-0.62-2.89l3.48-0.81l0,0l-3.48,0.81c-0.56-2.35-1.35-4.67-2.31-7.23l-0.2-0.54
			l-0.26-0.5c-0.18-0.33-0.36-0.66-0.54-0.98c-0.37-0.64-0.72-1.27-1.14-1.85l-1.33-1.69c-0.44-0.56-0.85-1.15-1.36-1.67
			c-0.71-0.73-1.51-1.55-2.07-2.17c-0.73-0.66-1.37-1.41-2.01-2.17l-0.48-0.58l-0.54-0.51c-0.36-0.34-0.73-0.68-1.11-1
			c-0.48-0.38-0.92-0.81-1.44-1.13l-1.55-0.97c-0.53-0.31-1.02-0.68-1.58-0.93l-1.65-0.79c-0.46-0.22-0.91-0.45-1.37-0.65
			c-0.47-0.17-0.94-0.34-1.4-0.51c-0.93-0.33-1.84-0.72-2.81-0.93l1.03-3.43c0,0,0,0,0,0l-1.03,3.43c-1.17-0.28-2.32-0.71-3.57-0.89
			c-1.23-0.24-2.49-0.56-3.86-0.7c-0.77-0.1-1.51-0.2-2.25-0.21c-0.74,0.03-1.46,0.07-2.18,0.13l-1.07,0.08
			c-0.35,0.05-0.71,0.12-1.06,0.18c-0.7,0.13-1.41,0.24-2.13,0.34c-1,0.2-2.09,0.58-2.9,0.75c-0.96,0.18-1.9,0.45-2.88,0.63
			l-1.47,0.3c-0.47,0.15-0.94,0.31-1.41,0.49l-1.7,0.69c-0.57,0.23-1.08,0.58-1.62,0.86l-1.6,0.9c-0.53,0.3-1,0.7-1.51,1.04
			c-1.72,1.11-3.12,2.48-4.63,3.76l0,0c-1.73,1.69-3.39,3.5-5.1,5.63c-1.93,2.44-2.87,5.07-3.86,7.79c-0.32,0.96-0.6,2.08-0.81,2.88
			c-0.53,1.88-1.32,3.73-1.65,5.71c-0.41,2.41-0.39,4.88-0.19,7.31c0.05,1.02,0.24,2,0.36,2.99c0.21,0.97,0.34,1.94,0.62,2.9
			l-3.46,0.81c0,0,0,0,0,0l3.46-0.81C301.44,120.23,302.18,122.57,303.19,125.11z"
          />
          <path
            class="st2"
            d="M300.25,114.99c-0.12-0.98-0.32-1.96-0.36-2.99c-0.2-2.43-0.22-4.9,0.19-7.31c0.33-1.98,1.12-3.83,1.65-5.71
			c0.21-0.8,0.49-1.92,0.81-2.88c0.99-2.71,1.93-5.35,3.86-7.79c1.71-2.14,3.37-3.95,5.1-5.63l0,0c1.51-1.28,2.91-2.66,4.63-3.76
			c0.51-0.34,0.98-0.74,1.51-1.04l1.6-0.9c0.54-0.28,1.05-0.63,1.62-0.86l1.7-0.69c0.46-0.18,0.93-0.35,1.41-0.49l1.47-0.3
			c0.98-0.18,1.92-0.46,2.88-0.63c0.81-0.17,1.9-0.55,2.9-0.75c0.72-0.09,1.43-0.21,2.13-0.34c0.35-0.06,0.7-0.13,1.06-0.18
			l1.07-0.08c0.72-0.05,1.44-0.1,2.18-0.13c0.74,0.01,1.48,0.11,2.25,0.21c1.36,0.14,2.62,0.46,3.86,0.7
			c1.25,0.18,2.39,0.6,3.57,0.89l1.03-3.43l0.19-0.65l-0.19,0.65l-1.03,3.43c0.97,0.21,1.87,0.6,2.81,0.93
			c0.47,0.17,0.93,0.34,1.4,0.51c0.46,0.2,0.91,0.43,1.37,0.65l1.65,0.79c0.56,0.25,1.05,0.62,1.58,0.93l1.55,0.97
			c0.52,0.32,0.96,0.75,1.44,1.13c0.38,0.32,0.75,0.66,1.11,1l0.54,0.51l0.48,0.58c0.64,0.77,1.28,1.51,2.01,2.17
			c0.55,0.61,1.36,1.44,2.07,2.17c0.51,0.52,0.92,1.11,1.36,1.67l1.33,1.69c0.42,0.58,0.76,1.22,1.14,1.85
			c0.18,0.32,0.36,0.65,0.54,0.98l0.26,0.5l0.2,0.54c0.97,2.56,1.75,4.88,2.31,7.23l3.48-0.81l3.58-0.83
			c-0.13-1.21-0.55-2.47-1.03-3.97c-0.12-0.34-0.26-0.73-0.4-1.16c-0.17-0.42-0.39-0.85-0.61-1.3c-0.45-0.91-0.92-1.91-1.46-2.88
			c-1.18-1.88-2.29-3.77-3.14-4.93c-0.56-0.83-1.02-1.74-1.58-2.58c-0.58-0.82-1.16-1.65-1.79-2.44c-0.16-0.22-0.33-0.44-0.49-0.65
			c-3.09-3.66-7.32-6.11-11.44-8.31c-1.72-0.81-3-1.65-4.31-2.19c-0.64-0.3-1.26-0.6-1.88-0.89c-0.31-0.14-0.62-0.31-0.95-0.44
			c-0.33-0.12-0.67-0.24-1.02-0.36v0c-0.57-0.2-1.17-0.39-1.82-0.59c-0.33-0.1-0.66-0.19-1.01-0.3c-0.35-0.08-0.73-0.14-1.12-0.21
			c-0.72-0.12-1.63-0.24-2.64-0.36c-1.01-0.12-2.12-0.08-3.22-0.12c-0.55-0.01-1.1-0.03-1.64-0.02c-0.54,0.03-1.07,0.07-1.57,0.1
			c-1,0.06-1.91,0.08-2.63,0.1c-1.99,0.19-4.04,0.02-6.02,0.46c-0.27,0.04-0.54,0.08-0.81,0.12c-4.72,0.81-8.97,3.24-12.94,5.72
			c-1.56,1.08-2.86,1.87-4.05,2.64c-1.14,0.83-2.22,1.59-3.39,2.48l2.52,2.69l-2.52-2.69c-0.92,0.78-1.89,1.68-2.92,2.88
			c-0.97,1.09-2.25,2.92-3.37,4.83c-1.13,1.9-2.08,3.89-2.74,5.17c-0.93,1.78-1.97,3.53-2.65,5.44c-0.11,0.25-0.2,0.51-0.29,0.76
			c-0.84,2.23-1.23,4.61-1.44,6.97c-0.16,2.38-0.13,4.74-0.03,7.09c0.17,3.78,0.24,6.09,0.71,9l3.6-0.84l3.46-0.81
			C300.6,116.93,300.47,115.96,300.25,114.99z"
          />
          <path
            class="st2"
            d="M380.21,108.48c0.01-1.9-0.19-3.41-0.24-4.82c-0.01-0.36-0.03-0.7-0.04-1.05c-0.03-0.34-0.08-0.68-0.12-1.02
			c-0.1-0.69-0.19-1.38-0.29-2.1l-3.58,0.83l-3.48,0.81c0.19,0.97,0.47,1.92,0.62,2.89c0.13,0.98,0.26,1.97,0.39,2.98
			c0.06,1.22,0.08,2.44,0.13,3.67c-0.09,1.22-0.18,2.44-0.32,3.65c-0.21,0.98-0.5,1.94-0.77,2.89c-0.28,0.95-0.7,1.85-0.92,2.81
			c-0.16,0.82-0.51,1.91-0.82,2.88c-0.93,2.74-1.98,5.32-3.83,7.8c-0.9,1.04-1.74,2.02-2.54,2.99c-0.89,0.89-1.74,1.76-2.56,2.65
			l0,0c-1.43,1.37-2.93,2.64-4.6,3.8c-0.99,0.71-2.08,1.28-3.12,1.92c-1.06,0.61-2.2,1.06-3.31,1.56c-0.94,0.32-1.92,0.54-2.88,0.78
			c-0.97,0.2-1.95,0.33-2.89,0.62c-0.79,0.24-1.92,0.47-2.9,0.73c-2.85,0.44-5.61,1.04-8.68,0.53c-1.36-0.13-2.62-0.48-3.86-0.68
			c-1.23-0.26-2.4-0.6-3.57-0.88l-1.03,3.4l-0.15,0.5l0.15-0.5l1.03-3.4c-0.94-0.31-1.87-0.61-2.81-0.92
			c-0.91-0.38-1.83-0.77-2.77-1.17c-1.09-0.54-2.17-1.12-3.23-1.72l-1.52-1.02c-0.5-0.35-1.02-0.67-1.47-1.09
			c-0.74-0.67-1.47-1.35-2.13-2.09c-0.64-0.77-1.27-1.52-2-2.18c-0.55-0.62-1.42-1.38-2.08-2.16c-1.85-2.22-3.68-4.35-4.82-7.24
			c-1.01-2.54-1.75-4.88-2.32-7.23l-3.46,0.81l-3.6,0.84c0.11,0.59,0.22,1.22,0.39,1.88c0.18,0.65,0.39,1.35,0.63,2.1
			c0.24,0.69,0.61,1.53,1.02,2.46c0.45,0.91,0.94,1.91,1.49,2.86c1.1,1.92,2.32,3.75,3.12,4.95c0.27,0.42,0.53,0.85,0.79,1.28
			l0.82,1.27c0.28,0.42,0.54,0.85,0.84,1.26c0.3,0.4,0.62,0.8,0.94,1.19c0.17,0.21,0.34,0.43,0.5,0.64
			c3.07,3.68,7.31,6.13,11.45,8.3c1.65,0.95,3.05,1.53,4.3,2.22c1.27,0.64,2.49,1.12,3.85,1.7l0,0c1.15,0.38,2.41,0.76,3.96,1.09
			c1.44,0.22,3.65,0.5,5.87,0.47c0.55,0,1.1,0.04,1.64,0.01c0.54-0.03,1.07-0.06,1.57-0.08c1-0.05,1.91-0.05,2.63-0.13
			c1-0.07,2.01-0.07,3.02-0.09c1-0.09,2.01-0.18,3.01-0.33c0.27-0.04,0.55-0.05,0.81-0.11c4.74-0.78,8.98-3.27,12.92-5.77
			c1.63-0.97,2.88-1.83,4.07-2.61c1.18-0.79,2.25-1.55,3.38-2.49l0,0c0.89-0.81,1.84-1.73,2.91-2.88c0.5-0.53,1-1.31,1.6-2.13
			c0.57-0.84,1.25-1.71,1.75-2.71c0.54-0.96,1.08-1.92,1.58-2.8c0.43-0.91,0.81-1.74,1.16-2.37c0.24-0.44,0.49-0.88,0.74-1.31
			c0.25-0.44,0.45-0.9,0.67-1.35c0.44-0.91,0.9-1.82,1.27-2.75c0.09-0.26,0.18-0.52,0.27-0.77
			C380.48,118.05,380.39,113.13,380.21,108.48z"
          />
        </g>
        <path
          class="st2"
          d="M104.16,73.73c0.59-0.11,1.34-0.28,2.16-0.49c0.82-0.21,1.75-0.28,2.66-0.44c0.46-0.07,0.92-0.15,1.38-0.2
		c0.45-0.02,0.9-0.03,1.32-0.05c0.85-0.02,1.63-0.05,2.24,0c1.69,0.27,3.35,0.64,4.97,1.12c0.22,0.06,0.44,0.13,0.65,0.19
		c3.75,1.14,7.69,1.97,11.19,3.99c1.35,0.89,2.39,1.65,3.29,2.44c0.85,0.85,1.61,1.65,2.49,2.5l4.96-5.28
		c-1.81-1.51-3.57-3.03-5.64-4.3c-0.61-0.39-1.19-0.83-1.83-1.17L132.08,71c-0.64-0.33-1.26-0.72-1.92-1l-1.98-0.88
		c-0.54-0.24-1.07-0.51-1.6-0.78l-1.64-0.68c-1.1-0.44-2.2-0.95-3.38-1.13c-0.99-0.17-2.35-0.42-3.57-0.53
		c-0.87-0.08-1.73-0.14-2.57-0.19c-0.42-0.02-0.85-0.05-1.27-0.06l-1.28,0.04c-0.85,0.03-1.71,0.05-2.58,0.05
		c-0.87,0.03-1.75,0.12-2.66,0.14c-1.63-0.01-3.15,0.25-4.63,0.49c-1.49,0.18-2.87,0.67-4.26,1.04l2.09,6.94
		c0.49-0.1,1.01-0.21,1.55-0.35c0.27-0.07,0.55-0.14,0.84-0.22C103.53,73.84,103.83,73.79,104.16,73.73"
        />
        <path
          class="st2"
          d="M76.81,97.91c0.08-0.29,0.17-0.62,0.27-0.98c0.11-0.36,0.26-0.73,0.4-1.13c0.29-0.79,0.56-1.68,0.9-2.55
		c0.79-1.67,1.53-3.41,2.32-4.35c0.52-0.68,1.03-1.36,1.62-1.97c0.62-0.59,1.23-1.18,1.8-1.8c0.16-0.16,0.32-0.33,0.47-0.49
		c2.9-2.66,5.59-5.64,9.08-7.67c1.44-0.72,2.58-1.34,3.76-1.63c0.57-0.17,1.13-0.33,1.68-0.49c0.28-0.08,0.55-0.17,0.84-0.23
		c0.29-0.06,0.58-0.11,0.89-0.17l-2.09-6.94c-1.15,0.28-2.22,0.77-3.31,1.21c-0.55,0.22-1.09,0.45-1.64,0.67
		c-0.54,0.25-1.07,0.54-1.61,0.82l-1.93,1.01c-0.65,0.32-1.23,0.77-1.84,1.15l-1.83,1.17c-0.62,0.38-1.16,0.86-1.75,1.28
		c-0.47,0.35-0.96,0.69-1.46,1.02l-0.74,0.49l-0.69,0.55c-0.93,0.74-1.85,1.5-2.68,2.34c-0.65,0.77-1.47,1.89-2.2,2.85
		c-0.57,0.65-1.01,1.4-1.46,2.12c-0.44,0.73-0.88,1.45-1.33,2.18c-0.42,0.74-0.77,1.53-1.19,2.29c-0.21,0.38-0.42,0.77-0.63,1.16
		l-0.34,0.58l-0.3,0.61c-1.49,2.88-2.47,5.67-3.09,8.48l7.06,1.65C76.01,100.17,76.46,99.17,76.81,97.91"
        />
        <g>
          <polygon class="st4" points="87,172.35 87,172.35 87.07,172.48 		" />
          <path
            class="st4"
            d="M175.88,366.49l-3.53,0.4c-0.31-2.55-0.61-5.15-0.78-8.05c-0.21-3.27-0.95-6.1-1.4-9.18
			c-0.2-1.07-0.44-2.28-0.57-3.16c-0.3-2.08-0.17-4.23-0.38-6.34c-0.27-2.58-0.66-5.15-1.04-7.71c-0.32-2.14-0.63-4.2-0.94-6.28
			l3.52-0.47c0,0,0,0,0,0l-3.52,0.47c-0.36-2.54-0.71-5.14-0.93-8.04c-0.26-3.27-1.05-6.09-1.56-9.16
			c-0.21-1.07-0.48-2.27-0.62-3.15c-0.34-2.08-0.23-4.23-0.48-6.33c-0.31-2.57-0.76-5.13-1.17-7.7c-0.35-2.14-0.69-4.19-1.03-6.27
			l3.51-0.53c0,0,0,0,0,0l-3.51,0.53c-0.41-2.54-0.79-5.13-1.06-8.02c-0.3-3.27-1.14-6.08-1.69-9.13c-0.23-1.06-0.51-2.26-0.67-3.14
			c-0.37-2.07-0.29-4.23-0.57-6.33c-0.33-2.57-0.83-5.12-1.28-7.68c-0.38-2.14-0.75-4.18-1.12-6.26l3.51-0.58c0,0,0,0,0,0
			l-3.51,0.58c-0.43-2.53-0.85-5.12-1.17-8.01c-0.35-3.26-1.23-6.06-1.82-9.11c-0.24-1.05-0.51-2.25-0.71-3.11
			c-0.4-1.99-0.41-4.08-0.82-6.11c-0.51-2.48-1.2-4.93-1.95-7.35c-0.61-2.03-1.28-3.95-1.96-5.88l3.36-1.14c0,0,0,0,0,0l-3.36,1.14
			c-0.84-2.35-1.68-4.74-2.63-7.4c-1.06-2.99-2.62-5.36-4.13-7.84c-0.58-0.83-1.23-1.78-1.71-2.43c-0.56-0.77-1.01-1.62-1.56-2.43
			l-0.78-1.24c-0.28-0.4-0.59-0.78-0.9-1.15c-1.52-1.85-3.38-3.38-5.28-4.81c-0.82-0.56-1.59-1.16-2.44-1.63
			c-0.82-0.5-1.64-1-2.51-1.42l0,0c-2.07-1.11-4.27-2.05-6.77-2.98c-2.84-1.05-5.57-1.14-8.39-1.27c-0.99,0.03-2.11,0.06-2.92,0.1
			c-0.95,0.07-1.92-0.04-2.88-0.02l-1.46-0.01c-0.48,0.02-0.97,0.07-1.45,0.13c-1.19,0.12-2.34,0.45-3.49,0.72
			c-1.13,0.37-2.28,0.69-3.37,1.16c-1.86,0.7-3.53,1.6-5.21,2.54l0,0c-2,1.22-3.99,2.52-6.08,4.16c-2.37,1.87-3.83,4.17-5.41,6.5
			c-0.48,0.87-1.08,1.81-1.43,2.55c-0.44,0.85-1.04,1.61-1.52,2.46c-0.51,0.83-1.07,1.65-1.43,2.56l-0.7,1.66l-0.61,1.83l-1.17,3.68
			c-0.65,2.05-1.27,4.01-1.9,6l-1.17-0.37l1.17,0.37c-0.75,2.44-1.47,4.94-2.47,7.65c-1.1,3.07-1.59,5.93-2.29,8.95
			c-0.22,1.06-0.45,2.26-0.66,3.13c-0.5,2.03-1.44,3.96-2.04,5.98c-0.76,2.47-1.27,5.01-1.86,7.53c-0.48,2.11-0.94,4.13-1.41,6.17h0
			c-0.6,2.49-1.21,5.03-2,7.82c-0.91,3.14-1.16,6.06-1.78,9.09c-0.18,1.07-0.35,2.29-0.52,3.16c-0.39,2.06-1.23,4.04-1.73,6.1
			c-0.6,2.52-1.08,5.07-1.58,7.61c-0.39,2.13-0.76,4.17-1.14,6.24l0,0c-0.48,2.52-1.01,5.08-1.74,7.89c-0.8,3.18-0.94,6.1-1.45,9.17
			c-0.14,1.08-0.28,2.3-0.43,3.18c-0.35,2.07-1.13,4.08-1.56,6.15c-0.53,2.54-0.92,5.1-1.35,7.66c-0.34,2.14-0.66,4.19-0.99,6.27
			l0,0c-0.41,2.54-0.87,5.11-1.53,7.94c-0.73,3.2-0.8,6.13-1.24,9.2c-0.11,1.08-0.23,2.31-0.35,3.19c-0.29,2.08-1.03,4.11-1.42,6.19
			c-0.48,2.55-0.81,5.12-1.17,7.69c-0.29,2.15-0.57,4.2-0.85,6.29c-0.09,0.61-0.18,1.22-0.27,1.84c-0.11,0.73-0.15,1.45-0.12,2.21
			c0.03,0.87-0.03,2.2-0.7,2.84c-0.42,0.4-1.78,1.48-2.44,1.63h145.49C176.88,375.57,176.56,372.41,175.88,366.49z"
          />
          <path
            class="st4"
            d="M30.09,375.57h0.32c-0.11-0.02-0.21-0.04-0.31-0.07C30.09,375.54,30.09,375.57,30.09,375.57z"
          />
          <path
            class="st2"
            d="M34.53,371.1c-0.02-0.76,0.01-1.48,0.12-2.21c0.09-0.62,0.18-1.23,0.27-1.84c0.28-2.09,0.56-4.14,0.85-6.29
			c0.36-2.57,0.69-5.14,1.17-7.69c0.39-2.08,1.13-4.1,1.42-6.19c0.12-0.88,0.23-2.11,0.35-3.19c0.44-3.07,0.51-6,1.24-9.2
			c0.66-2.83,1.12-5.4,1.53-7.94l0,0c0.33-2.08,0.65-4.13,0.99-6.27c0.42-2.56,0.82-5.13,1.35-7.66c0.43-2.07,1.21-4.08,1.56-6.15
			c0.15-0.88,0.29-2.1,0.43-3.18c0.51-3.06,0.65-5.99,1.45-9.17c0.73-2.81,1.27-5.37,1.74-7.89l0,0c0.38-2.07,0.75-4.11,1.14-6.24
			c0.49-2.54,0.97-5.09,1.58-7.61c0.5-2.06,1.34-4.03,1.73-6.1c0.16-0.87,0.33-2.09,0.52-3.16c0.62-3.04,0.87-5.95,1.78-9.09
			c0.8-2.79,1.4-5.33,2-7.82h0c0.47-2.05,0.93-4.07,1.41-6.17c0.59-2.52,1.1-5.06,1.86-7.53c0.6-2.02,1.55-3.95,2.04-5.98
			c0.21-0.86,0.44-2.06,0.66-3.13c0.7-3.02,1.2-5.87,2.29-8.95c0.99-2.71,1.72-5.21,2.47-7.65l-1.17-0.37l1.17,0.37
			c0.63-1.99,1.26-3.95,1.9-6l1.17-3.68l0.61-1.83l0.7-1.66c0.36-0.91,0.92-1.73,1.43-2.56c0.48-0.84,1.08-1.61,1.52-2.46
			c0.35-0.73,0.95-1.68,1.43-2.55c1.58-2.33,3.04-4.63,5.41-6.5c2.09-1.64,4.08-2.94,6.08-4.16l0,0c1.67-0.94,3.35-1.85,5.21-2.54
			c1.09-0.47,2.24-0.79,3.37-1.16c1.16-0.27,2.31-0.6,3.49-0.72c0.48-0.06,0.97-0.11,1.45-0.13l1.46,0.01
			c0.97-0.02,1.93,0.09,2.88,0.02c0.81-0.04,1.93-0.07,2.92-0.1c2.82,0.13,5.55,0.22,8.39,1.27c2.5,0.93,4.7,1.87,6.77,2.98l0,0
			c0.87,0.42,1.69,0.92,2.51,1.42c0.85,0.47,1.61,1.07,2.44,1.63c1.9,1.43,3.76,2.96,5.28,4.81c0.31,0.37,0.63,0.75,0.9,1.15
			l0.78,1.24c0.54,0.81,1,1.66,1.56,2.43c0.47,0.65,1.13,1.59,1.71,2.43c1.51,2.48,3.06,4.85,4.13,7.84
			c0.94,2.66,1.79,5.05,2.63,7.4l3.36-1.14l3.5-1.19c-0.27-1.08-0.67-2.22-1.17-3.58c-0.5-1.25-1.36-3.1-2.3-4.93
			c-0.93-1.83-1.92-3.64-2.51-4.86c-0.81-1.71-1.49-3.51-2.47-5.19c-0.13-0.23-0.24-0.47-0.38-0.69c-2.36-4.03-5.96-7.05-9.51-9.9
			c-2.89-2.28-4.59-3.75-7.04-5.25l0,0c-0.51-0.3-1.02-0.64-1.61-0.93c-0.59-0.29-1.23-0.58-1.94-0.89
			c-1.31-0.54-3.39-1.17-5.49-1.62c-2.1-0.46-4.22-0.74-5.6-0.98c-1.92-0.34-3.85-0.78-5.81-0.87c-0.26-0.02-0.53-0.06-0.79-0.07
			c-4.66-0.23-9.2,1.18-13.5,2.65c-1.74,0.63-3.15,1.08-4.43,1.58c-1.31,0.45-2.48,0.97-3.78,1.58l1.83,3.21l0.08,0.13L87,172.35
			l-1.83-3.21c-0.54,0.24-1.06,0.57-1.63,0.9c-0.57,0.35-1.18,0.69-1.79,1.17c-0.57,0.43-1.29,0.97-2.02,1.63
			c-0.72,0.69-1.53,1.4-2.26,2.19c-0.72,0.81-1.48,1.56-2.1,2.33c-0.62,0.76-1.21,1.42-1.67,1.95c-0.62,0.75-1.29,1.47-1.95,2.2
			c-0.62,0.76-1.23,1.53-1.8,2.33c-0.17,0.21-0.3,0.44-0.45,0.65c-1.29,1.92-2.26,4.03-3,6.21c-0.78,2.22-1.21,4.27-1.88,6.32
			c-1.05,3.29-2.01,5.16-3.02,7.63l0,0c-0.43,1.01-0.77,2.14-1.16,3.5c-0.71,2.52-1.72,7.8-2.53,10.29
			c-0.54,1.73-1.28,3.41-1.81,5.14c-0.08,0.23-0.16,0.47-0.24,0.69c-1.34,4.05-1.86,8.33-2.77,12.49c-0.77,3.34-1.57,5.27-2.36,7.8
			l0,0c-0.32,1.04-0.65,2.17-0.96,3.54c-0.54,2.55-1.2,7.87-1.85,10.39c-0.45,1.76-1.15,3.46-1.59,5.21
			c-0.07,0.23-0.13,0.47-0.2,0.7c-1.15,4.1-1.36,8.4-2.18,12.57c-0.65,3.36-1.34,5.33-2.03,7.87l0,0c-0.28,1.05-0.55,2.19-0.81,3.57
			c-0.49,2.56-0.97,7.89-1.51,10.43c-0.39,1.77-1.01,3.49-1.4,5.25c-0.06,0.24-0.12,0.48-0.18,0.71c-1.07,4.12-1.11,8.43-1.81,12.62
			c-0.56,3.38-1.23,5.35-1.84,7.92h0c-0.25,1.05-0.49,2.2-0.71,3.59c-0.42,2.57-0.77,7.91-1.26,10.46
			c-0.34,1.78-0.93,3.51-1.28,5.28c-0.06,0.24-0.11,0.48-0.17,0.71c-0.93,4.15-0.94,8.45-1.52,12.66c-0.47,3.39-1.1,5.38-1.65,7.96
			l1.61,0.24l-1.61-0.24c-0.11,0.53-0.23,1.08-0.33,1.68c-0.11,0.6-0.37,1.44-0.46,2.14c-0.15,1.17,0.01,3.67,1.07,4.48
			c0.76,0.58,1.35,1.02,2.07,1.22c0.1,0.03,0.21,0.05,0.31,0.07c0.27,0.04,0.56,0.05,0.89,0.02c0.03,0,0.06-0.02,0.09-0.02
			c0.65-0.14,2.01-1.23,2.44-1.63C34.5,373.3,34.56,371.98,34.53,371.1z"
          />
          <path
            class="st2"
            d="M148.58,211.3c0.75,2.42,1.45,4.87,1.95,7.35c0.41,2.03,0.43,4.13,0.82,6.11c0.2,0.86,0.47,2.06,0.71,3.11
			c0.58,3.05,1.46,5.85,1.82,9.11c0.32,2.89,0.73,5.47,1.17,8.01l3.51-0.58l3.64-0.6c-0.11-1.08-0.25-2.24-0.5-3.63
			c-0.47-2.56-1.88-7.71-2.24-10.28c-0.25-1.79-0.27-3.62-0.5-5.41c-0.03-0.25-0.05-0.5-0.08-0.73c-0.5-4.38-2.15-8.47-3.36-12.62
			c-1.01-3.35-1.32-5.45-2.03-8.06l-3.5,1.19l-3.36,1.14C147.31,207.35,147.97,209.27,148.58,211.3z"
          />
          <path
            class="st2"
            d="M156.17,251.24c0.45,2.56,0.95,5.11,1.28,7.68c0.27,2.1,0.19,4.25,0.57,6.33c0.16,0.88,0.44,2.07,0.67,3.14
			c0.55,3.06,1.4,5.86,1.69,9.13c0.27,2.89,0.64,5.48,1.06,8.02l3.51-0.53l3.65-0.55c-0.09-1.08-0.23-2.24-0.46-3.63
			c-0.43-2.57-1.75-7.74-2.09-10.32c-0.23-1.79-0.23-3.62-0.45-5.41c-0.02-0.24-0.04-0.49-0.06-0.72c-0.39-4.23-1.72-8.32-2.48-12.5
			c-0.6-3.37-0.62-5.45-0.87-8.07l-3.64,0.6l-3.51,0.58C155.42,247.06,155.79,249.11,156.17,251.24z"
          />
          <path
            class="st2"
            d="M162.47,291.81c0.41,2.56,0.86,5.12,1.17,7.7c0.25,2.1,0.13,4.26,0.48,6.33c0.14,0.88,0.41,2.08,0.62,3.15
			c0.51,3.06,1.3,5.89,1.56,9.16c0.22,2.9,0.57,5.49,0.93,8.04l3.52-0.47l3.66-0.49c-0.07-1.08-0.18-2.25-0.4-3.64
			c-0.39-2.57-1.65-7.77-1.94-10.35c-0.21-1.8-0.17-3.63-0.37-5.42c-0.02-0.24-0.03-0.49-0.05-0.73c-0.32-4.24-1.61-8.34-2.3-12.53
			c-0.55-3.38-0.53-5.46-0.76-8.09l-3.65,0.55l-3.51,0.53C161.78,287.62,162.12,289.67,162.47,291.81z"
          />
          <path
            class="st2"
            d="M168.18,332.46c0.38,2.57,0.77,5.14,1.04,7.71c0.22,2.11,0.08,4.26,0.38,6.34c0.13,0.88,0.37,2.09,0.57,3.16
			c0.46,3.07,1.2,5.9,1.4,9.18c0.17,2.9,0.46,5.5,0.78,8.05l3.53-0.4l3.67-0.42c-0.05-1.08-0.14-2.25-0.33-3.65
			c-0.33-2.58-1.51-7.8-1.75-10.39c-0.17-1.8-0.11-3.63-0.27-5.43c-0.01-0.24-0.03-0.49-0.04-0.73c-0.25-4.24-1.49-8.37-2.1-12.57
			c-0.51-3.38-0.46-5.47-0.64-8.1l-3.66,0.49l-3.52,0.47C167.55,328.27,167.86,330.32,168.18,332.46z"
          />
        </g>
        <path
          class="st2"
          d="M179.61,373.6c0.13-0.24,0.25-0.5,0.34-0.76c0.32-0.85,0.02-1.82-0.15-2.67c-0.07-0.34-0.13-0.69-0.14-1.04
		c-0.03-1.01-0.05-1.99-0.1-3.06l-7.2,0.82l0.22,1.73c0.1,0.74,0.03,1.67,0.13,2.41c0.16,1.19,0.15,2.02,1.06,3.07
		c1.02,1.17,2.89,1.8,4.28,1.1C178.74,374.85,179.25,374.27,179.61,373.6"
        />
        <g>
          <polygon class="st3" points="153.31,119.3 150.69,118.69 150.69,118.69 		" />
          <polygon class="st3" points="139.2,79.91 139.2,79.91 138.81,79.56 138.81,79.56 		" />
          <path
            class="st4"
            d="M125.45,143.66c1.11-0.43,2.37-0.79,3.74-1.65c3.51-2,6.21-4.98,9.09-7.66c0.16-0.16,0.32-0.32,0.48-0.48
			c0.29-0.3,0.59-0.6,0.9-0.89l0.88-0.92c0.29-0.31,0.6-0.61,0.87-0.94c0.27-0.33,0.53-0.67,0.78-1.01
			c0.74-0.98,1.58-2.66,2.29-4.37c0.35-0.86,0.65-1.74,0.93-2.53c0.24-0.81,0.48-1.53,0.67-2.11c0.39-1.25,0.71-2.29,1.01-3.25
			l3.6,0.84c0,0,0,0,0,0l-3.6-0.84c0.68-2.34,1.34-4.24,1.39-7.47c0.02-2.01-0.31-4-0.7-5.94c-0.44-1.94-0.93-3.84-1.4-5.76
			c-0.05-0.22-0.09-0.44-0.16-0.66c-0.46-1.61-0.83-3.29-1.54-4.84c-0.51-1.11-1.5-2.7-2.65-4.17c-1.14-1.47-2.4-2.82-3.23-3.7
			c-0.13-0.14-0.25-0.27-0.37-0.4c-1.35,1.18-2.79,2.3-4.39,3.36c-3.24,2.1-5.93,4.2-9.1,5.95c-1.09,0.65-2.33,1.36-3.25,1.83
			c-2.19,1.09-4.6,1.69-6.87,2.54c-2.8,1.04-5.55,2.1-8.37,3.06c-2.35,0.81-4.62,1.53-6.96,2.18l-0.39-1.47l0.39,1.47
			c-2.85,0.79-5.81,1.45-9.15,1.86c-3.77,0.44-7.09,1.24-10.79,1.41c-1.29,0.1-2.77,0.16-3.85,0.14c-0.41-0.01-0.82-0.05-1.23-0.09
			c-0.04,0.47-0.07,0.97-0.05,1.51c-0.02,4.03,1.13,7.9,2.09,11.7c0.04,0.22,0.09,0.44,0.13,0.67c0.26,0.8,0.49,1.61,0.71,2.43
			c0.12,0.41,0.21,0.83,0.36,1.23c0.16,0.39,0.33,0.78,0.51,1.17c0.26,0.55,0.62,1.24,1.04,1.97c0.5,0.69,1.05,1.44,1.59,2.19
			c0.51,0.77,1.19,1.42,1.74,2.06c0.58,0.62,1.03,1.23,1.47,1.65c0.93,0.93,1.65,1.74,2.3,2.52l-2.53,2.7c0,0,0,0,0,0l2.53-2.7
			c0.84,0.9,1.6,1.71,2.48,2.51c0.89,0.79,1.89,1.64,3.31,2.41c3.48,2.05,7.41,2.93,11.17,4.04c0.21,0.08,0.43,0.12,0.65,0.18
			c0.82,0.17,1.63,0.41,2.46,0.65c0.83,0.17,1.67,0.32,2.52,0.43c0.61,0.1,1.38,0.06,2.23,0.03c0.42-0.02,0.87-0.04,1.33-0.06
			c0.45-0.02,0.91-0.12,1.38-0.18c1.85-0.21,3.64-0.71,4.83-0.92c1.27-0.31,2.33-0.55,3.32-0.73l1.07,3.54c0,0,0,0,0,0l-1.07-3.54
			C123.21,144.22,124.32,144.04,125.45,143.66z"
          />
          <path
            class="st4"
            d="M62.28,94.33c0.45,0.9,1.15,1.8,2.36,2.64c1.53,1.02,3.45,1.6,5.46,1.96c2.02,0.35,4.13,0.49,6.28,0.72
			c0.24,0.02,0.49,0.05,0.74,0.07c1.85,0.1,3.75,0.33,5.67,0.21c2.76-0.09,8.29-1.58,10.99-2.27c1.47-0.36,2.7-0.62,3.84-0.86l0,0
			c2.78-0.58,5.02-0.9,8.53-2.15c4.37-1.57,8.38-3.88,12.57-5.61c0.23-0.1,0.48-0.2,0.72-0.3c1.75-0.8,3.6-1.44,5.28-2.38
			c1.22-0.66,2.95-1.87,4.57-3.18c1.63-1.3,3.12-2.71,4.1-3.6c1.04-0.98,1.93-1.77,2.7-2.52l2.73,2.5c0,0,0,0,0,0l-2.73-2.5
			c0.95-0.91,1.78-1.73,2.56-2.7c0.78-0.96,1.55-2.07,2.15-3.55c0.36-0.92,0.6-1.86,0.74-2.8c0.11-0.94,0.12-1.86,0.04-2.76
			c-0.11-0.9-0.28-1.77-0.53-2.63c-0.27-0.8-0.52-1.58-0.93-2.36c-0.09-0.17-0.15-0.37-0.26-0.54c-0.76-1.28-1.7-2.67-3.03-3.76
			c-0.94-0.79-2.63-1.74-4.47-2.43c-1.83-0.71-3.78-1.18-5.05-1.51c-0.69-0.18-1.32-0.35-1.92-0.49c-0.6-0.16-1.15-0.3-1.7-0.42
			l0.65-3.64c0,0,0,0,0,0l-0.65,3.64c-2.62-0.62-4.75-1.18-8.34-1.16c-4.48,0.08-8.81,1.29-13.14,2.09
			c-0.24,0.04-0.5,0.09-0.75,0.14c-1.83,0.42-3.73,0.7-5.52,1.34c-2.51,0.82-7.64,3.86-10.15,5.14c-1.37,0.69-2.52,1.23-3.59,1.72
			c-2.59,1.19-4.71,1.98-7.75,4c-3.76,2.54-6.76,5.82-9.48,8.85c-0.15,0.17-0.3,0.36-0.46,0.53c-1.07,1.35-2.19,2.7-2.89,4.28
			c-0.51,1.12-0.95,2.96-1.03,4.84c-0.1,1.87,0.11,3.76,0.28,5.01c0.09,0.68,0.17,1.31,0.25,1.89c0.11,0.59,0.19,1.14,0.27,1.68
			l-3.6,0.85c0,0,0,0,0,0l3.6-0.85C61.58,92.52,61.83,93.42,62.28,94.33z"
          />
          <path
            class="st2"
            d="M118.72,145.3c-1.19,0.2-2.98,0.71-4.83,0.92c-0.46,0.06-0.92,0.16-1.38,0.18c-0.46,0.02-0.9,0.04-1.33,0.06
			c-0.85,0.03-1.63,0.08-2.23-0.03c-0.85-0.11-1.69-0.26-2.52-0.43c-0.82-0.24-1.64-0.47-2.46-0.65c-0.22-0.06-0.45-0.1-0.65-0.18
			c-3.76-1.11-7.69-1.99-11.17-4.04c-1.42-0.78-2.41-1.62-3.31-2.41c-0.89-0.81-1.64-1.61-2.48-2.51l-2.53,2.7l-2.43,2.59
			c1.73,1.59,3.58,3.01,5.61,4.34c1.2,0.81,2.51,1.45,3.76,2.18c1.27,0.69,2.61,1.24,3.9,1.9c1.09,0.44,2.17,0.95,3.25,1.45
			c1.1,0.46,2.23,0.82,3.38,1.11c0.97,0.24,2.36,0.34,3.57,0.5c3.47,0.39,6.72,0.2,10.36,0.03c1.63,0.01,3.15-0.28,4.63-0.48
			c1.47-0.26,2.88-0.66,4.26-1.03l-1.02-3.4l-1.07-3.54C121.05,144.75,119.99,144.99,118.72,145.3z"
          />
          <path
            class="st2"
            d="M154.79,103.8c-0.26-2.34-0.32-4.76-1.07-7.03c-0.3-0.96-0.83-2.24-1.34-3.35c-1.35-3.23-3.22-5.91-5.14-9
			c-1.17-1.86-2.45-3.47-3.81-4.92c0.93-1.25,1.8-2.58,2.56-4.05c1.55-2.94,2.56-6.37,2.61-9.93c0.02-1.44,0-2.92-0.25-4.35
			c-0.08-0.72-0.33-1.47-0.52-2.2c-0.28-0.7-0.53-1.43-0.92-2.07c-0.6-1.13-1.68-2.48-2.7-3.54c-1.43-1.55-3.04-2.71-4.7-3.73
			c-1.66-1.02-3.39-1.86-5.2-2.74c-3.22-1.57-6.32-2.38-9.36-2.91l-0.63,3.5l-0.65,3.64c0.54,0.12,1.1,0.26,1.7,0.42
			c0.6,0.14,1.23,0.31,1.92,0.49c1.27,0.33,3.22,0.8,5.05,1.51c1.84,0.69,3.54,1.63,4.47,2.43c1.34,1.09,2.27,2.48,3.03,3.76
			c0.11,0.17,0.17,0.37,0.26,0.54c0.4,0.78,0.65,1.56,0.93,2.36c0.25,0.86,0.42,1.74,0.53,2.63c0.08,0.9,0.07,1.82-0.04,2.76
			c-0.14,0.93-0.38,1.88-0.74,2.8c-0.6,1.48-1.37,2.59-2.15,3.55c-0.78,0.97-1.61,1.79-2.56,2.7l2.73,2.5l0.39,0.35l0,0l-0.39-0.35
			l-2.73-2.5c-0.77,0.76-1.66,1.54-2.7,2.52c-0.98,0.89-2.47,2.3-4.1,3.6c-1.62,1.31-3.35,2.52-4.57,3.18
			c-1.69,0.94-3.53,1.59-5.28,2.38c-0.24,0.1-0.48,0.2-0.72,0.3c-4.19,1.73-8.2,4.04-12.57,5.61c-3.51,1.25-5.75,1.57-8.53,2.15l0,0
			c-1.14,0.24-2.38,0.49-3.84,0.86c-2.7,0.69-8.23,2.18-10.99,2.27c-1.92,0.13-3.82-0.11-5.67-0.21c-0.25-0.02-0.5-0.05-0.74-0.07
			c-2.15-0.22-4.27-0.37-6.28-0.72c-2-0.36-3.92-0.94-5.46-1.96c-1.21-0.84-1.91-1.74-2.36-2.64c-0.45-0.91-0.69-1.81-0.88-2.86
			l-3.6,0.85l-3.46,0.82c0.72,2.86,2.25,5.68,4.54,7.75c2.67,2.5,5.89,3.82,8.96,4.73c-0.03,0.31-0.06,0.61-0.09,0.93
			c-0.04,1.45-0.02,2.9-0.03,4.34l0.33,4.32c0.17,1.17,0.26,2.35,0.37,3.54c0.12,1.19,0.41,2.34,0.73,3.48
			c0.24,0.97,0.85,2.23,1.35,3.34c1.29,3.26,3.27,5.88,5.11,9.02c0.9,1.34,1.83,2.58,2.75,3.76c1.02,1.1,2.03,2.14,3.04,3.16
			l2.43-2.59l2.53-2.7c-0.65-0.78-1.37-1.6-2.3-2.52c-0.44-0.42-0.89-1.03-1.47-1.65c-0.55-0.64-1.23-1.29-1.74-2.06
			c-0.55-0.75-1.09-1.51-1.59-2.19c-0.43-0.74-0.78-1.42-1.04-1.97c-0.18-0.39-0.35-0.78-0.51-1.17c-0.15-0.4-0.24-0.82-0.36-1.23
			c-0.22-0.82-0.45-1.64-0.71-2.43c-0.04-0.22-0.09-0.45-0.13-0.67c-0.95-3.8-2.11-7.67-2.09-11.7c-0.02-0.54,0.01-1.03,0.05-1.51
			c0.41,0.04,0.82,0.08,1.23,0.09c1.08,0.03,2.56-0.04,3.85-0.14c3.7-0.17,7.02-0.96,10.79-1.41c3.34-0.41,6.3-1.08,9.15-1.86
			l-0.39-1.47l0.39,1.47c2.34-0.64,4.61-1.37,6.96-2.18c2.82-0.96,5.57-2.02,8.37-3.06c2.28-0.85,4.68-1.45,6.87-2.54
			c0.92-0.47,2.16-1.18,3.25-1.83c3.18-1.75,5.86-3.84,9.1-5.95c1.6-1.06,3.05-2.18,4.39-3.36c0.12,0.13,0.24,0.26,0.37,0.4
			c0.83,0.88,2.09,2.23,3.23,3.7c1.15,1.46,2.14,3.05,2.65,4.17c0.71,1.55,1.09,3.23,1.54,4.84c0.06,0.22,0.1,0.45,0.16,0.66
			c0.46,1.92,0.95,3.82,1.4,5.76c0.39,1.94,0.72,3.94,0.7,5.94c-0.05,3.24-0.71,5.13-1.39,7.47l3.6,0.84l2.62,0.61l-2.62-0.61
			l-3.6-0.84c-0.3,0.96-0.62,2-1.01,3.25c-0.18,0.57-0.43,1.3-0.67,2.11c-0.29,0.79-0.58,1.68-0.93,2.53
			c-0.71,1.71-1.56,3.39-2.29,4.37c-0.25,0.34-0.51,0.68-0.78,1.01c-0.27,0.33-0.58,0.63-0.87,0.94l-0.88,0.92
			c-0.31,0.29-0.61,0.59-0.9,0.89c-0.16,0.16-0.33,0.32-0.48,0.48c-2.88,2.67-5.58,5.66-9.09,7.66c-1.37,0.86-2.63,1.23-3.74,1.65
			c-1.13,0.38-2.24,0.56-3.41,0.91l1.07,3.54l1.02,3.4c1.11-0.4,2.21-0.8,3.32-1.2c1.07-0.49,2.15-0.99,3.25-1.5
			c1.28-0.68,2.53-1.41,3.77-2.15l1.8-1.22c0.6-0.41,1.22-0.78,1.78-1.24c0.92-0.73,1.95-1.35,2.89-2.07
			c0.92-0.75,1.84-1.51,2.66-2.36c0.64-0.77,1.53-1.83,2.22-2.84c2.12-2.78,3.52-5.73,5.23-8.95c1.53-2.86,2.47-5.67,3.09-8.48l0,0
			c0.3-1.14,0.43-2.31,0.63-3.47c0.11-1.17,0.28-2.35,0.32-3.56C155.25,109.57,155.12,106.67,154.79,103.8z"
          />
          <path
            class="st2"
            d="M61.13,89.79c-0.08-0.59-0.16-1.21-0.25-1.89c-0.17-1.25-0.38-3.14-0.28-5.01c0.08-1.87,0.52-3.71,1.03-4.84
			c0.69-1.58,1.81-2.93,2.89-4.28c0.15-0.18,0.31-0.36,0.46-0.53c2.72-3.03,5.73-6.31,9.48-8.85c3.04-2.02,5.16-2.81,7.75-4
			c1.07-0.49,2.22-1.03,3.59-1.72c2.51-1.28,7.64-4.32,10.15-5.14c1.79-0.64,3.69-0.92,5.52-1.34c0.25-0.04,0.5-0.09,0.75-0.14
			c4.33-0.81,8.66-2.01,13.14-2.09c3.59-0.01,5.72,0.55,8.34,1.16l0.65-3.64l0.62-3.49c-2.5-0.42-4.97-0.63-7.55-0.7
			c-3.08-0.08-6.15,0.13-9.2,0.41c-2.49,0.23-5.03,0.28-7.46,0.91c-0.51,0.14-1.12,0.32-1.75,0.51c-0.62,0.22-1.27,0.45-1.88,0.66
			c-0.88,0.28-1.72,0.62-2.56,0.95c-0.83,0.36-1.65,0.72-2.47,1.09c-0.81,0.38-1.63,0.77-2.46,1.16c-0.8,0.38-1.62,0.74-2.48,1.09
			c-3.04,1.23-5.73,2.52-8.33,3.92l1.65,3.14l-1.66-3.14c-2.13,1.15-4.2,2.35-6.33,3.71c-2.55,1.61-5.03,3.41-7.46,5.35
			c-1.98,1.58-4.14,3.11-5.78,5.22c-0.35,0.44-0.72,1.01-1.11,1.59c-0.37,0.61-0.75,1.24-1.09,1.85c-2,3.48-2.87,7.26-3.41,11.39
			c-0.45,3.69-0.04,7.01,0.69,10.06l3.46-0.82l3.6-0.85C61.32,90.93,61.24,90.38,61.13,89.79z"
          />
        </g>
        <path
          class="st2"
          d="M327.74,120.14c0.2-0.19,0.44-0.54,0.56-0.95c0.12-0.44,0.12-0.92-0.12-1.3c-0.51-0.84-0.89-1.33-1.76-1.88
		c-0.39-0.23-1.42-0.55-1.7-0.65c-0.42-0.14-0.65,0.17-0.75,0.43c-0.09,0.22-0.22,0.41-0.41,0.54l-0.45,0.35l3.16,4.42
		c0.21-0.12,0.42-0.26,0.64-0.41C327.13,120.53,327.51,120.37,327.74,120.14"
        />
        <g>
          <path
            d="M324.39,107.24c1.42-1.33,1.5-3.57,0.16-5s-3.57-1.5-5-0.16s-1.5,3.57-0.16,5C320.73,108.51,322.97,108.58,324.39,107.24z
			"
          />
          <path
            d="M313.33,107.03c1.3-1.45,1.19-3.69-0.27-4.99c-1.45-1.31-3.69-1.19-4.99,0.26c-1.31,1.45-1.19,3.69,0.26,4.99
			C309.79,108.6,312.03,108.48,313.33,107.03z"
          />
          <path
            class="st2"
            d="M323.11,116.67c-0.53,0.38-1.06,0.78-1.67,1.1c-0.71,0.41-1.47,0.77-2.26,0.95c-0.32,0.1-0.66,0.07-0.98,0.06
			c-0.33,0-0.64,0-0.93,0.03c-0.24,0.02-0.6,0.18-0.89,0.2c-0.42,0.01-0.85,0.12-1.25,0.08c-0.2-0.01-0.42,0.02-0.62-0.05
			c-0.19-0.06-0.39-0.14-0.57-0.23c-0.34-0.16-0.58-0.43-0.88-0.57c-0.27-0.2-0.49-0.43-0.76-0.61l-3.74,3.94
			c0.38,0.39,0.82,0.8,1.4,1.21c0.29,0.16,0.67,0.34,1.1,0.52c0.21,0.09,0.43,0.19,0.66,0.26c0.24,0.06,0.48,0.11,0.72,0.17
			c0.96,0.28,1.9,0.28,2.51,0.41c0.41,0.07,0.83,0.14,1.26,0.2l0.64,0.1c0.21,0.01,0.42,0.01,0.62,0c0.11,0,0.23,0,0.34,0
			c2-0.03,3.68-1.08,5.28-1.88c1.29-0.68,2.17-0.93,3.19-1.49L323.11,116.67z"
          />
        </g>
        <path
          class="st2"
          d="M306.88,118.43c-0.05,0.15-0.09,0.29-0.11,0.44c-0.06,0.48,0.27,0.82,0.58,1.1c0.13,0.12,0.25,0.23,0.34,0.38
		c0.28,0.41,0.51,0.83,0.86,1.23l3.74-3.94c-0.12-0.08-0.21-0.22-0.31-0.33c-0.13-0.15-0.19-0.41-0.33-0.54
		c-0.21-0.25-0.23-0.5-0.93-0.48c-0.77,0.02-2.14,0.33-3.01,1.01C307.28,117.63,307.02,118.02,306.88,118.43"
        />
        <path
          class="st2"
          d="M124.25,120.97c-0.13-0.11-0.39-0.21-0.72-0.23c-0.3-0.03-0.68,0.02-1.08,0.22c-0.86,0.45-1.47,0.68-2.18,1.41
		c-0.32,0.31-0.66,1.4-0.7,1.77c-0.09,0.57,0.45,0.91,0.81,1.09c0.32,0.16,0.6,0.33,0.86,0.52c0.22,0.17,0.44,0.33,0.66,0.49
		l3.16-4.42c-0.11-0.12-0.24-0.24-0.38-0.36C124.54,121.34,124.4,121.11,124.25,120.97"
        />
        <g>
          <path
            d="M128.71,111.92c1.34-1.42,1.26-3.66-0.16-5s-3.66-1.26-5,0.16c-1.34,1.42-1.26,3.66,0.16,5
			C125.14,113.42,127.37,113.34,128.71,111.92z"
          />
          <path
            d="M141.71,107.14c-1.31-1.45-3.54-1.57-4.99-0.27c-1.45,1.31-1.57,3.54-0.26,4.99c1.31,1.45,3.54,1.57,4.99,0.26
			C142.9,110.82,143.01,108.59,141.71,107.14z"
          />
          <path
            class="st2"
            d="M135.01,123.29c-0.14,0.07-0.29,0.19-0.46,0.33c-0.09,0.07-0.17,0.16-0.27,0.22
			c-0.11,0.06-0.22,0.12-0.33,0.18c-0.42,0.3-0.96,0.42-1.31,0.47c-0.25,0.02-0.52-0.07-0.76-0.12l-0.37-0.08
			c-0.13-0.04-0.26-0.08-0.38-0.1c-0.07-0.02-0.14-0.04-0.2-0.06c-1.15-0.33-2.55-0.2-3.82-0.74c-1-0.45-1.45-1-2.04-1.57
			l-3.17,4.42c0.77,0.51,1.55,0.97,2.4,1.36c1.01,0.5,2.07,0.87,3.14,1.25c0.43,0.18,0.88,0.35,1.32,0.53
			c0.45,0.18,0.9,0.35,1.4,0.37c0.42,0.01,0.98,0.06,1.5-0.02c0.74-0.04,1.44-0.12,2.16-0.34c0.36-0.1,0.72-0.16,1.08-0.28
			c0.36-0.13,0.73-0.24,1.13-0.34c0.7-0.16,1.31-0.54,1.91-0.84c0.57-0.35,1.05-0.79,1.55-1.21l-3.74-3.94
			C135.49,122.91,135.26,123.07,135.01,123.29z"
          />
        </g>
        <path
          class="st2"
          d="M137.42,121.5c-0.14,0-0.27,0.01-0.38,0.02c-0.39,0.03-0.37,0.37-0.48,0.58c-0.04,0.08-0.09,0.17-0.17,0.22
		c-0.23,0.15-0.42,0.33-0.65,0.47l3.74,3.94c0.23-0.19,0.38-0.42,0.57-0.64c0.23-0.28,0.62-0.54,0.84-0.84
		c0.32-0.47,0.57-0.79,0.33-1.54c-0.28-0.85-1.34-1.68-2.42-2C138.25,121.56,137.79,121.5,137.42,121.5"
        />
        <g>
          <polygon class="st3" points="408.41,285.55 408.41,285.55 409.19,285.39 		" />
          <polygon class="st3" points="283.16,325.71 283.16,325.71 279.71,325.24 		" />
          <path
            class="st4"
            d="M421.49,374.9c-1.24-0.47-2.11-2.81-2.29-3.96c-0.11-0.69-0.11-1.57-0.18-2.17c-0.07-0.6-0.13-1.16-0.17-1.69
			l3.66-0.55c0,0,0,0,0,0l-3.66,0.55c-0.21-2.61-0.22-4.69-0.79-8.05c-0.71-4.17-2.06-8.24-2.46-12.46
			c-0.02-0.24-0.05-0.48-0.07-0.72c-0.23-1.78-0.24-3.6-0.48-5.39c-0.34-2.57-1.76-7.71-2.24-10.25c-0.26-1.38-0.41-2.54-0.53-3.61
			l3.65-0.63c0,0,0,0,0,0l-3.65,0.63c-0.28-2.61-0.31-4.69-0.97-8.04c-0.83-4.15-2.22-8.2-2.74-12.4c-0.03-0.23-0.06-0.48-0.09-0.72
			c-0.27-1.77-0.32-3.6-0.61-5.38c-0.4-2.56-1.93-7.66-2.49-10.19c-0.29-1.37-0.48-2.52-0.62-3.59l3.65-0.73h0l-3.64,0.73
			c-0.35-2.6-0.42-4.68-1.17-8.01c-0.94-4.12-2.49-8.12-3.1-12.3c-0.03-0.23-0.07-0.48-0.1-0.72c-0.32-1.77-0.45-3.58-0.79-5.35
			c-0.5-2.54-2.2-7.58-2.81-10.09c-0.34-1.35-0.58-2.5-0.77-3.55h0c-0.46-2.58-0.64-4.65-1.5-7.94c-1.03-4.1-2.85-7.97-3.66-12.11
			c-0.05-0.23-0.09-0.47-0.14-0.71c-0.41-1.74-0.58-3.56-1.02-5.3c-0.67-2.49-2.68-7.39-3.45-9.85c-0.43-1.32-0.68-2.47-0.97-3.49
			c-0.66-2.51-1.01-4.54-2.14-7.73c-0.7-1.97-1.52-3.97-2.41-5.66c-0.87-1.75-1.85-3.41-2.71-5.14c-0.1-0.19-0.18-0.41-0.3-0.59
			c-0.43-0.69-0.81-1.43-1.2-2.16c-0.44-0.7-0.88-1.41-1.36-2.08c-0.37-0.47-0.9-1-1.48-1.59c-0.57-0.6-1.3-1.14-1.98-1.74
			c-0.69-0.58-1.46-1.07-2.1-1.56c-0.67-0.47-1.31-0.85-1.78-1.2c-1.05-0.71-1.93-1.31-2.74-1.85l0,0
			c-1.01-0.63-1.88-1.27-2.91-1.81c-1.01-0.59-2.17-1.08-3.66-1.57c-0.22-0.07-0.44-0.12-0.66-0.17c-0.1,0.21-0.24,0.4-0.4,0.63
			c-0.26,0.4-0.74,0.79-1,1.18c-0.21,0.31-0.45,0.6-0.68,0.91h0c-0.26,0.33-0.53,0.66-0.79,0.99c-0.3,0.31-0.61,0.63-0.92,0.95
			c-0.31,0.32-0.64,0.63-1.02,0.93c-0.38,0.3-0.74,0.61-1.16,0.88c-1.86,1.25-3.52,2.68-5.85,3.4c-0.4,0.13-0.84,0.26-1.25,0.39
			c-0.42,0.11-0.84,0.17-1.18,0.22c-1.67,0.2-3.31-0.36-4.79-0.78c-1.84-0.53-3.54-1.23-5.08-2.12c-1.29-0.74-2.43-1.54-3.5-2.44
			l3.06-3.52l-3.06,3.52c-0.3-0.27-0.62-0.53-0.91-0.82c-0.29-0.27-0.6-0.5-0.94-0.72c-1.79,0.81-3.4,1.62-5.47,3.36
			c-2.99,2.55-5.06,5.94-7.4,8.96c-0.14,0.16-0.26,0.36-0.4,0.54c-0.93,1.37-2.02,2.71-2.84,4.23c-1.24,2.15-2.74,7.09-3.56,9.46
			c-0.44,1.29-0.89,2.33-1.27,3.31l-3.5-1.19c0,0,0,0,0,0l3.5,1.19c-0.98,2.36-1.88,4.19-2.74,7.42c-1.04,4.02-1.31,8.2-2.28,12.16
			c-0.06,0.23-0.11,0.46-0.17,0.69c-0.36,1.76-0.95,3.49-1.29,5.26c-0.5,2.54-0.85,7.86-1.25,10.43c-0.21,1.39-0.44,2.53-0.68,3.59
			l-3.65-0.6c0,0,0,0,0,0l3.65,0.6c-0.59,2.56-1.23,4.54-1.73,7.92c-0.62,4.19-0.6,8.48-1.53,12.62c-0.05,0.23-0.11,0.47-0.16,0.71
			c-0.34,1.76-0.91,3.5-1.24,5.27c-0.47,2.55-0.73,7.88-1.09,10.45c-0.19,1.39-0.41,2.54-0.64,3.59l-3-0.45l3,0.45
			c-0.56,2.57-1.17,4.55-1.62,7.94c-0.56,4.2-0.49,8.49-1.35,12.64c-0.05,0.23-0.1,0.47-0.15,0.71c-0.31,1.77-0.86,3.51-1.16,5.29
			c-0.43,2.56-0.62,7.88-0.94,10.46c-0.18,1.39-0.37,2.55-0.58,3.6l-3.67-0.49v0l3.67,0.49c-0.51,2.57-1.1,4.57-1.5,7.96
			c-0.47,4.21-0.36,8.49-1.14,12.65c-0.05,0.23-0.09,0.48-0.14,0.71c-0.28,1.77-0.8,3.53-1.07,5.31c-0.38,2.56-0.49,7.89-0.75,10.47
			c-0.15,1.39-0.32,2.55-0.51,3.61h0c-0.19,1.05-0.39,2-0.59,2.99c-0.07,0.34-0.08,0.7-0.09,1.04c-0.02,0.86,0.06,1.86-0.43,2.62
			c-0.15,0.23-0.31,0.45-0.49,0.66c-0.5,0.57-1.11,1.03-1.87,1.23c-0.4,0.11-0.81,0.11-1.21,0.04c0,0.05-0.01,0.08-0.01,0.08h146.79
			c0,0,0-0.03-0.01-0.07C423.07,375.51,422.38,375.24,421.49,374.9z M333.81,249.42c-1.29,2.04-3.29,3.5-5.42,4.25
			c-0.47,0.16-0.86,0.29-1.41,0.41c-0.54,0.15-1.19,0.1-1.51,0.11c-0.79,0.01-1.58,0.02-2.37,0.03v-3.63
			c0.98,0.05,1.85,0.1,2.8,0.15c0.46,0.07,1.46-0.2,2.38-0.67c1.17-0.61,2.08-1.55,2.6-2.63c0.52-1.09,0.71-2.33,0.77-3.66
			c0-0.15,0-0.3,0-0.45c-0.04-1.1-0.16-2.2-0.7-3.12c-0.37-0.66-1.2-1.51-2.29-2.04c-0.53-0.28-1.11-0.49-1.65-0.63
			c-0.26-0.08-0.54-0.13-0.75-0.17c-0.16-0.03-0.31-0.04-0.44-0.03c-1.01,0.01-1.92-0.01-2.72-0.05v0
			c-0.59-0.05-1.13-0.09-1.69-0.14l-0.06,0l-0.06,0l-0.06,0.01l-0.06,0.01l-0.05,0.01l-0.05,0.02l-0.05,0.02l-0.05,0.03l-0.04,0.04
			l-0.04,0.04l-0.03,0.05l-0.02,0.06l-0.02,0.07l0,0.03c0,0.07,0,0.15,0.01,0.21c0,0,0,0.01,0,0.01c0,0,0,0,0,0l0,0
			c0,0.17,0,0.34,0,0.5c0,0.16-0.01,0.32-0.01,0.48c-0.01,0.31-0.03,0.59-0.04,0.86h0c-0.08,0.55-0.24,0.99-0.22,1.71
			c0.03,0.89,0.37,1.79,0.24,2.68c-0.01,0.05-0.02,0.1-0.03,0.15c-0.03,0.38-0.18,0.76-0.2,1.14c-0.04,0.55,0.23,1.67,0.25,2.21
			c0.01,0.3-0.01,0.54-0.05,0.77h0c-0.05,0.59-0.09,1.13-0.13,1.69l0,0.06l0,0.06l0,0.06l0.01,0.06l0.01,0.06l0.02,0.05l0.02,0.05
			l0.03,0.05l0.04,0.04l0.04,0.03l0.05,0.03l0.06,0.02l0.07,0.02l0.04,0c0.07,0,0.14,0,0.2-0.01c0,0,0.01,0,0.01,0c0,0,0,0,0.01,0
			l0,0c0.17,0,0.34,0,0.5,0c0.16,0,0.32,0.01,0.48,0.01c0.31,0.01,0.59,0.03,0.86,0.04v3.62c-0.65,0-1.31,0-1.99,0
			c-0.34-0.01-0.69-0.02-1.04-0.03c-0.35-0.02-0.71-0.03-1.08-0.05c-0.04,0-0.09-0.01-0.16-0.01c-0.06-0.01-0.13-0.02-0.21-0.03
			c-0.04-0.01-0.08-0.02-0.12-0.03c-0.04-0.01-0.08-0.02-0.13-0.04l-0.14-0.04l-0.02-0.01l-0.01,0l-0.08-0.03l-0.08-0.03l-0.08-0.04
			l-0.08-0.04l-0.08-0.05l-0.08-0.05l-0.04-0.03l-0.03-0.03l-0.03-0.04l-0.03-0.04l-0.06-0.1l-0.05-0.11l-0.05-0.12l-0.04-0.14
			l-0.04-0.14l-0.03-0.15c-0.02-0.1-0.04-0.21-0.05-0.32l-0.04-0.34l-0.02-0.34c0-0.11-0.01-0.22-0.01-0.32
			c-0.02-1.1-0.03-2.16-0.05-3.23c0,0,0,0,0,0v0c-0.01-0.54,0-1.09,0.08-1.71c0.1-0.69-0.1-1.3-0.14-1.96
			c-0.03-0.23-0.08-0.49-0.09-0.68c-0.02-0.44,0.18-0.89,0.21-1.34c0.04-0.55,0-1.09-0.02-1.64c-0.01-0.46-0.04-0.9-0.05-1.34
			c0,0,0,0,0,0c0-0.65,0-1.31,0.01-1.99c0.01-0.34,0.02-0.68,0.03-1.04c0.02-0.35,0.03-0.71,0.05-1.08c0-0.04,0.01-0.1,0.01-0.16
			c0.01-0.06,0.02-0.13,0.03-0.21c0.01-0.04,0.02-0.08,0.03-0.12c0.01-0.04,0.02-0.08,0.04-0.13l0.04-0.13l0.01-0.02l0-0.01
			l0.03-0.08l0.03-0.08l0.04-0.08l0.04-0.08l0.05-0.08l0.05-0.08l0.03-0.04l0.04-0.03l0.04-0.03l0.04-0.03l0.1-0.06L318,234
			l0.13-0.05l0.14-0.04l0.14-0.04l0.15-0.03c0.1-0.02,0.21-0.03,0.32-0.05l0.33-0.04l0.34-0.02c0.11,0,0.22-0.01,0.33-0.01
			c1.1-0.02,2.16-0.03,3.23-0.05v0c1,0,2.01,0,3.05,0.01c0.35,0.01,0.73,0.11,1.04,0.18c0.29,0.08,0.59,0.16,0.87,0.26
			c0.58,0.19,1.14,0.45,1.71,0.75c1.27,0.68,2.41,1.52,3.33,2.59c0.92,1.07,1.58,2.35,1.94,3.72c0.1,0.47,0.27,0.99,0.3,1.48
			c0.05,0.49,0.1,0.96,0.11,1.35C335.47,245.84,334.86,247.77,333.81,249.42z M335.49,216.09c-0.01,0.54-0.02,1.08-0.03,1.64
			c-0.02,0.58-0.03,1.17-0.05,1.78c-0.05,1.34-0.01,2.67,0.01,3.98c-0.02,1.27-0.23,2.22-0.44,3.03c-0.14,0.61-0.28,1.17-0.41,1.57
			c-0.12,0.47-0.96,0.94-1.67,0.85c-0.36-0.03-0.64-0.18-0.82-0.36l-0.59-0.53c-0.79-0.72-1.74-1.35-2.8-2.71l-0.74-1.03
			c-1.08-1.51-2.12-2.95-3.17-4.41l0,0c-0.14-0.19-0.27-0.38-0.41-0.57c-0.12-0.18-0.24-0.35-0.37-0.54
			c-0.25-0.37-0.49-0.76-0.78-1.24c-0.33-0.55-0.66-0.98-0.96-1.33l-0.43-0.49c-0.13-0.16-0.27-0.36-0.54-0.37
			c-0.17,0.01-0.36,0.12-0.47,0.29c-0.12,0.17-0.16,0.38-0.15,0.54c0.02,0.71-0.18,1.02-0.21,1.75c-0.03,0.88,0,1.85,0.02,2.76
			c0.02,1.13,0.03,2.21,0.05,3.31h0c0,0.37,0.01,0.74,0.01,1.12c0,0.44,0.04,0.87,0.1,1.32c0.08,0.52,0.14,1.31-0.14,1.75
			c-0.19,0.29-0.84,1.12-1.13,1.2c-0.68,0.19-1.09-0.09-1.71-0.51c-0.58-0.39-0.84-1.85-0.85-2.56c-0.01-0.42,0.06-0.94,0.07-1.3
			c0.01-0.36,0.02-0.7,0.04-1.02h0c0.05-0.78,0.1-1.49,0.15-2.25c0.02-0.31,0.04-0.98,0.06-1.54c0.01-0.59,0.02-1.23,0.01-1.95
			c-0.01-0.89-0.03-1.79-0.07-2.72c-0.05-0.94-0.07-1.89,0.04-2.62c0.21-1.49,0.54-2.48,0.87-3.31c0.05-0.09,0.13-0.2,0.24-0.29
			c0.39-0.38,1.14-0.57,1.68-0.4c0.28,0.08,0.43,0.23,0.6,0.39l0.5,0.46c0.49,0.46,1.28,0.97,2.27,1.93
			c0.48,0.49,0.99,1.21,1.46,1.82c0.47,0.63,0.9,1.21,1.23,1.66c0.36,0.51,0.69,0.98,1,1.43c0.28,0.42,0.54,0.82,0.8,1.2l0,0
			c0.13,0.2,0.13,0.22,0.19,0.33l0.14,0.27c0.1,0.18,0.2,0.37,0.3,0.56c0.21,0.39,0.47,0.81,0.8,1.27c0.01,0.02,0.03,0.04,0.05,0.07
			c0.45,0.61,0.88,1.06,1.26,1.47c0.19,0.19,0.34,0.51,0.72,0.47c0.35-0.02,0.65-0.35,0.63-0.63l0.03-0.19
			c0.03-0.52,0.18-0.89,0.2-1.52c0.02-0.45-0.04-1.25-0.1-1.98c-0.03-0.35-0.07-0.7-0.09-1.02c-0.03-0.33-0.05-0.49-0.05-0.97
			c-0.01-0.84,0.01-1.54,0.05-2.19h3.62C335.49,214.51,335.49,215.29,335.49,216.09z M335.49,213.74h-3.62
			c0.03-0.64,0.08-1.22,0.12-1.83c0.02-0.21,0-0.42-0.01-0.63c-0.04-0.52-0.13-1.11,0.07-1.59c0.06-0.15,0.13-0.29,0.21-0.43
			c0.22-0.37,0.5-0.69,0.86-0.85c0.73-0.33,1.63,0.16,2.07,0.92c0.4,0.69,0.35,1.18,0.36,1.91c0.01,0.45-0.08,1-0.07,1.45
			C335.49,213.04,335.49,213.39,335.49,213.74z M359.2,216.09c-0.01,0.54-0.02,1.08-0.03,1.64c-0.02,0.58-0.03,1.17-0.05,1.78
			c-0.05,1.34-0.01,2.67,0.01,3.98c-0.02,1.27-0.23,2.22-0.44,3.03c-0.14,0.61-0.28,1.17-0.41,1.57c-0.12,0.47-0.96,0.94-1.67,0.85
			c-0.36-0.03-0.64-0.18-0.82-0.36l-0.59-0.53c-0.79-0.72-1.74-1.35-2.8-2.71l-0.74-1.03c-1.08-1.51-2.12-2.95-3.17-4.41h0
			c-0.14-0.19-0.27-0.38-0.41-0.57c-0.12-0.18-0.24-0.35-0.37-0.54c-0.25-0.37-0.49-0.76-0.78-1.24c-0.33-0.55-0.66-0.98-0.96-1.33
			l-0.43-0.49c-0.13-0.16-0.27-0.36-0.54-0.37c-0.17,0.01-0.36,0.12-0.47,0.29c-0.12,0.17-0.16,0.38-0.15,0.54
			c0.02,0.71-0.18,1.02-0.21,1.75c-0.03,0.88,0,1.85,0.02,2.76c0.02,1.13,0.03,2.21,0.05,3.31h0c0,0.37,0.01,0.74,0,1.12
			c0,0.44,0.04,0.87,0.1,1.32c0.08,0.52,0.14,1.31-0.14,1.75c-0.19,0.29-0.84,1.12-1.13,1.2c-0.68,0.19-1.09-0.09-1.71-0.51
			c-0.58-0.39-0.84-1.85-0.85-2.56c0-0.42,0.06-0.94,0.07-1.3c0.01-0.36,0.02-0.7,0.04-1.02h0c0.05-0.78,0.1-1.49,0.15-2.25
			c0.02-0.31,0.04-0.98,0.06-1.54c0.01-0.59,0.02-1.23,0.01-1.95c-0.01-0.89-0.04-1.79-0.07-2.72c-0.05-0.94-0.07-1.89,0.04-2.62
			c0.21-1.49,0.54-2.48,0.87-3.31c0.05-0.09,0.13-0.2,0.24-0.29c0.39-0.38,1.14-0.57,1.68-0.4c0.28,0.08,0.43,0.23,0.6,0.39
			l0.5,0.46c0.49,0.46,1.28,0.97,2.27,1.93c0.48,0.49,0.99,1.21,1.46,1.82c0.47,0.63,0.9,1.21,1.23,1.66c0.36,0.51,0.69,0.98,1,1.43
			c0.28,0.42,0.54,0.82,0.8,1.2h0c0.13,0.2,0.13,0.22,0.19,0.33l0.14,0.27c0.1,0.18,0.2,0.37,0.3,0.56c0.22,0.39,0.47,0.81,0.8,1.27
			c0.01,0.02,0.03,0.04,0.05,0.07c0.45,0.61,0.88,1.06,1.26,1.47c0.2,0.19,0.34,0.51,0.72,0.47c0.35-0.02,0.65-0.35,0.63-0.63
			l0.03-0.19c0.03-0.52,0.18-0.89,0.2-1.52c0.02-0.45-0.04-1.25-0.1-1.98c-0.03-0.35-0.07-0.7-0.09-1.02
			c-0.03-0.33-0.05-0.49-0.05-0.97c-0.01-0.84,0.01-1.54,0.05-2.19h3.62C359.21,214.51,359.2,215.29,359.2,216.09z M359.21,213.74
			h-3.63c0.03-0.64,0.08-1.22,0.12-1.83c0.02-0.21,0-0.42-0.02-0.63c-0.04-0.52-0.13-1.11,0.07-1.59c0.06-0.15,0.13-0.29,0.21-0.43
			c0.22-0.37,0.5-0.69,0.86-0.85c0.73-0.33,1.63,0.16,2.07,0.92c0.4,0.69,0.35,1.18,0.36,1.91c0.01,0.45-0.08,1-0.07,1.45
			C359.2,213.04,359.2,213.39,359.21,213.74z"
          />
          <polygon class="st4" points="366.92,172.35 366.92,172.35 366.72,172.7 		" />
          <path
            class="st4"
            d="M346.35,170.77c-1.63-0.03-3.31-0.2-4.96,0c-1.19,0.13-2.96,0.59-4.66,1.21c-0.37,0.13-0.74,0.28-1.1,0.42
			c0.6,0.68,1.22,1.3,2.28,1.84c0.89,0.43,1.84,0.59,2.7,0.65c0.87,0.07,1.63-0.02,2.41,0.03c0.09,0.01,0.18,0.02,0.27,0.02
			c0.66-0.06,1.43,0.05,2.14-0.25c0.26-0.1,0.56-0.25,0.87-0.51c0.15-0.12,0.32-0.25,0.48-0.38c0.16-0.16,0.32-0.32,0.47-0.48
			c0.32-0.3,0.61-0.67,0.89-0.99c0.28-0.3,0.52-0.63,0.72-0.86c0.16-0.19,0.33-0.35,0.49-0.51c-0.79-0.04-1.57-0.09-2.35-0.15
			C346.8,170.79,346.57,170.79,346.35,170.77z"
          />
          <polygon class="st4" points="351.22,171.07 352.75,172.3 351.22,171.07 		" />
          <path
            class="st2"
            d="M426.83,370.01c-0.24-0.72-0.42-1.43-0.53-2.16c-0.1-0.62-0.19-1.24-0.29-1.85l-3.51,0.53l-3.66,0.55
			c0.04,0.54,0.1,1.1,0.17,1.69c0.07,0.6,0.07,1.48,0.18,2.17c0.18,1.15,1.05,3.49,2.29,3.96c0.89,0.34,1.58,0.61,2.33,0.6
			c0.37,0,0.75-0.07,1.18-0.24c0.57-0.22,1.66-1.78,1.96-2.31C427.43,372.15,427.11,370.85,426.83,370.01z"
          />
          <path
            class="st2"
            d="M412.81,330.2c0.48,2.55,1.9,7.68,2.24,10.25c0.24,1.79,0.25,3.61,0.48,5.39c0.02,0.24,0.05,0.49,0.07,0.72
			c0.39,4.22,1.75,8.29,2.46,12.46c0.57,3.36,0.57,5.44,0.79,8.05l3.66-0.55l3.51-0.53c-0.35-2.09-0.7-4.14-1.06-6.29
			c-0.43-2.57-0.9-5.13-1.24-7.71c-0.28-2.11-0.2-4.27-0.58-6.35c-0.16-0.88-0.46-2.08-0.69-3.14c-0.58-3.07-1.44-5.87-1.8-9.14
			c-0.33-2.89-0.75-5.49-1.22-8.03l-3.49,0.61l-3.65,0.63C412.4,327.66,412.56,328.82,412.81,330.2z"
          />
          <path
            class="st2"
            d="M308.71,202.15c0.82-2.37,2.33-7.31,3.56-9.46c0.82-1.52,1.91-2.86,2.84-4.23c0.13-0.18,0.26-0.38,0.4-0.54
			c2.34-3.02,4.42-6.41,7.4-8.96c2.07-1.74,3.68-2.55,5.47-3.36c0.34,0.22,0.65,0.45,0.94,0.72c0.29,0.29,0.61,0.55,0.91,0.82
			l3.06-3.52l-3.06,3.52c1.06,0.9,2.21,1.69,3.5,2.44c1.54,0.89,3.24,1.59,5.08,2.12c1.49,0.42,3.12,0.98,4.79,0.78
			c0.35-0.05,0.76-0.11,1.18-0.22c0.41-0.13,0.85-0.26,1.25-0.39c2.33-0.72,3.99-2.15,5.85-3.4c0.42-0.28,0.78-0.59,1.16-0.88
			c0.38-0.29,0.72-0.61,1.02-0.93c0.31-0.32,0.61-0.64,0.92-0.95c0.27-0.33,0.53-0.66,0.79-0.99h0c0.23-0.3,0.48-0.6,0.68-0.91
			c0.26-0.4,0.74-0.78,1-1.18c0.15-0.23,0.29-0.42,0.4-0.63c0.22,0.06,0.44,0.11,0.66,0.17c1.49,0.49,2.66,0.98,3.66,1.57
			c1.03,0.53,1.9,1.17,2.91,1.81l0,0c0.81,0.55,1.68,1.14,2.74,1.85c0.47,0.35,1.11,0.73,1.78,1.2c0.65,0.5,1.41,0.99,2.1,1.56
			c0.68,0.59,1.41,1.14,1.98,1.74c0.58,0.59,1.11,1.13,1.48,1.59c0.49,0.67,0.93,1.38,1.36,2.08c0.39,0.74,0.77,1.47,1.2,2.16
			c0.11,0.19,0.2,0.4,0.3,0.59c0.86,1.73,1.83,3.39,2.71,5.14c0.88,1.68,1.71,3.69,2.41,5.66c1.13,3.19,1.47,5.22,2.14,7.73
			c0.29,1.03,0.54,2.17,0.97,3.49c0.77,2.46,2.78,7.36,3.45,9.85c0.44,1.74,0.61,3.56,1.02,5.3c0.05,0.24,0.09,0.48,0.14,0.71
			c0.81,4.14,2.63,8.02,3.66,12.11c0.86,3.29,1.04,5.36,1.5,7.94h0c0.19,1.06,0.43,2.2,0.77,3.55c0.61,2.51,2.3,7.55,2.81,10.09
			c0.35,1.77,0.47,3.58,0.79,5.35c0.03,0.24,0.07,0.48,0.1,0.72c0.61,4.19,2.16,8.18,3.1,12.3c0.75,3.32,0.82,5.41,1.17,8.01
			l3.64-0.73l0.78-0.16l-0.78,0.16l-3.65,0.73c0.14,1.07,0.33,2.22,0.62,3.59c0.56,2.53,2.09,7.63,2.49,10.19
			c0.29,1.78,0.34,3.6,0.61,5.38c0.03,0.24,0.06,0.49,0.09,0.72c0.53,4.2,1.92,8.25,2.74,12.4c0.66,3.34,0.7,5.43,0.97,8.04
			l3.65-0.63l3.49-0.61c-0.4-2.08-0.79-4.12-1.2-6.26c-0.5-2.56-1.03-5.11-1.42-7.68c-0.32-2.1-0.29-4.27-0.73-6.33
			c-0.18-0.87-0.5-2.07-0.77-3.13c-0.65-3.05-1.58-5.84-2.01-9.1c-0.4-2.89-0.9-5.47-1.43-7.99l0,0c-0.45-2.07-0.89-4.11-1.35-6.23
			c-0.56-2.54-1.18-5.08-1.65-7.64c-0.39-2.09-0.42-4.26-0.91-6.31c-0.2-0.87-0.55-2.06-0.86-3.11c-0.76-3.03-1.8-5.78-2.34-9.04
			c-0.47-2.88-1.04-5.45-1.7-7.95h0c-0.54-2.05-1.07-4.07-1.62-6.18c-0.67-2.52-1.32-5.05-1.95-7.58c-0.5-2.07-0.65-4.24-1.24-6.27
			c-0.25-0.86-0.66-2.03-1-3.07c-0.84-3.01-2.12-5.7-2.86-8.92c-0.68-2.85-1.38-5.4-2.19-7.87h0c-0.71-2.01-1.41-3.99-2.14-6.07
			l-1.31-3.72l-0.63-1.86l-0.74-1.95c-0.37-1.08-0.78-2.15-1.18-3.23c-0.37-1.09-0.9-2.12-1.49-3.11c-0.47-0.85-1.34-1.89-2.04-2.85
			c-2.03-2.73-4.41-4.84-6.92-7.36c-2.24-2.23-4.63-3.86-7.06-5.26l-1.76,3.08l-0.2,0.35l0.2-0.35l1.76-3.08
			c-2.02-1.09-4.08-2.06-6.31-2.83c-1.32-0.51-2.69-0.85-4.04-1.26c-1.38-0.3-2.73-0.67-4.12-0.9c-0.57-0.1-1.13-0.24-1.69-0.36
			l-1.7-0.32c-1.13-0.25-2.29-0.32-3.44-0.35c-0.97,0-2.32,0.15-3.49,0.27c-3.39,0.3-6.41,1.27-9.86,2.09
			c-3.06,0.75-5.72,1.84-8.17,3.21l0,0c-1.02,0.53-1.98,1.15-2.93,1.78c-0.98,0.6-1.87,1.34-2.82,2.03
			c-2.2,1.75-4.27,3.67-6.17,5.72c-0.39,0.42-0.81,0.81-1.22,1.22l-1.18,1.25c-0.81,0.82-1.54,1.72-2.17,2.69
			c-0.54,0.82-1.13,2-1.67,3.03c-1.6,2.91-2.51,5.82-4.02,8.86c-1.33,2.7-2.28,5.23-3.11,7.74l3.36,1.14l3.5,1.19
			C307.82,204.48,308.27,203.44,308.71,202.15z M348.88,171.47c-0.21,0.24-0.44,0.56-0.72,0.86c-0.27,0.32-0.57,0.7-0.89,0.99
			c-0.16,0.16-0.32,0.32-0.47,0.48c-0.17,0.13-0.33,0.26-0.48,0.38c-0.31,0.26-0.62,0.42-0.87,0.51c-0.71,0.3-1.48,0.19-2.14,0.25
			c-0.09-0.01-0.18-0.02-0.27-0.02c-0.79-0.05-1.54,0.03-2.41-0.03c-0.86-0.05-1.81-0.22-2.7-0.65c-1.06-0.53-1.68-1.16-2.28-1.84
			c0.36-0.14,0.73-0.29,1.1-0.42c1.7-0.62,3.47-1.08,4.66-1.21c1.65-0.2,3.33-0.03,4.96,0c0.22,0.01,0.44,0.01,0.66,0.03
			c0.78,0.06,1.57,0.11,2.35,0.15C349.21,171.12,349.05,171.28,348.88,171.47z M351.22,171.07
			C351.22,171.07,351.22,171.07,351.22,171.07l1.53,1.23L351.22,171.07z"
          />
          <path
            class="st2"
            d="M299.69,241.43c0.4-2.56,0.75-7.88,1.25-10.43c0.35-1.77,0.93-3.5,1.29-5.26c0.06-0.23,0.11-0.47,0.17-0.69
			c0.98-3.96,1.24-8.14,2.28-12.16c0.86-3.23,1.76-5.06,2.74-7.42l-3.5-1.19l-3.36-1.14c-0.68,2.06-1.27,4.11-1.86,6.25
			c-0.72,2.56-1.31,5.16-1.98,7.73c-0.54,2.1-1.4,4.15-1.73,6.31c-0.15,0.92-0.25,2.12-0.38,3.21c-0.45,3.08-0.54,6.02-1.27,9.22
			c-0.65,2.84-1.11,5.42-1.49,7.97l3.5,0.58l3.65,0.6C299.26,243.96,299.48,242.81,299.69,241.43z"
          />
          <path
            class="st2"
            d="M278.25,375.45c0.75-0.2,1.37-0.66,1.87-1.23c0.18-0.21,0.35-0.43,0.49-0.66c0.49-0.76,0.41-1.76,0.43-2.62
			c0.01-0.35,0.02-0.7,0.09-1.04c0.2-0.99,0.4-1.94,0.59-2.99h0c0.19-1.06,0.37-2.21,0.51-3.61c0.26-2.58,0.36-7.9,0.75-10.47
			c0.27-1.78,0.78-3.53,1.07-5.31c0.05-0.24,0.09-0.48,0.14-0.71c0.79-4.16,0.67-8.44,1.14-12.65c0.4-3.39,0.99-5.39,1.5-7.96
			l-3.67-0.49l-3.44-0.46l3.44,0.46l3.67,0.49c0.21-1.06,0.41-2.21,0.58-3.6c0.32-2.57,0.51-7.9,0.94-10.46
			c0.3-1.78,0.85-3.52,1.16-5.29c0.05-0.24,0.1-0.48,0.15-0.71c0.86-4.15,0.79-8.44,1.35-12.64c0.45-3.38,1.05-5.37,1.62-7.94
			l-3-0.45l3,0.45c0.23-1.05,0.45-2.2,0.64-3.59c0.36-2.57,0.62-7.9,1.09-10.45c0.33-1.77,0.9-3.51,1.24-5.27
			c0.05-0.24,0.11-0.48,0.16-0.71c0.92-4.14,0.9-8.43,1.53-12.62c0.49-3.38,1.14-5.36,1.73-7.92l-3.65-0.6l-3.5-0.58
			c-0.3,2.09-0.61,4.15-0.92,6.3c-0.38,2.57-0.74,5.15-1.21,7.71c-0.39,2.09-1.13,4.12-1.41,6.21c-0.12,0.88-0.22,2.12-0.33,3.2
			c-0.42,3.09-0.47,6.02-1.15,9.24c-0.61,2.85-1.02,5.44-1.38,7.99h0c-0.28,2.09-0.55,4.16-0.83,6.32c-0.34,2.58-0.65,5.17-1.1,7.72
			c-0.36,2.09-1.07,4.13-1.32,6.23c-0.11,0.89-0.19,2.12-0.28,3.2c-0.38,3.09-0.38,6.03-1.01,9.26c-0.56,2.86-0.95,5.45-1.26,8.01
			l0,0c-0.25,2.1-0.49,4.17-0.74,6.33c-0.31,2.58-0.57,5.18-0.98,7.74c-0.33,2.1-1.01,4.15-1.23,6.25
			c-0.09,0.89-0.15,2.12-0.23,3.21c-0.33,3.1-0.27,6.04-0.86,9.28c-0.51,2.87-0.84,5.48-1.1,8.04l-0.18,1.75
			c-0.07,0.74-0.34,1.65-0.41,2.39c-0.1,1.21-0.3,2.02,0.37,3.25c0.55,1.01,1.62,1.82,2.75,2.01
			C277.45,375.56,277.86,375.56,278.25,375.45z"
          />
          <path
            class="st2"
            d="M355.54,215.93c0,0.48,0.02,0.64,0.05,0.97c0.03,0.32,0.06,0.67,0.09,1.02c0.06,0.73,0.12,1.53,0.1,1.98
			c-0.03,0.63-0.17,1-0.2,1.52l-0.03,0.19c0.02,0.28-0.28,0.61-0.63,0.63c-0.38,0.04-0.52-0.28-0.72-0.47
			c-0.38-0.41-0.81-0.86-1.26-1.47c-0.02-0.03-0.04-0.06-0.05-0.07c-0.33-0.46-0.59-0.88-0.8-1.27c-0.1-0.19-0.2-0.37-0.3-0.56
			l-0.14-0.27c-0.06-0.1-0.06-0.13-0.19-0.33h0c-0.25-0.38-0.52-0.78-0.8-1.2c-0.31-0.44-0.64-0.91-1-1.43
			c-0.34-0.45-0.76-1.03-1.23-1.66c-0.47-0.6-0.98-1.33-1.46-1.82c-0.99-0.96-1.77-1.47-2.27-1.93l-0.5-0.46
			c-0.17-0.16-0.33-0.31-0.6-0.39c-0.54-0.17-1.3,0.02-1.68,0.4c-0.11,0.1-0.19,0.2-0.24,0.29c-0.33,0.83-0.65,1.82-0.87,3.31
			c-0.11,0.73-0.09,1.68-0.04,2.62c0.04,0.93,0.06,1.83,0.07,2.72c0.01,0.72,0,1.35-0.01,1.95c-0.01,0.57-0.03,1.23-0.06,1.54
			c-0.05,0.76-0.1,1.46-0.15,2.25h0c-0.02,0.32-0.03,0.66-0.04,1.02c-0.01,0.36-0.07,0.88-0.07,1.3c0.01,0.7,0.27,2.17,0.85,2.56
			c0.62,0.42,1.03,0.7,1.71,0.51c0.3-0.08,0.95-0.91,1.13-1.2c0.29-0.44,0.22-1.23,0.14-1.75c-0.07-0.45-0.1-0.88-0.1-1.32
			c0-0.38,0-0.75,0-1.12h0c-0.02-1.1-0.03-2.18-0.05-3.31c-0.02-0.91-0.05-1.89-0.02-2.76c0.03-0.74,0.24-1.04,0.21-1.75
			c-0.01-0.16,0.03-0.37,0.15-0.54c0.12-0.17,0.3-0.28,0.47-0.29c0.27,0.01,0.41,0.22,0.54,0.37l0.43,0.49
			c0.3,0.35,0.63,0.77,0.96,1.33c0.28,0.47,0.53,0.87,0.78,1.24c0.12,0.18,0.25,0.36,0.37,0.54c0.14,0.19,0.27,0.38,0.41,0.57h0
			c1.05,1.46,2.09,2.9,3.17,4.41l0.74,1.03c1.06,1.36,2.01,1.99,2.8,2.71l0.59,0.53c0.18,0.18,0.45,0.33,0.82,0.36
			c0.71,0.08,1.54-0.39,1.67-0.85c0.13-0.4,0.26-0.96,0.41-1.57c0.21-0.81,0.42-1.76,0.44-3.03c-0.02-1.31-0.06-2.64-0.01-3.98
			c0.02-0.61,0.03-1.2,0.05-1.78c0.01-0.56,0.02-1.1,0.03-1.64c0-0.8,0-1.58,0-2.35h-3.62
			C355.55,214.38,355.53,215.08,355.54,215.93z"
          />
          <path
            class="st2"
            d="M358.9,209.33c-0.45-0.77-1.34-1.26-2.07-0.92c-0.36,0.17-0.65,0.48-0.86,0.85
			c-0.08,0.14-0.15,0.28-0.21,0.43c-0.2,0.49-0.11,1.08-0.07,1.59c0.02,0.21,0.03,0.42,0.02,0.63c-0.04,0.6-0.09,1.19-0.12,1.83
			h3.63c0-0.35-0.01-0.7-0.01-1.05c-0.01-0.45,0.08-1,0.07-1.45C359.25,210.51,359.3,210.02,358.9,209.33z"
          />
          <path
            class="st2"
            d="M335.05,241.17c-0.36-1.37-1.02-2.65-1.94-3.72c-0.92-1.07-2.06-1.91-3.33-2.59
			c-0.56-0.3-1.13-0.56-1.71-0.75c-0.29-0.1-0.58-0.18-0.87-0.26c-0.31-0.07-0.7-0.17-1.04-0.18c-1.04,0-2.05,0-3.05-0.01v0
			c-1.07,0.02-2.12,0.03-3.23,0.05c-0.1,0-0.21,0.01-0.33,0.01l-0.34,0.02l-0.33,0.04c-0.11,0.02-0.22,0.04-0.32,0.05l-0.15,0.03
			l-0.14,0.04l-0.14,0.04L318,234l-0.11,0.05l-0.1,0.06l-0.04,0.03l-0.04,0.03l-0.04,0.03l-0.03,0.04l-0.05,0.08l-0.05,0.08
			l-0.04,0.08l-0.04,0.08l-0.03,0.08l-0.03,0.08l0,0.01l-0.01,0.02l-0.04,0.13c-0.01,0.04-0.02,0.09-0.04,0.13
			c-0.01,0.04-0.02,0.08-0.03,0.12c-0.01,0.08-0.02,0.15-0.03,0.21c-0.01,0.06-0.01,0.11-0.01,0.16c-0.02,0.37-0.03,0.73-0.05,1.08
			c-0.01,0.35-0.02,0.7-0.03,1.04c0,0.68,0,1.34-0.01,1.99c0,0,0,0,0,0c0.01,0.44,0.04,0.88,0.05,1.34
			c0.02,0.55,0.05,1.09,0.02,1.64c-0.03,0.45-0.24,0.89-0.21,1.34c0.01,0.19,0.05,0.45,0.09,0.68c0.03,0.66,0.23,1.27,0.14,1.96
			c-0.08,0.61-0.1,1.16-0.08,1.71v0c0,0,0,0,0,0c0.02,1.07,0.03,2.12,0.05,3.23c0,0.1,0.01,0.21,0.01,0.32l0.02,0.34l0.04,0.34
			c0.02,0.11,0.04,0.22,0.05,0.32l0.03,0.15l0.04,0.14l0.04,0.14l0.05,0.12l0.05,0.11l0.06,0.1l0.03,0.04l0.03,0.04l0.03,0.03
			l0.04,0.03l0.08,0.05l0.08,0.05l0.08,0.04l0.08,0.04l0.08,0.03l0.08,0.03l0.01,0l0.02,0.01l0.14,0.04
			c0.04,0.01,0.09,0.02,0.13,0.04c0.04,0.01,0.08,0.02,0.12,0.03c0.08,0.01,0.15,0.02,0.21,0.03c0.06,0.01,0.11,0.01,0.16,0.01
			c0.37,0.02,0.73,0.04,1.08,0.05c0.35,0.01,0.7,0.02,1.04,0.03c0.68,0,1.34,0,1.99,0v-3.62c-0.27-0.01-0.56-0.03-0.86-0.04
			c-0.15,0-0.31-0.01-0.48-0.01c-0.16,0-0.33,0-0.5,0l0,0c0,0,0,0-0.01,0c0,0-0.01,0-0.01,0c-0.06,0-0.14,0-0.2,0.01l-0.04,0
			l-0.07-0.02l-0.06-0.02l-0.05-0.03l-0.04-0.03l-0.04-0.04l-0.03-0.05l-0.02-0.05l-0.02-0.05l-0.01-0.06l-0.01-0.06l0-0.06l0-0.06
			l0-0.06c0.05-0.57,0.09-1.1,0.13-1.69h0c0.03-0.23,0.06-0.47,0.05-0.77c-0.02-0.55-0.29-1.67-0.25-2.21
			c0.02-0.38,0.17-0.76,0.2-1.14c0.01-0.05,0.02-0.1,0.03-0.15c0.13-0.89-0.21-1.79-0.24-2.68c-0.03-0.72,0.13-1.15,0.22-1.71h0
			c0.01-0.27,0.03-0.56,0.04-0.86c0-0.15,0.01-0.31,0.01-0.48c0-0.16,0-0.33,0-0.5l0,0c0,0,0,0,0,0c0,0,0-0.01,0-0.01
			c0-0.06,0-0.14-0.01-0.21l0-0.03l0.02-0.07l0.02-0.06l0.03-0.05l0.04-0.04l0.04-0.04l0.05-0.03l0.05-0.02l0.05-0.02l0.05-0.01
			l0.06-0.01l0.06-0.01l0.06,0l0.06,0c0.57,0.05,1.1,0.09,1.69,0.14v0c0.8,0.03,1.71,0.06,2.72,0.05c0.13-0.01,0.29,0,0.44,0.03
			c0.21,0.04,0.49,0.09,0.75,0.17c0.54,0.15,1.12,0.35,1.65,0.63c1.09,0.53,1.92,1.38,2.29,2.04c0.53,0.92,0.66,2.01,0.7,3.12
			c0,0.15,0,0.3,0,0.45c-0.06,1.33-0.25,2.57-0.77,3.66c-0.52,1.08-1.43,2.02-2.6,2.63c-0.92,0.47-1.92,0.74-2.38,0.67
			c-0.95-0.05-1.82-0.1-2.8-0.15v3.63c0.79-0.01,1.58-0.02,2.37-0.03c0.32-0.02,0.97,0.04,1.51-0.11c0.55-0.12,0.94-0.25,1.41-0.41
			c2.13-0.75,4.13-2.21,5.42-4.25c1.05-1.64,1.66-3.58,1.65-5.42c-0.01-0.39-0.06-0.86-0.11-1.35
			C335.31,242.16,335.14,241.64,335.05,241.17z"
          />
          <path
            class="st2"
            d="M331.82,215.93c0,0.48,0.02,0.64,0.05,0.97c0.03,0.32,0.06,0.67,0.09,1.02c0.06,0.73,0.12,1.53,0.1,1.98
			c-0.02,0.63-0.17,1-0.2,1.52l-0.03,0.19c0.02,0.28-0.28,0.61-0.63,0.63c-0.38,0.04-0.52-0.28-0.72-0.47
			c-0.38-0.41-0.81-0.86-1.26-1.47c-0.02-0.03-0.04-0.06-0.05-0.07c-0.33-0.46-0.59-0.88-0.8-1.27c-0.1-0.19-0.2-0.37-0.3-0.56
			l-0.14-0.27c-0.06-0.1-0.06-0.13-0.19-0.33l0,0c-0.25-0.38-0.51-0.77-0.8-1.2c-0.31-0.44-0.64-0.91-1-1.43
			c-0.34-0.45-0.76-1.03-1.23-1.66c-0.47-0.6-0.98-1.33-1.46-1.82c-0.99-0.96-1.77-1.47-2.27-1.93l-0.5-0.46
			c-0.17-0.16-0.33-0.31-0.6-0.39c-0.54-0.17-1.3,0.02-1.68,0.4c-0.11,0.1-0.19,0.2-0.24,0.29c-0.33,0.83-0.65,1.82-0.87,3.31
			c-0.11,0.73-0.09,1.68-0.04,2.62c0.04,0.93,0.06,1.83,0.07,2.72c0.01,0.72,0,1.35-0.01,1.95c-0.01,0.57-0.03,1.23-0.06,1.54
			c-0.05,0.76-0.1,1.46-0.15,2.25h0c-0.02,0.32-0.03,0.66-0.04,1.02c-0.01,0.36-0.07,0.88-0.07,1.3c0.01,0.7,0.27,2.17,0.85,2.56
			c0.62,0.42,1.03,0.7,1.71,0.51c0.3-0.08,0.95-0.91,1.13-1.2c0.29-0.44,0.22-1.23,0.14-1.75c-0.07-0.45-0.1-0.88-0.1-1.32
			c0-0.38,0-0.75-0.01-1.12h0c-0.02-1.1-0.03-2.18-0.05-3.31c-0.02-0.91-0.05-1.89-0.02-2.76c0.03-0.74,0.24-1.04,0.21-1.75
			c-0.01-0.16,0.03-0.37,0.15-0.54c0.12-0.17,0.3-0.28,0.47-0.29c0.27,0.01,0.41,0.22,0.54,0.37l0.43,0.49
			c0.3,0.35,0.63,0.77,0.96,1.33c0.28,0.47,0.53,0.87,0.78,1.24c0.12,0.18,0.25,0.36,0.37,0.54c0.14,0.19,0.27,0.38,0.41,0.57l0,0
			c1.05,1.46,2.09,2.9,3.17,4.41l0.74,1.03c1.06,1.36,2.01,1.99,2.8,2.71l0.59,0.53c0.18,0.18,0.45,0.33,0.82,0.36
			c0.71,0.08,1.54-0.39,1.67-0.85c0.13-0.4,0.26-0.96,0.41-1.57c0.21-0.81,0.42-1.76,0.44-3.03c-0.02-1.31-0.06-2.64-0.01-3.98
			c0.02-0.61,0.03-1.2,0.05-1.78c0.01-0.56,0.02-1.1,0.03-1.64c0-0.8,0-1.58,0-2.35h-3.62
			C331.83,214.38,331.81,215.08,331.82,215.93z"
          />
          <path
            class="st2"
            d="M335.19,209.33c-0.45-0.77-1.34-1.26-2.07-0.92c-0.36,0.17-0.65,0.48-0.86,0.85
			c-0.08,0.14-0.15,0.28-0.21,0.43c-0.2,0.49-0.11,1.08-0.07,1.59c0.02,0.21,0.03,0.42,0.01,0.63c-0.04,0.6-0.09,1.19-0.12,1.83
			h3.62c0-0.35-0.01-0.7-0.01-1.05c-0.01-0.45,0.08-1,0.07-1.45C335.54,210.51,335.59,210.02,335.19,209.33z"
          />
        </g>
      </g>
      <g id="handshake">
        <g class="left-hands">
          <polygon class="st3" points="204.35,274.52 205.07,273.17 205.07,273.17 		" />
          <polygon class="st3" points="214.88,218.02 214.92,218.4 214.92,218.4 		" />
          <polygon class="st4" points="258.09,274.32 258.09,274.32 255.75,273.78 		" />
          <path
            class="st4"
            d="M183.4,248.53c0.51,1.91,1.49,3.72,2.63,5.45c1.13,1.73,2.42,3.39,3.66,5.14c0.14,0.2,0.29,0.4,0.43,0.6
			c1.13,1.44,2.18,3.01,3.49,4.41c0.23,0.25,0.51,0.52,0.82,0.82l0.22,0.21c0.05,0.05,0.11,0.09,0.16,0.13
			c0.11,0.09,0.22,0.18,0.4,0.29c0.63,0.44,1.53,0.97,2.41,1.45c1.8,0.99,3.7,1.91,4.91,2.57c1.31,0.72,2.39,1.35,3.38,1.95
			l-0.86,1.62h0l0.86-1.62c2.41,1.46,4.24,2.75,7.58,4.29c4.15,1.9,8.59,3.08,12.68,4.91c0.23,0.1,0.47,0.21,0.7,0.31
			c1.76,0.72,3.48,1.61,5.27,2.21c1.29,0.43,3.31,0.87,5.29,1.15c1.99,0.28,3.88,0.31,4.96,0.28c0.89-0.01,1.55-0.08,2.2-0.29l0,0
			c0.63-0.19,1.15-0.53,1.6-1c0.16-0.16,0.25-0.38,0.34-0.58c0.16-0.42,0.2-0.8,0.45-1.22c-0.56-0.2-1.1-0.41-1.51-0.61
			c-1.45-0.68-2.61-1.8-3.9-2.64c-1.58-1.03-3.2-1.99-4.78-3.02c-1.32-0.87-2.57-1.7-3.82-2.64l4.42-5.74
			c1.27,1.18,2.21,2.26,4.16,3.49c2.42,1.53,5.21,2.42,7.51,3.87c0.13,0.08,0.26,0.17,0.39,0.25c0.99,0.55,1.92,1.26,2.84,1.59
			c0.08,0.02,0.16,0.05,0.25,0.07l0.13,0.04l0.07,0.02l0.01-0.01c0.03-0.03,0.02,0,0.11-0.05c0.12-0.02,0.4-0.18,0.64-0.33
			c0.53-0.38,0.9-0.96,1.1-1.29c0.25-0.35,0.36-0.67,0.54-0.97h0c0.08-0.15,0.11-0.32,0.19-0.48c0.06-0.17,0.07-0.36,0.12-0.55
			c0.05-0.13-0.04-0.28-0.09-0.41c-0.05-0.18-0.17-0.36-0.23-0.56c-1.52-0.07-3.06-0.37-4.62-0.9c-1.51-0.54-3-1.18-4.43-1.98
			c-0.37-0.19-0.69-0.39-1.04-0.59c-0.32-0.19-0.72-0.42-0.95-0.56c-0.53-0.33-1.05-0.66-1.55-1l3.82-5.56l-3.82,5.56
			c-0.6-0.4-1.19-0.81-1.77-1.25c-0.69-0.51-1.39-0.95-2.14-1.39c-0.87-0.5-2.13-1.38-2.39-2.36c-0.18-0.64-0.47-2.66-0.17-3.21
			c0.68-1.23,1.62-1.46,3-1.9c1.28-0.39,3.53,0.86,4.5,1.58c0.57,0.45,1.21,1.09,1.69,1.47c0.49,0.38,0.94,0.73,1.37,1.07l0,0
			c0.52,0.4,1.01,0.78,1.5,1.16c0.34,0.27,0.67,0.54,1.01,0.77c0.69,0.48,1.51,0.98,2.59,1.31c1.32,0.38,2.76,0.3,3.71-0.65
			c0.91-0.95,1.32-2.31,1.22-3.49c0-0.13,0-0.27-0.03-0.41c-0.19-1.02-0.36-2.07-0.92-3.14c-0.1-0.19-0.23-0.4-0.37-0.62
			c-0.07-0.11-0.15-0.22-0.24-0.34c-0.1-0.15-0.21-0.29-0.32-0.45c-0.54-0.75-1.18-1.55-1.84-2.34c-1.32-1.58-2.75-3.12-3.64-4.17
			c-0.97-1.13-1.74-2.1-2.46-3.01l0,0c-1.73-2.21-2.99-4.06-5.57-6.7c-1.61-1.64-3.35-3.14-5.08-4.7c-0.86-0.77-1.76-1.61-2.58-2.48
			c-0.83-0.86-1.58-1.71-2.29-2.56c-0.16-0.19-0.32-0.39-0.48-0.59c-1.24-1.38-2.36-2.81-3.71-3.96c-0.98-0.76-2.59-1.81-4.29-2.34
			l-0.62-0.24c-0.21-0.05-0.42-0.1-0.63-0.15c-0.41-0.1-0.81-0.2-1.2-0.29c-0.79-0.06-1.47-0.22-2.03-0.23
			c-0.61-0.01-1.16-0.05-1.68-0.1c-0.53,0.04-1.03,0.05-1.51,0.06l-0.29-2.58h0l0.29,2.58c-2.35,0.19-4.32,0.28-7.45,1.9l-0.91,0.46
			c-0.67,0.31-1.32,0.7-2.04,0.92c-0.7,0.25-1.44,0.41-2.19,0.47c-0.38,0.04-0.75,0.06-1.13,0.05l-1.02-0.02
			c-0.52-0.01-0.86,0.01-1.14,0.05c-0.6,0.09-1.12,0.3-1.77,0.56c-0.35,0.2-0.68,0.33-1.05,0.54c-0.37,0.23-0.75,0.4-1.15,0.64
			c-0.19,0.12-0.39,0.24-0.59,0.36c-0.72,0.44-1.47,0.98-2.24,1.47c-0.75,0.53-1.51,1.1-2.22,1.69c-0.95,0.88-2.31,2.33-3.33,3.93
			c-1.06,1.58-1.83,3.23-2.27,4.3c-0.47,1.16-0.83,2.12-1.08,3.03l-3.15-0.67v0l3.15,0.67C183.03,243.53,182.61,245.43,183.4,248.53
			z M229.02,267.52c0.09-0.62,0.39-1.11,0.62-1.33c1.09-0.95,1.91-0.92,3.13-1.41c0.51-0.28,1.04-0.3,1.56-0.18
			c0.52,0.13,1.02,0.39,1.3,0.62c0.33,0.28,0.68,0.73,0.97,0.99c0.29,0.27,0.56,0.51,0.82,0.75L233,272.7
			c-0.36-0.28-0.73-0.55-1.09-0.85c-0.43-0.35-0.89-0.64-1.42-0.92c-0.6-0.32-1.5-0.96-1.55-1.87
			C228.92,268.75,228.94,268.18,229.02,267.52z"
          />
          <path
            class="st2"
            d="M230.49,270.93c0.53,0.29,0.99,0.57,1.42,0.92c0.36,0.3,0.73,0.57,1.09,0.85l4.42-5.74
			c-0.26-0.24-0.53-0.48-0.82-0.75c-0.29-0.26-0.64-0.71-0.97-0.99c-0.28-0.23-0.78-0.49-1.3-0.62c-0.52-0.12-1.05-0.1-1.56,0.18
			c-1.21,0.49-2.04,0.46-3.13,1.41c-0.23,0.22-0.53,0.71-0.62,1.33c-0.08,0.66-0.1,1.24-0.08,1.54
			C228.99,269.97,229.88,270.61,230.49,270.93z"
          />
          <path
            class="st2"
            d="M264.47,258.5c-0.72-2.19-1.92-4.26-3.22-6.22c-0.3-0.44-0.61-0.88-0.91-1.32c-0.26-0.36-0.52-0.73-0.79-1.09
			c-0.52-0.74-1.05-1.47-1.57-2.25c-1.85-2.74-3.74-5.01-5.65-7.15l-1.07,0.94l1.07-0.94c-1.57-1.76-3.17-3.43-4.84-5.16
			c-2-2.07-4.06-4.08-5.98-6.15c-0.79-0.86-1.49-1.72-2.15-2.61l-1.06-1.35c-0.36-0.45-0.75-0.89-1.17-1.33
			c-0.7-0.72-1.76-1.69-2.73-2.53c-2.75-2.48-5.84-4.4-9.67-6.14c-3.44-1.52-7.07-1.89-10.32-1.43l0,0
			c-0.34,0.04-0.68,0.05-1.01,0.12l-0.97,0.22c-0.65,0.15-1.29,0.3-1.94,0.45c-1.23,0.42-2.48,0.86-3.69,1.35l-2.88,1.42
			c-0.48,0.24-0.98,0.5-1.54,0.53c-0.61,0.06-0.84-0.03-2.15-0.12c-1.52-0.14-3.31,0.02-4.8,0.48c-1.54,0.43-2.77,1.07-3.92,1.81
			c-0.92,0.64-2.1,1.6-3.03,2.46c-2.73,2.37-5.01,4.96-7.52,8.11c-2.2,2.81-3.74,5.91-4.39,9.22l3.94,0.85l3.15,0.67
			c0.25-0.91,0.62-1.87,1.08-3.03c0.44-1.07,1.22-2.72,2.27-4.3c1.02-1.6,2.38-3.06,3.33-3.93c0.71-0.6,1.47-1.17,2.22-1.69
			c0.76-0.48,1.52-1.03,2.24-1.47c0.2-0.12,0.4-0.24,0.59-0.36c0.4-0.24,0.77-0.41,1.15-0.64c0.37-0.22,0.71-0.34,1.05-0.54
			c0.65-0.27,1.17-0.48,1.77-0.56c0.28-0.04,0.62-0.06,1.14-0.05l1.02,0.02c0.38,0.01,0.76-0.01,1.13-0.05
			c0.75-0.06,1.49-0.22,2.19-0.47c0.72-0.22,1.36-0.61,2.04-0.92l0.91-0.46c3.13-1.61,5.09-1.71,7.45-1.9l-0.29-2.58l-0.04-0.38
			l0.04,0.38l0.29,2.58c0.48,0,0.98-0.02,1.51-0.06c0.52,0.04,1.07,0.09,1.68,0.1c0.56,0.01,1.24,0.18,2.03,0.23
			c0.38,0.09,0.79,0.19,1.2,0.29c0.21,0.05,0.42,0.1,0.63,0.15l0.62,0.24c1.69,0.54,3.3,1.58,4.29,2.34
			c1.35,1.14,2.47,2.58,3.71,3.96c0.16,0.2,0.33,0.4,0.48,0.59c0.71,0.85,1.46,1.7,2.29,2.56c0.83,0.87,1.72,1.71,2.58,2.48
			c1.73,1.56,3.47,3.07,5.08,4.7c2.58,2.64,3.85,4.49,5.57,6.7l0,0c0.71,0.91,1.49,1.88,2.46,3.01c0.89,1.05,2.31,2.58,3.64,4.17
			c0.66,0.79,1.3,1.59,1.84,2.34c0.11,0.15,0.22,0.3,0.32,0.45c0.09,0.11,0.16,0.23,0.24,0.34c0.14,0.22,0.27,0.43,0.37,0.62
			c0.56,1.07,0.73,2.12,0.92,3.14c0.02,0.14,0.02,0.28,0.03,0.41c0.1,1.18-0.31,2.55-1.22,3.49c-0.95,0.95-2.39,1.03-3.71,0.65
			c-1.08-0.33-1.91-0.82-2.59-1.31c-0.33-0.24-0.67-0.5-1.01-0.77c-0.49-0.38-0.98-0.76-1.5-1.16l0,0
			c-0.43-0.34-0.89-0.69-1.37-1.07c-0.49-0.38-1.12-1.03-1.69-1.47c-0.96-0.72-3.22-1.97-4.5-1.58c-1.37,0.44-2.32,0.66-3,1.9
			c-0.3,0.54-0.01,2.57,0.17,3.21c0.26,0.99,1.51,1.87,2.39,2.36c0.76,0.43,1.45,0.88,2.14,1.39c0.58,0.43,1.17,0.85,1.77,1.25
			l3.82-5.56l-3.82,5.56c0.51,0.35,1.03,0.68,1.55,1c0.22,0.15,0.63,0.37,0.95,0.56c0.34,0.2,0.67,0.4,1.04,0.59
			c1.43,0.8,2.91,1.44,4.43,1.98c1.55,0.53,3.1,0.84,4.62,0.9c0.06,0.2,0.18,0.38,0.23,0.56c0.05,0.13,0.14,0.28,0.09,0.41
			c-0.05,0.19-0.06,0.38-0.12,0.55c-0.08,0.16-0.11,0.33-0.19,0.48h0c-0.17,0.3-0.29,0.62-0.54,0.97c-0.2,0.32-0.57,0.9-1.1,1.29
			c-0.24,0.15-0.52,0.32-0.64,0.33c-0.1,0.05-0.09,0.02-0.11,0.05l-0.01,0.01l-0.07-0.02l-0.13-0.04c-0.09-0.02-0.17-0.05-0.25-0.07
			c-0.92-0.33-1.84-1.05-2.84-1.59c-0.13-0.08-0.27-0.17-0.39-0.25c-2.3-1.45-5.09-2.34-7.51-3.87c-1.94-1.23-2.88-2.31-4.16-3.49
			L233,272.7c1.25,0.93,2.5,1.77,3.82,2.64c1.57,1.04,3.19,1.99,4.78,3.02c1.29,0.84,2.45,1.96,3.9,2.64
			c0.41,0.19,0.95,0.4,1.51,0.61c-0.26,0.43-0.29,0.81-0.45,1.22c-0.09,0.21-0.18,0.43-0.34,0.58c-0.44,0.47-0.97,0.81-1.6,1l0,0
			c-0.64,0.21-1.31,0.27-2.2,0.29c-1.09,0.04-2.98,0.01-4.96-0.28c-1.98-0.28-4-0.71-5.29-1.15c-1.8-0.6-3.51-1.49-5.27-2.21
			c-0.23-0.1-0.47-0.21-0.7-0.31c-4.1-1.83-8.53-3.01-12.68-4.91c-3.34-1.53-5.17-2.83-7.58-4.29l-0.86,1.62l-0.72,1.35l0.72-1.35
			l0.86-1.62c-0.99-0.6-2.07-1.23-3.38-1.95c-1.22-0.66-3.11-1.58-4.91-2.57c-0.88-0.49-1.79-1.01-2.41-1.45
			c-0.18-0.12-0.29-0.21-0.4-0.29c-0.05-0.05-0.11-0.08-0.16-0.13l-0.22-0.21c-0.31-0.3-0.58-0.57-0.82-0.82
			c-1.31-1.39-2.36-2.96-3.49-4.41c-0.14-0.2-0.29-0.41-0.43-0.6c-1.24-1.75-2.53-3.41-3.66-5.14c-1.14-1.72-2.11-3.54-2.63-5.45
			c-0.79-3.09-0.38-4.99,0.23-7.18l-3.15-0.67l-3.94-0.85c-0.55,2.69-0.58,5.47-0.1,8.2c0.57,3.28,1.82,6.29,3.26,9.07
			c1.18,2.26,2.27,4.59,3.86,6.5c0.66,0.82,1.67,1.84,2.55,2.74c1.23,1.31,2.51,2.45,3.79,3.59c0.92,0.82,1.73,1.34,2.5,1.87
			c0.75,0.51,1.52,1.02,2.31,1.55c2.72,1.88,5.27,3.3,7.82,4.62l0,0c2.09,1.08,4.17,2.09,6.35,3.11c2.61,1.23,5.27,2.38,7.89,3.59
			c2.14,1,4.18,2.26,6.41,3.07c0.95,0.34,2.28,0.73,3.46,1.07c3.36,1.08,6.61,1.66,10.38,2.55c1.67,0.4,3.35,0.64,5.1,0.69
			c0.41,0,0.96,0.01,1.46-0.02c0.51-0.05,1.02-0.11,1.52-0.18c0.51-0.05,0.98-0.24,1.46-0.36c0.24-0.07,0.49-0.12,0.71-0.22
			l0.68-0.31l-1.29-2.51l1.29,2.51l0.62-0.28l0.57-0.37c0.38-0.23,0.72-0.54,1.06-0.83c0.85-0.76,1.86-1.79,2.42-2.83
			c0.45-0.84,0.79-1.54,0.99-2.34c0.12-0.47,0.16-0.93,0.11-1.44c1.22-0.17,2.29-0.57,3.33-1.05c1.38-0.67,2.51-1.63,3.4-2.74
			c0.85-1.15,1.46-2.44,1.76-3.79l-4.13-0.96l-2.34-0.54l2.34,0.54l4.13,0.96c0.14-0.61,0.18-1.22,0.24-1.83
			c-0.02-0.76,0.16-1.74-0.03-2.46c-0.11-0.6-0.2-1.09-0.43-1.51c0,0,0,0,0,0c0.79-0.67,1.48-1.47,2.03-2.35
      c0.86-1.22,1.26-2.67,1.31-4.11C265.41,261.78,265.02,260.02,264.47,258.5z"
          />
        </g>
        <g class="right-hands">
          <path
            class="st3"
            d="M235.97,281.1c-0.95-0.51-2.01-0.85-3.11-0.85c-0.12,0-0.23,0.02-0.35,0.02c-0.35,1.15-0.79,2.31-1.36,3.49
			c-0.95,1.93-2.24,3.94-3.98,5.6c-0.18,0.18-0.38,0.35-0.57,0.53c0.59,0.41,1.26,0.7,1.99,0.87c0.83,0.2,1.77,0.2,2.63-0.12
			c0.54-0.17,1-0.5,1.43-0.86c1.22-1.16,2.23-2.51,3.06-3.92c0.45-0.79,0.83-1.6,1.02-2.45c0.08-0.42,0.13-0.87,0.03-1.29
			C236.65,281.69,236.36,281.32,235.97,281.1z"
          />
          <polygon class="st3" points="230.62,272.05 229.1,273.2 229.1,273.2 		" />
          <polygon class="st3" points="257.12,258.45 257.73,257.55 257.73,257.55 		" />
          <path
            class="st4"
            d="M261.06,255.67l0.01,0l0.03,0.01l0.03,0.01l0.03,0.01l0.03,0h0.03l0.03,0l0.07-0.01l0.03-0.01l0.02-0.01
			c0,0,0-0.01,0-0.01C261.29,255.65,261.2,255.66,261.06,255.67z"
          />
          <path
            class="st4"
            d="M261.38,255.66l-0.02,0.01c0.01,0.02,0.01,0.03,0.02,0.05c0.01,0.05,0.03,0.1,0.04,0.15
			c0-0.01,0.01-0.02,0.01-0.02l0.09-0.13l0.04-0.06l0.01-0.02l0,0l0,0l0,0c-0.11,0.01,0.01,0-0.18,0.01L261.38,255.66z"
          />
          <path
            class="st4"
            d="M266.51,227.32c-0.31-0.36-0.62-0.72-0.94-1.09c-0.16-0.18-0.33-0.37-0.5-0.57
			c-0.19-0.18-0.41-0.35-0.62-0.53c-0.44-0.36-0.92-0.74-1.47-1.14c-0.75-0.43-1.51-0.83-2.28-1.21c-0.77-0.37-1.49-0.62-2.3-0.87
			c-1.59-0.49-3.24-0.9-4.9-1.42c-0.18-0.07-0.38-0.11-0.57-0.17c-1.43-0.38-2.87-0.89-4.37-1.1c-1.08-0.15-2.74-0.16-4.39-0.04
			c-1.65,0.12-3.26,0.35-4.31,0.49c-1.13,0.12-2.07,0.23-2.94,0.32l0,0c-0.53,0.06-1.02,0.11-1.52,0.17
			c-0.49,0.08-0.97,0.15-1.48,0.23c-1.05,0.24-2.2,0.51-3.55,1.05c-3.39,1.3-6.27,3.47-9.32,5.12c-0.18,0.09-0.35,0.19-0.52,0.29
			c-1.26,0.77-2.61,1.44-3.78,2.36c-0.82,0.68-1.95,1.85-2.89,3.14c-0.96,1.28-1.75,2.62-2.29,3.48c-0.56,0.94-1.04,1.7-1.45,2.42
			c-0.28,0.48-0.41,0.65-0.59,0.96c-0.17,0.28-0.33,0.57-0.48,0.89c-0.3,0.63-0.55,1.39-0.6,2.32c-0.03,1.14,0.29,2.24,1.11,2.94
			c0.37,0.37,0.83,0.64,1.27,0.92c0.46,0.24,0.92,0.47,1.4,0.68c0.11,0.05,0.22,0.09,0.34,0.13c0.85,0.23,1.82,0.49,2.71,0.07
			c0.64-0.27,1.46-1.16,1.81-2.23c0.11-0.25,0.2-0.51,0.31-0.74c0.12-0.24,0.18-0.42,0.37-0.71c0.22-0.42,0.85-1.25,1.28-1.75
			c0.97-1.13,1.92-1.93,2.82-2.61l0,0c0.17-0.11,0.34-0.22,0.5-0.33c0.17-0.1,0.33-0.19,0.5-0.29l0.5-0.28
			c0.17-0.09,0.34-0.18,0.51-0.27c0.35-0.19,0.71-0.38,1.1-0.59c0.41-0.23,0.85-0.47,1.34-0.74c0.05-0.02,0.1-0.05,0.15-0.07
			c0.04-0.02,0.07-0.03,0.11-0.05c0.04-0.01,0.09-0.03,0.13-0.04c0.05-0.01,0.1-0.02,0.15-0.03l0.08-0.01l0.08-0.01l0.09,0l0.09,0
			l0.09,0.01l0.09,0.01l0.1,0.02l0.1,0.03l0.1,0.04l0.1,0.04l0.11,0.05l0.03,0.02l0.01,0.01l0.01,0l0,0h0l0,0l0.06-0.04l0.11-0.08
			l0.12-0.07l0.12-0.06l0.12-0.05l0.12-0.04l0.12-0.03l0.12-0.02l0.06,0h0.06l0.06,0l0.06,0.01l0.06,0.01l0.06,0.02l0.04,0.01
			c0,0,0,0,0,0c0.02,0.01,0.04,0.02,0.06,0.02l0.03,0.01l0.03,0.01c0.46,0.19,0.91,0.38,1.33,0.56c0.22,0.1,0.44,0.2,0.64,0.28
			c0.1,0.05,0.19,0.09,0.28,0.13c0.09,0.05,0.17,0.09,0.25,0.13c0.16,0.09,0.32,0.18,0.47,0.27c0.15,0.09,0.29,0.18,0.42,0.27
			c0.13,0.09,0.26,0.18,0.39,0.26c0.12,0.09,0.24,0.18,0.36,0.26l0,0c1.61,1.12,2.77,2.17,4.99,3.41c2.76,1.54,5.83,2.57,8.4,4.43
			c0.14,0.11,0.29,0.22,0.44,0.32c1.12,0.75,2.12,1.69,3.24,2.44c1.62,1.06,5.28,2.73,6.95,3.77c0.9,0.58,1.62,1.08,2.27,1.62
			l-2.08,3.06c0,0,0,0,0,0l2.08-3.06c0.1,0.09,0.2,0.19,0.29,0.28l0.28,0.28c0.18,0.18,0.36,0.36,0.55,0.55l0.04,0.04l0.05,0.03
			l0.04,0.02l0,0l0.01-0.01l0.09-0.04c0.01,0,0.01-0.01,0.02-0.01l-0.01,0l-0.03-0.01l-0.03-0.01l-0.03-0.01l-0.03-0.02l-0.01-0.01
			l0,0h0l0,0c0.14-0.01,0.23-0.02,0.3-0.03l0.12-0.05l0.15-0.06c0.1-0.04,0.2-0.08,0.3-0.11c0.1-0.03,0.19-0.06,0.29-0.09
			c0.09-0.03,0.19-0.06,0.27-0.08l0,0c0.85-0.33,1.61-0.68,2.36-1.17c0.76-0.48,1.52-1.12,2.23-2.12c0.24-0.3,0.42-0.63,0.6-0.97
			c0.2-0.32,0.34-0.68,0.48-1.04l0.22-0.53l0.21-0.62c0.13-0.42,0.29-0.82,0.4-1.24c0.51-1.65,0.86-3.29,1.36-4.88
			c0.04-0.18,0.09-0.36,0.14-0.54c0.07-0.34,0.16-0.68,0.26-1.02l0.22-1.02c0.18-0.69,0.24-1.37,0.26-2.06
			c0.04-1-0.27-2.47-0.74-3.84c-0.29-0.67-0.56-1.33-0.86-1.9c-0.34-0.56-0.62-1.07-0.84-1.48c-0.6-0.82-0.94-1.6-1.46-2.22
			l2.89-2.36c0,0,0,0,0,0l-2.89,2.36C267.03,228.09,266.79,227.69,266.51,227.32z"
          />
          <polygon class="st4" points="261.32,255.55 261.32,255.55 261.32,255.55 		" />
          <path
            class="st2"
            d="M276.87,231.49c-0.22-0.74-0.39-1.49-0.68-2.17c-0.3-0.68-0.6-1.34-0.91-1.99c-0.34-0.63-0.74-1.21-1.11-1.79
			c-0.19-0.29-0.37-0.59-0.58-0.86l-0.66-0.78l-2.73,2.23l-2.89,2.36c0.51,0.63,0.86,1.4,1.46,2.22c0.22,0.41,0.5,0.92,0.84,1.48
			c0.3,0.58,0.58,1.24,0.86,1.9c0.46,1.37,0.78,2.84,0.74,3.84c-0.02,0.69-0.08,1.38-0.26,2.06l-0.22,1.02
			c-0.1,0.34-0.18,0.68-0.26,1.02c-0.05,0.18-0.09,0.37-0.14,0.54c-0.49,1.59-0.85,3.22-1.36,4.88c-0.11,0.42-0.27,0.82-0.4,1.24
			l-0.21,0.62l-0.22,0.53c-0.14,0.36-0.29,0.72-0.48,1.04c-0.18,0.34-0.37,0.67-0.6,0.97c-0.71,1-1.47,1.63-2.23,2.12
			c-0.75,0.49-1.51,0.84-2.36,1.17l0,0c-0.09,0.03-0.18,0.06-0.27,0.08c-0.09,0.03-0.19,0.06-0.29,0.09
			c-0.09,0.04-0.19,0.07-0.3,0.11l-0.15,0.06l-0.12,0.05c-0.07,0.01-0.16,0.01-0.3,0.03l0,0h0l0,0l0.01,0.01l0.03,0.02l0.03,0.01
			l0.03,0.01l0.03,0.01l0.01,0c-0.01,0-0.01,0.01-0.02,0.01l-0.09,0.04l-0.01,0.01l0,0l-0.04-0.02l-0.05-0.03l-0.04-0.04
			c-0.19-0.19-0.37-0.37-0.55-0.55l-0.28-0.28c-0.1-0.09-0.19-0.18-0.29-0.28l-2.08,3.06l-0.61,0.9l0.61-0.9l2.08-3.06
			c-0.65-0.54-1.37-1.04-2.27-1.62c-1.67-1.05-5.33-2.71-6.95-3.77c-1.13-0.75-2.13-1.7-3.24-2.44c-0.15-0.11-0.29-0.22-0.44-0.32
			c-2.57-1.86-5.64-2.89-8.4-4.43c-2.22-1.24-3.39-2.29-4.99-3.41l0,0c-0.12-0.08-0.24-0.17-0.36-0.26
			c-0.13-0.09-0.25-0.17-0.39-0.26c-0.14-0.09-0.28-0.17-0.42-0.27c-0.15-0.09-0.31-0.18-0.47-0.27c-0.08-0.04-0.16-0.08-0.25-0.13
			c-0.09-0.04-0.18-0.09-0.28-0.13c-0.2-0.09-0.41-0.18-0.64-0.28c-0.42-0.18-0.87-0.37-1.33-0.56l-0.03-0.01l-0.03-0.01
			c-0.02-0.01-0.04-0.02-0.06-0.02c0,0,0,0,0,0l-0.04-0.01l-0.06-0.02l-0.06-0.01l-0.06-0.01l-0.06,0h-0.06l-0.06,0l-0.12,0.02
			l-0.12,0.03l-0.12,0.04l-0.12,0.05l-0.12,0.06l-0.12,0.07l-0.11,0.08l-0.06,0.04l0,0h0l0,0l-0.01,0l-0.01-0.01l-0.03-0.02
			l-0.11-0.05l-0.1-0.04l-0.1-0.04l-0.1-0.03l-0.1-0.02l-0.09-0.01l-0.09-0.01l-0.09,0l-0.09,0l-0.08,0.01l-0.08,0.01
			c-0.05,0.01-0.1,0.02-0.15,0.03c-0.05,0.02-0.09,0.03-0.13,0.04c-0.04,0.02-0.08,0.03-0.11,0.05c-0.05,0.03-0.11,0.05-0.15,0.07
			c-0.49,0.27-0.93,0.51-1.34,0.74c-0.39,0.21-0.75,0.4-1.1,0.59c-0.17,0.09-0.34,0.18-0.51,0.27l-0.5,0.28
			c-0.17,0.1-0.33,0.19-0.5,0.29c-0.16,0.11-0.33,0.21-0.5,0.33l0,0c-0.9,0.68-1.85,1.47-2.82,2.61c-0.43,0.5-1.06,1.33-1.28,1.75
			c-0.19,0.29-0.25,0.47-0.37,0.71c-0.12,0.23-0.2,0.49-0.31,0.74c-0.35,1.06-1.17,1.96-1.81,2.23c-0.89,0.41-1.86,0.15-2.71-0.07
			c-0.11-0.05-0.23-0.08-0.34-0.13c-0.48-0.22-0.94-0.44-1.4-0.68c-0.43-0.27-0.89-0.54-1.27-0.92c-0.82-0.7-1.14-1.81-1.11-2.94
			c0.05-0.93,0.3-1.68,0.6-2.32c0.15-0.32,0.31-0.61,0.48-0.89c0.18-0.3,0.3-0.48,0.59-0.96c0.41-0.72,0.89-1.48,1.45-2.42
			c0.53-0.86,1.33-2.2,2.29-3.48c0.94-1.29,2.07-2.46,2.89-3.14c1.16-0.93,2.52-1.6,3.78-2.36c0.17-0.1,0.35-0.2,0.52-0.29
			c3.05-1.64,5.93-3.81,9.32-5.12c1.35-0.54,2.5-0.8,3.55-1.05c0.5-0.08,0.99-0.16,1.48-0.23c0.49-0.05,0.99-0.11,1.52-0.17l0,0
			c0.87-0.09,1.81-0.2,2.94-0.32c1.05-0.14,2.66-0.37,4.31-0.49c1.64-0.12,3.31-0.11,4.39,0.04c1.5,0.22,2.94,0.73,4.37,1.1
			c0.19,0.06,0.39,0.11,0.57,0.17c1.66,0.52,3.31,0.93,4.9,1.42c0.81,0.25,1.53,0.5,2.3,0.87c0.77,0.39,1.53,0.78,2.28,1.21
			c0.55,0.4,1.03,0.78,1.47,1.14c0.22,0.18,0.43,0.35,0.62,0.53c0.17,0.19,0.34,0.38,0.5,0.57c0.32,0.37,0.63,0.73,0.94,1.09
			c0.28,0.38,0.52,0.78,0.8,1.17l2.89-2.36l2.73-2.23l-1.09-1.25c-0.38-0.4-0.79-0.74-1.19-1.11c-0.4-0.36-0.81-0.73-1.22-1.09
			c-0.43-0.32-0.87-0.64-1.31-0.97c-0.53-0.38-1.05-0.79-1.6-1.13l-1.66-0.98c-1.07-0.65-2.29-1.31-3.49-1.84
			c-1.95-0.89-3.83-1.92-5.87-2.35c-0.86-0.18-2.05-0.35-3.1-0.45c-3-0.43-5.81-0.26-8.96-0.44c-2.8-0.14-5.37,0.08-7.87,0.57l0,0
			l-1.53,0.33l-1.52,0.43c-1.03,0.29-1.92,0.64-2.91,0.96c-2.32,0.84-4.59,1.82-6.86,2.83c-1.84,0.86-3.85,1.45-5.56,2.62
			c-0.72,0.48-1.67,1.24-2.48,1.92c-2.41,1.89-4.27,4.08-6.51,6.43c-1.98,2.1-3.49,4.32-4.59,6.73c-0.21,0.44-0.5,1.11-0.73,1.73
			c-0.26,0.62-0.44,1.26-0.64,1.9c-0.21,0.64-0.32,1.29-0.47,1.93c-0.09,0.65-0.24,1.3-0.27,1.96c-0.28,3.13,0.19,6.19,1.96,8.63
			c1.42,1.96,3.32,3.85,5.77,4.48c0.5,0.16,1.13,0.22,1.78,0.3c0.66,0.01,1.34,0.04,1.98-0.05c1.82-0.12,3.54-0.78,5.02-1.77
			c0.38-0.23,0.71-0.54,1.07-0.81c0.35-0.28,0.65-0.62,0.98-0.92c0.31-0.32,0.58-0.69,0.88-1.04c0.29-0.38,0.58-0.76,0.87-1.15
			c1.02-1.44,2.09-3.06,2.63-3.57c0.68-0.74,1.38-1.42,2.11-2.06l0,0l0.31-0.27l0.32-0.26l0.16-0.13l0.16-0.13l0.32-0.25l0.03-0.02
			l0.03-0.02l0.02-0.01l0.2,0.12c0.01,0.01,0.03,0.02,0.04,0.03c-0.03,0.01-0.06,0.01-0.08,0.02l0.04,0.01l0.08,0.02l0.07,0.02
			c0.25,0.15,0.5,0.3,0.75,0.45c0.3,0.17,0.6,0.34,0.9,0.51l0,0c1.37,0.76,2.72,1.5,4.12,2.28c1.68,0.94,3.37,1.86,4.99,2.9
			c1.32,0.85,2.45,2.01,3.81,2.77c0.57,0.32,1.4,0.71,2.12,1.08c2,1.13,4.03,1.91,5.97,3.36c1.71,1.28,3.31,2.34,4.85,3.35l0,0
			l1.14,0.72l0.29,0.18l0.27,0.18c0.18,0.12,0.36,0.25,0.54,0.37l0.11,0.07l0.11,0.07l0.12,0.06l0.13,0.06l0.13,0.05l0.14,0.05
			l0.14,0.05l0.15,0.04l0.15,0.03l0.15,0.02l0.15,0c0.05,0,0.1-0.01,0.15-0.01l0.07-0.01l0.07-0.01l0.07-0.02l0.07-0.02l0.07-0.03
			l0.07-0.03l0.04-0.02l0.02,0.03l0.04,0.06l0.08,0.1l0.08,0.08l0.08,0.07l0.08,0.06l0.08,0.05l0.08,0.04l0.01,0l0.02,0.02
			l0.13,0.07l0.12,0.05c0.04,0.01,0.08,0.02,0.11,0.04c0.04,0.01,0.07,0.02,0.1,0.02c0.03,0,0.06,0.01,0.09,0.01
			c0.03,0,0.05,0,0.08,0c0.05,0,0.09-0.01,0.13-0.01l0.38-0.05l0.32-0.05l0.31-0.06l0.29-0.06l0.29-0.07l0.27-0.08l0.54-0.16
			l0.51-0.19l0.25-0.1l0.25-0.11l0.48-0.22l0.24-0.11l0.23-0.12l-0.61-1.21l0.61,1.21c2.06-1.06,3.89-2.48,5.48-4.26
			c0.97-1.04,1.75-2.24,2.48-3.44c0.33-0.61,0.65-1.25,0.95-1.85l0.78-1.74c0.81-1.91,1.86-3.8,2.27-5.92
			c0.1-0.44,0.14-0.99,0.21-1.55c0.07-0.56,0.12-1.15,0.13-1.72C278.27,237.91,277.71,234.86,276.87,231.49z M261.32,255.55
			C261.32,255.55,261.32,255.55,261.32,255.55L261.32,255.55L261.32,255.55z M261.58,255.63L261.58,255.63L261.58,255.63l-0.01,0.02
			l-0.04,0.06l-0.09,0.13c0,0.01-0.01,0.01-0.01,0.02c-0.01-0.05-0.03-0.1-0.04-0.15c-0.01-0.02-0.01-0.03-0.02-0.05l-0.02,0.01
			l-0.03,0.01l-0.07,0.01l-0.03,0h-0.03l-0.03,0l-0.03-0.01l-0.03-0.01l-0.03-0.01l-0.01,0c0.14-0.01,0.23-0.02,0.3-0.02
			c0,0.01,0,0.01,0,0.01l0.02-0.01l0.02-0.01C261.59,255.63,261.46,255.64,261.58,255.63L261.58,255.63z"
          />
          <path
            class="st2"
            d="M228,243.75l-0.04,0l-0.04,0l-0.04,0.01l-0.04,0.01l-0.04,0.01l-0.04,0.02l-0.02,0.01l-0.01,0.01l-0.01,0
			c0.15-0.03,0.19-0.04,0.34-0.06l-0.01,0L228,243.75z"
          />
          <path
            class="st4"
            d="M206.53,263.29c-0.9-0.48-1.89-0.85-2.96-0.92c-1.07-0.09-2.2,0.13-3.32,0.61c-1.27,0.56-2.2,1.54-2.83,2.56
			c-0.62,1.04-1.01,2.11-1.17,3.29c-0.03,0.41,0.07,0.85,0.26,1.22c0.19,0.39,0.51,0.67,0.77,0.88c0.49,0.33,0.99,0.58,1.5,0.75
			c1.07-1.93,2.81-4.49,5.35-6.48c0.82-0.65,1.72-1.23,2.65-1.71C206.71,263.43,206.63,263.34,206.53,263.29z"
          />
          <path
            class="st4"
            d="M213.19,272.37c0.23-0.15,0.47-0.32,0.71-0.47c0.93-0.63,1.87-1.08,2.79-1.46c-0.01,0-0.01-0.01-0.02-0.02
			c-0.9-0.48-1.89-0.85-2.96-0.92c-1.07-0.09-2.2,0.13-3.32,0.61c-1.27,0.56-2.2,1.54-2.83,2.56c-0.62,1.04-1.01,2.11-1.17,3.29
			c-0.03,0.41,0.07,0.84,0.26,1.23c0.19,0.39,0.51,0.67,0.77,0.88c0.14,0.1,0.28,0.18,0.42,0.26c0.04-0.07,0.07-0.13,0.11-0.2
			C209.26,275.95,211.1,273.78,213.19,272.37z"
          />
          <path
            class="st4"
            d="M224.01,277.04l5.09-3.84c0,0,0,0,0,0L224.01,277.04c-1.04-0.53-2.15-0.88-3.36-0.96
			c-0.69-0.04-1.45,0.23-2.11,0.6c-0.67,0.37-1.26,0.83-1.8,1.25c-0.39,0.33-0.76,0.74-1.03,1c-0.61,0.61-1.43,1.07-2.07,1.87
			c-0.73,0.96-1.3,2.05-1.51,3.19c-0.09,0.48-0.06,0.97,0.16,1.4c0.17,0.44,0.44,0.83,0.75,1.18l-3.04,3.21l3.04-3.21
			c0.82,0.85,2.05,1.11,3.32,1.1c1.17-0.01,2.21-0.67,3.06-1.26c0,0,0.01,0,0.01-0.01c0.36-1.1,0.84-2.19,1.39-3.26
			c0.68-1.31,1.7-2.94,3.04-4.5c0.25-0.3,0.53-0.58,0.8-0.87C224.53,277.47,224.32,277.2,224.01,277.04z"
          />
          <path
            class="st2"
            d="M243.92,275.12c-1.38-1.22-3.35-2.21-5.84-2.65c-1.29-0.25-3.03-0.22-4.92,0.21
			c-0.22-0.65-0.55-1.26-1.06-1.75l0,0c-0.74-0.63-1.6-1.33-2.88-1.77c-1.16-0.45-3.08-0.81-5.02-0.67
			c-0.39,0.02-0.78,0.06-1.16,0.12c-0.08-0.59-0.21-1.16-0.43-1.71c-0.4-1.07-1.22-2.08-2.34-2.78c-1.83-1.12-4.11-2.03-6.89-2.16
			c-0.14-0.01-0.3,0-0.44,0c-0.06-0.76-0.19-1.49-0.48-2.19c-0.4-1.07-1.22-2.08-2.34-2.78c-1.83-1.12-4.11-2.03-6.89-2.16
			c-1.28-0.05-2.89,0.12-4.53,0.67c-1.65,0.53-3.28,1.47-4.7,2.59c-2.89,2.25-4.74,5.25-5.75,7.22c-0.72,1.38-1.31,2.84-1.62,4.35
			c-0.31,1.49-0.26,3.13,0.43,4.54c0.21,0.35,0.35,0.77,0.61,1.06c1.04,1.46,2.53,2.32,4.14,2.83c1.46,0.47,3.08,0.63,4.79,0.55
			c0.02,0.92,0.2,1.84,0.6,2.68c0.21,0.35,0.35,0.77,0.62,1.06c1.04,1.46,2.53,2.32,4.14,2.83c1.05,0.34,2.2,0.51,3.39,0.56
			c-0.1,1.19-0.01,2.21,0.28,3.21c0.38,1.27,0.93,2.4,1.8,3.49l0,0c0.73,0.87,1.77,1.63,3.16,2.14c1.29,0.49,3.45,0.66,5.55,0.24
			c1.33-0.25,2.6-0.69,3.68-1.12c0.06,0.1,0.11,0.2,0.18,0.3c0.3,0.4,0.57,0.84,0.94,1.17c2.09,2.18,5.23,3.07,8.22,3
			c0.76-0.06,1.5-0.1,2.25-0.28c0.72-0.13,1.44-0.39,2.14-0.64c1.39-0.57,2.63-1.41,3.69-2.44c1.97-2.01,3.63-4.22,5.04-6.45
			c1.74-2.8,2.69-5.08,3.13-7.22c0.21-1.07,0.28-2.11,0.1-3.18C245.35,276.96,244.77,275.87,243.92,275.12z M204.14,265.22
			c-2.54,1.99-4.28,4.55-5.35,6.48c-0.52-0.17-1.01-0.42-1.5-0.75c-0.26-0.21-0.58-0.49-0.77-0.88c-0.19-0.38-0.29-0.82-0.26-1.22
			c0.16-1.18,0.55-2.25,1.17-3.29c0.63-1.02,1.55-2,2.83-2.56c1.12-0.49,2.25-0.71,3.32-0.61c1.07,0.07,2.06,0.44,2.96,0.92
			c0.11,0.06,0.18,0.15,0.27,0.22C205.87,263.99,204.97,264.57,204.14,265.22z M207.96,278.14c-0.04,0.07-0.07,0.13-0.11,0.2
			c-0.14-0.08-0.28-0.17-0.42-0.26c-0.26-0.21-0.59-0.49-0.77-0.88c-0.19-0.38-0.29-0.82-0.26-1.23c0.16-1.18,0.55-2.25,1.17-3.29
			c0.63-1.02,1.55-2,2.83-2.56c1.12-0.49,2.25-0.7,3.32-0.61c1.07,0.07,2.06,0.44,2.96,0.92c0.01,0,0.01,0.01,0.02,0.02
			c-0.92,0.37-1.86,0.83-2.79,1.46c-0.24,0.16-0.48,0.32-0.71,0.47C211.1,273.78,209.26,275.95,207.96,278.14z M223.86,278.64
			c-1.35,1.56-2.36,3.19-3.04,4.5c-0.56,1.06-1.04,2.16-1.39,3.26c0,0-0.01,0-0.01,0.01c-0.85,0.59-1.89,1.25-3.06,1.26
			c-1.27,0.01-2.5-0.25-3.32-1.1l-3.04,3.21l3.04-3.21c-0.31-0.35-0.58-0.74-0.75-1.18c-0.23-0.42-0.25-0.92-0.16-1.4
			c0.21-1.14,0.78-2.23,1.51-3.19c0.64-0.8,1.46-1.26,2.07-1.87c0.27-0.26,0.65-0.67,1.03-1c0.55-0.42,1.13-0.88,1.8-1.25
			c0.66-0.37,1.42-0.64,2.11-0.6c1.21,0.08,2.32,0.42,3.36,0.95l5.09-3.84l1.53-1.15l-1.53,1.15l-5.09,3.84
			c0.31,0.16,0.52,0.43,0.65,0.73C224.38,278.06,224.11,278.35,223.86,278.64z M236.72,283.41c-0.19,0.85-0.57,1.66-1.02,2.45
			c-0.82,1.41-1.84,2.76-3.06,3.92c-0.43,0.36-0.89,0.7-1.43,0.86c-0.85,0.32-1.79,0.32-2.63,0.12c-0.73-0.17-1.4-0.47-1.99-0.87
			c0.19-0.17,0.4-0.35,0.57-0.53c1.74-1.66,3.03-3.67,3.98-5.6c0.57-1.18,1-2.34,1.36-3.49c0.12-0.01,0.23-0.02,0.35-0.02
			c1.11,0,2.16,0.35,3.11,0.85c0.39,0.21,0.69,0.59,0.78,1.01C236.85,282.54,236.81,282.99,236.72,283.41z"
          />
        </g>
      </g>
    </svg>
  </div>
</template>
<script>
export default {
  data() {
    return {
      parallax1: 0,
      parallax2: 0
    };
  },
  methods: {
    parallax() {
      // 동그라미 배경 스크롤시 parallax 효과
      // 스크롤시 해당 요소 transform Y 값 변경
      let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      this.parallax1 = scrollTop / 35 + "px";
      this.parallax2 = -(scrollTop / 35) + "px";
    }
  }
};
</script>
<style lang="scss" scoped>
#animation {
  width: 100%;
  height: 100%;
  .st0 {
    fill: #4b80ff;
  }

  .st1 {
    fill: #ff8800;
  }

  .st2 {
    fill: #202020;
  }

  .st3 {
    fill: none;
  }

  .st4 {
    fill: #ffffff;
  }
  .circle {
    transition: transform 0.4s linear;
  }

  #circleOrange {
    position: absolute;
    top: -1.25em;
    left: 0;
    width: 6.5em;
  }
  #circleBlue {
    position: absolute;
    bottom: 0.5em;
    right: 0;
    width: 6.5em;
  }
}

#character {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;

  #handshake {
    animation: handShake 1.2s ease-out infinite;
    animation-play-state: running;

    .left-hands {
      transform-origin: left top;
      animation: leftHandShake 1.2s ease-out infinite;
      animation-play-state: running;
    }

    .right-hands {
      transform-origin: right top;
      animation: rightHandShake 1.2s ease-out infinite;
      animation-play-state: running;
    }
  }
}
</style>
