<template>
  <div class="detail-box py-0">
    <section class="detail-box">
      <div class="inner-container">
        <header class="title-box">
          <h4>업종별 경쟁률 현황</h4>
        </header>
        <div class="content-box">
          <template v-if="!dataLoadingSurvivalYears">
            <table class="table" v-if="categories && categories.length > 0">
              <thead>
                <tr>
                  <th scope="col">카테고리</th>
                  <!-- <th scope="col">점포수</th> -->
                  <th scope="col">점포비율</th>
                  <th scope="col">매출비율</th>
                  <th scope="col">차이</th>
                  <!-- <th scope="col">경쟁도</th> -->
                </tr>
              </thead>
              <tbody>
                <tr v-for="category in categories" :key="category.id">
                  <th scope="row">
                    {{ category.baeminCategoryName }}
                  </th>
                  <!-- <td class="txt-center">{{ category.storeCnt }}</td> -->
                  <td style="position: relative;">
                    <div
                      class="bg-lightblue"
                      style="position: absolute; left: 0; top: 0; height: 100%;"
                      :style="`width: ${
                        (category.storeCntRatio / maxCntRatio) * 100
                      }%`"
                    ></div>
                    <span
                      style="position: relative; z-index: 1;"
                      :class="{
                        'text-white': category.storeCntRatio > 60,
                      }"
                    >
                      {{ category.storeCntRatio.toFixed(2) }}%
                    </span>
                  </td>
                  <td style="position: relative;">
                    <div
                      class="bg-warning"
                      style="position: absolute; left: 0; top: 0; height: 100%;"
                      :style="`width: ${
                        (category.w_total_amt_avg_ratio / maxAvgRatio) * 100
                      }%`"
                    ></div>
                    <span
                      style="position: relative; z-index: 1;"
                      :class="{
                        'text-white':
                          category.w_total_amt_avg_ratio / maxAvgRatio > 60,
                      }"
                    >
                      {{ category.w_total_amt_avg_ratio.toFixed(2) }}%
                    </span>
                  </td>
                  <td style="position: relative;">
                    <template v-if="category.gapPer > 0">
                      <div
                        class="bg-success"
                        style="
                          position: absolute;
                          left: 50%;
                          top: 0;
                          height: 100%;
                        "
                        :style="`width: ${(category.gapPer / maxGapPer) * 50}%`"
                      ></div>
                      <span
                        style="
                          position: relative;
                          z-index: 1;
                          padding-left: calc(50% + 4px);
                          text-align: left;
                        "
                      >
                        {{ category.gapPer.toFixed(2) }}%
                      </span>
                    </template>
                    <template v-else>
                      <div
                        class="bg-danger"
                        style="
                          position: absolute;
                          right: 50%;
                          top: 0;
                          height: 100%;
                        "
                        :style="`width: ${
                          (-category.gapPer / maxGapPer) * 50
                        }%`"
                      ></div>
                      <span
                        style="
                          position: relative;
                          z-index: 1;
                          padding-left: calc(50% + 4px);
                          text-align: left;
                        "
                      >
                        {{ category.gapPer.toFixed(2) }}%
                      </span>
                    </template>
                  </td>
                  <!-- <td>1.62</td> -->
                </tr>
              </tbody>
            </table>
            <template v-else>
              <div class="txt-center py-4 bg-light">
                <p class="txt-tiny">해당하는 데이터가 없습니다</p>
              </div>
            </template>
          </template>
          <template v-else>
            <div class="no-data">
              <div class="loader txt-center">
                <img
                  src="@/assets/svg/common/loader.svg"
                  alt="로딩중"
                  class="w-12"
                />
                <p class="txt-tiny">잠시만 기다려주세요 상권 분석 중입니다</p>
              </div>
            </div>
          </template>
        </div>
      </div>
    </section>
    <!-- <section class="detail-box">
      <div class="inner-container">
        <header class="title-box">
          <h4>평균영업기간</h4>
        </header>
        <div class="content-box">
          <template v-if="!dataLoadingSurvivalYears">
            <table class="table txt-center" v-if="survivalYears.length > 0">
              <thead>
                <tr>
                  <th></th>
                  <th scope="col">카테고리</th>
                  <th scope="col">평균영업기간</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(years, index) in survivalYears" :key="index">
                  <th scope="row">
                    {{ index + 1 }}
                  </th>
                  <td>
                    {{ years.baeminCategoryName }}
                  </td>
                  <td>{{ years.survivalYearsAvg }}년</td>
                </tr>
              </tbody>
            </table>
            <template v-else>
              <div class="txt-center py-4 bg-light">
                <p class="txt-tiny">해당하는 데이터가 없습니다</p>
              </div>
            </template>
          </template>
          <template v-else>
            <div class="no-data">
              <div class="loader txt-center">
                <img
                  src="@/assets/svg/common/loader.svg"
                  alt="로딩중"
                  class="w-12"
                />
                <p class="txt-tiny">잠시만 기다려주세요 상권 분석 중입니다</p>
              </div>
            </div>
          </template>
        </div>
      </div>
    </section> -->
  </div>
</template>
<script>
import DetailInfoBox from '@/components/spaces/DetailInfoBox'; // 상세정보 컴포넌트
import BarChart from '@/components/UI/Chart/BarChart';

export default {
  props: ['bCode'],
  components: {
    BarChart,
    DetailInfoBox,
  },
  data() {
    return {
      categories: [],
      survivalYears: [],
      dataLoading: true,
      dataLoadingFoodCategory: true,
      dataLoadingSurvivalYears: true,
      maxCntRatio: null,
      maxAvgRatio: null,
      maxGapPer: null,
    };
  },

  methods: {
    getAnalysisCategory() {
      this.$getAnalysisTabInfo('food-category-summary', this.bCode).then(
        (res) => {
          this.dataLoadingFoodCategory = false;
          this.categories = res.data;
          const maxCntRatioArr = this.categories.map((data) => {
            return data.storeCntRatio;
          });
          this.maxCntRatio = Math.max(...maxCntRatioArr);
          const maxAvgRatioArr = this.categories.map((data) => {
            return data.w_total_amt_avg_ratio;
          });
          this.maxAvgRatio = Math.max(...maxAvgRatioArr);
          const maxGapPerArr = this.categories.map((data) => {
            return data.gapPer;
          });
          this.maxGapPer = Math.max(...maxGapPerArr);
        },
      );

      this.$getAnalysisTabInfo('survival-years', this.bCode).then((res) => {
        this.dataLoadingSurvivalYears = false;
        this.survivalYears = res.data;
      });
    },
  },

  mounted() {
    this.getAnalysisCategory();
  },
};
</script>
