<template>
  <div class="detail-box py-0">
    <section class="detail-box">
      <div class="inner-container">
        <header class="title-box">
          <h4>주거 인구 현황</h4>
        </header>
        <div class="content-box">
          <template v-if="!dataLoadingMovingPopulation">
            <div class="mt-4">
              <h5>
                1) 성별
              </h5>
              <div class="mt-4">
                <template
                  v-if="
                    residentGenderCountData &&
                    residentGenderCountData['남성'] &&
                    residentGenderCountData['여성']
                  "
                >
                  <div class="horizontal-stacked-bars">
                    <div
                      class="horizontal-stacked-bar bar-gender-male"
                      :style="`width:${
                        (residentGenderCountData['남성'] / residentTotalCount) *
                        100
                      }%`"
                    >
                      <p>
                        {{
                          (
                            (residentGenderCountData['남성'] /
                              residentTotalCount) *
                            100
                          ).toFixed(2)
                        }}%
                      </p>
                      <span>남성</span>
                    </div>
                    <div
                      class="horizontal-stacked-bar bar-gender-female"
                      :style="`width:${
                        (residentGenderCountData['여성'] / residentTotalCount) *
                        100
                      }%`"
                    >
                      <p>
                        {{
                          (
                            (residentGenderCountData['여성'] /
                              residentTotalCount) *
                            100
                          ).toFixed(2)
                        }}%
                      </p>
                      <span>여성</span>
                    </div>
                    <div
                      class="horizontal-stacked-bar bar-gender-etc"
                      :style="`width:${
                        ((residentTotalCount -
                          (+residentGenderCountData['남성'] +
                            +residentGenderCountData['여성'])) /
                          residentTotalCount) *
                        100
                      }%`"
                    ></div>
                  </div>
                  <div class="mt-4">
                    <table
                      class="table table-sm txt-center"
                      v-if="residentGenderRatioData && residentTotalCount"
                    >
                      <thead>
                        <!-- <tr> -->
                        <!-- <th scope="col" rowspan="2">구분</th> -->
                        <!-- <th scope="col" rowspan="2">총 인구</th> -->
                        <!-- <th
                            scope="colgroup"
                            :colspan="residentGenderRatioData.labels.length"
                          >
                            성별
                          </th> -->
                        <!-- </tr> -->
                        <tr>
                          <th scope="col">구분</th>
                          <th
                            scope="col"
                            v-for="(label,
                            index) in residentGenderRatioData.labels"
                            :key="index"
                          >
                            {{ label }}
                          </th>
                        </tr>
                      </thead>
                      <tbody v-if="residentGenderRatioData.datasets[0]">
                        <!-- <tr>
                          <th scope="row">명</th>
                          <td rowspan="2">
                            {{ residentTotalCount | numeralFormat('0,000') }}
                          </td>
                          <td
                            v-for="(data, index) in residentGenderRatioData
                              .datasets[0].data"
                            :key="index"
                          >
                            {{ data | numeralFormat('0,000') }}
                          </td>
                        </tr> -->
                        <tr>
                          <th scope="row">비율</th>
                          <td
                            v-for="(data, index) in residentGenderRatioData
                              .datasets[0].data"
                            :key="index"
                          >
                            {{
                              ((data / residentTotalCount) * 100).toFixed(2)
                            }}%
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </template>
                <template v-else>
                  <div class="txt-center py-4 bg-light">
                    <p class="txt-tiny">해당하는 데이터가 없습니다</p>
                  </div>
                </template>
              </div>
            </div>
            <div class="mt-4">
              <h5>
                2) 연령별
              </h5>
              <div class="mt-4">
                <template
                  v-if="
                    residentAgeGroupRatioData &&
                    residentAgeGroupRatioData.datasets[0].data[0]
                  "
                >
                  <div class="chart-wrapper">
                    <BarChart
                      v-if="residentAgeGroupRatioData"
                      :chartData="residentAgeGroupRatioData"
                      :options="barOptions"
                    />
                  </div>
                  <div class="mt-4">
                    <table
                      class="table table-sm txt-center"
                      v-if="residentAgeGroupCountData && residentTotalCount"
                    >
                      <thead>
                        <!-- <tr> -->
                        <!-- <th scope="col" rowspan="2">구분</th> -->
                        <!-- <th scope="col" rowspan="2">총 인구</th> -->
                        <!-- <th
                            scope="colgroup"
                            :colspan="residentAgeGroupRatioData.labels.length"
                          >
                            연령별
                          </th> -->
                        <!-- </tr> -->
                        <tr>
                          <th scope="col">구분</th>
                          <th
                            scope="col"
                            v-for="(label,
                            index) in residentAgeGroupRatioData.labels"
                            :key="index"
                          >
                            {{ label }}
                          </th>
                        </tr>
                      </thead>
                      <tbody v-if="residentAgeGroupRatioData.datasets[0]">
                        <!-- <tr>
                          <th scope="row">명</th>
                          <td rowspan="2">
                            {{ residentTotalCount | numeralFormat('0,000') }}
                          </td>
                          <td
                            v-for="(data, index) in residentAgeGroupRatioData
                              .datasets[0].data"
                            :key="index"
                          >
                            {{ data | numeralFormat('0,000') }}
                          </td>
                        </tr> -->
                        <tr>
                          <th scope="row">비율</th>
                          <td
                            v-for="(data, index) in residentAgeGroupRatioData
                              .datasets[0].data"
                            :key="index"
                          >
                            {{
                              ((data / residentTotalCount) * 100).toFixed(2)
                            }}%
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </template>
                <template v-else>
                  <div class="txt-center py-4 bg-light">
                    <p class="txt-tiny">해당하는 데이터가 없습니다</p>
                  </div>
                </template>
              </div>
            </div>
          </template>
          <template v-else>
            <div class="no-data">
              <div class="loader txt-center">
                <img
                  src="@/assets/svg/common/loader.svg"
                  alt="로딩중"
                  class="w-12"
                />
                <p class="txt-tiny">잠시만 기다려주세요 상권 분석 중입니다</p>
              </div>
            </div>
          </template>
        </div>
      </div>
    </section>
    <section class="detail-box">
      <div class="inner-container">
        <header class="title-box">
          <h4>가구 수</h4>
        </header>
        <div class="content-box">
          <template v-if="!dataLoadingMovingPopulation">
            <template
              v-if="
                residentialCountData &&
                residentialRatioData &&
                residentialRatioData.datasets[0].data[0]
              "
            >
              <div class="chart-wrapper">
                <BarChart
                  v-if="residentialRatioData"
                  :chartData="residentialRatioData"
                  :options="barOptions"
                />
              </div>
              <div class="mt-4">
                <table class="table txt-center table-sm">
                  <thead>
                    <tr>
                      <th scope="col">구분</th>
                      <!-- <th scope="col">총 가구수</th> -->
                      <th scope="col">1인</th>
                      <th scope="col">2인</th>
                      <th scope="col">3인</th>
                      <th scope="col">4인</th>
                      <th scope="col">5인</th>
                      <th scope="col">6인 이상</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr>
                      <th scope="row">세대</th>
                      <td rowspan="2">
                        {{
                          residentialTotalCountData.totalCount
                            | numeralFormat('0,000')
                        }}
                      </td>
                      <td
                        v-for="(data, index) in residentialCountData"
                        :key="index"
                      >
                        {{ data | numeralFormat('0,000') }}
                      </td>
                    </tr> -->
                    <tr>
                      <th scope="row">비율</th>
                      <td
                        v-for="(data, index) in residentialCountData"
                        :key="index"
                      >
                        {{
                          (
                            (data / residentialTotalCountData.totalCount) *
                            100
                          ).toFixed(2)
                        }}%
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </template>
            <template v-else>
              <div class="txt-center py-4 bg-light">
                <p class="txt-tiny">해당하는 데이터가 없습니다</p>
              </div>
            </template>
          </template>
          <template v-else>
            <div class="no-data">
              <div class="loader txt-center">
                <img
                  src="@/assets/svg/common/loader.svg"
                  alt="로딩중"
                  class="w-12"
                />
                <p class="txt-tiny">잠시만 기다려주세요 상권 분석 중입니다</p>
              </div>
            </div>
          </template>
        </div>
      </div>
    </section>
    <!-- <section class="detail-box">
      <header class="title-box">
        <h4>직장인 수</h4>
      </header>
      <div class="content-box">
        <template v-if="!dataLoadingEmplyee">
          <div class="txt-center mt-4" v-if="employeeTotalCount">
            <p>
              <strong class="txt-huge txt-black txt-bold">{{
                employeeTotalCount | numeralFormat('0,000')
              }}</strong>
              <span class="ml-1 txt-medium">명</span>
            </p>
          </div>
          <template v-else>
            <div class="txt-center py-4 bg-light">
              <p class="txt-tiny">해당하는 데이터가 없습니다</p>
            </div>
          </template>
        </template>
        <template v-else>
          <div class="no-data">
            <div class="loader txt-center">
              <img
                src="@/assets/svg/common/loader.svg"
                alt="로딩중"
                class="w-12"
              />
              <p class="txt-tiny">잠시만 기다려주세요 상권 분석 중입니다</p>
            </div>
          </div>
        </template>
      </div>
    </section> -->
    <section class="detail-box">
      <div class="inner-container">
        <header class="title-box">
          <h4>유동 인구 현황</h4>
        </header>
        <div class="content-box">
          <template v-if="!dataLoadingMovingPopulation">
            <div class="mt-4">
              <h5>
                1) 성별
              </h5>
              <div class="mt-4">
                <template
                  v-if="
                    movingPopulationGenderData &&
                    movingPopulationGenderData['남성'] &&
                    movingPopulationGenderData['여성']
                  "
                >
                  <div class="horizontal-stacked-bars">
                    <div
                      class="horizontal-stacked-bar bar-gender-male"
                      :style="`width:${
                        (movingPopulationGenderData['남성'] /
                          movingPopulationTotalCount) *
                        100
                      }%`"
                    >
                      <p>
                        {{
                          (
                            (movingPopulationGenderData['남성'] /
                              movingPopulationTotalCount) *
                            100
                          ).toFixed(2)
                        }}%
                      </p>
                      <span>남성</span>
                    </div>
                    <div
                      class="horizontal-stacked-bar bar-gender-female"
                      :style="`width:${
                        (movingPopulationGenderData['여성'] /
                          movingPopulationTotalCount) *
                        100
                      }%`"
                    >
                      <p>
                        {{
                          (
                            (movingPopulationGenderData['여성'] /
                              movingPopulationTotalCount) *
                            100
                          ).toFixed(2)
                        }}%
                      </p>
                      <span>여성</span>
                    </div>
                    <div
                      class="horizontal-stacked-bar bar-gender-etc"
                      :style="`width:${
                        ((movingPopulationTotalCount -
                          (+movingPopulationGenderData['남성'] +
                            +movingPopulationGenderData['여성'])) /
                          movingPopulationTotalCount) *
                        100
                      }%`"
                    ></div>
                  </div>
                  <div class="mt-4">
                    <table
                      class="table table-sm txt-center"
                      v-if="movingPopulationTotalCount"
                    >
                      <thead>
                        <!-- <tr> -->
                        <!-- <th scope="col" rowspan="2">구분</th> -->
                        <!-- <th scope="col" rowspan="2">총 인구</th> -->
                        <!-- <th scope="colgroup" colspan="2">
                            셩별
                          </th> -->
                        <!-- </tr> -->
                        <tr>
                          <th scope="col">구분</th>
                          <th
                            scope="col"
                            v-for="(label, index) in Object.keys(
                              movingPopulationGenderData,
                            )"
                            :key="index"
                          >
                            {{ label }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr>
                          <th scope="row">명</th>
                          <td rowspan="2">
                            {{
                              movingPopulationTotalCount
                                | numeralFormat('0,000')
                            }}
                          </td>
                          <td
                            v-for="(data, index) in Object.values(
                              movingPopulationGenderData,
                            )"
                            :key="index"
                          >
                            {{ data | numeralFormat('0,000') }}
                          </td>
                        </tr> -->
                        <tr>
                          <th scope="row">비율</th>
                          <td
                            v-for="(data, index) in Object.values(
                              movingPopulationGenderData,
                            )"
                            :key="index"
                          >
                            {{
                              (
                                (data / movingPopulationTotalCount) *
                                100
                              ).toFixed(2)
                            }}%
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </template>
                <template v-else>
                  <div class="txt-center py-4 bg-light">
                    <p class="txt-tiny">해당하는 데이터가 없습니다</p>
                  </div>
                </template>
              </div>
            </div>
            <div class="mt-4">
              <h5>
                2) 연령별
              </h5>
              <div class="mt-4">
                <template
                  v-if="
                    movingPopulationAgeData &&
                    movingPopulationAgeData.datasets[0].data[0]
                  "
                >
                  <div class="chart-wrapper">
                    <BarChart
                      v-if="movingPopulationAgeData"
                      :chartData="movingPopulationAgeData"
                      :options="barOptions"
                    />
                  </div>
                  <div class="mt-4">
                    <table
                      class="table table-sm txt-center"
                      v-if="movingPopulationTotalCount"
                    >
                      <thead>
                        <!-- <tr> -->
                        <!-- <th scope="col" rowspan="2">구분</th> -->
                        <!-- <th scope="col" rowspan="2">총 인구</th> -->
                        <!-- <th
                            scope="colgroup"
                            :colspan="movingPopulationAgeData.labels.length"
                          >
                            연령별
                          </th> -->
                        <!-- </tr> -->
                        <tr>
                          <th scope="col">구분</th>
                          <th
                            scope="col"
                            v-for="(label,
                            index) in movingPopulationAgeData.labels"
                            :key="index"
                          >
                            {{ label }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr>
                          <th scope="row">명</th>
                          <td rowspan="2">
                            {{
                              movingPopulationTotalCount
                                | numeralFormat('0,000')
                            }}
                          </td>
                          <td
                            v-for="(data, index) in movingPopulationAgeData
                              .datasets[0].data"
                            :key="index"
                          >
                            {{ data | numeralFormat('0,000') }}
                          </td>
                        </tr> -->
                        <tr>
                          <th scope="row">비율</th>
                          <td
                            v-for="(data, index) in movingPopulationAgeData
                              .datasets[0].data"
                            :key="index"
                          >
                            {{
                              (
                                (data / movingPopulationTotalCount) *
                                100
                              ).toFixed(2)
                            }}%
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </template>
                <template v-else>
                  <div class="txt-center py-4 bg-light">
                    <p class="txt-tiny">해당하는 데이터가 없습니다</p>
                  </div>
                </template>
              </div>
            </div>
          </template>
          <template v-else>
            <div class="no-data">
              <div class="loader txt-center">
                <img
                  src="@/assets/svg/common/loader.svg"
                  alt="로딩중"
                  class="w-12"
                />
                <p class="txt-tiny">잠시만 기다려주세요 상권 분석 중입니다</p>
              </div>
            </div>
          </template>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import DetailInfoBox from '@/components/spaces/DetailInfoBox'; // 상세정보 컴포넌트
import BarChart from '@/components/UI/Chart/BarChart';
export default {
  props: ['bCode'],
  components: {
    BarChart,
    DetailInfoBox,
  },
  data() {
    return {
      residentTotalCount: null,
      residentGenderCountData: null,
      residentGenderRatioData: null,
      residentAgeGroupCountData: null,
      residentAgeGroupRatioData: null,
      residentialTotalCountData: null,
      residentialCountData: null,
      residentialRatioData: null,
      employeeTotalCount: null,
      movingPopulationTotalCount: null,
      movingPopulationGenderData: null,
      movingPopulationAgeData: null,
      dataLoadingResident: true,
      dataLoadingResidential: true,
      dataLoadingEmplyee: true,
      dataLoadingMovingPopulation: true,
      barOptions: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false,
        },
        tooltips: false,
        scales: {
          xAxes: [
            {
              gridLines: {
                display: false,
              },
              ticks: {
                beginAtZero: true,
              },
            },
          ],
          yAxes: [
            {
              display: false,
              ticks: {
                beginAtZero: true,
                stepSize: 20,
              },
              gridLines: {
                display: false,
              },
            },
          ],
        },
        plugins: {
          datalabels: {
            align: 'bottom',
            anchor: 'end',
            borderRadius: 4,
            color: 'white',
            // backgroundColor: function(context) {
            //   return context.dataset.backgroundColor;
            // },
            formatter: function (value, context) {
              const arr = context.dataset.data;
              const sorted = arr.slice().sort(function (a, b) {
                return b - a;
              });
              const ranks = arr.slice().map(function (v) {
                return sorted.indexOf(v) + 1;
              });

              // context.chart.data.labels[context.dataIndex];
              return ranks[context.dataIndex];
            },
            display: function (context) {
              const arr = context.dataset.data;
              const sorted = arr.slice().sort(function (a, b) {
                return b - a;
              });
              const ranks = arr.slice().map(function (v) {
                return sorted.indexOf(v) + 1;
              });

              return ranks[context.dataIndex] < 3;
            },
          },
        },
      },
    };
  },
  methods: {
    // 주거인구
    getAnalysisPopulation() {
      this.$getAnalysisTabInfo('population/resident-count', this.bCode).then(
        (res) => {
          this.residentTotalCount = res.data.residentialPopulationCount;
        },
      );

      this.$getAnalysisTabInfo('population/gender-ratio', this.bCode).then(
        (res) => {
          this.residentGenderCountData = res.data[0];
          this.residentGenderRatioData = res.data[1];
        },
      );
      this.$getAnalysisTabInfo('population/age-group-ratio', this.bCode).then(
        (res) => {
          this.dataLoadingResident = false;
          this.residentAgeGroupCountData = res.data[0];
          this.residentAgeGroupRatioData = res.data[1];
        },
      );

      // 가구수
      this.$getAnalysisTabInfo('population/residential-ratio', this.bCode).then(
        (res) => {
          this.dataLoadingResidential = false;
          this.residentialTotalCountData = res.data[0];
          this.residentialCountData = res.data[1].datasets[0].data;
          this.residentialRatioData = res.data[1];
        },
      );

      // 직장인 수
      // this.$getAnalysisTabInfo('population/employee-count', this.bCode).then(
      //   (res) => {
      //     this.dataLoadingEmplyee = false;
      //     this.employeeTotalCount = res.data.totalCount;
      //   },
      // );

      // 유동인구
      this.$getAnalysisTabInfo(
        'population/moving-population-count',
        this.bCode,
      ).then((res) => {
        this.movingPopulationTotalCount = res.data.totalCount;
      });
      this.$getAnalysisTabInfo(
        'population/moving-population-gender-and-age-ratio',
        this.bCode,
      ).then((res) => {
        this.dataLoadingMovingPopulation = false;
        if (res.data[0]) this.movingPopulationGenderData = res.data[0];
        if (res.data[1]) this.movingPopulationAgeData = res.data[1];
      });
    },
  },
  mounted() {
    this.getAnalysisPopulation();
  },
};
</script>
