<template>
  <div class="article-content">
    <section class="section">
      <header class="section-header">
        <h3>상권 요약</h3>
      </header>
      <div class="section-content">
        <template v-if="summary">
          <table class="table txt-center">
            <colgroup>
              <col width="25%" />
              <col width="*" />
              <col width="25%" />
              <col width="*%" />
            </colgroup>
            <tbody>
              <tr>
                <th scope="row">음식점수(개)</th>
                <td>{{ summary.storeCount | numeralFormat('0,000') }}</td>
                <th scope="row">주거인구(명)</th>
                <td>
                  {{ summary.resPopulationCount | numeralFormat('0,000') }}
                </td>
              </tr>
              <tr>
                <th scope="row">총세대수(세대)</th>
                <td>{{ summary.houseCount | numeralFormat('0,000') }}</td>
                <th scope="row">직장인구(명)</th>
                <td>{{ summary.employeeCount | numeralFormat('0,000') }}</td>
              </tr>
              <tr>
                <th scope="row">평균 영업기간(년)</th>
                <td>
                  {{ summary.averageSurvivalYears | numeralFormat('0,000') }}
                </td>
                <th scope="row">유동인구(명)</th>
                <td>
                  {{ summary.movingPopulationCount | numeralFormat('0,000') }}
                </td>
              </tr>
              <tr>
                <th scope="row">주요 연령대</th>
                <td>{{ summary.importantAgeGroup }}</td>
                <th scope="row"></th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </template>
        <template v-else>
          <div class="no-data">
            <div class="loader txt-center">
              <img
                src="@/assets/svg/common/loader.svg"
                alt="로딩중"
                class="w-12"
              />
              <p class="txt-tiny">잠시만 기다려주세요 상권 분석 중입니다</p>
            </div>
          </div>
        </template>
        <template v-if="categories">
          <div class="bg-light p-4 mt-4">
            <p class="txt-small txt-black">
              카테고리별 매출 비중 (배달의민족 카테고리 기준)
            </p>
            <div class="mt-4">
              <div
                v-for="(category, index) in categories"
                :key="category.id"
                class="d-flex align-items-center"
              >
                <div
                  class="bg-primary"
                  style="height: 20px;"
                  :style="`width : ${(
                    category.w_total_amt_avg_ratio * 100
                  ).toFixed(2)}%; opacity:${1 / (index + 1)}`"
                ></div>
                <div class="d-flex align-items-center ml-3">
                  <p
                    style="
                      white-space: nowrap;
                      font-size: 16px;
                      font-weight: bold;
                      margin-right: 8px;
                    "
                  >
                    {{ Math.round(category.w_total_amt_avg_ratio * 100) }}%
                  </p>
                  <span style="font-size: 12px;"
                    >{{ category.baeminCategoryName }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <v-row no-gutters>
              <v-col
                cols="4"
                v-for="(category, index) in recommendCategory"
                :key="category.id"
              >
                <div
                  style="
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    margin: 0 auto;
                  "
                  class="d-flex align-items-center justify-content-center"
                  :class="recommendCategoryBgColor(index)"
                >
                  <p class="txt-center txt-white txt-small">
                    추천 {{ index + 1 }}<br />
                    <strong class="txt-medium txt-center">{{
                      category.baeminCategoryName
                    }}</strong>
                  </p>
                </div>
              </v-col>
            </v-row>
          </div>
        </template>
        <template v-else>
          <div class="no-data">
            <div class="loader txt-center">
              <img
                src="@/assets/svg/common/loader.svg"
                alt="로딩중"
                class="w-12"
              />
              <p class="txt-tiny">잠시만 기다려주세요 상권 분석 중입니다</p>
            </div>
          </div>
        </template>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  props: ['bCode'],
  data() {
    return {
      summary: null,
      categories: null,
      recommendCategory: null,
    };
  },
  methods: {
    recommendCategoryBgColor(idx) {
      if (idx === 0) return 'bg-primary';
      if (idx === 1) return 'bg-warning';
      if (idx === 2) return 'bg-success';
    },
    getSummaryInfo() {
      this.$getAnalysisTabInfo('get-summary', this.bCode).then((res) => {
        this.summary = res.data;
      });
      this.$getAnalysisTabInfo('category-ratio', this.bCode).then((res) => {
        this.categories = res.data;
        this.recommendCategory = this.categories.slice(0, 3);
      });
    },
  },
  mounted() {
    this.getSummaryInfo();
  },
};
</script>

<style></style>
