<template>
  <section class="article-section">
    <header class="section-header is-blind">
      <h3>매출분석</h3>
    </header>
    <div class="section-content">
      <section class="section">
        <header class="section-header">
          <h3>카테고리별 매출 비중</h3>
        </header>
        <div class="section-content">
          <div style="max-width: 35em; margin: 0 auto;">
            <template v-if="salesCategoryRatio">
              <div class="bg-light p-4">
                <p class="txt-small txt-black">
                  카테고리별 매출 비중 (배달의민족 카테고리 기준)
                </p>
                <div class="mt-4">
                  <div
                    v-for="(category, index) in salesCategoryRatio"
                    :key="category.id"
                    class="d-flex align-items-center"
                  >
                    <div
                      class="bg-primary"
                      style="height: 20px;"
                      :style="`width : ${(
                        category.w_total_amt_avg_ratio * 100
                      ).toFixed(2)}%; opacity:${1 / (index + 1)}`"
                    ></div>
                    <div class="d-flex align-items-center ml-3">
                      <p
                        style="
                          white-space: nowrap;
                          font-size: 16px;
                          font-weight: bold;
                          margin-right: 8px;
                        "
                      >
                        {{ Math.round(category.w_total_amt_avg_ratio * 100) }}%
                      </p>
                      <span style="font-size: 12px;"
                        >{{ category.baeminCategoryName }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </template>
            <template v-else>
              <div class="no-data">
                <div class="loader txt-center">
                  <img
                    src="@/assets/svg/common/loader.svg"
                    alt="로딩중"
                    class="w-12"
                  />
                  <p class="txt-tiny">
                    잠시만 기다려주세요 상권 분석 중입니다
                  </p>
                </div>
              </div>
            </template>
          </div>
          <div class="my-4">
            <NButton
              size="tiny"
              :color="
                selectedCategory === category ? 'secondary' : 'outline-gray'
              "
              round
              v-for="category in baeminCategories"
              :key="category"
              class="ml-0 mr-2 mb-2"
              @click="getRevenueAnalysis(category)"
            >
              {{ category }}
            </NButton>
          </div>
          <template v-if="clickedCategory">
            <template v-if="!dataLoading">
              <div class="mt-4 pt-4 border-top">
                <div class="title-box txt-center" v-if="selectedCategory">
                  <h4 class="txt-black">{{ selectedCategory }}</h4>
                </div>
                <div class="content-box">
                  <div class="mt-4">
                    <h5>
                      1) 성별
                      <v-icon icon="question-circle"></v-icon>
                    </h5>
                    <div class="mt-4">
                      <template v-if="genderCountData && genderRevenueData">
                        <v-row>
                          <v-col cols="6">
                            <p class="txt-center mb-2">
                              <b class="graph-label">매출 건수 비율</b>
                            </p>
                            <PieChart
                              v-if="genderCountData"
                              :chartData="genderCountData"
                              :options="pieOptions"
                            />
                            <div class="mt-4">
                              <table class="table table-sm txt-center">
                                <thead>
                                  <tr>
                                    <th>구분</th>
                                    <th
                                      v-for="(label,
                                      index) in genderCountData.labels"
                                      :key="index"
                                    >
                                      {{ label }}
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>비율</th>
                                    <td
                                      v-for="(data, index) in genderCountData
                                        .datasets[0].data"
                                      :key="index"
                                    >
                                      {{ Math.round(data) }}%
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </v-col>
                          <v-col cols="6">
                            <p class="txt-center mb-2">
                              <b class="graph-label">매출 금액 비율</b>
                            </p>
                            <PieChart
                              v-if="genderRevenueData"
                              :chartData="genderRevenueData"
                              :options="pieOptions"
                            />
                            <div class="mt-4">
                              <table class="table table-sm txt-center">
                                <thead>
                                  <tr>
                                    <th>구분</th>
                                    <th
                                      v-for="(label,
                                      index) in genderRevenueData.labels"
                                      :key="index"
                                    >
                                      {{ label }}
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>비율</th>
                                    <td
                                      v-for="(data, index) in genderRevenueData
                                        .datasets[0].data"
                                      :key="index"
                                    >
                                      {{ Math.round(data) }}%
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </v-col>
                        </v-row>
                      </template>
                      <template v-else>
                        <div class="txt-center py-4 bg-light">
                          <p>해당하는 데이터가 없습니다</p>
                        </div>
                      </template>
                    </div>
                  </div>
                  <div class="mt-4">
                    <h5>
                      2) 연령별
                      <v-icon icon="question-circle"></v-icon>
                    </h5>
                    <div class="mt-4">
                      <template v-if="ageRevenueData">
                        <BarChart
                          v-if="ageRevenueData"
                          :chartData="ageRevenueData"
                          :options="barOptions"
                          :styles="{ height: '400px' }"
                        />
                        <div class="mt-4">
                          <table class="table table-sm txt-center">
                            <thead>
                              <tr>
                                <th>구분</th>
                                <th
                                  v-for="(label,
                                  index) in ageRevenueData.labels"
                                  :key="index"
                                >
                                  {{ label }}
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th>비율</th>
                                <td
                                  v-for="(data, index) in ageRevenueData
                                    .datasets[0].data"
                                  :key="index"
                                >
                                  {{ Math.round(data) }}%
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </template>
                      <template v-else>
                        <div class="txt-center py-4 bg-light">
                          <p>해당하는 데이터가 없습니다</p>
                        </div>
                      </template>
                    </div>
                  </div>
                  <div class="mt-4">
                    <h5>
                      3) 요일별
                      <v-icon icon="question-circle"></v-icon>
                    </h5>
                    <div class="mt-4">
                      <template v-if="dayCountData && dayRevenueData">
                        <div class="mt-4">
                          <p class="txt-center mb-2">
                            <b class="graph-label">매출 건수 비율</b>
                          </p>
                          <BarChart
                            v-if="dayCountData"
                            :chartData="dayCountData"
                            :options="barOptions"
                            :styles="{ height: '400px' }"
                          />
                          <div class="mt-4">
                            <table class="table table-sm txt-center">
                              <thead>
                                <tr>
                                  <th>구분</th>
                                  <th
                                    v-for="(label,
                                    index) in dayCountData.labels"
                                    :key="index"
                                  >
                                    {{ label }}
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th>비율</th>
                                  <td
                                    v-for="(data, index) in dayCountData
                                      .datasets[0].data"
                                    :key="index"
                                  >
                                    {{ Math.round(data) }}%
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="mt-4">
                          <p class="txt-center mb-2">
                            <b class="graph-label">매출 금액 비율</b>
                          </p>
                          <BarChart
                            v-if="dayRevenueData"
                            :chartData="dayRevenueData"
                            :options="barOptions"
                            :styles="{ height: '400px' }"
                          />
                          <div class="mt-4">
                            <table class="table table-sm txt-center">
                              <thead>
                                <tr>
                                  <th>구분</th>
                                  <th
                                    v-for="(label,
                                    index) in dayRevenueData.labels"
                                    :key="index"
                                  >
                                    {{ label }}
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th>비율</th>
                                  <td
                                    v-for="(data, index) in dayRevenueData
                                      .datasets[0].data"
                                    :key="index"
                                  >
                                    {{ Math.round(data) }}%
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </template>
                      <template v-else>
                        <div class="txt-center py-4 bg-light">
                          <p>해당하는 데이터가 없습니다</p>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </template>
            <template v-else>
              <div class="no-data">
                <div class="loader txt-center">
                  <img
                    src="@/assets/svg/common/loader.svg"
                    alt="로딩중"
                    class="w-12"
                  />
                  <p class="txt-tiny">잠시만 기다려주세요 상권 분석 중입니다</p>
                </div>
              </div>
            </template>
          </template>
          <template v-else>
            <div class="bg-light">
              <div class="no-data">
                <p class="txt-small">
                  카테고리를 선택해주세요
                </p>
              </div>
            </div>
          </template>
        </div>
      </section>
      <section class="section">
        <header class="section-header">
          <h3>시간대별 업종 매출 순위</h3>
        </header>
        <div class="section-content">
          <template v-if="lunchData && dinnerData && lateNightData">
            <table
              class="table table-sm txt-center"
              v-if="lunchData && dinnerData && lateNightData"
            >
              <thead>
                <tr>
                  <th></th>
                  <th scope="col">순위</th>
                  <th scope="col">업종</th>
                  <th scope="col">성별</th>
                  <th scope="col">연령대</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(data, index) in lunchData"
                  :key="`${index + 'lunchData'}`"
                >
                  <th
                    scope="row"
                    :rowspan="lunchData.length"
                    v-if="index === 0"
                  >
                    점심<br />11 ~ 14시
                  </th>
                  <td>{{ index + 1 }}</td>
                  <td>{{ data.rank_1_bm }}</td>
                  <td>{{ data.gender }}</td>
                  <td>{{ data.age }}</td>
                </tr>

                <tr
                  v-for="(data, index) in dinnerData"
                  :key="`${index + 'dinnerData'}`"
                >
                  <th scope="row" rowspan="3" v-if="index === 0">
                    저녁<br />17 ~ 21시
                  </th>
                  <td>{{ index + 1 }}</td>
                  <td>{{ data.rank_1_bm }}</td>
                  <td>{{ data.gender }}</td>
                  <td>{{ data.age }}</td>
                </tr>

                <tr
                  v-for="(data, index) in lateNightData"
                  :key="`${index + 'lateNightData'}`"
                >
                  <th scope="row" rowspan="3" v-if="index === 0">
                    야식<br />21 ~ 06시
                  </th>
                  <td>{{ index + 1 }}</td>
                  <td>{{ data.rank_1_bm }}</td>
                  <td>{{ data.gender }}</td>
                  <td>{{ data.age }}</td>
                </tr>
              </tbody>
            </table>
            <template v-else>
              <div class="no-data bg-light">
                <p>해당하는 데이터가 없습니다</p>
              </div>
            </template>
          </template>
          <template v-else>
            <div class="no-data">
              <div class="loader txt-center">
                <img
                  src="@/assets/svg/common/loader.svg"
                  alt="로딩중"
                  class="w-12"
                />
                <p class="txt-tiny">잠시만 기다려주세요 상권 분석 중입니다</p>
              </div>
            </div>
          </template>
        </div>
      </section>
    </div>
  </section>
</template>

<script>
import DetailInfoBox from '@/components/spaces/DetailInfoBox'; // 상세정보 컴포넌트
import BarChart from '@/components/UI/Chart/BarChart';
import PieChart from '@/components/UI/Chart/PieChart';
import { baeminCategoryCode } from '@/static/analysis/BaeminCategoryCode.js';
export default {
  props: ['bCode'],
  components: {
    BarChart,
    PieChart,
    DetailInfoBox,
  },
  data() {
    return {
      dataLoading: false,
      selectedCategory: null,
      baeminCategories: baeminCategoryCode,
      salesCategoryRatio: null,
      lunchData: null,
      dinnerData: null,
      lateNightData: null,
      genderCountData: null,
      genderRevenueData: null,
      ageRevenueData: null,
      dayCountData: null,
      tdayRevenueData: null,
      clickedCategory: null,
      pieOptions: { responsive: true },
      barOptions: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    };
  },
  methods: {
    getSalesAnalysisInfo() {
      this.$getAnalysisTabInfo('category-ratio', this.bCode).then((res) => {
        this.salesCategoryRatio = res.data;
      });
      this.$getAnalysisTabInfo('revenue-analysis-by-lunch', this.bCode).then(
        (res) => {
          this.lunchData = res.data;
        },
      );

      this.$getAnalysisTabInfo('revenue-analysis-by-dinner', this.bCode).then(
        (res) => {
          this.dinnerData = res.data;
        },
      );

      this.$getAnalysisTabInfo(
        'revenue-analysis-by-late-night',
        this.bCode,
      ).then((res) => {
        this.lateNightData = res.data;
      });
    },
    resetData() {
      this.genderCountData = null;
      this.genderRevenueData = null;
      this.ageRevenueData = null;
      this.dayCountData = null;
      this.dayRevenueData = null;
    },
    getRevenueAnalysis(category) {
      // console.log('category', category);
      if (!this.bCode) {
        return;
      }
      this.resetData();
      this.clickedCategory = category;
      this.$getAnalysisTabInfo(
        'revenue-analysis-gender',
        this.bCode,
        category,
      ).then((res) => {
        this.selectedCategory = category;
        // console.log('revenue-analysis-gender res', res);
        if (res.data[0]) this.genderCountData = res.data[0].countData;
        if (res.data[1]) this.genderRevenueData = res.data[1].revenueData;
      });

      this.$getAnalysisTabInfo(
        'revenue-analysis-age-group',
        this.bCode,
        category,
      ).then((res) => {
        if (res.data[1]) this.ageRevenueData = res.data[1].revenueData;
      });

      this.$getAnalysisTabInfo(
        'revenue-analysis-by-day',
        this.bCode,
        category,
      ).then((res) => {
        if (res.data[0]) this.dayCountData = res.data[0].countData;
        if (res.data[1]) this.dayRevenueData = res.data[1].revenueData;
      });
    },
  },
  mounted() {
    this.getSalesAnalysisInfo();
  },
};
</script>

<style></style>
