<template>
  <div>
    <v-row align="start" justify="space-around">
      <v-col cols="12" lg="6">
        <CardWithTitle title="기본 설정">
          <v-row align="center" justify="space-between">
            <v-col>
              진행 여부
            </v-col>
            <v-col class="text-right">
              <ToggleBtn
                :is-activated="isShowing"
                :is-loading="loading.toggleBtn"
                @activate="toggleShow('isShowing')"
              />
            </v-col>
          </v-row>
        </CardWithTitle>
        <CardWithTitle>
          <v-row align="center" justify="space-around">
            <v-col cols="12" sm="6">
              <v-menu
                ref="showPopupStartDate"
                v-model="showPopupStartDate"
                :close-on-content-click="false"
                :return-value.sync="popupStartDate"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="popupStartDate"
                    label="시작일"
                    readonly
                    prepend-icon="mdi-calendar"
                    :loading="loading.popupStartDate"
                    :success-messages="success.popupStartDate"
                    :error-messages="error.popupStartDate"
                    v-on="on"
                  />
                </template>
                <v-date-picker v-model="popupStartDate" no-title scrollable>
                  <v-spacer />
                  <v-btn
                    text
                    color="primary"
                    @click="showPopupStartDate = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="
                      [
                        $refs.showPopupStartDate.save(popupStartDate),
                        changeInfo('popupStartDate', 'START_DATE', routerUrl),
                      ]
                    "
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" sm="6">
              <v-menu
                ref="showPopupEndDate"
                v-model="showPopupEndDate"
                :close-on-content-click="false"
                :return-value.sync="popupEndDate"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="popupEndDate"
                    label="종료일"
                    readonly
                    prepend-icon="mdi-calendar"
                    :loading="loading.popupEndDate"
                    :success-messages="success.popupEndDate"
                    :error-messages="error.popupEndDate"
                    v-on="on"
                  />
                </template>
                <v-date-picker v-model="popupEndDate" no-title scrollable>
                  <v-spacer />
                  <v-btn text color="primary" @click="showPopupEndDate = false">
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="
                      [
                        $refs.showPopupEndDate.save(popupEndDate),
                        changeInfo('popupEndDate', 'END_DATE', routerUrl),
                      ]
                    "
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </CardWithTitle>
        <CardWithTitle v-show="false">
          <v-radio-group
            v-model="selectedPopupType"
            :mandatory="false"
            :loading="loading.selectedPopupType"
            :success-messages="success.selectedPopupType"
            :error-messages="error.selectedPopupType"
            @change="changeInfo('selectedPopupType', 'POPUP_TYPE', routerUrl)"
          >
            <v-row no-gutters align="center" justify="space-around">
              <v-radio
                v-for="popupType in popupTypes"
                :key="popupType.KEY"
                :label="popupType.VALUE"
                :value="popupType.KEY"
                class="mb-0"
              />
            </v-row>
          </v-radio-group>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="팝업 내용">
          <v-text-field
            v-model="popupTitle"
            label="제목"
            :rules="[required]"
            :loading="loading.popupTitle"
            :success-messages="success.popupTitle"
            :error-messages="error.popupTitle"
            @change="changeInfo('popupTitle', 'TITLE', routerUrl)"
          />
          <div v-if="selectedPopupType == 'IMAGE'">
            <v-dialog v-model="imageDialog" max-width="1000">
              <v-carousel height="700" :value="imageIndex">
                <v-carousel-item
                  v-for="(item, i) in images"
                  :key="i"
                  :src="`${baseUrl}/${item.FILE_PATH}`"
                  contain
                  style="background-color: white;"
                />
              </v-carousel>
            </v-dialog>
            <client-only>
              <AdminFileUpload
                :uid="uid"
                category="POPUP"
                single
                :images="images"
                @updateSingle="deleteImage(images[0].NO)"
                @updateImages="onUpdateImages"
              />
            </client-only>
            <ImageList
              :images="images"
              :base-url="baseUrl"
              @delete="deleteImage"
              @click="onImageClicked"
            />
          </div>
          <div v-else>
            <v-text-field
              v-model="popupSubTitle"
              label="서브 제목"
              :loading="loading.popupSubTitle"
              :success-messages="success.popupSubTitle"
              :error-messages="error.popupSubTitle"
              @change="changeInfo('popupSubTitle', 'SUB_TITLE', routerUrl)"
            />
            <v-textarea
              v-model="popupContent"
              label="본문 내용"
              filled
              auto-grow
              class="mt-5"
              :loading="loading.popupContent"
              :success-messages="success.popupContent"
              :error-messages="error.popupContent"
              @blur="changeInfo('popupContent', 'CONTENT', routerUrl)"
            />
          </div>

          <v-row align="center">
            <v-col cols="12" sm="3" class="pb-0 pb-sm-4">
              <v-select
                v-model="selectedLinkType"
                label="URL"
                class="small-input my-0"
                :items="popupLinkTypes"
                item-text="VALUE"
                item-value="KEY"
                color="orange"
                style="max-width: none;"
                :loading="loading.selectedLinkType"
                :success-messages="success.selectedLinkType"
                :error-messages="error.selectedLinkType"
                @change="changeInfo('selectedLinkType', 'LINK_TYPE', routerUrl)"
              />
            </v-col>
            <v-col cols="12" sm="9" class="pt-0 pt-sm-4">
              <v-row align="baseline" no-gutters>
                <v-col
                  v-if="
                    selectedLinkType == 'INTERNAL' ||
                    selectedLinkType.KEY == 'INTERNAL'
                  "
                  style="flex: 0 0 180px;"
                >
                  <span class="body-2 text-no-wrap"
                    >https://nanudakitchen.com</span
                  >
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="popupLink"
                    label=""
                    :rules="[noSpace]"
                    :loading="loading.popupLink"
                    :success-messages="success.popupLink"
                    :error-messages="error.popupLink"
                    @change="changeInfo('popupLink', 'LINK', routerUrl)"
                    class="pt-0"
                  />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { images } from '@/assets/mixins/images';
import { validations } from '@/assets/mixins/validations';
import { changeInfo } from '@/assets/mixins/changeInfo';

import AdminFileUpload from '@/components/Admin/AdminFileUpload';
import ImageList from '@/components/Admin/ImageList';

export default {
  layout: 'admin',
  components: { AdminFileUpload, ImageList },
  mixins: [images, changeInfo, validations],
  asyncData(context) {
    return context.$axios
      .$get('/popupAdmin/' + context.route.params.uid)
      .then((res) => {
        return {
          uid: res.NO,
          popupTitle: res.TITLE,
          popupSubTitle: res.SUB_TITLE,
          popupContent: res.CONTENT,
          popupLink: res.LINK,
          selectedLinkType: res.LINK_TYPE,
          selectedPopupType: res.POPUP_TYPE,
          popupStartDate: res.START_DATE,
          popupEndDate: res.END_DATE,
          images: res.FILE_MANAGEMENT,
          isShowing: res.SHOW_YN,
          isDel: res.DEL_YN,
        };
      });
  },
  data: () => ({
    category: 'POPUP',
    baseUrl: process.env.baseUrl,
    routerUrl: '/popupAdmin/',
    showPopupStartDate: false,
    showPopupEndDate: false,
    imageDialog: false,
    imageIndex: null,
    popupLinkTypes: [
      { VALUE: '홈페이지', KEY: 'INTERNAL' },
      { VALUE: '외부링크', KEY: 'EXTERNAL' },
    ],
    popupTypes: [
      { VALUE: '이미지 팝업', KEY: 'IMAGE' },
      { VALUE: '알림 팝업', KEY: 'NOTIFICATION' },
    ],
  }),
  methods: {
    // 팝업 게재
    toggleShow(ref) {
      this.isShowing == 'Y' ? (this.isShowing = 'N') : (this.isShowing = 'Y');
      this.changeInfo(ref, 'SHOW_YN', this.routerUrl);
    },
    onImageClicked(img, i) {
      this.imageDialog = true;
      this.imageIndex = i;
    },
  },
};
</script>

<style lang="scss">
.v-application {
  .flex-nowrap {
    overflow: auto;
  }
}
</style>
