<template>
  <main class="main-wrapper">
    <article class="main-article bg-light">
      <section class="article-section">
        <header class="section-header txt-center">
          <h3>이벤트</h3>
        </header>
        <div class="section-content">
          <div class="inner-container">
            <PromotionList
              :promotions="promotions"
              :promotionTotalCount="promotionTotalCount"
              v-if="promotions && promotions.length > 0"
            />
            <div v-else>
              <div class="txt-center py-10">
                이벤트 준비중입니다
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
</template>
<script>
import PromotionList from '@/components/Promotion/PromotionList';
export default {
  components: {
    PromotionList,
  },
  async asyncData(context) {
    let promotions = await context.$axios.$get('/promotion');
    return {
      promotions: promotions.items,
      promotionTotalCount: promotions.totalCount,
    };
  },
};
</script>
<style lang="scss" scoped></style>
