<template>
  <main id="smallBusinessApp">
    <article class="main-article">
      <header class="article-header">
        <div class="inner-container">
          <div class="symbol">
            <img
              src="https://kr.object.ncloudstorage.com/common-nanuda/small-business-application/hope_logo2.svg"
              alt="희망리턴패키지 인증마크"
              class="w-10"
            />
          </div>
          <div>
            <div class="logo-box">
              <div class="d-flex align-items-center">
                <div>
                  <img
                    src="https://kr.object.ncloudstorage.com/common-nanuda/small-business-application/mss_logo.svg"
                    alt="중소벤처기업부"
                    class="d-block h-4"
                  />
                </div>
                <span class="mx-4 txt-small">X</span>
                <div>
                  <img
                    src="https://kr.object.ncloudstorage.com/common-nanuda/small-business-application/semas_logo.svg"
                    alt="소상공인시장진흥공단"
                    class="d-block h-4"
                  />
                </div>
                <span class="mx-4 txt-small">X</span>
                <div>
                  <img
                    src="https://kr.object.ncloudstorage.com/common-nanuda/small-business-application/widaehan_logo.svg"
                    alt="위대한상사"
                    class="d-block h-3"
                  />
                </div>
              </div>
            </div>
            <div class="title-box">
              <span>2022년도 희망리턴패키지</span>
              <h2>재창업 소상공인 지원사업<br />참여자 모집</h2>
            </div>
            <div class="btn-box mt-8" id="topBtn" ref="topBtn">
              <!-- <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSd1YqQ5ewZPixM8BMnHfTQp9uvq5K6j9jfYPlldKJskZ-d8bQ/viewform"
                target="_blank"
                class="
                  btn btn-secondary btn-block
                  w-30
                  mk_start_topapply_btn
                "
              >
                신청하고 상담받기
              </a> -->
              <a class="btn btn-gray-400 btn-block w-30 mk_start_topapply_btn">
                모집 마감
              </a>
            </div>
          </div>
        </div>
      </header>
      <div class="article-content">
        <div class="inner-container">
          <section class="article-section py-0">
            <header class="section-header txt-center">
              <p class="txt-medium mb-8">
                <strong class="txt-bold txt-black">소상공인시장진흥공단</strong
                >과 <strong class="txt-bold txt-black">위대한상사</strong>가
                사업자 폐업 후
                <br class="d-none d-md-block" />
                재창업 아이디어를 보유한 소상공인을 위해
                <strong class="txt-bold txt-black"
                  >재창업 교육과 사업비를 패키지로 지원</strong
                >합니다
              </p>
              <div class="bg-cyan p-4 rounded-sm">
                <h3 class="txt-big">
                  <span class="txt-white"
                    ><span class="d-inline-block"> F&amp;B 재창업 교육</span>
                    <span class="d-block d-md-inline-block">+</span>
                    <span class="d-inline-block"
                      >국고보조금 패키지 지원</span
                    ></span
                  >
                </h3>
                <p class="txt-white">(자부담금 별도)</p>
              </div>
            </header>
            <div class="section-content">
              <div class="row row-box">
                <div class="col-12 col-lg-2">
                  <header class="h4-title">
                    <h4>
                      <span>신청대상</span>
                    </h4>
                  </header>
                </div>
                <div class="col-12 col-lg-10">
                  <ul class="u-list type-check cyan">
                    <li class="txt-large txt-black">
                      <p>
                        <strong class="txt-bold"
                          >현재 본인 명의의 모든 사업장을 폐업하여 사업자등록이
                          되어 있지 않은 소상공인
                        </strong>
                      </p>
                      <span class="txt-small txt-gray-600"
                        >(폐업을 예정한 경우 별도 상담)</span
                      >
                    </li>
                    <li class="txt-large txt-black">
                      <p>
                        <strong class="txt-bold"
                          >11월 30일까지 F&amp;B 관련 업종의 사업자 등록 완료
                          가능한 자</strong
                        >
                      </p>
                      <span class="txt-small txt-gray-600"
                        >(공유주방 창업, 일반 로드샵 창업 모두 가능)</span
                      >
                    </li>
                    <li class="txt-large txt-black">
                      <p>
                        관련법에 따른 소상공인 중 지원 불가 대상 및 업종에
                        해당하지 않는 자
                      </p>
                    </li>
                    <li class="txt-large txt-black">
                      <p>그 외 참여제한 대상에 해당하지 않는 자</p>
                      <button
                        class="btn-txt txt-small"
                        :class="
                          isVisible ? 'txt-gray-600' : 'txt-cyan txt-bold'
                        "
                        @click="isVisible = !isVisible"
                      >
                        <span class="mr-1">참여 제한대상</span>
                        <i
                          class="icon"
                          :class="
                            isVisible
                              ? 'txt-bold icon-arrow-angle-up'
                              : 'txt-bold icon-arrow-angle-down'
                          "
                        ></i>
                      </button>
                      <template v-if="isVisible">
                        <div class="border bg-light p-3 mt-2">
                          <ol class="o-list type-num txt-small txt-black">
                            <li>
                              <span class="num txt-cyan txt-bold">01</span>
                              <p>
                                소상공인정책자금 지원제외 업종으로 재창업 하려는
                                자
                              </p>
                            </li>

                            <li>
                              <span class="num txt-cyan txt-bold">02</span>
                              <p>
                                비영리 사업자 및 비영리 법인 * 「상법」에 의한
                                회사로서 「소득세법」 제168조 또는
                                「부가가치세법」 제5조의 규정의 적용을 받지 않는
                                사업 (비영리사회적기업, 어린이집, 장기요양센터
                                등)
                              </p>
                            </li>

                            <li>
                              <span class="num txt-cyan txt-bold">03</span>
                              <p>
                                금융기관 등으로부터 채무불이행자로 규제 중인 자
                                * 단, 신용회복위원회의 프리워크아웃,
                                개인워크아웃 제도에서 채무조정합의서를 체결한
                                경우, 법원의 개인회생제도에서 변제계획인가를
                                받거나 파산면책 결정을 받은 자는 국세, 지방세 등
                                특수채무 완납 필수
                              </p>
                            </li>

                            <li>
                              <span class="num txt-cyan txt-bold">04</span>
                              <p>국세 및 지방세 체납중인 자</p>
                            </li>

                            <li>
                              <span class="num txt-cyan txt-bold">05</span>
                              <p>정부지원사업에 참여 제한으로 제재중인 자</p>
                            </li>

                            <li>
                              <span class="num txt-cyan txt-bold">06</span>
                              <p>
                                당해 중소벤처기업부 및 타 중앙부처에서
                                창업사업화 지원사업을 수행중인 자 *
                                창업(사업자등록)을 전제로 창업 아이템의 사업화를
                                위한 마케팅 비용 등 사업화에 소요되는 자금을
                                패키지로 지원하는 사업
                              </p>
                            </li>

                            <li>
                              <span class="num txt-cyan txt-bold">07</span>
                              <p>
                                ‘21년 업종전환·재창업 사업화지원 이력이 있는
                                자(중도 포기자, 지원 후 환수 대상자 포함)
                              </p>
                            </li>

                            <li>
                              <span class="num txt-cyan txt-bold">08</span>
                              <p>
                                『가맹사업거래의 공정화에 관한
                                법률(가맹사업법)』에 따른 가맹점사업자의 경우
                                메뉴 등 개별 가맹점의 독립성을 인정하지 않는
                                가맹본부의 가맹점사업자
                              </p>
                            </li>

                            <li>
                              <span class="num txt-cyan txt-bold">09</span>
                              <p>
                                기타 중소벤처기업부 장관이나
                                소상공인시장진흥공단 이사장이 참여제한 사유가
                                있다고 인정하는 자
                              </p>
                            </li>
                          </ol>
                        </div>
                        <div class="mt-1 txt-right">
                          <p class="txt-small">
                            <strong class="txt-cyan txt-bold mr-1">*</strong
                            >참여 제한대상 8번항목: 주관기관별 전체 선정 규모 중
                            동일브랜드
                            <strong class="txt-bolder txt-cyan">2%</strong>
                            이내, 가맹점사업자
                            <strong class="txt-bolder txt-cyan">5%</strong>이내
                            선정가능
                          </p>
                        </div>
                      </template>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row row-box">
                <div class="col-12 col-lg-2">
                  <header class="h4-title">
                    <h4>
                      <span>지원항목</span>
                    </h4>
                  </header>
                </div>
                <div class="col-12 col-lg-10">
                  <div class="row-box">
                    <header class="h5-title">
                      <h5>
                        1. 재창업 교육 및 멘토링
                        <strong class="txt-secondary">32시간</strong>
                        <span>(90% 이상 이수 필수)</span>
                      </h5>
                    </header>
                    <div class="mt-4">
                      <div class="box-list">
                        <div class="row gutter-8">
                          <div class="col col-12 col-lg-4">
                            <div
                              class="
                                box
                                rounded-sm
                                bg-secondary
                                py-8
                                px-4
                                txt-center
                                h-100p
                                d-flex
                                justify-content-center
                              "
                            >
                              <p
                                class="
                                  align-self-center
                                  txt-bold txt-large txt-white
                                "
                              >
                                공유주방 외식업 창업<br /><span
                                  class="txt-medium"
                                  >/</span
                                >
                                운영 교육
                              </p>
                            </div>
                          </div>
                          <div class="col col-12 col-lg-4">
                            <div
                              class="
                                box
                                rounded-sm
                                bg-cyan
                                py-8
                                px-4
                                txt-center
                                h-100p
                                d-flex
                                justify-content-center
                              "
                            >
                              <p
                                class="
                                  align-self-center
                                  txt-bold txt-large txt-white
                                "
                              >
                                브랜딩 전문가 <br />컨설팅
                              </p>
                            </div>
                          </div>
                          <div class="col col-12 col-lg-4">
                            <div
                              class="
                                box
                                rounded-sm
                                bg-green
                                py-8
                                px-4
                                txt-center
                                h-100p
                                d-flex
                                justify-content-center
                              "
                            >
                              <p
                                class="
                                  align-self-center
                                  txt-bold txt-large txt-white
                                "
                              >
                                2021년 인기메뉴<br /><span class="txt-medium"
                                  >/</span
                                >
                                밀키트 실습교육
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-box mt-8">
                    <header class="h5-title">
                      <h5>
                        2. 국고보조금 최대
                        <strong class="txt-secondary">1,800만원</strong> 지원
                        <span>(현물/현금 자부담 별도)</span>
                      </h5>
                    </header>
                    <div class="mt-4">
                      <div class="row-box">
                        <header class="h6-title">
                          <h6>
                            <span>사업비 예시</span>
                          </h6>
                        </header>
                        <div class="row-box">
                          <!-- pc -->
                          <div class="d-none d-lg-block">
                            <div class="table txt-center txt-large">
                              <table>
                                <thead>
                                  <tr>
                                    <th>국고보조금</th>
                                    <th colspan="3">자부담</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td rowspan="2">
                                      <strong class="txt-secondary"
                                        >1,800만원</strong
                                      >
                                    </td>
                                    <th>현물</th>
                                    <td>
                                      <strong class="txt-secondary">
                                        최대 1260만원</strong
                                      ><br /><span class="txt-medium"
                                        >(전체 사업비의 35%)</span
                                      >
                                    </td>
                                    <td>
                                      <p>창업자 인건비<br />직원 인건비</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>현금</th>
                                    <td>
                                      <strong class="txt-secondary"
                                        >540만원</strong
                                      >
                                    </td>
                                    <td></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <!-- mobile -->
                          <div class="d-block d-lg-none">
                            <div class="table txt-center txt-large">
                              <table>
                                <thead>
                                  <tr>
                                    <th colspan="2">국고보조금</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td colspan="2">
                                      <strong class="txt-secondary"
                                        >1,800만원</strong
                                      >
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <table>
                                <thead>
                                  <tr>
                                    <th colspan="2">자부담</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th colspan="2">현물</th>
                                  </tr>
                                  <tr>
                                    <td>
                                      <strong class="txt-secondary">
                                        최대 1260만원</strong
                                      ><br /><span class="txt-medium"
                                        >(전체 사업비의 35%)</span
                                      >
                                    </td>
                                    <td>
                                      <p>창업자 인건비<br />직원 인건비</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th colspan="2">현금</th>
                                  </tr>
                                  <tr>
                                    <td colspan="2">
                                      <strong class="txt-secondary"
                                        >540만원</strong
                                      >
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-box mt-8">
                        <header class="h6-title">
                          <h6>
                            <span>사업비 사용처</span>
                          </h6>
                        </header>
                        <div class="row-box">
                          <div class="border border-black py-6 px-4">
                            <div class="row">
                              <div class="col-12 col-lg-6">
                                <ul class="u-list cyan txt-large txt-black">
                                  <li>시설 임대료/이용료</li>
                                  <li>주방설비, 집기 구매</li>
                                  <li>식자재 구매</li>
                                  <li>배달플랫폼 광고비</li>
                                </ul>
                              </div>
                              <div class="col-12 col-lg-6">
                                <ul class="u-list cyan txt-large txt-black">
                                  <li>배달라이더 수수료</li>
                                  <li>상권분석 수수료</li>
                                  <li>재창업 컨설팅비</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </article>
    <section class="article-section" id="inquiryBanner">
      <div class="inner-container">
        <header class="section-header txt-center">
          <div class="logo-box mb-8 txt-black">
            <div class="d-flex align-items-center justify-content-center">
              <div>
                <img
                  src="https://kr.object.ncloudstorage.com/common-nanuda/small-business-application/mss_logo.svg"
                  alt="중소벤처기업부"
                  class="d-block h-3"
                />
              </div>
              <span class="mx-4 txt-small">X</span>
              <div>
                <img
                  src="https://kr.object.ncloudstorage.com/common-nanuda/small-business-application/semas_logo.svg"
                  alt="소상공인시장진흥공단"
                  class="d-block h-3"
                />
              </div>
              <span class="mx-4 txt-small">X</span>
              <div>
                <img
                  src="https://kr.object.ncloudstorage.com/common-nanuda/small-business-application/widaehan_logo.svg"
                  alt="위대한상사"
                  class="d-block h-2"
                />
              </div>
            </div>
          </div>
          <div class="txt-box txt-center txt-large">
            <p>
              <span class="d-inline-block txt-cyan">담당 주관기관</span>
              <span class="d-inline-block txt-black">주식회사 위대한상사</span>
            </p>
            <p>
              <span class="d-inline-block txt-cyan">접수 및 문의</span>
              <span class="d-inline-block txt-black"
                ><a href="tel:070-8899-5778">070-8899-5778</a></span
              >
            </p>
          </div>
        </header>
        <div class="section-content">
          <div class="btn-box txt-center" id="bottomBtn" ref="bottomBtn">
            <!-- <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSd1YqQ5ewZPixM8BMnHfTQp9uvq5K6j9jfYPlldKJskZ-d8bQ/viewform"
              target="_blank"
              class="btn btn-secondary btn-block w-30 mk_start_bottomapply_btn"
            >
              신청하고 상담받기
            </a> -->
            <a class="btn btn-gray-400 btn-block w-30 mk_start_bottomapply_btn">
              모집 마감
            </a>
          </div>
        </div>
      </div>
    </section>
    <div class="d-block d-lg-none">
      <transition name="slideInUp" type="animation">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSd1YqQ5ewZPixM8BMnHfTQp9uvq5K6j9jfYPlldKJskZ-d8bQ/viewform"
          target="_blank"
          class="btn btn-secondary btn-large btn-block mk_start_fixedapply_btn"
          id="fixedButton"
          v-if="isShowFixedBtn"
        >
          신청하고 상담받기
        </a>
      </transition>
    </div>
  </main>
</template>
<script>
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤 이베트
export default {
  layout: 'empty',
  mixins: [infoAppRequest, handleScroll],
  data() {
    return {
      isShowFixedBtn: false,
      isVisible: false,
    };
  },
  methods: {
    scrollFunc() {
      const topBtn = this.$refs.topBtn;
      const bottomBtn = this.$refs.bottomBtn;
      if (topBtn && bottomBtn) {
        if (
          bottomBtn.getBoundingClientRect().top - window.innerHeight > 0 &&
          topBtn.getBoundingClientRect().top < 0
        ) {
          this.isShowFixedBtn = true;
        } else {
          this.isShowFixedBtn = false;
        }
      }
    },
  },
};
</script>
<style lang="scss" scoped>
#smallBusinessApp {
  .inner-container {
    max-width: 1400px;
  }
  .main-article {
    background-color: #f8f8f8;
    // padding-bottom: 3em;
    .article-header {
      position: relative;
      padding: 6em 0 6em;
      text-align: center;
      background-color: #e6efff;
      z-index: 2;
      text-align: left;
      color: $black;
      // background-image:url("https://previews.dropbox.com/p/thumb/ABhfYBD9IR8qr5-kkxAz7VLbcBbZ0XNa-2JqY2eVBYfKyT6mWteekwq8CDpudjf35Zb_L_Gc4lNfFMr9Vhwm6t6JsI7T9N_S2RlbKBeYBfAKhcnm2Zh2Kr78raZLm844Q94hRQABrb6g2TW00k8hn9uYP_HK4OZCBAdc1O8WJnqwlsw7S4pQ0kTVnb-0gA6gzm9JB43bwfYQiYa1u62r-nfcFBZDHDMCDPLLGlt_sPt-q0iynzWrvY1Efh3ACfjbhZ3md1L7dWXysIvtIv3kCOMHztSwFwsVmDUMTGHQq9mF_WqigGPc_yeWE35Em951S4q7TClqomjBAg5mU3LVb5DkXcNhSC6F856pbgZEfLKkGLdE-Dp-G1nCQdAphKn0CPQ/p.jpeg");
      // background-position: center center;
      // background-size:cover;
      // @include darkOverlay();
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('https://kr.object.ncloudstorage.com/common-nanuda/small-business-application/top_visual.svg');
        background-position: calc(50% + 300px) bottom;
        background-size: 50em auto;
        background-repeat: no-repeat;
        z-index: 2;
      }
      .symbol {
        position: absolute;
        right: 1em;
        top: -4.5em;
        z-index: 1;
      }
      .inner-container {
        position: relative;
        z-index: 2;
        .title-box {
          margin-top: 2.5em;
          span {
            display: block;
            font-size: $txt-large;
          }
          h2 {
            font-size: $txt-massive;
            font-weight: $txt-bolder;
          }
        }
      }
    }

    .article-content {
      position: relative;
      z-index: 2;

      > .inner-container {
        margin-top: -3em;
        margin-bottom: -3em;
        background-color: $white;
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.05);
        padding: 3em 2.5em;
      }
    }

    .article-section {
      .section-content {
        .h4-title {
          h4 {
            display: inline-block;
            position: relative;
            padding: 0 0.5em;
            font-size: $txt-large;
            color: $black;
            &:before {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              display: block;
              content: '';
              width: 100%;
              height: 0.5em;
              background-color: $light;
              transform: skew(-25deg);
            }
          }
          span {
            position: relative;
            z-index: 1;
          }
        }
        .h5-title {
          h5 {
            color: $black;
            font-size: $txt-large;
            span {
              font-size: $txt-medium;
            }
          }
        }
        .h6-title {
          font-weight: $txt-bold;
          color: $cyan;
          h6 {
            font-size: $txt-small;
            span {
              display: inline-block;
              border: 2px solid $cyan;
              padding: 0.25em 0.5em;
            }
          }
        }
      }
    }
  }

  #fixedButton {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
  }
  #inquiryBanner {
    background-color: #e6efff;
    background-image: url('https://kr.object.ncloudstorage.com/common-nanuda/small-business-application/bottom_visual.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    border-bottom: 1em solid #c1cada;
    padding-top: 7em;
    .inner-container {
      position: relative;
      z-index: 2;
      .section-header {
        h3 {
          color: $white;
        }
      }
    }
  }

  .box-list {
    .col + .col {
      position: relative;
      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $txt-huge;
        content: '+';
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        background-color: $black;
        color: #fff;
        z-index: 2;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .main-article {
      .article-header {
        padding-bottom: 10em;
        &:before {
          background-size: contain;
          background-position: calc(50% + 20vw) bottom;
        }
      }
      .article-content {
        > .inner-container {
          margin-top: 0;
          margin-bottom: 0;
          padding: 1.5em 1.25em;
        }
      }
    }
    #inquiryBanner {
      padding-top: 3em;
      background-size: 150% auto;
    }
    .box-list {
      .col + .col {
        position: relative;
        &:before {
          top: 0;
          left: 50%;
        }
      }
    }
    .table {
      thead {
        th {
          background-color: $light;
        }
      }
    }
  }
}
</style>
