<template>
  <CommonTable
    :headers="this.headers"
    :items="this.companys"
    page="company"
    addBtn="업체"
  />
</template>

<script>
import CommonTable from '@/components/Admin/CommonTable';
export default {
  components: { CommonTable },
  layout: 'admin',
  data() {
    return {
      headers: [
        {
          text: 'UID',
          align: 'left',
          sortable: false,
          value: 'NO',
        },
        {
          text: '담당자',
          align: 'center',
          sortable: true,
          value: 'MANAGER.NAME',
        },
        { text: '이름', value: 'NAME_KR', sortable: false },
        { text: '전화번호', value: 'PHONE', sortable: false },
      ],
    };
  },
  asyncData(context) {
    //user data 가져오기
    context.loading = true;
    return context.$axios
      .$get('/companyAdmin')
      .then((res) => {
        context.loading = false;
        return { companys: res.rows };
      })
      .catch((e) => console.log(e));
  },
  activated() {
    return this.$axios
      .$get('/companyAdmin')
      .then((res) => {
        this.companys = res.rows;
      })
      .catch((e) => console.log(e));
  },
};
</script>

<style lang="scss"></style>
