// 공통 컨텐츠 css

// search address modal

#searchAddress .vue-daum-postcode-container {
  min-height: 400px;
  height: calc(100vh - 5.75em) !important;
}

//intro notice

.intro-wrapper {
  @media screen and (min-height: 400px) {
    .intro-notice {
      padding-bottom: 6em;
    }
    .bottom-fixed-box {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      @include maxLayout();
    }
  }
}

// space
#header + #searchSpace,
#header + #searchPlans {
  padding-top: 0;

  .main-article {
    padding-top: 20em;
  }
}

body.down {
  #searchSpace .is-fixed.search-wrapper {
    top: -100%;
  }
}

body.up {
  #searchSpace .is-fixed.search-wrapper {
    top: 6rem;
  }
}

#infoAppVisitFixed,
#infoAppRequestFixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 20;
  box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(100%);
  transition: transform 0.4s ease-out 0.4s;
  @include maxLayout();

  &.is-active {
    transform: translateY(0);
  }
}

.info-app-visit,
.info-app-request {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0;
  background-color: #fff;

  .info-box {
    padding: 1.5em 0 1.5em 0;
    margin-right: 1em;
    width: calc(100% - 8.5em);
  }
  .btn-box {
    width: 7.5em;
    text-align: right;

    .btn {
      width: 100%;
    }
  }
}

.tooltip {
  z-index: $zindex-tooltip;
}

.dim-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $zindex-modal-backdrop;
  cursor: pointer;
  @include maxLayout();
}

.no-img {
  background-image: url('~assets/images/common/no_img.png');
}
.shadow {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

/* theme override */
.swiper-container,
[class*='-slider'] {
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    margin-top: 0;
    transform: translateY(-50%);
    outline: 0;
    background-image: none;
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-disabled {
    opacity: 0 !important;
  }
  .swiper-lazy-preloader {
    animation: none;
    &:after {
      background-image: url('~assets/svg/common/loader.svg');
    }
  }
}

.swiper-pagination,
.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    background: $white;
    border: 1px solid $gray;
    opacity: 1;
    margin: 0 4px;
  }
  .swiper-pagination-bullet-active {
    background: $primary;
  }
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.thumb-img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lazy-preload {
  background-color: $gray-100;
  background-image: url('~assets/images/common/no_img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.lazy-loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5em;
  height: 5em;
  background: url('~assets/svg/common/loader.svg') no-repeat center center;
  background-size: 5em 5em;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.watermark {
  position: relative;
  &:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: url('~assets/images/common/watermark.png') repeat center center;
    background-size: contain;
    // background: url('~assets/images/common/watermark_02.png') no-repeat center
    //   center;
    // background-size: 55%;
  }
}
.watermark-open {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 28%;
}

// 신규 공간 슬라이더 공통
.newspace-wrapper {
  .title-box {
    h5 {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      border-bottom: 2px solid $black;
      padding-bottom: 2px;
      .icon-arrow-angle-right {
        border: 2px solid $black;
        border-radius: 50%;
        font-size: $txt-mini;
        font-weight: $txt-bold;
        padding: 0.125em;
      }
    }
  }
}

// 공간 상세 페이지 공통
.space-detail-wrapper {
  // padding-top: 0 !important;
  position: relative;
  .btn-like {
    &:hover {
      background-color: transparent;
      color: $gray-500;
    }
  }

  .article-content {
    // padding-top: 75%;
  }
  .article-section {
    padding: 0;
  }

  // 슬라이드
  .slide-wrapper {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // overflow: hidden;
    @include maxLayout();
    position: relative;

    &:after {
      display: none;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 20%;
      z-index: 1;
      @include gradientBlack();
    }

    .swiper-slide {
      position: relative;
      padding-top: 56.25%;
      .slide-img {
        width: 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      opacity: 0.5;
    }
    .swiper-button-prev {
      left: 1em;
    }
    .swiper-button-next {
      right: 1em;
    }

    .swiper-pagination {
      width: 100%;
      bottom: 1em;
      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        margin: 0 8px;
        background-color: $white;
        transform: none;
        opacity: 1;
        font-size: 0;
        border: 1px solid $gray;

        &.swiper-pagination-bullet-active {
          background-color: $primary;
        }
      }
    }
  }

  .thumbnail-wrapper {
    .swiper-slide {
      opacity: 0.5;
      font-size: 0;
      position: relative;
      padding-bottom: 10%;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.swiper-slide-active {
        opacity: 1;
      }
    }
  }

  // 상세 정보
  .detail-wrapper {
    position: relative;
    z-index: 2;
    background: $white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
    padding-top: 1.5em;
    padding-bottom: 8em;

    .space-info {
      position: relative;
      padding: 0 0 1.5em;
      min-height: 7em;
      .row-box {
        position: relative;
      }
      .space-cate {
        font-size: $txt-tiny;
      }
      .space-no {
        font-size: $txt-tiny;
        margin-left: 0.5em;
      }
      .space-name {
        font-size: 2.1rem;
        color: $black;
        margin-top: 0.5em;
        margin-bottom: 0.25em;
        font-weight: 600;
      }
      .space-address {
        font-size: $txt-small;
        color: $gray;
      }

      .btn-share {
        position: absolute;
        right: 1em;
        top: 0;
        z-index: 2;
      }
    }
  }

  .main-article {
    background-color: #fff;

    #tabContent {
      .tab-container {
        .v-tabs {
          border-top: 1px solid $border-color;
          border-bottom: 1px solid $border-color;
          margin-bottom: 1px;
        }
      }
      &.is-fixed {
        padding-top: 3em;
        .tab-container {
          position: fixed;
          top: 6rem;
          left: 0;
          right: 0;
          z-index: 5;
          transition: none;
          @include maxLayout();
        }
      }
      // .v-tab--highlight {
      //   &:after {
      //     display: block;
      //     content: '';
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     right: 0;
      //     bottom: 0;
      //     border: 3px solid #1779ff;
      //     z-index: 2;
      //   }
      //   .line {
      //     span {
      //       z-index: 3;
      //       &:nth-child(1) {
      //         position: absolute;
      //         top: 0px;
      //         left: 0px;
      //         width: 100%;
      //         height: 3px;
      //         background: linear-gradient(to right, transparent, #77d3ff);
      //         animation: animate1 1.25s linear infinite;
      //       }

      //       &:nth-child(2) {
      //         position: absolute;
      //         top: 0px;
      //         right: 0px;
      //         width: 3px;
      //         height: 100%;
      //         background: linear-gradient(to bottom, transparent, #77d3ff);
      //         animation: animate2 1.25s linear infinite;
      //         animation-delay: 0.625s;
      //       }
      //       &:nth-child(3) {
      //         position: absolute;
      //         bottom: 0px;
      //         right: 0px;
      //         width: 100%;
      //         height: 3px;
      //         background: linear-gradient(to left, transparent, #77d3ff);
      //         animation: animate3 1.25s linear infinite;
      //       }

      //       &:nth-child(4) {
      //         position: absolute;
      //         top: 0px;
      //         left: 0px;
      //         width: 3px;
      //         height: 100%;
      //         background: linear-gradient(to top, transparent, #77d3ff);
      //         animation: animate4 1.25s linear infinite;
      //         animation-delay: 0.625s;
      //       }
      //     }
      //   }
      // }
    }

    .detail-box {
      padding: 1.5em 0;

      + .detail-box {
        margin-top: 0;
        border-top: 1px solid #ddd;
      }
      .title-box {
        position: relative;
        > h4 {
          font-size: $txt-medium;
          line-height: 1;
          color: #212121;
          font-weight: 600;

          + .h4_desc {
            margin-top: 8px;
            font-size: $txt-tiny;
            color: $gray;
          }
        }
        .date {
          position: absolute;
          right: 0;
          top: 0;
          color: #ddd;
          font-size: $txt-mini;
        }

        + .content-box {
          margin-top: 2em;
        }
      }
      .content-box {
        h5 {
          font-size: $txt-small;
          color: $gray-800;
        }

        table {
          th,
          td {
            font-size: $txt-tiny;
          }
          td {
            color: $gray-800;
          }
        }

        .graph-label {
          display: inline-block;
          background: #f5f5f5;
          padding: 0.25em 0.5em;
          border: 1px solid #dedede;
          margin: 0 auto;
          font-size: $txt-mini;
          color: $black;
        }

        .horizontal-stacked-bars {
          display: flex;
          height: 40px;
        }

        .horizontal-stacked-bars .horizontal-stacked-bar {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          font-size: 16px;
          color: #fff;
        }

        .horizontal-stacked-bars .horizontal-stacked-bar.bar-gender-male {
          background-color: #7085fa;
        }

        .horizontal-stacked-bars .horizontal-stacked-bar.bar-gender-female {
          background-color: #fd7070;
        }

        .horizontal-stacked-bars .horizontal-stacked-bar.bar-gender-etc {
          background-color: #646464;
        }

        .horizontal-stacked-bars .horizontal-stacked-bar p {
          font-weight: 700;
        }

        .horizontal-stacked-bars .horizontal-stacked-bar span {
          font-size: 12px;
          margin-left: 8px;
        }

        .no-data {
          text-align: center;
          padding: 4em 0;
        }
      }
    }
  }

  .newspace-wrapper {
    margin: 0 -1.25em;
  }

  .employee_wrapper {
    display: flex;
    max-width: 10em;
    margin: 0 auto;
    align-items: center;
    // background: url('~assets/svg/spaces/spaces_visual_character.svg') no-repeat
    //   right center;
    background-size: auto 9.375em;

    .employee_box {
      width: 10em;
      height: 9.375em;
      background: url('~assets/svg/spaces/screen.svg') no-repeat center center;
      background-size: cover;
      padding: 2em 1em 0;
      text-align: center;
      .employee_count {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        color: $primary;
      }
    }
    .odometer.odometer-auto-theme,
    .odometer.odometer-theme-default {
      font-family: inherit !important;
    }
  }

  .chart-wrapper {
    max-width: 20em;
    margin: 0 auto;
    text-align: center;
  }

  #genderChart {
    .svgGenderCharacter {
      margin: 0 1em;
    }
  }

  .map-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    border-radius: 0;
    overflow: hidden;
  }

  .promotion-info {
    padding: 1em 0;
    background-color: $light;
    .title-box {
      margin-left: -1.25em;
      h4 {
        color: $gray-800;
        font-size: $txt-small;
        font-weight: $txt-bold;
        span {
          display: inline-block;
          background-color: $secondary;
          color: $white;
          padding: 0.5em 1em;
        }
      }
      + .content-box {
        margin-top: 1em;
      }
    }

    .promotion-list {
      + .promotion-list {
        margin-top: 0.5em;
      }
    }
    .promotion-title {
      font-size: $txt-small;
      font-weight: $txt-bold;
      color: $black;
      span {
        display: inline-block;
        padding: 0 5px 5px;
        border-bottom: 3px solid $secondary;
      }
      + .u-list {
        margin-top: 1em;
      }
    }
    .u-list {
      margin-top: 0;
      li {
        font-size: $txt-tiny;
        color: $black;
        padding: 1em 1em;
        font-weight: $txt-bold;
        border: 1px solid $border-color;
        background-color: $white;
        &:before {
          display: none;
          background-color: $black;
        }
        .svg-icon {
          color: $black;
          width: 1.5em;
          vertical-align: top;
          margin-right: 0.5em;
        }
      }
    }
  }
  // sns 공유
  .sns-wrapper {
    .sns-list {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $white;
      z-index: $zindex-modal;
      padding: 2em 0 1em;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      @include maxLayout();

      h4 {
        line-height: 1;
      }
    }
    .btn-close {
      position: absolute;
      right: 1.25em;
      top: 1.5em;
    }
  }
  @media screen and (max-width: 1023px) {
    .detail-wrapper {
      > .inner-container {
        max-width: none;
        padding: 0;
      }
      .tab-container {
        > .inner-container {
          padding: 0;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .detail-wrapper {
      overflow: hidden;
    }
    .slide-wrapper {
      .swiper-slide {
        padding-top: 0;
        height: 22em;
      }
    }
    .newspace-wrapper {
      margin: 0;
    }
    #tabContent {
      &.is-fixed {
        .tab-container {
          width: 100%;
          margin: 0;
          .inner-container {
            padding: 0 1.25em;
          }
          .v-tabs {
            width: 66.66%;
            margin: 0 auto 0 0;
          }
        }
      }
      .section-content {
        > .inner-container {
          padding: 0;
        }
      }
    }
    .tab-container,
    .space-info,
    .detail-box {
      .inner-container {
        padding: 0;
      }
    }
  }
}
#deliverySpaceDetail {
  .analysis-wrapper {
    position: fixed;
    top: 3.75em;
    left: -100%;
    width: 100%;
    height: 100vh;
    border-right: 1px solid #dcdcdc;
    background-color: $white;
    z-index: 99;
    transition: all 0.4s ease-out;

    .section {
      padding: 1.5em 1.25em;
      + .section {
        border-top: 0.5em solid $light;
      }
      .section-header {
        h3 {
          font-size: $txt-medium;
          color: $black;
          font-weight: $txt-bold;
        }
        + .section-content {
          margin-top: 1em;
        }
      }
      .section-content {
        h5 {
          font-size: $txt-small;
        }
      }
    }

    .table {
      font-size: $txt-tiny;
      thead {
        th {
          border-bottom: 1px solid $border-color;
        }
      }
      th,
      td {
        padding: 0.625em 0.5em;
        color: #212121;
        span {
          white-space: nowrap;
        }
      }
    }

    .graph-label {
      display: inline-block;
      background: #f5f5f5;
      padding: 0.25em 0.5em;
      border: 1px solid #dedede;
      margin: 0 auto;
      font-size: $txt-mini;
      color: $black;
    }

    .horizontal-stacked-bars {
      display: flex;
      height: 40px;
    }

    .horizontal-stacked-bars .horizontal-stacked-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 16px;
      color: #fff;
    }

    .horizontal-stacked-bars .horizontal-stacked-bar.bar-gender-male {
      background-color: #7085fa;
    }

    .horizontal-stacked-bars .horizontal-stacked-bar.bar-gender-female {
      background-color: #fd7070;
    }

    .horizontal-stacked-bars .horizontal-stacked-bar.bar-gender-etc {
      background-color: #646464;
    }

    .horizontal-stacked-bars .horizontal-stacked-bar p {
      font-weight: 700;
    }

    .horizontal-stacked-bars .horizontal-stacked-bar span {
      font-size: 12px;
      margin-left: 8px;
    }

    .no-data {
      text-align: center;
      padding: 4em 0;
    }

    .space-address {
      position: absolute;
      left: 50%;
      top: 1em;
      transform: translateX(-50%);
      background-color: $white;
      z-index: 2;
      border: 1px solid #dcdcdc;
      border-radius: $border-radius-lg;
      padding: 0.25em 1em;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
    }

    &.is-active {
      left: 0;
      box-shadow: 0.25em 0 1em rgba(0, 0, 0, 0.15);
      + div {
        display: none;
      }
    }
    + div {
      padding: 0;
    }
    .tab-contents {
      height: calc(100vh - 23em);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      background-color: $white;
      padding-bottom: 6em;
    }

    .btn-analysis {
      display: block;
      position: fixed;
      left: 50%;
      bottom: 1em;
      transform: translateX(-50%);
      border-width: 2px;
      transition: all 0.4s ease-out 0.4s;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);

      &.btn-outline-secondary {
        background-color: $white;
        &.is-scrolled {
          bottom: 5em;
        }
        &:hover {
          background-color: $secondary;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .analysis-wrapper {
      left: -35em;
      width: 35em;
      ~ {
        .detail-wrapper {
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
      }

      .btn-analysis {
        position: absolute;
        left: 100%;
        margin-left: 0.5em;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
      }
      .tab-contents {
        padding-bottom: 0;
      }
      &.is-active {
        + div {
          display: block;
        }
      }
    }
  }
  @media screen and (min-width: 1480px) {
    .analysis-wrapper {
      left: 0;

      &.is-active {
        box-shadow: none;
      }

      ~ .detail-wrapper {
        padding-left: 36.5em;
        max-width: none;
      }

      .btn-analysis {
        display: none;
      }
    }
  }
}

// toast
.toast-wrapper {
  .toast-box {
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: $zindex-modal;
    opacity: 0;
    visibility: hidden;
    @include maxLayout();

    .toast {
      display: inline-block;
      padding: 0.5em;
      background-color: rgba(0, 0, 0, 0.65);
      color: $white;
      text-align: center;
      border-radius: $border-radius-sm;
      font-size: $txt-tiny;
    }
  }
}
// 비회원 상담폼
#registerForm {
  position: relative;
  margin: 0;
  z-index: 1;
  .section-header {
    text-align: center;
    h3 {
      color: $black;
      font-weight: $txt-bold;
    }
  }
}

// 공간 검색 바
.search-box {
  position: relative;
  z-index: 2;

  .search-input-box {
    display: flex;

    .search-input-area {
      position: relative;
      display: block;
      width: 100%;
      padding: 0.5em 2em;
      background-color: #fff;
      background-image: url('~assets/svg/nanuda/search.svg');
      background-repeat: no-repeat;
      background-position: 0.5em center;
      background-size: 1.125em 1.25em;

      .input-field {
        width: 100%;
        height: 100%;
        border: 0;
        font-size: $txt-tiny;
      }

      .btn-reset {
        position: absolute;
        top: 50%;
        right: 0.5em;
        display: block;
        width: 1.25em;
        height: 1.25em;
        transform: translateY(-50%);
        text-indent: -9999px;
        background-color: $gray-100;
        background-image: url(~assets/svg/nanuda/close.svg);
        background-repeat: no-repeat;
        background-size: 0.75em 0.75em;
        background-position: center center;
        border-radius: 50%;
      }

      .loader {
        position: absolute;
        top: 50%;
        right: 2em;
        transform: translateY(-50%);
      }
    }
    .btn-search {
      width: 7.5em;
      border-radius: 0;
    }
  }
  .search-result-layer {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2;
    background-color: $white;
    border: 1px solid $border-color;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    .search-result-list {
      max-height: 12em;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      .search-result-list-item {
        text-align: left;
        padding: 0.75em 1.25em;
        cursor: pointer;
        &:hover,
        &.selected {
          background-color: $light;
        }

        + .search-result-list-item {
          border-top: 1px solid $border-color;
        }

        .district-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: $txt-tiny;
        }
      }
    }
    .no-data {
      font-size: $txt-tiny;
      padding: 1em 1em;
      text-align: left;
      .icon {
        &:before {
          vertical-align: middle;
        }
      }
    }
  }
}

// article section
.article-section {
  position: relative;
  padding: 3em 0;

  .section-header {
    h3 {
      font-weight: $txt-bold;
      color: $black;
    }
    .h3_desc {
      font-size: $txt-small;
      margin-top: 0.5em;
      margin-bottom: 1em;
    }
    &:not(.is-blind) + .section-content {
      margin-top: 2em;
    }
  }
}

// overlay
.overlay-dark {
  position: relative;
  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.6;
  }
}

// svg icon
.svg-icon {
  width: inherit;
  height: inherit;
  fill: currentColor;
}

// marquee silder
.marquee-slider {
  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    .swiper-slide {
      img {
        filter: grayscale(100%);
        opacity: 0.5;
      }
    }
  }
}

// bottom join banner
#bottomJoinBanner {
  position: relative;
  background-image: url('~assets/images/common/pattern_black_twill.png');
  background-position: center center;
  background-repeat: repeat;

  .inner-container {
    position: relative;
    &:after {
      display: block;
      content: '';
      position: absolute;
      right: 1em;
      bottom: -2em;
      width: 7.5em;
      height: 9.75em;
      background: url('~assets/images/common/nnd_man.png') no-repeat bottom
        right;
      background-size: 7.5em 9.75em;
      opacity: 0.5;
    }
  }
}

// 지도 맵
.nav-content-wrapper {
  position: fixed;
  top: 3.75em;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: 3;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-top: 1px solid $border-color;
  display: flex;

  .nav-tab-list {
    padding: 0;
    display: flex;
    width: calc(100% - 4em);
    border-right: 1px solid $border-color;
    height: 3em;

    .nav-tab-item {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 2em;
      height: 100%;
      color: $black;
      font-size: $txt-small;
      flex: 1;
      &.nuxt-link-active {
        font-weight: $txt-bold;
        color: $secondary;
        &:before {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          content: '';
          width: 100%;
          height: 4px;
          background-color: $secondary;
        }
      }
    }
  }
  .filter-bar {
    width: 4em;
    display: flex;

    .btn {
      width: 100%;
      height: 100%;
      &.is-active {
        border-color: $secondary;
        background-color: $secondary;
        color: $white;
      }
      + .btn {
        border-left: 1px solid $border-color;
        margin-left: 0;
      }
    }
  }

  .search-content-wrapper {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2;
    background-color: $white;
    border-top: 1px solid $border-color;
    max-height: calc(100vh - 6.75em);
    overflow-y: auto;
  }

  .search-full-layer {
    // border-bottom: 1px solid $border-color;
  }

  .filter-wrapper {
    position: relative;
    .filter-tab {
      border: 1px solid $border-color;
      padding-right: 0.25em;
      &.is-active {
        border-color: $secondary;
        color: $secondary;
        :before {
          color: $secondary;
        }
      }
    }
    .filter-section {
      padding: 1em 1em;
      .filter-title {
        h1 {
          font-size: $txt-medium;
          color: $black;
        }
        + .filter-content {
          margin-top: 1em;
        }
      }
    }
  }
}

.filter-item {
  border: 1px solid $border-color;
  margin: 0.25em;

  + .filter-item {
    margin-left: 0.25em;
  }
  &.is-active {
    border-color: $secondary;
    background-color: $secondary;
    color: $white;
  }
}
.search-space-wrapper {
  .main-article {
    position: relative;
    display: block;
    padding-top: 3em;
    // min-height: 0 !important;
    // height: calc(100vh - 3.75em);

    .map-content-wrapper {
      min-height: calc(100vh - 3.75em);
      &.is-collapsed {
        .map-area-wrapper {
          height: 100vh;
        }
        .space-area-wrapper {
          display: none;
        }
      }
    }

    .map-area-wrapper {
      position: fixed;
      top: 6.75em;
      left: 0;
      width: 100%;
      height: 60vh;
      @include maxLayout();
      .map-area {
        width: 100%;
        height: 100%;
      }
    }
    .space-area-wrapper {
      position: relative;
      display: block;
      @include maxLayout();
      z-index: 5;
      margin-top: 60vh;

      .scroll-up {
        display: block;
        color: $black;
        position: absolute;
        left: 50%;
        top: -1.25em;
        transform: translateX(-50%);
        font-size: $txt-massive;
      }

      .space-list-title.is-fixed {
        display: none;
      }

      .space-list-title {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 2.5em;
        line-height: 2.5em;
        background-color: $black;
        padding: 0 1em;
      }

      &.is-fixed {
        .space-list-title.is-fixed {
          display: block;
          position: fixed;
          top: 3.75em;
          left: 0;
          right: 0;
          z-index: 2;
          visibility: visible;
          @include maxLayout();
        }
        .space-list-title {
          visibility: hidden;
        }
      }
    }

    .space-list-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;
      background-color: $white;
      min-height: calc(100vh - 4.25em);

      .space-list {
        padding: 3.5em 1em 1em;
        overflow-y: auto;
      }
      .space-list-preview {
        + .space-list-preview {
          margin-top: 1em;
        }
        .space-img {
          position: relative;
          width: 40%;
          padding-bottom: 25%;
        }
        .space-info {
          width: 60%;
          padding: 0 1em;
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .restaurant-kitchen-map {
    .search-space-wrapper {
      .main-article {
        .nav-content-wrapper {
          z-index: 5;
        }
        .map-content-wrapper {
          min-height: calc(100vh - 6.75em);
          .map-area-wrapper {
            position: static;
          }
          .space-area-wrapper {
            margin-top: 0;
            .space-list-wrapper {
              min-height: 0;
              .space-list {
                padding-top: 1em;
              }
            }
          }
        }
      }
    }
  }
  .filter-tab {
    display: none;
  }
  .filter-layer {
    display: block !important;
  }
  .search-content-wrapper {
    max-height: none !important;
    overflow: visible !important;
  }
}
@media screen and (min-width: 1200px) {
  .nav-content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 6;
    .nav-tab-list {
      padding: 0;
      border: 0;
      width: 15em;
    }
    .filter-bar {
      display: none;
    }
    .search-content-wrapper {
      position: static;
      width: calc(100% - 20em);
      display: flex !important;
      border: 0;
      max-height: none;
      overflow: visible;
      > div {
        display: block !important;
      }
      .search-full-layer {
        width: 20em;
        border: 0;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
      }
    }
    .filter-wrapper {
      padding: 0.5em 0 0 0.5em;
      height: 3em;
      .filter-section {
        padding: 0;
        .filter-title {
          display: none;
          + .filter-content {
            margin-top: 0;
          }
        }
      }

      .filter-layer {
        position: absolute;
        width: 400px;
        left: 0;
        top: 100%;
        background-color: $white;
        border: 1px solid $border-color;
        z-index: 2;
        padding: 0.5em;
      }
    }
  }
  .search-space-wrapper {
    .main-article {
      min-height: 0 !important;
      height: calc(100vh - 3.75em);

      .map-content-wrapper {
        display: flex;
        flex: 1 1 0;
        overflow: hidden;

        &.is-collapsed {
          .map-area-wrapper {
            width: 100%;
          }
          .space-area-wrapper {
            display: none;
          }
        }
        .map-area-wrapper {
          padding: 0;
          position: relative;
          width: calc(100% - 35em);
          height: 100vh;
          top: 0;
          margin: 0;
        }
        .space-area-wrapper {
          width: 35em;
          height: 100vh;
          margin-top: 0;
          &.is-fixed {
            .space-list-title {
              visibility: visible;
              &.is-fixed {
                display: none;
              }
            }
          }
        }

        .space-list-wrapper {
          min-height: 0;
          height: calc(100% - 3.75em);
          .space-list-title {
            position: static;
          }
          .space-list {
            -webkit-overflow-scrolling: touch;
            height: calc(100% - 5.75em);
            overflow-y: auto;
            padding-top: 1em;
          }
        }
      }
    }
  }
}
