<template>
  <MypagePreview>
    <template v-slot:info>
      <!-- 유형 구분 :: 상태가 등록완료 상태일때 노출 -->
      <div class="mb-2" v-if="status === 'FIN_CONTRACT'">
        <Badge color="lightblue" size="mini" text="배달형" v-if="type === 2" />
        <Badge
          color="darkorange"
          size="mini"
          text="식당형"
          v-else-if="type === 1"
        />
        <span class="txt-mini ml-2">공간번호 {{ spaceID }}</span>
      </div>
      <!-- // -->
      <div>
        <p class="txt-black txt-small txt-bold">
          <!-- 상세 링크 :: 상태가 등록 완료 상태일때 상세 링크 연결 -->
          <nuxt-link to="/" v-if="status === 'SPACE_REG_COM'">{{
            name
          }}</nuxt-link>
          <span v-else>{{ name }}</span>
        </p>
        <p class="txt-black txt-tiny txt-semi">{{ address }}</p>
      </div>
      <div class="mt-3">
        <P class="txt-mini" v-if="status === 'SPACE_REG_COM' && rentalfee">
          확정대여금액 : {{ rentalfee }} 만원
        </P>
        <p class="txt-mini" v-else-if="rentalHopeFee">
          희망대여금액 : {{ rentalHopeFee }} 만원
        </p>
        <p class="txt-mini">
          등록일 : {{ $moment(uploadDate).format('YYYY.MM.DD') }}
        </p>
      </div>
    </template>
    <template v-slot:status>
      <!-- 상태 표시 구분 -->
      <Badge
        color="yellow"
        size="tiny"
        text="신규등록"
        v-if="status === 'SPACE_NEW_REG'"
      />
      <Badge
        color="orange"
        size="tiny"
        text="사진재요청"
        v-if="status === 'SPACE_RE_PHOTO'"
      />
      <Badge
        color="blue"
        size="tiny"
        text="등록완료"
        v-else-if="status === 'SPACE_REG_COM'"
      />
      <Badge
        color="purple"
        size="tiny"
        text="실사예정"
        v-else-if="status === 'SPACE_CONDUCT_COM'"
      />
      <Badge
        color="pink"
        size="tiny"
        text="드랍"
        v-else-if="status === 'SPACE_DROP'"
      />
      <Badge
        color="cyan"
        size="tiny"
        text="협의중"
        v-else-if="status === 'SPACE_IN_CONSUL'"
      />
      <Badge
        color="teal"
        size="tiny"
        text="투어대기"
        v-else-if="status === 'SPACE_WATING_TOUR'"
      />
      <Badge
        color="green"
        size="tiny"
        text="계약완료"
        v-else-if="status === 'SPACE_FIN_CONTRACT'"
      />
      <!-- // -->
    </template>
  </MypagePreview>
</template>
<script>
import MypagePreview from '@/components/Mypage/MypagePreview';

export default {
  props: [
    'spaceID',
    'name',
    'address',
    'uploadDate',
    'type',
    'status',
    'rentalHopeFee',
    'rentalfee',
  ],
  components: {
    MypagePreview,
  },
};
</script>
