<template>
  <MypageList>
    <MySpacePreview
      v-for="space in spaces"
      :key="space.NO"
      :spaceID="space.NO"
      :name="space.NAME"
      :address="space.ADDRESS"
      :rentalfee="space.RENTAL_FEE"
      :rentalHopeFee="space.RENTAL_HOPE_FEE"
      :uploadDate="space.createdAt"
      :type="space.SPACE_TYPE_NO"
      :status="space.STATUS"
    ></MySpacePreview>
  </MypageList>
</template>
<script>
import MypageList from '@/components/Mypage/MypageList';
import MySpacePreview from '@/components/Mypage/Myspace/MySpacePreview';
export default {
  props: ['spaces'],
  components: {
    MypageList,
    MySpacePreview,
  },
};
</script>
