@charset "utf-8";

/* *-box */
* + [class*="-box"] {
  margin-top: $spacer * 4;
}

*.is-blind + [class*="-box"],
.hidden-box + [class*="-box"],
.row-box > .right-box,
.btn-box > .right-box,
.hidden-box {
  margin-top: 0;
}

.row-box,
.btn-box {
  @include clearfix();
}

.row-box > .left-box,
.btn-box > .left-box {
  float: left;
}

.row-box > .right-box,
.btn-box > .right-box {
  float: right;
}

.img-box a {
  display: inline-block;
  vertical-align: top;
}

.img-box img {
  max-width: 100%;
}

/* *-box */
