/* #skip */

#skip {
  position: fixed;
  top: -999px;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: $primary;
  text-align: center;
  color: $white;
  line-height: 4;
  z-index: $zindex-skip;

  &:focus {
    top: 0;
  }
}

/* #app */
#wrap {
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.article-wrapper {
  padding-bottom: 45vh;
}
.bottom-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
}

/* layout */
.layout-container {
  position: relative;
  background-color: $white;
  // box-shadow: 1px 0 20px rgba(60, 60, 60, 0.5);
  overflow: hidden;
  // @include maxLayout();
}

/* quick bar*/
#quickBar {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: $black;
  color: $white;
  text-align: center;
  z-index: $zindex-modal-backdrop;
  .quick-inner {
    display: flex;
  }
  .btn-link {
    display: flex;
    flex: 1 1 auto;
    width: 5em;
    height: 5em;
    align-items: center;
    justify-content: center;
    .icon {
      font-size: $txt-big;
      .svg-icon {
        margin: 0 auto;
        width: 3.2rem;
      }
    }
    span {
      display: block;
      font-size: $txt-medium;
      font-weight: $txt-bold;
      margin-top: 0.5em;
    }
  }
}

/* main-wrapper */
.main-wrapper {
  position: relative;
  padding-top: 3.75em;
}

.main-article {
  min-height: calc(100vh - 3.75em);
}

/* header */
#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: $zindex-header;
  background-color: $white;
  border-bottom: 1px solid $border-color;

  // @include maxLayout();

  .header-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    transition: height 0.4s ease 0.8s;
    z-index: 10;
  }

  .inner-container {
    display: flex;
    height: 3.75em;
    justify-content: space-between;
    // align-items: center;
    max-width: none;
    .left-area {
      display: flex;
      align-items: center;
      // flex: 1;   // flex: 1;
    }
    .right-area {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 8;
    }

    .header-logo {
      position: relative;
      transition: transform 0.3s ease-in;

      path {
        fill: $black;
      }

      .logo-mobile {
        width: 1.8745em;
        height: 2.125em;

        .logo-text {
          transform: translateY(0);
          opacity: 1;
          transition: all 0.3s ease-in;
        }
      }

      .logo-pc {
        svg {
          width: 14em;
          height: 1.25em;
        }
      }
    }

    .btn-nav-open {
      color: $black;
      margin: 0;
    }
  }
  // 스크롤시
  &.is-scrolled {
    position: fixed;
    border-bottom: 0;

    .inner-container {
      max-width: none;
      background: $black;
      height: 6rem;
    }

    .header-logo {
      // transform: scale(0.85);

      .logo {
        > * {
          color: $white !important;
        }
        svg {
          path {
            fill: $white;
          }
        }

        .logo-text {
          opacity: 0;
          transform: translateY(-1em);
        }
      }

      .logo-mobile {
        height: 32px;
      }
    }

    .btn-nav-open {
      color: $white;
    }
    #lnb {
      color: $white;
    }
  }

  // 투명 헤더
  &.transparent {
    // @include gradientBlack();
    background-color: transparent;
    border-bottom: 0;

    .header-logo {
      .logo {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
    .btn-nav-open {
      color: $white;
    }

    + .main-wrapper {
      padding-top: 0;
    }

    #lnb {
      color: $white;
    }
  }
}

#header {
  + .main-wrapper {
    padding-top: 3.75em;

    .main-article {
      min-height: calc(100vh - 3.75em);
    }
  }
}

.empty-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 0 0.5em;
  height: 3.75em;
  background-color: $white;
  color: $black;
  @include maxLayout();

  &.transparent {
    position: absolute;
    color: $white;
    @include gradientBlack();
  }

  h1 {
    font-size: $txt-small;
    font-weight: 600;
    color: inherit;
    text-align: center;
  }

  &.border-header {
    border-bottom: 1px solid $border-color;
  }

  .left-area,
  .right-area {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .left-area {
    left: 0.5em;
  }
  .right-area {
    right: 0.5em;
  }

  .btn-icon {
    border-radius: 50%;

    i {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  .btn-close {
    margin-left: 0.25em;
  }
}

/* lnb */

#lnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $black;

  margin-left: 2em;
  .dep-1 {
    @include clearfix();
    display: flex;
    justify-content: flex-start;
    > li {
      position: relative;
      // float: left;
      color: inherit;
      display: flex;
      align-items: center;
      height: 3.75em;

      .nav-item {
        font-size: $txt-small;
        text-align: center;
      }

      &:hover {
        > .nav-item {
          color: $primary;
        }
        .dep-2 {
          display: block;
        }
      }
      + li {
        margin-left: 1em;
      }
    }
    .dep-2 {
      display: none;
      position: absolute;
      top: 100%;
      left: -1em;
      min-width: 200px;
      padding: 1em;
      border: 1px solid $border-color;
      font-size: $txt-small;
      background-color: $white;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
      > li {
        line-height: 1.6;
        .nav-item {
          display: block;
          color: $black;
          font-size: $txt-small;
          text-align: left;
          &:hover {
            color: $primary;
          }
        }
        + li {
          margin-left: 0;
          margin-top: 1em;
        }
      }
    }
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-group {
    // float: left;
  }
  .user-group {
    // float: right;
    margin-left: 2em;
    .dep-1 {
      > li {
        color: inherit;
        + li {
          margin-left: 1em;
          padding-left: 1em;
          &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 10px;
            background: $gray-400;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1480px) {
    .dep-1 {
      > li {
        + li {
          margin-left: 2em;
        }
      }
    }
  }
}

/* sideDrawer */

#sideDrawer {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  visibility: visible;
  z-index: $zindex-gnb;
  transform: translateX(0);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: $gray-900;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  .nav-logo {
    position: absolute;
    left: 1.25em;
    top: 1.1em;
    z-index: 2;
    svg,
    img {
      width: 1.875em;
      height: 2.625em;
      fill: $white;
    }
  }

  .btn-login {
    border: 0;
    padding: 0;
    background: transparent;
  }

  .nav-container {
    position: relative;
    padding: 0 1em;
    padding-top: 5em;
    padding-bottom: 8em;
    // @include maxLayout();
  }

  .nav-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: $gray-900;

    &::before {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100vh;
      clip-path: circle(30px at calc(100% - 65px) 65px);
      visibility: visible;
      transition: all 0.3s ease-in-out;
      z-index: 1;
    }
  }

  .nav-group {
    position: relative;
    padding: 2.5em 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    opacity: 0;
    z-index: 2;

    .dep-1 {
      > li {
        + li {
          margin-top: 1em;
        }
        > span {
          display: block;

          > .nav-item {
            display: block;
            width: 100%;
            position: relative;
            text-align: left;

            [class*='icon-arrow-angle'] {
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }

      + .dep-1 {
        margin-top: 2em;
        padding-top: 2em;
        border-top: 1px solid $gray-700;
      }
      .dep-2 {
        margin-top: 1em;
        margin-left: 1em;
        > li {
          &:before {
            display: inline-block;
            content: '-';
            margin-right: 1em;
          }
          + li {
            margin-top: 1em;
          }
        }
      }
    }

    .nav-item {
      color: $gray-400;
      font-size: $txt-medium;

      &:hover {
        color: $white;
        text-decoration: none;
        font-weight: $txt-bold;
      }
    }
  }

  .btn-nav-close {
    position: fixed;
    top: 0.65em;
    left: 0.875em;
    overflow: hidden;
    border: 0;
    z-index: 10;
    .icon-close {
      transition: transform 0.2s linear;
      font-weight: 600;
      color: $gray-400;
    }
    &:hover {
      .icon-close {
        color: $white;
      }
    }
  }

  &.is-open {
    visibility: visible;
    transform: translateX(-100%);

    + #wrap {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(0);

      .layout-backdrop {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $gray-900;
        opacity: 0.6;
        z-index: $zindex-modal-backdrop;
      }
    }

    .nav-auth-info {
      background-color: $gray-800;
      padding: 1em 1em;
    }

    .nav-group {
      opacity: 1;
      transition: opacity 0.2s ease 0.2s;
    }

    .btn-nav-close {
      opacity: 1;
      transition: opacity 0.2s ease 1.2s;

      span {
        transform: translateY(0);
      }
    }
  }
}

.dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $zindex-modal;
  display: none;

  &.is-active {
    display: block;
  }

  .dialog-section {
    // max-width: 560px;
    height: 100%;
    margin: 0 auto;
    background: $white;
    padding: 4em 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
  }
}

// guide

#guide {
  .main-wrapper {
    padding: 0;

    .main-header {
      padding: 1em 0;
      background-color: $primary;
      color: $white;

      h1 {
        text-transform: uppercase;
        letter-spacing: 0.04em;
      }

      .inner-container {
        background-image: url('~assets/svg/character/character_04.svg');
        background-repeat: no-repeat;
        background-position: right 1em center;
        background-size: contain;
      }
    }
  }

  .main-article {
    padding: 2em 0;

    .article-header {
      border-bottom: 2px solid $black;
      padding: 1em 0;
      color: $black;

      h2 {
        font-weight: bold;
      }
    }
  }

  .article-section {
    padding: 1em 0;

    .section-header {
      padding: 1em 0;

      h3 {
        color: $gray-800;
        text-transform: uppercase;
      }
    }
  }
}

.v-tabs {
  .v-tabs-bar {
    height: auto;
    min-height: 3em;
  }
}
.v-slide-group__prev,
.v-slide-group__next {
  display: none !important;
}
.v-slide-group__content {
  .v-tab {
    align-items: center;
    font-size: $txt-small;
    font-weight: 600;
    padding: 0;
    max-width: none;

    &:hover {
      &:before {
        background-color: transparent;
      }
    }

    .tab-txt {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 1em 0;

      .icon {
        display: block;
        font-size: 3rem;
        margin-bottom: 0.25em;
      }
      span {
        line-height: 1;
        letter-spacing: -0.04em;
      }
    }
    .v-ripple__container {
      display: none;
    }

    &.v-tab--active {
      .icon {
        color: $secondary;
      }
      .tab-txt {
        color: $secondary;
        &:before {
          display: block;
          content: '';
          width: 100%;
          height: 3px;
          background-color: $secondary;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
  }

  .v-tabs-slider {
    display: none;
  }
}

// complete
.complete-article {
  padding-bottom: 3.75em;
  background-color: $white;
  .article-header {
    padding: 3.25em 0 3.25em;
    background-color: $light;
    h2 {
      font-size: $txt-large;
      color: $black;
      font-weight: $txt-bold;
      text-align: center;
      margin-bottom: 1em;
    }
    p {
      text-align: center;
      color: $black;
      font-size: 1.4rem;
    }
  }

  .article-content {
    border-top: 1px solid $border-color;
    padding: 2em 0 0;

    .btn-box {
      padding: 0 1em;
    }
  }
}

// media query

@media screen and (max-width: 359px) {
  html {
    font-size: 8px !important;
  }
}

@media screen and (min-width: 560px) and (max-width: 1023px) {
  html {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 560px) {
  html {
    font-size: 12px !important;
  }
  #nav {
    width: 20em;
    &.is-open {
      transform: translateX(-20em);

      + #wrap {
        transform: translateX(-20em);
        .layout-backdrop {
          visibility: visible;
        }
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  #quickBar {
    left: auto;
    bottom: 4em;
    width: auto;
    .quick-inner {
      display: block;
    }
  }
}
