<template>
  <main class="main-wrapper">
    <EmptyHeader border title="이용약관">
      <template v-slot:leftArea>
        <CloseButton @click="$router.push('/')" />
      </template>
    </EmptyHeader>
    <article class="main-article">
      <div class="article-section">
        <TermsOfUse />
      </div>
    </article>
  </main>
</template>
<script>
import TermsOfUse from '@/components/Agreement/TermsOfUse';
export default {
  layout: 'empty',
  components: {
    TermsOfUse,
  },
};
</script>
