<template>
  <header
    id="emptyHeader"
    class="main-header empty-header"
    :class="classObject"
  >
    <h1 :class="{ 'is-blind': hideTitle }" @click="$emit('titleClicked')">
      {{ title }}
    </h1>
    <div class="left-area">
      <slot name="leftArea"></slot>
    </div>
    <div class="right-area">
      <slot name="rightArea"></slot>
    </div>
    <slot></slot>
  </header>
</template>
<script>
export default {
  props: {
    border: {
      // 헤더 보더
      type: Boolean,
      default: false,
    },
    hideTitle: {
      // 타이틀 노출 여부
      type: Boolean,
      default: false,
    },
    title: {
      // 타이틀 내용
      type: String,
    },
    bgcolor: {
      // 해더 색상
      type: String,
      default: 'white',
    },
  },
  computed: {
    classObject: function () {
      return {
        'border-header': this.border,
        transparent: this.bgcolor == 'transparent',
      };
    },
  },
};
</script>
