<template>
  <!-- 네비게이션 -->
  <nav class="nav" id="lnb">
    <div class="nav-container">
      <div class="nav-group">
        <ul class="dep-1">
          <li>
            <button
              class="nav-item mk_navdelivery_btn"
              @click="onNavigation('/delivery-kitchen')"
            >
              배달형 공유주방
            </button>

            <ul class="dep-2">
              <li>
                <button
                  @click="onNavigation('/delivery-kitchen')"
                  class="nav-item mk_navdelivery_btn"
                >
                  배달형 공유주방 찾기
                </button>
              </li>
              <li>
                <nuxt-link
                  to="/delivery-kitchen/about"
                  class="nav-item mk_navdeliveryabout_btn"
                  >배달형 공유주방 소개</nuxt-link
                >
              </li>
            </ul>
          </li>
          <li>
            <nuxt-link
              class="nav-item mk_navrestaurant_btn"
              to="/restaurant-kitchen"
              >식당형 공유주방</nuxt-link
            >
          </li>

          <li>
            <nuxt-link class="nav-item mk_navbrands_btn" to="/brands"
              >입점 브랜드</nuxt-link
            >
          </li>
          <li>
            <nuxt-link
              class="nav-item mk_navkitchenpartners_btn"
              to="/kitchen-partners"
              >파트너 공유주방</nuxt-link
            >
          </li>
          <li>
            <nuxt-link class="nav-item mk_navabout_btn" to="/about-us"
              >회사소개</nuxt-link
            >
          </li>
          <li>
            <nuxt-link class="nav-item mk_navregister_btn" :to="'/register'"
              >공간 등록하기</nuxt-link
            >
          </li>
          <li>
            <nuxt-link class="nav-item mk_navevents_btn" to="/events">
              <span
                class="btn btn-outline-lightorange btn-rounded btn-tiny w-15"
              >
                이벤트
              </span>
            </nuxt-link>
          </li>
        </ul>
      </div>
      <div class="user-group">
        <template v-if="isAuth">
          <ul class="dep-1">
            <li>
              <nuxt-link class="nav-item mk_navmypage_btn" to="/mypage"
                >마이페이지</nuxt-link
              >
            </li>
            <li>
              <button @click="logout()" class="nav-item mk_navlogout_btn">
                로그아웃
              </button>
            </li>
          </ul>
        </template>
        <template v-if="!isAuth">
          <ul class="dep-1">
            <li>
              <nuxt-link class="nav-item mk_navlogin_btn" to="/login">
                로그인
              </nuxt-link>
            </li>
            <li>
              <nuxt-link class="nav-item mk_navsignup_btn" to="/join">
                회원가입
              </nuxt-link>
            </li>
          </ul>
        </template>
      </div>
    </div>
  </nav>
  <!-- // 네비게이션 -->
</template>
<script>
export default {
  props: ['sideDrawer'],
  computed: {
    isAuth() {
      return this.$store.getters.isAuthenticated;
    },
  },
  data() {
    return {
      pageIdx: 0,
    };
  },
  methods: {
    onNavigation(path) {
      if (path) {
        if (this.$route.path !== path) {
          this.$router.push(path);
        } else {
          this.$root.$emit('onNavigation', path);
        }
      }
    },
    toggleSideDrawer() {
      this.$emit('toggle');
      //로그인상태지만 토큰 유효기간이 다 됬으면 로그아웃됨
      this.$checkTokenExpired();
    },
    login() {
      // 로그인
      this.$router.push('/login');
    },
    join() {
      // 회원가입
      this.$router.push('/join');
    },
    logout() {
      this.$store.dispatch('logout').then(() => {
        //공간 등록중에 로그아웃하면 메인화면으로 이동, 배달형 상세 페이지 로그아웃시
        if (this.$route.path) {
          this.$router.go(0);
        } else {
          this.$router.push('/');
        }
      });
    },
  },
};
</script>
