<template>
  <!-- 네비게이션 -->
  <nav class="nav" id="sideDrawer" :class="{ 'is-open': sideDrawer }">
    <div class="nav-container">
      <div class="nav-overlay"></div>
      <template v-if="isAuth">
        <div class="nav-auth-info">
          <div class="txt-box" v-if="$store.state.userName">
            <p>
              <span class="txt-white">{{ $store.state.userName }}</span> 님,
              반갑습니다!
            </p>
          </div>
          <div class="btn-box row gutter-8">
            <span class="col col-6" @click="toggleSideDrawer()">
              <nuxt-link
                class="btn btn-tiny btn-block btn-primary mk_navmypage_btn"
                to="/mypage"
                >마이페이지</nuxt-link
              >
            </span>
            <span class="col col-6" @click="toggleSideDrawer()">
              <button
                @click="logout()"
                class="btn btn-tiny btn-block btn-black mk_navlogout_btn"
              >
                로그아웃
              </button>
            </span>
          </div>
        </div>
      </template>
      <template v-if="!isAuth">
        <div class="txt-center">
          <div class="btn-box">
            <button
              class="btn btn-tiny btn-primary btn-block mk_navlogin_btn"
              @click="login()"
            >
              로그인
            </button>
          </div>
          <div class="txt-box mt-8">
            <p class="txt-small">나누다키친이 처음이신가요?</p>
          </div>
          <div class="btn-box">
            <button
              class="btn btn-tiny btn-gray-700 btn-block mk_navsignup_btn"
              @click="join()"
            >
              회원가입
            </button>
          </div>
        </div>
      </template>
      <div class="nav-group">
        <ul class="dep-1">
          <li>
            <span>
              <button
                class="nav-item mk_navdelivery_btn"
                @click="isdep2Visible = !isdep2Visible"
              >
                배달형 공유주방
                <i class="icon icon-arrow-angle-down"></i>
              </button>
            </span>
            <ul class="dep-2" v-show="isdep2Visible">
              <li @click="toggleSideDrawer()">
                <span>
                  <button
                    class="nav-item mk_navdelivery_btn"
                    @click="onNavigation('/delivery-kitchen')"
                  >
                    배달형 공유주방 찾기
                  </button>
                </span>
              </li>
              <li @click="toggleSideDrawer()">
                <span>
                  <nuxt-link
                    class="nav-item mk_navdeliveryabout_btn"
                    to="/delivery-kitchen/about"
                    >배달형 공유주방 소개</nuxt-link
                  >
                </span>
              </li>
            </ul>
          </li>
          <li @click="toggleSideDrawer()">
            <span>
              <nuxt-link
                class="nav-item mk_navrestaurant_btn"
                to="/restaurant-kitchen"
                >식당형 공유주방</nuxt-link
              >
            </span>
          </li>
          <li @click="toggleSideDrawer()">
            <span>
              <nuxt-link class="nav-item mk_navbrands_btn" to="/brands"
                >입점 브랜드</nuxt-link
              >
            </span>
          </li>
          <li @click="toggleSideDrawer()">
            <span>
              <nuxt-link
                class="nav-item mk_navkitchenpartners_btn"
                to="/kitchen-partners"
                >파트너 공유주방</nuxt-link
              >
            </span>
          </li>
          <li @click="toggleSideDrawer()">
            <span>
              <nuxt-link class="nav-item mk_navabout_btn" to="/about-us"
                >회사소개</nuxt-link
              >
            </span>
          </li>
          <li @click="toggleSideDrawer()">
            <!-- 로그인이 안되있으면 로그인페이지로 -->
            <span>
              <nuxt-link class="nav-item mk_navregister_btn" :to="'/register'"
                >공간 등록하기</nuxt-link
              >
            </span>
          </li>
        </ul>
        <ul class="dep-1">
          <li @click="toggleSideDrawer()">
            <span>
              <nuxt-link class="nav-item mk_navevents_btn" to="/events">
                <span class="txt-lightorange">
                  진행중인 이벤트
                </span>
              </nuxt-link>
            </span>
          </li>
        </ul>
      </div>
      <NButton
        color="transparent"
        class="btn-nav-close"
        icon
        circle
        bg-color="rgba(0,0,0,.15)"
        @click="toggleSideDrawer()"
      >
        <i class="icon-close"></i>
        <span>메뉴 닫기</span>
      </NButton>
    </div>
  </nav>
  <!-- // 네비게이션 -->
</template>
<script>
export default {
  props: ['sideDrawer'],
  computed: {
    isAuth() {
      return this.$store.getters.isAuthenticated;
    },
  },
  data() {
    return {
      isdep2Visible: false,
    };
  },
  methods: {
    onNavigation(path) {
      if (path) {
        if (this.$route.path !== path) {
          this.$router.push(path);
        } else {
          this.$root.$emit('onNavigation', path);
        }
      }
    },
    toggleSideDrawer() {
      this.$emit('toggle');
      //로그인상태지만 토큰 유효기간이 다 됬으면 로그아웃됨
      this.$checkTokenExpired();
    },
    login() {
      // 로그인
      this.$router.push('/login');
    },
    join() {
      // 회원가입
      this.$router.push('/join');
    },
    logout() {
      this.$store.dispatch('logout').then(() => {
        //공간 등록중에 로그아웃하면 메인화면으로 이동, 배달형 상세 페이지 로그아웃시
        if (
          this.$route.name === 'register' ||
          this.$route.name === 'delivery-kitchen-uid' ||
          this.$route.name === 'restaurant-kitchen-uid'
        ) {
          this.$router.push('/');
        }
      });
    },
  },
};
</script>
