<template>
  <header id="header" :class="{ 'is-scrolled': isScrolled }" ref="header">
    <div class="header-container">
      <div class="inner-container">
        <div class="left-area">
          <div class="header-logo" v-show="!sideDrawer">
            <nuxt-link to="/">
              <div class="logo logo-mobile d-xxl-none mk_nanudakitchen_btn">
                <Logo class="mk_logo_btn" />
              </div>
              <div class="logo logo-pc d-none d-xxl-block mk_nanudakitchen_btn">
                <span class="d-block txt-black txt-mini txt-bold mb-1">
                  <strong class="txt-primary">공유주방</strong>의 모든 것
                </span>
                <LogoTitle class="mk_logo_btn" />
              </div>
            </nuxt-link>
          </div>

          <slot name="leftArea"></slot>
        </div>
        <div class="right-area">
          <slot name="rightArea"></slot>
          <Navigation class="d-none d-xl-block" />
          <button
            type="button"
            class="btn btn-icon btn-nav-open mk_navmenu_btn d-block d-xl-none"
            @click="toggleSideDrawer"
          >
            <i class="icon-menu"></i>
            <span>메뉴 열기</span>
          </button>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import Logo from '@/components/UI/Logo';
import LogoTitle from '@/components/UI/LogoTitle';
import Navigation from '@/components/Navigation/Navigation';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤이베트

export default {
  name: 'TheHeader',
  mixins: [handleScroll],
  components: {
    Logo,
    LogoTitle,
    Navigation,
  },
  props: ['sideDrawer'],
  data() {
    return {
      isScrolled: false,
      currentScroll: 0,
    };
  },
  methods: {
    headerFixed() {
      const target = this.$refs.header;
      if (target) {
        let { height } = target.getBoundingClientRect();
        if (this.currentScroll > height) {
          this.isScrolled = true;
        } else {
          this.isScrolled = false;
        }
      }
    },
    scrollFunc() {
      // 스크롤이벤트
      this.headerFixed();
    },
    toggleSideDrawer() {
      this.$emit('toggle');
      //로그인상태지만 토큰 유효기간이 다 됬으면 로그아웃됨
      this.$checkTokenExpired();
    },
  },
};
</script>

<style lang="scss" scoped></style>
