<template>
  <main id="planMeetingsForm" class="main-wrapper">
    <EmptyHeader border title="입점 및 창업 문의하기">
      <template v-slot:leftArea>
        <PrevButton @click="$router.go(-1)" />
      </template>
    </EmptyHeader>
    <article class="main-article">
      <header class="article-header mb-4 is-blind">
        <h2 class="txt-large txt-black">신청공간 및 상담관련</h2>
      </header>
      <div class="article-content">
        <section class="article-section bg-gray-100">
          <div class="inner-container">
            <header class="section-header mb-4">
              <h3 class="txt-medium txt-bold txt-black">상담 및 계약 순서</h3>
              <p class="txt-tiny txt-black mt-2">
                상담 및 계약은 아래의 순서로 진행되오니 참고 부탁드립니다.
              </p>
            </header>
            <div class="section-conent">
              <div class="plans-step-list">
                <ol class="plans-step-list-container">
                  <li class="plans-step-list-item">
                    <div class="icon-box">
                      <img src="@/assets/svg/plans/plans_step_01.svg" alt="" />
                    </div>
                    <div class="txt-box">
                      <span class="step-num"
                        >STEP <strong class="txt-primary">1</strong></span
                      >
                      <p>NND에 문의하기</p>
                    </div>
                  </li>
                  <li class="plans-step-list-item">
                    <div class="icon-box">
                      <img src="@/assets/svg/plans/plans_step_02.svg" alt="" />
                    </div>
                    <div class="txt-box">
                      <span class="step-num"
                        >STEP <strong class="txt-primary">2</strong></span
                      >
                      <p>유선으로 상담 진행</p>
                    </div>
                  </li>
                  <li class="plans-step-list-item">
                    <div class="icon-box">
                      <img src="@/assets/svg/plans/plans_step_03.svg" alt="" />
                    </div>
                    <div class="txt-box">
                      <span class="step-num"
                        >STEP <strong class="txt-primary">3</strong></span
                      >
                      <p>NND와 대면 상담</p>
                    </div>
                  </li>
                  <li class="plans-step-list-item">
                    <div class="icon-box">
                      <img src="@/assets/svg/plans/plans_step_04.svg" alt="" />
                    </div>
                    <div class="txt-box">
                      <span class="step-num"
                        >STEP <strong class="txt-primary">4</strong></span
                      >
                      <p>계약하기</p>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </section>
        <div class="py-4">
          <div class="inner-container">
            <div class="row gutter-16 justify-content-center">
              <div class="col col-12 col-lg-6">
                <section class="article-section py-0">
                  <header class="section-header mb-4">
                    <h3 class="txt-medium txt-bold txt-black">
                      창업자 정보
                    </h3>
                  </header>
                  <template v-if="!$store.getters.isAuthenticated">
                    <div class="secton-content">
                      <FormGroup>
                        <FormLabel>이름</FormLabel>
                        <FormControl>
                          <InputGroup>
                            <InputField
                              type="text"
                              placeholder="홍길동"
                              v-model="$v.userName.$model"
                              :autofocus="true"
                              addClass="mk_re2_store_btn"
                            />
                          </InputGroup>
                        </FormControl>
                        <FormMessage
                          v-if="!$v.userName.required && $v.userName.$dirty"
                          >이름을 입력해주세요</FormMessage
                        >
                      </FormGroup>
                      <FormGroup v-if="!$store.getters.isAuthenticated">
                        <FormLabel>휴대폰번호</FormLabel>
                        <FormControl>
                          <InputGroup>
                            <InputField
                              type="text"
                              placeholder="'-'없이 입력해주세요"
                              v-model="$v.phoneNumber.$model"
                              addClass="mk_re2_store_btn"
                            />
                          </InputGroup>
                        </FormControl>
                        <FormMessage
                          v-if="
                            !$v.phoneNumber.required && $v.phoneNumber.$dirty
                          "
                          >핸드폰번호를 입력해주세요</FormMessage
                        >
                        <FormMessage v-if="!$v.phoneNumber.numeric"
                          >숫자만 가능합니다</FormMessage
                        >
                      </FormGroup>
                    </div>
                  </template>
                  <template v-else>
                    <div class="secton-content">
                      <FormGroup>
                        <FormLabel>이름</FormLabel>
                        <FormControl>
                          <InputGroup>
                            <InputField
                              type="text"
                              placeholder="홍길동"
                              v-model="$store.state.userName"
                              :disabled="true"
                            />
                          </InputGroup>
                        </FormControl>
                      </FormGroup>
                      <FormGroup>
                        <FormLabel>휴대폰번호</FormLabel>
                        <FormControl>
                          <InputGroup>
                            <InputField
                              type="text"
                              placeholder="'-'없이 입력해주세요"
                              v-model="$store.state.userPhoneNum"
                              :disabled="true"
                            />
                          </InputGroup>
                        </FormControl>
                      </FormGroup>
                    </div>
                  </template>
                </section>
              </div>
              <div class="col col-12 col-lg-6">
                <section class="article-section py-0">
                  <header class="section-header mb-4">
                    <h3 class="txt-medium txt-bold txt-black">상담관련</h3>
                  </header>
                  <div class="section-conent">
                    <div class="form-wrapper">
                      <!-- <FormGroup class="select-space">
                        <div class="d-flex align-items-end justify-content-end">
                          <Radio
                            id="0"
                            name="spaceType"
                            label="둘다선택"
                            class="type-check txt-tiny"
                            @click="spaceType = 0"
                            :checked="spaceType === 0"
                          ></Radio>
                        </div>
                        <FormRow class="mt-2">
                          <div
                            class="d-flex flex-wrap gutter-8 txt-center txt-small"
                          >
                            <div
                              class="col-6"
                              v-for="type in spaceTypeList"
                              :key="type.NO"
                            >
                              <Radio
                                :id="type.NO"
                                name="spaceType"
                                :label="type.NAME"
                                class="type-check type-button w-100p"
                                :class="`space-type-${type.NO}`"
                                @click="spaceType = type.NO"
                                :checked="spaceType === type.NO"
                              ></Radio>
                            </div>
                          </div>
                        </FormRow>
                        <div class="txt-box">
                          <p class="txt-tiny">
                            관심있는 창업유형을 선택하시면 상담 시 더욱 자세한
                            안내가 가능합니다. <br />
                            선택이 어려우실 경우 일반 상담 신청으로 진행
                            가능합니다.
                          </p>
                        </div>
                      </FormGroup> -->

                      <FormGroup>
                        <FormLabel>브랜드 선택</FormLabel>
                        <FormControl>
                          <div v-if="brand && brandNo" class="txt-center mb-2">
                            <img
                              v-lazy="brand.LOGO[0].endpoint"
                              v-if="brand.LOGO && brand.LOGO.length > 0"
                              :alt="brand.NAME_KR"
                              height="80px"
                            />
                          </div>
                          <NSelect
                            v-model="brandNo"
                            :items="brandList"
                            item-value="NO"
                            item-text="NAME_KR"
                            placeholder="브랜드를 선택하세요"
                            input-id="brandList"
                            add-class=""
                            :selectOption="brand.NO"
                            @input="onSelectBrandNo"
                            allOptionText="선택안함"
                          >
                          </NSelect>
                        </FormControl>
                      </FormGroup>
                      <DistrictSelectBox @selected="onDistrictSelected" />
                      <!-- 상담가능 시간 -->
                      <FormGroup>
                        <div
                          class="d-flex align-items-end justify-content-between"
                        >
                          <FormLabel>유선상담 가능 시간 선택</FormLabel>
                          <Radio
                            id="timeInfo01"
                            name="timeInfo"
                            label="상시가능"
                            class="type-check txt-tiny"
                            @click="hopeTime = 'ALL_DAY'"
                            :checked="hopeTime === 'ALL_DAY'"
                          ></Radio>
                        </div>
                        <FormRow class="mt-2">
                          <div
                            class="d-flex flex-wrap gutter-8 txt-center txt-small"
                          >
                            <div class="col-4">
                              <Radio
                                id="timeInfo02"
                                name="timeInfo"
                                label="10:00~12:00"
                                class="type-button w-100p"
                                @click="hopeTime = '1012'"
                                :checked="hopeTime === '1012'"
                              ></Radio>
                            </div>
                            <div class="col-4">
                              <Radio
                                id="timeInfo03"
                                name="timeInfo"
                                label="14:00~16:00"
                                class="type-button w-100p"
                                @click="hopeTime = '1416'"
                                :checked="hopeTime === '1416'"
                              ></Radio>
                            </div>
                            <div class="col-4">
                              <Radio
                                id="timeInfo04"
                                name="timeInfo"
                                label="16:00~18:00"
                                class="type-button w-100p"
                                @click="hopeTime = '1618'"
                                :checked="hopeTime === '1618'"
                              ></Radio>
                            </div>
                          </div>
                        </FormRow>
                      </FormGroup>
                      <FormGroup class="pb-4 border-bottom">
                        <FormLabel>창업 경험 유무</FormLabel>
                        <FormRow>
                          <div class="row no-gutters">
                            <div class="col-4">
                              <Radio
                                id="radio-1-1"
                                name="radio-1"
                                label="예"
                                :checked="isExp"
                                @click="isExp = !isExp"
                              />
                            </div>
                            <div class="col-4">
                              <Radio
                                id="radio-1-2"
                                name="radio-1"
                                label="아니오"
                                :checked="!isExp"
                                @click="isExp = !isExp"
                              />
                            </div>
                          </div>
                        </FormRow>
                      </FormGroup>
                      <div
                        class="agree-box bg-light p-3 mt-6 d-flex justify-content-between"
                        v-if="!$store.getters.isAuthenticated"
                      >
                        <CheckBox
                          label="개인정보취급방침에 동의합니다"
                          id="informedConsent"
                          class="txt-small"
                          @click="isInformedConsent"
                          :checked="isInformedConsentChecked"
                          addClass="mk_re2_law_btn"
                        />
                        <Button
                          @click="showInformedConsent = true"
                          class="btn-text btn-tiny btn-underline"
                          >약관보기</Button
                        >
                      </div>
                      <div class="btn-box">
                        <!-- 기본 내용 미입력시 등록완료 버튼 비활성화 disabled => 모든 내용 작성시 disabled 제거-->
                        <NButton
                          color="primary"
                          block
                          class="mk_plan_form_com_btn"
                          @click="save"
                          :disabled="
                            $v.userName.$invalid ||
                            $v.phoneNumber.$invalid ||
                            !isInformedConsentChecked
                          "
                          v-if="!$store.getters.isAuthenticated"
                          >신청하기</NButton
                        >
                        <NButton
                          color="primary"
                          block
                          class="mk_plan_form_com_btn"
                          @click="save"
                          :disabled="
                            $v.userName.$invalid || $v.phoneNumber.$invalid
                          "
                          v-else
                          >신청하기</NButton
                        >
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- 로딩 레이어 -->
    <LoadingLayer v-if="isLoading" />
    <!--// -->
    <!-- 개인정보취급방침 모달 -->
    <CustomModal
      :visible="showInformedConsent"
      headerType="default"
      id="InformedConsent"
      title="개인정보취급 이용약관"
      noBtn="닫기"
      @close="showInformedConsent = false"
    >
      <PrivacyRestaurant />
    </CustomModal>
  </main>
</template>
<script>
import EmptyHeader from '@/components/Navigation/EmptyHeader';
import LoadingLayer from '@/components/UI/LoadingLayer';
import DistrictSelectBox from '@/components/Utils/DistrictSelectBox';
import { required, numeric } from 'vuelidate/lib/validators';
import requiredUnless from 'vuelidate/lib/validators/requiredUnless';
import { registerForm } from '@/assets/mixins/homepage/registerForm';
export default {
  layout: 'empty',
  // middleware: ['no-auth-guard', 'form-guard'],
  mixins: [registerForm],
  components: {
    EmptyHeader,
    LoadingLayer,
    DistrictSelectBox,
  },
  created() {
    //토큰 유효기간 체크
    this.$checkTokenExpired('/plans/form');
    if (this.$route.params.spaceType) {
      this.spaceType = this.$route.params.spaceType;
      if (this.spaceType) {
        this.$axios
          .$get(`/brand/recommended/spaceType/${this.spaceType}`)
          .then((res) => {
            if (res) {
              this.brandList = res;
            }
          });
      }
    } else {
      this.$axios.$get('/brand').then((res) => {
        if (res) {
          let tempArr = res.rows;
          tempArr.filter((item) => {
            if (item.IS_RECOMMENDED_YN === 'Y') {
              this.brandList.push(item);
            }
          });
        }
      });
    }
    if (this.$route.params.brandNo) {
      this.brandNo = this.$route.params.brandNo;
      if (this.brandNo) {
        this.$axios.$get(`/brand/${this.brandNo}`).then((res) => {
          if (res) {
            this.brand = res;
          }
        });
      }
    }
  },
  async asyncData(context) {
    let spaceTypeList = await context.$axios.$get('/spaceType');
    return {
      spaceTypeList: spaceTypeList.rows,
    };
  },
  data() {
    return {
      isLoading: false,
      //spaceType 0: 선택안함, 1: 점포공유식당 2: 배달전용
      spaceType: 0,
      hopeTime: 'ALL_DAY',
      isExp: true,
      disctrictCode: '',
      userName: '',
      phoneNumber: '',
      brand: '',
      brandNo: null,
      brandList: [],
    };
  },
  methods: {
    onSelectBrandNo(value) {
      if (value) {
        this.$axios
          .$get(`/brand/${value}`)
          .then((res) => {
            if (res) {
              this.brand = res;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
      this.brandNo = value;
    },
    onDistrictSelected(value) {
      this.disctrictCode = value;
    },
    save() {
      this.isLoading = true;

      let theForm = {
        PRODUCT_ID: 1,
        SPACE_TYPE_NO: this.spaceType,
        HOPE_TIME: this.hopeTime,
        CHANGUP_EXP_YN: this.isExp ? 'Y' : 'N',
        ADDRESS_CODE: this.disctrictCode,
        BRAND_NO: this.brandNo,
      };
      if (this.$store.getters.isAuthenticated) {
        //회원
        this.$axios
          .$post('/productCon', {
            NANUDA_USER_NO: this.$store.state.userNum,
            ...theForm,
          })
          .then((res) => {
            this.isLoading = false;
            this.$router.push('/plans/complete');
          });
      } else {
        //비회원
        this.$axios
          .$post('/nonUserProductCon', {
            NON_USER_NAME: this.userName,
            NON_USER_PHONE: this.phoneNumber,
            ...theForm,
          })
          .then((res) => {
            this.isLoading = false;
            this.$router.push('/plans/complete');
          });
      }
    },
  },
  computed: {
    hasAuth() {
      return this.$store.getters.isAuthenticated;
    },
  },
  validations: {
    userName: {
      required: requiredUnless('hasAuth'),
    },
    phoneNumber: {
      required: requiredUnless('hasAuth'),
      numeric,
    },
  },
};
</script>
<style lang="scss">
#planMeetingsForm {
  .article-section {
    padding: 1.5em 0;
  }
  .plans-step-list {
    .plans-step-list-container {
      display: flex;
      flex-wrap: wrap;
    }
    .plans-step-list-item {
      position: relative;
      text-align: center;
      width: 25%;

      &:last-child {
        .icon-box {
          &:after {
            display: none;
          }
        }
      }
      .icon-box {
        position: relative;
        &:after {
          display: block;
          content: '';
          position: absolute;
          right: -0.25em;
          top: 50%;
          width: 0.5em;
          height: 1em;
          margin-top: -0.5em;
          background: url('~assets/svg/common/step_arrow.svg') no-repeat center
            center;
          background-size: cover;
        }
        img {
          max-width: 4em;
        }
      }

      .txt-box {
        font-size: $txt-tiny;
        color: $black;
        .step-num {
          display: block;
          font-weight: $txt-bold;
          margin-bottom: 0.5em;
        }
      }
    }
  }

  .select-space {
    .radio.type-button {
      input[type='radio'] {
        &:checked + label {
          border-color: $primary;
          &:after {
            background-color: rgba(255, 122, 0, 0.4);
          }
        }
      }
      input[type='radio'] + label {
        border: 2px solid $border-color;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 1em;
        overflow: hidden;
        padding: 0;

        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-repeat: no-repeat;
          background-position: top 2em center;
          background-size: auto 8em;
          z-index: 1;
        }

        span {
          position: relative;
          padding: 11em 0 2em;
          font-size: $txt-small;
          font-weight: $txt-bold;
          color: $black;
          z-index: 2;
        }
      }

      &.space-type-1 {
        input[type='radio'] + label {
          &:after {
            background-image: url('~assets/svg/common/space_share_character.svg');
          }
        }
      }

      &.space-type-2 {
        input[type='radio'] + label {
          &:after {
            background-image: url('~assets/svg/common/space_delivery_character.svg');
          }
        }
      }
    }
  }

  // .select-space {
  //   .radio.type-button {
  //     input[type='radio'] {
  //       &:checked + label {
  //         border-color: $primary;
  //         &:after {
  //           background-color: rgba(255, 122, 0, 0.5);
  //         }
  //       }
  //     }
  //     input[type='radio'] + label {
  //       border: 2px solid $border-color;
  //       background-color: transparent;
  //       background-repeat: no-repeat;
  //       background-position: center;
  //       background-size: cover;
  //       border-radius: 1em;
  //       overflow: hidden;
  //       padding: 0;

  //       &:after {
  //         display: block;
  //         content: '';
  //         position: absolute;
  //         left: 0;
  //         top: 0;
  //         right: 0;
  //         bottom: 0;
  //         background-color: rgba(0, 0, 0, 0.4);
  //         background-repeat: no-repeat;
  //         background-position: top 3.125em center;
  //         background-size: auto 5.625em;
  //         z-index: 1;
  //       }

  //       span {
  //         position: relative;
  //         padding: 5.625em 0;
  //         font-size: $txt-small;
  //         font-weight: $txt-bold;
  //         color: $white;
  //         z-index: 2;
  //       }
  //     }

  //     &.space-type-1 {
  //       input[type='radio'] + label {
  //         background-image: url('~assets/images/plans/bg_space_share.jpg');
  //       }
  //     }

  //     &.space-type-2 {
  //       input[type='radio'] + label {
  //         background-image: url('~assets/images/plans/bg_space_delivery.jpg');
  //       }
  //     }
  //   }
  // }
}
</style>
