<template>
  <div>
    <v-row align="baseline">
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="점포주 정보"
          :headers="userHeaders"
          :items="[user]"
          page="users"
          hideFooter
        />
      </v-col>
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="등록한 공간과 대여 조건"
          :headers="spaceHeaders"
          :items="[spaceData]"
          page="spaces"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" lg="4">
        <CardWithTitle title="상품 상담 신청 상태">
          <v-row align="center" justify="space-around">
            <v-col cols="12">
              <ManagerSelect
                :initialManager="manager"
                :loading="loading.manager"
                :success="success.manager"
                :error="error.manager"
                @change="changeManager"
                style="max-width: none;"
              ></ManagerSelect>
            </v-col>
            <v-col cols="12">
              <v-select
                label="상태"
                class="small-input"
                v-model="status"
                :items="categorys.CONTRACT"
                item-text="VALUE"
                item-value="KEY"
                :loading="loading.status"
                :success-messages="success.status"
                :error-messages="error.status"
                @change="changeInfo('status', 'STATUS', routerUrl)"
                color="orange"
                style="max-width: none;"
              ></v-select>
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="계약 기간">
          <v-row align="center" justify="space-around">
            <v-col cols="12">
              <v-menu
                ref="showContractStartDate"
                v-model="showContractStartDate"
                :close-on-content-click="false"
                :return-value.sync="contractStartDate"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="contractStartDate"
                    label="계약 시작일"
                    readonly
                    v-on="on"
                    prepend-icon="mdi-calendar"
                    :loading="loading.contractStartDate"
                    :success-messages="success.contractStartDate"
                    :error-messages="error.contractStartDate"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="contractStartDate" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="showContractStartDate = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="
                      [
                        $refs.showContractStartDate.save(contractStartDate),
                        changeInfo(
                          'contractStartDate',
                          'S_START_DATE',
                          routerUrl,
                        ),
                      ]
                    "
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12">
              <v-menu
                ref="showContractEndDate"
                v-model="showContractEndDate"
                :close-on-content-click="false"
                :return-value.sync="contractEndDate"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="contractEndDate"
                    label="계약 종료일"
                    readonly
                    v-on="on"
                    prepend-icon="mdi-calendar"
                    :loading="loading.contractEndDate"
                    :success-messages="success.contractEndDate"
                    :error-messages="error.contractEndDate"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="contractEndDate" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="showContractEndDate = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="
                      [
                        $refs.showContractEndDate.save(contractEndDate),
                        changeInfo('contractEndDate', 'S_END_DATE', routerUrl),
                      ]
                    "
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="기타">
          <v-textarea
            label="기타 사항"
            filled
            auto-grow
            v-model="etc"
            :loading="loading.etc"
            :success-messages="success.etc"
            :error-messages="error.etc"
            @blur="changeInfo('etc', 'S_CONTRACT_ETC', routerUrl)"
          ></v-textarea>
        </CardWithTitle>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import UserAutoComplete from '@/components/Admin/UserAutoComplete';
import ManagerSelect from '@/components/Admin/ManagerSelect';
import { changeInfo } from '@/assets/mixins/changeInfo';
import { changeManager } from '@/assets/mixins/admin/changeManager';
import AdminFileUpload from '@/components/Admin/AdminFileUpload';

export default {
  layout: 'admin',
  components: { UserAutoComplete, ManagerSelect, AdminFileUpload },
  mixins: [changeInfo, changeManager],
  async asyncData(context) {
    let categorys = await context.$axios.$get('/category', {
      params: { PAGE: 'SPACE_CONTRACT' },
    });
    let contract = await context.$axios.$get(
      '/spaceContractAdmin/' + context.route.params.uid,
    );
    return {
      categorys: categorys,
      uid: contract.NO,
      user: contract.NANUDA_USER,
      manager: contract.S_CONTRACT_MANAGER,
      userNo: contract.NANUDA_USER_NO,
      userName: contract.NANUDA_USER.NAME,
      userPhone: contract.NANUDA_USER.PHONE,
      spaceData: contract.SPACE,
      contractStartDate: contract.S_START_DATE,
      contractEndDate: contract.S_END_DATE,
      etc: contract.S_CONTRACT_ETC,
      status: contract.STATUS,
    };
  },
  data: () => ({
    routerUrl: '/spaceContractAdmin/',
    showContractStartDate: false,
    showContractEndDate: false,
    spaceHeaders: [
      {
        text: 'UID',
        value: 'NO',
        align: 'center',
        sortable: false,
      },
      {
        text: '공간이름',
        value: 'NAME',
        align: 'center',
        sortable: false,
      },
      {
        text: '주소',
        value: 'ADDRESS',
        align: 'center',
        sortable: false,
      },
    ],
    userHeaders: [
      {
        text: 'UID',
        value: 'NO',
        align: 'center',
        sortable: false,
      },
      {
        text: '이름',
        value: 'NAME',
        align: 'center',
        sortable: false,
      },
      {
        text: '전화번호',
        value: 'PHONE',
        align: 'center',
        sortable: false,
      },
    ],
  }),
  methods: {
    changeUser(user) {
      this.userNo = user.no;
      this.userName = user.name;
      this.userPhone = user.phone;
      this.changeInfo('userNo', 'NANUDA_USER_NO', this.routerUrl);
    },
    changeManager(value) {
      this.manager = value;
      this.changeInfo('manager', 'S_CONTRACT_MANAGER', this.routerUrl);
    },
  },
};
</script>

<style lang="scss">
.v-application {
  .flex-nowrap {
    overflow: auto;
  }
}
</style>
