<template>
  <div>
    <v-row align="baseline">
      <v-col cols="12" lg="4">
        <CardWithTitle title="계정 상태">
          <v-row no-gutters justify="space-between" align="center">
            <div>계정 사용 가능 여부</div>
            <ToggleBtn @activate="activateUser" :isActivated="delYn == 'Y' ? 'N' : 'Y'" />
          </v-row>
        </CardWithTitle>
        <CardWithTitle title="기본 정보">
          <v-row justify="space-between" align="center">
            <v-col cols="12">
              <v-text-field label="UID" v-model="$route.params.uid" disabled></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                ref="name"
                label="닉네임"
                v-model="name"
                @blur="changeInfo('name', 'NAME', routerUrl)"
                :loading="this.loading.name"
                :success-messages="this.success.name"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field label="휴대폰번호" v-model="phoneNumber" disabled></v-text-field>
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
    </v-row>

    <!-- <CardWithTitle title="암호 변경">
      <v-row justify="space-between" align="center">
        <div>계정 사용 가능 여부</div>
        <v-btn>암호 재설정 메일 발송</v-btn>
      </v-row>
    </CardWithTitle>-->
  </div>
</template>

<script>
import { changeInfo } from "@/assets/mixins/changeInfo";

export default {
  layout: "admin",
  mixins: [changeInfo],
  data() {
    return {
      routerUrl: "/userManagerAdmin/"
    };
  },
  methods: {
    activateUser() {
      if (this.delYn == "Y") {
        this.delYn = "N";
      } else {
        this.delYn = "Y";
      }
      this.$axios
        .$put("/userManagerAdmin/" + this.$route.params.uid, {
          PHONE: this.phoneNumber,
          NAME: this.name,
          PASSWORD: this.password,
          DEL_YN: this.delYn
        })
        .then(res => {});
    }
  },
  asyncData(context) {
    return context.$axios
      .$get("/userManagerAdmin/" + context.route.params.uid)
      .then(res => {
        return {
          uid: res.NO,
          name: res.NAME,
          phoneNumber: res.PHONE,
          delYn: res.DEL_YN
        };
      })
      .catch(e => console.log(e));
  }
};
</script>

<style></style>
