<template>
  <div class="accordion">
    <div
      class="accordion-item"
      v-for="(content, index) in contents"
      :class="{ 'is-active': content.active }"
      :key="index"
    >
      <div
        class="accordion-header"
        @click="expand($event, index)"
        :class="`${addClass}${index + 1}_btn`"
      >
        <h4>
          <span class="gotham mr-2" v-if="qna">Q</span>{{ content.title }}
        </h4>
        <i class="icon icon-arrow-angle-down"></i>
      </div>
      <div class="accordion-body" :ref="'accordion-body-' + index">
        <div class="d-flex align-items-start">
          <span class="gotham txt-black mr-2" v-if="qna">A</span>
          <div class="accordion-content">
            <p>{{ content.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    qna: {
      type: Boolean,
      default: false,
    },
    contents: {
      type: Array,
      default: () => {},
    },
    addClass: {
      type: String,
      default: '',
    },
  },
  methods: {
    expand(e, i) {
      let el = this.$refs['accordion-body-' + i][0];

      if (this.contents[i].active === false) {
        this.contents[i].active = true;
      } else {
        this.contents[i].active = false;
      }
    },
  },
};
</script>
