<template>
  <div>
    <div class="checkbox-group">
      <div class="checkbox">
        <input type="checkbox" name="checkbox" :id="id" :required="required" />
        <label :for="id" class="label-txt txt-tiny">
          <span>{{ label }}</span>
        </label>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    id: String,
    label: String,
    required: Boolean
  },
  data() {
    return {};
  }
};
</script>
