<template>
  <span class="tweened-number">{{ tweeningValue }}</span>
</template>

<script>
import TWEEN from "@tweenjs/tween.js";
export default {
  props: {
    value: {
      type: Number,
      required: true
    },
    tweenDuration: {
      type: Number,
      default: 500
    }
  },

  watch: {
    value(newVal, oldVal) {
      this.tween(oldVal, newVal);
    }
  },
  data() {
    return {
      tweeningValue: 0
    };
  },

  mounted() {
    this.tween(0, this.value);
  },

  methods: {
    tween: function(startValue, endValue) {
      var vm = this;
      function animate() {
        if (TWEEN.update()) {
          requestAnimationFrame(animate);
        }
      }

      new TWEEN.Tween({ tweeningValue: startValue })
        .to({ tweeningValue: endValue }, 500)
        .onUpdate(function(object) {
          vm.tweeningValue = object.tweeningValue.toFixed(0);
        })
        .start();

      animate();
    }
  }
};
</script>
