<template>
  <div class="checkbox" @click.prevent="clicked">
    <input type="checkbox" :name="name" :id="id" :checked="checked"/>
    <label :for="id" class="label-txt">
      <slot></slot>
      <span :class="addClass">{{ label }}</span>
    </label>
  </div>
</template>
<script>
export default {
  props: ["name", "label", "id", "checked", "addClass"],
  methods: {
    clicked() {
      this.$emit("click");
    }
  }
};
</script>
