<template>
  <!-- 에러 발생시 .is-class 추가 -->
  <div class="form-group" :class="{ 'is-error': isError }">
    <label for="" class="form-label">{{ label }}</label>
    <div class="form-control">
      <div class="input-group">
        <!-- 인풋 필드 -->
        <InputField
          :type="type"
          :placeholder="placeholder"
          @keyupInput="confirmCellPhone"
        ></InputField>
        <!-- // 인풋 필드 -->
        <!-- 인증번호 버튼 -->
        <button
          v-show="certBtn"
          type="button"
          class="btn btn-tiny btn-primary btn-rounded"
          :disabled="!phoneValue"
          :class="{ 'is-request': certNum }"
          @click="btnCertNum"
        >
          <span>{{ certNum ? "재전송" : "인증번호받기" }}</span>
        </button>
        <!-- // 인증번호 버튼 -->
        <!-- 타이머 -->
        <Timer v-show="timer"></Timer>
        <!-- // 타이머-->
      </div>
    </div>
    <div class="form-message" v-show="isError">
      <p class="txt-error">에러메세지</p>
    </div>
  </div>
</template>
<script>
import InputField from "@/components/UI/InputField";
import Timer from "@/components/UI/Timer";
import Button from "@/components/UI/Button";
export default {
  components: {
    InputField,
    Timer
  },
  props: {
    label: String,
    type: String,
    maxLength: Number,
    placeholder: String,
    certBtn: Boolean,
    certNum: Boolean,
    timer: Boolean
  },
  data() {
    return {
      isError: false,
      phoneValue: false
    };
  },
  methods: {
    confirmCellPhone(value) {
      this.phoneValue = true;
      this.isError = true;
    },
    showError(value) {
      if (value.length) {
      }
    },
    btnCertNum() {
      this.$emit("clickBtn");
    }
  }
};
</script>
