<template>
  <div class="input">
    <input
      :type="type"
      :placeholder="placeholder"
      :id="id"
      :value="value"
      :maxLength="maxLength"
      @input="updateValue($event.target.value)"
      :readonly="readonly"
      :disabled="disabled"
      class="form-element"
      :class="addClass"
      @focus="focused"
      ref="input"
    />
    <span class="form-underline"></span>
  </div>
</template>
<script>
export default {
  props: [
    'type',
    'placeholder',
    'id',
    'value',
    'autofocus',
    'readonly',
    'disabled',
    'addClass',
    'maxLength',
  ],
  mounted() {
    //prop autofocus가 true면 자동으로 포커스됨
    if (this.autofocus) {
      this.$nextTick(() => this.$refs.input.focus());
    }
  },
  methods: {
    focused() {
      this.$emit('focused');
    },
    updateValue(value) {
      this.$emit('input', value);
    },
  },
};
</script>
