<template>
  <div id="loadingLayer">
    <div class="loader">
      <img src="@/assets/svg/common/loader.svg" alt="로딩중" />
    </div>
  </div>
</template>
<style lang="scss">
#loadingLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zindex-modal;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    width: 6em;
  }
}
</style>
