<template>
  <div id="loadingLayer">
    <div class="loader">
      <img src="@/assets/svg/common/loader.svg" alt="로딩중" />
    </div>
  </div>
</template>
<style lang="scss">
#loadingLayer {
  z-index: $zindex-modal;
  background-color: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  .loader {
    width: 6em;
  }
}
</style>
