<template>
  <svg x="0px" y="0px" viewBox="0 0 46.85 55.91">
    <g transform="translate(-290.742 -46.143)">
      <path
        d="M290.74,46.14h5.04l11.64,15.29V46.14h5.39v24.84h-4.65l-12.03-15.79v15.79h-5.39V46.14z"
      />
      <path
        d="M290.74,73.78h9.34c1.76-0.02,3.51,0.3,5.15,0.94c1.51,0.59,2.88,1.48,4.04,2.61   c1.13,1.11,2.02,2.45,2.62,3.92c0.63,1.55,0.94,3.21,0.92,4.88v0.07c0.01,1.68-0.3,3.34-0.92,4.9c-0.59,1.48-1.48,2.82-2.62,3.94   c-1.16,1.13-2.53,2.02-4.04,2.63c-1.64,0.65-3.39,0.98-5.15,0.96h-9.34V73.78z M300.21,93.68c1.01,0.01,2-0.17,2.94-0.53   c0.86-0.34,1.64-0.86,2.28-1.53c0.64-0.68,1.14-1.47,1.47-2.34c0.36-0.96,0.54-1.99,0.53-3.02V86.2c0.01-1.03-0.17-2.05-0.53-3.02   c-0.33-0.88-0.83-1.69-1.47-2.38c-0.64-0.67-1.42-1.2-2.28-1.54c-0.94-0.38-1.94-0.56-2.94-0.55h-4.08v14.98L300.21,93.68z"
      />
      <path
        d="M315.52,46.14h5.04l11.64,15.29V46.14h5.39v24.84h-4.65l-12.03-15.79v15.79h-5.39V46.14z"
      />
    </g>
  </svg>
</template>
