<template>
  <div class="no-result">
    <p class="txt-small">{{ text }}</p>
  </div>
</template>
<script>
export default {
  props: ['text'],
};
</script>
<style lang="scss" scoped>
.no-result {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7.5em 0;
  height: calc(100vh - 16em);
}
</style>
