<template>
  <div>
    <div class="select">
      <select
        class="form-element"
        :class="addClass"
        v-model="selectedItem"
        @change="selected"
      >
        <option value="" disabled selected hidden>{{ placeholder }}</option>
        <option value="all" v-if="everything">전체</option>
        <option
          :value="type == 'spaceType' ? item.NO : item.CODE"
          v-for="item in items"
          :key="item.NAME"
          >{{ item.NAME }}</option
        >
        <slot></slot>
      </select>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    placeholder: String,
    items: {
      type: Array,
      default: () => [],
    },
    type: String,
    addClass: String,
    //true면 '전체' 옵션이 보임
    everything: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      selectedItem: '',
    };
  },
  methods: {
    selected() {
      this.$emit('selected', this.selectedItem);
    },
  },
};
</script>
