<template>
  <div class="radio">
    <input
      type="radio"
      :name="name"
      :id="id"
      :checked="checked"
      :disabled="disabled"
      @click="clicked"
    />
    <label :for="id" class="label-txt">
      <span>{{ label }}</span>
    </label>
  </div>
</template>
<script>
export default {
  props: ['name', 'label', 'id', 'checked', 'disabled'],
  methods: {
    clicked() {
      this.$emit('click');
    },
  },
};
</script>
