<template>
  <!-- 시간 만료시 .is-expiration 클래스 추가 -->
  <span class="timer">{{ time }}</span>
</template>
<script>
export default {
  name: "Timer",
  props: {},
  data() {
    return {
      time: "03:00"
    };
  }
};
</script>
