<template>
  <v-btn
    :color="activeBtnColor"
    light
    @click="onActivate"
    :loading="isLoading"
    >{{ isActivated == "Y" ? "활성화됨" : "비활성화됨" }}</v-btn
  >
</template>

<script>
export default {
  props: {
    isActivated: String,
    isLoading: Boolean
  },
  computed: {
    activeBtnColor() {
      return this.isActivated == "Y" ? "orange" : "rgb(75,128,255)";
    }
  },
  methods: {
    onActivate() {
      this.$emit("activate");
    }
  }
};
</script>

<style></style>
