<template>
  <main id="registerComplete" class="main-wrapper">
    <EmptyHeader border title="공간등록 완료">
      <template v-slot:leftArea>
        <CloseButton @click="$router.push('/')" />
      </template>
    </EmptyHeader>
    <article class="main-article complete-article">
      <header class="article-header">
        <div class="inner-container">
          <h2>
            공간을 등록해 주셔서
            <br class="d-block d-md-none" />감사합니다.
          </h2>
          <div class="u-list type-check d-flex justify-content-center">
            <ul class="txt-black txt-semi-bold txt-small">
              <li>
                당사 공간 매니저가 등록 내용을 확인 후
                <br class="d-block d-md-none" />24시간 내에 유선 연락드립니다.
              </li>
              <li>
                등록 공간에서 대여하고자 하는 고객이
                <br class="d-block d-md-none" />매칭될 경우 매장에 방문할 수
                있습니다.
              </li>
            </ul>
          </div>
        </div>
      </header>
      <div class="article-content">
        <div class="inner-container">
          <div class="txt-box txt-center">
            <p class="txt-black txt-small txt-semi-bold">
              나의 매장에서 창업을 하고 싶다면?
            </p>
          </div>
          <div class="btn-box txt-center mt-6">
            <NButton
              color="primary"
              size="medium"
              block
              class="mk_re3_plans_btn w-30"
              @click="toFormPage(1)"
            >
              <span>상담 신청</span>
            </NButton>
          </div>
        </div>
      </div>
    </article>
  </main>
</template>
<script>
import EmptyHeader from '@/components/Navigation/EmptyHeader';
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
export default {
  layout: 'empty',
  mixins: [infoAppRequest],
  components: {
    EmptyHeader,
  },
};
</script>
