<template>
  <main id="spaceMeetings" class="main-wrapper intro-wrapper">
    <article class="main-article intro-notice">
      <div class="notice-box pt-10 pb-10">
        <div class="inner-container txt-black">
          <div class="txt-box txt-left">
            <p class="txt-large txt-bold mb-4 d-flex align-items-center">
              <i class="icon-info-guide txt-primary txt-bold txt-huge mr-1"></i>
              <span>방문 신청 전, 읽어주세요</span>
            </p>
          </div>
          <div class="o-list">
            <ol>
              <li>
                <span class="num txt-gray">01</span>
                <p class="txt-black txt-small">
                  <strong class="txt-bold">타 업체와의 이중 계약 이행</strong>
                  시
                  <br />
                  <strong class="txt-bold">불이익</strong>에 대해서는 책임지지
                  않습니다.
                </p>
              </li>
              <li class="mt-6">
                <span class="num txt-gray">02</span>
                <p class="txt-black txt-small txt-semi-bold">
                  <strong class="txt-bold">
                    일방적인 방문 취소, 추가 방문 요청 시
                    <br />추가 요금이 발생
                  </strong>할 수 있습니다.
                </p>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="bottom-fixed-box">
        <div class="btn-box pb-4">
          <div class="inner-container">
            <div class="img-box txt-right px-8">
              <img src="@/assets/svg/space-meetings/intro_character.svg" alt class="w-20" />
            </div>
            <div class="d-flex">
              <Button class="btn btn-medium btn-primary btn-block mk_sp2_request_btn" @click="toVisitSpace">확인 후 상담 신청</Button>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
</template>
<script>
export default {
  middleware: ["no-auth-guard"],
  data() {
    return {};
  },

  components: {},
  methods: {
    toVisitSpace() {
      this.$router.push({ name: "space-meetings-form" });
    }
  }
};
</script>
