<template>
  <main id="spaceDetail" class="main-wrapper space-detail-wrapper" v-if="space">
    <article class="main-article">
      <header class="article-header is-blind">
        <h2>공간상세 정보</h2>
      </header>
      <div class="article-content">
        <div class="slide-wrapper d-lg-none">
          <div
            v-swiper:swiperTop="swiperTopOption"
            v-if="spaceImages.length > 0"
            ref="swiperTop"
          >
            <div class="swiper-wrapper">
              <div
                class="swiper-slide lazy-preload watermark"
                v-for="file in spaceImages"
                :key="file.NO"
              >
                <img
                  :data-src="`${baseUrl}/${file.FILE_PATH}`"
                  class="slide-img swiper-lazy"
                  v-if="file.FILE_PATH"
                />
                <img
                  data-src="@/assets/images/common/no_img.png"
                  class="slide-img swiper-lazy"
                  v-else
                />
                <div class="lazy-loader"></div>
              </div>
            </div>
            <div class="swiper-pagination" v-if="spaceImages.length > 1"></div>
            <NButton
              color="white"
              size="medium"
              icon
              circle
              class="swiper-button-prev"
            >
              <i class="icon icon-arrow-angle-left"></i>
              <span class="is-blind">이전으로</span>
            </NButton>
            <NButton
              color="white"
              size="medium"
              icon
              circle
              class="swiper-button-next"
            >
              <i class="icon icon-arrow-angle-right"></i>
              <span class="is-blind">다음으로</span>
            </NButton>
          </div>
          <!-- 등록된 이미지 없을 경우 -->
          <div class="swiper-slide" v-else>
            <v-img
              :src="require('@/assets/images/common/no_img.png')"
              class="slide-img"
            />
          </div>
        </div>
        <div class="detail-wrapper">
          <div class="inner-container">
            <div class="row gutter-16 my-sticky-class">
              <div class="col col-lg-8">
                <section class="article-section">
                  <header class="section-header is-blind">
                    <h3>공간 기본 정보</h3>
                  </header>
                  <div class="section-content">
                    <div class="thumbnail-wrapper d-lg-none">
                      <div
                        v-swiper:swiperThumbs="swiperThumbsOption"
                        v-if="spaceImages.length > 0"
                        ref="swiperThumbs"
                        class="mb-4"
                      >
                        <div class="swiper-wrapper">
                          <div
                            class="swiper-slide lazy-preload watermark"
                            v-for="file in spaceImages"
                            :key="file.NO"
                          >
                            <img
                              :data-src="`${baseUrl}/${file.FILE_PATH}`"
                              class="slide-img swiper-lazy"
                              v-if="file.FILE_PATH"
                            />
                            <img
                              data-src="@/assets/images/common/no_img.png"
                              class="slide-img swiper-lazy"
                              v-else
                            />
                            <div class="lazy-loader"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="space-info">
                      <div class="inner-container">
                        <div class="row-box">
                          <span class="space-cate">
                            <Badge
                              color="darkorange"
                              size="mini"
                              text="식당형"
                            />
                          </span>
                          <span class="space-no">공간번호 {{ space.NO }}</span>
                        </div>
                        <div class="row-box pr-30">
                          <h2 class="space-name">{{ space.SHOW_NAME }}</h2>
                          <p class="space-address">
                            {{ space.SIDO }} {{ space.SIGUNGU }}
                            {{ space.BNAME2 }}
                          </p>
                          <div class="mt-2">
                            <div class="d-flex">
                              <span class="mr-1">
                                <i
                                  class="icon icon-heart-fill txt-primary txt-bold"
                                  v-if="isSpaceLiked"
                                ></i>
                                <i class="icon icon-heart txt-bold" v-else></i>
                              </span>
                              <span class="txt-black">{{
                                spaceLikedCount
                              }}</span>
                            </div>
                          </div>
                          <div class="btn-share">
                            <NButton
                              color="outline-gray"
                              size="medium"
                              icon
                              circle
                              @click="favoriteSpace()"
                              class="btn-like d-none d-lg-inline-block mk_sp_like_btn"
                            >
                              <i
                                class="icon icon-heart-fill txt-big txt-primary mk_sp_like_btn"
                                v-if="isSpaceLiked"
                              ></i>
                              <i
                                class="icon icon-heart txt-big mk_sp_like_btn"
                                v-else
                              ></i>
                              <span class="is-blind">찜하기</span>
                            </NButton>
                            <NButton
                              color="outline-gray"
                              size="medium"
                              icon
                              circle
                              @click="showShareBtn = !showShareBtn"
                              class="ml-2"
                            >
                              <i class="icon icon-share"></i>
                              <span>공유하기</span>
                            </NButton>
                          </div>
                        </div>
                        <div class="row-box d-lg-none">
                          <div id="infoAppVisit">
                            <SpacePriceArea
                              :deposit="space.DEPOSIT"
                              :rentalfee="space.RENTAL_FEE"
                              :pyeong="space.SIZE"
                            />
                            <div class="txt-box">
                              <p class="txt-mini txt-black">
                                입점 문의 후 신속하게 담당자가 연락드리겠습니다
                              </p>
                            </div>
                            <div class="btn-box">
                              <div class="row gutter-8">
                                <div class="col-3">
                                  <NButton
                                    color="outline-primary"
                                    size="medium"
                                    block
                                    @click="favoriteSpace()"
                                    class="btn-like mk_sp_like_btn"
                                  >
                                    <i
                                      class="icon icon-heart-fill txt-big txt-primary mk_sp_like_btn"
                                      v-if="isSpaceLiked"
                                    ></i>
                                    <i
                                      class="icon icon-heart txt-big txt-primary mk_sp_like_btn"
                                      v-else
                                    ></i>
                                    <span class="is-blind">찜하기</span>
                                  </NButton>
                                </div>
                                <div class="col-9">
                                  <NButton
                                    color="primary"
                                    block
                                    @click="toSpaceMeeting()"
                                    class="mk_sp_topapply_btn"
                                  >
                                    입점 문의
                                  </NButton>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="slide-wrapper d-none d-lg-block">
                      <div
                        v-swiper:swiperTop2="swiperTopOption"
                        v-if="spaceImages.length > 0"
                      >
                        <div class="swiper-wrapper">
                          <div
                            class="swiper-slide lazy-preload watermark"
                            v-for="file in spaceImages"
                            :key="file.NO"
                          >
                            <img
                              :data-src="`${baseUrl}/${file.FILE_PATH}`"
                              class="slide-img swiper-lazy"
                              v-if="file.FILE_PATH"
                            />
                            <img
                              data-src="@/assets/images/common/no_img.png"
                              class="slide-img swiper-lazy"
                              v-else
                            />
                            <div class="lazy-loader"></div>
                          </div>
                        </div>
                        <div
                          class="swiper-pagination"
                          v-if="spaceImages.length > 1"
                        ></div>
                        <NButton
                          color="white"
                          size="medium"
                          icon
                          circle
                          class="swiper-button-prev"
                        >
                          <i class="icon icon-arrow-angle-left"></i>
                          <span class="is-blind">이전으로</span>
                        </NButton>
                        <NButton
                          color="white"
                          size="medium"
                          icon
                          circle
                          class="swiper-button-next"
                        >
                          <i class="icon icon-arrow-angle-right"></i>
                          <span class="is-blind">다음으로</span>
                        </NButton>
                      </div>
                      <!-- 등록된 이미지 없을 경우 -->
                      <div class="swiper-slide" v-else>
                        <v-img
                          :src="require('@/assets/images/common/no_img.png')"
                          class="slide-img"
                        />
                      </div>
                    </div>
                    <div
                      class="promotion-info"
                      v-if="promotions && promotions.length > 0"
                    >
                      <div class="inner-container">
                        <div class="title-box">
                          <h4>
                            <span> 나누다키친이 제공하는 특별한 창업혜택</span>
                          </h4>
                        </div>
                        <div class="content-box">
                          <div
                            v-for="promotion in promotions"
                            :key="promotion.NO"
                            class="promotion-list"
                          >
                            <ul class="u-list">
                              <li
                                v-for="property in promotion.PROMOTION_PROPERTY"
                                :key="property.NO"
                              >
                                <svg viewBox="0 0 1000 1000" class="svg-icon">
                                  <g>
                                    <g transform="matrix(1 0 0 -1 0 1638)">
                                      <path
                                        d="M963.8,1421.8H809.2c8.1,10.7,14.4,22.7,18.9,35.8c4.5,13.1,6.8,26.9,6.8,41.3c0,17.8-3.4,34.5-10.1,50.1c-6.7,15.6-15.9,29.3-27.4,41s-25.3,21-41,27.7c-15.8,6.7-32.6,10.1-50.4,10.1c-17.8,0-34.8-3.1-51.1-9.3s-31.3-13.9-45.1-23.2s-26.2-19.1-37.3-29.7c-11.1-10.6-20.3-20.1-27.7-28.5c-8.7-10.1-17-20.6-24.7-31.5c-7.7-10.9-14.4-21.6-20.1-32c-6,10.4-12.8,21.1-20.4,32c-7.6,10.9-15.9,21.4-24.9,31.5c-7.4,8.4-16.5,17.9-27.4,28.5c-10.9,10.6-23.2,20.5-37,29.7s-28.8,17-45.1,23.2c-16.3,6.2-33.5,9.3-51.6,9.3c-17.8,0-34.5-3.4-50.1-10.1c-15.6-6.7-29.3-15.9-41-27.7s-21-25.4-27.7-41c-6.7-15.6-10.1-32.3-10.1-50.1c0-14.4,2.3-28.2,6.8-41.3c4.5-13.1,11-25,19.4-35.8H35.7c-7.1,0-13.1-2.5-18.1-7.6c-5-5-7.6-11.2-7.6-18.6V1241c0-7.1,2.5-13.1,7.6-18.1c5-5,11.1-7.6,18.1-7.6h25.7v-490c0-21.2,7.6-39.3,22.7-54.4c15.1-15.1,33.4-22.7,54.9-22.7h722.2c21.2,0,39.3,7.6,54.4,22.7c15.1,15.1,22.7,33.2,22.7,54.4v490h25.7c7.4,0,13.6,2.5,18.6,7.6c5,5,7.6,11.1,7.6,18.1v154.6c0,7.4-2.5,13.6-7.6,18.6C977.4,1419.3,971.2,1421.8,963.8,1421.8L963.8,1421.8z M583.6,1503.4c20.1,23.2,41,41.1,62.4,53.9s41.5,19.1,59.9,19.1c21.5,0,39.8-7.6,54.9-22.7s22.7-33.4,22.7-54.9c0-21.2-7.6-39.3-22.7-54.4s-33.4-22.7-54.9-22.7H532.2c4.4,11.4,10.9,24.3,19.6,38.5S571.2,1488.9,583.6,1503.4L583.6,1503.4z M577.1,699.6H422.4v670.3h154.6V699.6L577.1,699.6z M216.5,1498.8c0,21.5,7.6,39.8,22.7,54.9s33.2,22.7,54.4,22.7c18.8,0,38.9-6.4,60.2-19.1s42.1-30.7,62.2-53.9c12.4-14.4,23.1-28.8,32-43.1c8.9-14.3,15.5-27.1,19.9-38.5H293.5c-21.2,0-39.3,7.6-54.4,22.7S216.5,1477.7,216.5,1498.8L216.5,1498.8z M61.4,1369.9h309.7v-103.2H61.4V1369.9L61.4,1369.9z M113.2,725.3v490h257.8V699.6H138.9c-7.1,0-13.1,2.5-18.1,7.6C115.8,712.2,113.2,718.3,113.2,725.3L113.2,725.3z M886.8,725.3c0-7-2.5-13.1-7.6-18.1c-5-5-11.1-7.6-18.1-7.6H628.9v515.7h257.8V725.3L886.8,725.3z M938.1,1266.7H628.9v103.2h309.2V1266.7L938.1,1266.7z"
                                      />
                                    </g>
                                  </g>
                                </svg>
                                <span v-if="property.KEY">{{
                                  property.KEY
                                }}</span>
                                <span v-if="property.VALUE">
                                  {{ property.VALUE }}
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <div
                  id="tabContent"
                  :class="{ 'is-fixed': isScrolled }"
                  ref="tabContent"
                >
                  <div class="tab-container">
                    <div class="inner-container">
                      <v-tabs
                        fixed-tabs
                        background-color="white"
                        ref="tabs"
                        v-model="tab"
                        light
                      >
                        <v-tab
                          v-scroll-to="{ el: '#tabContent', offset: -60 }"
                          class="mk_sp_info_spaces1_btn"
                        >
                          <span class="mk_sp_info_spaces1_btn tab-txt"
                            >공간정보</span
                          >
                          <div class="line">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </v-tab>
                        <v-tab
                          v-scroll-to="{ el: '#tabContent', offset: -60 }"
                          class="mk_sp_info_spaces2_btn v-tab--highlight"
                          v-if="!isVicinityFailed"
                        >
                          <span class="mk_sp_info_spaces2_btn tab-txt">
                            <!-- <img
                              src="@/assets/svg/icon/chart_line.svg"
                              class="w-3 mr-2"
                            /> -->
                            <img
                              src="@/assets/images/delivery-kitchen/ani_graph.gif"
                              alt=""
                              class="w-3 mr-2"
                            />
                            <span>상권분석</span>
                          </span>
                          <div class="line">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </v-tab>
                      </v-tabs>
                    </div>
                  </div>
                  <v-tabs-items v-model="tab" :touchless="true" light>
                    <v-tab-item>
                      <section class="article-section">
                        <header class="section-header is-blind">
                          <h3>공간정보 탭 내용</h3>
                        </header>
                        <div class="section-content">
                          <!-- 공간 설명 :  설명있을때 노출 / 타이틀 없을 시 noTitle -->
                          <DetailInfoBox v-if="space.SPACE_INFO">
                            <template v-slot:title>
                              <h4>공간소개</h4>
                            </template>
                            <template v-slot:content>
                              <div class="txt-box txt-small">
                                <p>{{ space.SPACE_INFO }}</p>
                              </div>
                            </template>
                          </DetailInfoBox>
                          <DetailInfoBox v-if="spaceOptions.length > 0">
                            <template v-slot:title>
                              <h4>추가 가능 이용공간</h4>
                              <p class="h4_desc">
                                해당 공간을 사용하여 추가매출을 올리세요.
                              </p>
                            </template>
                            <template v-slot:content>
                              <div class="space-option-list">
                                <ul class="u-list">
                                  <li
                                    v-for="option in spaceOptions"
                                    :key="option.NO"
                                  >
                                    <span class="txt-small txt-black">{{
                                      option.DELIVERY_SPACE_OPTION_NAME
                                    }}</span>
                                    <span
                                      class="txt-tiny txt-gray"
                                      v-if="option.DESC"
                                      >({{ option.DESC }})</span
                                    >
                                  </li>
                                </ul>
                              </div>
                            </template>
                          </DetailInfoBox>
                          <DetailInfoBox
                            v-if="
                              space.SPACE_NANUDA_BRAND.length > 0 &&
                              space.SPACE_TYPE_NO === 1
                            "
                          >
                            <template v-slot:title>
                              <h4>추천 브랜드 안내</h4>
                              <p class="h4_desc">
                                NND MD가 공간에 적합한 브랜드를 추천해드립니다.
                              </p>
                            </template>
                            <template v-slot:content>
                              <div class="txt-box mb-2">
                                <p
                                  class="txt-tiny txt-secondary d-flex align-items-center"
                                >
                                  <i
                                    class="icon icon-info-guide txt-small mr-1"
                                  ></i>
                                  <span>관심 브랜드 로고를 클릭해보세요.</span>
                                </p>
                              </div>
                              <BrandList
                                :brands="availableBrands"
                                @click="showBrandInfo"
                              />
                            </template>
                          </DetailInfoBox>
                          <DetailInfoBox v-if="kitchenAmenities.length > 0">
                            <template v-slot:title>
                              <h4>주방시설</h4>
                              <p class="h4_desc">
                                공유주방에서 제공하는 시설/집기를 확인하세요.
                              </p>
                            </template>
                            <template v-slot:content>
                              <FacilityInfoList>
                                <FacilityInfo
                                  v-for="(item, index) in kitchenAmenities"
                                  :key="index"
                                  :label="item.AMENITY_NAME"
                                  :text="item.AMENITY_NAME"
                                  :icon="item.IMAGE[0].endpoint"
                                ></FacilityInfo>
                              </FacilityInfoList>
                            </template>
                          </DetailInfoBox>
                          <DetailInfoBox v-if="commonAmenities.length > 0">
                            <template v-slot:title>
                              <h4>공용시설</h4>
                              <p class="h4_desc">
                                매장에서 제공하는 시설/집기를 확인하세요.
                              </p>
                              <p></p>
                            </template>

                            <template v-slot:content>
                              <FacilityInfoList>
                                <FacilityInfo
                                  v-for="(item, index) in commonAmenities"
                                  :key="index"
                                  :label="item.AMENITY_NAME"
                                  :text="item.AMENITY_NAME"
                                  :icon="item.IMAGE[0].endpoint"
                                ></FacilityInfo>
                              </FacilityInfoList>
                            </template>
                          </DetailInfoBox>
                          <DetailInfoBox
                            v-if="
                              space.SPACE_NANUDA_BRAND.length > 0 &&
                              space.SPACE_TYPE_NO === 2
                            "
                          >
                            <template v-slot:title>
                              <h4>
                                나누다키친에서 추천하는 브랜드 만나보세요
                              </h4>
                              <p class="h4_desc">
                                이 공유주방에 알맞는 브랜드들을 소개합니다.
                              </p>
                            </template>
                            <template v-slot:content>
                              <div class="txt-box mb-2">
                                <p
                                  class="txt-tiny txt-secondary d-flex align-items-center"
                                >
                                  <i
                                    class="icon icon-info-guide txt-small mr-1"
                                  ></i>
                                  <span>관심 브랜드 로고를 클릭해보세요.</span>
                                </p>
                              </div>
                              <BrandList
                                :brands="availableBrands"
                                @click="showBrandInfo"
                              />
                            </template>
                          </DetailInfoBox>
                          <DetailInfoBox>
                            <template v-slot:title>
                              <h4>위치</h4>
                            </template>
                            <template v-slot:content>
                              <div
                                style="
                                  position: relative;
                                  padding-bottom: 56.25%;
                                "
                              >
                                <!-- 지도 삽입 -->
                                <vue-daum-map
                                  :appKey="appKey"
                                  :center="coords"
                                  :level.sync="level"
                                  :draggable="false"
                                  :scrollwheel="false"
                                  :disableDoubleClick="true"
                                  :disableDoubleClickZoom="true"
                                  :libraries="libraries"
                                  @load="onLoad"
                                  style="
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                  "
                                />
                              </div>
                            </template>
                          </DetailInfoBox>
                          <DetailInfoBox v-if="similarSpaces.length > 0">
                            <template v-slot:title>
                              <h4>함께 비교하면 좋을 공유주방</h4>
                            </template>
                            <template v-slot:content>
                              <SpaceSlider :spaces="similarSpaces" />
                            </template>
                          </DetailInfoBox>
                        </div>
                      </section>
                    </v-tab-item>
                    <v-tab-item v-if="space.VICINITY_INFO">
                      <section class="article-section">
                        <header class="section-header is-blind">
                          <h3>상권분석 내용</h3>
                        </header>
                        <div class="section-content">
                          <DetailInfoBox
                            v-if="space.VICINITY_INFO.avgBizConSales"
                          >
                            <template v-slot:title>
                              <h4>주변 평균 월 매출</h4>
                            </template>
                            <template v-slot>
                              <span class="date">
                                {{
                                  $moment(res.createdAt).format('YYYY.MM.DD')
                                }}
                                기준
                              </span>
                            </template>
                            <template v-slot:content>
                              <div style="max-width: 35em; margin: 0 auto;">
                                <ChartAvgSales
                                  :height="250"
                                  :analysisInfo="space.VICINITY_INFO"
                                  :amountSortedInfo="amountSortedInfo"
                                />
                              </div>
                            </template>
                          </DetailInfoBox>
                          <DetailInfoBox
                            v-if="
                              space.VICINITY_INFO.employeeRatio.NPS_EMP &&
                              space.SPACE_TYPE_NO === 1
                            "
                          >
                            <template v-slot:title>
                              <h4>주변 직장인 수</h4>
                              <p class="h4_desc">
                                상권의 유동인구를 파악할 수 있는 지표가 됩니다.
                              </p>
                              <span class="date">{{ updateDate }}</span>
                            </template>
                            <template v-slot:content>
                              <div
                                class="employee_wrapper mt-10 mb-10"
                                ref="employeeWrapper"
                              >
                                <div class="employee_box">
                                  <strong class="employee_count">
                                    <client-only>
                                      <IOdometer
                                        class="iOdometer"
                                        :value="employeeCount"
                                      />
                                    </client-only>
                                    <span>명</span>
                                  </strong>
                                </div>
                              </div>
                            </template>
                          </DetailInfoBox>
                          <DetailInfoBox v-if="genderDistribution">
                            <template v-slot:title>
                              <h4>성별 고객 분포</h4>
                              <p class="h4_desc">
                                창업 메뉴 선정에 필요한 지표가 됩니다.
                              </p>
                              <span class="date">{{ updateDate }}</span>
                            </template>
                            <template v-slot:content>
                              <div class="chart-wrapper mt-20">
                                <ChartGender
                                  :options="genderDistribution"
                                  id="genderChart"
                                ></ChartGender>
                              </div>
                            </template>
                          </DetailInfoBox>
                          <DetailInfoBox v-if="space.VICINITY_INFO.ageGroupDis">
                            <template v-slot:title>
                              <h4>연령별</h4>
                              <span class="date">{{ updateDate }}</span>
                            </template>
                            <template v-slot:content>
                              <div class="chart-wrapper">
                                <ChartAge
                                  :dataGroup="space.VICINITY_INFO.ageGroupDis"
                                />
                              </div>
                            </template>
                          </DetailInfoBox>
                          <DetailInfoBox
                            v-if="space.VICINITY_INFO.dayDistribution"
                          >
                            <template v-slot:title>
                              <h4>요일별</h4>
                              <span class="date">{{ updateDate }}</span>
                            </template>
                            <template v-slot:content>
                              <div class="chart-wrapper">
                                <ChartDay
                                  :dataGroup="
                                    space.VICINITY_INFO.dayDistribution
                                  "
                                />
                              </div>
                            </template>
                          </DetailInfoBox>
                        </div>
                      </section>
                    </v-tab-item>
                  </v-tabs-items>
                </div>
              </div>
              <div class="col col-lg-4 d-none d-lg-block">
                <div
                  id="infoAppVisitSticky"
                  class="border p-4"
                  v-stick-in-parent="stickykit"
                >
                  <SpacePriceArea
                    :deposit="space.DEPOSIT"
                    :rentalfee="space.RENTAL_FEE"
                    :pyeong="space.SIZE"
                  />
                  <div class="txt-box">
                    <p class="txt-mini txt-black">
                      입점 문의 후 신속하게 담당자가 연락드리겠습니다
                    </p>
                  </div>
                  <div class="btn-box">
                    <NButton
                      color="primary"
                      block
                      @click="toSpaceMeeting()"
                      class="mk_sp_topapply_btn"
                    >
                      입점 문의
                    </NButton>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 스크롤시 하단 고정 -->
      <div
        class="d-lg-none"
        :class="{ 'is-active': isScrolled }"
        id="infoAppVisitFixed"
      >
        <AppVisitBox
          :deposit="space.DEPOSIT"
          :rentalfee="space.RENTAL_FEE"
          :pyeong="space.SIZE"
          :space="space"
          :route="'/space-meetings/form'"
          addClass="mk_sp_bottomapply_btn"
        />
      </div>
      <!-- -->
    </article>
    <!-- sns 공유 레이어 -->
    <!-- <div class="sns-wrapper">
      <transition name="fade">
        <div
          class="dim-layer"
          v-show="showShareBtn"
          @click="showShareBtn = !showShareBtn"
        ></div>
      </transition>
      <transition name="slideInUp" type="animation">
        <div class="sns-list" v-show="showShareBtn">
          <div class="inner-container">
            
          </div>
        </div>
      </transition>
    </div> -->
    <!-- 찜 관련 toast -->
    <div class="toast-wrapper">
      <transition name="fadeInOut" mode="out-in">
        <div v-if="isSpaceLiked" class="toast-box">
          <span class="toast"
            >찜 되었습니다. 마이페이지 > 찜한 방에서 확인할 수 있습니다.</span
          >
        </div>
      </transition>
      <transition name="fadeInOut" mode="out-in">
        <div v-if="!isSpaceLiked" class="toast-box">
          <span class="toast">찜 해제 되었습니다.</span>
        </div>
      </transition>
    </div>
    <!-- 브랜드 모달 레이어 -->
    <BrandModal
      :visible="showBrandModal"
      @close="closeBrandModal"
      :brandInfo="brandInfo"
      :menuInfo="menuInfo"
    />
    <Modal
      yesBtn="로그인하기"
      noBtn="닫기"
      :visible="isVisible"
      @close="goToLogin"
    >
      <div class="txt-box txt-center">
        <p class="txt-small txt-black txt-bold">
          로그인이 필요한 서비스 입니다 <br />로그인 하시겠습니까?
        </p>
      </div>
    </Modal>
    <Modal noBtn="닫기" :visible="showShareBtn" @close="showShareBtn = false">
      <div class="row-box">
        <h4 class="txt-medium txt-black txt-bold">SNS 공유하기</h4>
      </div>
      <div class="d-flex flex-wrap justify-content-around txt-center mt-6">
        <div>
          <NButton
            id="kakaoShare"
            size="large"
            color="yellow"
            icon
            circle
            @click="kakaoShare"
          >
            <i class="icon-sns-kakao"></i>
          </NButton>
          <p class="my-1">
            <span class="d-block txt-tiny txt-gray-700">카카오톡</span>
          </p>
        </div>
        <div>
          <a
            :href="`https://www.facebook.com/sharer/sharer.php?u=https://nanudakitchen.com/restaurant-kitchen/${this.$route.params.uid}`"
            target="_blank"
            class="btn btn-large btn-icon btn-circle btn-blue"
          >
            <i class="icon-sns-fbook"></i>
          </a>
          <p class="my-1">
            <span class="d-block txt-tiny txt-gray-700">페이스북</span>
          </p>
        </div>
        <div>
          <a
            :href="`https://social-plugins.line.me/lineit/share?url=https://nanudakitchen.com/restaurant-kitchen/${this.$route.params.uid}`"
            target="_blank"
            class="btn btn-large btn-icon btn-circle btn-green"
          >
            <i class="icon-sns-line"></i>
          </a>
          <p class="my-1">
            <span class="d-block txt-tiny txt-gray-700">라인</span>
          </p>
        </div>
      </div>
    </Modal>
  </main>
</template>

<script>
import LoadingLayer from '@/components/UI/LoadingLayer';
// 상세 정보 컴포넌트
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
import DetailInfoBox from '@/components/spaces/DetailInfoBox'; // 상세정보 컴포넌트
import AppVisitBox from '@/components/Spaces/AppVisitBox'; // 방문신청
import FacilityInfoList from '@/components/spaces/FacilityInfoList'; // 시설 목록
import FacilityInfo from '@/components/spaces/FacilityInfo'; // 시설 목록 내용
import SpaceDetailList from '@/components/Spaces/SpaceDetailList';
import SpaceSlider from '@/components/Spaces/SpaceSlider'; // 비슷한 공간
// 차트 컴포넌트
import ChartAvgSales from '@/components/Spaces/ChartAvgSales'; // 평균매출차트
import ChartGender from '@/components/Spaces/ChartGender'; // 성별차트
import ChartAge from '@/components/Spaces/ChartAge'; // 연령차트
import ChartDay from '@/components/Spaces/ChartDay'; // 요일차트

//  mixins
import { handleScroll } from '@/assets/mixins/handleScroll';
import { kakaoAPIs } from '@/assets/mixins/kakaoAPIs';
import { brandInfo } from '@/assets/mixins/brandInfo';

export default {
  mixins: [handleScroll, kakaoAPIs, brandInfo],
  components: {
    DetailInfoBox,
    AppVisitBox,
    FacilityInfoList,
    FacilityInfo,
    SpaceDetailList,
    ChartAvgSales,
    ChartGender,
    ChartAge,
    ChartDay,
    LoadingLayer,
    SpacePriceArea,
    SpaceSlider,
  },
  async asyncData(context) {
    //공간 data 가져오기
    let res = await context.$axios.$get(`/space/${context.params.uid}`);
    // 불필요한 호출
    // let brandsData = await context.$axios.$get(`/brand`);
    let promotionData = await context.$axios.$get(
      `/space/${context.params.uid}/promotions`,
    );

    let similarSpaces = await context.$axios.$get(
      `/space/${context.params.uid}/similar`,
      {
        params: {
          take: 5,
        },
      },
    );

    if (res) {
      //상권정보 데이터가 없으면 isVicinityFailed = true
      const theInfo = JSON.stringify(res.VICINITY_INFO);
      const isVicinityFailed =
        theInfo.includes('null') || theInfo.includes('fail');
      let genderDis = { boy: null, girl: null };
      let amountSortedInfo = null;
      let filterArray = ['부페']; // 업종 필터
      let employeeNum = null;
      if (!isVicinityFailed) {
        //타입 가격순대로 정렬
        amountSortedInfo = res.VICINITY_INFO.avgBizConSales
          .sort((a, b) => {
            return b.KB_AVG_AMT - a.KB_AVG_AMT;
          })
          .filter((arr) => {
            for (const filter of filterArray) {
              if (!arr.KB_STORE_TYPE.includes(filter)) {
                return true;
              }
            }
          });

        genderDis = {
          boy: Math.round(res.VICINITY_INFO.genderDistribution.M * 100),
          girl: Math.round(res.VICINITY_INFO.genderDistribution.FM * 100),
        };
        employeeNum = +res.VICINITY_INFO.employeeRatio.NPS_EMP;
      }

      //사용가능한 브렌드 array
      let availableBrands = [];
      const brands = res.SPACE_NANUDA_BRAND;
      brands.map((e) => {
        availableBrands.push(e.BRAND);
      });

      // 공간 이미지 array
      let spaceImages;
      const images = res.FILE_MANAGEMENT;

      // 배달 추가 공간 옵션

      let spaceOptions = [];
      res.DELIVERY_SPACE_OPTION_SPACE_MAPPER.map((v) => {
        spaceOptions.push(v.DELIVERY_SPACE_OPTION[0]);
      });

      // amenity common
      let commonAmenities = [];
      res.AMENITY_SPACE_MAPPER_COMMON.map((v) => {
        commonAmenities.push(v.AMENITY[0]);
      });

      // amenity kitchen
      let kitchenAmenities = [];
      res.AMENITY_SPACE_MAPPER_KITCHEN.map((v) => {
        kitchenAmenities.push(v.AMENITY[0]);
      });
      //찜
      let isSpaceLiked;
      let spaceLikedCount;
      if (context.store.getters.isAuthenticated) {
        isSpaceLiked = await context.$axios.$get(
          `/favoriteSpace/checkForRestaurantKitchen/${context.params.uid}`,
        );
        isSpaceLiked = isSpaceLiked.isLiked === 'Y' ? true : false;
      }
      //찜 카운트
      spaceLikedCount = await context.$axios.$get(
        `/nonUserFavorite/checkCountForRestaurantKitchen/${context.params.uid}`,
      );

      return {
        isVicinityFailed: isVicinityFailed,
        space: res,
        coords: { lat: res.LAT, lng: res.LON },
        amountSortedInfo: amountSortedInfo,
        updateDate: res.createdAt,
        genderDistribution: genderDis,
        employeeNum: employeeNum,
        availableBrands: availableBrands,
        promotions: promotionData,
        spaceImages: images,
        commonAmenities: commonAmenities,
        kitchenAmenities: kitchenAmenities,
        spaceOptions: spaceOptions,
        promotionMapper: res.PROMOTION_SPACE_MAPPER,
        isSpaceLiked: isSpaceLiked,
        spaceLikedCount: spaceLikedCount,
        similarSpaces: similarSpaces.items, // 유사 공간
      };
    }
  },
  head() {
    // 상세페이지 - head meta 태그 추가
    return {
      title: this.space.SHOW_NAME,
      meta: [
        {
          hid: 'og:title',
          name: 'og:title',
          property: 'og:title',
          content: `${this.space.SHOW_NAME} - 나누다키친`,
        },
        {
          hid: 'og:url',
          name: 'og:url',
          property: 'og:url',
          content: `https://nanudakitchen.com/restaurant-kitchen/${this.$route.params.uid}`,
        },
        {
          hid: 'og:description',
          name: 'og:description',
          property: 'og:description',
          content: this.space.SPACE_INFO,
        },
        {
          hid: 'og:image',
          name: 'og:image',
          property: 'og:image',
          content:
            this.spaceImages && this.spaceImages.length > 0
              ? `https://nanudakitchen.com/api/${this.spaceImages[0].FILE_PATH}`
              : '/meta_main.png',
        },
      ],
    };
  },
  data() {
    return {
      tab: null,
      minLevel: 6, //최소 지도 레벨
      baseUrl: process.env.baseUrl,
      isScrolled: false,
      employeeCount: null, // 직장인 수
      showShareBtn: false, // SNS 공유버튼
      swiperTopOption: {
        // 상단 슬라이드
        loop: false,
        slidesPerView: 1,
        centeredSlides: true,
        spaceBetween: 0,
        grabCursor: true,
        followFinger: false,
        lazy: {
          loadPrevNext: true,
          preloaderClass: 'lazy-loader',
        },
        fadeEffect: {
          crossFade: true,
        },
        preloadImages: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
          hideOnClick: true,
          disabledClass: 'swiper-button-disabled',
          hiddenClass: 'swiper-button-hidden',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet: function (index, className) {
            return '<span class="' + className + '">' + index + '</span>';
          },
        },
      },
      swiperThumbsOption: {
        // 썸네일 슬라이드
        loop: false,
        slidesPerView: 6,
        centeredSlides: true,
        spaceBetween: 10,
        grabCursor: true,
        followFinger: false,
        lazy: {
          loadPrevNext: true,
          preloaderClass: 'lazy-loader',
        },
        fadeEffect: {
          crossFade: true,
        },
        preloadImages: true,
      },
      showSideDrawer: false, // 헤더 메뉴 레이어 상태
      isVisible: false,
      stickykit: {
        options: {
          parent: '.my-sticky-class',
          offset_top: 90,
        },
        on: {
          'sticky_kit:stick': function (e) {},
          'sticky_kit:unstick': function (e) {},
        },
      },
    };
  },
  computed: {
    currentURL() {
      // 상세 URL 정보
      return `https://nanudakitchen.com/restaurant-kitchen/${this.$route.params.uid}`;
    },
  },
  methods: {
    async favoriteSpace() {
      //토큰 유효기간 검사
      await this.$checkTokenExpired();
      if (this.$store.getters.isAuthenticated) {
        if (this.isSpaceLiked) {
          // 찜 해제하기
          return this.$axios
            .$delete('/favoriteSpace', {
              params: {
                deliverySpaceNo: this.$route.params.uid,
                spaceTypeNo: '1',
              },
            })
            .then((res) => {
              if (res) {
                this.isSpaceLiked = false;
                this.spaceLikedCount -= 1;
              }
            });
        } else {
          // 찜 하기
          return this.$axios
            .$post('/favoriteSpace', {
              deliverySpaceNo: this.$route.params.uid,
              spaceTypeNo: '1',
            })
            .then((res) => {
              if (res) {
                this.isSpaceLiked = true;
                this.spaceLikedCount += 1;
              }
            });
        }
      } else {
        this.isVisible = true;
      }
    },
    goToLogin(res) {
      if (res.ok) {
        this.$router.push('/login');
      } else {
        this.isVisible = false;
      }
    },
    async toSpaceMeeting() {
      await this.$checkTokenExpired();
      this.$store.dispatch('spaces/setSelectedSpace', this.space);
      if (this.$store.getters.isAuthenticated) {
        this.$router.push('/space-meetings/form');
      } else {
        this.$router.push({
          name: 'login',
          params: { redirected: '/space-meetings/form' }, // form 으로 바로 연결
        });
      }
    },
    openSideDrawer() {
      // 헤더 메뉴 레이어 상태
      this.showSideDrawer = !this.showSideDrawer;
    },
    appVisitFixed() {
      // 방문신청 고정 이벤트
      const target = this.$refs.tabContent;
      if (target) {
        let rect =
          target.getBoundingClientRect().top + this.currentScroll ||
          target.offsetTop;
        if (this.currentScroll > rect) {
          this.isScrolled = true;
        } else {
          this.isScrolled = false;
        }
      }
    },
    employeeCountUp() {
      // 직장인 수 카운트 업 이벤트
      const target = this.$refs.employeeWrapper;
      if (target) {
        let rect =
          target.getBoundingClientRect().top + this.currentScroll ||
          target.offsetTop;
        const winHeight = window.outerHeight;
        if (this.currentScroll > rect - winHeight) {
          this.employeeCount = this.employeeNum;
        }
      }
    },
    scrollFunc() {
      // 스크롤시 이벤트
      this.employeeCountUp();
      this.appVisitFixed();
    },
    kakaoShare() {
      // 카카오 api 링크 공유
      Kakao.Link.sendScrap({
        requestUrl: `https://nanudakitchen.com/restaurant-kitchen/${this.$route.params.uid}`,
        installTalk: true,
        fail: function (err) {
          console.log(err);
        },
      });
    },
    copyURL(textToCopy) {
      var textArea;
      function isOS() {
        return navigator.userAgent.match(/ipad|iphone/i);
      }

      function createTextArea(text) {
        textArea = document.createElement('textArea');
        textArea.readOnly = true;
        textArea.contentEditable = true;
        textArea.value = text;
        document.body.appendChild(textArea);
      }

      function selectText() {
        var range, selection;

        if (isOS()) {
          range = document.createRange();
          range.selectNodeContents(textArea);
          selection = window.getSelection();
          selection.removeAllRanges();
          selection.addRange(range);
          textArea.setSelectionRange(0, 999999);
        } else {
          textArea.select();
        }
      }

      function copyTo() {
        document.execCommand('copy');
        document.body.removeChild(textArea);
        alert('클립보드로 URL이 복사되었습니다.');
      }

      createTextArea(textToCopy);
      selectText();
      copyTo();

      // const copyLink = this.$refs.currentURL;
      // const range = document.createRange();
      // range.selectNode(copyLink);
      // window.getSelection().addRange(range);
      // // copyLink.select();

      // try {
      //   const successful = document.execCommand("copy", false, null);
      //   copyLink.blur();
      //   alert("클립보드로 URL이 복사되었습니다.");
      // } catch (err) {
      //   console.log("다시 시도해주세요.");
      // }
      // window.getSelection().removeAllRanges();
    },
  },
  mounted() {
    // 썸네일 슬라이드 sync
    this.$nextTick(() => {
      if (this.spaceImages && this.spaceImages.length > 0) {
        const swiperTop = this.$refs.swiperTop.swiper;
        const swiperThumbs = this.$refs.swiperThumbs.swiper;
        swiperTop.controller.control = swiperThumbs;
        swiperThumbs.controller.control = swiperTop;
      }
    });
  },
};
</script>
<style lang="scss">
.marker {
  position: relative;
  bottom: 3em;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #635dff;
  padding: 0.65em;
  font-size: $txt-mini;
  border-style: solid;
  border-color: #2e28ff;
  border-width: 2px;
  &:after {
    position: absolute;
    top: 67%;
    left: 50%;
    display: block;
    content: '';
    width: 50%;
    height: 50%;
    margin-left: -25%;
    background-color: #635dff;
    transform: rotate(45deg);
    border: 0;
    border-right-width: inherit;
    border-bottom-width: inherit;
    border-color: inherit;
    border-style: solid;
  }

  &.is-active {
    background-color: #d95050;
    border-color: #c12b2b;
    &:after {
      background-color: #d95050;
      border-color: #c12b2b;
    }
  }

  .count {
    position: relative;
    z-index: 2;
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: $txt-bold;
    background-color: $white;
    border-radius: 50%;
    color: $black;
  }
}
@media screen and (max-width: 1023px) {
  .restaurant-kitchen-uid {
    #footer {
      display: none;
    }
  }
}
</style>
