<template>
  <div>
    <v-form ref="form" v-model="valid">
      <CardWithTitle title="상품 게재 설정">
        <v-row align="center" justify="space-between">
          <v-col cols="12" lg="6">
            <v-row align="center">
              <v-col cols="12" md="6" lg="7">
                <v-row no-gutters justify="space-between" align="center">
                  <div class="mr-2">상품검색 게재</div>
                  <ToggleBtn
                    :isActivated="isShowing"
                    @activate="toggleShow('isShowing')"
                  />
                </v-row>
              </v-col>
              <v-col cols="12" md="6" lg="5">
                <v-row no-gutters justify="space-between" align="center">
                  <ManagerSelect
                    @change="changeManager"
                    style="max-width:none"
                  ></ManagerSelect>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" lg="6">
            <v-row>
              <v-col cols="12" md="6">
                <DatePicker
                  title="게재 시작일"
                  v-model="startDate"
                  @dateChanged="startDate = $event"
                ></DatePicker>
              </v-col>
              <v-col cols="12" md="6">
                <DatePicker
                  title="게재 종료일"
                  v-model="endDate"
                  @dateChanged="endDate = $event"
                ></DatePicker>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </CardWithTitle>
      <CardWithTitle title="상품 정보">
        <v-row no-gutters>
          <v-col cols="12" lg="6">
            <v-row no-gutters>
              <v-text-field
                v-model="planName"
                label="*상품명"
                class="small-input"
                :rules="[required]"
              ></v-text-field>
            </v-row>
            <v-row no-gutters align="center">
              <v-text-field
                label="*초기비용"
                class="small-input"
                v-model="initialCharge"
              ></v-text-field>
              <div>만원</div>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-row no-gutters align="center">
                  <v-text-field
                    label="*월 수수료"
                    class="small-input"
                    v-model="monthlyFee"
                  ></v-text-field>
                  <div>만원</div>
                </v-row>
              </v-col>
              <v-col cols="12" md="6">
                <v-row no-gutters align="center">
                  <v-text-field
                    label="*월 수수료"
                    class="small-input"
                    v-model="monthlyPer"
                  ></v-text-field>
                  <div>%(매출 기준)</div>
                </v-row>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-row no-gutters align="center">
                  <v-text-field
                    label="*추가 수수료"
                    class="small-input"
                    v-model="addFee"
                  ></v-text-field>
                  <div>만원</div>
                </v-row>
              </v-col>
              <v-col cols="12" md="6">
                <v-row no-gutters align="center">
                  <v-text-field
                    label="*추가 수수료"
                    class="small-input"
                    v-model="addPer"
                  ></v-text-field>
                  <div>%(매출 기준)</div>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" lg="6">
            <AdminFileUpload
              category="P"
              :forAdd="true"
              @syncFiles="updateImages($event, 'P')"
            ></AdminFileUpload>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" lg="4">
            <v-textarea
              label="상품 간단 설명"
              filled
              v-model="title"
            ></v-textarea>
          </v-col>
          <v-col cols="12" lg="4">
            <v-textarea
              label="상품 상세 설명"
              filled
              v-model="content"
            ></v-textarea>
          </v-col>
          <v-col cols="12" lg="4">
            <v-textarea label="기타" filled v-model="etc"></v-textarea>
          </v-col>
        </v-row>
      </CardWithTitle>
      <v-row no-gutters justify="end">
        <v-btn color="orange" x-large :disabled="!valid" @click="save"
          >저장 하기</v-btn
        >
      </v-row>
    </v-form>
  </div>
</template>

<script>
import { validations } from "@/assets/mixins/validations";
import ImageList from "@/components/Admin/ImageList";
import AdminFileUpload from "@/components/Admin/AdminFileUpload";
import { sendingFormData } from "@/assets/mixins/sendingFormData";
import { showToggleBtn } from "@/assets/mixins/showToggleBtn";
import { changeManager } from "@/assets/mixins/admin/changeManager";
import { updateImages } from "@/assets/mixins/updateImages";
export default {
  layout: "admin",
  mixins: [
    sendingFormData,
    showToggleBtn,
    changeManager,
    updateImages,
    validations
  ],
  components: { ImageList, AdminFileUpload },
  data() {
    return {
      valid: false,
      planName: null,
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      initialCharge: null,
      monthlyFee: null,
      monthlyPer: null,
      addFee: null,
      addPer: null,
      title: null,
      subtitle: null,
      content: null,
      etc: null
    };
  },
  methods: {
    save() {
      if (this.images) {
        this.images.map(e => {
          const blob = new Blob([e]);
          this.appendForm(blob, "PRODUCT", e.name);
          this.appendForm(blob, "MAIN_PRODUCT", e.name);
        });
      }
      this.appendForm(this.isShowing, "SHOW_YN");
      this.appendForm("N", "DEL_YN");
      this.appendForm(this.manager, "MANAGER");
      this.appendForm(this.planName, "NAME");
      this.appendForm(this.startDate, "START_DATE");
      this.appendForm(this.endDate, "END_DATE");
      this.appendForm(this.initialCharge, "INITIAL_CHARGE");
      this.appendForm(this.monthlyFee, "MONTHLY_FEE");
      this.appendForm(this.monthlyPer, "MONTHLY_PER");
      this.appendForm(this.addFee, "ADD_FEE");
      this.appendForm(this.addPer, "ADD_PER");
      this.appendForm(this.title, "TITLE");
      this.appendForm(this.subtitle, "SUB_TITLE");
      this.appendForm(this.content, "CONTENT");
      this.appendForm(this.etc, "ETC");
      this.$axios
        .$post("/productAdmin", this.form)
        .then(response => {
          // console.log("response : ", JSON.stringify(response, null, 2));
          this.$router.push("/admin/plans");
        })
        .catch(error => {
          console.log("failed", error);
        });
    }
  },
  deactivated() {
    this.$destroy();
  }
};
</script>

<style lang="scss"></style>
