<template>
  <CommonTable :headers="headers" :items="spaces" page="spaces" addBtn="공간" />
</template>

<script>
import CommonTable from '@/components/Admin/CommonTable';
export default {
  components: { CommonTable },
  layout: 'admin',
  data() {
    return {
      headers: [
        {
          text: 'UID',
          align: 'center',
          sortable: true,
          value: 'NO',
        },
        {
          text: 'STATUS',
          value: 'CODE_MANAGEMENT.VALUE',
          sortable: false,
          align: 'center',
        },
        {
          text: '게시중',
          align: 'center',
          sortable: true,
          value: 'SHOW_YN',
        },
        {
          text: '공간타입',
          align: 'center',
          sortable: true,
          value: 'SPACE_TYPE.DISPLAY_NAME',
        },
        {
          text: '공간 매장명',
          value: 'NAME',
          sortable: false,
          align: 'center',
        },
        {
          text: '공간 주소',
          value: 'ADDRESS',
          sortable: false,
          align: 'center',
        },
        // {
        //   text: '사용자 핸드폰',
        //   value: 'NANUDA_USER.PHONE',
        //   sortable: false,
        //   align: 'center',
        // },
        {
          text: '사용자 이름',
          value: 'NANUDA_USER.NAME',
          sortable: false,
          align: 'center',
        },
        {
          text: '담당자',
          align: 'center',
          sortable: true,
          value: 'ADMIN_USER.NAME',
        },
        {
          text: '생성일',
          value: 'createdAt',
          sortable: false,
          align: 'center',
        },
      ],
      loading: false,
    };
  },
  asyncData(context) {
    //user data 가져오기
    context.loading = true;
    return context.$axios
      .$get('/spaceAdmin')
      .then((result) => {
        result.map((e) => {
          if (
            e.NANUDA_USER === null &&
            e.COMPANY_DISTRICT_SPACE_MAPPER.length > 0
          ) {
            const companyName =
              e.COMPANY_DISTRICT_SPACE_MAPPER[0].COMPANY_DISTRICT[0].COMPANY
                .NAME_KR;
            const districtName =
              e.COMPANY_DISTRICT_SPACE_MAPPER[0].COMPANY_DISTRICT[0].NAME_KR;
            e.NANUDA_USER = { NAME: '' };
            e.NANUDA_USER.NAME = `${companyName} ${districtName}`;
          }
          //비회원일때
          if (e.NANUDA_USER === null && e.NON_USER_NAME) {
            e.NANUDA_USER = { NAME: '', PHONE: '' };
            e.NANUDA_USER.NAME = e.NON_USER_NAME;
            e.NANUDA_USER.PHONE = e.NON_USER_PHONE;
          }
        });

        context.loading = false;
        return { spaces: result };
      })
      .catch((e) => console.log(e));
  },
  activated() {
    return this.$axios
      .$get('/spaceAdmin')
      .then((result) => {
        result.map((e) => {
          if (
            e.NANUDA_USER === null &&
            e.COMPANY_DISTRICT_SPACE_MAPPER.length > 0
          ) {
            const companyName =
              e.COMPANY_DISTRICT_SPACE_MAPPER[0].COMPANY_DISTRICT[0].COMPANY
                .NAME_KR;
            const districtName =
              e.COMPANY_DISTRICT_SPACE_MAPPER[0].COMPANY_DISTRICT[0].NAME_KR;
            e.NANUDA_USER = { NAME: '' };
            e.NANUDA_USER.NAME = `${companyName} ${districtName}`;
          }
          //비회원일때
          if (e.NANUDA_USER === null && e.NON_USER_NAME) {
            e.NANUDA_USER = { NAME: '', PHONE: '' };
            e.NANUDA_USER.NAME = e.NON_USER_NAME;
            e.NANUDA_USER.PHONE = e.NON_USER_PHONE;
          }
        });
        this.spaces = result;
      })
      .catch((e) => console.log(e));
  },
};
</script>

<style lang="scss"></style>
