// animation

@keyframes handShake {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes leftHandShake {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(0.5deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes rightHandShake {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-0.5deg);
  }

  100% {
    transform: rotate(0);
  }
}
.bg-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ani-bg-scale {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: bgScale 40s ease infinite;
}

@keyframes bgScale {
  0% {
    -webkit-transform: scale(1) rotate(0.001deg);
    transform: scale(1) rotate(0.001deg);
  }

  50% {
    -webkit-transform: scale(1.2) rotate(0.001deg);
    transform: scale(1.2) rotate(0.001deg);
  }

  to {
    -webkit-transform: scale(1) rotate(0.001deg);
    transform: scale(1) rotate(0.001deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// transition animation

.slideInLeft-enter-active {
  animation: slideInLeft 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.slideInLeft-leave-active {
  animation: slideInLeft 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) reverse;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp-enter-active {
  animation: slideInUp 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.slideInUp-leave-active {
  animation: slideInUp 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) reverse;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.slideInDown-enter-active {
  animation: slideInDown 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.slideInDown-leave-active {
  animation: slideInDown 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) reverse;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.shake {
  animation: shake 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.4s ease forwards;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  20% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fadeInOut {
  animation: fadeInOut 0.4s ease forwards;
}

.fadeInOut-enter-active {
  animation: fadeInOut 3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.heartBeat {
  animation: heartBeat 1.3s ease-in-out infinite;
}

.marquee {
  animation: marquee 12s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
