//Color Settings
$white: #fff !default;
$black: #212121 !default;
$gray-100: #f0f0f0 !default;
$gray-200: #e4e4e4 !default;
$gray-300: #dddddd !default;
$gray-400: #969696 !default;
$gray-500: #757575 !default;
$gray-600: #646464 !default;
$gray-700: #424242 !default;
$gray-800: #323232 !default;
$gray-900: #212121 !default;

$grays: () !default;
$grays: map-merge(
  (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900,
  ),
  $grays
);

$blue: #4b80ff !default;
$lightblue: #26aff0 !default;
$darkblue: #304ffe !default;
$indigo: #1a1448 !default;
$purple: #7e5cdf !default;
$lightpurple: #b0b6f3 !default;
$pink: #ea4c89 !default;
$red: #e4111d !default;
$orange: #ff7a00 !default;
$lightorange: #ff9931 !default;
$darkorange: #e26e42 !default;
$yellow: #fec001 !default;
$green: #2fa444 !default;
$teal: #33cabb !default;
$cyan: #17a2b8 !default;
$darknavy: #1e3142 !default;
$brown: #d1a62c !default;

$colors: () !default;
$colors: map-merge(
  (
    'blue': $blue,
    'lightblue': $lightblue,
    'darkblue': $darkblue,
    'black': $black,
    'indigo': $indigo,
    'purple': $purple,
    'lightpurple': $lightpurple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'lightorange': $lightorange,
    'darkorange': $darkorange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'darknavy': $darknavy,
    'white': $white,
    'light': $gray-100,
    'lightgray': $gray-400,
    'darkgray': $gray-800,
    'brown': $brown,
    'gray': $gray-500,
    'gray-100': $gray-100,
    'gray-200': $gray-200,
    'gray-300': $gray-300,
    'gray-400': $gray-400,
    'gray-500': $gray-500,
    'gray-600': $gray-600,
    'gray-700': $gray-700,
    'gray-800': $gray-800,
    'gray-900': $gray-900,
  ),
  $colors
);

$primary: $orange !default;
$secondary: $blue !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$gray: $gray-500 !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

@mixin gradientBlack {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  border-bottom: 0;
}

//border Settings
$border-color: $gray-300 !default;
$border-width: 1px !default;
$border-radius: 1rem !default;
$border-radius-lg: 2.5rem !default;
$border-radius-sm: 0.25rem !default;
$rounded-pill: 50rem !default;

//z-index Settings
$zindex-gnb: 900 !default;
$zindex-header: 990 !default;
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
$zindex-skip: 1080 !default;

.btn-scroll-down {
  position: absolute;
  bottom: 1em;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  border-radius: 50%;

  .icon-arrow-angle-down {
    display: block;
    animation: fadeInDown ease 1.5s infinite;
    font-weight: bold;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    visibility: hidden;
    transform: translate3d(0, 0, 0);
  }
}
