<template>
  <main id="restaurantKitchenCost" class="main-wrapper">
    <header class="main-header is-blind">
      <h1>식당형 공유주방 - 워라밸</h1>
    </header>
    <RestaurantBalance :media="media" :brands="brands" />
    <section
      class="article-section bg-light mx-0"
      id="registerForm"
      ref="registerForm"
    >
      <div class="txt-center border-bottom border-white pt-6 pb-4">
        <div class="inner-container">
          <p class="txt-small txt-gray-700">
            아래 작성해 주시는 내용을 바탕으로
            <br />전문 상담 매니저가 배정 예정이오니 <br />답변 주시면
            감사하겠습니다.
          </p>
        </div>
      </div>
      <div class="pt-4 pb-37">
        <div class="inner-container">
          <div class="bg-white rounded-lg px-4 py-6 border border-gray">
            <header class="section-header mb-8">
              <div class="title-box">
                <h3>창업 상담 신청</h3>
              </div>
            </header>
            <div class="section-content">
              <div>
                <div class="form-wrapper">
                  <FormGroup>
                    <FormLabel for="name">이름</FormLabel>
                    <FormControl>
                      <InputGroup>
                        <InputField
                          ref="name"
                          type="text"
                          id="name"
                          placeholder="홍길동"
                          addClass="mk_restaurant_name_btn"
                          v-model="$v.name.$model"
                        />
                      </InputGroup>
                    </FormControl>
                  </FormGroup>
                  <FormGroup>
                    <FormLabel for="cellPhone">휴대폰번호</FormLabel>
                    <FormControl>
                      <InputGroup>
                        <InputField
                          type="tel"
                          placeholder="-없이 입력해주세요"
                          id="cellPhone"
                          addClass="mk_restaurant_phone_btn"
                          v-model="$v.phone.$model"
                        />
                      </InputGroup>
                    </FormControl>
                  </FormGroup>
                  <AddressSelectBox
                    @selectedCity="onSelectedCity"
                    @selectedDistrict="onSelectedDistrict"
                  />
                </div>
                <div class="agree-box d-flex justify-content-between">
                  <CheckBox
                    label="개인정보취급방침에 동의합니다"
                    id="informedConsent"
                    class="txt-small"
                    @click="isInformedConsent"
                    :checked="isInformedConsentChecked"
                    addClass="mk_re2_law_btn"
                  />
                  <Button
                    @click="showInformedConsent = true"
                    class="btn-text btn-tiny btn-underline"
                    >약관보기</Button
                  >
                </div>
                <div class="btn-box txt-center mt-6">
                  <NButton
                    color="secondary"
                    size="medium"
                    block
                    @click="send()"
                    :disabled="$v.$invalid || !isInformedConsentChecked"
                    class="mk_restaurant_typeform_com_btn"
                    >신청하기</NButton
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 개인정보취급방침 모달 -->
    <CustomModal
      :visible="showInformedConsent"
      headerType="default"
      id="InformedConsent"
      title="개인정보취급 이용약관"
      noBtn="닫기"
      @close="showInformedConsent = false"
    >
      <PrivacyRestaurant />
    </CustomModal>
    <!-- // -->
  </main>
</template>
<script>
import RestaurantBalance from '@/components/RestaurantKitchen/RestaurantBalance';
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤 이베트
import { registerForm } from '@/assets/mixins/homepage/registerForm';

export default {
  mixins: [infoAppRequest, handleScroll, registerForm],
  components: {
    RestaurantBalance,
  },
  async asyncData(context) {
    let brands = await context.$axios.$get('/brand/spaceType/1');
    let media = await context.$axios.$get('/homePageMedia/youtube');
    return {
      media: media,
      brands: brands.rows,
    };
  },
  methods: {
    send() {
      // 전송 메소드
      return this.$axios
        .$post('/product/restaurant-kitchen-balance', {
          PHONE: this.$v.phone.$model,
          NAME: this.$v.name.$model,
          CITY: this.$v.city.$model,
          DISTRICT: this.district,
        })
        .then((res) => {
          this.$router.push('/plans/complete');
        })
        .catch((e) => console.log(e));
    },
    scrollFunc() {
      // 스크롤 이벤트
      this.appVisitFixed();
    },
  },
};
</script>
