<template>
  <div>
    <div class="brand-list" v-if="brands.length > 0">
      <div class="row gutter-8">
        <div
          class="col-4 col-lg-3"
          v-for="brand in showingBrands"
          :key="brand.NO"
        >
          <div
            class="img-box mk_brand_img_btn lazy-preload"
            @click="showBrandInfo(brand.NO)"
            :class="addClass"
          >
            <!-- 추천 뱃지 -->
            <Badge
              size="mini"
              color="red"
              text="인기"
              v-if="brand.IS_RECOMMENDED_YN === 'Y'"
            />
            <!-- // -->
            <img
              v-lazy="brand.LOGO[0].endpoint"
              :alt="brand.NAME_KR"
              v-if="brand.LOGO && brand.LOGO.length > 0"
              class="thumb-img"
              :class="addClass"
            />
            <img
              v-lazy="require('@/assets/images/common/no_img.png')"
              class="thumb-img"
              :class="addClass"
              v-else
            />
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box" v-if="!noLimit">
      <NButton
        color="primary"
        size="medium"
        block
        @click="moreBrandView"
        class="mk_brands_more_btn"
        v-if="brands.length > showingBrandLimit"
        >더 보기</NButton
      >
    </div>
  </div>
</template>
<script>
export default {
  props: {
    brands: {
      type: Array,
      defualt: () => [],
    },
    noLimit: {
      type: Boolean,
      default: false,
    },
    addClass: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl,
      showingBrandLimit: 12,
    };
  },
  computed: {
    showingBrands() {
      if (!this.noLimit) {
        const tempArr = this.brands.slice(0, this.showingBrandLimit);
        return tempArr;
      } else {
        return this.brands;
      }
    },
  },
  methods: {
    showBrandInfo(no) {
      // this.$router.push(`/brands/${no}`);
      this.$emit('click', no);
    },
    moreBrandView() {
      this.showingBrandLimit += 12;
    },
  },
};
</script>
<style lang="scss">
.brand-list {
  .img-box {
    position: relative;
    padding-bottom: 54.83%;
    border: 1px solid $border-color;
    cursor: pointer;
    border-radius: 0;

    .badge {
      position: absolute;
      right: -1px;
      top: -1px;
      z-index: 1;
    }

    img {
      background-color: $white;
    }
  }
}
</style>
