<template>
  <Modal
    :visible="visible"
    noBtn="닫기"
    id="brandModal"
    @close="closeModal"
    v-if="brandInfo"
  >
    <BrandPreview
      :brandModal="true"
      :brandInfo="brandInfo"
      :menuInfo="menuInfo"
      :foodCategory="foodCategory"
    />
  </Modal>
</template>
<script>
import Modal from '@/components/Modal/Modal';
import BrandPreview from '@/components/Brands/BrandPreview';
export default {
  props: {
    visible: Boolean,
    brandInfo: Object,
    menuInfo: Array,
    foodCategory: Object,
  },
  components: {
    Modal,
    BrandPreview,
  },
  methods: {
    closeModal() {
      this.$emit('close');
    },
  },
};
</script>
<style lang="scss">
#brandModal {
  .modal-content {
    padding: 0;
  }
  .brand-preview {
    border: 0;
  }
}
</style>
