<template>
  <div class="brand-slider" v-swiper:brand="brandSwiperOption">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="brand in brands" :key="brand.NO">
        <BrandPreview
          :brandInfo="brand"
          :menuInfo="brand.MENU"
          :foodCategory="brand.FOOD_CATEGORY"
        />
      </div>
    </div>
  </div>
</template>
<script>
// 브랜드 슬라이더 (식당형)
import BrandPreview from '@/components/Brands/BrandPreview';
export default {
  props: ['brands'],
  components: {
    BrandPreview,
  },
  data() {
    return {
      brandSwiperOption: {
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: false,
        freeMode: true,
        spaceBetween: 20,
        grabCursor: true,
        navigation: false,
        pagination: false,
      },
    };
  },
};
</script>
<style lang="scss">
.brand-slider {
  .swiper-slide {
    width: 70%;
    display: flex;
    height: auto;
    max-width: 15em;
    .brand-preview {
      width: 100%;
    }
  }
}
</style>