<!-- 브랜드 상세 내용 -->
<template>
  <div class="brand-preview">
    <div class="img-box lazy-preload">
      <!-- <Badge
        color="default"
        size="mini"
        :text="brandInfo.FOOD_CATEGORY.NAME_KR"
        v-if="brandInfo.FOOD_CATEGORY.NAME_KR"
      />-->
      <!-- <img
        v-lazy="`${baseUrl}/${mainMenuImage[0].FILE_PATH}`"
        :alt="brandInfo.NAME_KR"
        v-if="mainMenuImage.length > 0"
        class="thumb-img"
      />
      <img
        v-lazy="`${baseUrl}/${mainMenuImage2[0].FILE_PATH}`"
        :alt="brandInfo.NAME_KR"
        v-else-if="mainMenuImage2 && mainMenuImage2.length > 0"
        class="thumb-img"
      />
      <img
        v-lazy="`${baseUrl}/${brandLogoImage[0].FILE_PATH}`"
        :alt="brandInfo.NAME_KR"
        v-else-if="brandLogoImage.length > 0"
        class="thumb-img"
      />-->
      <img
        v-lazy="brandInfo.MAIN_MENU_IMAGE[0].endpoint"
        :alt="brandInfo.NAME_KR"
        v-if="brandInfo.MAIN_MENU_IMAGE && brandInfo.MAIN_MENU_IMAGE.length > 0"
        class="thumb-img"
      />
      <img
        v-lazy="brandInfo.LOGO[0].endpoint"
        :alt="brandInfo.NAME_KR"
        v-else-if="brandInfo.LOGO && brandInfo.LOGO.length > 0"
        class="thumb-img"
      />
      <img
        v-lazy="require('@/assets/images/common/no_img_brand.png')"
        class="thumb-img"
        v-else
      />
    </div>

    <div class="txt-box">
      <h4 class="txt-small txt-bold txt-black" v-if="brandInfo.NAME_KR">
        <Badge
          color="default"
          size="mini"
          :text="brandInfo.FOOD_CATEGORY.NAME_KR"
          v-if="brandInfo.FOOD_CATEGORY.NAME_KR"
        />
        <span>{{ brandInfo.NAME_KR }}</span>
      </h4>
      <p class="txt-mini txt-black" v-if="mainMenus">
        대표메뉴 : {{ mainMenus }}
      </p>
      <p class="txt-tiny mt-1" v-if="brandInfo.DESC">{{ brandInfo.DESC }}</p>
      <p class="brand-additional-info">
        <span class="txt-mini txt-black" v-if="brandInfo.COST_VALUE"
          >창업비용 : {{ brandInfo.COST_VALUE }}</span
        >
        <span class="txt-mini txt-black" v-if="brandInfo.STORE_COUNT_VALUE"
          >매장 수 : {{ brandInfo.STORE_COUNT_VALUE }}</span
        >
        <span class="txt-mini txt-black" v-if="brandInfo.DIFFICULTY_VALUE"
          >조리 난이도 : {{ brandInfo.DIFFICULTY_VALUE }}</span
        >
      </p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    brandModal: Boolean,
    brandInfo: Object,
    menuInfo: Array,
    foodCategory: Object,
  },
  computed: {
    mainMenus() {
      // 메인(대표) 메뉴명 노출
      const tempArr = [];
      let strMenu;
      this.menuInfo.map((item) => {
        if (item.MAIN_YN === 'Y') {
          tempArr.push(item.NAME_KR);
        }
      });
      strMenu = tempArr.join(', ');
      return strMenu;
    },
    mainMenuImage() {
      // 대표 메뉴 이미지
      return this.brandInfo.FILE_MANAGEMENT.filter((item) => {
        return item.TARGET_TABLE === 'MENU';
      }).reverse();
    },
    mainMenuImage2() {
      if (this.brandInfo.MENU_PICS && this.brandInfo.MENU_PICS.length > 0) {
        return this.brandInfo.MENU_PICS.filter((item) => {
          return item.TARGET_TABLE === 'MENU';
        }).reverse();
      }
    },
    brandLogoImage() {
      // 브랜드 로고 이미지
      return this.brandInfo.FILE_MANAGEMENT.filter((item) => {
        return item.TARGET_TABLE === 'BRAND';
      }).reverse();
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl,
    };
  },
};
</script>
<style lang="scss">
.brand-preview {
  border: 1px solid $border-color;
  border-radius: $border-radius-sm;
  background-color: $white;
  overflow: hidden;
  .badge {
    background-color: $white;
    z-index: 2;
  }
  .img-box {
    position: relative;
    padding-bottom: 54.83%;

    img {
      background-color: #f7f7f7;
      border-bottom: 1px solid #f7f7f7;
    }
  }
  .txt-box {
    padding: 1em;
    margin-top: 0;

    .brand-cate {
      position: absolute;
      top: 2em;
      left: 2em;
      .badge {
        line-height: 1;
      }
    }

    h4 {
      line-height: 1;
      margin-bottom: 0.5em;
      > span {
        vertical-align: middle;
      }
    }
  }
  .brand-additional-info {
    span {
      display: inline-block;
      background-color: $light;
      padding: 0.5em;
      line-height: 1;
    }
  }
}
</style>
