<template>
  <div
    class="marquee-slider"
    v-swiper:marquee="marqueeOption"
    v-if="brands.length > 0"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="brand in brands" :key="brand.no">
        <img :src="brand.LOGO[0].endpoint" alt="" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    brands: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      marqueeOption: {
        spaceBetween: 0,
        speed: 2000,
        autoplay: { delay: 0.1 },
        loop: true,
        grabCursor: false,
        followFinger: false,
        slidesPerView: 8,
        allowTouchMove: false,
        disableOnInteraction: false,
        breakpoints: {
          767: {
            slidesPerView: 4,
          },
          1023: {
            slidesPerView: 6,
          },
        },
      },
    };
  },
};
</script>
