<template>
  <div>
    <!-- 배달형 리스트 -->
    <div class="brand-list" v-if="brands.length > 0">
      <div class="row gutter-8">
        <div
          class="col-4 col-lg-3"
          v-for="brand in showingBrands"
          :key="brand.no"
        >
          <div
            class="img-box mk_brand_img_btn lazy-preload"
            @click="showBrandInfo(brand.no)"
          >
            <!-- 추천 뱃지 -->
            <Badge
              size="mini"
              color="red"
              text="인기"
              v-if="brand.isRecommendedYn === 'Y'"
            />
            <!-- // -->
            <img
              v-lazy="brand.logo[0].endpoint"
              :alt="brand.logo[0].originFilename"
              :key="brand.logo[0].key"
              class="thumb-img mk_brand_img_btn"
              v-if="brand.logo && brand.logo.length > 0"
            />
            <img
              v-lazy="require('@/assets/images/common/no_img.png')"
              class="thumb-img mk_brand_img_btn"
              v-else
            />
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <NButton
        color="outline-primary"
        size="medium"
        block
        @click="moreBrandView"
        class="mk_brand_more_btn"
        v-if="brands.length > showingBrandNo"
        >더 보기</NButton
      >
    </div>
  </div>
</template>
<script>
export default {
  props: {
    brands: Array,
  },
  data() {
    return {
      baseUrl: process.env.baseUrl,
      showingBrandNo: 12,
    };
  },
  computed: {
    showingBrands() {
      const tempArr = this.brands.slice(0, this.showingBrandNo);
      return tempArr;
    },
  },
  methods: {
    showBrandInfo(no) {
      this.$emit('click', no);
    },
    moreBrandView() {
      this.showingBrandNo += 12;
    },
  },
};
</script>
<style lang="scss">
.brand-list {
  .img-box {
    position: relative;
    padding-bottom: 54.83%;
    border: 1px solid $border-color;
    cursor: pointer;
    border-radius: 0;

    .badge {
      position: absolute;
      right: -1px;
      top: -1px;
      z-index: 1;
    }

    img {
      background-color: $white;
    }
  }
}
</style>
