<template>
  <div class="nnd-main-brand-list" v-if="brands.length > 0">
    <div class="row gutter-16">
      <div class="col col-4" v-for="brand in brands" :key="brand.NO">
        <img
          v-lazy="brand.LOGO[0].endpoint"
          @click="showBrandInfo(brand.NO)"
          :alt="brand.NAME_KR"
          :class="addClass"
          v-if="brand.LOGO && brand.LOGO.length > 0"
        />
      </div>
    </div>
  </div>
</template>
<script>
// 나누다키친 대표 브랜드
export default {
  props: {
    addClass: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      restaurantBrands: [],
      deliveryBrands: [],
    };
  },
  computed: {
    brands() {
      return this.restaurantBrands.concat(this.deliveryBrands);
    },
  },
  methods: {
    showBrandInfo(no) {
      this.$emit('click', no);
    },
    getNndBrand() {
      this.$axios.$get(`/brand/recommended/spaceType/1`).then((res) => {
        if (res) {
          this.restaurantBrands = res;
          // console.log(this.restaurantBrands);
        }
      });
      this.$axios.$get(`/brand/recommended/spaceType/2`).then((res) => {
        if (res) {
          this.deliveryBrands = res;
          // console.log(this.deliveryBrands);
        }
      });
    },
  },
  created() {
    this.getNndBrand();
  },
};
</script>
<style lang="scss" scoepd>
.nnd-main-brand-list {
  .col {
    img {
      width: 100%;
      cursor: pointer;
      transition: opacity 0.4s ease;
    }

    &:hover {
      img {
        opacity: 0.5;
      }
    }
  }
}
</style>
