<template>
  <div>
    <v-row align="start" justify="space-around">
      <v-col cols="12" lg="6">
        <CardWithTitle title="기본 설정">
          <v-row align="center" justify="space-between">
            <v-col>진행 여부</v-col>
            <v-col class="text-right">
              <ToggleBtn
                :isActivated="isShowing"
                @activate="toggleShow('isShowing')"
                :isLoading="loading.toggleBtn"
              />
            </v-col>
          </v-row>
        </CardWithTitle>
        <CardWithTitle>
          <v-row align="center" justify="space-around">
            <v-col cols="12" sm="6">
              <DatePicker
                title="시작일"
                v-model="startDate"
                @dateChanged="startDate = $event"
              />
            </v-col>
            <v-col cols="12" sm="6">
              <DatePicker
                title="종료일"
                v-model="endDate"
                @dateChanged="endDate = $event"
              />
            </v-col>
          </v-row>
        </CardWithTitle>
        <CardWithTitle v-show="false">
          <v-radio-group
            v-model="selectedPopupType.KEY"
            :mandatory="false"
            :rules="[required]"
          >
            <v-row no-gutters align="center" justify="space-around">
              <v-radio
                v-for="popupType in popupTypes"
                :key="popupType.KEY"
                :label="popupType.VALUE"
                :value="popupType.KEY"
                class="mb-0"
              ></v-radio>
            </v-row>
          </v-radio-group>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="팝업 내용">
          <v-form ref="form" v-model="titleValid">
            <v-text-field
              v-model="popupTitle"
              label="제목"
              :rules="[required, max(popupTitle, 100), min(popupTitle, 2)]"
              autofocus
            ></v-text-field>
          </v-form>
          <div v-if="selectedPopupType.KEY == 'IMAGE'">
            <client-only>
              <AdminFileUpload
                :forAdd="true"
                category="POPUP"
                single
                @syncFiles="updateFormData"
              />
            </client-only>
          </div>
          <div v-else>
            <v-form ref="form" v-model="subTitleValid">
              <v-text-field
                v-model="popupSubTitle"
                label="서브 제목"
                :rules="[max(popupSubTitle, 80), min(popupSubTitle, 2)]"
              ></v-text-field>
            </v-form>
            <v-form ref="form" v-model="contentValid">
              <v-textarea
                label="본문 내용"
                filled
                auto-grow
                class="mt-5"
                :rules="[required]"
                v-model="popupContent"
              ></v-textarea>
            </v-form>
          </div>
          <v-form ref="form" v-model="linkValid">
            <v-row align="center">
              <v-col cols="12" sm="3" class="pb-0 pb-sm-4">
                <v-select
                  label="URL"
                  class="small-input my-0"
                  v-model="selectedLinkType"
                  :items="popupLinkTypes"
                  :rules="[required]"
                  item-text="VALUE"
                  item-value="KEY"
                  color="orange"
                  style="max-width: none;"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="9" class="pt-0 pt-sm-4">
                <v-row align="center" justify="start" no-gutters>
                  <v-col
                    v-if="
                      selectedLinkType == 'INTERNAL' ||
                      selectedLinkType.KEY == 'INTERNAL'
                    "
                    style="flex: 0 0 180px;"
                  >
                    <span class="body-2 text-no-wrap"
                      >https://nanudakitchen.com</span
                    >
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-model="popupLink"
                      label
                      placeholder
                      :rules="[noSpace]"
                      class="pt-0"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-form>
        </CardWithTitle>
      </v-col>
    </v-row>

    <v-row no-gutters justify="end">
      <v-btn color="orange" x-large @click="save" :disabled="!allValid"
        >저장 하기</v-btn
      >
    </v-row>
  </div>
</template>

<script>
import AdminFileUpload from '@/components/Admin/AdminFileUpload';

import { sendingFormData } from '@/assets/mixins/sendingFormData';
import { imageUpload } from '@/assets/mixins/imageUpload';
import { validations } from '@/assets/mixins/validations';
import { showToggleBtn } from '@/assets/mixins/showToggleBtn';
import { changeInfo } from '@/assets/mixins/changeInfo';

export default {
  layout: 'admin',
  components: {
    AdminFileUpload,
  },
  mixins: [
    imageUpload,
    sendingFormData,
    validations,
    showToggleBtn,
    changeInfo,
  ],
  computed: {
    allValid() {
      if (this.selectedPopupType.KEY == 'IMAGE') {
        if (this.titleValid && this.popupImg) {
          return true;
        }
      } else {
        if (this.titleValid && this.contentValid) {
          return true;
        }
      }
    },
  },
  data() {
    return {
      routerUrl: '/popupAdmin',
      titleValid: false,
      subTitleValid: false,
      contentValid: false,
      linkValid: false,
      popupTitle: '',
      popupSubTitle: '',
      popupContent: '',
      popupLink: null,
      popupLinkTypes: [
        { VALUE: '홈페이지', KEY: 'INTERNAL' },
        { VALUE: '외부링크', KEY: 'EXTERNAL' },
      ],
      selectedLinkType: { VALUE: '홈페이지', KEY: 'INTERNAL' },
      popupImg: null,
      startDate: new Date().toJSON().slice(0, 10).replace(/-/g, '-'),
      endDate: new Date().toJSON().slice(0, 10).replace(/-/g, '-'),
      isShowing: 'N',
      isDel: 'N',
      popupTypes: [
        { VALUE: '이미지 팝업', KEY: 'IMAGE' },
        { VALUE: '알림 팝업', KEY: 'NOTIFICATION' },
      ],
      selectedPopupType: { VALUE: '이미지 팝업', KEY: 'IMAGE' },
    };
  },
  methods: {
    updateFormData(files) {
      let arr = [];

      files.POPUP.map((e) => {
        arr.push(e.file);
      });
      this.popupImg = arr;
    },
    save() {
      if (this.popupImg) {
        this.popupImg.map((e) => {
          const blob = new Blob([e]);
          this.appendForm(blob, 'POPUP', e.name);
        });
      }
      this.appendForm(this.popupTitle, 'TITLE');
      this.appendForm(this.popupSubTitle, 'SUB_TITLE');
      this.appendForm(this.popupContent, 'CONTENT');
      this.appendForm(this.popupLink, 'LINK');
      this.appendForm(this.selectedLinkType.KEY, 'LINK_TYPE');
      this.appendForm(this.selectedPopupType.KEY, 'POPUP_TYPE');
      this.appendForm(this.startDate, 'START_DATE');
      this.appendForm(this.endDate, 'END_DATE');
      this.appendForm(this.isShowing, 'SHOW_YN');
      this.appendForm(this.isDel, 'DEL_YN');
      this.$axios.$post('/popupAdmin', this.form).then((res) => {
        this.$router.push('/admin/popup');
      });
    },
  },
  deactivated() {
    this.$destroy();
  },
};
</script>

<style lang="scss">
.v-application {
  .flex-nowrap {
    overflow: auto;
  }
}
</style>
