<template>
  <div>
    <v-row>
      <v-col cols="12" lg="4">
        <CardWithTitle title="창업 계약 사용자">
          <v-row align="center" justify="space-between">
            <v-col cols="12" class="py-0">
              <v-form ref="form" v-model="userValid">
                <UserAutoComplete
                  @changed="changeUser"
                  :disabled="false"
                ></UserAutoComplete>
              </v-form>
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="등록한 공간과 대여 조건">
          <v-form ref="form" v-model="spaceValid">
            <SpaceAutoComplete @changed="changeSpace"></SpaceAutoComplete>
          </v-form>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="선택한 브랜드">
          <v-select
            label="브랜드"
            class="small-input"
            v-model="brand"
            :items="brands"
            item-text="NAME"
            item-value="CODE"
            color="orange"
            style="max-width: none;"
          ></v-select>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" lg="4">
        <CardWithTitle title="창업 계약 STATUS">
          <v-row align="center" justify="space-around">
            <v-col cols="12">
              <ManagerSelect
                @change="changeManager"
                style="max-width: none;"
              ></ManagerSelect>
            </v-col>
            <v-col cols="12">
              <v-select
                label="상태"
                class="small-input"
                v-model="status"
                :items="categorys.CONTRACT"
                item-text="VALUE"
                item-value="KEY"
                color="orange"
                style="max-width: none;"
              ></v-select>
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="계약 기간">
          <v-row align="center" justify="space-around">
            <v-col cols="12">
              <DatePicker
                title="계약 시작일"
                v-model="startDate"
                @dateChanged="startDate = $event"
              />
            </v-col>
            <v-col cols="12">
              <DatePicker
                title="계약 종료일"
                v-model="endDate"
                @dateChanged="endDate = $event"
              />
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="기타">
          <v-textarea filled label="기타" v-model="etc"></v-textarea>
        </CardWithTitle>
      </v-col>
    </v-row>

    <!-- <CardWithTitle title="선택한 상품">
      <v-autocomplete label="상품 검색"></v-autocomplete>
    </CardWithTitle>-->
    <!-- <CardWithTitle title="계약서 사본">
      <AdminFileUpload
        :forAdd="true"
        category="C_CONTRACT"
        @syncFiles="updateFormData"
      />
    </CardWithTitle>-->
    <v-row no-gutters justify="end">
      <v-btn color="orange" x-large @click="save" :disabled="!allValid"
        >저장 하기</v-btn
      >
    </v-row>
  </div>
</template>

<script>
import UserAutoComplete from '@/components/Admin/UserAutoComplete';
import SpaceAutoComplete from '@/components/Admin/SpaceAutoComplete';
import ManagerSelect from '@/components/Admin/ManagerSelect';
import AdminFileUpload from '@/components/Admin/AdminFileUpload';
import { changeManager } from '@/assets/mixins/admin/changeManager';
import { sendingFormData } from '@/assets/mixins/sendingFormData';
import { changeUser } from '@/assets/mixins/admin/changeUser';
import { changeSpace } from '@/assets/mixins/admin/changeSpace';
import { imageUpload } from '@/assets/mixins/imageUpload';

export default {
  layout: 'admin',
  components: {
    UserAutoComplete,
    ManagerSelect,
    SpaceAutoComplete,
    AdminFileUpload,
  },
  mixins: [
    changeManager,
    sendingFormData,
    changeUser,
    imageUpload,
    changeSpace,
  ],

  async asyncData(context) {
    let categorys = await context.$axios.$get('/category', {
      params: { PAGE: 'CHANGUP_CONTRACT' },
    });
    let brands = await context.$axios.$get('/brandAdmin');
    return {
      categorys: categorys,
      brands: brands,
    };
  },
  computed: {
    allValid() {
      if (this.userValid && this.spaceValid) {
        return true;
      } else {
        return false;
      }
    },
  },
  data: () => ({
    status: null,
    brand: null,
    startDate: new Date().toJSON().slice(0, 10).replace(/-/g, '-'),
    endDate: new Date().toJSON().slice(0, 10).replace(/-/g, '-'),
    contractImg: null,
    etc: null,
    userValid: false,
    spaceValid: false,
  }),
  methods: {
    updateFormData(files) {
      let arr = [];

      files.C_CONTRACT.map((e) => {
        arr.push(e.file);
      });
      this.contractImg = arr;
    },
    save() {
      //전송할 폼데이터 객체 생성
      if (this.contractImg) {
        this.contractImg.map((e) => {
          const blob = new Blob([e]);
          this.appendForm(blob, 'C_CONTRACT', e.name);
        });
      }
      this.appendForm(this.userNo, 'NANUDA_USER_NO');
      this.appendForm(this.manager, 'C_CONTRACT_MANAGER');
      this.appendForm(this.brand, 'BRAND_CODE');
      this.appendForm(this.status, 'STATUS');
      this.appendForm(this.startDate, 'C_START_DATE');
      this.appendForm(this.endDate, 'C_END_DATE');
      this.appendForm(this.etc, 'C_CONTRACT_ETC');
      this.appendForm(1, 'PRODUCT_ID');
      this.appendForm(this.spaceNo, 'SPACE_ID');
      this.$axios
        .$post('/changupContractAdmin', this.form)
        .then((response) => {
          this.$router.push('/admin/founder-contracts');
        })
        .catch((error) => {
          console.log('failed', error);
        });
    },
  },
  deactivated() {
    this.$destroy();
  },
};
</script>

<style lang="scss">
.v-application {
  .flex-nowrap {
    overflow: auto;
  }
}
</style>
