<template>
  <main class="main-wrapper" v-if="newSpaces.length > 0">
    <article class="main-article">
      <section class="article-section">
        <header class="section-header txt-center">
          <h3>
            신규 공유주방
          </h3>
        </header>
        <div class="section-content">
          <div class="inner-container">
            <div class="row gutter-16">
              <div class="col col-6">
                <router-link
                  to="/delivery-kitchen/new-arrivals"
                  class="btn btn-medium btn-primary btn-block"
                >
                  신규 공유주방
                </router-link>
              </div>
              <div class="col col-6">
                <router-link
                  to="/delivery-kitchen/best-spaces"
                  class="btn btn-medium btn-outline-primary btn-block"
                >
                  추천 공유주방
                </router-link>
              </div>
            </div>
            <SpaceList :spaces="newSpaces" />
          </div>
        </div>
      </section>
    </article>
  </main>
</template>
<script>
import SpaceList from '@/components/Main/SpaceList';
export default {
  components: {
    SpaceList,
  },
  async asyncData(context) {
    let newSpaces = await context.$axios.$get('/deliverySpace', {
      params: {
        nanudaUserNo: context.store.state.userNum,
        orderByNo: 'DESC',
        take: 20,
      },
    });
    return {
      newSpaces: newSpaces.items,
    };
  },
};
</script>
