<template>
  <div>
    <CardWithTitle title="공간 사진">
      <v-row>
        <v-col cols="12" lg="6">
          <p>건물 외부사진</p>
          <client-only>
            <AdminFileUpload
              category="MAIN_SPACE"
              :forAdd="true"
              @syncFiles="updateFormData"
            ></AdminFileUpload>
          </client-only>
        </v-col>
        <v-col cols="12" lg="6">
          <p>건물 내부사진</p>
          <client-only>
            <AdminFileUpload
              category="I_SPACE"
              :forAdd="true"
              @syncFiles="updateFormData"
            ></AdminFileUpload>
          </client-only>
        </v-col>
      </v-row>
    </CardWithTitle>
    <v-row>
      <v-col cols="12" lg="6">
        <CardWithTitle title="문의사항">
          <v-textarea
            label="문의 사항"
            filled
            auto-grow
            v-model="etc"
          ></v-textarea>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="상권정보">
          <v-select
            label="상권정보 요청상태"
            class="small-input"
            v-model="analysisStatus"
            :items="analysisStatusList"
            item-text="VALUE"
            item-value="KEY"
            color="orange"
          ></v-select>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" lg="6">
        <CardWithTitle title="공간 정보">
          <v-row>
            <v-col cols="12" lg="6">
              <vue-daum-map
                :appKey="appKey"
                :center="coords"
                :level.sync="level"
                :libraries="libraries"
                @load="onLoad"
                style="width: 100%; height: 350px;"
              />
            </v-col>
            <v-col cols="12" lg="6">
              <v-form ref="form" v-model="spaceNameValid">
                <v-text-field
                  label="점포명*"
                  v-model="spaceName"
                  :rules="[required]"
                ></v-text-field>
              </v-form>
              <v-text-field
                label="노출 점포명"
                v-model="showName"
              ></v-text-field>
              <v-form ref="form" v-model="addressValid" clsas="d-none">
                <v-text-field
                  label="주소*"
                  v-model="address"
                  @click="showPostcode = !showPostcode"
                  :rules="[required]"
                  readonly
                ></v-text-field>
              </v-form>
              <v-text-field
                label="상세주소"
                v-model="detailAddress"
                :rules="[required]"
              ></v-text-field>
            </v-col>
          </v-row>

          <VueDaumPostcode
            v-if="showPostcode"
            @complete="setAddress($event, 'address')"
            style="width: 100%; height: 457px; overflow: auto;"
            class="mt-4"
          />
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="공간 게재 정보">
          <v-row justify="space-between" align="center">
            <v-col cols="12" lg="4">
              <ManagerSelect
                @change="changeManager"
                roles="SPACE"
              ></ManagerSelect>
            </v-col>
            <v-col cols="12" lg="4">
              <v-form ref="form" v-model="statusValid">
                <v-select
                  label="상태*"
                  class="small-input"
                  v-model="status"
                  :items="categorys.STATUS"
                  item-text="VALUE"
                  item-value="KEY"
                  color="orange"
                  :rules="[required]"
                ></v-select>
              </v-form>
            </v-col>
          </v-row>
          <v-checkbox
            label="배달가능 여부"
            true-value="Y"
            false-value="N"
            v-model="deliveryYn"
          ></v-checkbox>
          <v-textarea
            label="공간설명"
            filled
            auto-grow
            v-model="spaceInfo"
          ></v-textarea>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" lg="6">
        <CardWithTitle title="공간 상세 정보">
          <v-row justify="space-between">
            <v-col cols="12" lg="2">
              <v-text-field
                label="층수"
                v-model="floor"
                :rules="[int]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" lg="2">
              <v-text-field
                label="매장평수"
                v-model="size"
                :rules="[number]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" lg="2">
              <v-text-field
                label="좌석수"
                v-model="seats"
                :rules="[number]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" lg="2">
              <v-text-field
                label="큰 화구수"
                v-model="bigFire"
                :rules="[number]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" lg="2">
              <v-text-field
                label="작은 화구수"
                v-model="smallFire"
                :rules="[number]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" lg="3">
              <v-checkbox
                :label="'일반사업자'"
                true-value="Y"
                false-value="N"
                v-model="isGeneralRestaurant"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-card-title>공통</v-card-title>
          <v-divider></v-divider>
          <v-row no-gutters justify="start">
            <v-col
              cols="6"
              lg="3"
              v-for="item in commonAmenities"
              :key="item.NO"
            >
              <v-checkbox
                :label="item.AMENITY_NAME"
                :value="item.NO"
                v-model="selectedCommonAmenities"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-col cols="12">
            <v-form ref="form" v-model="spaceTypeValid">
              <v-select
                prepend-icon="mdi-asterisk"
                label="공간유형을 선택해주세요"
                v-model="spaceTypeNo"
                :items="categorys.SPACE_TYPE"
                item-text="NAME"
                item-value="NO"
                color="orange"
                :rules="[required]"
              ></v-select>
            </v-form>
          </v-col>
          <template v-if="spaceTypeNo === 1">
            <v-card-title>식당 공유주방</v-card-title>
            <v-divider></v-divider>
            <v-row no-gutters justify="start">
              <v-col
                cols="6"
                lg="3"
                v-for="item in restaurantAmenities"
                :key="item.NO"
              >
                <v-checkbox
                  :label="item.AMENITY_NAME"
                  :value="item.NO"
                  v-model="selectedRestaurantAmenities"
                ></v-checkbox>
              </v-col>
            </v-row>
          </template>
          <template v-if="spaceTypeNo === 2">
            <v-card-title>배달 공유주방</v-card-title>
            <v-divider></v-divider>
            <v-row no-gutters justify="start">
              <v-col
                cols="6"
                lg="3"
                v-for="item in deliveryAmenities"
                :key="item.NO"
              >
                <v-checkbox
                  :label="item.AMENITY_NAME"
                  :value="item.NO"
                  v-model="selectedDeliveryAmenities"
                ></v-checkbox>
              </v-col>
            </v-row>
            <v-card-subtitle>추가이용 가능공간</v-card-subtitle>
            <v-divider></v-divider>
            <v-row>
              <v-col
                cols="6"
                lg="3"
                v-for="option in deliveryOptions"
                :key="option.NO"
              >
                <v-checkbox
                  :label="option.DELIVERY_SPACE_OPTION_NAME"
                  :value="option.NO"
                  v-model="selectedOptions"
                ></v-checkbox>
              </v-col>
            </v-row>
          </template>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="공간 등록 사용자*">
          <v-radio-group v-model="userType" row>
            <v-radio label="유저 선택" value="user"></v-radio>
            <v-radio label="지점 선택" value="district"></v-radio>
          </v-radio-group>

          <v-row no-gutters>
            <v-col>
              <v-form ref="form" v-model="userValid">
                <UserAutoComplete
                  @changed="changeUser"
                  :userType="userType"
                  disabled
                ></UserAutoComplete> </v-form
            ></v-col>
            <v-divider vertical class="mx-2"></v-divider>
            <v-col>
              <v-form ref="form" v-model="districtValid">
                <DistrictAutoComplete
                  @changed="changeDistrict"
                  :userType="userType"
                ></DistrictAutoComplete
              ></v-form>
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" lg="6">
        <CardWithTitle title="창업브랜드종류">
          <BrandCards
            :brandList="brandList"
            :selectBrand="selectBrand"
            :baseUrl="baseUrl"
            @click="onBrandClicked"
          />
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="임대차 관련 정보">
          <v-row>
            <v-col cols="6" md="4">
              <v-text-field
                label="월임대료"
                v-model="monthlyRent"
              ></v-text-field>
            </v-col>
            <v-col cols="6" md="4">
              <v-text-field
                label="월평균 공과금 + 관리비"
                v-model="monthlyFee"
              ></v-text-field>
            </v-col>
            <v-col cols="6" md="4">
              <v-text-field
                label="대여 희망 금액"
                class="small-input"
                v-model="rentalHopeFee"
              ></v-text-field>
            </v-col>
            <v-col cols="6" md="12">
              <v-menu
                ref="showExpiryDate"
                v-model="showExpiryDate"
                :close-on-content-click="false"
                :return-value.sync="expiryDate"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="expiryDate"
                    label="임대차 계약 완료일"
                    readonly
                    v-on="on"
                    prepend-icon="mdi-calendar"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="expiryDate" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="showExpiryDate = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.showExpiryDate.save(expiryDate)"
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" lg="6">
        <CardWithTitle title="공간 대여 조건">
          <v-row align="center">
            <v-col cols="12" lg="2">
              <p>대여 유형</p>
            </v-col>
            <v-col cols="12" lg="10">
              <v-radio-group v-model="rentalType" :mandatory="false">
                <v-row justify="space-around" align="center">
                  <v-radio
                    v-for="n in categorys.RENTAL_TYPE"
                    :key="n.KEY"
                    :label="n.VALUE"
                    :value="n.KEY"
                  ></v-radio>
                </v-row>
              </v-radio-group>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="12" lg="2">
              <p>대관 일시</p>
            </v-col>
            <v-col cols="12" lg="10">
              <v-radio-group v-model="rentalDateType" :mandatory="false">
                <v-row justify="space-around" align="center">
                  <v-radio
                    v-for="n in categorys.RENTAL_DATE_TYPE"
                    :key="n.KEY"
                    :label="n.VALUE"
                    :value="n.KEY"
                  ></v-radio>
                </v-row>
              </v-radio-group>
            </v-col>
          </v-row>
          <v-textarea
            label="기타 사항"
            filled
            auto-grow
            v-model="rentalEtc"
          ></v-textarea>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="공간 노출 정보">
          <v-row>
            <v-col cols="12" lg="6">
              <v-row no-gutters align="center">
                <v-text-field label="보증금" v-model="deposit"></v-text-field>
                <p>만원</p>
              </v-row>
            </v-col>
            <v-col cols="12" lg="6">
              <v-row no-gutters align="center">
                <v-text-field
                  label="대여 금액"
                  class="small-input"
                  v-model="rentalFee"
                ></v-text-field>
                <p>만원</p>
              </v-row>
            </v-col>
            <v-col cols="12" lg="6">
              <v-checkbox
                label="대여 경험 유"
                true-value="Y"
                false-value="N"
                v-model="isRentalExp"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6">
              <v-menu
                ref="showRentalStartDate"
                v-model="showRentalStartDate"
                :close-on-content-click="false"
                :return-value.sync="rentalStartDate"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="rentalStartDate"
                    label="희망 대여 시작일"
                    readonly
                    v-on="on"
                    prepend-icon="mdi-calendar"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="rentalStartDate" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="showRentalStartDate = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.showRentalStartDate.save(rentalStartDate)"
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" lg="6">
              <v-menu
                ref="showRentalEndDate"
                v-model="showRentalEndDate"
                :close-on-content-click="false"
                :return-value.sync="rentalEndDate"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="rentalEndDate"
                    label="희망 대여 종료일"
                    readonly
                    v-on="on"
                    prepend-icon="mdi-calendar"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="rentalEndDate" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="showRentalEndDate = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.showRentalEndDate.save(rentalEndDate)"
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
          <v-textarea
            label="기타 사항"
            filled
            auto-grow
            class="mt-5"
            v-model="rentalHopeEtc"
          ></v-textarea>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-row no-gutters justify="end">
      <v-btn
        x-large
        @click="save"
        :disabled="!allValid"
        :light="allValid"
        color="orange"
        >등록하기</v-btn
      >
    </v-row>
  </div>
</template>

<script>
import TableWithTitle from '@/components/Admin/TableWithTitle';
import { validations } from '@/assets/mixins/validations';
import AdminFileUpload from '@/components/Admin/AdminFileUpload';
import UserAutoComplete from '@/components/Admin/UserAutoComplete';
import ManagerSelect from '@/components/Admin/ManagerSelect';
import { kakaoAPIs } from '@/assets/mixins/kakaoAPIs';
import { changeManager } from '@/assets/mixins/admin/changeManager';
import { sendingFormData } from '@/assets/mixins/sendingFormData';
import { changeUser } from '@/assets/mixins/admin/changeUser';
import BrandCards from '@/components/Admin/Spaces/BrandCards';
import DistrictAutoComplete from '@/components/Admin/Spaces/DistrictAutoComplete';

export default {
  layout: 'admin',
  mixins: [kakaoAPIs, changeManager, sendingFormData, changeUser, validations],
  components: {
    TableWithTitle,
    AdminFileUpload,
    UserAutoComplete,
    ManagerSelect,
    BrandCards,
    DistrictAutoComplete,
  },
  data() {
    return {
      userValid: false,
      statusValid: false,
      spaceTypeValid: false,
      spaceNameValid: false,
      addressValid: false,
      items: [],
      normal: true,
      headers: [
        {
          text: 'UID',
          value: 'uid',
          sortable: false,
        },
        {
          text: '공간',
          value: 'spaceName',
          sortable: false,
        },
        {
          text: '계약 기간',
          value: 'contractTerm',
          sortable: false,
        },
      ],
      baseUrl: process.env.baseUrl,
      showExpiryDate: false,
      showRentalStartDate: false,
      showRentalEndDate: false,
      userName: null,
      coords: { lat: 37.50454880457217, lng: 127.046550510823 },
      detailAddress: null,
      isShowing: 'N',
      isDel: 'N',
      spaceName: null,
      showName: null,
      isGeneralRestaurant: 'N',
      manager: null,
      status: null,
      floor: null,
      size: null,
      seats: null,
      bigFire: null,
      smallFire: null,
      deposit: null,
      monthlyFee: null,
      monthlyRent: null,
      expiryDate: null,
      etc: null,
      rentalType: null,
      rentalDateType: null,
      rentalEtc: '',
      rentalFee: null,
      rentalHopeFee: null,
      rentalStartDate: null,
      rentalEndDate: null,
      isRentalExp: 'N',
      mainSpaceImg: null,
      insideSpaceImg: null,
      status: null,
      spaceInfo: null,
      spaceTypeNo: null,
      analysisStatus: null,
      deliveryYn: 'N',
      rentalHopeEtc: null,
      selectBrand: [],
      userType: null,
      selectedDistrictNo: null,
      districtValid: false,
      selectedOptions: [],
      selectedCommonAmenities: [],
      selectedRestaurantAmenities: [],
      selectedDeliveryAmenities: [],
    };
  },
  async asyncData(context) {
    let brandList = await context.$axios.$get('/brandAdmin');
    let deliveryOptions = await context.$axios.$get(
      '/deliverySpaceOptionAdmin',
    );
    let categorys = await context.$axios.$get('/category', {
      params: { PAGE: 'SPACE' },
    });
    let commonAmenities = await context.$axios.$get('/amenityAdmin/spaceType');
    let restaurantAmenities = await context.$axios.$get(
      '/amenityAdmin/spaceType/1',
    );
    let deliveryAmenities = await context.$axios.$get(
      '/amenityAdmin/spaceType/2',
    );
    return {
      commonAmenities: commonAmenities,
      restaurantAmenities: restaurantAmenities,
      deliveryAmenities: deliveryAmenities,
      brandList: brandList.rows,
      categorys: categorys,
      deliveryOptions: deliveryOptions,
    };
  },
  deactivated() {
    this.$destroy();
  },
  computed: {
    analysisStatusList() {
      //이미지의 카테고리가 INSIDE면 insideImages에 넣음
      let tempList = this.categorys.ANALYSIS_STATUS;
      const idx = tempList.findIndex(function (item) {
        return item.KEY === 'ANALYSIS_FIN';
      }); // 상권 완료 상태는 제거
      if (idx > -1) tempList.splice(idx, 1);
      return tempList;
    },
    allValid() {
      if (
        (this.userValid || this.districtValid) &&
        this.statusValid &&
        this.spaceTypeValid &&
        this.spaceNameValid &&
        this.addressValid
      ) {
        return true;
      } else {
        return false;
      }
    },
    selectedAmenities() {
      let tempArr = this.selectedCommonAmenities.concat(
        this.selectedRestaurantAmenities,
        this.selectedDeliveryAmenities,
      );
      return tempArr;
    },
  },
  watch: {
    //사용자 타입이 바꾸면 유저no와 districtNo를 초기화함
    userType() {
      this.userNo = null;
      this.selectedDistrictNo = null;
    },
    //공간유형을 변경하면 선택된 식당공유, 배달공유 옵션들을 초기화함
    spaceTypeNo() {
      this.selectedRestaurantAmenities = [];
      this.selectedDeliveryAmenities = [];
    },
  },
  methods: {
    changeDistrict(no) {
      this.selectedDistrictNo = no;
    },
    onBrandClicked(brandNo) {
      if (this.selectBrand.includes(brandNo)) {
        const index = this.selectBrand.findIndex((e) => brandNo == e);
        this.selectBrand.splice(index, 1);
      } else {
        this.selectBrand.push(brandNo);
      }
    },
    updateFormData(files) {
      let arr = [];
      if (Object.keys(files) == 'MAIN_SPACE') {
        files.MAIN_SPACE.map((e) => {
          arr.push(e.file);
        });
        this.mainSpaceImg = arr;
      } else {
        files.I_SPACE.map((e) => {
          arr.push(e.file);
        });
        this.insideSpaceImg = arr;
      }
    },
    save() {
      //전송할 폼데이터 객체 생성
      //메인이미지가 있다면 MAIN_SPACE를 필드 값으로 이미지 숫자만큼 폼데이터를 생성함
      if (this.mainSpaceImg) {
        this.mainSpaceImg.map((e) => {
          const blob = new Blob([e]);
          this.appendForm(blob, 'MAIN_SPACE', e.name);
        });
      }
      //내부이미지가 있다면 I_SPACE를 필드 값으로 이미지 숫자만큼 폼데이터를 생성함
      if (this.insideSpaceImg) {
        this.insideSpaceImg.map((e) => {
          const blob = new Blob([e]);
          this.appendForm(blob, 'I_SPACE', e.name);
        });
      }
      if (this.userType === 'user') {
        this.appendForm(this.userNo, 'NANUDA_USER_NO');
      } else {
        this.appendForm(this.selectedDistrictNo, 'COMPANY_DISTRICT_NO');
      }
      //어메니티 배열의 길이만큼 폼데이터를 생성함
      this.selectedAmenities.map((e) => {
        this.appendForm(e, 'AMENITY');
      });
      this.appendForm(this.coords.lat, 'LAT');
      this.appendForm(this.coords.lng, 'LON');
      this.appendForm(this.addrCode, 'ADDR_CODE');
      this.appendForm(this.detailAddress, 'DETAIL_ADDRESS');
      this.appendForm(this.addrEng, 'ADDR_ENG');
      this.appendForm(this.addrJibun, 'ADDR_JIBUN');
      this.appendForm(this.isShowing, 'SHOW_YN');
      this.appendForm(this.isDel, 'DEL_YN');
      this.appendForm(this.manager, 'MANAGER');
      this.appendForm(this.status, 'STATUS');
      this.appendForm(this.spaceName, 'NAME');
      this.appendForm(this.showName, 'SHOW_NAME');
      this.appendForm(this.isGeneralRestaurant, 'GEN_RES_YN');
      this.appendForm(this.floor, 'FLOOR');
      this.appendForm(this.size, 'SIZE');
      this.appendForm(this.seats, 'SEAT');
      this.appendForm(this.bigFire, 'B_FIREBALL');
      this.appendForm(this.smallFire, 'S_FIREBALL');
      this.appendForm(this.deposit, 'DEPOSIT');
      this.appendForm(this.monthlyFee, 'MONTHLY_FEE');
      this.appendForm(this.monthlyRent, 'MONTHLY_RENT');
      this.appendForm(this.expiryDate, 'EXPIRY_DATE');
      this.appendForm(this.etc, 'ETC');
      this.appendForm(this.rentalType, 'RENTAL_TYPE');
      this.appendForm(this.rentalDateType, 'RENTAL_DATE_TYPE');
      this.appendForm(this.rentalEtc, 'RENTAL_CONTENT');
      this.appendForm(this.rentalHopeFee, 'RENTAL_HOPE_FEE');
      this.appendForm(this.rentalFee, 'RENTAL_FEE');
      this.appendForm(this.rentalStartDate, 'RENTAL_START_DATE');
      this.appendForm(this.rentalEndDate, 'RENTAL_END_DATE');
      this.appendForm(this.isRentalExp, 'RENTAL_EXP_YN');
      this.appendForm(this.zonecode, 'ZONECODE');
      this.appendForm(this.address, 'ADDRESS');
      this.appendForm(this.addressEnglish, 'ADDRESS_ENGLISH');
      this.appendForm(this.addressType, 'ADDRESS_TYPE');
      this.appendForm(this.bcode, 'BCODE');
      this.appendForm(this.bname, 'BNAME');
      this.appendForm(this.bname1, 'BNAME1');
      this.appendForm(this.bname2, 'BNAME2');
      this.appendForm(this.sido, 'SIDO');
      this.appendForm(this.sigungu, 'SIGUNGU');
      this.appendForm(this.sigunguCode, 'SIGUNGU_CODE');
      this.appendForm(this.userLanguageType, 'USER_LANGUAGE_TYPE');
      this.appendForm(this.query, 'QUERY');
      this.appendForm(this.buildingName, 'BUILDING_NAME');
      this.appendForm(this.buildingCode, 'BUILDING_CODE');
      this.appendForm(this.apartment, 'APARTMENT');
      this.appendForm(this.jibunAddress, 'JIBUN_ADDRESS');
      this.appendForm(this.jibunAddressEnglish, 'JIBUN_ADDRESS_ENGLISH');
      this.appendForm(this.roadAddress, 'ROAD_ADDRESS');
      this.appendForm(this.roadAddressEnglish, 'ROAD_ADDRESS_ENGLISH');
      this.appendForm(this.autoRoadAddress, 'AUTOROAD_ADDRESS');
      this.appendForm(this.autoRoadAddressEnglish, 'AUTO_ROAD_ADDRESS_ENGLISH');
      this.appendForm(this.autoJibunAddress, 'AUTOJIBUN_ADDRESS');
      this.appendForm(
        this.autoJibunAddressEnglish,
        'AUTOJIBUN_ADDRESS_ENGLISH',
      );
      this.appendForm(this.userSelectedType, 'USER_SELECTED_TYPE');
      this.appendForm(this.noSelected, 'NO_SELECTED');
      this.appendForm(this.hname, 'HNAME');
      this.appendForm(this.roadnameCode, 'ROADNAME_CODE');
      this.appendForm(this.roadname, 'ROADNAME');
      // 추가 필드
      this.appendForm(this.deliveryYn, 'DELIVERY_YN'); // 배달 가능
      this.appendForm(this.spaceTypeNo, 'SPACE_TYPE_NO'); // 공간유형
      this.appendForm(this.spaceInfo, 'SPACE_INFO'); // 공간 정보 내용
      this.appendForm(this.analysisStatus, 'ANALYSIS_STATUS'); // 상권 진행 상태
      this.appendForm(null, 'DELIVERY_SPACE_OPTION');
      // 선택한 브랜드 NO 리스트
      if (this.selectBrand) {
        this.selectBrand.map((e) => {
          this.appendForm(e, 'BRAND_LIST');
        });
      }
      //선택한 추가 옵션 ex)홀, 테라스
      if (this.selectedOptions) {
        this.selectedOptions.map((e) => {
          this.appendForm(e, 'DELIVERY_SPACE_OPTION');
        });
      }
      this.appendForm(this.rentalHopeEtc, 'RENTAL_HOPE_ETC');
      this.$axios
        .$post('/spaceAdmin', this.form)
        .then((response) => {
          this.$router.push('/admin/spaces');
        })
        .catch((error) => {
          console.log('failed', error);
        });
    },
  },
};
</script>

<style lang="scss" scoped></style>
