<template>
  <!-- 식당형 공간 상담신청  -->
  <MypagePreview v-if="spaceType === '1'">
    <template v-slot:info>
      <div class="mb-2">
        <Badge color="darkorange" size="mini" text="식당형" />
        <span class="txt-mini ml-2" v-if="founderConsult.SPACE.NO"
          >공간번호 {{ founderConsult.SPACE.NO }}</span
        >
      </div>
      <div>
        <p class="txt-black txt-small txt-bold">
          <nuxt-link
            :to="`/restaurant-kitchen/${founderConsult.SPACE.NO}`"
            v-if="founderConsult.STATUS !== 'F_FIN_CONTRACT'"
            >{{ founderConsult.SPACE.SHOW_NAME }}</nuxt-link
          >
          <span v-else>{{ founderConsult.SPACE.SHOW_NAME }}</span>
        </p>
        <p
          class="txt-black txt-tiny txt-semi"
          v-if="founderConsult.SPACE.ADDRESS"
        >
          {{ founderConsult.SPACE.ADDRESS }}
        </p>
      </div>
      <div class="mt-3">
        <p class="txt-mini" v-if="founderConsult.createdAt">
          상담신청일 :
          {{ $moment(founderConsult.createdAt).format('YYYY.MM.DD') }}
        </p>
      </div>
    </template>
    <template v-slot:status>
      <Badge
        color="yellow"
        size="tiny"
        text="신규등록"
        v-if="founderConsult.STATUS === 'F_NEW_REG'"
      />
      <Badge
        color="orange"
        size="tiny"
        text="상담진행중"
        v-else-if="founderConsult.STATUS === 'F_PROCEEDING'"
      />
      <Badge
        color="cyan"
        size="tiny"
        text="재연락요청"
        v-else-if="founderConsult.STATUS === 'F_RECONTACT_REQUEST'"
      />
      <Badge
        color="teal"
        size="tiny"
        text="투어진행중"
        v-else-if="founderConsult.STATUS === 'F_PROCEEDING_TOUR'"
      />
      <Badge
        color="pink"
        size="tiny"
        text="추가투어"
        v-else-if="founderConsult.STATUS === 'F_ADD_TOUR'"
      />
      <Badge
        color="indigo"
        size="tiny"
        text="미팅대기"
        v-else-if="founderConsult.STATUS === 'F_CONTACT_READY'"
      />
      <Badge
        color="red"
        size="tiny"
        text="미팅취소"
        v-else-if="founderConsult.STATUS === 'F_CONTACT_CANCEL'"
      />
      <Badge
        color="green"
        size="tiny"
        text="미팅완료"
        v-else-if="founderConsult.STATUS === 'F_MEETING_FIN'"
      />
      <Badge
        color="aqua"
        size="tiny"
        text="계약대기"
        v-else-if="founderConsult.STATUS === 'F_WATING_CONTRACT'"
      />
      <Badge
        color="green"
        size="tiny"
        text="계약완료"
        v-else-if="founderConsult.STATUS === 'F_FIN_CONTRACT'"
      />
      <Badge
        color="purple"
        size="tiny"
        text="드랍"
        v-else-if="founderConsult.STATUS === 'F_DROP'"
      />
      <Badge
        color="red"
        size="tiny"
        text="연락불가"
        v-else-if="founderConsult.STATUS === 'F_CANNOT_CONTACT'"
      />
    </template>
  </MypagePreview>
  <!-- 배달형 공간 상담신청  -->
  <MypagePreview v-else>
    <template v-slot:info>
      <div class="mb-2">
        <Badge color="lightblue" size="mini" text="배달형" />
        <span class="txt-mini ml-2" v-if="deliveryFounderConsult.no"
          >공간번호 {{ deliveryFounderConsult.no }}</span
        >
      </div>
      <div>
        <p
          class="txt-black txt-small txt-bold"
          v-if="deliveryFounderConsult.deliverySpace.typeName"
        >
          <nuxt-link
            :to="`/delivery-kitchen/${deliveryFounderConsult.no}`"
            v-if="
              deliveryFounderConsult.companyDecisionStatus !==
              'B2B_F_CONTRACT_COMPLETE'
            "
            >{{ deliveryFounderConsult.deliverySpace.typeName }}</nuxt-link
          >
          <span v-else>{{
            deliveryFounderConsult.deliverySpace.typeName
          }}</span>
        </p>
        <p
          class="txt-black txt-tiny txt-semi"
          v-if="deliveryFounderConsult.deliverySpace.companyDistrict"
        >
          {{ deliveryFounderConsult.deliverySpace.companyDistrict.address }}
        </p>
      </div>
      <div class="mt-3">
        <p class="txt-mini" v-if="deliveryFounderConsult.createdAt">
          상담신청일 :
          {{ $moment(deliveryFounderConsult.createdAt).format('YYYY.MM.DD') }}
        </p>
      </div>
    </template>
    <template v-slot:status>
      <Badge
        color="yellow"
        size="tiny"
        text="신규등록"
        v-if="deliveryFounderConsult.companyDecisionStatus === 'B2B_F_NEW_REG'"
      />
      <Badge
        color="orange"
        size="tiny"
        text="상담진행중"
        v-else-if="
          deliveryFounderConsult.companyDecisionStatus === 'B2B_F_IN_PROGRESS'
        "
      />
      <Badge
        color="aqua"
        size="tiny"
        text="상담취소"
        v-else-if="
          deliveryFounderConsult.companyDecisionStatus === 'B2B_F_CANCELLED'
        "
      />
      <Badge
        color="green"
        size="tiny"
        text="계약완료"
        v-else-if="
          deliveryFounderConsult.companyDecisionStatus ===
          'B2B_F_CONTRACT_COMPLETE'
        "
      />
    </template>
  </MypagePreview>
</template>
<script>
import MypagePreview from '@/components/Mypage/MypagePreview';
export default {
  props: ['founderConsult', 'deliveryFounderConsult', 'spaceType'],
  components: {
    MypagePreview,
  },
};
</script>
<style lang="scss" scoped>
.notice-box {
  background-color: #f9f9fb;
  padding: 1em;
  border-radius: $border-radius-sm;
  color: $secondary;
  .icon {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: $txt-medium;
  }
  p {
    position: relative;
    padding-left: 2em;
    font-size: $txt-tiny;
  }
}
</style>
