<template>
  <div>
    <FormGroup class="mb-4 txt-center">
      <div>
        <div class="row gutter-8">
          <div class="col col-6">
            <Radio
              id="spaceType1"
              name="spacetype"
              label="식당형"
              class="type-button txt-tiny w-100p"
              @click="spaceType = '1'"
              :checked="spaceType === '1'"
            ></Radio>
          </div>
          <div class="col col-6">
            <Radio
              id="spaceType2"
              name="spacetype"
              label="배달형"
              class="type-button txt-tiny w-100p"
              @click="spaceType = '2'"
              :checked="spaceType === '2'"
            ></Radio>
          </div>
        </div>
      </div>
    </FormGroup>
    <MypageList>
      <MypageTitle title="공간 상담신청내역" />

      <template v-if="spaceType === '1' && myFounderConsult.length > 0">
        <MyMeetingPreview
          spaceType="1"
          v-for="founderConsult in myFounderConsult"
          :key="founderConsult.NO"
          :founderConsult="founderConsult"
        ></MyMeetingPreview>
      </template>
      <template v-if="spaceType === '2' && myDeliveryFounderConsult.length > 0">
        <MyMeetingPreview
          spaceType="2"
          v-for="deliveryFounderConsult in myDeliveryFounderConsult"
          :key="deliveryFounderConsult.no"
          :deliveryFounderConsult="deliveryFounderConsult"
        ></MyMeetingPreview>
      </template>
    </MypageList>

    <MypageList v-if="plans.length > 0">
      <MypageTitle title="상품 상담신청내역" />
      <MyPlanPreview
        v-for="plan in plans"
        :key="plan.NO"
        :meetingDate="plan.CONFIRM_DATE"
        :createdAt="plan.createdAt"
        name="NND 공유주방"
        :status="plan.STATUS"
      ></MyPlanPreview>
    </MypageList>
  </div>
</template>
<script>
import MypageTitle from '@/components/Mypage/MypageTitle';
import MypageList from '@/components/Mypage/MypageList';
import MyMeetingPreview from '@/components/Mypage/Meeting/MyMeetingPreview';
import MyPlanPreview from '@/components/Mypage/Meeting/MyPlanPreview';

export default {
  props: ['myFounderConsult', 'myDeliveryFounderConsult', 'plans'],
  components: {
    MypageList,
    MyMeetingPreview,
    MyPlanPreview,
    MypageTitle,
  },
  data() {
    return {
      spaceType: '1',
    };
  },
};
</script>
