<template>
  <MypagePreview>
    <template v-slot:info>
      <!-- 브랜드 구분  -->
      <div class="mb-2">
        <!-- <Badge
          color="yellow"
          size="mini"
          text="NND BRAND"
          v-if="type !== 'CUSTOM'"
        />
        <Badge color="green" size="mini" text="MY BRAND" v-else /> -->
        <Badge color="yellow" size="mini" :text="name" />
      </div>
      <!-- // -->
      <div>
        <p class="txt-black txt-small txt-bold">창업 상담신청</p>
      </div>
      <div class="mt-3">
        <p class="txt-mini" v-if="meetingDate">
          방문상담일 : {{ $moment(meetingDate).format('YYYY.MM.DD') }}
        </p>
        <p class="txt-mini">
          신청일 : {{ $moment(createdAt).format('YYYY.MM.DD') }}
        </p>
      </div>
      <!-- // -->
    </template>
    <template v-slot:status>
      <!-- 상태 표시 구분 -->
      <Badge
        color="yellow"
        size="tiny"
        text="신규등록"
        v-if="status === 'P_NEW_REG'"
      />
      <Badge
        color="orange"
        size="tiny"
        text="상담진행중"
        v-else-if="status === 'P_PROCEEDING'"
      />
      <Badge
        color="orange"
        size="tiny"
        text="상담완료"
        v-else-if="status === 'P_CONTACT_FIN'"
      />
      <Badge
        color="cyan"
        size="tiny"
        text="재연락요청"
        v-else-if="status === 'P_RECONTACT_REQUEST'"
      />
      <Badge
        color="teal"
        size="tiny"
        text="투어진행중"
        v-else-if="status === 'P_PROCEEDING_TOUR'"
      />
      <Badge
        color="pink"
        size="tiny"
        text="추가투어"
        v-else-if="status === 'P_ADD_TOUR'"
      />
      <Badge
        color="indigo"
        size="tiny"
        text="미팅대기"
        v-else-if="status === 'P_CONTACT_READY'"
      />
      <Badge
        color="red"
        size="tiny"
        text="미팅취소"
        v-else-if="status === 'P_CONTACT_CANCEL'"
      />
      <Badge
        color="green"
        size="tiny"
        text="미팅완료"
        v-else-if="status === 'P_MEETING_FIN'"
      />
      <Badge
        color="aqua"
        size="tiny"
        text="계약대기"
        v-else-if="status === 'P_WATING_CONTRACT'"
      />
      <Badge
        color="purple"
        size="tiny"
        text="드랍"
        v-else-if="status === 'P_DROP'"
      />
      <Badge
        color="red"
        size="tiny"
        text="연락불가"
        v-else-if="status === 'P_CANNOT_CONTACT'"
      />
      <!-- // -->
    </template>
  </MypagePreview>
</template>
<script>
import MypagePreview from '@/components/Mypage/MypagePreview';
export default {
  props: [
    'spaceID',
    'name',
    'address',
    'uploadDate',
    'type',
    'status',
    'brand',
    'meetingDate',
    'createdAt',
  ],
  components: {
    MypagePreview,
  },
};
</script>
