<template>
  <div>
    <v-row>
      <v-col cols="12" lg="4">
        <CardWithTitle title="방문 상담 신청 사용자 설정*">
          <v-form ref="form" v-model="userValid">
            <UserAutoComplete
              @changed="changeUser"
              class="small-input"
            ></UserAutoComplete>
          </v-form>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="방문 상담 공간 선택*">
          <v-form ref="form" v-model="spaceValid">
            <SpaceAutoComplete @changed="changeSpace"></SpaceAutoComplete>
          </v-form>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="방문 상담 상세정보">
          <v-row align="center" justify="space-around">
            <v-checkbox label="창업 경험 있음" v-model="exp_yn"></v-checkbox>
          </v-row>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" lg="4">
        <CardWithTitle title="방문 날짜 정보">
          <v-row align="center" justify="space-around">
            <v-col cols="12">
              <DatePicker
                title="희망 방문 일자 선택"
                v-model="hopeDate"
                @dateChanged="hopeDate = $event"
              />
            </v-col>
            <v-col cols="12">
              <DatePicker
                title="확정 방문 일자 선택"
                v-model="hopeDate"
                @dateChanged="confirmDate = $event"
              />
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="상담 시간 선택">
          <v-radio-group v-model="selectedHopeTime" :mandatory="false">
            <v-row no-gutters align="start" justify="start">
              <v-radio
                :key="hopeTime.CODE"
                :label="hopeTime.NAME"
                :value="hopeTime.CODE"
                v-for="hopeTime in hopeTimes"
                class="mr-4 mb-4"
              ></v-radio>
            </v-row>
          </v-radio-group>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="4">
        <CardWithTitle title="담당자 및 상담 상태">
          <v-row align="center" justify="space-around">
            <v-col cols="12">
              <ManagerSelect
                @change="changeManager"
                style="max-width: none;"
                roles="CONSULT"
              ></ManagerSelect>
            </v-col>
            <v-col cols="12">
              <v-form ref="form" v-model="statusValid">
                <v-select
                  label="상태*"
                  class="small-input"
                  v-model="status"
                  :items="categorys.STATUS"
                  item-text="VALUE"
                  item-value="KEY"
                  color="orange"
                  :rules="[required]"
                  :error-messages="errorMessage"
                  style="max-width: none;"
                ></v-select>
              </v-form>
            </v-col>
          </v-row>
        </CardWithTitle>
      </v-col>
    </v-row>
    <CardWithTitle title="기타">
      <v-textarea filled label="기타" v-model="etc"></v-textarea>
    </CardWithTitle>
    <v-row no-gutters justify="end">
      <v-btn
        x-large
        color="orange"
        @click="save"
        :disabled="!allValid"
        :light="allValid"
        >저장하기</v-btn
      >
    </v-row>
  </div>
</template>

<script>
import UserAutoComplete from '@/components/Admin/UserAutoComplete';
import SpaceAutoComplete from '@/components/Admin/SpaceAutoComplete';
import ManagerSelect from '@/components/Admin/ManagerSelect';
import { changeManager } from '@/assets/mixins/admin/changeManager';
import { changeUser } from '@/assets/mixins/admin/changeUser';
import { changeSpace } from '@/assets/mixins/admin/changeSpace';
import { validations } from '@/assets/mixins/validations';

export default {
  layout: 'admin',
  components: {
    UserAutoComplete,
    ManagerSelect,
    SpaceAutoComplete,
  },
  mixins: [changeManager, changeUser, changeSpace, validations],
  data() {
    return {
      status: null,
      hopeDate: new Date().toJSON().slice(0, 10).replace(/-/g, '-'),
      confirmDate: new Date().toJSON().slice(0, 10).replace(/-/g, '-'),
      etc: null,
      selectedBrand: null,
      exp_yn: true,
      hopeTimes: [
        { NAME: '10:00 ~ 12: 00', CODE: '1012' },
        { NAME: '14:00 ~ 16: 00', CODE: '1416' },
        { NAME: '16:00 ~ 18: 00', CODE: '1618' },
        { NAME: '아무때나', CODE: 'ALL_DAY' },
      ],
      selectedHopeTime: null,
      errorMessage: '',
      userValid: false,
      statusValid: false,
      spaceValid: false,
    };
  },
  async asyncData(context) {
    let categorys = await context.$axios.$get('/category', {
      params: {
        PAGE: 'FOUNDER_CONSULT',
      },
    });
    return {
      categorys: categorys,
    };
  },
  methods: {
    save() {
      this.$axios
        .$post('/visitConAdmin', {
          NANUDA_USER_NO: this.userNo,
          STATUS: this.status,
          SPACE_ID: this.spaceNo,
          S_CONSULT_MANAGER: this.manager,
          PRODUCT_ID: 1,
          HOPE_DATE: this.hopeDate,
          HOPE_TIME: this.selectedHopeTime,
          CONFIRM_DATE: this.confirmDate,
          S_CONSULT_ETC: this.etc,
          CHANGUP_EXP_YN: this.exp_yn ? 'Y' : 'N',
        })
        .then((response) => {
          this.$router.push('/admin/space-meetings');
        })
        .catch((error) => {
          console.log('failed', error);
        });
    },
  },
  computed: {
    allValid() {
      if (this.userValid && this.statusValid && this.spaceValid) {
        return true;
      } else {
        return false;
      }
    },
  },
  deactivated() {
    this.$destroy();
  },
};
</script>

<style lang="scss">
.v-application {
  .flex-nowrap {
    overflow: auto;
  }
}
</style>
