<template>
  <div class="space-preview" @click="toDetailSpace">
    <div class="space-preview-img lazy-preload">
      <img v-lazy="images[0].endpoint" loading="lazy" alt v-if="images" />
      <img
        v-lazy="require('@/assets/images/common/no_img.png')"
        loading="lazy"
        alt
        v-else
      />
    </div>
    <div class="space-preview-body">
      <!-- <span class="space-preview-cate">
          <Badge
            color="darkorange"
            size="mini"
            text="식당형"
            v-if="type === 1"
          />
          <Badge color="lightblue" size="mini" text="배달형" v-else />
        </span> -->
      <h4 class="space-preview-title">{{ desc }}</h4>
      <p class="space-preview-address">
        {{ region1DepthName }} {{ region2DepthName }} {{ region3DepthName }}
      </p>
      <!-- 임대료 / 평수 추가 내용 -->
      <div class="mt-2">
        <SpacePriceArea
          :deposit="deposit"
          :rentalfee="rentalfee"
          :pyeong="size"
        ></SpacePriceArea>
      </div>
      <!-- -->
    </div>
  </div>
</template>

<script>
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
export default {
  props: {
    desc: String,
    no: Number,
    images: Array,
    rentalfee: [String, Number], // 임대료
    size: [String, Number], // 평수
    type: Number,
    region1DepthName: String,
    region2DepthName: String,
    region3DepthName: String,
    deposit: [String, Number],
  },
  name: 'DeliverySpacePreview',
  components: {
    SpacePriceArea,
  },
  methods: {
    toDetailSpace(value) {
      this.$router.push('/delivery-kitchen/' + this.no);
    },
  },
};
</script>
