<template>
  <div class="newspace-list">
    <div v-swiper:newspace="newspaceOption" class="px-4 px-lg-0">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          v-for="newSpace in newSpaces"
          :key="newSpace.no"
        >
          <NewDeliverySpacePreview
            :space="newSpace"
            :typeName="newSpace.typeName"
            :images="newSpace.images"
            :title="newSpace.typeName"
            :companyDistrict="newSpace.companyDistrict"
            :bname="newSpace.buildingName"
            :no="newSpace.no"
            :rentalfee="newSpace.monthlyRentFee"
            :deposit="newSpace.deposit"
            :pyeong="newSpace.size"
            :addClass2="addClass2"
          ></NewDeliverySpacePreview>
        </div>

        <!-- <div class="swiper-slide more-slide" v-if="!hideBtnMore || newSpaces.length > 5">
          <div class="inner-box">
            <div class="txt-center">
              <NButton
                size="medium"
                color="white"
                circle
                icon
                class="border"
                :class="addClass"
                @click="moreView()"
              >
                <div class="txt-mini">
                  <i class="icon icon-arrow-angle-right txt-bold txt-gray" :class="addClass"></i>
                </div>
              </NButton>
              <div class="txt-box mt-2">
                <span @click="moreView()" class="d-block txt-tiny txt-gray" :class="addClass">더보기</span>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="d-none d-md-block mt-8 txt-center">
        <NButton
          color="outline-gray"
          size="tiny"
          icon
          circle
          class="swiper-button-prev"
        >
          <i class="icon icon-arrow-angle-left txt-bold"></i>
          <span class="is-blind">이전으로</span>
        </NButton>
        <NButton
          color="outline-gray"
          size="tiny"
          icon
          circle
          class="swiper-button-next"
        >
          <i class="icon icon-arrow-angle-right txt-bold"></i>
          <span class="is-blind">다음으로</span>
        </NButton>
      </div>
    </div>
  </div>
</template>
<script>
import NewDeliverySpacePreview from '@/components/Deliverykitchen/NewDeliverySpacePreview';
export default {
  name: 'NewDeliverySpaceList',
  props: {
    newSpaces: {
      type: Array,
      default: () => [],
    },
    addClass: {
      type: String,
      default: '',
    },
    addClass2: {
      type: String,
      default: '',
    },
    hideBtnMore: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    NewDeliverySpacePreview,
  },
  data() {
    return {
      newspaceOption: {
        loop: false,
        slidesPerView: 2,
        centeredSlides: false,
        freeMode: true,
        spaceBetween: 16,
        grabCursor: true,
        lazy: {
          loadPrevNext: true,
          preloaderClass: 'lazy-loader',
        },
        fadeEffect: {
          crossFade: true,
        },
        preloadImages: true,
        pagination: false,
        navigation: {
          nextEl: '.newspace-list .swiper-button-next ',
          prevEl: '.newspace-list .swiper-button-prev',
          hideOnClick: false,
          disabledClass: 'swiper-button-disabled',
          hiddenClass: 'swiper-button-hidden',
        },
        breakpoints: {
          1023: {
            slidesPerView: 'auto',
          },
        },
      },
    };
  },
  methods: {
    moreView() {
      this.$emit('click');
    },
  },
};
</script>
<style lang="scss">
.newspace-list {
  .swiper-container {
    .swiper-slide {
      min-width: 200px;
      width: 56%;
      &.more-slide {
        width: 25%;
        padding-top: 30%;
        .inner-box {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .swiper-button-prev {
      position: static;
      left: 0;
    }
    .swiper-button-next {
      position: static;
      right: 0;
    }
  }

  @media screen and (min-width: 576px) {
    .swiper-slide {
      // width: 43%;
    }
  }
}
</style>
