<template>
  <div class="space-preview">
    <div @click="$router.push(`/delivery-kitchen/${no}`)">
      <div class="space-preview-img lazy-preload">
        <img
          v-lazy="imageSrc"
          loading="lazy"
          :class="addClass2"
          alt
          v-if="mainImage"
        />
        <img
          v-lazy="require('@/assets/images/common/no_img.png')"
          loading="lazy"
          :class="addClass2"
          alt
          v-else
        />
      </div>
      <div class="space-preview-body" :class="addClass2">
        <div class="row-box">
          <h4 class="space-preview-title">
            {{ space.companyDistrict.company.nameKr }}
            {{ space.companyDistrict.nameKr }} {{ pyeong }}평
          </h4>
          <p class="space-preview-address">
            {{ companyDistrict.region1DepthName }}
            {{ companyDistrict.region2DepthName }}
            {{ companyDistrict.region3DepthName }}
          </p>
        </div>
        <div class="row-box mt-2" v-if="rentalfee || pyeong">
          <SpacePriceArea
            :deposit="deposit"
            :rentalfee="rentalfee"
            :pyeong="pyeong"
          ></SpacePriceArea>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
export default {
  name: 'NewDeliverySpacePreview',
  props: [
    'space',
    'typeName',
    'title',
    'companyDistrict',
    'bname',
    'images',
    'no',
    'addClass2',
    'rentalfee',
    'pyeong',
    'deposit',
  ],
  components: {
    SpacePriceArea,
  },
  data() {
    return {
      baseUrl: process.env.baseUrl,
    };
  },
  computed: {
    mainImage() {
      let mainImage = null;
      if (this.images) {
        mainImage = this.images.find((e) => (e.MAIN_YN = 'Y'));
      }

      return mainImage;
    },
    imageSrc() {
      // 이미지 경로
      return this.mainImage.endpoint;
    },
  },
};
</script>

<style lang="scss">
.newspace-preview {
  display: flex;
  position: relative;
  padding: 0.5em 0.25em;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  margin-top: -0.5em;

  .newspace-preview-img {
    position: relative;
    padding-bottom: 60%;
    border-radius: 0;
    overflow: hidden;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .newspace-preview-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1em 0 0;
    color: $gray-500;
    text-align: left;

    .newspace-preview-cate {
      position: absolute;
      top: 1em;
      left: 1.75em;
      display: block;
      font-size: $txt-mini;
      color: $gray;
      line-height: 1;
    }

    .newspace-preview-title {
      color: $black;
      font-size: $txt-tiny;
      font-weight: $txt-bold;

      + .newspace-preview-text {
        margin-top: 0.625em;
      }
    }

    .newspace-preview-address {
      font-size: $txt-mini;
      color: $black;
      margin-top: 0.25em;
    }

    .space-price-area {
      .txt-large {
        font-size: 1.8rem;
      }
    }
  }
}
</style>
