<template>
  <div class="newspace-wrapper" v-if="newSpaces.length > 0">
    <div class="title-box inner-container">
      <!-- <h5
        class="txt-small txt-black txt-bold d-inline-block"
        :class="addClass"
        @click="moreSpaceView(spaceType)"
      >
        <span :class="addClass">{{ title }}</span>
        <i class="icon icon-arrow-angle-right txt-bold ml-1" :class="addClass"></i>
      </h5>-->
      <!-- <span class="d-block mt-1 txt-mini txt-gray">(금액 단위 : 만원)</span> -->
    </div>
    <div class="row-box">
      <NewDeliverySpaceList
        :newSpaces="newSpaces"
        :addClass="addClass"
        :addClass2="addClass2"
        @click="$router.push('/delivery-kitchen/search')"
      />
    </div>
  </div>
</template>
<script>
// 배달형 공간 리스트 슬라이더
import NewDeliverySpaceList from '@/components/DeliveryKitchen/NewDeliverySpaceList';
import { common } from '@/assets/mixins/homepage/common';
export default {
  mixins: [common],
  props: {
    title: String,
    newSpaces: Array,
    addClass: String,
    addClass2: String,
    hideBtnMore: Boolean,
  },
  components: {
    NewDeliverySpaceList,
  },
};
</script>
