<template>
  <div v-if="show" class="search-full-layer">
    <!-- <EmptyHeader title="지점 검색" hideTitle class="d-md-none">
        <template v-slot:leftArea>
          <PrevButton @click="onCancelBtnClicked()" />
        </template>
      </EmptyHeader> -->
    <div class="search-box-wrapper">
      <div class="search-box">
        <!-- <div @click="onCancelBtnClicked"><v-icon>mdi-cancel</v-icon></div> -->
        <div class="search-input-box">
          <div class="search-input-area">
            <input
              type="text"
              ref="searchInput"
              name="search_keyword"
              placeholder="원하시는 시,구,동을 입력해주세요"
              class="input-field"
              v-stream:keyup="change$"
              @keyup.enter="onSearchBtnClicked()"
              @keyup.down="onKeyDown()"
              @keyup.up="onKeyUp()"
              autocomplete="off"
            />
            <div class="loader" v-show="keywordLoading">
              <img
                src="@/assets/svg/common/loader.svg"
                alt="로딩중"
                style="width: 1em;"
              />
            </div>
            <button
              type="button"
              class="btn-reset"
              v-show="searchKeyword.length > 0"
              @click="resetKeyword()"
            >
              검색 초기화
            </button>
          </div>
          <NButton
            color="whtie"
            size="tiny"
            class="btn-search"
            icon
            @click="onSearchBtnClicked()"
          >
            <i class="icon icon-search"></i>
            <span>검색하기</span>
          </NButton>
        </div>
        <div class="search-result-layer" v-if="searchKeyword.length > 0">
          <div class="search-result-list" v-if="results.length > 0">
            <ul>
              <li
                class="search-result-list-item"
                :class="{ selected: selectedArr[index] }"
                v-for="(item, index) in results"
                :key="index"
              >
                <div
                  class="district-info"
                  @click="onDropdownClicked(item.name)"
                >
                  <!-- 지점명 -->
                  <div class="district-name">{{ item.name }}</div>
                </div>
              </li>
            </ul>
          </div>
          <!-- 검색 결과 없을 때 -->
          <div
            class="no-data"
            v-else-if="results.length === 0 && keywordLoading === false"
          >
            <span class="txt-red">
              <i class="icon icon-info-guide txt-small mr-1"></i>
              <span>검색 결과가 없습니다. 두 글자 이상 입력해주세요</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { searchDelivery } from '@/assets/mixins/delivery/searchDelivery.js';
export default {
  mixins: [searchDelivery],
  props: { show: Boolean },
  methods: {
    onCancelBtnClicked() {
      this.$emit('canceled');
      this.results = [];
      this.searchKeyword = '';
    },
    goToMap(value) {
      return this.$axios
        .$get('/companyDistrict/getCenter', {
          params: { keyword: value },
        })
        .then((res) => {
          this.onCancelBtnClicked();
          let coords = {
            lat: res.lat,
            lng: res.lon,
          };
          this.resetKeyword();
          this.$emit('centerChanged', { coords: coords, searchKeyword: value });
          this.$router
            .replace({
              query: { searchKeyword: value },
            })
            .catch((err) => {});
        });
    },
  },
};
</script>
<style lang="scss">
.search-full-layer {
  .search-box {
    .search-input-box {
      height: 3em;
      align-items: center;
      .search-input-area {
        background: none;
        padding: 0 1em;
        align-items: center;
      }
      .btn-search {
        width: 5em;
        height: 100%;
      }
    }
  }
  .main-article {
    margin: 0 !important;
  }
}
@media screen and (min-width: 1024px) {
  .search-full-layer {
    right: auto;
  }
}
</style>
