<template>
  <div class="search-box">
    <div class="search-input-box">
      <div class="search-input-area">
        <input
          type="text"
          ref="searchInput"
          name="search_keyword"
          placeholder="원하시는 시,구,동을 입력해주세요"
          class="input-field"
          v-stream:keyup="change$"
          @keyup.enter="onSearchBtnClicked()"
          @keyup.down="onKeyDown()"
          @keyup.up="onKeyUp()"
          autocomplete="off"
          :class="addClass"
        />
        <div class="loader" v-show="keywordLoading">
          <img
            src="@/assets/svg/common/loader.svg"
            alt="로딩중"
            style="width: 1em;"
          />
        </div>
        <button
          type="button"
          class="btn-reset"
          v-show="searchKeyword.length > 0"
          @click="resetKeyword()"
        >
          검색 초기화
        </button>
      </div>
      <NButton
        color="black"
        size="small"
        class="btn-search"
        :class="addClass2"
        @click="onSearchBtnClicked()"
        >찾아보기</NButton
      >
    </div>
    <div class="search-result-layer" v-if="searchKeyword.length > 0">
      <div class="search-result-list" v-if="results.length > 0">
        <ul>
          <li
            class="search-result-list-item"
            :class="{ selected: selectedArr[index] }"
            v-for="(item, index) in results"
            :key="index"
          >
            <div class="district-info" @click="onDropdownClicked(item.name)">
              <!-- 지점명 -->
              <div class="district-name">{{ item.name }}</div>
            </div>
          </li>
        </ul>
      </div>
      <!-- 검색 결과 없을 때 -->
      <div
        class="no-data"
        v-else-if="results.length === 0 && keywordLoading === false"
      >
        <span class="txt-red">
          <i class="icon icon-info-guide txt-small mr-1"></i>
          <span>검색 결과가 없습니다.</span>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
import { searchDelivery } from '@/assets/mixins/delivery/searchDelivery.js';
import { Subject } from 'rxjs';
import { map, debounceTime, distinctUntilChanged } from 'rxjs/operators';
export default {
  name: 'SearchDeliverySpace',
  mixins: [searchDelivery],
  props: ['addClass', 'addClass2'],
  // subscriptions() {
  //   this.change$ = new Subject();
  //   return {
  //     //입력한 후 0.5초가 지나야 input이 바뀜
  //     input: this.change$.pipe(
  //       debounceTime(500),
  //       distinctUntilChanged(),
  //       map((event) => (this.searchKeyword = event.event.target.value)),
  //     ),
  //   };
  // },
};
</script>
