<template>
  <div class="search-full-layer">
    <!-- <EmptyHeader title="지점 검색" hideTitle class="d-md-none">
        <template v-slot:leftArea>
          <PrevButton @click="onCancelBtnClicked()" />
        </template>
      </EmptyHeader> -->
    <div class="search-box-wrapper">
      <div class="search-box">
        <!-- <div @click="onCancelBtnClicked"><v-icon>mdi-cancel</v-icon></div> -->
        <div class="search-input-box">
          <div class="search-input-area">
            <input
              type="text"
              ref="searchInput"
              name="search_keyword"
              :value="searchKeyword"
              placeholder="원하시는 시,구,동을 입력해주세요"
              class="input-field"
              v-stream:keyup="change$"
              autocomplete="off"
              @click="onInputClicked"
            />
            <div class="loader" v-show="keywordLoading">
              <img
                src="@/assets/svg/common/loader.svg"
                alt="로딩중"
                style="width: 1em;"
              />
            </div>
            <!-- <button
              type="button"
              class="btn-reset"
              v-show="searchKeyword.length > 0"
              @click="resetKeyword()"
            >
              검색 초기화
            </button> -->
          </div>
          <NButton color="whtie" size="small" class="btn-search" icon>
            <i class="icon icon-search"></i>
            <span>검색하기</span>
          </NButton>
        </div>
        <div class="search-result-layer" v-if="searchKeyword.length > 0">
          <div class="search-result-list" v-if="results.length > 0">
            <ul>
              <li
                class="search-result-list-item"
                :class="{ selected: selectedArr[index] }"
                v-for="(item, index) in results"
                :key="index"
              >
                <div
                  class="district-info"
                  @click="onDropdownClicked(item.name)"
                >
                  <!-- 지점명 -->
                  <div class="district-name">{{ item.name }}</div>
                </div>
              </li>
            </ul>
          </div>
          <!-- 검색 결과 없을 때 -->
          <div
            class="no-data"
            v-else-if="
              results.length === 0 &&
              keywordLoading === false &&
              !isKeywordSelected
            "
          >
            <span class="txt-red">
              <i class="icon icon-info-guide txt-small mr-1"></i>
              <span>검색 결과가 없습니다. 두 글자 이상 입력해주세요</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Subject } from 'rxjs';
import { map, debounceTime, distinctUntilChanged } from 'rxjs/operators';
export default {
  data() {
    return {
      results: [],
      selectedArr: [],
      keywordLoading: false,
    };
  },
  props: {
    dropDownEndpoint: String,
    mapRoute: String,
    searchKeyword: String,
    isKeywordSelected: Boolean,
  },
  subscriptions() {
    this.change$ = new Subject();
    return {
      //입력한 후 0.5초가 지나야 input이 바뀜
      input: this.change$.pipe(
        debounceTime(500),
        distinctUntilChanged(),
        map((event) => this.$emit('inputChanged', event.event.target.value)),
      ),
    };
  },
  watch: {
    searchKeyword() {
      if (this.searchKeyword && !this.isKeywordSelected) {
        this.results = [];
        this.selectedArr = [];
        this.keywordLoading = true;
        return this.$axios
          .$get(this.dropDownEndpoint, {
            params: { keyword: this.searchKeyword },
          })
          .then((res) => {
            this.keywordLoading = false;
            //어레이를 합치고 selected property를 넣음
            let tempArr = res.topResults;
            let results = tempArr.concat(res.secondResults);

            this.results = results;
          });
      }
    },
  },
  methods: {
    onInputClicked() {
      this.$emit('inputClicked');
    },
    // onCancelBtnClicked() {
    //   this.$emit('canceled');
    //   this.results = [];
    //   this.searchKeyword = '';
    // },
    onDropdownClicked(value) {
      console.log('value', value);
      // this.searchKeyword = value;
      this.results = [];
      this.$emit('dropdownClicked', value);
    },
  },
};
</script>
<style lang="scss">
.search-full-layer {
  .search-box {
    .search-input-box {
      height: 3em;
      align-items: center;
      .search-input-area {
        background: none;
        padding: 0 1em;
        align-items: center;
      }
      .btn-search {
        width: 5em;
        height: 100%;
      }
    }
  }
  .main-article {
    margin: 0 !important;
  }
}
@media screen and (min-width: 1024px) {
  .search-full-layer {
    right: auto;
  }
}
</style>
