<template>
  <div class="article-list">
    <div class="row gutter-16">
      <div
        class="col-12 col-lg-6"
        v-for="article in articles"
        :key="article.no"
      >
        <ArticlePreview :article="article" />
      </div>
    </div>
  </div>
</template>
<script>
import ArticlePreview from '@/components/Articles/ArticlePrievew';
export default {
  name: 'ArticleList',
  props: {
    aboutUsYn: { type: Boolean, default: false }, // about us articles
    take: { type: Number | String, default: null },
  },
  components: {
    ArticlePreview,
  },
  data() {
    return {
      articles: [],
      swiperOption: {
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: false,
        freeMode: true,
        spaceBetween: 20,
        grabCursor: true,
        lazy: {
          loadPrevNext: true,
          preloaderClass: 'lazy-loader',
        },
        fadeEffect: {
          crossFade: true,
        },
        preloadImages: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
    };
  },
  methods: {
    getArticles() {
      this.$axios
        .get('/article', {
          params: {
            take: this.take,
          },
        })
        .then((res) => {
          if (res) {
            this.articles = res.data.items;
          }
        });
    },
  },
  created() {
    this.getArticles();
  },
};
</script>
<style lang="scss"></style>
