<template>
  <div class="article-list">
    <div class="article-slider" v-swiper:article="articleOption">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          v-for="article in computedArticles"
          :key="article.no"
        >
          <ArticlePreview :article="article" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ArticlePreview from '@/components/Articles/ArticlePrievew';
export default {
  name: 'ArticleList',
  props: {
    aboutUsYn: { type: Boolean, default: false }, // about us articles
    take: { type: Number, default: null },
  },
  components: {
    ArticlePreview,
  },
  computed: {
    computedArticles() {
      let articles = this.articles;

      let mainArticles = this.articles.filter((item) => {
        if (item.aboutUsYn === 'N') {
          return true;
        }
      });

      let aboutArticles = this.articles.filter((item) => {
        if (item.aboutUsYn === 'Y') {
          return true;
        }
      });

      if (this.aboutUsYn) {
        // 어바웃 어스 아티클
        return articles;
      } else {
        // 메인 아티클
        return mainArticles;
      }
    },
  },
  data() {
    return {
      articles: [],
      articleOption: {
        loop: false,
        slidesPerView: 3,
        centeredSlides: false,
        freeMode: false,
        spaceBetween: 10,
        grabCursor: false,
        followFinger: false,
        preloadImages: true,
        navigation: false,
        pagination: false,
        breakpoints: {
          1023: {
            slidesPerView: 2,
            freeMode: true,
            centeredSlides: false,
            followFinger: true,
            grabCursor: true,
          },
          767: {
            slidesPerView: 'auto',
            freeMode: true,
            followFinger: true,
            grabCursor: true,
          },
        },
      },
    };
  },
  methods: {
    getArticles() {
      this.$axios
        .get('/article', {
          params: {
            take: this.take,
          },
        })
        .then((res) => {
          if (res) {
            this.articles = res.data.items;
          }
        });
    },
  },
  created() {
    this.getArticles();
  },
};
</script>
<style lang="scss">
.article-list {
  margin-left: -4px;
  .swiper-wrapper {
    padding-top: 4px;
    padding-left: 4px;
  }

  .swiper-slide {
    width: 56%;
    display: flex;
    height: auto;
  }
}
</style>
