<template>
  <div class="article-preview">
    <a :href="article.url" target="_blank" class="mk_main_news_btn">
      <!-- <div class="img-box">
        <img
          v-lazy="article.image[0].endpoint"
          :alt="article.title"
          class="thumb-img"
          v-if="article.image && article.image.length>0"
        />font-weight
        <img v-lazy="require('@/assets/images/common/no_img_brand.png')" class="thumb-img" v-else />
      </div>-->
      <div class="txt-box">
        <span class="date">{{
          $moment(article.createdAt).format('YYYY.MM.DD')
        }}</span>
        <h4>{{ article.title }}</h4>
        <Badge size="mini" color="black" :text="article.mediaName" square />
      </div>
    </a>
  </div>
</template>
<script>
export default {
  name: 'ArticlePreview',
  props: {
    article: Object,
  },
};
</script>
<style lang="scss" scoped>
.article-preview {
  border: 1px solid $border-color;
  border-radius: 0;
  background-color: #f7f7f7;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  &:hover {
    border-color: $black;
    transform: translate3d(-4px, -4px, 0);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  }

  .img-box {
    position: relative;
    padding-bottom: 60%;
  }
  .txt-box {
    margin: 0;
    padding: 1em;
    h4 {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: $txt-tiny;
      color: $black;
      font-weight: $txt-bold;
      margin: 0.5em 0;
    }
    p {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: $txt-mini;
      margin-top: 0.5em;
    }

    .date {
      display: block;
      font-size: $txt-mini;
      color: $gray-700;
      margin-bottom: 0.5em;
    }
  }
}
</style>
