<template>
  <main id="deliveryKitchenJeju" class="main-wrapper">
    <header class="main-header is-blind">
      <h1>제주도 배달형 공유주방</h1>
    </header>
    <article>
      <header class="article-header">
        <div class="inner-container">
          <div class="title-box">
            <p class="txt-large txt-black">
              <strong class="txt-bold">제주도 핵심상권</strong>에서
              <br />
              <strong class="txt-bold">소자본창업</strong>을 하고 싶다면
            </p>
            <h2 class="title">
              나누다키친
              <br />배달형 공유주방!
            </h2>
            <span class="sub-title">첫 입주창업자 대상 창업지원금 지원!</span>
          </div>
        </div>
      </header>
      <div class="article-content">
        <section
          class="article-section section-feature"
          id="sectionFeature01"
          ref="articleContent"
        >
          <header class="section-header">
            <span class="num">01</span>
            <h3>
              <strong>낮은 월 이용료로</strong>
              <br />나만의 배달형 공유주방을!
            </h3>
          </header>
          <div class="section-content">
            <div class="img-box">
              <img src="@/assets/svg/delivery-kitchen_jeju/feature_01_1.svg" />
            </div>
            <div class="is-blind">
              <table>
                <thead>
                  <tr>
                    <th scope="row">비교</th>
                    <th scope="row">나누다키친 배달형 공유주방</th>
                    <th scope="row">일반 배달형 공유주방</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">보증금</th>
                    <td>1,000만 원대 미만</td>
                    <td>1,100만 원대 이상</td>
                  </tr>
                  <tr>
                    <th scope="row">임대&amp;관리비</th>
                    <td>150만 원대</td>
                    <td>150 ~ 250만 원대</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="txt-box mt-2">
              <p>
                <strong class="txt-bold">제주도</strong>에서
                <strong class="txt-bold">소자본</strong>으로
                <br />
                <strong class="txt-bold">나만의 매장을 운영</strong>하세요!
              </p>
            </div>
          </div>
        </section>
        <section class="article-section section-feature" id="sectionFeature02">
          <div class="inner-container">
            <header class="section-header">
              <span class="num">02</span>
              <h3><strong>배달형 공유주방</strong>이 뭐예요?</h3>
            </header>
            <div class="section-content">
              <div class="card-box">
                <div class="row-box mt-6">
                  <div class="icon-box">
                    <img
                      src="@/assets/svg/delivery-kitchen_jeju/feature_02_icon_01.svg"
                      alt
                    />
                  </div>
                  <div class="txt-box">
                    <p>
                      한 공간을 여러 개로 나눠
                      <br />
                      <strong class="txt-bold">
                        각 공간마다 외식업 창업이
                        <br />가능한 주방으로 변경!
                      </strong>
                    </p>
                  </div>
                </div>
                <div class="row-box mt-5">
                  <div class="icon-box">
                    <img
                      src="@/assets/svg/delivery-kitchen_jeju/feature_02_icon_02.svg"
                      alt
                    />
                  </div>
                  <div class="txt-box">
                    <p>
                      주방 공간을 대여하여
                      <br />
                      <strong class="txt-bold">나만의 메뉴</strong> 또는
                      <br />
                      <strong class="txt-bold">원하는 브랜드로 창업</strong>
                      가능!
                    </p>
                  </div>
                </div>
                <div class="row-box mt-5">
                  <div class="icon-box">
                    <img
                      src="@/assets/svg/delivery-kitchen_jeju/feature_02_icon_03.svg"
                      alt
                    />
                  </div>
                  <div class="txt-box">
                    <p>
                      <strong class="txt-bold">배달 전용으로 운영</strong>되며,
                      <br />
                      <strong class="txt-bold txt-primary">
                        추가 인건비 없이
                        <br />1인으로 운영 가능!
                      </strong>
                    </p>
                  </div>
                </div>
              </div>
              <div class="graph-box mt-10">
                <div class="title-box">
                  <h4 class="txt-bold txt-big txt-black">
                    배달 시장 규모
                    <br />
                    <strong class="txt-huge txt-bolder txt-primary">
                      <span class="txt-massive">20</span>조!
                    </strong>
                  </h4>
                </div>
                <div class="img-box mt-8">
                  <div class="inner-container">
                    <img
                      src="@/assets/svg/delivery-kitchen_jeju/feature_02_graph.svg"
                      alt
                    />
                    <div class="caption txt-right mt-4">
                      <p class="txt-mini txt-gray-500">* 단위 : 만원</p>
                    </div>
                  </div>
                </div>
                <div class="txt-box mt-6">
                  <p>
                    배달형 공유주방 대표 브랜드
                    <br />
                    <strong class="txt-bold">
                      <span class="txt-primary">나누다키친</span>과 함께
                      시작하세요!
                    </strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="article-section section-feature bg-light"
          id="sectionFeature03"
        >
          <div>
            <header class="section-header">
              <span class="num">03</span>
              <h3>
                <span class="d-block mb-1">왜 배달형 공유주방을</span>
                <strong>
                  나누다키친에서
                  <br />창업해야하나요?
                </strong>
              </h3>
            </header>
            <div class="section-content">
              <div>
                <div class="swiper-slider" v-swiper:swiper="swiperOption">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="title-box">
                        <h4>
                          <strong class="label">하나</strong>
                          <span>초기 창업비용 지원</span>
                        </h4>
                      </div>
                      <div class="img-box">
                        <img
                          src="@/assets/images/delivery-kitchen_jeju/feature_03_1.png"
                          alt
                        />
                      </div>
                      <div class="txt-box">
                        <p>
                          첫 입주창업자 대상
                          <br />
                          <strong class="txt-bold">창업지원금 지원!</strong>
                        </p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="title-box">
                        <h4>
                          <strong class="label">둘</strong>
                          <span>낮은 초기비용</span>
                        </h4>
                      </div>
                      <div class="img-box">
                        <img
                          src="@/assets/images/delivery-kitchen_jeju/feature_03_2.png"
                          alt
                        />
                      </div>
                      <div class="txt-box">
                        <p>
                          일반 외식업 창업 비용대비
                          <br />
                          <strong class="txt-bold"
                            >최대 80%까지 비용 감축 가능!</strong
                          >
                        </p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="title-box">
                        <h4>
                          <strong class="label">셋</strong>
                          <span>A급 배달 상권</span>
                        </h4>
                      </div>
                      <div class="img-box">
                        <img
                          src="@/assets/images/delivery-kitchen_jeju/feature_03_3.png"
                          alt
                        />
                      </div>
                      <div class="txt-box">
                        <p>
                          배달 상권이 활성화된
                          <br />
                          <strong class="txt-bold"
                            >이도2동에서 창업 가능!</strong
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- 페이징 -->
                  <div class="swiper-pagination"></div>
                  <!-- 네비게이션 버튼  -->
                  <div class="d-lg-none">
                    <NButton
                      bg-color="rgba(0,0,0,.25)"
                      icon
                      circle
                      class="swiper-button-prev"
                    >
                      <i class="icon icon-arrow-angle-left txt-bold"></i>
                      <span class="is-blind">이전으로</span>
                    </NButton>
                    <NButton
                      bg-color="rgba(0,0,0,.25)"
                      icon
                      circle
                      class="swiper-button-next"
                    >
                      <i class="icon icon-arrow-angle-right txt-bold"></i>
                      <span class="is-blind">다음으로</span>
                    </NButton>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="article-section section-feature" id="sectionFeature04">
          <div class="inner-container">
            <header class="section-header">
              <span class="num">04</span>
              <h3>
                <span class="d-block mb-1">나누다키친</span>
                <strong>
                  배달형 공유주방
                  <br />신청 안내
                </strong>
              </h3>
            </header>
            <div class="section-content">
              <div class="info-box">
                <!-- <div class="row-box">
                  <h4>
                    <span class="label">모집 일자</span>
                  </h4>
                  <p>2020.08.19 ~ 2020.09.16</p>
                </div> -->
                <div class="row-box">
                  <h4>
                    <span class="label">모집 인원</span>
                  </h4>
                  <p>O명</p>
                </div>
                <div class="row-box">
                  <h4>
                    <span class="label">창업 특전</span>
                  </h4>
                  <p>
                    첫 입주창업자 대상
                    <strong class="txt-primary">창업지원금 지원!</strong>
                  </p>
                </div>
              </div>
              <div class="txt-box mt-8">
                <p>
                  <strong class="txt-bold"
                    >제주도 이도2동에서 창업을 희망하신다면</strong
                  >
                  <br />연락처를 남겨주세요.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section
          class="article-section bg-light mx-0"
          id="registerForm"
          ref="registerForm"
        >
          <div class="inner-container">
            <div class="bg-white rounded-lg px-4 py-6 border border-gray">
              <header class="section-header mb-8">
                <div class="title-box">
                  <h3>창업 상담 신청</h3>
                </div>
              </header>
              <div class="section-content">
                <div>
                  <div class="form-wrapper">
                    <FormGroup>
                      <FormLabel for="name">이름</FormLabel>
                      <FormControl>
                        <InputGroup>
                          <InputField
                            ref="name"
                            type="text"
                            id="name"
                            placeholder="홍길동"
                            addClass="mk_typeform_name_btn"
                            v-model="$v.name.$model"
                          />
                        </InputGroup>
                      </FormControl>
                    </FormGroup>
                    <FormGroup>
                      <FormLabel for="cellPhone">휴대폰번호</FormLabel>
                      <FormControl>
                        <InputGroup>
                          <InputField
                            type="tel"
                            placeholder="-없이 입력해주세요"
                            id="cellPhone"
                            addClass="mk_typeform_phone_btn"
                            v-model="$v.phone.$model"
                          />
                        </InputGroup>
                      </FormControl>
                    </FormGroup>
                    <FormGroup class="mt-6">
                      <FormLabel>음식점 창업 경험</FormLabel>
                      <FormRow>
                        <div class="row no-gutters">
                          <div class="col-4">
                            <div class="radio">
                              <input
                                type="radio"
                                name="is_exp"
                                id="isExpY"
                                v-model="$v.changupExpYn.$model"
                                value="예"
                                class="mk_typeform_experience_btn"
                              />
                              <label
                                for="isExpY"
                                class="label-txt mk_typeform_experience_btn"
                              >
                                <span>예</span>
                              </label>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="radio">
                              <input
                                type="radio"
                                name="is_exp"
                                id="isExpN"
                                value="아니오"
                                v-model="$v.changupExpYn.$model"
                                class="mk_typeform_experience_btn"
                              />
                              <label
                                for="isExpN"
                                class="label-txt mk_typeform_experience_btn"
                              >
                                <span>아니오</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </FormRow>
                    </FormGroup>
                    <FormGroup
                      class="mt-6"
                      v-show="$v.changupExpYn.$model === '예'"
                    >
                      <FormLabel>창업 업종</FormLabel>
                      <div class="select">
                        <select
                          name="foodCategory"
                          id="foodCategory"
                          class="form-control mk_typeform_storetype_btn"
                          v-model="$v.foodCategoryType.$model"
                        >
                          <option value disabled selected>선택안함</option>
                          <option value="식당">식당</option>
                          <option value="카페">카페</option>
                          <option value="주점">주점</option>
                          <option value="공유주방">공유주방</option>
                          <option value="기타">기타</option>
                        </select>
                      </div>
                    </FormGroup>
                  </div>
                  <div class="agree-box d-flex justify-content-between">
                    <CheckBox
                      label="개인정보취급방침에 동의합니다"
                      id="informedConsent"
                      class="txt-small"
                      @click="isInformedConsent"
                      :checked="isInformedConsentChecked"
                      addClass="mk_re2_law_btn"
                    />
                    <Button
                      @click="showInformedConsent = true"
                      class="btn-text btn-tiny btn-underline"
                      >약관보기</Button
                    >
                  </div>
                  <div class="btn-box txt-center mt-6">
                    <NButton
                      color="secondary"
                      size="medium"
                      block
                      class="mk_typeform_com_btn"
                      @click="send()"
                      :disabled="$v.$invalid || !isInformedConsentChecked"
                      >신청하기</NButton
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </article>
    <!-- 상담신청-->
    <AppRequestBox :isScrolled="isScrolled" v-show="false">
      <template v-slot:infoArea>
        <div class="txt-box">
          <p class="txt-tiny txt-black">
            제주도 핵심상권에서 배달형 공유주방을 희망하신다면 나누다키친과
            함께하세요!
          </p>
        </div>
      </template>
      <template v-slot:btnArea>
        <NButton
          color="primary"
          size="small"
          rounded
          class="mk_typeform_com_btn"
          v-scroll-to="{ el: '#registerForm', offset: -60 }"
          >상담신청</NButton
        >
      </template>
    </AppRequestBox>
    <!-- 개인정보취급방침 모달 -->
    <CustomModal
      :visible="showInformedConsent"
      headerType="default"
      id="InformedConsent"
      title="개인정보취급 이용약관"
      noBtn="닫기"
      @close="showInformedConsent = false"
    >
      <PrivacyRestaurant />
    </CustomModal>
    <!-- // -->
  </main>
</template>
<script>
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤 이베트
import { registerForm } from '@/assets/mixins/homepage/registerForm';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';
export default {
  mixins: [infoAppRequest, handleScroll, registerForm],
  data() {
    return {
      swiperOption: {
        loop: true,
        slidesPerView: 3,
        centeredSlides: true,
        freeMode: false,
        spaceBetween: 48,
        grabCursor: true,
        followFinger: false,
        allowTouchMove: false,
        navigation: {
          nextEl: '.swiper-button-next ',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          1023: {
            loop: false,
            slidesPerView: 1,
            centeredSlides: true,
            followFinger: true,
            allowTouchMove: true,
          },
        },
      },
    };
  },
  methods: {
    send() {
      // 전송 메소드
      return this.$axios
        .$post('/product/delivery-kitchen-jeju', {
          PHONE: this.$v.phone.$model,
          NAME: this.$v.name.$model,
          CHANGUPEXPYN: this.$v.changupExpYn.$model,
          FOOD_CATEGORY_TYPE: this.$v.foodCategoryType.$model,
        })
        .then((res) => {
          this.$router.push('/plans/complete');
        })
        .catch((e) => console.log(e));
    },
    appVisitFixed() {
      const target = this.$refs.articleContent;
      const form = this.$refs.registerForm;

      if (target) {
        let rect =
          target.getBoundingClientRect().top + this.currentScroll ||
          target.offsetTop;
        let formRect = form.getBoundingClientRect().top + this.currentScroll;

        if (
          this.currentScroll > rect &&
          this.currentScroll < formRect - window.outerHeight
        ) {
          this.isScrolled = true;
        } else {
          this.isScrolled = false;
        }
      }
    },
    scrollFunc() {
      // 스크롤 이벤트
      this.appVisitFixed();
    },
  },
  validations: {
    name: {
      required,
    },
    phone: {
      required,
    },
    changupExpYn: {
      required,
    },
    foodCategoryType: {},
    city: {},
  },
};
</script>
<style lang="scss">
$jeju: #16bf00;
#header.transparent {
  background: transparent !important;
}
#deliveryKitchenJeju {
  img {
    width: 100%;
  }
  .article-header {
    position: relative;
    padding: 5em 0 10em;
    background: url('~assets/images/delivery-kitchen_jeju/bg_top_visual.jpg')
      no-repeat center bottom;
    background-size: cover;

    &:after {
      display: none;
      content: '';
      width: 100%;
      height: 1em;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.125em;
      background: url('~assets/svg/delivery-kitchen_jeju/top_visual_line.svg')
        repeat-x center center;
      background-size: contain;
      z-index: 1;
    }

    .title-box {
      position: relative;
      z-index: 2;
      text-align: center;
      color: $white;

      h2 {
        font-size: $txt-huge;
        font-weight: $txt-bolder;
        text-shadow: 0px 0px 10px rgba(32, 100, 187, 1);
        margin: 0.5em 0 0.625em;
        letter-spacing: -0.025em;
      }

      .sub-title {
        display: inline-block;
        border-radius: $border-radius-lg;
        background-color: $primary;
        padding: 0.625em 1em 0.5em;
        font-size: $txt-medium;
        font-weight: $txt-bolder;
      }
    }
  }
  .article-section {
    position: relative;
    text-align: center;
    padding: 3.25em 1.25em;

    + .article-section {
      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 1.25em;
        right: 1.25em;
        border-top: 1px solid $border-color;
      }
    }

    .img-box {
      img {
        max-width: 32em;
      }
    }

    .section-header {
      margin-bottom: 2em;

      h3 {
        color: $black;
        font-weight: $txt-bold;
        font-size: $txt-medium;

        strong {
          color: $primary;
          font-weight: $txt-bolder;
          font-size: 2.2rem;
        }
      }
      p {
        margin-top: 1rem;
        font-size: $txt-small;
      }
    }

    &.section-feature {
      .section-header {
        .num {
          display: block;
          width: 2em;
          height: 2em;
          line-height: 2em;
          background-color: $primary;
          border-radius: 50%;
          margin: 0 auto 1rem;
          color: $white;
          font-weight: 600;
          font-family: 'Gotham', sans-serif;
        }
      }
      .section-content {
        .img-box {
          text-align: center;
        }
        .txt-box {
          font-size: $txt-small;
          color: $gray-700;
          p {
            line-height: 1.8;
          }
          .txt-point {
            display: inline-block;
            position: relative;
            &:before {
              display: block;
              content: '';
              width: 3px;
              height: 3px;
              background-color: $black;
              border-radius: 50%;
              margin: 0 auto;
            }
            i {
              font-style: italic;
              font-weight: 600;
            }
          }
          p {
            + p {
              margin-top: 24px;
            }
          }
        }
      }
    }
  }
  #sectionFeature02 {
    .card-box {
      .row-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2em 1.5em;
        border: 1px solid $border-color;
        border-radius: $border-radius;

        .icon-box {
          width: 30%;
          margin-right: 1.25em;
          img {
            max-width: 5em;
          }
        }
        .txt-box {
          width: calc(70% - 1.25em);
          margin-top: 0;
          text-align: left;
        }
      }
    }
    .graph-box {
      h4 {
        line-height: 1.2;
        letter-spacing: -0.02em;
      }
      .img-box {
        .inner-container {
          max-width: 20em;
        }
      }
    }
  }
  #sectionFeature03 {
    .swiper-slider {
      max-width: 60em;
      margin: -2em auto 0;
      padding: 0 2.5em;
      .title-box {
        margin-top: 2em;
        h4 {
          display: inline-flex;
          align-items: center;
          justify-content: flex-start;
          background-color: $white;
          border-radius: $border-radius-lg;
          overflow: hidden;
          line-height: 1;
          font-size: 1.4rem;
          .label {
            min-width: 4em;
            padding: 0.5em 1em;
            text-align: center;
            background-color: $primary;
            color: $white;
            border-radius: $border-radius-lg;
          }
          span {
            display: inline-block;
            padding: 0 1.5em 0 1em;
            color: $black;
          }
        }
      }
      .img-box {
        img {
          max-width: 100%;
        }
      }
      .swiper-pagination {
        position: static;
        margin-top: 1em;
      }
    }
  }
  #sectionFeature04 {
    position: relative;
    padding-bottom: 9.475em;
    &:after {
      display: block;
      content: '';
      width: 22.5em;
      height: 13.75em;
      position: absolute;
      right: -5.125em;
      bottom: -5.125em;
      background: url('~assets/images/delivery-kitchen_jeju/jeju_island.png')
        no-repeat center center;
      background-size: 22.5em 13.74em;
      z-index: 2;
    }
    .info-box {
      padding: 1em 1em;
      border: 1px solid $border-color;

      .row-box {
        + .row-box {
          border-top: 1px solid $border-color;
          padding-top: 1em;
        }
        h4 {
          .label {
            display: inline-block;
            padding: 0.25em 1em;
            border-radius: $border-radius;
            background-color: $gray-700;
            color: $white;
            font-size: $txt-small;
            font-weight: $txt-bold;
          }
        }
        p {
          margin-top: 1em;
          font-size: $txt-small;
          color: $black;
        }
      }
    }
    .txt-box {
      text-align: left;
      padding-left: 1em;
    }
  }

  #registerForm {
    padding-top: 7.25em;

    .bg-white {
      position: relative;
      overflow: hidden;
      // &:after {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   content: '신청이 마감되었습니다 :)';
      //   position: absolute;
      //   left: 0.25em;
      //   top: 0.25em;
      //   right: 0.25em;
      //   bottom: 0.25em;
      //   border-radius: 2.5rem;
      //   background-color: rgba(0, 0, 0, 0.4);
      //   z-index: 2;
      //   color: #fff;
      //   font-weight: $txt-bolder;
      //   font-size: $txt-big;
      // }
    }

    .form-wrapper {
      position: relative;
      text-align: left;
    }
  }
}
</style>
