<template>
  <div>
    <footer id="footer">
      <div class="inner-container">
        <section class="py-8">
          <div class="footer-info">
            <dl
              v-for="(content, index) in contents"
              :key="index"
              :class="{ 'is-active': content.active }"
            >
              <dt class="footer-info-header" @click="expand($event, index)">
                <h4>{{ content.title }}</h4>
                <NButton
                  size="mini"
                  class="btn btn-icon"
                  circle
                  bgColor="transparent"
                >
                  <i class="icon icon-arrow-angle-down"></i>
                  <span class="is-blind">더보기</span>
                </NButton>
              </dt>
              <dd class="footer-info-body" :ref="`footer-info-body-${index}`">
                <component :is="`FooterInfoContent${index + 1}`"></component>
              </dd>
            </dl>
          </div>
        </section>
        <section class="py-8 border-top border-gray-700">
          <div class="footer-link">
            <router-link to="/user-notice" class="btn-text btn-link">
              실증특례 이용자고지
            </router-link>
            <router-link to="/agreement" class="btn-text btn-link">
              이용약관
            </router-link>
            <router-link to="/privacy" class="btn-text btn-link">
              개인정보취급방침
            </router-link>
            <a
              href="http://ftc.go.kr/www/bizCommView.do?key=232&apv_perm_no=2017322016230204945&pageUnit=10&searchCnd=wrkr_no&searchKrwd=7798700655&pageIndex=1"
              target="_blank"
              class="btn-text btn-link"
              >사업자정보확인</a
            >
            <a href="mailto:info@widaehan.com" class="btn-text btn-link"
              >영업 제휴 문의</a
            >
          </div>
          <div class="footer-copy mt-3">
            <p class="txt-mini">
              © 2020 The Great Trading Company, Ltd. All Rights Reserved.
            </p>
          </div>
          <div class="footer-sns mt-6">
            <a
              href="https://www.instagram.com/nanudakitchen/"
              target="_blank"
              class="btn btn-icon"
            >
              <i class="icon icon-sns-insta"></i>
              <span class="is-blind">인스타그램</span>
            </a>
            <a
              href="https://www.facebook.com/nanudakitchen/"
              target="_blank"
              class="btn btn-icon"
            >
              <i class="icon icon-sns-fbook"></i>
              <span class="is-blind">페이스북</span>
            </a>
            <a
              href="https://pf.kakao.com/_DtxmiC"
              target="_blank"
              class="btn btn-icon"
            >
              <i class="icon icon-sns-kakao"></i>
              <span class="is-blind">카카오톡</span>
            </a>
            <a
              href="https://blog.naver.com/nanudakitchen/"
              target="_blank"
              class="btn btn-icon"
            >
              <i class="icon icon-sns-blog"></i>
              <span class="is-blind">블로그</span>
            </a>
          </div>
        </section>
      </div>
    </footer>
    <!-- 이용약관 및 개인정보 수집 모달 -->
    <CustomModal
      animation="slideInUp"
      :visible="showAgree"
      headerType="default"
      id="termsOfUse"
      title="이용약관"
      noBtn="닫기"
      @close="showAgree = false"
    >
      <TermsOfUse />
    </CustomModal>
    <!-- 개인정보 수집 모달 -->
    <CustomModal
      animation="slideInUp"
      :visible="showPrivacy"
      headerType="default"
      id="privacy"
      title="개인정보 취급방침"
      noBtn="닫기"
      @close="showPrivacy = false"
    >
      <Privacy />
    </CustomModal>
  </div>
</template>
<script>
import TermsOfUse from '@/components/Agreement/TermsOfUse';
import Privacy from '@/components/Agreement/Privacy';
import CustomModal from '@/components/Modal/CustomModal';
import FooterInfoContent1 from '@/components/Footer/FooterInfoContent1';
import FooterInfoContent2 from '@/components/Footer/FooterInfoContent2';
export default {
  components: {
    TermsOfUse,
    Privacy,
    CustomModal,
    FooterInfoContent1,
    FooterInfoContent2,
  },
  data() {
    return {
      showAgree: false,
      showPrivacy: false,
      contents: [
        { title: '고객센터', active: false },
        { title: '주식회사 위대한상사', active: false },
      ],
    };
  },
  methods: {
    expand(e, i) {
      if (this.contents[i].active === false) {
        this.contents[i].active = true;
      } else {
        this.contents[i].active = false;
      }
    },
  },
};
</script>
<style lang="scss">
/* footer */
#footer {
  background-color: $black;
  color: $gray-500;
  font-size: $txt-tiny;

  .footer-info {
    dl {
      + dl {
        margin-top: 1em;
      }

      &.is-active {
        color: $white;
        .footer-info-header {
          .btn-icon {
            transform: rotate(180deg);
          }
        }
        .footer-info-body {
          display: block;
        }
      }
      .footer-info-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          font-size: $txt-small;
          font-weight: 600;
        }
        .btn-icon {
          transition: all 0.4s ease;
        }
      }
      .footer-info-body {
        display: none;
        margin-top: 1em;
        p {
          span {
            position: relative;
            + span {
              padding-left: 1em;
              margin-left: 1em;
              &::before {
                display: block;
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 1px;
                height: 11px;
                background-color: $gray-700;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }

  .footer-sns {
    .btn {
      border-radius: 50%;
      font-size: $txt-tiny;
      color: $gray-100;
      background-color: $gray-700;

      &:hover {
        background-color: $gray-100;
        color: $gray-700;
      }

      .icon {
        font-size: 1.5em;
      }

      + .btn {
        margin-left: 0.25em;
      }
    }
  }

  .footer-link {
    .btn-link {
      display: inline-block;
      font-size: $txt-tiny;
      font-weight: $txt-bold;
      + .btn-link {
        margin-left: 0.5em;
      }
      &:hover {
        color: $gray-100;
      }
    }
  }
}
</style>
