<template>
  <div>
    <p class="tel">
      전화 문의
      <a href="tel:1800-5972">1800-5972</a>
    </p>
    <p>
      <span>운영시간 : 평일 09:30 - 18:30</span>
      <span>주말∙공휴일 제외</span>
    </p>
    <p>
      <span>점심시간 : 평일 12:30 - 13:30</span>
    </p>
  </div>
</template>
