<template>
  <FormGroup>
    <FormLabel for>희망 지역 선택</FormLabel>
    <FormRow class="mt-0">
      <div class="row gutter-16">
        <div class="col-6">
          <FormControl>
            <NSelect
              v-model="selectedCity"
              :items="allCities"
              item-value="CODE"
              item-text="NAME"
              placeholder="시/도"
              input-id="addressCity"
              add-class="mk_restaurant_city_btn"
              @input="onSelectCity"
            >
            </NSelect>
          </FormControl>
        </div>
        <div class="col-6">
          <FormControl>
            <NSelect
              v-model="selectedDistrict"
              :items="allDistricts"
              item-value="NAME"
              item-text="NAME"
              placeholder="군/구"
              input-id="addressDistrict"
              add-class="mk_restaurant_town_btn"
              @input="onSelectDistrict"
            >
            </NSelect>
          </FormControl>
        </div>
      </div>
    </FormRow>
  </FormGroup>
</template>

<script>
export default {
  data() {
    return {
      allCities: [],
      allDistricts: [],
      selectedCity: '',
      selectedDistrict: '',
    };
  },
  mounted() {
    //컴포넌트가 생성되면 모든 시/도 정보를 불러와서 셀렉트박스에 넣음
    this.$axios
      .$get('/address/allCities')
      .then((res) => {
        this.allCities = res.CITIES;
      })
      .catch((e) => {
        console.log(e);
      });
  },
  methods: {
    onSelectCity(value) {
      this.selectedCity = value;
      this.$emit('selectedCity', value);
      return this.$axios
        .$get(`/address/allDistricts?code=${value}`)
        .then((res) => {
          this.allDistricts = res.DISTRICTS;
        });
    },
    onSelectDistrict(value) {
      this.$emit('selectedDistrict', value);
      if (value === '') {
        this.selectedDistrict = this.selectedCity;
      } else {
        this.selectedDistrict = value;
      }
    },
  },
};
</script>

<style></style>
