<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :return-value.sync="date"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        v-model="date"
        :label="title"
        readonly
        v-on="on"
        prepend-icon="mdi-calendar"
      ></v-text-field>
    </template>
    <v-date-picker v-model="date" no-title scrollable locale="ko-kr">
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
      <v-btn text color="primary" @click="passDate">OK</v-btn>
    </v-date-picker>
  </v-menu>
</template>

<script>
export default {
  props: {
    title: String
  },
  data() {
    return {
      date: new Date().toISOString().substr(0, 10),
      menu: false
    };
  },
  methods: {
    passDate() {
      this.$refs.menu.save(this.date);
      this.$emit("dateChanged", this.date);
    }
  }
};
</script>

<style></style>
