<template>
  <FormGroup>
    <FormLabel for>희망 지역선택</FormLabel>
    <FormRow class="mt-0">
      <div class="row gutter-16">
        <div class="col-6">
          <FormControl>
            <nSelect
              :items="allCities"
              placeholder="시/도"
              addClass="mk_form_city_btn"
              @selected="sidoSelected"
              :everything="false"
            />
          </FormControl>
        </div>
        <div class="col-6">
          <FormControl>
            <nSelect
              :items="allDistricts"
              placeholder="군/구"
              addClass="mk_form_town_btn"
              @selected="gunguSelected"
            />
          </FormControl>
        </div>
      </div>
    </FormRow>
  </FormGroup>
</template>

<script>
export default {
  data() {
    return {
      allCities: [],
      allDistricts: [],
      selectedSido: '',
    };
  },
  mounted() {
    //컴포넌트가 생성되면 모든 시/도 정보를 불러와서 셀렉트박스에 넣음
    this.$axios
      .$get('/address/allCities')
      .then((res) => {
        this.allCities = res.CITIES;
      })
      .catch((e) => {
        console.log(e);
      });
  },
  methods: {
    //시/도를 선택하면 그 코드 값을 파라미터로 관련된 군/구 데이터를 가져와서 셀렉트박스에 넣음
    sidoSelected(value) {
      this.selectedSido = value;
      this.$emit('selected', value);
      return this.$axios
        .$get(`/address/allDistricts?code=${value}`)
        .then((res) => {
          this.allDistricts = res.DISTRICTS;
        });
    },
    gunguSelected(value) {
      //전체를 선택하면 value가 바뀌지않음
      if (value === 'all') {
        this.$emit('selected', this.selectedSido);
      } else {
        this.$emit('selected', value);
      }
    },
  },
};
</script>

<style></style>
