<template>
  <article class="main-article">
    <template>
      <div
        v-if="$route.params.id"
        class="bg-image"
        :style="{
          'background-image':
            'url(' +
            require(`@/assets/images/landing/landing_main_${$route.params.id}.jpg`) +
            ')',
        }"
      ></div>
      <div class="form-wrap">
        <!-- <div class="logo">
            <LogoTitle />
          </div> -->
        <div class="bg-white shadow p-6">
          <template v-if="!isComplete">
            <div class="form-title">
              <span class="d-block mb-2 txt-gray-800 txt-bold"
                >공유주방 맟춤 컨설팅
                <strong class="txt-primary">나누다 키친</strong></span
              >
              <h2 class="txt-black txt-big txt-bolder">
                <span class="d-inline-block">당신이 꿈꾸던</span>
                <span class="d-inline-block">음식창업</span> <br />
                <span class="d-inline-block">나누다키친이</span>
                <span class="d-inline-block">함께합니다</span>
              </h2>
              <p class="txt-small mt-2">
                <span class="d-inline-block">이름과 연락처를 남겨주시면</span>
                <span class="d-inline-block"
                  >빠른 시일내에 연락 드리겠습니다.</span
                >
              </p>
            </div>
            <div class="form-box mt-8">
              <div class="form-group">
                <label for="user_name" class="form-label">이름</label>
                <div class="input">
                  <input
                    type="text"
                    id="user_name"
                    v-model="$v.userName.$model"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="user_phone" class="form-label">휴대폰 번호</label>
                <div class="input">
                  <input
                    type="tel"
                    id="user_phone"
                    v-model="$v.userPhone.$model"
                  />
                </div>
              </div>
              <!-- <div class="form-group">
                  <label for="hope_area" class="form-label"
                    >창업 희망 지역</label
                  >
                  <NSelect
                    v-model="hopeArea"
                    :items="hopeAreaChoices"
                    item-value="hopeArea"
                    item-text="hopeArea"
                    placeholder="희망 지역을 선택해주세요"
                    input-id="hopeAreaChoices"
                    allOptionText="선택안함"
                    add-class="mt-4"
                  >
                  </NSelect>
                </div> -->
              <div class="row-box mt-4">
                <button
                  class="btn btn-medium btn-secondary btn-block"
                  @click="send()"
                  :disabled="$v.userName.$invalid || $v.userPhone.$invalid"
                >
                  창업 문의하기
                </button>
              </div>
              <div class="row-box">
                <!-- <p class="txt-tiny">
                  <span class="txt-secondary">*</span>
                  <span class="txt-secondary txt-bold">신청하기</span> 버튼을
                  클릭할 경우에, 입력하신 개인정보들이 당사의 고객DB에 저장되며
                  상담을 목적으로 이용되는 것을 동의한 것으로 간주하게 됩니다.
                </p> -->
                <div class="agree-box d-flex justify-content-between">
                  <CheckBox
                    label="개인정보취급방침에 동의합니다"
                    id="informedConsent"
                    class="txt-tiny"
                    @click="isInformedConsent"
                    :checked="isInformedConsentChecked"
                    addClass="mk_re2_law_btn"
                  />
                  <Button
                    @click="showInformedConsent = true"
                    class="btn-text btn-tiny btn-underline"
                    >약관보기</Button
                  >
                </div>
              </div>
              <div class="txt-box mt-8">
                <a
                  href="https://nanudakitchen.com"
                  class="btn btn-medium btn-primary btn-rounded"
                >
                  나누다키친 더 알아보기
                  <i class="icon icon-arrow-right ml-4"></i>
                </a>
              </div>
            </div>
          </template>
          <template v-else>
            <div class="txt-center">
              <i
                class="icon icon-info-confirm txt-massive txt-bold txt-secondary"
              ></i>
              <div class="txt-box">
                <p class="txt-big txt-black">
                  신청이
                  <strong class="txt-bold txt-secondary">완료</strong
                  >되었습니다.
                </p>
              </div>
              <div class="txt-box mt-8">
                <a
                  href="https://nanudakitchen.com"
                  class="btn btn-medium btn-primary btn-rounded"
                >
                  나누다키친 더 알아보기
                  <i class="icon icon-arrow-right ml-4"></i>
                </a>
              </div>
            </div>
          </template>
        </div>
      </div>
    </template>
    <!-- 개인정보취급방침 모달 -->
    <CustomModal
      :visible="showInformedConsent"
      headerType="default"
      id="InformedConsent"
      title="개인정보취급 이용약관"
      noBtn="닫기"
      @close="showInformedConsent = false"
    >
      <Privacy />
    </CustomModal>
  </article>
</template>
<script>
import LogoTitle from '@/components/UI/LogoTitle';
import { required, numeric } from 'vuelidate/lib/validators';
import Privacy from '@/components/Agreement/Privacy';
import * as ip from 'ip';
import { query } from 'vue-gtag';
export default {
  layout: 'empty',
  components: {
    LogoTitle,
    Privacy,
  },
  data() {
    return {
      userName: '',
      userPhone: '',
      hopeArea: '',
      addType: '',
      userIp: '',
      isComplete: false,
      showInformedConsent: false,
      isInformedConsentChecked: true,
      hopeAreaChoices: [
        { hopeArea: '서울 서대문구' },
        { hopeArea: '경기도 수원시' },
        { hopeArea: '대구시 수성구' },
      ],
    };
  },
  methods: {
    send() {
      this.$fb.track('Purchase');
      this.$gtag.event('conversion', {
        send_to: 'AW-449955989/YQSyCPbhuu8BEJWRx9YB',
      });
      this.$gtag.event('reservation_1', {
        send_to: 'G-0KL898XG4N',
        description: 'Landing Page conversion',
        items: [{ promotion_name: 'reservation_1' }],
      });
      this.$axios
        .$post('/landingPageRecord/success', {
          landingPageName: `DB수집페이지-${this.$route.params.id}`,
          nonNanudaUserName: this.userName,
          nonNanudaUserPhone: this.userPhone,
          hopeArea: this.hopeArea,
        })
        .then((res) => {
          this.isComplete = true;
        });
    },
    isInformedConsent() {
      if (!this.isInformedConsentChecked) {
        this.isInformedConsentChecked = !this.isInformedConsentChecked;
        // this.showInformedConsent = !this.showInformedConsent;
      } else {
        this.isInformedConsentChecked = !this.isInformedConsentChecked;
      }
    },
  },
  mounted() {
    const referrer = document.referrer;
    this.userIp = ip.address();

    if (referrer.includes('facebook')) {
      this.advType = 'FACEBOOK';
    } else if (referrer.includes('instagram')) {
      this.advType = 'INSTAGRAM';
    } else if (referrer.includes('story.kakao')) {
      this.advType = 'KAKAO_STORY';
    } else if (referrer.includes('naver')) {
      this.advType = 'NAVER';
    } else {
      this.advType = 'NONE';
    }

    this.$axios
      .$get('/landingPageRecord', {
        params: {
          landingPageName: `DB수집페이지-${this.$route.params.id}`,
          advType: this.advType,
          ip: this.userIp,
        },
      })
      .then((res) => {
        if (res) {
          // console.log('수집 성공');
        }
      });
  },
  validations: {
    userName: {
      required,
    },
    userPhone: {
      required,
      numeric,
    },
  },
};
</script>
<style lang="scss">
.landing-page-id {
  position: relative;

  .main-article {
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  .logo {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #000;
    opacity: 0.8;
    svg {
      width: 15em;
    }
  }
  .form-wrap {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    z-index: 2;
  }
  .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0f0f0;
    min-height: 100vh;
  }
  @media screen and (max-width: 1023px) {
    .form-wrap {
      position: relative;
      display: block;
      padding: 2em 1em 2em;
      width: 100%;
      left: 0;
    }
    .bg-image {
      position: relative;
      min-height: 30vh;
      + .form-wrap {
        margin-top: -10vh;
        padding-top: 0;
      }
    }
  }
}
</style>
