.form-group {
  + .form-group {
    margin-top: 1em;
  }

  .form-control {
    position: relative;
    display: block;
    width: 100%;

    line-height: 1.4;
    border: 0;
    -webkit-appearance: none;
    + .form-control {
      margin-top: 0.5em;
    }

    .form-element {
      width: 100%;
      height: 100%;
      border: 0;
      padding: 0;
      margin: 0;
      font-size: $txt-small;
      border: 1px solid $border-color;
      padding: 0.625em 0.5em;
      transition: border 0.4s ease;
      background-color: $white;
      border-radius: 0.25rem;

      &::placeholder {
        font-size: $txt-small;
        line-height: 1.6;
      }

      &:focus {
        border-color: $black;
      }

      // &:focus {
      //   + .form-underline {
      //     transform: scaleX(1);
      //   }
      // }

      &:disabled {
        opacity: 0.75;
        background-color: $light;
      }
    }

    .form-underline {
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transition: transform 0.4s ease;
    }
  }

  .form-label {
    display: block;
    color: $gray;
    font-size: $txt-tiny;

    + .form-row {
      margin-top: 0.5em;
    }

    + .form-control {
      margin-top: 0.5em;
    }
  }

  .form-row {
    + .form-row {
      margin-top: 0.5em;
    }
  }

  .form-message {
    margin-top: 0.5em;
    font-size: $txt-tiny;

    .txt-guide {
      color: $gray-500;
    }

    .txt-error {
      color: $red;
    }
  }

  .form-underline {
    background: $gray;
  }

  .textarea {
    .form-element {
      height: 10em;
    }
  }

  &.is-error {
    .form-label {
      color: $red;
    }

    .form-control {
      .form-element,
      &:focus {
        border-color: $red;
      }
    }

    .form-underline {
      background: $red;
    }
  }
}

/* input-group */

.input-group {
  display: flex;
  align-items: center;
  height: 100%;

  .input {
    + * {
      margin-left: 0.5em;
    }
  }

  .btn {
    white-space: nowrap;
    &.is-request {
      background-color: $black;
      border-color: $black;

      &:not(:disabled):hover {
        @include darken(background-color, $black, 5);
        @include darken(border-color, $black, 5);
      }
    }
  }

  .timer {
    font-size: $txt-small;
    color: $red;

    &.is-disabled {
      color: $gray;
    }
  }
}

/* form control size */
@each $size, $value in $font-sizes {
  .form-control-#{$size} {
    font-size: $value;
  }
}
