@charset "utf-8";

/* radio */
.radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;

  input[type='radio'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    &:disabled {
      + .label-txt {
        opacity: 0.5;
      }
    }

    + .label-txt {
      position: relative;
      min-width: 1.5em;
      min-height: 1.5em;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
    }

    + .label-txt:before,
    + .label-txt span {
      display: inline-block;
      vertical-align: middle;
    }

    + .label-txt span {
      padding-left: 2em;
    }

    + .label-txt {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        display: inline-block;
        width: 1.6em;
        height: 1.6em;
        text-align: center;
        border-radius: 50%;
        box-sizing: border-box;
        border: 1px solid $gray-700;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 0.8em 0.8em;
      }
    }

    &:checked {
      + .label-txt {
        &:before {
          border-color: $primary;
          background-image: url('~assets/svg/icon/radio.svg');
        }
      }
    }

    &:disabled {
      + .label-txt {
        cursor: default;

        &:before {
          border-color: $gray-400;
          background-color: $gray-400;
        }
      }
    }
  }

  &.type-check {
    input[type='radio'] {
      + .label-txt {
        &:before {
          font-family: 'nanuda';
          content: '\e943';
          position: absolute;
          overflow: hidden;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 1.6em;
          height: 1.6em;
          text-align: center;
          border: 1px solid $gray-300;
          color: $gray-300;
          border-radius: 50%;
          box-sizing: border-box;
          background: none;
        }
      }

      &:checked + .label-txt:before {
        background: none;
        background-color: $success;
        border-color: $success;
        color: $white;
      }
    }
  }

  &.type-button {
    input[type='radio'] {
      + .label-txt {
        min-width: auto;
        min-height: auto;
        padding: 0.5em 0.5em;
        line-height: 1.4;
        border: 1px solid $gray-300;
        border-radius: $border-radius-sm;
        background-color: $white;
        width: inherit;
        display: block;
        text-align: center;

        &::before,
        &::after {
          display: none;
        }

        &:not(:disabled):hover {
          border-color: darken($border-color, 10);
        }

        span {
          padding-left: 0;
        }
      }

      &:checked {
        + .label-txt {
          color: $white;
          background-color: $primary;
          border-color: $primary;
        }

        &:not(:disabled):hover {
          background-color: darken($primary, 5);
          border-color: darken($primary, 5);
        }
      }
    }
  }
}

* + .radio {
  margin-left: 0.5em;
}

[class*='-box'] + .radio {
  margin-top: 0;
}
/* radio */
