<template>
  <CommonTable
    :headers="headers"
    :items="contracts"
    page="founder-contracts"
    addBtn="창업 계약"
  />
</template>

<script>
import CommonTable from '@/components/Admin/CommonTable';
export default {
  components: { CommonTable },
  layout: 'admin',
  data() {
    return {
      headers: [
        {
          text: 'UID',
          align: 'center',
          sortable: false,
          value: 'NO',
        },
        {
          text: 'STATUS',
          value: 'CODE_MANAGEMENT.VALUE',
          sortable: false,
          align: 'center',
        },
        {
          text: '사용자 핸드폰 번호',
          align: 'center',
          value: 'NANUDA_USER.PHONE',
          sortable: false,
        },
        {
          text: '사용자 이름',
          align: 'center',
          value: 'NANUDA_USER.NAME',
          sortable: false,
        },
        {
          text: '상품',
          align: 'center',
          value: 'PRODUCT.NAME',
          sortable: false,
        },
        {
          text: '공간 매장명',
          align: 'center',
          value: 'SPACE.NAME',
          sortable: false,
        },
        {
          text: '공간 주소',
          align: 'center',
          value: 'SPACE.ADDRESS',
          sortable: false,
        },
        {
          text: '계약 종료일',
          align: 'center',
          value: 'C_END_DATE',
          sortable: false,
        },

        {
          text: '담당자',
          align: 'center',
          sortable: true,
          value: 'ADMIN_USER.NAME',
        },
      ],
    };
  },
  asyncData(context) {
    //user data 가져오기
    context.loading = true;
    return context.$axios
      .$get('/changupContractAdmin')
      .then((res) => {
        context.loading = false;
        return { contracts: res };
      })
      .catch((e) => console.log(e));
  },
  activated() {
    return this.$axios
      .$get('/changupContractAdmin')
      .then((res) => {
        this.contracts = res;
      })
      .catch((e) => console.log(e));
  },
};
</script>

<style lang="scss"></style>
