<template>
  <main id="aboutUs" class="main-wrapper">
    <header class="main-header is-blind">
      <h1>회사소개</h1>
    </header>
    <article class="main-article">
      <header class="article-header">
        <div class="inner-container txt-center">
          <h2>
            공간의 무게를 덜어
            <br />창업에 더하다
          </h2>
        </div>
      </header>
      <section class="article-section" id="intro">
        <div class="inner-container">
          <div class="row">
            <div class="col col-lg-5">
              <header class="section-header">
                <h3>
                  음식점 창업을 도전하고 싶어도 <br />
                  항상 따라 붙는 공간 비용문제 <br />
                  창업에 도전하는 꿈보다 <br />
                  창업에 들어가는 부담이 더 큽니다
                </h3>
                <p class="h3_desc">
                  나누다키친은 창업에 있어 공간의 무게를
                  <br />창업의 꿈과 열정으로 <br />바꾸어 드립니다
                </p>
              </header>
            </div>
            <div class="col col-lg-7">
              <div class="section-content">
                <div class="row-box">
                  <div class="icon-box">
                    <img src="@/assets/svg/about-us/icon_link.svg" alt />
                  </div>
                  <div class="content-box">
                    <div class="title-box">
                      <h4>
                        공간과 창업자를
                        <strong class="txt-primary">연결</strong>합니다
                      </h4>
                    </div>
                    <div class="txt-box">
                      <p>
                        기존 음식점의 유휴 공간, 배달전용 공유주방을
                        <br />필요로 하는 예비 창업자에게 연결하여 <br />공간의
                        부담 없이 창업할 수 있게 합니다
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row-box">
                  <div class="icon-box">
                    <img src="@/assets/svg/about-us/icon_store.svg" alt />
                  </div>
                  <div class="content-box">
                    <div class="title-box">
                      <h4>
                        잠자는 공간을
                        <br />
                        <strong class="txt-primary">창업의 공간</strong>으로
                        바꿉니다.
                      </h4>
                    </div>
                    <div class="txt-box">
                      <p>
                        고도화된 상권 분석을 통해
                        <br />기존의 공간을 새롭게 만들어 <br />새로운 창업과
                        공간의 가치를 만듭니다
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row-box">
                  <div class="icon-box">
                    <img src="@/assets/svg/about-us/icon_open_sign.svg" alt />
                  </div>
                  <div class="content-box">
                    <div class="title-box">
                      <h4>
                        <strong class="txt-primary">아이디어</strong>와
                        <strong class="txt-primary">열정</strong>을 <br />창업의
                        가장 큰 가치로 만듭니다
                      </h4>
                    </div>
                    <div class="txt-box">
                      <p>
                        공간에맞는, 창업자가 원하는 브랜드로 <br />
                        원하는 시간과 공간에서 창업할 수 있도록 <br />
                        나누다키친이 솔루션을제공합니다
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="article-section bg-light" id="history">
        <div class="inner-container">
          <header class="section-header txt-center">
            <h3>나누다키친 히스토리</h3>
          </header>
          <div class="section-content">
            <HistoryList />
          </div>
        </div>
      </section>
      <section class="article-section py-0">
        <div class="">
          <header class="section-header txt-center is-blind">
            <h3>나누다키친 파트너</h3>
          </header>
          <div class="section-content">
            <PartnerList />
          </div>
        </div>
      </section>
      <section class="article-section bg-light txt-center">
        <div class="inner-container">
          <header class="section-header">
            <h3>비지니스 문의</h3>
          </header>
          <div class="section-content">
            <div class="btn-box">
              <a
                href="mailto:info@widaehan.com"
                class="btn btn-primary w-40 mk_about_alliance_btn"
                >영업 제휴 문의 하기</a
              >
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
</template>
<script>
import ArticleList from '@/components/Articles/ArticleList';
import HistoryList from '@/components/About/HistoryList';
import PartnerList from '@/components/About/PartnerList';
export default {
  components: {
    ArticleList,
    HistoryList,
    PartnerList,
  },
};
</script>
<style lang="scss" scope>
#aboutUs {
  .main-article {
    .article-header {
      padding: 8em 0;
      background-color: $light;
      background: url('~assets/images/about-us/bg_top_visual.jpg') no-repeat
        center center;
      background-size: cover;
      @include darkOverlay();
      .inner-container {
        position: relative;
      }
      h2 {
        color: $white;
      }
    }
  }
  #intro {
    .section-header {
      text-align: center;
      h3 {
        font-size: $txt-large;
      }
      .h3_desc {
        &:before {
          display: block;
          content: '';
          width: 1em;
          height: 0.125em;
          background-color: $primary;
          margin: 1em auto;
        }
      }
    }
    .section-content {
      border-top: 1px solid $border-color;
      .row-box {
        padding: 1.5em 0;
        border-bottom: 1px solid $border-color;
        .icon-box {
          text-align: center;
          width: 6em;
          // background-color: $light;
          margin: 0 auto;
          img {
            width: 4em;
            // opacity: 0;
          }
        }
        .content-box {
          text-align: center;
          .title-box {
            h4 {
              font-size: 1.8rem;
              color: $black;
              font-weight: $txt-bold;
            }
          }
          .txt-box {
            p {
              font-size: $txt-small;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 1025px) {
    #intro {
      .section-header {
        text-align: left;
        .h3_desc {
          &:before {
            margin: 1em auto 1em 0;
          }
        }
      }
      .section-content {
        .row-box {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          .icon-box {
            margin: 0 auto 0 0;
          }
          .content-box {
            width: calc(100% - 6em);
            text-align: left;
            margin-top: 0;
            margin-left: 1.5em;
          }
        }
      }
    }
  }
}
</style>
