<template>
  <v-app id="inspire">
    <client-only>
      <!-- pc -->
      <v-navigation-drawer
        v-if="$vuetify.breakpoint.mdAndUp"
        app
        :mini-variant.sync="mini"
        mobile-break-point="960"
      >
        <AdminNav :items="navItems" :mini="mini" />
      </v-navigation-drawer>
      <!-- mobile -->
      <v-navigation-drawer v-else app v-model="drawer">
        <AdminNav :items="navItems" :mini="mini" />
      </v-navigation-drawer>

      <v-app-bar app height="75">
        <!-- pc -->
        <v-app-bar-nav-icon
          @click.stop="mini = !mini"
          v-if="$vuetify.breakpoint.mdAndUp"
        ></v-app-bar-nav-icon>
        <!-- mobile -->
        <v-app-bar-nav-icon
          @click.stop="drawer = !drawer"
          v-else
        ></v-app-bar-nav-icon>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-row align="center" no-gutters>
            <span class="d-block mx-5" v-if="$vuetify.breakpoint.mdAndUp"
              >DARK MODE</span
            >
            <v-switch
              v-model="$vuetify.theme.isDark"
              inset
              color="orange"
              class="mt-6 mr-5"
              @change="changeTheme"
            ></v-switch>
          </v-row>
          <v-toolbar-items>
            <v-row align="center" no-gutters>
              <v-icon>mdi-account-circle</v-icon>
              <span class="mx-2 text-uppercase">{{ theUserName }}</span>
            </v-row>
          </v-toolbar-items>
        </v-toolbar-items>
        <v-btn text @click="logout">
          <v-icon>mdi-logout</v-icon>
          <span class="ml-2" v-if="$vuetify.breakpoint.mdAndUp">Logout</span>
        </v-btn>
      </v-app-bar>
    </client-only>

    <v-content>
      <!-- navItems fluid 값이 false 가 아닌 경우, /admin 메인 라우터 경우에만 fluid(넓이 확장) 적용 -->
      <v-container
        :fluid="pageFluid.length !== 0 || this.$route.name == 'admin'"
      >
        <!-- pageNav => navItems 메뉴가 존재 할경우, /admin 메인 라우터 제외하고 타이틀 노출 -->
        <h2
          v-if="this.$route.name !== 'admin' && pageNav.length > 0"
          class="font-weight-bold title pb-4"
          v-text="pageNav[0].title"
        ></h2>
        <nuxt keep-alive />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { adminLayout } from '@/assets/mixins/admin/adminLayout';
export default {
  mixins: [adminLayout],
  middleware: ['check-auth', 'forbidden-guard'],
  computed: {
    pageNav() {
      // 라우터값과 네비 path 비교
      return this.navItems.filter((item) => {
        if (this.$route.name.indexOf(`admin-${item.path}`) !== -1) {
          return true;
        }
      });
    },
    pageFluid() {
      // fluid 값이 flase 가 아닌 경우 true 반환
      return this.navItems.filter((item) => {
        if (
          this.$route.name.indexOf(`admin-${item.path}`) !== -1 &&
          item.fluid !== false
        ) {
          return true;
        }
      });
    },
  },
  data: () => ({
    mini: false,
    navItems: [
      {
        title: '사용자 관리',
        path: 'users',
        icon: 'mdi-account',
      },
      {
        title: '공간 관리',
        path: 'spaces',
        icon: 'mdi-storefront',
      },
      {
        title: '상품 관리',
        path: 'plans',
        icon: 'mdi-gift',
      },
      {
        title: '방문 상담 신청 관리',
        path: 'space-meetings',
        icon: 'mdi-tooltip-text',
      },
      {
        title: '상품 상담 신청 관리',
        path: 'plan-meetings',
        icon: 'mdi-tooltip-text-outline',
      },
      {
        title: '공간 계약 관리',
        path: 'space-contracts',
        icon: 'mdi-file-document-edit',
      },
      {
        title: '창업 계약 관리',
        path: 'founder-contracts',
        icon: 'mdi-file-document-edit-outline',
      },
      {
        title: '팝업 배너 관리',
        path: 'popup',
        icon: 'mdi-flag',
      },
      {
        title: '업체 관리',
        path: 'company',
        icon: 'mdi-domain',
      },
      {
        title: '어드민 사용자 관리',
        path: 'managers',
        icon: 'mdi-account-supervisor',
        super: true,
        fluid: false,
      },
    ],
  }),
};
</script>
<style lang="scss">
html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}
.title {
  text-decoration: none;
}

.theme--light {
  .v-content {
    background-color: #eee;
  }
}
.v-data-table td {
  white-space: nowrap;
}
.v-content__wrap {
  > .container {
    padding: 30px 30px;
  }
}
.v-toolbar__content,
.v-toolbar__extension {
  padding: 0px 15px 0 31px;
}

.small-input {
  max-width: 200px;
}

@media screen and (max-width: 960px) {
  .v-content__wrap {
    > .container {
      padding: 15px 15px;
    }
  }
  .v-toolbar__content,
  .v-toolbar__extension {
    padding: 0px 0px 0 15px;
  }
}
</style>
