<template>
  <v-app>
    <v-row justify="center" align="center">
         <nuxt />
    </v-row>
 
  </v-app>
</template>

<script>

export default {
 
}
</script>
<style>
html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}
</style>
