<template>
  <div @contextmenu="stopCtx($event)">
    <SideDrawer :sideDrawer="showSideDrawer" @toggle="openSideDrawer()" />
    <div id="wrap" :class="this.$route.name">
      <transition name="fade" mode="out-in" duration="1000">
        <div
          class="layout-backdrop"
          v-show="showSideDrawer"
          @click="openSideDrawer()"
        ></div>
      </transition>
      <div class="layout-container">
        <TheHeader :sideDrawer="showSideDrawer" @toggle="openSideDrawer()" />
        <nuxt
          keep-alive
          v-if="keepAliveRouter.includes(this.$route.name)"
          :keep-alive-props="{ max: 3 }"
        />
        <nuxt v-else />
        <FooterInfo v-if="!noFooter.includes(this.$route.name)" />
      </div>
      <!-- <div id="quickBar">
        <div class="quick-inner">
          <a
            href="https://pf.kakao.com/_DtxmiC/chat"
            target="_blank"
            class="btn-link btn-yellow"
          >
            <div>
              <div class="icon txt-black">
                <svg viewBox="0 0 32 32" class="svg-icon">
                  <g data-name="kakao talk chat media social">
                    <path
                      d="M29.88,13.06a1,1,0,0,0-1,1c0,5.42-5.78,9.83-12.88,9.83a15.91,15.91,0,0,1-2.19-.16,1,1,0,0,0-.89.34,13.88,13.88,0,0,1-4,3,8.32,8.32,0,0,0,.71-3.91,1,1,0,0,0-.56-.81c-3.75-1.83-6-4.92-6-8.28C3.12,8.63,8.9,4.22,16,4.22A14.15,14.15,0,0,1,26.87,8.79,1,1,0,1,0,28.4,7.5C25.64,4.2,21,2.22,16,2.22,7.79,2.22,1.12,7.53,1.12,14.06c0,4,2.44,7.6,6.56,9.8a8.82,8.82,0,0,1-1.29,3.91A.85.85,0,0,0,6.3,28a1.39,1.39,0,0,0,.54,1.52,1.35,1.35,0,0,0,1.52.07,18.49,18.49,0,0,0,5.72-3.8,18.71,18.71,0,0,0,1.92.11c8.21,0,14.88-5.31,14.88-11.83A1,1,0,0,0,29.88,13.06Z"
                    />
                    <path
                      d="M10.79 17.62A1 1 0 0 0 12.08 17l1.06-2.76L14.21 17a1 1 0 0 0 .93.64 1.13 1.13 0 0 0 .36-.06 1 1 0 0 0 .58-1.3l-2-5.18a1 1 0 0 0-1.87 0l-2 5.18A1 1 0 0 0 10.79 17.62zM17.51 10.5a1 1 0 0 0-1 1v5.18a1 1 0 0 0 1 1h2.56a1 1 0 0 0 0-2H18.51V11.5A1 1 0 0 0 17.51 10.5zM8.46 17.68a1 1 0 0 0 1-1V12.5h.75a1 1 0 0 0 0-2H6.71a1 1 0 0 0 0 2h.75v4.18A1 1 0 0 0 8.46 17.68zM22.46 10.5a1 1 0 0 0-1 1v5.18a1 1 0 0 0 2 0v-1.2L25 17.32a1 1 0 0 0 .77.36A1 1 0 0 0 26.53 16l-2-2.34 1.8-1.41a1 1 0 0 0-1.23-1.58L23.46 12V11.5A1 1 0 0 0 22.46 10.5z"
                    />
                  </g>
                </svg>
              </div>
              <span class="txt-black">
                카톡상담
              </span>
            </div>
          </a>
          <router-link to="/plans/form" class="btn-link btn-gray-800">
            <div>
              <i
                class="icon icon-info-consulting txt-large txt-lightorange"
              ></i>
              <span class="txt-lightorange">
                창업상담
              </span>
            </div>
          </router-link>
          <a href="tel:1588-5972" class="btn-link btn-gray-900">
            <div>
              <i class="icon icon-info-cellphone txt-large txt-gray-300"></i>
              <span class="txt-gray-300">
                <b class="txt-tiny">1588-5972</b>
              </span>
            </div>
          </a>
        </div>
      </div> -->
    </div>
    <Modal
      yesBtn="로그인하기"
      noBtn="닫기"
      :visible="isLoginVisible"
      @close="goToLogin"
    >
      <div class="txt-box txt-center">
        <p class="txt-small txt-black txt-bold">
          로그인이 필요한 서비스 입니다 <br />로그인 하시겠습니까?
        </p>
      </div>
    </Modal>
  </div>
</template>

<script>
import TheHeader from '@/components/Navigation/TheHeader';
import FooterInfo from '@/components/Footer/FooterInfo';
import SideDrawer from '@/components/Navigation/SideDrawer';
export default {
  middleware: ['check-auth'],
  components: {
    TheHeader,
    FooterInfo,
    SideDrawer,
  },
  data() {
    return {
      isLoginVisible: false,
      showSideDrawer: false,
      noFooter: [
        'delivery-kitchen-map',
        'restaurant-kitchen-map',
        'kb-bridge-start-your-business',
      ],
      transparentHeader: [
        'index',
        'delivery-kitchen-about',
        'delivery-kitchen_jeju',
        'restaurant-kitchen',
        'restaurant-kitchen_costs_1',
        'restaurant-kitchen_costs_2',
        'restaurant-kitchen_balance_1',
        'restaurant-kitchen_balance_2',
        'start-your-business',
        'brands-path',
      ], // 투명 헤더적용할 route name
      keepAliveRouter: [
        'index',
        // 'delivery-kitchen',
        // 'delivery-kitchen-uid',
        // 'delivery-kitchen-map',
        // 'restaurant-kitchen',
        // 'restaurant-kitchen-uid',
        // 'restaurant-kitchen-map',
      ], // keep-alive 적용할 라우터
    };
  },
  methods: {
    stopCtx(e) {
      e.preventDefault();
    },
    openSideDrawer() {
      this.showSideDrawer = !this.showSideDrawer;
    },
    goToLogin(res) {
      if (res.ok) {
        this.$router.push('/login');
      } else {
        this.isLoginVisible = false;
      }
    },
  },
  created() {
    this.$root.$on('checkAuth', (value) => {
      console.log(value);
      if (value) {
        this.isLoginVisible = true;
      }
    });
  },
};
</script>
<style lang="scss">
@import '@/assets/css/common.css';
</style>
