<template>
  <div id="wrap" :class="this.$route.name" @contextmenu="stopCtx($event)">
    <div class="layout-container">
      <nuxt keep-alive v-if="keepAliveRouter.includes(this.$route.name)" />
      <nuxt v-else />
    </div>
  </div>
</template>

<script>
export default {
  middleware: ['check-auth'],
  data() {
    return {
      keepAliveRouter: [
        'restaurant-kitchen-uid',
        'delivery-kitchen-uid',
        'login',
      ], // keep-alive 적용할 라우터
    };
  },
  methods: {
    stopCtx(e) {
      e.preventDefault();
    },
  },
};
</script>
<style lang="scss">
@import '@/assets/css/common.css';
</style>
