<template>
  <ErrorPage title="에러페이지" isBtn>
    <template v-slot:topArea>
      <p class="error-code" v-if="error.statusCode">
        ERROR
        <span class="txt-bold">{{ error.statusCode }}</span>
      </p>
    </template>
    <template v-slot:imgArea>
      <ErrorText />
    </template>
    <template v-slot:txtArea>
      <div class="txt-box">
        <p class="txt-black">
          페이지를 찾을 수 없습니다.
          <br />잠시 후 다시 시도해 주세요.
        </p>
      </div>
    </template>
  </ErrorPage>
</template>
<script>
import ErrorText from '@/components/UI/System/ErrorText';
import ErrorPage from '@/components/UI/System/ErrorPage';
export default {
  props: ['error'],
  components: {
    ErrorPage,
    ErrorText,
  },
};
</script>
