<template>
  <div class="modal-wrapper">
    <!-- 커스텀 모달 -->
    <transition name="fade" type="animation">
      <div class="dim-layer" v-show="visible" @click="handlerClick(kind)"></div>
    </transition>
    <transition :name="animation" type="animation">
      <div class="modal modal-fullpage" :id="id" v-show="visible">
        <div class="modal-dialog">
          <slot name="header">
            <EmptyHeader
              border
              :title="title"
              v-if="headerType == 'default'"
              class="modal-header"
            >
              <template v-slot:leftArea>
                <CloseButton @click="handlerClick(kind)" :btnText="noBtn" />
              </template>
            </EmptyHeader>
          </slot>
          <div class="modal-content">
            <slot></slot>
          </div>
          <slot name="footer">
            <div class="modal-footer" v-if="yesBtn">
              <div class="btn-box">
                <Button
                  class="btn btn-medium btn-primary btn-block"
                  @click="handlerClick(kind, 'yes')"
                  >{{ yesBtn }}</Button
                >
              </div>
            </div>
          </slot>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
import EmptyHeader from '@/components/Navigation/EmptyHeader';
export default {
  name: 'CustomModal',
  components: {
    EmptyHeader,
  },
  props: {
    animation: {
      type: String,
      default: 'slideInUp',
    },
    headerType: {
      type: String,
      deafult: 'default',
    },
    id: {
      type: String,
      default: null,
    },
    defaultHeadar: {
      type: Boolean,
      default: true,
    },
    visible: {
      type: Boolean,
      require: true,
      default: false,
    },
    title: {
      type: String,
      require: true,
    },
    yesBtn: {
      type: String,
      require: false,
    },
    noBtn: {
      type: String,
      require: false,
    },
    close: {
      type: Function,
    },
    kind: {
      type: String,
      require: true,
    },
  },
  methods: {
    handlerClick(id, callback) {
      this.$emit('close', {
        id: id,
        ok: callback === 'yes',
      });
    },
  },
};
</script>
<style lang="scss">
.modal-fullpage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  visibility: visible;
  z-index: $zindex-modal;
  overflow: hidden;
  @include maxLayout();
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .modal-dialog {
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 1;
    width: 80%;
    background-color: $white;
    overflow: hidden;
    border-radius: 0;
    z-index: $zindex-modal;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);

    .modal-header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: $white;
      text-align: center;
      height: 3.75em;

      + .modal-content {
        position: relative;
        margin-top: 3.75em;
        height: calc(100% - 3.75em);
        padding: 1.25em 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior: contain;
      }
    }

    .modal-content {
      padding: 0;
      max-height: none;
    }

    .modal-footer {
      padding: 1em 1.25em;
      background-color: $white;
    }
  }
}
</style>
