<template>
  <!-- 모달 -->
  <transition name="fade" duration="300">
    <div class="modal" v-show="visible" :id="id">
      <div class="dim-layer" @click="handlerClick(kind)"></div>
      <div class="modal-wrapper">
        <div class="modal-dialog" :class="{ shake: dimShake }">
          <div>
            <slot name="header" v-if="kind != 'alert'">
              <header class="modal-header">
                <h2>{{ title }}</h2>
              </header>
            </slot>
            <div class="modal-content">
              <slot></slot>
            </div>
            <slot name="footer">
              <div class="modal-footer">
                <div class="btn-box txt-right" v-if="yesBtn || noBtn">
                  <Button
                    v-if="noBtn"
                    @click="handlerClick(kind)"
                    class="btn btn-medium txt-gray"
                    color="rgba(0,0,0,.25)"
                  >
                    <span>{{ noBtn }}</span>
                  </Button>
                  <Button
                    v-if="yesBtn"
                    @click="handlerClick(kind, 'yes')"
                    class="btn btn-medium txt-secondary"
                    color="rgba(0,0,0,.25)"
                  >
                    <span>{{ yesBtn }}</span>
                  </Button>
                </div>
              </div>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  name: 'modal',
  props: {
    kind: {
      type: String,
      deafult: null,
    },
    id: {
      type: String,
      default: null,
    },
    defaultHeadar: {
      type: Boolean,
      default: true,
    },
    visible: {
      type: Boolean,
      require: true,
      default: false,
    },
    title: {
      type: String,
      require: true,
    },
    yesBtn: {
      type: String,
      require: false,
    },
    noBtn: {
      type: String,
      require: false,
    },
    close: {
      type: Function,
    },
    kind: {
      type: String,
      require: true,
    },
  },
  data() {
    return {
      dimShake: false,
    };
  },
  methods: {
    dimClick() {
      // dim 클릭시 shake 이벤트
      this.dimShake = true;
      setTimeout(() => {
        this.dimShake = false;
      }, 1000);
    },
    handlerClick(id, callback) {
      this.$emit('close', {
        id: id,
        ok: callback === 'yes',
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  visibility: visible;
  z-index: $zindex-modal;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;

  @include maxLayout();

  .modal-wrapper {
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 2em 0;
    z-index: $zindex-modal;
  }

  .modal-header {
    // background-image: url('~assets/svg/character/character_02.svg');
    background-repeat: no-repeat;
    background-position: center right 1em;
    background-size: auto 2em;
    background-color: $black;
    color: $white;
    padding: 1em 1em;
    h2 {
      font-size: $txt-small;
      font-weight: bold;
    }
  }

  .modal-dialog {
    position: relative;
    opacity: 1;
    min-width: 18em;
    max-width: 22em;
    background-color: $white;
    border-radius: 0;
    overflow: hidden;
    margin: 0 auto;
    z-index: $zindex-modal;
  }

  .modal-title {
    font-weight: 600;
    font-size: $txt-large;
  }

  .modal-content {
    padding: 1em 1.5em;
    // max-height: 80vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;

    img {
      width: 100%;
    }
  }

  .modal-footer {
    border-top: 1px solid $gray-300;
    .btn-box {
      display: flex;
      align-items: center;
      justify-content: center;
      .btn {
        flex: 1 0 auto;
        border: 0;
        border-radius: 0;
        outline: 0;
        + .btn {
          margin-left: 0;
          border-left: 1px solid $gray-300;
        }
      }
    }
  }
}
</style>
