<template>
  <CommonTable
    :headers="this.headers"
    :items="this.plans"
    page="plans"
    addBtn="상품"
  />
</template>

<script>
import CommonTable from '@/components/Admin/CommonTable';
export default {
  components: { CommonTable },
  layout: 'admin',
  data() {
    return {
      headers: [
        {
          text: 'UID',
          align: 'left',
          sortable: false,
          value: 'NO',
        },
        {
          text: '담당자',
          align: 'center',
          sortable: true,
          value: 'ADMIN_USER.NAME',
        },
        { text: '상품명', value: 'NAME', sortable: false },
        { text: '게재 시작일', value: 'START_DATE', sortable: false },
        { text: '게재 종료일', value: 'END_DATE', sortable: false },
      ],
    };
  },
  asyncData(context) {
    //user data 가져오기
    context.loading = true;
    return context.$axios
      .$get('/productAdmin')
      .then((res) => {
        context.loading = false;
        return { plans: res };
      })
      .catch((e) => console.log(e));
  },
  activated() {
    return this.$axios
      .$get('/productAdmin')
      .then((res) => {
        this.plans = res;
      })
      .catch((e) => console.log(e));
  },
};
</script>

<style lang="scss"></style>
