<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="6">
        <CardWithTitle title="업체이름 입력*">
          <v-text-field
            label="업체이름"
            v-model.trim="$v.name.$model"
            :error-messages="nameErrorMessage"
          ></v-text-field>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" sm="6">
        <CardWithTitle title="담당자 지정">
          <ManagerSelect roles="SPACE" @change="changeManager"></ManagerSelect>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-btn
      @click="save"
      :color="$vuetify.theme.isDark ? 'orange darken-4' : 'orange lighten-1'"
      :disabled="$v.$invalid"
      >저장하기</v-btn
    >
  </v-container>
</template>

<script>
import ManagerSelect from '@/components/Admin/ManagerSelect';
import { required } from 'vuelidate/lib/validators';
import { changeManager } from '@/assets/mixins/admin/changeManager';
export default {
  layout: 'admin',
  mixins: [changeManager],
  components: { ManagerSelect },
  data() {
    return {
      name: '',
    };
  },
  validations: {
    name: {
      required,
    },
  },
  computed: {
    nameErrorMessage() {
      let theMessage = '';
      if (!this.$v.name.required && this.$v.name.$dirty) {
        theMessage = '업체이름은 반드시 입력해야합니다';
      }
      return theMessage;
    },
  },
  methods: {
    save() {
      return this.$axios
        .$post('/companyAdmin', {
          MANAGER_NO: this.manager,
          NAME_KR: this.name,
        })
        .then((res) => {
          this.$router.push('/admin/company');
        })
        .catch((e) => console.log(e));
    },
  },
  deactivated() {
    this.$destroy();
  },
};
</script>

<style></style>
