<template>
  <div class="main-article" id="restaurantKitchen">
    <header class="article-header">
      <div class="inner-container">
        <div class="title-box">
          <h2>
            Work&amp;Life가 있는
            <br />외식업 창업
          </h2>
          <strong class="txt-bold txt-primary">나누다키친</strong>
        </div>
      </div>
    </header>
    <article class="article-content" ref="articleContent">
      <section class="article-section section-feature">
        <header class="section-header">
          <span class="num">01</span>
          <h3>
            <strong>저녁이 있는 외식업 창업</strong>
            <br />점심전용 공유주방, 나누다키친
          </h3>
        </header>
        <div class="section-content">
          <div class="img-box">
            <img
              src="@/assets/svg/restaurant-kitchen_balance/feature_01.svg"
              alt="이렇게 점심에 사람이 많은데! 점심에 장사를 안한다고? 내가 점심에 해볼까?"
              style="max-width: 20em;"
            />
          </div>
          <div class="txt-box mt-10">
            <p>
              기존 매장을 공유하여,
              <br />
              <strong class="txt-bold">평일 점심에만 운영</strong>하기 때문에
              <br />
              <strong class="txt-bold txt-primary"
                >저녁에는 나만의 생활을 즐길 수 있습니다</strong
              >
            </p>
          </div>
        </div>
      </section>
      <section class="article-section section-feature" id="featrue02">
        <header class="section-header">
          <span class="num">02</span>
          <h3>
            <strong>워라밸과 수익을 한 번에!</strong>
          </h3>
        </header>
        <div class="section-content">
          <div class="img-box">
            <img
              src="@/assets/svg/restaurant-kitchen_balance/feature_02.svg"
              alt
            />
          </div>
          <div class="txt-box mt-4">
            <p class="txt-mini txt-gray">
              * 창업 브랜드, 초기 비용, 매장, 상권에 따라 매출은 상이할 수
              있습니다.
              <br />*정산수익에 인건비(2명 약 260만원) 미포함
            </p>
            <div class="mt-8">
              <dl>
                <dt>
                  <strong class="txt-bold">매장별 월 매출</strong>
                </dt>
                <dd>
                  <strong class="txt-bold txt-primary">1,600만원!!</strong>
                </dd>
              </dl>
              <dl>
                <dt>
                  <strong class="txt-bold">창업자 월 정산수익</strong>
                </dt>
                <dd>
                  <strong class="txt-bold txt-primary">최대 750만원!!</strong>
                </dd>
              </dl>
            </div>
            <p class="mt-4">
              <strong>수익률을 높일 수 있는 브랜드 메뉴</strong>로 창업하세요
            </p>
          </div>
        </div>
      </section>
      <section class="article-section bg-light" id="brand">
        <div class="inner-container">
          <header class="section-header">
            <h3>나누다키친 브랜드</h3>
          </header>
          <div class="section-content">
            <div class="brand-slider" v-swiper:brand="brandOption">
              <div class="swiper-wrapper">
                <div
                  class="swiper-slide"
                  v-for="brand in brands"
                  :key="brand.NO"
                  :class="{ 'my-brand': brand.NAME_KR === '마이브랜드' }"
                >
                  <div class="brand-preview">
                    <div class="brand-img">
                      <img
                        :src="brand.MAIN_MENU_IMAGE[0].endpoint"
                        :alt="brand.NAME_KR"
                        v-if="
                          brand.MAIN_MENU_IMAGE &&
                          brand.MAIN_MENU_IMAGE.length > 0
                        "
                      />
                      <img
                        v-lazy="
                          require('@/assets/images/common/no_img_brand.png')
                        "
                        v-else
                      />
                    </div>
                    <div class="brand-content">
                      <h4 class="brand-title">{{ brand.NAME_KR }}</h4>
                      <p class="brand-desc" v-if="brand.DESC">
                        {{ brand.DESC }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 페이징 -->
              <div class="swiper-pagination"></div>
              <!-- 네비게이션 버튼  -->
              <NButton
                bg-color="rgba(0,0,0,.25)"
                icon
                circle
                class="swiper-button-prev"
              >
                <i class="icon icon-arrow-angle-left txt-bold"></i>
                <span class="is-blind">이전으로</span>
              </NButton>
              <NButton
                bg-color="rgba(0,0,0,.25)"
                icon
                circle
                class="swiper-button-next"
              >
                <i class="icon icon-arrow-angle-right txt-bold"></i>
                <span class="is-blind">다음으로</span>
              </NButton>
            </div>
          </div>
        </div>
      </section>
      <section class="article-section section-feature">
        <div class="inner-container">
          <header class="section-header mb-3">
            <span class="num">03</span>
            <h3>
              <strong>창업자 성공 STORY</strong>
            </h3>
          </header>
          <div class="section-content">
            <div class="txt-box mb-6">
              <p>
                나누다키친 창업자 &amp; 헬스 트레이너
                <br />
                <strong class="txt-bold">오승엽 사장님</strong>
              </p>
            </div>
            <div class="media-box">
              <span class="box-line top-line"></span>
              <span class="box-line bottom-line"></span>
              <div class="media-wrapper">
                <iframe
                  width="100%"
                  height="100%"
                  :src="media.URL"
                  rel="0"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <div class="txt-box mt-10">
              <p class="bg-double-quotes">
                예전에는 가족과의 시간도 부족했지만,
                <br />
                <strong class="txt-bold">
                  나누다키친을 시작한 후, 가족 그리고 친구까지
                  <br />함께 할 수 있는 시간이 늘어나서 좋았습니다
                </strong>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="article-section section-feature" id="feature04">
        <div class="inner-container">
          <header class="section-header">
            <span class="num">04</span>
            <h3>
              창업 준비 하나부터 열까지
              <br />
              <strong>NND ALL IN ONE 패키지로!</strong>
            </h3>
          </header>
          <div class="section-content">
            <RestaurantProcess />
            <div class="txt-box txt-center">
              <p class="txt-black">
                초기 창업 비용 1,500 ~ 1,800만 원대로
                <br />
                <strong class="txt-bold">창업자님의 성공적인 창업</strong>을
                <br />나누다키친이 함께합니다.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- <section class="article-section section-feature">
        <header class="section-header">
          <span class="num">05</span>
          <h3>
            2020년 식당형 공유주방<br />
            <strong>대표브랜드 나누다키친</strong>
          </h3>
        </header>
        <div class="section-content">
          <div class="partner-slider store-slider">
            <div v-swiper:swiper="partnerOption">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    src="@/assets/images/restaurant-kitchen_costs/partner_sharing_city_seoul.png"
                    alt="2019 서울형 강소기업 선정"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="@/assets/images/restaurant-kitchen_costs/partner_ibk_bank.png"
                    alt="시리즈A 23억 투자 유치"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="@/assets/images/restaurant-kitchen_costs/partner_kb_bank.png"
                    alt="KB금융그룹 MOU"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="@/assets/images/restaurant-kitchen_costs/partner_cj_oventus2.png"
                    alt="CJ 상생 프로그램 오벤터스 선정"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="@/assets/images/restaurant-kitchen_costs/partner_i_seoul_u.png"
                    alt="서울시 공유기업 인증"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="txt-box mt-8">
            <p class="txt-black">
              사업성과 안정성을 한 번에! <br />
              <strong class="txt-bold">서울시부터 금융권까지 인증받은</strong
              ><br />
              공유주방 대표 브랜드 나누다키친<br />
            </p>
          </div>
        </div>
      </section>-->
      <!-- <section class="article-section bg-primary mx-0" id="promotion">
        <div class="inner-container">
          <div class="title-box">
            <h3 class="txt-huge txt-bolder txt-white txt-left pl-6">
              8월 특별<br />
              프로모션
            </h3>
          </div>
          <div class="img-box">
            <img
              src="@/assets/svg/restaurant-kitchen_costs/promotion_character.svg"
              alt=""
            />
            <span class="bg-conin coin-01"></span>
            <span class="bg-conin coin-02"></span>
            <span class="bg-conin coin-03"></span>
          </div>
          <div class="txt-box mt-4">
            <p class="txt-large txt-bold txt-gray-700">
              8월 내 가계약 시 <br />나누다키친 창업지원금 지원
            </p>
            <p class="txt-large txt-bolder txt-white mt-4">
              선착순 20명 모집 - 조기 마감 주의!
            </p>
          </div>
        </div>
      </section>-->
    </article>
    <!-- 상담신청-->
    <AppRequestBox :isScrolled="isScrolled">
      <template v-slot:infoArea>
        <div class="txt-box">
          <p class="txt-small txt-black">
            식당형 공유주방에 최적화된
            <br />나누다키친을 지금 만나보세요.
          </p>
        </div>
      </template>
      <template v-slot:btnArea>
        <NButton
          color="primary"
          size="medium"
          rounded
          class="mk_pl_request_down_btn"
          v-scroll-to="{ el: '#registerForm', offset: -60 }"
          >상담신청</NButton
        >
      </template>
    </AppRequestBox>
  </div>
</template>
<script>
import RestaurantProcess from '@/components/RestaurantKitchen/RestaurantProcess';
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤 이베트

export default {
  mixins: [infoAppRequest, handleScroll],
  props: {
    brands: {
      type: Array,
      default: null,
    },
    media: {
      type: Object,
      default: null,
    },
  },
  components: {
    RestaurantProcess,
  },
  data() {
    return {
      baseUrl: process.env.baseUrl,
      brandOption: {
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: false,
        freeMode: true,
        spaceBetween: 20,
        grabCursor: true,
        navigation: {
          nextEl: '.swiper-button-next ',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
      partnerOption: {
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: true,
        freeMode: true,
        spaceBetween: 0,
        grabCursor: true,
        navigation: false,
        pagination: false,
      },
    };
  },
  methods: {
    scrollFunc() {
      // 스크롤 이벤트
      this.appVisitFixed();
    },
  },
};
</script>
<style lang="scss">
#restaurantKitchen {
  .brand-slider {
    padding: 0 3em;
    .swiper-slide {
      width: 15.65em;
      display: flex;
      height: auto;
      .brand-preview {
        background-color: $primary;
      }

      &.my-brand {
        .brand-preview {
          background-color: $secondary;
        }
        .brand-img {
          &:after {
            background: linear-gradient(
              to bottom,
              rgb(2 63 171 / 38%) 0%,
              rgba(0, 0, 0, 0) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000",GradientType=0 );
          }
        }
        .brand-content {
          background-color: $secondary;
        }
      }
    }
    .swiper-pagination {
      position: static;
      margin-top: 1em;
    }

    .brand-preview {
      border-radius: 2.5rem;
      overflow: hidden;
      border: 0;
      .brand-img {
        position: relative;

        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 30%;
          @include gradientBlack();
          transform: scaleY(-1);
        }
      }
      .brand-content {
        position: relative;
        padding: 1.25em 0.5em;
        margin-top: -1.25em;
        border-radius: 2.5rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: $primary;
        color: $white;

        .brand-title {
          font-size: $txt-medium;
          font-weight: 600;
          line-height: 1;
        }
        .brand-desc {
          padding-top: 1em;
          margin-top: 1em;
          font-size: $txt-tiny;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .partner-slider {
    margin: 0 -1.25em;

    .swiper-slide {
      width: 15.65em;
    }
  }
  .article-header {
    position: relative;
    padding: 10.625em 0;
    background: url('~assets/images/restaurant-kitchen_costs/bg_top_visual.jpg')
      no-repeat center center;
    background-size: cover;
    border-bottom: 1em solid $primary;

    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #212121;
      opacity: 0.6;
      z-index: 1;
    }

    .title-box {
      position: relative;
      z-index: 2;
      text-align: center;
      color: $white;

      h2 {
        font-size: 2.4rem;
        font-weight: 600;
      }
      strong {
        display: block;
        font-size: 3.3rem;
        font-weight: 800;
        margin-top: 1.6rem;
      }
    }
  }
  .article-section {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    text-align: center;
    margin: 0 1.25em;

    + .article-section {
      border-top: 1px solid $border-color;
    }

    .img-box {
      img {
        max-width: 32em;
      }
    }

    .section-header {
      margin-bottom: 2em;

      h3 {
        color: $black;
        font-weight: $txt-bold;
        font-size: $txt-medium;

        strong {
          color: $primary;
          font-weight: $txt-bolder;
          font-size: 2.2rem;
        }
      }
      p {
        margin-top: 1rem;
        font-size: $txt-small;
      }
    }

    &.section-feature {
      .section-header {
        .num {
          display: block;
          width: 2em;
          height: 2em;
          line-height: 2em;
          background-color: $primary;
          border-radius: 50%;
          margin: 0 auto 1rem;
          color: $white;
          font-weight: 600;
          font-family: 'Gotham', sans-serif;
        }
      }
      .section-content {
        .img-box {
          text-align: center;
        }
        .txt-box {
          font-size: $txt-small;
          color: $gray-700;
          p {
            line-height: 1.8;
          }
          .txt-point {
            display: inline-block;
            position: relative;
            &:before {
              display: block;
              content: '';
              width: 3px;
              height: 3px;
              background-color: $black;
              border-radius: 50%;
              margin: 0 auto;
            }
            i {
              font-style: italic;
              font-weight: 600;
            }
          }
          p {
            + p {
              margin-top: 1.5em;
            }
          }
        }
      }
    }

    &#brand {
      position: relative;
      margin: 0;
      border-top: 0;

      &:before {
        display: inline-block;
        content: '';
        margin: 0 auto;
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: -2rem;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 2rem solid $light;
      }
    }

    &#promotion {
      position: relative;
      padding: 3em 0 4em;
      .bg-conin {
        position: absolute;
        width: 9.375em;
        height: 6.25em;
        // background-image: url('~assets/images/restaurant-kitchen_costs/promotion_coin01.png');
        background-size: cover;
        &.coin-01 {
          top: -1em;
          right: -1.25em;
        }
        &.coin-02 {
          bottom: 6em;
          right: -2em;
        }
        &.coin-03 {
          bottom: -5em;
          left: -1.5em;
          width: 14.06em;
          height: 9.375em;
          transform: scaleX(-1);
        }
      }

      .txt-box {
        position: relative;
        z-index: 2;
      }
    }
  }
  .media-box {
    position: relative;
    background-color: $light;
    padding: 1.25em 1em;
    .box-line {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 0.3125em;
      background: url('~assets/images/restaurant-kitchen_balance/bg_line_pattern.png')
        repeat-x left center;
      background-size: auto 0.3125em;

      &:before,
      &:after {
        display: block;
        content: '';
        width: 0.5em;
        height: 0.3125em;
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        background-size: auto 0.3125em;
      }

      &:before {
        left: -0.125em;
        background-image: url('~assets/images/restaurant-kitchen_balance/bg_line_left.png');
        background-position: center left;
      }
      &:after {
        right: -0.125em;
        background-image: url('~assets/images/restaurant-kitchen_balance/bg_line_right.png');
        background-position: center right;
      }

      &.top-line {
        top: 0;
      }
      &.bottom-line {
        bottom: 0;
      }
    }

    .media-wrapper {
      position: relative;
      padding-bottom: 50%;
      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .bg-double-quotes {
    &:before,
    &:after {
      display: block;
      content: '';
      margin: 1em auto;
      width: 1em;
      height: 0.75em;
      background: url('~assets/svg/restaurant-kitchen_balance/bg_double_quotes.svg')
        no-repeat center center;
      background-size: contain;
    }
    &:after {
      transform: rotate(180deg);
    }
  }
}

#featrue02 {
  dl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
    dt {
      flex: 1;
      text-align: right;
    }
    dd {
      flex: 1;
      text-align: left;
      margin-left: 1em;
    }
  }
}
</style>
