<template>
  <div class="matching-process-step-list">
    <ol class="matching-process-step-list-container">
      <li class="matching-process-step-list-item">
        <div class="icon-box">
          <img
            src="@/assets/svg/restaurant-kitchen/matching_process_step_01.svg"
            alt=""
          />
        </div>
        <div class="txt-box">
          <h4>상담신청</h4>
          <p>개별 상담<br />정보 제공</p>
        </div>
      </li>
      <li class="matching-process-step-list-item">
        <div class="icon-box">
          <img
            src="@/assets/svg/restaurant-kitchen/matching_process_step_02.svg"
            alt=""
          />
        </div>
        <div class="txt-box">
          <h4>계약 체결</h4>
          <p>희망 매장 방문<br />브랜드 선택</p>
        </div>
      </li>
      <li class="matching-process-step-list-item">
        <div class="icon-box">
          <img
            src="@/assets/svg/restaurant-kitchen/matching_process_step_03.svg"
            alt=""
          />
        </div>
        <div class="txt-box">
          <h4>오픈 교육</h4>
          <p>레시피 교육 <br />위생 교육<br />현장 실습 교육</p>
        </div>
      </li>
      <li class="matching-process-step-list-item">
        <div class="icon-box">
          <img
            src="@/assets/svg/restaurant-kitchen/matching_process_step_04.svg"
            alt=""
          />
        </div>
        <div class="txt-box">
          <h4>최종 리허설</h4>
          <p>내/외부 홍보물<br />키오스크 설치<br />레시피 점검</p>
        </div>
      </li>
      <li class="matching-process-step-list-item">
        <div class="promotion-balloon">
          <p class="txt-mini txt-black">
            <strong class="txt-bold"
              >·EVENT· <br />
              한정 프로모션</strong
            ><br />
            <span class="txt-white">창업지원금<br />지원</span>
          </p>
        </div>
        <div class="icon-box">
          <img
            src="@/assets/svg/restaurant-kitchen/matching_process_step_05.svg"
            alt=""
          />
        </div>
        <div class="txt-box">
          <h4>오픈 ~ 오픈 후</h4>
          <p>
            본사지원(D-1~ D+1)<br />온/오프라인 마케팅 지원<br />매장 정산 대행
          </p>
        </div>
      </li>
    </ol>
  </div>
</template>

<style lang="scss">
.matching-process-step-list {
  .matching-process-step-list-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33.33% 33.33% 33.33%;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.5em;
  }
  .matching-process-step-list-item {
    position: relative;
    padding: 1em 0.25em;
    border: 2px solid $light;
    text-align: center;
    min-height: 15em;

    &:after {
      display: flex;
      justify-content: center;
      align-items: center;
      content: '\e927';
      width: 2em;
      height: 2em;
      background-color: $primary;
      border-radius: 50%;
      position: absolute;
      right: -1.25em;
      top: 50%;
      z-index: 1;
      transform: translate(0, -50%);
      font-family: 'nanuda' !important;
      font-weight: $txt-bold;
      color: $white;
    }
    &:nth-child(1) {
      -ms-grid-column: 1;
      grid-column: 1;
    }
    &:nth-child(2) {
      -ms-grid-column: 2;
      grid-column: 2;
    }
    &:nth-child(3) {
      -ms-grid-column: 3;
      grid-column: 3;

      &:after {
        top: auto;
        right: 50%;
        bottom: -1.25em;
        transform: translate(50%, 0);
        content: '\e924';
      }
    }
    &:nth-child(4) {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      grid-column: 3 / 4;
      -ms-grid-row: 2;
      grid-row: 2;

      &:after {
        left: -1.25em;
        right: auto;
        content: '\e926';
      }
    }
    &:nth-child(5) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/3;
      -ms-grid-row: 2;
      grid-row: 2;
      background-color: $light;

      &:after {
        display: none;
      }

      .icon-box {
        margin: 0.75em 0;
        img {
          height: 4.2em;
        }
      }
    }
    .icon-box {
      margin: 1.25em 0;
      img {
        height: 3.5em;
      }
    }
    .txt-box {
      h4 {
        font-size: $txt-medium;
        font-weight: $txt-bold;
        color: $black;
      }
      p {
        font-size: $txt-tiny;
        margin-top: 0.5em;
      }
    }

    .promotion-balloon {
      position: absolute;
      top: -2em;
      left: 50%;
      margin-left: -6.75em;
      background-color: $primary;
      width: 5em;
      height: 5em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:after {
        display: block;
        content: '';
        width: 1.5em;
        height: 1em;
        position: absolute;
        right: 0.25em;
        bottom: 1em;
        transform: rotate(50deg) skew(125deg);
        background-color: $primary;
        border-radius: 4px;
        z-index: 0;
      }
      p {
        position: relative;
        z-index: 1;
        transform: scale(0.85);
      }
    }
  }
}
</style>
