<template>
  <div class="main-article" id="restaurantKitchen">
    <header class="article-header">
      <div class="inner-container">
        <div class="title-box">
          <h2>
            <b class="txt-bold">소자본 창업</b>에 <br /><b class="txt-bold"
              >높은 수익</b
            >을 원한다면
          </h2>
          <strong class="txt-bold txt-primary">나누다키친</strong>
        </div>
      </div>
    </header>
    <article class="article-content" ref="articleContent">
      <section class="article-section section-featrue">
        <header class="section-header">
          <span class="num">01</span>
          <h3>
            외식업 소자본 창업 트렌드
            <br />
            <strong>공유주방</strong>
          </h3>
          <p>
            나누다키친은 기존의 식당을
            <strong class="txt-bold">‘공유’</strong> 합니다
          </p>
        </header>
        <div class="section-content">
          <div class="img-box">
            <img
              src="@/assets/svg/restaurant-kitchen_costs/feature_01.svg"
              alt="이렇게 점심에 사람이 많은데! 점심에 장사를 안한다고? 내가 점심에 해볼까?"
              style="max-width: 20em;"
            />
          </div>
          <div class="txt-box mt-10">
            <p>
              <strong class="txt-bold">밤에만 운영하는 식당</strong>에서
              <br />
              <strong class="txt-bold">점심 전용 식당을 운영</strong>하는
              <br />
              <strong class="txt-primary txt-bold"
                >공유주방 브랜드 나누다키친</strong
              >
            </p>
          </div>
        </div>
      </section>
      <section class="article-section section-featrue">
        <header class="section-header">
          <span class="num">02</span>
          <h3>
            불황에도 흔들리지 않는
            <br />
            <strong>수익률!</strong>
          </h3>
        </header>
        <div class="section-content">
          <div class="img-box">
            <img
              src="@/assets/svg/restaurant-kitchen_costs/feature_02.svg"
              alt
            />
          </div>
          <div class="txt-box mt-4">
            <p class="txt-primary txt-bold">
              강남 . 서초 . 종로 . 구로 . 용산 등
            </p>
            <p>
              점심을
              <strong class="txt-medium txt-black txt-border txt-point">
                꼭
                <i>!</i>&nbsp;
              </strong>
              먹어야 하는 직장인이 많은 곳에서
              <br />
              <strong class="txt-black txt-bold">
                높은 수익을 낼 수 있는
                <br />나누다키친 브랜드로 창업하세요!
                <br />
              </strong>
            </p>
          </div>
        </div>
      </section>
      <section class="article-section bg-light" id="brand">
        <div class="inner-container">
          <header class="section-header">
            <h3>나누다키친 브랜드</h3>
          </header>
          <div class="section-content">
            <div class="brand-slider" v-swiper:brand="brandOption">
              <div class="swiper-wrapper">
                <div
                  class="swiper-slide"
                  v-for="brand in brands"
                  :key="brand.NO"
                  :class="{ 'my-brand': brand.NAME_KR === '마이브랜드' }"
                >
                  <div class="brand-preview">
                    <div class="brand-img">
                      <img
                        :src="brand.MAIN_MENU_IMAGE[0].endpoint"
                        :alt="brand.NAME_KR"
                        v-if="
                          brand.MAIN_MENU_IMAGE &&
                          brand.MAIN_MENU_IMAGE.length > 0
                        "
                      />
                      <img
                        v-lazy="
                          require('@/assets/images/common/no_img_brand.png')
                        "
                        v-else
                      />
                    </div>
                    <div class="brand-content">
                      <h4 class="brand-title">{{ brand.NAME_KR }}</h4>
                      <p class="brand-desc" v-if="brand.DESC">
                        {{ brand.DESC }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 페이징 -->
              <div class="swiper-pagination"></div>
              <!-- 네비게이션 버튼  -->
              <NButton
                bg-color="rgba(0,0,0,.25)"
                icon
                circle
                class="swiper-button-prev"
              >
                <i class="icon icon-arrow-angle-left txt-bold"></i>
                <span class="is-blind">이전으로</span>
              </NButton>
              <NButton
                bg-color="rgba(0,0,0,.25)"
                icon
                circle
                class="swiper-button-next"
              >
                <i class="icon icon-arrow-angle-right txt-bold"></i>
                <span class="is-blind">다음으로</span>
              </NButton>
            </div>
          </div>
        </div>
      </section>
      <section class="article-section section-featrue">
        <header class="section-header">
          <span class="num">03</span>
          <h3>
            <strong>투자비용과 원금 회수</strong>는 <br />외식업 창업의 성공
            기준
          </h3>
        </header>
        <div class="section-content">
          <div class="img-box">
            <img
              src="@/assets/svg/restaurant-kitchen_costs/feature_03.svg"
              alt
            />
            <table class="is-blind">
              <thead>
                <tr>
                  <th scope="row">비고</th>
                  <th scope="col">식당형 공유주방 나누다키친</th>
                  <th scope="col">일반 음식점</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">초기창업비용</th>
                  <td>1,500 ~ 1,800만원</td>
                  <td>1억 ~ 2억 이상</td>
                </tr>
                <tr>
                  <th scope="row">월 매출</th>
                  <td>1,400 ~ 1,600만원</td>
                  <td>3,000 ~ 4,000만원</td>
                </tr>
                <tr>
                  <th scope="row">운영 시간</th>
                  <td>주 5일 근무 점심에만 운영 (only 평일)</td>
                  <td>주 6일 근무(평일,주말) 점심, 저녁 운영</td>
                </tr>
                <tr>
                  <th scope="row">원금 회수 기간</th>
                  <td>6~7개월</td>
                  <td>최소 1 ~ 2년 이상</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="txt-box">
            <p class="txt-mini txt-gray">
              * 창업 브랜드, 초기 비용, 매장, 상권에 따라 매출은 상이할 수
              있습니다.
            </p>
          </div>
          <div class="txt-box mt-8">
            <p class="txt-black">
              나누다키친은
              <br />
              <strong class="txt-bold"
                >권리금, 보증금, 인테리어 비용이 없이</strong
              >
              <br />소자본창업은 물론!
              <br />
              <strong class="txt-bold">높은 매출과 짧은 원금 회수 기간</strong
              >까지!
            </p>
          </div>
        </div>
      </section>
      <section class="article-section section-featrue">
        <div class="inner-container">
          <header class="section-header">
            <span class="num">04</span>
            <h3>
              창업 준비 하나부터 열까지
              <br />
              <strong>NND ALL IN ONE 패키지로!</strong>
            </h3>
          </header>
          <div class="section-content">
            <RestaurantProcess />
            <div class="txt-box mt-8">
              <p class="txt-black">
                창업자님의 성공적인 창업을 위하여
                <br />나누다키친이 함께합니다!
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="article-section section-featrue">
        <header class="section-header">
          <span class="num">05</span>
          <h3>
            2020년 식당형 공유주방
            <br />
            <strong>대표브랜드 나누다키친</strong>
          </h3>
        </header>
        <div class="section-content">
          <div class="partner-slider store-slider">
            <div v-swiper:swiper="partnerOption">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    src="@/assets/images/restaurant-kitchen_costs/partner_sharing_city_seoul.png"
                    alt="2019 서울형 강소기업 선정"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="@/assets/images/restaurant-kitchen_costs/partner_ibk_bank.png"
                    alt="시리즈A 23억 투자 유치"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="@/assets/images/restaurant-kitchen_costs/partner_kb_bank.png"
                    alt="KB금융그룹 MOU"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="@/assets/images/restaurant-kitchen_costs/partner_cj_oventus2.png"
                    alt="CJ 상생 프로그램 오벤터스 선정"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="@/assets/images/restaurant-kitchen_costs/partner_i_seoul_u.png"
                    alt="서울시 공유기업 인증"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="txt-box mt-8">
            <p class="txt-black">
              사업성과 안정성을 한 번에!
              <br />
              <strong class="txt-bold">서울시부터 금융권까지 인증받은</strong>
              <br />공유주방 대표 브랜드 나누다키친
              <br />
            </p>
          </div>
        </div>
      </section>
      <section class="article-section" id="promotion">
        <div class="inner-container">
          <div class="title-box pl-2">
            <h3 class="txt-bolder txt-primary txt-left">
              {{ new Date().getMonth() + 1 }}월<br />특별 프로모션
            </h3>
          </div>
          <div class="txt-box txt-gray-700 txt-left mt-4 pl-2">
            <p class="txt-small">
              {{ new Date().getMonth() + 1 }}월 내 가계약 시 <br />나누다키친
              창업지원금 지원
            </p>
            <p class="txt-small txt-bold mt-2">
              선착순 20명 모집<br />조기 마감 주의!
            </p>
          </div>
        </div>
      </section>
    </article>
    <!-- 상담신청-->
    <AppRequestBox :isScrolled="isScrolled">
      <template v-slot:infoArea>
        <div class="txt-box">
          <p class="txt-small txt-black">
            식당형 공유주방에 최적화된
            <br />나누다키친을 지금 만나보세요.
          </p>
        </div>
      </template>
      <template v-slot:btnArea>
        <NButton
          color="primary"
          size="medium"
          rounded
          class="mk_pl_request_down_btn"
          v-scroll-to="{ el: '#registerForm', offset: -60 }"
          >상담신청</NButton
        >
      </template>
    </AppRequestBox>
  </div>
</template>
<script>
import RestaurantProcess from '@/components/RestaurantKitchen/RestaurantProcess';
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤 이베트

export default {
  mixins: [infoAppRequest, handleScroll],
  props: {
    brands: {
      type: Array,
      default: null,
    },
  },
  components: {
    RestaurantProcess,
  },
  data() {
    return {
      brandOption: {
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: false,
        freeMode: true,
        spaceBetween: 20,
        grabCursor: true,
        navigation: {
          nextEl: '.swiper-button-next ',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
      partnerOption: {
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: true,
        freeMode: true,
        spaceBetween: 0,
        grabCursor: true,
        navigation: false,
        pagination: false,
      },
    };
  },
  methods: {
    scrollFunc() {
      // 스크롤 이벤트
      this.appVisitFixed();
    },
  },
};
</script>
<style lang="scss">
#restaurantKitchen {
  .brand-slider {
    padding: 0 3em;
    .swiper-slide {
      width: 15.65em;
      display: flex;
      height: auto;
      .brand-preview {
        background-color: $primary;
      }

      &.my-brand {
        .brand-preview {
          background-color: $secondary;
        }
        .brand-img {
          &:after {
            background: linear-gradient(
              to bottom,
              rgb(2 63 171 / 38%) 0%,
              rgba(0, 0, 0, 0) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000",GradientType=0 );
          }
        }
        .brand-content {
          background-color: $secondary;
        }
      }
    }
    .swiper-pagination {
      position: static;
      margin-top: 1em;
    }

    .brand-preview {
      border-radius: 2.5rem;
      overflow: hidden;
      border: 0;
      .brand-img {
        position: relative;

        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 30%;
          @include gradientBlack();
          transform: scaleY(-1);
        }
      }
      .brand-content {
        position: relative;
        padding: 1.25em 0.5em;
        margin-top: -1.25em;
        border-radius: 2.5rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: $primary;
        color: $white;

        .brand-title {
          font-size: $txt-medium;
          font-weight: 600;
          line-height: 1;
        }
        .brand-desc {
          padding-top: 1em;
          margin-top: 1em;
          font-size: $txt-tiny;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  .partner-slider {
    margin: 0 -1.25em;

    .swiper-slide {
      width: 15.65em;
    }
  }
  .article-header {
    position: relative;
    padding: 10.625em 0;
    background: url('~assets/images/restaurant-kitchen_costs/bg_top_visual.jpg')
      no-repeat center center;
    background-size: cover;
    border-bottom: 1em solid $primary;

    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #212121;
      opacity: 0.6;
      z-index: 1;
    }

    .title-box {
      position: relative;
      z-index: 2;
      text-align: center;
      color: $white;

      h2 {
        font-size: 2.4rem;
        font-weight: 400;
      }
      strong {
        display: block;
        font-size: 3.3rem;
        font-weight: 800;
        margin-top: 1.6rem;
      }
    }
  }
  .article-section {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    text-align: center;
    margin: 0 1.25em;

    + .article-section {
      border-top: 1px solid $border-color;
    }

    .img-box {
      img {
        max-width: 32em;
      }
    }

    .section-header {
      margin-bottom: 2em;

      h3 {
        color: $black;
        font-weight: $txt-bold;
        font-size: $txt-medium;

        strong {
          color: $primary;
          font-weight: $txt-bolder;
          font-size: 2.2rem;
        }
      }
      p {
        margin-top: 1rem;
        font-size: $txt-small;
      }
    }

    &.section-featrue {
      .section-header {
        .num {
          display: block;
          width: 2em;
          height: 2em;
          line-height: 2em;
          background-color: $primary;
          border-radius: 50%;
          margin: 0 auto 1rem;
          color: $white;
          font-weight: 600;
          font-family: 'Gotham', sans-serif;
        }
      }
      .section-content {
        .img-box {
          text-align: center;
        }
        .txt-box {
          font-size: $txt-small;
          color: $gray-700;
          p {
            line-height: 1.8;
          }
          .txt-point {
            display: inline-block;
            position: relative;
            &:before {
              display: block;
              content: '';
              width: 3px;
              height: 3px;
              background-color: $black;
              border-radius: 50%;
              margin: 0 auto;
            }
            i {
              font-style: italic;
              font-weight: 600;
            }
          }
          p {
            + p {
              margin-top: 24px;
            }
          }
        }
      }
    }

    &#brand {
      position: relative;
      margin: 0;
      border-top: 0;

      &:before {
        display: inline-block;
        content: '';
        margin: 0 auto;
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: -2rem;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 2rem solid $light;
      }
    }

    &#promotion {
      position: relative;
      padding: 7.5em 0 4em;
      margin-top: 5.625em;

      &:after {
        display: block;
        content: '';
        width: 10em;
        height: 11.25em;
        background: url('~assets/svg/restaurant-kitchen_costs/promotion_character.svg')
          no-repeat center center;
        background-size: 10em 11.25em;
        position: absolute;
        right: 2em;
        top: -3.75em;
      }

      .title-box {
        h3 {
          font-size: 2.8rem;
        }
      }

      .txt-box {
        position: relative;
        z-index: 2;
      }
    }
  }
}
</style>
