<template>
  <div :class="category" class="file-upload-wrapper">
    <div class="d-flex align-items-stretch flex-wrap">
      <div class="file-upload">
        <div class="btn-wrapper" @click="clearLocalChunk">
          <label :for="category" class="btn-fileupload">
            <img src="@/assets/images/common/bg_thumb.png" width="100%" />
            <div class="label-text">
              <div>
                <span class="icon icon-camera txt-big"></span>
                <span v-html="label" class="text">{{ label }}</span>
              </div>
            </div>
          </label>
          <div class="dim-layer" v-show="visibleBtn" @click="hideTooltip"></div>
          <file-upload
            :input-id="category"
            :name="category"
            :post-action="`${baseUrl}/fileUpload`"
            :multiple="!(category == 'MAIN_SPACE')"
            :drop="false"
            :drop-directory="false"
            v-model="files"
            :data="{ NO: uid }"
            :ref="category"
            @input-filter="inputFilter"
            @input-file="inputFile"
            :timeout="20 * 1000"
            class="is-blind"
            :class="addClass"
          ></file-upload>
        </div>
        <slot></slot>
      </div>
      <div class="image-list">
        <div v-swiper:uploadList="swiperOption">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              v-for="(file, index) in files"
              :key="index"
            >
              <div class="image-thumb">
                <!-- 
                  <img
                    src="@/assets/images/common/bg_thumb.png"
                    :style="`background-image:url(${file.blob})`"
                    width="100%"
                    v-if="file.blob"
                  />
                -->
                <AutoRotate class="thumb-cropped">
                  <img :src="file.blob" width="100%" />
                </AutoRotate>

                <Button
                  class="btn btn-delete"
                  @click="$refs[category].remove(file)"
                >
                  <i class="icon-close"></i>
                  <span class="is-blind">삭제</span>
                </Button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { imageUpload } from "@/assets/mixins/imageUpload";
import Ripple from "@/components/UI/Ripple";
// import autoRotate from "vue-jpeg-auto-rotation";

export default {
  mixins: [imageUpload],
  components: { Ripple },
  props: ["category", "label", "visibleBtn", "addClass"],
  data() {
    return {
      swiperOption: {
        // 업로드 이미지 슬라이드 옵션
        loop: false,
        slidesPerView: "auto",
        centeredSlides: false,
        freeMode: true,
        spaceBetween: 0,
        grabCursor: true
      }
    };
  },
  methods: {
    hideTooltip() {
      this.$emit("click");
    }
  }
};
</script>

<style lang="scss">
.file-upload-wrapper {
  position: relative;

  .btn-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 0.25em;
    overflow: hidden;

    .dim-layer {
      position: absolute;
      background-color: transparent;
      z-index: 2;
      opacity: 1;
      transition: opacity 0.4s ease-out;
    }
  }

  &.is-active {
    .btn-wrapper {
      z-index: $zindex-modal;
      .dim-layer {
        opacity: 0;
      }
    }
  }

  &:not(.is-active) {
    .file-upload {
      .label-text {
        &:hover {
          background-color: #c4c4c4;
        }
      }
    }
  }

  .file-upload {
    display: flex;
    align-items: center;
    width: 6.25em;
    padding: 0;
    margin-top: 0.5em;
    margin-right: 1em;
  }
  .image-list {
    width: calc(100% - 7.25em);
    padding: 0;

    .swiper-container {
      padding-right: 2em;
      .swiper-slide {
        margin-right: 0.5em;
        width: auto;
      }
    }

    .image-thumb {
      margin-top: 0.5em;
      margin-right: 0.5em;
      padding: 1px;

      .thumb-cropped {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        border-radius: 0.25em;
        width: 6.25em;
        height: 6.25em;
        background-color: #ddd;

        img {
          height: 100%;
          max-width: none;
          width: auto;
        }

        &:after {
          display: block;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          user-select: none;
        }
      }
    }

    .btn-delete {
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      padding: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      span {
        padding: 0;
        font-size: 0;
      }
    }
  }
  .btn-fileupload {
    position: relative;
    display: block;
    background-color: #dddddd;
    width: 100%;
    height: 100%;
    border-radius: 0.25em;
    overflow: hidden;
    cursor: pointer;

    img {
      display: block;
    }

    .label-text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $gray;
      font-size: 1.6rem;
      font-weight: 600;
      transition: all 0.4s ease-in-out;
      padding: 0.5em;

      .icon {
        display: block;
        text-align: center;

        img {
          display: inline-block;
          width: 40%;
        }
      }
      .text {
        display: block;
        font-size: 1.2rem;
        margin-top: 0.5em;
        span {
          display: inline-block;
        }
      }
    }
  }
}
</style>
