<template>
  <Agreement>
    <div class="section-content">
      <div class="o-list txt-tiny">
        <ol>
          <li>
            본 동의서는 ㈜위대한상사(이하 “회사”)가 운영하는 ‘나누다키친’ 온라인 홈페이지에
            “공간등록”을 신청하기 이전에 아래의 사항들에 대하여 사전동의를 함을 그 목적으로 합니다.
          </li>
          <li>
            회사가 운영하는 온라인 홈페이지에
            <span class="txt-primary txt-bold">
              공간등록 서비스 기간은 90일이며
              양당사자 협의 하에 기간의 축소 또는 연장 가능
            </span>합니다.
            공간등록자는 나누다키친에 등록한 공간이 노출된 후
            <span class="txt-primary txt-bold">
              협의한 기간동안 사전 동의 또는 고지 없이 타 중개 업체 및 중개인,
              기타 중개관련 기관 등과 공간 제공에 대한
              일체의 거래를 진행하지 않을 것에 동의
            </span>합니다.
          </li>
          <li>
            공간 등록 후 부득이한 사유로
            <span class="txt-primary txt-bold">공간제공이 불가한 상황이 발생 시</span> 공간등록자는 발생
            <span class="txt-primary txt-bold">즉시 해당 내용을 회사에 고지</span>하여
            공간 제공의 변경 또는 중지를 할 수 있습니다. 회사는 요청 후 48시간 이내에 요청한 사항에 대한 처리를 진행합니다.
          </li>
          <li>
            공간등록자는 공간이 등록되어 웹페이지에 노출된 기간 동안
            회사를 통해 대여를 희망하는 자가 연결된 경우
            <span
              class="txt-primary txt-bold"
            >
              회사와 협의된 시간에 협의된 방식으로
              실사 요청에 응하며 성실하게 협조
            </span>해야 합니다.
            단, 실사요청을 받은 후 부득이한 사유로
            <span class="txt-primary txt-bold">
              공간실사가 불가한 상황 발생 시
              발생 기준 최소 24시간 전에 해당 내용을 회사에 고지
            </span>하는 것에 동의합니다.
          </li>
          <li>
            회사는 공간등록자에게
            <span class="txt-primary txt-bold">사전에 예정된 공간실사를 고지</span>해야 하며,
            공간등록자가 부재할 경우 원활한
            <span class="txt-primary txt-bold">
              공간실사를 위하여 공간의 패스워드,
              보안키, 열쇠 등을 공간등록자에게 요청할 수 있으며
              공간등록자는 이에 최대한 협조
            </span>할 것에 동의합니다.
          </li>
          <li>
            협의에 의해 웹페이지에 등록된 기간 동안
            <span class="txt-primary txt-bold">
              회사에 사전 고지나 통보 없이
              매장을 임의로 대여하여 회사와 회사가 연결한 대여 희망자에게 피해가 발생하거나
              합법적 운영을 할 수 없는 개인간 불법 거래를 체결한 경우
              회사는 위약금을 요청할 수 있으며,
              해당 위약금에 대해서는 등록 전 담당자가 사전고지 및 동의를 유선으로 진행합니다.
            </span>
          </li>
        </ol>
      </div>
      <div class="txt-box txt-center mt-12 mb-12">
        <!-- 계약자 이름 노출 -->
        <p>
          {{ new Date().getFullYear() }}년 {{ new Date().getMonth() + 1 }}월
          {{ new Date().getDate() }}일
        </p>
      </div>
      <div class="txt-box txt-center mt-8">
        <p class="txt-black txt-bold">
          본 동의서는（주)위대한상사 법률부문 공식파트너인
          <br />
          <img
            src="@/assets/images/register/logo_lawforest.jpg"
            width="24"
            style="vertical-align:middle"
          /> 법률사무소 숲에서 감수하였습니다.
        </p>
      </div>
    </div>
  </Agreement>
</template>
<script>
import Agreement from "@/components/Agreement/Agreement";
export default {
  components: {
    Agreement
  }
};
</script>
<style lang="scss" scoped>
.o-list {
  word-break: break-all;
}
</style>
