<template>
  <div>
    <v-btn
      text
      block
      height="75"
      @click="$router.push('/admin')"
      class="px-0"
      v-if="$vuetify.breakpoint.mdAndUp && mini"
    >
      <v-avatar color="orange" size="38">
        <span class="black--text title font-weight-black">N</span>
      </v-avatar>
    </v-btn>
    <v-btn
      @click="$router.push('/admin')"
      text
      x-large
      block
      height="75"
      v-else
    >
      <span class="orange--text title font-weight-black">Nanuda Kitchen </span>
    </v-btn>

    <v-divider></v-divider>
    <v-list dense>
      <v-list-item
        link
        nuxt
        v-for="(item, index) in filterItems"
        :key="index"
        :to="`/admin/${item.path}`"
      >
        <v-list-item-action>
          <v-icon> {{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>{{ item.title }} </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
export default {
  name: 'AdminNav',
  props: {
    items: Array,
    mini: Boolean,
    expandOnHover: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    filterItems() {
      // 권한이 SUPER 인 경우 필터링
      let itemList = this.items;
      let filterList = itemList.filter((item) => {
        if (!item.super) {
          return true;
        }
      });
      if (!this.authCode.includes('SUPER')) {
        return filterList;
      } else {
        return itemList;
      }
    },
  },
  data() {
    return {
      authCode: '',
    };
  },
  mounted() {
    //authCode가 SUPER여야만 어드민 사용자 관리 탭이 보임
    return this.$axios
      .$get('/userManagerAdmin/' + this.$store.state.userNum)
      .then((res) => {
        this.authCode = res.AUTH_CODE;
        this.userName = res.NAME;
      })
      .catch((error) => {
        console.log('error', error);
      });
  },
};
</script>

<style scoped></style>
