<template>
  <div :class="category">
    <v-row align="stretch">
      <v-col cols="12" lg="4">
        <v-card class="pa-4" outlined>
          <v-row justify="center" no-gutters>
            <div class="text-center">
              <v-icon class="display-2">mdi-cloud-upload</v-icon>
              <p class="caption">
                파일을 드래그해서
                <br />업로드 하세요
              </p>

              <file-upload
                :input-id="category"
                :name="category"
                :post-action="`${baseUrl}/fileUpload`"
                :multiple="!single"
                :drop="true"
                :drop-directory="true"
                v-model="files"
                :data="{ NO: uid }"
                :ref="category"
                @input-filter="inputFilter"
                @input-file="inputFile"
                :timeout="20 * 1000"
              >
                <v-btn>파일 업로드</v-btn>
              </file-upload>
            </div>
          </v-row>
        </v-card>
        <!-- <v-row justify="center">
          <label :for="category" class="primary pa-2">파일 업로드</label>
        </v-row>-->
      </v-col>
      <v-col cols="12" lg="8">
        <div
          class="px-2"
          v-if="files.length"
          style="height: 100%; max-height: 300px; overflow-y: auto;"
        >
          <div v-for="file in files" :key="file.id" class="pb-2">
            <v-row align="center" justify="space-between" no-gutters>
              <div style="width: 60px;">
                <img v-if="file.blob" :src="file.blob" width="60" height="60" />
                <span v-else>No Image</span>
              </div>
              <v-row
                align="center"
                justify="space-between"
                no-gutters
                class="caption"
                style="width: calc(100% - 90px);"
              >
                <v-col
                  cols="8"
                  class="pl-4"
                  style="
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                  >{{ file.name }}</v-col
                >
                <v-col cols="4" class="text-center">{{
                  bytesToSize(file.size)
                }}</v-col>
              </v-row>
              <div style="width: 30px;" class="text-right">
                <v-icon @click.prevent="$refs[category].remove(file)"
                  >mdi-close</v-icon
                >
              </div>
            </v-row>
            <v-row
              align="center"
              justify="space-between"
              class="mt-2"
              no-gutters
            >
              <v-col cols="11">
                <v-progress-linear
                  :color="color(file)"
                  height="5"
                  :value="file.progress"
                  striped
                  v-if="!forAdd"
                ></v-progress-linear>
              </v-col>
              <v-col cols="1" class="text-right">
                <v-icon
                  class="pl-2"
                  @click.prevent="
                    file.active
                      ? $refs[category].update(file, { error: 'cancel' })
                      : false
                  "
                  v-if="!forAdd"
                  >mdi-cancel</v-icon
                >
              </v-col>
              <!-- <span v-if="file.error">{{file.error}}</span> -->
              <!-- <span v-else-if="file.success">success</span>
              <span v-else-if="file.active">active</span>-->
              <!-- <span v-else></span> -->
            </v-row>
          </div>
        </div>
      </v-col>
    </v-row>

    <!-- <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
            <h3>Drop files to upload</h3>
    </div>-->
  </div>
</template>

<script>
import FileUpload from 'vue-upload-component';

export default {
  components: {
    FileUpload,
  },
  props: {
    category: String,
    uid: Number,
    forAdd: {
      default: false,
      type: Boolean,
    },
    single: {
      default: false,
      type: Boolean,
    },
    images: Array,
  },
  data() {
    return {
      files: [],
      uploadAuto: !this.forAdd,
      //nuxt.config.js의 env 프로퍼티
      baseUrl: process.env.baseUrl,
    };
  },
  methods: {
    //추가하기에서 이미지를 올리면 form데이터와 동기화됨
    syncFiles() {
      const key = this.category,
        obj = {
          [key]: this.files,
        };
      this.$emit('syncFiles', obj);
    },
    //파일을 올리면 emit되는 메소드
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        // Add file
        if (this.forAdd) {
          this.syncFiles();
        }
        // Filter non-image file
        // Will not be added to files
        if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
          return prevent();
        }

        // Create the 'blob' field for thumbnail preview
        newFile.blob = '';
        let URL = window.URL || window.webkitURL;
        if (URL && URL.createObjectURL) {
          newFile.blob = URL.createObjectURL(newFile.file);
        }
      }
      if (newFile && oldFile) {
        // Update file

        // Increase the version number
        if (!newFile.version) {
          newFile.version = 0;
        }
        newFile.version++;
      }

      if (!newFile && oldFile) {
        // Remove file
        // Refused to remove the file
        // return prevent()
      }
      if (this.single && !this.forAdd) {
        // 단일 이미지
        if (this.images.length > 0) {
          // 이미지가 있을때
          this.$emit('updateSingle');
        }
      }
    },
    //올라간 파일의 이벤트 관리 메소드
    inputFile(newFile, oldFile) {
      //추가하기면 추가한 파일을 부모컴포넌트의 데이터와 싱크함
      if (this.forAdd) {
        this.syncFiles();
      }
      if (newFile && oldFile) {
        // update
        if (newFile.active && !oldFile.active) {
          // beforeSend
          // min size
          if (
            newFile.size >= 0 &&
            this.minSize > 0 &&
            newFile.size < this.minSize3
          ) {
            this.$refs[this.category].update(newFile, { error: 'size' });
          }
        }
        if (newFile.progress !== oldFile.progress) {
          // progress
        }
        if (newFile.error && !oldFile.error) {
          // error
        }
        if (newFile.success && !oldFile.success) {
          // success
          this.$emit('updateImages', newFile.response[this.category]);
        }
      }
      if (!newFile && oldFile) {
        // remove
        if (oldFile.success && oldFile.response.id) {
          // $.ajax({
          //   type: 'DELETE',
          //   url: '/upload/delete?id=' + oldFile.response.id,
          // })
        }
      }
      // Automatically activate upload
      if (
        Boolean(newFile) !== Boolean(oldFile) ||
        oldFile.error !== newFile.error
      ) {
        if (this.uploadAuto && !this.$refs[this.category].active) {
          console.log('uid', this.uid);
          this.$refs[this.category].active = true;
        }
      }
    },
    color(file) {
      if (file.error) {
        return 'red';
      } else if (file.success) {
        return 'green';
      } else {
        return 'light-blue';
      }
    },
    bytesToSize(bytes) {
      var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
      if (bytes == 0) return '0 Byte';
      var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
      return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
    },
  },
};
</script>

<style></style>
