<template>
  <div style="height:100%">
    <v-row align="center" class="ma-2">
      <div class="subtitle">{{ title }}</div>
      <slot name="top"></slot>
    </v-row>
    <v-card class="px-5 py-5 mb-6" height="calc(100% - 64px)">
      <slot>내용</slot>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    title: String
  }
};
</script>

<style>
</style>