<template>
  <v-data-table
    :search="search"
    :headers="headers"
    :items="modifiedItems"
    :items-per-page="15"
    class="elevation-1"
    @click:row="toSelectedItemPage"
    :loading="isLoading"
    sort-by="NO"
    sort-desc
  >
    <template v-slot:item.SPACE_TYPE.DISPLAY_NAME="{ item }">
      <v-chip :color="getColor(item.SPACE_TYPE.DISPLAY_NAME)" light>
        <strong>{{ item.SPACE_TYPE.DISPLAY_NAME }}</strong>
      </v-chip>
    </template>
    <template v-slot:item.SPACE.SPACE_TYPE.DISPLAY_NAME="{ item }">
      <v-chip :color="getColor(item.SPACE.SPACE_TYPE.DISPLAY_NAME)" light>
        <strong>{{ item.SPACE.SPACE_TYPE.DISPLAY_NAME }}</strong>
      </v-chip>
    </template>
    <template v-slot:item.CODE_MANAGEMENT.VALUE="{ item }">
      <v-chip :color="getColor(item.CODE_MANAGEMENT.VALUE)" light>
        <strong>{{ item.CODE_MANAGEMENT.VALUE }}</strong>
      </v-chip>
    </template>
    <template v-slot:item.ADMIN_USER.NAME="{ item }">
      <v-chip :color="getColor(item.ADMIN_USER.NAME)" light>
        <strong>{{ item.ADMIN_USER.NAME }}</strong>
      </v-chip>
    </template>
    <template v-slot:item.MANAGER.NAME="{ item }">
      <v-chip :color="getColor(item.MANAGER.NAME)" light>
        <strong>{{ item.MANAGER.NAME }}</strong>
      </v-chip>
    </template>
    <template v-slot:item.SHOW_YN="{ item }">
      <v-chip :color="getColor(item.SHOW_YN)" light>
        <strong>{{ item.SHOW_YN }}</strong>
      </v-chip>
    </template>
    <template v-slot:item.NANUDA_USER.PHONE="{ item }">
      {{ formatNum(item.NANUDA_USER.PHONE) }}
    </template>
    <template v-slot:item.PHONE="{ item }">
      {{ formatNum(item.PHONE) }}
    </template>
    <template v-slot:item.createdAt="{ item }">
      {{ $moment(item.createdAt).format('YYYY.MM.DD - h:mm a') }}
    </template>
    <template v-slot:top>
      <v-row justify="space-between" align="center" class="ma-0">
        <v-col cols="12" sm="8" md="9" lg="10" class="pb-0 p-sm-4">
          <v-text-field v-model="search" label="search"></v-text-field>
        </v-col>
        <v-col cols="12" sm="4" md="3" lg="2" class="pt-0 p-sm-4">
          <v-btn
            light
            color="orange"
            @click="$router.push('/admin/' + page + '/add')"
            large
            block
            style="max-width: 100%;"
          >
            <strong>{{ addBtn }} 추가</strong>
          </v-btn>
        </v-col>
      </v-row>
    </template>
  </v-data-table>
</template>

<script>
import { formatPhoneNum } from '@/assets/utils/common';
export default {
  name: 'CommonTable',
  layout: 'admin',
  props: {
    headers: Array,
    items: Array,
    page: String,
    addBtn: String,
    isLoading: Boolean,
  },
  data() {
    return {
      search: '',
    };
  },
  computed: {
    //매니저가 없으면 지정안됨을 넣음
    modifiedItems() {
      let tempArr = [];
      this.items.map((e) => {
        if (e.ADMIN_USER == null) {
          e.ADMIN_USER = { NAME: '지정안됨' };
          tempArr.push(e);
        } else {
          tempArr.push(e);
        }
        if (e.SPACE_TYPE === null) {
          e.SPACE_TYPE = { DISPLAY_NAME: '지정안됨' };
        }
        if (e.MANAGER === null) {
          e.MANAGER = { NAME: '지정안됨' };
        }
        if (e.SPACE) {
          if (e.SPACE.SPACE_TYPE === null) {
            e.SPACE.SPACE_TYPE = { DISPLAY_NAME: '지정안됨' };
          }
        }
      });
      return tempArr;
    },
  },
  methods: {
    formatNum(num) {
      if (num) {
        return formatPhoneNum(num);
      }
      return num;
    },
    //선택된 테이블 로우와 같은 uid를 가진 상세정보로 이동
    toSelectedItemPage(value) {
      this.$router.push('/admin/' + this.page + '/' + value.NO);
    },
    getColor(status) {
      switch (status) {
        case '계약중':
          return 'green lighten-1';
        case '계약종료':
          return 'red lighten-1';
        case '드랍':
          return 'teal lighten-1';
        case '연락불가':
          return 'brown lighten-1';
        case '신규등록':
          return 'yellow lighten-1';
        case '계약완료':
          return 'green lighten-1';
        case '등재완료':
          return 'purple lighten-1';
        case '계약대기':
          return 'blue lighten-1';
        case '상담중':
          return 'orange lighten-1 ';
        case '실사완료':
          return 'deep-orange lighten-1 ';
        case '공간투어진행중':
          return 'pink lighten-3 ';
        case '추가공간투어':
          return 'pink accent-1 ';
        case '상권분석용':
          return 'blue accent-1';
        case '등록완료':
          return 'orange accent-2';
        case '실사예정':
          return 'light-green lighten-1';
        case '상담진행중':
          return 'light-green lighten-1';
        case '미팅완료':
          return 'light-blue lighten-2';
        case '재연락요청':
          return 'deep-purple lighten-1';
        case '상담완료':
          return 'pink lighten-1';
        case '미팅취소':
          return 'deep-orange lighten-1';
        case '미팅대기':
          return 'blue-grey lighten-1 ';
        case '사진재요청':
          return 'green accent-2';
        case '협의중':
          return 'cyan lighten-2';
        case '투어대기':
          return 'deep-orange lighten-1';
        case 'Nate':
          return 'blue lighten-3 ';
        case 'David':
          return 'deep-orange lighten-1 ';
        case 'Jenny':
          return 'pink lighten-1 ';
        case 'Paul':
          return 'blue lighten-1 ';
        case 'Sam':
          return 'orange lighten-1 ';
        case 'Justin':
          return 'green accent-2';
        case '점공사':
          return 'yellow lighten-1';
        case 'Y':
          return 'green lighten-1 ';
        case 'N':
          return 'red lighten-1 ';
        case '배달형':
          return 'blue lighten-2';
        case '식당형':
          return 'orange lighten-2';
        default:
          break;
      }
    },
  },
};
</script>

<style>
.row td {
  cursor: pointer;
}
</style>
