<template>
  <v-row no-gutters>
    <v-hover
      v-for="(image, i) in images"
      :key="image.NO"
      v-slot:default="{ hover }"
    >
      <v-card
        :class="{ 'on-hover': hover }"
        class="image mr-3 mb-3"
        width="100"
        light
        style="overflow:hidden;"
      >
        <v-img
          :src="`${baseUrl}/${image.FILE_PATH}`"
          :lazy-src="`${baseUrl}/${image.LAZY_FILE_PATH}`"
          aspect-ratio="1"
          @click="showImageDialog(image, i)"
        >
          <v-row no-gutters justify="end">
            <v-btn
              icon
              :class="{ 'show-btns': hover }"
              color="transparent"
              @click.stop="
                downloadWithVueResource(
                  `${baseUrl}/${image.FILE_PATH}`,
                  image.ORI_NAME
                )
              "
            >
              <v-icon
                :class="{ 'show-btns': hover }"
                color="transparent"
                class="mr-1 mt-1"
                >mdi-download</v-icon
              >
            </v-btn>
            <v-btn
              icon
              :class="{ 'show-btns': hover }"
              color="transparent"
              @click.stop="deleteImage(image.NO)"
            >
              <v-icon
                :class="{ 'show-btns': hover }"
                color="transparent"
                class="mr-1 mt-1"
                >mdi-close-circle</v-icon
              >
            </v-btn>
          </v-row>
        </v-img>
        <v-card-subtitle class="grey darken-2 d-none">
          {{ image.ORI_NAME }}
        </v-card-subtitle>
      </v-card>
    </v-hover>
  </v-row>
</template>

<script>
export default {
  props: ["images", "baseUrl"],
  methods: {
    deleteImage(no) {
      if (
        confirm("지워진 사진은 복구 불가능합니다. 그래도 삭제하시겠습니까?")
      ) {
        this.$emit("delete", no);
      } else {
        return;
      }
    },
    forceFileDownload(response, fileName) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement("a");
      link.href = url;
      link.setAttribute("download", fileName); //or any other extension
      document.body.appendChild(link);
      link.click();
    },
    showImageDialog(img, i) {
      this.$emit("click", img, i);
    },
    downloadWithVueResource(filePath, fileName) {
      this.$http({
        method: "get",
        url: filePath,
        responseType: "arraybuffer"
      })
        .then(response => {
          this.forceFileDownload(response, fileName);
        })
        .catch(() => console.log("error occured"));
    }
  }
};
</script>

<style lang="scss" scoped>
.image {
  transition: opacity 0.2s ease-in-out;
}

.image:hover {
  opacity: 0.8;
}

.show-btns {
  color: rgba(255, 255, 255, 1) !important;
}
</style>
