<template>
  <v-autocomplete
    label="담당자"
    class="small-input"
    v-model="manager"
    :items="managers"
    item-text="NAME"
    item-value="NO"
    @change="changeManager"
    :loading="loading"
    :success-messages="success"
    :error-messages="error"
    color="orange"
  ></v-autocomplete>
</template>

<script>
export default {
  props: ['loading', 'success', 'error', 'initialManager', 'roles'],
  data() {
    return {
      manager: this.initialManager,
      managers: [],
    };
  },
  methods: {
    changeManager() {
      this.$emit('change', this.manager);
    },
  },
  //마운트되면 매니저리스트를 가져옴
  created() {
    // TODO: override mutation values from DOM
    let myRoles = this.roles
    if (!myRoles || myRoles === undefined) {
      myRoles = 'NORMAL';
    }
    this.$axios
      .$get(`/userManagerAdmin/listForRoles?roles=${myRoles}`)
      .then((res) => {
        this.managers = res;
      })
      .catch((e) => {
        console.log(e);
      });
  },
};
</script>

<style></style>
