<template>
  <v-row>
    <v-btn color="primary" dark @click.stop="onClick" class="ml-5" fab small>
      <v-icon>mdi-email</v-icon>
    </v-btn>

    <v-dialog v-model="dialog" max-width="700" @input="cancel">
      <v-card class="pa-5">
        <v-text-field
          label="발신 전화번호"
          v-model="adminPhoneNumber"
          class="headline mx-5"
        ></v-text-field>
        <v-text-field
          v-show="msgSize >= 90"
          label="제목"
          class="mx-5"
          v-model="title"
        ></v-text-field>
        <v-textarea
          label="내용"
          auto-grow
          class="mx-5"
          v-model="msg"
          ref="munjaBody"
        ></v-textarea>
        <v-card-actions>
          <v-alert type="error" v-if="isError">
            {{ result ? `CODE : ${result.result_code}` : null }}
            {{ result ? result.message : null }}
          </v-alert>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="cancel">취소</v-btn>
          <v-btn color="green darken-1" @click="sendMsg" :loading="isLoading"
            >보내기</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { strByteLength } from '@/assets/utils/common';

export default {
  props: {
    adminPhoneNum: String,
    userPhoneNumb: String,
  },
  data() {
    return {
      dialog: false,
      isLoading: false,
      msg: '',
      title: '안녕하세요. 나누다키친입니다.',
      adminPhoneNumber: this.adminPhoneNum,
      result: null,
    };
  },
  computed: {
    msgSize() {
      return strByteLength(this.msg);
    },
    //this.result가 있을때 result_code가 1이 아니면  true를 리턴
    isError() {
      if (this.result) {
        if (this.result.result_code != 1) {
          return true;
        } else {
          return true;
        }
      } else {
        return false;
      }
    },
  },
  methods: {
    cancel() {
      this.dialog = false;
      this.msg = '';
      this.result = null;
      this.title = '안녕하세요.나누다키친입니다.';
    },
    onClick() {
      this.dialog = true;
      //textfield에 자동으로 focus
      setTimeout(() => {
        this.$refs.munjaBody.$el.childNodes[0].childNodes[0].childNodes[0].childNodes[1].focus();
      }, 100);
    },
    async sendMsg() {
      const params = {
        phone: this.userPhoneNumb,
        msg: this.msg,
        subject: this.title,
        adminPhoneNum: this.adminPhoneNumber,
      };
      this.isLoading = true;
      this.result = await this.$sendMsg(params);
      if (this.result.message === 'success') {
        this.dialog = false;
        this.msg = '';
        this.isLoading = false;
        this.result = null;
        this.title = '안녕하세요.나누다키친입니다.';
      } else {
        this.isLoading = false;
      }
    },
  },
};
</script>
