<template>
  <div>
    <slot> </slot>
    <v-autocomplete
      v-model="formedSpace"
      :items="formText"
      cache-items
      :loading="loading"
      :success-messages="success"
      color="orange"
      hide-no-data
      hide-selected
      :item-text="formText"
      label="공간 검색"
      placeholder="공간을 선택하세요"
      prepend-icon="mdi-database-search"
      return-object
      @click="getSpaces"
      @change="spaceChanged"
      :rules="[required]"
    ></v-autocomplete>
  </div>
</template>

<script>
import { validations } from '~/assets/mixins/validations';
export default {
  props: ['spaceNo', 'spaceName', 'spaceAddress', 'loading', 'success'],
  mixins: [validations],
  data: () => ({
    spaces: [],
    formedSpace: null,
  }),
  computed: {
    formText() {
      const arr = [];
      this.spaces.map((e) => {
        arr.push(`${e.NO}---${e.NAME}---${e.ADDRESS}`);
      });
      return arr;
    },
  },
  methods: {
    getSpaces() {
      //spaces가 데이터가 이미 다운로드됬으면 불러오지않음
      if (this.spaces.length == 0) {
        return this.$axios
          .$get('/commonAdmin/spaceList')
          .then((res) => {
            this.spaces = res;
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
    spaceChanged() {
      if (this.formedSpace) {
        const spaceNo = this.formedSpace.split('---')[0];
        const spaceName = this.formedSpace.split('---')[1];
        const spaceAddress = this.formedSpace.split('---')[2];
        const space = {
          no: spaceNo,
          name: spaceName,
          address: spaceAddress,
        };
        this.$emit('changed', space);
      }
    },
  },
};
</script>

<style></style>
