<template>
  <div style="height: 100%;">
    <v-row align="center" class="ma-2">
      <div class="subtitle">{{ title }}</div>
      <slot name="top"></slot>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="items"
      :items-per-page="10"
      class="elevation-1 mb-6"
      @click:row="toSelectedItemPage"
      :hide-default-header="hideHeader"
      :hide-default-footer="hideFooter"
      style="height: calc(100% - 64px);"
    >
      <template v-slot:item.PHONE="{ item }">
        {{ formatNum(item.PHONE) }}
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { formatPhoneNum } from '@/assets/utils/common';
export default {
  name: 'TableWithTitle',
  props: {
    title: String,
    headers: Array,
    items: Array,
    page: String,
    hideHeader: Boolean,
    hideFooter: Boolean,
    disableLink: { type: Boolean, default: false },
  },
  methods: {
    formatNum(num) {
      return formatPhoneNum(num);
    },
    toSelectedItemPage(value) {
      if (!this.disableLink) {
        this.$router.push(
          '/admin/' + this.page + '/' + (value.uid || value.NO),
        );
      }
    },
  },
};
</script>

<style></style>
