<template>
  <v-autocomplete
    v-model="formedUser"
    :items="formText"
    cache-items
    :loading="loading"
    :success="success"
    color="orange"
    hide-no-data
    hide-selected
    :item-text="formText"
    label="유저 검색"
    placeholder="유저를 선택하세요"
    prepend-icon="mdi-database-search"
    return-object
    @click="getUsers"
    @change="userChanged"
    :rules="[required]"
    :disabled="computedDisabled"
  ></v-autocomplete>
</template>

<script>
import { validations } from '~/assets/mixins/validations';
export default {
  props: {
    userNo: Number,
    userName: String,
    userPhone: Number,
    loading: Boolean,
    success: Boolean,
    userType: String,
    disabled: { type: Boolean, default: false },
  },
  mixins: [validations],
  data: () => ({
    users: [],
    formedUser: null,
  }),
  computed: {
    formText() {
      const arr = [];
      this.users.map((e) => {
        arr.push(`${e.NO}-${e.NAME}-${e.PHONE}`);
      });
      return arr;
    },
    computedDisabled() {
      if (this.userType === 'user') {
        return false;
      }
      return this.disabled;
    },
  },
  watch: {
    //사용자 타입이 바꾸면 유저no와 districtNo를 초기화함
    userType() {
      this.userNo = null;
      this.formedUser = null;
    },
  },
  methods: {
    getUsers() {
      //users가 데이터가 이미 다운로드됬으면 불러오지않음
      if (this.users.length == 0) {
        return this.$axios
          .$get('/commonAdmin/userList')
          .then((res) => {
            this.users = res;
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
    userChanged() {
      if (this.formedUser) {
        const userNo = this.formedUser.split('-')[0];
        const userName = this.formedUser.split('-')[1];
        const userPhone = this.formedUser.split('-')[2];
        const user = {
          no: userNo,
          name: userName,
          phone: userPhone,
        };
        this.$emit('changed', user);
      }
    },
  },
};
</script>

<style></style>
