<template>
  <div>
    <main id="main" class="main-wrapper">
      <header class="main-header is-blind">
        <h1>메인</h1>
      </header>
      <article class="main-article">
        <!-- 본문 -->
        <section class="article-section py-0 txt-center">
          <div class="main-slider" v-swiper:main="mainOption">
            <div class="swiper-wrapper">
              <!-- <div class="swiper-slide main-slide-04">
                <div class="inner-container">
                  <div class="title-box">
                    <div
                      class="
                        d-flex
                        align-items-center
                        justify-content-center
                        mb-6
                      "
                    >
                      <Logo
                        class="w-5 txt-white d-block pt-4"
                        style="fill: white"
                      />
                      <span
                        class="icon icon-close txt-massive mx-3 txt-gray-200"
                        style="opacity: 0.8"
                      ></span>
                      <img
                        data-v-97e028f6=""
                        src="https://kr.object.ncloudstorage.com/common-nanuda/small-business-application/hope_logo2_w.svg"
                        alt="희망리턴패키지 인증마크"
                        class="w-14 d-block"
                      />
                    </div>
                    <h2>
                      음식점 재창업 예정이라면,<br />
                      국가보조금 지원받으세요
                    </h2>
                    <p class="h2_desc">
                      공유주방 설비로 외식창업 교육받고<br />1,800만원 지원받기
                    </p>
                  </div>
                  <div class="btn-box">
                    <router-link
                      to="/small-business-application"
                      class="btn btn-primary w-30 mk_main_topdelivery_btn"
                      >자세히 알아보기</router-link
                    >
                  </div>
                </div>
              </div> -->
              <div class="swiper-slide main-slide-01">
                <div class="inner-container">
                  <div class="title-box">
                    <h2>배달 창업에 <br />최적화된 공유주방</h2>
                    <p class="h2_desc">
                      최적화된 상권 및 배달 공유주방을 비교하고 선택해서
                      <br />
                      당신의 성공 창업에 한걸음 다가가세요
                    </p>
                  </div>
                  <div class="btn-box">
                    <router-link
                      to="/delivery-kitchen"
                      class="btn btn-primary w-30 mk_main_topdelivery_btn"
                      >공유주방 찾기</router-link
                    >
                  </div>
                </div>
              </div>
              <div class="swiper-slide main-slide-02">
                <div class="inner-container">
                  <div class="title-box">
                    <h2>
                      요식업 창업 성공의 지름길은 <br />
                      핵심 오피스 상권
                    </h2>
                    <p class="h2_desc">
                      나누다키친은 공공기관, 금융권 데이터를 기반으로 <br />
                      최적화된 위치에 입점할 수 있도록 도와드립니다
                    </p>
                  </div>
                  <div class="btn-box">
                    <router-link
                      to="/restaurant-kitchen"
                      class="btn btn-primary w-30 mk_main_toprestaurant_btn"
                      >공유주방 찾기</router-link
                    >
                  </div>
                </div>
              </div>
              <div class="swiper-slide main-slide-03">
                <div class="inner-container">
                  <div class="title-box">
                    <h2>
                      음식점 남는 시간을 빌려주고<br />
                      추가 수익을 올리세요
                    </h2>
                    <p class="h2_desc">
                      운영하지 않았던 낮시간 대에 매장을 대여해주세요<br />
                      매월 사장님의 부가수익을 창출해 드립니다
                    </p>
                  </div>
                  <div class="btn-box">
                    <router-link
                      to="/register"
                      class="btn btn-primary w-30 mk_main_topregister_btn"
                      >공간 등록하기</router-link
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block">
              <NButton size="large" icon circle class="swiper-button-prev">
                <i class="txt-white icon icon-arrow-angle-left txt-bold"></i>
                <span class="is-blind">이전으로</span>
              </NButton>
              <NButton size="large" icon circle class="swiper-button-next">
                <i class="txt-white icon icon-arrow-angle-right txt-bold"></i>
                <span class="is-blind">다음으로</span>
              </NButton>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </section>
        <section class="article-section border-bottom">
          <div class="px-8">
            <div class="row">
              <div class="col col-12 col-xl-4">
                <header class="section-header txt-center txt-xl-left">
                  <div
                    class="
                      txt-center
                      d-flex
                      align-items-center
                      justify-content-center justify-content-xl-start
                      mb-4
                    "
                  >
                    <span class="d-inline-block">
                      <img
                        src="https://kr.object.ncloudstorage.com/common-nanuda/nh-kitchen/nh_kitchen_logo.svg"
                        alt="농협공유주방"
                        class="w-12"
                      />
                    </span>
                    <i
                      class="
                        d-lg-inline-block
                        txt-medium
                        my-1 my-lg-0
                        mx-2
                        icon icon-close
                        txt-black
                      "
                    ></i>
                    <span class="d-inline-block">
                      <LogoTitle class="w-18 txt-black"></LogoTitle>
                    </span>
                  </div>
                  <h3>농협공유주방 창업자 모집</h3>
                  <p class="txt-medium txt-black mt-1">
                    공유주방 창업에 농협의 상생을 더해
                    <br class="d-block d-lg-none" />창업자의 성장에
                    앞장서겠습니다.
                  </p>
                  <div class="mt-4">
                    <router-link
                      to="/kitchen-partners/nh-kitchen"
                      class="btn-txt txt-small txt-bold txt-green txt-underline"
                      >자세히 보기</router-link
                    >
                  </div>
                </header>
              </div>
              <div class="col col-12 col-xl-8">
                <div class="section-content">
                  <div class="row gutter-8">
                    <div class="col col-12 col-lg-4">
                      <div
                        class="top-benefit-box top-benefit-01"
                        @click="$router.push('/kitchen-partners/nh-kitchen')"
                        style="cursor: pointer"
                      >
                        <Badge color="green" size="tiny" text="혜택 1" />
                        <p>하나로마트 <br />식자재 쿠폰 증정</p>
                      </div>
                    </div>
                    <div class="col col-12 col-lg-4">
                      <div
                        class="top-benefit-box top-benefit-02"
                        @click="$router.push('/kitchen-partners/nh-kitchen')"
                        style="cursor: pointer"
                      >
                        <Badge color="green" size="tiny" text="혜택 2" />
                        <p>
                          임대료 1개월 무료<br />
                          650만원 상당 주방집기 지원
                        </p>
                      </div>
                    </div>
                    <div class="col col-12 col-lg-4">
                      <div
                        class="top-benefit-box top-benefit-03"
                        @click="$router.push('/kitchen-partners/nh-kitchen')"
                        style="cursor: pointer"
                      >
                        <Badge color="green" size="tiny" text="혜택 3" />
                        <p>
                          재창업/업종전환 창업자 <br />
                          인큐베이팅 지원
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="article-section bg-light"
          v-if="promotions && promotions.length > 0"
        >
          <div class="px-8">
            <header class="section-header txt-center">
              <h3>진행중인 특별 이벤트</h3>
            </header>
            <div class="section-content">
              <div class="row gutter-16">
                <div
                  class="col col-md-4"
                  v-for="promotion in promotions"
                  :key="promotion.no"
                >
                  <PromotionPreview :promotion="promotion" />
                </div>
              </div>
              <div class="btn-box txt-center mt-8">
                <nuxt-link
                  to="/events"
                  class="btn btn-medium btn-outline-primary w-30"
                  >전체 이벤트 보기</nuxt-link
                >
              </div>
            </div>
          </div>
        </section>
        <!-- TODO : 배너 관리 이미지관리, 기획(사용형태) 미정 -->
        <section
          class="article-section border-bottom p-0"
          v-if="banners && banners.length > 0"
        >
          <div class="banner-slider" v-swiper:banner="bannerOption">
            <div :class="{ 'swiper-wrapper': banners.length > 1 }">
              <div
                class="swiper-slide"
                v-for="(banner, index) in banners"
                :key="index"
              >
                <div>
                  <a
                    :href="getLinkUrl(banner.url)"
                    :target="
                      banner.linkType === 'EXTERNAL' ? '_blank' : '_self'
                    "
                    class="d-block"
                  >
                    <div class="d-none d-xl-block">
                      <img
                        :src="`${banner.image[0].endpoint}`"
                        :alt="banner.title"
                        style="width: 100%"
                        class="d-block"
                        v-if="banner.image && banner.image[0]"
                      />
                    </div>
                    <div class="d-block d-xl-none">
                      <img
                        :src="`${banner.mobileImage[0].endpoint}`"
                        :alt="banner.title"
                        style="width: 100%"
                        class="d-block"
                        v-if="banner.image && banner.image[0]"
                      />
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block" v-if="banners.length > 1">
              <NButton size="large" icon circle class="swiper-button-prev">
                <i class="txt-white icon icon-arrow-angle-left txt-bold"></i>
                <span class="is-blind">이전으로</span>
              </NButton>
              <NButton size="large" icon circle class="swiper-button-next">
                <i class="txt-white icon icon-arrow-angle-right txt-bold"></i>
                <span class="is-blind">다음으로</span>
              </NButton>
            </div>
            <div class="swiper-pagination" v-if="banners.length > 1"></div>
          </div>
        </section>
        <!-- // -->
        <section class="article-section">
          <div class="inner-container">
            <header class="section-header txt-center">
              <h3><b>NND</b> 추천 공유주방</h3>
            </header>
            <div class="section-content">
              <div class="inner-container txt-center mb-4">
                <NButton
                  :class="selectedSpaceType === 'all' ? 'btn-primary' : ''"
                  class="mk_main_recommendall_btn"
                  @click="onAllBtnClicked()"
                  >전체</NButton
                >
                <NButton
                  :class="selectedSpaceType === 'delivery' ? 'btn-primary' : ''"
                  class="mk_main_recommenddelivery_btn"
                  @click="onDeliveryBtnClicked()"
                  >배달형</NButton
                >
                <NButton
                  :class="
                    selectedSpaceType === 'restaurant' ? 'btn-primary' : ''
                  "
                  class="mk_main_recommendrestaurant_btn"
                  @click="onRestaurantBtnClicked()"
                  >식당형</NButton
                >
              </div>
              <SpaceList
                :spaces="bestSpaces"
                v-if="selectedSpaceType === 'all'"
              />
              <SpaceList
                :spaces="bestDeliverySpaces"
                v-if="selectedSpaceType === 'delivery'"
              />
              <SpaceList
                :spaces="bestRestaurantSpaces"
                v-if="selectedSpaceType === 'restaurant'"
              />
              <div class="txt-center" v-if="bestSpacesLoading">
                <div class="loader">
                  <img
                    src="@/assets/svg/common/loader.svg"
                    alt="로딩중"
                    style="width: 10em"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="article-section bg-light" v-if="companies.length > 0">
          <div class="inner-container">
            <header class="section-header txt-center">
              <h3>NND와 함께하는 파트너 공유주방</h3>
            </header>
            <div class="section-content">
              <CompanyList :companies="companies" />
              <div class="btn-box txt-center">
                <NButton
                  color="outline-primary"
                  @click="$router.push('/kitchen-partners')"
                  class="w-30"
                  >전체 공유주방 보기</NButton
                >
              </div>
            </div>
          </div>
        </section>
        <!-- <section class="article-section" id="mainStory">
          <div class="inner-container">
            <div class="row gutter-16">
              <div class="col col-12 col-lg-4">
                <header class="section-header txt-center txt-lg-left">
                  <span style="color: white; width: 32px;">
                    <svg viewBox="0 0 490 490" y="0px" x="0px" class="svg-icon">
                      <g>
                        <g>
                          <path
                            d="M464.979,334.57H25.024C11.226,334.57,0,323.349,0,309.553V72.987c0-13.795,11.226-25.018,25.024-25.018h439.955    c13.793,0,25.021,11.223,25.021,25.018v236.566C490,323.349,478.772,334.57,464.979,334.57z M25.024,68.178    c-2.654,0-4.817,2.157-4.817,4.809v236.566c0,2.652,2.163,4.81,4.817,4.81h439.955c2.653,0,4.813-2.158,4.813-4.81V72.987    c0-2.652-2.159-4.809-4.813-4.809H25.024z"
                          ></path>
                        </g>
                        <g>
                          <path
                            d="M192.69,268.058c-3.318-1.815-5.476-5.198-5.476-8.978V123.461c0-3.782,2.114-7.245,5.476-8.98    c3.36-1.734,7.404-1.445,10.486,0.747l95.358,67.809c2.668,1.896,4.248,4.964,4.248,8.234c0,3.271-1.58,6.339-4.248,8.235    c0,0-71.522,50.854-95.358,67.807C201.434,268.552,197.679,270.789,192.69,268.058z M207.425,143.045v96.451l67.817-48.225    L207.425,143.045z"
                          ></path>
                        </g>
                        <path
                          d="M479.897,391.927H286.767c-4.485-17.18-20.137-29.894-38.702-29.894c-18.563,0-34.211,12.714-38.697,29.894H10.104   C4.525,391.927,0,396.452,0,402.031c0,5.581,4.525,10.104,10.104,10.104h199.265c4.486,17.18,20.135,29.896,38.697,29.896   c18.565,0,34.217-12.717,38.702-29.896h193.129c5.575,0,10.103-4.522,10.103-10.104C490,396.452,485.472,391.927,479.897,391.927z    M248.065,421.821c-10.908,0-19.788-8.878-19.788-19.791c0-10.911,8.88-19.788,19.788-19.788c10.913,0,19.791,8.877,19.791,19.788   C267.856,412.944,258.978,421.821,248.065,421.821z"
                        ></path>
                      </g>
                    </svg>
                  </span>
                  <h3>
                    창업 성공 스토리
                  </h3>
                  <p class="h3_desc txt-white">
                    나누다키친 창업자 &amp; 헬스 트레이너
                    <br />
                    <strong class="txt-bold">오승엽 사장님</strong>
                  </p>
                </header>
              </div>
              <div class="col col-12 col-lg-8">
                <div class="section-content">
                  <div class="media-box">
                    <iframe
                      width="100%"
                      height="100%"
                      :src="media.URL"
                      rel="0"
                      frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                      class="mk_main_youtube_btn"
                    ></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->
        <!-- <section class="article-section bg-light py-20" id="inquiryBanner">
          <div class="inner-container">
            <template>
              <header class="section-header txt-center">
                <h3>
                  여러분의 <strong class="txt-primary">창업 성공</strong> <br />
                  안전하게 <strong class="txt-primary">도전해보세요</strong>
                </h3>
              </header>
              <div class="section-content">
                <div class="btn-box txt-center">
                  <NButton
                    color="primary"
                    block
                    class="w-30 mk_main_plansapply_btn"
                    @click="toFormPage()"
                    >창업 문의하기</NButton
                  >
                </div>
              </div>
            </template>
          </div>
        </section> -->
        <section class="article-section" id="mainbrand">
          <div class="inner-container">
            <header class="section-header txt-center">
              <h3>NND 공유주방 브랜드</h3>
              <p class="h3_desc">
                <b class="txt-primary">공유주방</b>에 특화된 브랜드 찾고, <br />
                교육 그리고 오픈까지 나누다키친에서 도와드리겠습니다
              </p>
            </header>
            <div class="section-content txt-center">
              <div class="section-content">
                <NndMainBrand
                  @click="showBrandInfo"
                  addClass="mk_main_brandinfo_btn"
                />
              </div>
            </div>
          </div>
        </section>
        <section class="article-section pt-0">
          <header class="section-header txt-center">
            <div class="inner-container pt-14 border-top">
              <h4 class="txt-black">제휴 창업 브랜드</h4>
            </div>
          </header>
          <div class="section-content">
            <DeliveryBrandSlider :brands="brands" />
          </div>
        </section>
        <section
          class="article-section bg-light txt-center py-20"
          id="regsiterBanner"
        >
          <div class="inner-container">
            <div class="row-box">
              <div class="title-box txt-black">
                <h4>
                  무료로 공간을 등록하고 <br />나누다키친의 파트너가 되어보세요
                </h4>
              </div>
              <div class="btn-box">
                <router-link
                  to="/register"
                  class="btn btn-black btn-bock w-30 mk_main_bottomregister_btn"
                >
                  공간 등록하기
                </router-link>
              </div>
            </div>
          </div>
        </section>
        <section class="article-section">
          <div class="inner-container">
            <header class="section-header txt-left txt-lg-center">
              <div class="title-box">
                <h3>
                  나누다키친에 대해 궁금하시죠? <br />우리의 히스토리와 생생한
                  소식을 들려 드릴게요
                </h3>
              </div>
              <div class="btn-box">
                <router-link
                  to="/about-us"
                  class="
                    btn-txt
                    txt-tiny txt-primary txt-underline
                    mk_main_about_btn
                  "
                  >더 알아보기</router-link
                >
                <router-link
                  to="/articles"
                  class="
                    btn-txt
                    txt-tiny txt-primary txt-underline
                    mk_main_newsmore_btn
                  "
                  >소식 더보기</router-link
                >
              </div>
            </header>
            <div class="section-content">
              <!-- 노출 갯수 3개 -->
              <ArticleSlider :take="3" />
            </div>
          </div>
        </section>
        <section class="article-section py-0 border-top">
          <div class="">
            <header class="section-header txt-center is-blind">
              <h3>나누다키친 파트너</h3>
            </header>
            <div class="section-content">
              <PartnerList />
            </div>
          </div>
        </section>
        <section class="article-section bg-gray-800" id="bottomJoinBanner">
          <div class="inner-container">
            <div class="txt-left">
              <div class="title-box">
                <span class="txt-white txt-medium" v-if="!isAuth"
                  >회원가입하고</span
                >
                <span class="txt-white txt-medium" v-else>창업 상담받고</span>
                <h4 class="txt-white">
                  오직 <strong class="txt-primary">나누다키친</strong>에서만
                  <br />
                  제공하는
                  <strong class="txt-primary">창업 혜택</strong> 받아보자
                </h4>
              </div>
              <div class="btn-box">
                <router-link
                  to="/join"
                  class="
                    btn-txt
                    txt-tiny txt-primary txt-underline
                    mk_main_signup_btn
                  "
                  v-if="!isAuth"
                  >회원가입</router-link
                >
                <button
                  @click="toFormPage()"
                  class="
                    btn-txt
                    txt-tiny txt-primary txt-underline
                    mk_main_restaurantapply_btn
                  "
                  v-else
                >
                  창업 문의
                </button>
                <button
                  @click="showBenefitModal = true"
                  class="
                    btn-txt
                    txt-tiny txt-primary txt-underline
                    mk_main_benefit_btn
                  "
                >
                  혜택 알아보기
                </button>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>
    <!-- 공지사항 팝업 모달 -->
    <PopupModal
      :popups="computedPopups"
      v-if="computedPopups && computedPopups.length > 0"
    />
    <!-- 혜택 이벤트 모달 -->
    <Modal
      noBtn="닫기"
      noPadding
      :visible="showBenefitModal"
      @close="showBenefitModal = false"
    >
      <router-link to="/delivery-kitchen">
        <img
          src="@/assets/images/common/benefit_banner.png"
          width="100%"
          class="d-block"
        />
      </router-link>
    </Modal>
    <!-- 브랜드 상세 모달 레이어 -->
    <BrandModal
      :visible="showBrandModal"
      @close="closeBrandModal"
      :brandInfo="brandInfo"
      :menuInfo="menuInfo"
    />
  </div>
</template>
<script>
import Logo from '@/components/UI/Logo';
import LogoTitle from '@/components/UI/LogoTitle';
import CompanyList from '@/components/Company/CompanyList'; // 업체 리스트
import NndMainBrand from '@/components/Brands/NndMainBrand'; // NND 대표 브랜드
import SpaceList from '@/components/Main/SpaceList'; // 공간 리스트
import ArticleSlider from '@/components/Articles/ArticleSlider'; // 뉴스 리스트
import DeliveryBrandSlider from '@/components/Brands/DeliveryBrandSlider'; // 브랜드 리스트
import PopupModal from '@/components/Main/PopupModal'; // 메인 팝업 모달
import PartnerList from '@/components/About/PartnerList'; // 파트너 리스트
import PromotionPreview from '@/components/Promotion/PromotionPreview';
import { common } from '@/assets/mixins/homepage/common';
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import { brandInfo } from '@/assets/mixins/brandInfo'; // 브랜드 상세 팝업

export default {
  mixins: [common, infoAppRequest, brandInfo],
  components: {
    ArticleSlider,
    CompanyList,
    DeliveryBrandSlider,
    NndMainBrand,
    PartnerList,
    PopupModal,
    PromotionPreview,
    SpaceList,
    LogoTitle,
    Logo,
  },
  computed: {
    isAuth() {
      return this.$store.getters.isAuthenticated;
    },
    computedPopups() {
      return this.popups.filter((e) => e.images);
    },
  },
  data() {
    return {
      showBenefitModal: false,
      bestSpacesLoading: false,
      selectedSpaceType: 'all',
      bestDeliverySpaces: null,
      bestRestaurantSpaces: null,
      mainOption: {
        loop: true,
        autoplay: {
          delay: 5000,
        },
        slidesPerView: 1,
        centeredSlides: true,
        freeMode: false,
        spaceBetween: 0,
        grabCursor: true,
        navigation: {
          nextEl: '.main-slider .swiper-button-next ',
          prevEl: '.main-slider .swiper-button-prev',
        },
        pagination: {
          el: '.main-slider .swiper-pagination',
          clickable: true,
        },
      },
      bannerOption: {
        loop: true,
        autoplay: {
          delay: 5000,
        },
        slidesPerView: 1,
        spaceBetween: 0,
        grabCursor: true,
        navigation: {
          nextEl: '.banner-slider .swiper-button-next ',
          prevEl: '.banner-slider .swiper-button-prev',
        },
        pagination: {
          el: '.banner-slider .swiper-pagination',
          clickable: true,
        },
      },
    };
  },
  methods: {
    getLinkUrl(linkUrl) {
      if (linkUrl) {
        return linkUrl.includes('//') ? linkUrl : `//${linkUrl}`;
      }
    },
    onAllBtnClicked() {
      this.selectedSpaceType = 'all';
    },
    onDeliveryBtnClicked() {
      this.selectedSpaceType = 'delivery';
      if (!this.bestDeliverySpaces) {
        this.bestSpacesLoading = true;
        return this.$axios.$get('/bestSpace/deliverySpaces').then((res) => {
          this.bestDeliverySpaces = res;
          this.bestSpacesLoading = false;
        });
      }
    },
    onRestaurantBtnClicked() {
      this.selectedSpaceType = 'restaurant';
      if (!this.bestRestaurantSpaces) {
        this.bestSpacesLoading = true;
        return this.$axios.$get('/bestSpace/restaurantKitchen').then((res) => {
          this.bestSpacesLoading = false;
          this.bestRestaurantSpaces = res;
        });
      }
    },
  },
  async asyncData(context) {
    let banners = await context.$axios.$get(
      `${process.env.b2bBaseURL}/nanuda/banner`,
    );
    let bestSpaces = await context.$axios.get('/bestSpace/bothSpaces'); // 추천 공간
    let popups = await context.$axios.get(
      // 메인 팝업
      `${process.env.b2bBaseURL}/nanuda/popup`,
    );
    let media = await context.$axios.$get('/homePageMedia/youtube'); // 창업자 성공 스토리 동영상
    let newArticles = await context.$axios.get('/article', {
      // 뉴스 기사
      params: {
        take: 5,
      },
    });
    let brands = await context.$axios.$get('/brand/spaceType/2');
    let companies = await context.$axios.$get('/company/withPagination');
    let companyData; // 파트너 공유주방
    if (companies.items.length > 0) {
      companyData = companies.items
        .sort(() => Math.random() - Math.random())
        .slice(0, 6);
    }
    let promotions = await context.$axios.$get('/promotion', {
      params: {
        take: 3,
      },
    });
    return {
      bestSpaces: bestSpaces.data,
      popups: popups.data.items,
      newArticles: newArticles.data.items,
      media: media,
      brands: brands.rows,
      companies: companyData,
      promotions: promotions.items,
      banners: banners.items,
    };
  },
};
</script>
<style lang="scss">
#main {
  padding: 0;

  .main-slider {
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-self: center;
      padding: 3em 0;
      min-height: 25em;
      height: 80vh;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      @include darkOverlay();

      .inner-container {
        position: relative;
        z-index: 1;
      }

      .title-box {
        color: $white;

        .h2_desc {
          margin-top: 1em;
        }
      }

      &.main-slide-01 {
        background-image: url('~assets/images/main/main_visual_02.jpg');
      }
      &.main-slide-02 {
        background-image: url('~assets/images/main/main_visual_01.jpg');
      }
      &.main-slide-03 {
        background-image: url('~assets/images/main/main_visual_03.jpg');
      }
      &.main-slide-04 {
        background-image: url('https://kr.object.ncloudstorage.com/common-nanuda/images/main/main_visual_04.jpg');
      }
    }
    .swiper-button-prev {
      left: 0.5em;
    }
    .swiper-button-next {
      right: 0.5em;
    }
  }

  .marquee-slider {
    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
      position: relative;
      .swiper-slide {
        img {
          filter: grayscale(100%);
          opacity: 0.5;
        }
      }
    }
  }

  .top-benefit-box {
    background-color: rgba(47, 164, 68, 0.1);
    border-radius: $border-radius-sm;
    padding: 1.25em;
    text-align: center;
    height: 100%;
    color: #2fa444;
    .badge {
      display: inline-block;
      margin-bottom: 0.75em;
      font-weight: $txt-bold;
      border-radius: $border-radius-sm;
    }
    p {
      font-size: $txt-medium;
      font-weight: $txt-bold;
    }
  }

  #mainStory {
    position: relative;
    padding-bottom: 5em;
    .section-header {
      h3 {
        color: $white;
      }
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $gray-800;
      background-image: url('~assets/images/common/pattern_black_linen.png');
      background-repeat: repeat;
    }
    .inner-container {
      position: relative;
      z-index: 1;
    }

    .media-box {
      position: relative;
      padding-bottom: 56.25%;
      border: 0;
      box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.15);
      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  #mainbrand {
    // background-image: url('~assets/images/main/bg_main_brand.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #inquiryBanner {
    background-image: url('~assets/images/main/bg_main_inquiry.jpg');
    background-size: cover;
    background-position: center center;
    @include darkOverlay();
    .section-header {
      h3 {
        color: $white;
      }
    }
    .inner-container {
      position: relative;
      z-index: 1;
    }
  }

  #bottomJoinBanner {
    position: relative;
    background-image: url('~assets/images/common/pattern_black_twill.png');
    background-position: center center;
    background-repeat: repeat;

    .inner-container {
      position: relative;
      &:after {
        display: block;
        content: '';
        position: absolute;
        right: 1em;
        bottom: -2em;
        width: 7.5em;
        height: 9.75em;
        background: url('~assets/images/common/nnd_man.png') no-repeat bottom
          right;
        background-size: 7.5em 9.75em;
        opacity: 0.5;
      }
    }
  }
  // media query
  @media screen and (min-width: 1024px) {
    .main-slider {
      .swiper-slide {
        min-height: 0;
        height: 700px;
      }
    }
    .top-benefit-box {
      text-align: left;
      p {
        font-size: $txt-large;
      }
    }
  }
}
</style>
