<template>
  <main id="startYourBusiness" class="main-wrapper">
    <header class="main-header is-blind">
      <h1>나누다키친 창업</h1>
    </header>
    <article class="main-article">
      <header class="article-header bg-gray-800 txt-left">
        <div class="inner-container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="title-box">
                <h2>누구보다 똑똑하게<br />창업하고 싶으면 나누다키친에서</h2>
                <p class="h2_desc">
                  적은 비용으로 <b>공유주방</b>에서 외식업 창업 시작하고
                  <br />
                  성공에 한걸음 다가가세요
                </p>
              </div>
              <div class="btn-box mt-8">
                <NButton
                  color="primary"
                  size="medium"
                  class="w-30 mk_start_topapply_btn"
                  @click="toFormPage()"
                >
                  창업 문의하기
                </NButton>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section
        class="article-section section-feature bg-light"
        id="nndFeature"
        ref="articleContent"
      >
        <div>
          <header class="section-header txt-center">
            <h3>
              왜 공유주방을 <br />
              <strong class="txt-primary">나누다키친</strong>에서
              창업해야하나요?
            </h3>
          </header>
          <div class="section-content">
            <div class="">
              <div class="swiper-slider" v-swiper:feature="featureOption">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="title-box">
                      <h4>
                        <strong class="label">하나</strong>
                        <span>가장 좋은 공유주방 보유</span>
                      </h4>
                    </div>
                    <div class="img-box">
                      <img
                        src="@/assets/images/start-your-business/feature_01.png"
                        alt
                      />
                    </div>
                    <div class="txt-box">
                      <p>
                        시설완비에서 상권이 좋은 공간까지
                        <br />
                        <strong class="txt-bold"
                          >공유주방에 최적화된 공간들을 보유!</strong
                        >
                      </p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="title-box">
                      <h4>
                        <strong class="label">둘</strong>
                        <span>낮은 초기비용</span>
                      </h4>
                    </div>
                    <div class="img-box">
                      <img
                        src="@/assets/images/start-your-business/feature_02.png"
                        alt
                      />
                    </div>
                    <div class="txt-box">
                      <p>
                        일반 외식업 창업 비용대비
                        <br />
                        <strong class="txt-bold"
                          >최대 90%까지 비용 감축 가능!</strong
                        >
                      </p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="title-box">
                      <h4>
                        <strong class="label">셋</strong>

                        <span>공유주방 특화 브랜드</span>
                      </h4>
                    </div>
                    <div class="img-box">
                      <img
                        src="@/assets/images/start-your-business/feature_03.png"
                        alt
                      />
                    </div>
                    <div class="txt-box">
                      <p>
                        공유주방에서 특화된 브랜드로 창업하고
                        <br />
                        <strong class="txt-bold"
                          >교육부터 오픈까지 도와드립니다!</strong
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <!-- 페이징 -->
                <div class="swiper-pagination d-lg-none"></div>
                <!-- 네비게이션 버튼  -->
                <div class="d-lg-none">
                  <NButton
                    bg-color="rgba(0,0,0,.25)"
                    icon
                    circle
                    class="swiper-button-prev"
                  >
                    <i class="icon icon-arrow-angle-left txt-bold"></i>
                    <span class="is-blind">이전으로</span>
                  </NButton>
                  <NButton
                    bg-color="rgba(0,0,0,.25)"
                    icon
                    circle
                    class="swiper-button-next"
                  >
                    <i class="icon icon-arrow-angle-right txt-bold"></i>
                    <span class="is-blind">다음으로</span>
                  </NButton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="article-section" id="nndbrand">
        <div class="inner-container">
          <header class="section-header txt-center">
            <h3>NND 공유주방 브랜드</h3>
            <p class="h3_desc">
              <b class="txt-primary">공유주방</b>에 특화된 브랜드 찾고, <br />
              교육 그리고 오픈까지 나누다키친에서 도와드리겠습니다
            </p>
          </header>
          <div class="section-content txt-center">
            <NndMainBrand
              @click="showBrandInfo"
              addClass="mk_start_brandinfo_btn"
            />
          </div>
        </div>
      </section>
      <!-- <section class="article-section pt-0">
        <header class="section-header txt-center">
          <div class="inner-container pt-14 border-top">
            <h4 class="txt-black">제휴 창업 브랜드</h4>
          </div>
        </header>
        <div class="section-content">
          <DeliveryBrandSlider :brands="brands" />
        </div>
      </section> -->
      <section class="article-section" id="mainStory">
        <div class="inner-container">
          <div class="row gutter-16">
            <div class="col col-12 col-lg-4">
              <header class="section-header txt-center txt-lg-left">
                <span style="color: white; width: 32px;">
                  <svg viewBox="0 0 490 490" y="0px" x="0px" class="svg-icon">
                    <g>
                      <g>
                        <path
                          d="M464.979,334.57H25.024C11.226,334.57,0,323.349,0,309.553V72.987c0-13.795,11.226-25.018,25.024-25.018h439.955    c13.793,0,25.021,11.223,25.021,25.018v236.566C490,323.349,478.772,334.57,464.979,334.57z M25.024,68.178    c-2.654,0-4.817,2.157-4.817,4.809v236.566c0,2.652,2.163,4.81,4.817,4.81h439.955c2.653,0,4.813-2.158,4.813-4.81V72.987    c0-2.652-2.159-4.809-4.813-4.809H25.024z"
                        ></path>
                      </g>
                      <g>
                        <path
                          d="M192.69,268.058c-3.318-1.815-5.476-5.198-5.476-8.978V123.461c0-3.782,2.114-7.245,5.476-8.98    c3.36-1.734,7.404-1.445,10.486,0.747l95.358,67.809c2.668,1.896,4.248,4.964,4.248,8.234c0,3.271-1.58,6.339-4.248,8.235    c0,0-71.522,50.854-95.358,67.807C201.434,268.552,197.679,270.789,192.69,268.058z M207.425,143.045v96.451l67.817-48.225    L207.425,143.045z"
                        ></path>
                      </g>
                      <path
                        d="M479.897,391.927H286.767c-4.485-17.18-20.137-29.894-38.702-29.894c-18.563,0-34.211,12.714-38.697,29.894H10.104   C4.525,391.927,0,396.452,0,402.031c0,5.581,4.525,10.104,10.104,10.104h199.265c4.486,17.18,20.135,29.896,38.697,29.896   c18.565,0,34.217-12.717,38.702-29.896h193.129c5.575,0,10.103-4.522,10.103-10.104C490,396.452,485.472,391.927,479.897,391.927z    M248.065,421.821c-10.908,0-19.788-8.878-19.788-19.791c0-10.911,8.88-19.788,19.788-19.788c10.913,0,19.791,8.877,19.791,19.788   C267.856,412.944,258.978,421.821,248.065,421.821z"
                      ></path>
                    </g>
                  </svg>
                </span>
                <h3>
                  창업 성공 스토리
                </h3>
                <p class="h3_desc txt-white">
                  나누다키친 창업자 &amp; 헬스 트레이너
                  <br />
                  <strong class="txt-bold">오승엽 사장님</strong>
                </p>
              </header>
            </div>
            <div class="col col-12 col-lg-8">
              <div class="section-content">
                <div class="media-box">
                  <iframe
                    width="100%"
                    height="100%"
                    :src="media.URL"
                    rel="0"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="article-section py-0">
        <div class="">
          <header class="section-header txt-center is-blind">
            <h3>나누다키친 파트너</h3>
          </header>
          <div class="section-content">
            <KBPartnerList />
          </div>
        </div>
      </section>
      <!-- <section
        class="article-section bg-light py-20"
        id="inquiryBanner"
        ref="inquiryBanner"
      >
        <div class="inner-container">
          <template>
            <header class="section-header txt-center">
              <h3>
                적은 비용으로 <strong class="txt-primary">공유주방</strong>에서
                <strong class="txt-primary">창업할 수 있는 기회를</strong>
                <br class="d-none d-md-block" />
                놓치지 마세요
              </h3>
            </header>
            <div class="section-content">
              <div class="btn-box txt-center">
                <NButton
                  color="primary"
                  block
                  class="w-30 mk_start_bottomapply_btn"
                  @click="toFormPage()"
                  >창업 문의하기</NButton
                >
              </div>
            </div>
          </template>
        </div>
      </section> -->
      <div
        class="btn-box txt-center"
        id="fixedButton"
        :class="{ 'is-fixed': isScrolled }"
      >
        <NButton
          color="primary"
          block
          class="mk_start_bottomapply_btn"
          @click="toFormPage()"
          >창업 문의하기</NButton
        >
      </div>
    </article>
    <!-- 브랜드 상세 모달 레이어 -->
    <BrandModal
      :visible="showBrandModal"
      @close="closeBrandModal"
      :brandInfo="brandInfo"
      :menuInfo="menuInfo"
    />
  </main>
</template>
<script>
import NndMainBrand from '@/components/Brands/NndMainBrand'; // NND 대표 브랜드
import ArticleSlider from '@/components/Articles/ArticleSlider'; // 뉴스 리스트
import DeliveryBrandSlider from '@/components/Brands/DeliveryBrandSlider'; // 브랜드 리스트
import KBPartnerList from '@/components/About/KBPartnerList'; // 파트너 리스트
import FooterInfo from '@/components/Footer/FooterInfo';
import { brandInfo } from '@/assets/mixins/brandInfo';
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤 이베트
export default {
  mixins: [brandInfo, infoAppRequest, handleScroll],
  components: {
    ArticleSlider,
    DeliveryBrandSlider,
    KBPartnerList,
    NndMainBrand,
    FooterInfo,
  },
  computed: {
    isAuth() {
      return this.$store.getters.isAuthenticated;
    },
  },
  data() {
    return {
      isScrolled: false,
      showBenefitModal: false,
      mainBrnadOption: {
        slidesPerView: 1,
        autoplay: {
          delay: 5000,
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
      nndBrnads: [
        {
          // 7분 떡볶이
          id: 22,
          image: require('@/assets/images/start-your-business/nnd_main_brand_01.jpg'),
          image_m: require('@/assets/images/start-your-business/nnd_main_brand_01_m.jpg'),
        },
        {
          //엄마손짜글이
          id: 24,
          image: require('@/assets/images/start-your-business/nnd_main_brand_02.jpg'),
          image_m: require('@/assets/images/start-your-business/nnd_main_brand_02_m.jpg'),
        },
        {
          // 열두시식당
          id: 1,
          image: require('@/assets/images/start-your-business/nnd_main_brand_03.jpg'),
          image_m: require('@/assets/images/start-your-business/nnd_main_brand_03_m.jpg'),
        },
        {
          // 카레보이
          id: 26,
          image: require('@/assets/images/start-your-business/nnd_main_brand_04.jpg'),
          image_m: require('@/assets/images/start-your-business/nnd_main_brand_04_m.jpg'),
        },
        {
          // 오늘은카레야
          id: 25,
          image: require('@/assets/images/start-your-business/nnd_main_brand_05.jpg'),
          image_m: require('@/assets/images/start-your-business/nnd_main_brand_05_m.jpg'),
        },
        {
          // 에디슨떢볶이
          id: 23,
          image: require('@/assets/images/start-your-business/nnd_main_brand_06.jpg'),
          image_m: require('@/assets/images/start-your-business/nnd_main_brand_06_m.jpg'),
        },
      ],
      featureOption: {
        loop: false,
        slidesPerView: 3,
        centeredSlides: false,
        freeMode: false,
        spaceBetween: 48,
        grabCursor: true,
        followFinger: false,
        allowTouchMove: false,
        navigation: {
          nextEl: '#nndFeature .swiper-button-next ',
          prevEl: '#nndFeature .swiper-button-prev',
        },
        pagination: {
          el: '#nndFeature .swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          1023: {
            loop: false,
            slidesPerView: 1,
            centeredSlides: true,
            followFinger: true,
            allowTouchMove: true,
          },
        },
      },
    };
  },
  async asyncData(context) {
    let brands = await context.$axios.$get('/brand/spaceType/2');
    let media = await context.$axios.$get('/homePageMedia/youtube'); // 창업자 성공 스토리 동영상
    return {
      brands: brands.rows,
      media: media,
    };
  },
  methods: {
    buttonFixed() {
      const target = this.$refs.articleContent;
      // const form = this.$refs.inquiryBanner;
      if (target) {
        let rect =
          target.getBoundingClientRect().top + this.currentScroll ||
          target.offsetTop;
        // let formRect = form.getBoundingClientRect().top + this.currentScroll;

        if (this.currentScroll > rect) {
          this.isScrolled = true;
        } else {
          this.isScrolled = false;
        }
      }
    },
    scrollFunc() {
      // 스크롤 이벤트
      this.appVisitFixed();
      this.buttonFixed();
    },
  },
  created() {
    this.nndBrnads.sort(() => Math.random() - Math.random());
  },
};
</script>
<style lang="scss" scoped>
#startYourBusiness {
  padding-bottom: 3em;
  .main-article {
    .article-header {
      position: relative;
      padding: 8em 0 4.5em;
      text-align: center;
      z-index: 2;
      background: url('~assets/images/start-your-business/bg_top_visual.jpg')
        no-repeat center bottom;
      background-size: cover;
      @include darkOverlay();
      .inner-container {
        .title-box {
          h2 {
            font-weight: $txt-bold;
            color: $white;
          }
          p {
            margin-top: 0.8em;
            color: $white;
          }
        }
      }
    }

    .feature-slider {
      padding: 0 3em;
      .inner-container {
        position: relative;
      }
      .swiper-slide {
        .row {
          flex-direction: row-reverse;
        }

        .img-box {
          text-align: center;
          background-color: $light;
          img {
            max-height: 12em;
            mix-blend-mode: darken;
          }
        }
        .content-box {
          h4 {
            color: $black;
          }
          p {
            font-size: $txt-small;
          }
        }
      }
      .swiper-button-prev {
        left: -2.5em;
      }
      .swiper-button-next {
        right: -2.5em;
      }
      .swiper-pagination {
        position: static;
        margin-top: 1em;
      }
    }

    .swiper-slide {
      background-color: $light;
      img {
        margin: 0 auto;
      }
    }
    .swiper-pagination {
      position: static;
      margin-top: 1em;
    }
  }

  #mainStory {
    position: relative;
    padding-bottom: 5em;
    .section-header {
      h3 {
        color: $white;
      }
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $gray-800;
      background-image: url('~assets/images/common/pattern_black_linen.png');
      background-repeat: repeat;
    }
    .inner-container {
      position: relative;
      z-index: 1;
    }

    .media-box {
      position: relative;
      padding-bottom: 56.25%;
      border: 0;
      box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.15);
      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  #nndFeature {
    text-align: center;
    .title-box {
      margin-top: 2em;
      h4 {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $white;
        border-radius: $border-radius-lg;
        overflow: hidden;
        line-height: 1;
        font-size: 1.4rem;
        .label {
          min-width: 4em;
          padding: 0.5em 1em;
          text-align: center;
          background-color: $primary;
          color: $white;
          border-radius: $border-radius-lg;
        }
        span {
          display: inline-block;
          padding: 0 1.5em 0 1em;
          color: $black;
        }
      }
    }
    .txt-box {
      p {
        color: $black;
      }
    }
    .img-box {
      img {
        max-width: 100%;
      }
    }
    .swiper-slider {
      max-width: 60em;
      margin: -2em auto 0;
      padding: 0 2.5em;
      text-align: center;
      .swiper-slide {
        text-align: center;
      }

      .swiper-pagination {
        position: static;
        margin-top: 1em;
      }
    }
  }

  #inquiryBanner {
    background-image: url('~assets/images/main/bg_main_inquiry.jpg');
    background-size: cover;
    background-position: center center;
    @include darkOverlay();
    .section-header {
      h3 {
        color: $white;
      }
    }
    .inner-container {
      position: relative;
      z-index: 1;
    }
  }

  #fixedButton {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-header;

    &.is-fixed {
      display: block;
    }
  }
}
</style>
