<template>
  <v-row no-gutters justify="start">
    <v-card
      class="mx-2 mb-4"
      width="120"
      v-for="(brand, i) of brandList"
      :key="i"
      :color="$vuetify.theme.isDark ? 'grey darken-3' : 'grey lighten-3'"
      @click="onClicked(brand.NO)"
    >
      <div style="background-color: white;">
        <v-img
          class="white--text align-end"
          height="80px"
          :src="
            brand.FILE_MANAGEMENT.length > 0
              ? `${baseUrl}/${brand.FILE_MANAGEMENT[0].FILE_PATH}`
              : require('@/assets/images/common/no_img.png')
          "
          :lazy-src="
            brand.FILE_MANAGEMENT.length > 0
              ? `${baseUrl}/${brand.FILE_MANAGEMENT[0].LAZY_FILE_PATH}`
              : require('@/assets/images/common/no_img.png')
          "
        >
          <v-row no-gutters justify="end">
            <v-icon
              color="orange"
              class="mr-1 mt-1"
              v-if="selectBrand.includes(brand.NO)"
              x-large
              >mdi-check</v-icon
            >
          </v-row>
        </v-img>
      </div>
      <v-card-subtitle>{{ brand.NAME_KR }}</v-card-subtitle>
    </v-card>
  </v-row>
</template>

<script>
export default {
  props: {
    brandList: Array,
    selectBrand: Array,
    baseUrl: String,
  },
  methods: {
    //브랜드 카드 클릭시
    onClicked(brandNo) {
      this.$emit('click', brandNo);
    },
  },
};
</script>

<style></style>
