<template>
  <v-container>
    <v-select
      :items="companyList"
      v-model="selectedCompanyNo"
      label="업체 선택"
      item-text="NAME_KR"
      item-value="NO"
      :disabled="userType === 'district' ? false : true"
      @change="companySelected"
    ></v-select>
    <v-autocomplete
      v-model="selectedDistrictNo"
      :items="districtList"
      :loading="loading"
      :success-messages="success"
      color="orange"
      hide-selected
      item-value="NO"
      item-text="NAME_KR"
      label="지점 검색"
      placeholder="지점을 선택하세요"
      prepend-icon="mdi-database-search"
      :rules="[required]"
      :disabled="userType === 'district' && selectedCompanyNo ? false : true"
      @change="districtChanged"
    ></v-autocomplete>
  </v-container>
</template>

<script>
import { validations } from '~/assets/mixins/validations';
export default {
  props: { userType: String, loading: Boolean, success: String },
  mixins: [validations],
  data: () => ({
    selectedDistrictNo: null,
    districtList: [],
    companyList: [],
    selectedCompanyNo: null,
  }),
  methods: {
    companySelected() {
      this.selectedDistrictNo = null;
      return this.$axios
        .$get(`/companyAdmin/${this.selectedCompanyNo}/companyDistrict`)
        .then((res) => {
          // console.log('districtList', res);
          this.districtList = res;
        });
    },
    districtChanged() {
      this.$emit('changed', this.selectedDistrictNo);
    },
  },
  created() {
    this.$axios.$get('/companyAdmin').then((res) => {
      this.companyList = res.rows;
    });
  },
  watch: {
    userType() {
      this.selectedDistrictNo = null;
      this.selectedCompanyNo = null;
    },
  },
};
</script>

<style></style>
