<template>
  <v-container>
    <v-select
      :items="companyList"
      v-model="selectedCompanyNo"
      label="업체 선택"
      item-text="NAME_KR"
      item-value="NO"
      @change="companySelected"
    ></v-select>
    <v-autocomplete
      v-model="selectedPromo"
      :items="promoList"
      :loading="loading"
      :success-messages="success"
      :error-messages="error"
      color="orange"
      return-object
      hide-selected
      item-value="NO"
      item-text="TITLE"
      label="프로모션 검색"
      placeholder="프로모션을 선택하세요"
      prepend-icon="mdi-database-search"
      @change="promoSelected"
      :disabled="selectedCompanyNo ? false : true"
    ></v-autocomplete>
  </v-container>
</template>

<script>
export default {
  props: {
    loading: Boolean,
    success: String,
    error: String,
    spaceNo: Number,
    disabled: String,
    userType: { type: String, default: 'normal' },
  },
  data: () => ({
    companyList: [],
    promoList: [],
    selectedCompanyNo: null,
    selectedPromo: null,
  }),
  methods: {
    companySelected() {
      this.selectedDistrictNo = null;
      return this.$axios
        .$get(`/companyAdmin/${this.selectedCompanyNo}/promotions`)
        .then((res) => {
          console.log('promoList', res);
          this.promoList = res;
        });
    },
    promoSelected() {
      this.$emit('selected', this.selectedPromo);
    },
  },
  created() {
    this.$axios.$get(`/companyAdmin`).then((res) => {
      console.log('company list', res);
      this.companyList = res.rows;
    });
  },
};
</script>

<style></style>
