<template>
  <main
    id="deliverySpaceDetail"
    class="main-wrapper space-detail-wrapper"
    v-if="space"
  >
    <article class="main-article">
      <header class="article-header is-blind">
        <h2>공간상세 정보</h2>
      </header>
      <div class="article-content">
        <!-- 상권분석 정보 탭 추가 -->
        <div
          class="analysis-wrapper"
          v-if="false"
          :class="{
            'is-active': isAnalysisTabVislble,
          }"
        >
          <section class="article-section">
            <header class="section-header is-blind">
              <h3>상권 분석</h3>
            </header>
            <div class="section-conent">
              <p class="space-address" v-if="space.companyDistrict.address">
                <v-icon style="color: #4b80ff;">mdi-map-marker</v-icon>

                <span class="txt-small">
                  {{ space.companyDistrict.region1DepthName }}
                  {{ space.companyDistrict.region2DepthName }}
                  {{ space.companyDistrict.region3DepthName }}
                </span>
              </p>
              <div>
                <vue-daum-map
                  :appKey="appKey"
                  :center="coords"
                  :level.sync="analysisMapMinLevel"
                  :libraries="libraries"
                  :draggable="false"
                  :scrollwheel="false"
                  :disableDoubleClick="true"
                  :disableDoubleClickZoom="true"
                  @load="onAnalysisMapLoad"
                  style="width: 100%; height: 16em;"
                />
              </div>
            </div>
          </section>
          <div id="tabContent">
            <div class="tab-container">
              <v-tabs
                fixed-tabs
                background-color="white"
                ref="tabs"
                v-model="tab"
                light
              >
                <v-tab><span class="tab-txt">요약</span></v-tab>
                <v-tab
                  ><span class="tab-txt" @click="salesTabClicked = true"
                    >매출분석</span
                  ></v-tab
                >
                <v-tab
                  ><span class="tab-txt" @click="categoryTabClicked = true"
                    >업종분석</span
                  ></v-tab
                >
                <v-tab
                  ><span class="tab-txt" @click="populationTabClicked = true"
                    >인구분석</span
                  ></v-tab
                >
              </v-tabs>
            </div>
            <div class="tab-contents">
              <v-tabs-items v-model="tab" :touchless="true" light>
                <v-tab-item>
                  <AnalysisSummary :bCode="space.companyDistrict.bCode" />
                </v-tab-item>
                <v-tab-item>
                  <AnalysisSales
                    v-if="salesTabClicked"
                    :bCode="space.companyDistrict.bCode"
                  />
                </v-tab-item>
                <v-tab-item>
                  <AnalysisCategory
                    v-if="categoryTabClicked"
                    :bCode="space.companyDistrict.bCode"
                  />
                </v-tab-item>
                <v-tab-item>
                  <AnalysisPopulation
                    v-if="populationTabClicked"
                    :bCode="space.companyDistrict.bCode"
                  />
                </v-tab-item>
              </v-tabs-items>
            </div>
          </div>
          <NButton
            :color="!isAnalysisTabVislble ? 'outline-secondary' : 'secondary'"
            size="big"
            circle
            :icon="isAnalysisTabVislble"
            class="btn-analysis mk_delivery_anlaysis_btn"
            :class="{ 'is-scrolled': isScrolled }"
            @click="isAnalysisTabVislble = !isAnalysisTabVislble"
          >
            <template v-if="!isAnalysisTabVislble">
              <span class="txt-center">
                <img
                  src="@/assets/images/delivery-kitchen/ani_graph.gif"
                  alt=""
                  class="w-2"
                />
              </span>
              <span class="d-block txt-mini mt-1">상권분석</span>
            </template>
            <template v-else>
              <i class="icon icon-close"></i>
            </template>
          </NButton>
        </div>
        <!-- // -->
        <div class="slide-wrapper d-lg-none">
          <div
            v-swiper:swiperTop="swiperTopOption"
            v-if="space.images && space.images.length > 0"
            ref="swiperTop"
          >
            <div class="watermark-open" v-if="space.isOpenedYn !== 'Y'">
              <img
                src="@/assets/images/common/watermark_open.png"
                alt="오픈예정"
              />
            </div>
            <div class="swiper-wrapper">
              <div
                class="swiper-slide lazy-preload watermark"
                v-for="image in space.images"
                :key="image.NO"
              >
                <img
                  :data-src="`${image.endpoint}`"
                  class="slide-img swiper-lazy"
                  v-if="image.endpoint"
                />
                <img
                  data-src="@/assets/images/common/no_img.png"
                  class="slide-img swiper-lazy"
                  v-else
                />
                <div class="lazy-loader"></div>
              </div>
            </div>
            <div
              class="swiper-pagination"
              v-if="space.images && space.images.length > 1"
            ></div>
            <NButton
              color="white"
              size="medium"
              icon
              circle
              class="swiper-button-prev"
            >
              <i class="icon icon-arrow-angle-left"></i>
              <span class="is-blind">이전으로</span>
            </NButton>
            <NButton
              color="white"
              size="medium"
              icon
              circle
              class="swiper-button-next"
            >
              <i class="icon icon-arrow-angle-right"></i>
              <span class="is-blind">다음으로</span>
            </NButton>
          </div>
          <div class="swiper-slide" v-else>
            <v-img
              :src="require('@/assets/images/common/no_img.png')"
              class="slide-img"
            />
          </div>
        </div>
        <div class="detail-wrapper">
          <div class="inner-container">
            <div class="row gutter-16 my-sticky-class">
              <div class="col col-lg-8">
                <div clss="detail-container">
                  <section class="article-section">
                    <header class="section-header is-blind">
                      <h3>공간 기본 정보</h3>
                    </header>
                    <div class="section-content">
                      <div class="thumbnail-wrapper d-lg-none">
                        <div
                          v-swiper:swiperThumbs="swiperThumbsOption"
                          v-if="space.images && space.images.length > 0"
                          ref="swiperThumbs"
                          class="mb-4"
                        >
                          <div class="swiper-wrapper">
                            <div
                              class="swiper-slide lazy-preload watermark"
                              v-for="image in space.images"
                              :key="image.NO"
                            >
                              <img
                                :data-src="image.endpoint"
                                class="slide-img swiper-lazy"
                                v-if="image.endpoint"
                              />
                              <img
                                data-src="@/assets/images/common/no_img.png"
                                class="slide-img swiper-lazy"
                                v-else
                              />
                              <div class="lazy-loader"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="space-info">
                        <div class="inner-container">
                          <div
                            class="mb-4 d-lg-none"
                            v-if="space.remainingCount <= 3"
                          >
                            <div class="deadline-label mb-4">
                              <img
                                src="@/assets/images/deadline_clock.gif"
                                class="w-4"
                              />
                              <span class="txt-bold txt-tiny">마감임박</span>
                            </div>
                          </div>

                          <div class="mb-4">
                            <span class="space-cate">
                              <Badge
                                color="lightblue"
                                size="mini"
                                text="배달형"
                              />
                              <Badge
                                color="danger"
                                size="mini"
                                text="마감임박"
                                v-if="space.remainingCount <= 3"
                              />
                            </span>
                            <span class="space-no"
                              >공간번호 {{ space.no }}</span
                            >
                          </div>
                          <div class="row-box pr-30">
                            <h2
                              class="space-name"
                              v-if="space.typeName && space.size"
                            >
                              {{ space.companyDistrict.company.nameKr }}
                              {{ space.companyDistrict.nameKr }}
                              {{ space.size }}평
                            </h2>
                            <p
                              class="space-address"
                              v-if="space.companyDistrict.address"
                            >
                              {{ space.companyDistrict.region1DepthName }}
                              {{ space.companyDistrict.region2DepthName }}
                              {{ space.companyDistrict.region3DepthName }}
                            </p>
                            <div class="mt-2">
                              <div class="d-flex">
                                <span class="mr-1">
                                  <i
                                    class="icon icon-heart-fill txt-primary txt-bold"
                                    v-if="space.likedYn || isLiked"
                                  ></i>
                                  <i
                                    class="icon icon-heart txt-bold"
                                    v-else
                                  ></i>
                                </span>
                                <span class="txt-black">{{
                                  space.likedCount
                                }}</span>
                              </div>
                            </div>
                            <div class="btn-share">
                              <NButton
                                color="outline-gray"
                                size="medium"
                                icon
                                circle
                                @click="favoriteSpace()"
                                class="btn-like d-none d-lg-inline-block mk_sp_like_btn"
                              >
                                <i
                                  class="icon icon-heart-fill txt-big txt-primary mk_sp_like_btn"
                                  v-if="space.likedYn || isLiked"
                                ></i>
                                <i
                                  class="icon icon-heart txt-big mk_sp_like_btn"
                                  v-else
                                ></i>
                                <span class="is-blind">찜하기</span>
                              </NButton>
                              <NButton
                                color="outline-gray"
                                size="medium"
                                icon
                                circle
                                @click="showShareBtn = !showShareBtn"
                                class="ml-2"
                              >
                                <i class="icon icon-share"></i>
                                <span>공유하기</span>
                              </NButton>
                            </div>
                          </div>
                          <div class="row-box d-lg-none">
                            <div id="infoAppVisit">
                              <SpacePriceArea
                                :deposit="space.deposit"
                                :rentalfee="space.monthlyRentFee"
                                :pyeong="space.size"
                              />
                              <div class="txt-box">
                                <p class="txt-mini txt-black">
                                  입점 문의 후 신속하게 담당자가
                                  연락드리겠습니다
                                </p>
                              </div>
                              <div class="btn-box">
                                <div class="row gutter-8">
                                  <div class="col-3">
                                    <NButton
                                      color="outline-primary"
                                      size="medium"
                                      block
                                      @click="favoriteSpace()"
                                      class="btn-like mk_sp_like_btn"
                                    >
                                      <i
                                        class="icon icon-heart-fill txt-big txt-primary mk_sp_like_btn"
                                        v-if="space.likedYn || isLiked"
                                      ></i>
                                      <i
                                        class="icon icon-heart txt-big txt-primary mk_sp_like_btn"
                                        v-else
                                      ></i>
                                      <span class="is-blind">찜하기</span>
                                    </NButton>
                                  </div>
                                  <div class="col-9">
                                    <NButton
                                      color="primary"
                                      block
                                      @click="toSpaceMeeting()"
                                      class="mk_sp_topapply_btn"
                                    >
                                      입점 문의
                                    </NButton>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <div class="slide-wrapper d-none d-lg-block">
                    <div class="watermark-open" v-if="space.isOpenedYn !== 'Y'">
                      <img
                        src="@/assets/images/common/watermark_open.png"
                        alt="오픈예정"
                      />
                    </div>
                    <div
                      v-swiper:swiperTop2="swiperTopOption"
                      v-if="space.images && space.images.length > 0"
                    >
                      <div class="swiper-wrapper">
                        <div
                          class="swiper-slide lazy-preload watermark"
                          v-for="image in space.images"
                          :key="image.NO"
                        >
                          <img
                            :data-src="`${image.endpoint}`"
                            class="slide-img swiper-lazy"
                            v-if="image.endpoint"
                          />
                          <img
                            data-src="@/assets/images/common/no_img.png"
                            class="slide-img swiper-lazy"
                            v-else
                          />
                          <div class="lazy-loader"></div>
                        </div>
                      </div>
                      <div
                        class="swiper-pagination"
                        v-if="space.images && space.images.length > 1"
                      ></div>
                      <NButton
                        color="white"
                        size="medium"
                        icon
                        circle
                        class="swiper-button-prev"
                      >
                        <i class="icon icon-arrow-angle-left"></i>
                        <span class="is-blind">이전으로</span>
                      </NButton>
                      <NButton
                        color="white"
                        size="medium"
                        icon
                        circle
                        class="swiper-button-next"
                      >
                        <i class="icon icon-arrow-angle-right"></i>
                        <span class="is-blind">다음으로</span>
                      </NButton>
                    </div>
                    <!-- 등록된 이미지 없을 경우 -->
                    <div class="swiper-slide" v-else>
                      <v-img
                        :src="require('@/assets/images/common/no_img.png')"
                        class="slide-img"
                      />
                    </div>
                  </div>
                  <div class="d-lg-none">
                    <div
                      class="promotion-mo-wrapper bg-light py-4"
                      v-if="
                        space.companyDistrict.promotions &&
                        space.companyDistrict.promotions.length > 0
                      "
                    >
                      <div class="px-6">
                        <h4 class="txt-medium txt-bold txt-black">
                          진행중인 이벤트
                        </h4>
                      </div>
                      <template
                        v-if="space.companyDistrict.promotions.length > 1"
                      >
                        <div v-swiper:swiperPromotion="swiperPromotionOption">
                          <div class="swiper-wrapper pl-4">
                            <div
                              class="swiper-slide py-4 px-2"
                              v-for="promotion in space.companyDistrict
                                .promotions"
                              :key="promotion.no"
                            >
                              <PromotionPreview :promotion="promotion" />
                            </div>
                          </div>
                        </div>
                      </template>
                      <template v-else>
                        <div
                          class="py-4 px-2"
                          v-for="promotion in space.companyDistrict.promotions"
                          :key="promotion.no"
                        >
                          <PromotionPreview :promotion="promotion" />
                        </div>
                      </template>
                    </div>
                  </div>
                  <div
                    id="tabContent"
                    :class="{ 'is-fixed': isScrolled }"
                    ref="tabContent"
                  >
                    <div class="tab-container">
                      <div class="inner-container">
                        <v-tabs
                          fixed-tabs
                          background-color="white"
                          ref="tabs"
                          v-model="tab"
                          light
                        >
                          <v-tab
                            v-scroll-to="{ el: '#tabContent', offset: -72 }"
                            class="mk_sp_info_spaces1_btn"
                          >
                            <span class="mk_sp_info_spaces1_btn tab-txt"
                              >공간정보</span
                            >
                            <div class="line">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                            </div>
                          </v-tab>
                          <v-tab
                            v-scroll-to="{ el: '#tabContent', offset: -72 }"
                            class="mk_sp_info_spaces2_btn v-tab--highlight"
                            v-if="!isVicinityFailed"
                            @click="categoryTabClicked = true"
                          >
                            <span class="mk_sp_info_spaces2_btn tab-txt">
                              <!-- <img
                                src="@/assets/svg/icon/chart_line.svg"
                                class="w-3 mr-2"
                              /> -->
                              <img
                                src="@/assets/images/delivery-kitchen/ani_graph.gif"
                                alt=""
                                class="w-3 mr-2"
                              />
                              <span>상권분석</span>
                            </span>
                            <div class="line">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                            </div>
                          </v-tab>
                        </v-tabs>
                      </div>
                    </div>
                    <v-tabs-items v-model="tab" :touchless="true" light>
                      <v-tab-item>
                        <section class="article-section">
                          <header class="section-header is-blind">
                            <h3>공간정보 탭 내용</h3>
                          </header>
                          <div class="section-content">
                            <DetailInfoBox v-if="space.desc">
                              <template v-slot:title>
                                <h4>공간소개</h4>
                              </template>
                              <template v-slot:content>
                                <div class="txt-box txt-small">
                                  <p>{{ space.desc }}</p>
                                </div>
                              </template>
                            </DetailInfoBox>

                            <DetailInfoBox v-if="space.amenities.length > 0">
                              <template v-slot:title>
                                <h4>주방시설</h4>
                                <p class="h4_desc">
                                  공유주방에서 제공하는 시설/집기를 확인하세요.
                                </p>
                              </template>
                              <template v-slot:content>
                                <FacilityInfoList>
                                  <FacilityInfo
                                    v-for="(amenity, index) in space.amenities"
                                    :key="index"
                                    :label="amenity.amenityName"
                                    :text="amenity.amenityName"
                                    :icon="amenity.image[0].endpoint"
                                  ></FacilityInfo>
                                </FacilityInfoList>
                              </template>
                            </DetailInfoBox>
                            <DetailInfoBox
                              v-if="space.companyDistrict.amenities.length > 0"
                            >
                              <template v-slot:title>
                                <h4>공용시설</h4>
                                <p class="h4_desc">
                                  매장에서 제공하는 시설/집기를 확인하세요.
                                </p>
                                <p></p>
                              </template>

                              <template v-slot:content>
                                <FacilityInfoList>
                                  <FacilityInfo
                                    v-for="(amenity, index) in space
                                      .companyDistrict.amenities"
                                    :key="index"
                                    :label="amenity.amenityName"
                                    :text="amenity.amenityName"
                                    :icon="amenity.image[0].endpoint"
                                  ></FacilityInfo>
                                </FacilityInfoList>
                              </template>
                            </DetailInfoBox>
                            <DetailInfoBox
                              v-if="space.brands && space.brands.length > 0"
                            >
                              <template v-slot:title>
                                <h4>
                                  나누다키친에서 추천하는 브랜드 만나보세요
                                </h4>
                                <p class="h4_desc">
                                  이 공유주방에 알맞는 브랜드들을 소개합니다.
                                </p>
                              </template>
                              <template v-slot:content>
                                <div class="txt-box mb-2">
                                  <p
                                    class="txt-tiny txt-secondary d-flex align-items-center"
                                  >
                                    <i
                                      class="icon icon-info-guide txt-small mr-1"
                                    ></i>
                                    <span
                                      >관심 브랜드 로고를 클릭해보세요.</span
                                    >
                                  </p>
                                </div>
                                <DeliveryBrandList
                                  :brands="space.brands"
                                  @click="showBrandInfo"
                                />
                              </template>
                            </DetailInfoBox>
                            <DetailInfoBox>
                              <template v-slot:title>
                                <h4>위치</h4>
                              </template>
                              <template v-slot:content>
                                <div class="map-wrapper">
                                  <vue-daum-map
                                    :appKey="appKey"
                                    :center="coords"
                                    :level.sync="level"
                                    :libraries="libraries"
                                    :draggable="false"
                                    :scrollwheel="false"
                                    :disableDoubleClick="true"
                                    :disableDoubleClickZoom="true"
                                    @load="onLoad"
                                    style="
                                      width: 100%;
                                      height: 100%;
                                      position: absolute;
                                      left: 0;
                                      top: 0;
                                    "
                                  />
                                </div>
                              </template>
                            </DetailInfoBox>
                            <DetailInfoBox v-if="similarSpaces.length > 0">
                              <template v-slot:title>
                                <h4>
                                  함께 비교하면 좋을 공유주방
                                </h4>
                              </template>
                              <template v-slot:content>
                                <NewDeliverySpace
                                  title="배달형 공유주방"
                                  :newSpaces="similarSpaces"
                                  hideBtnMore
                                />
                              </template>
                            </DetailInfoBox>
                          </div>
                        </section>
                      </v-tab-item>
                      <v-tab-item>
                        <!-- <section
                          class="article-section"
                          v-if="space.companyDistrict"
                        >
                          <header class="section-header is-blind">
                            <h3>상권분석 내용</h3>
                          </header>
                          <div class="section-content">
                            <DetailInfoBox
                              v-if="
                                space.companyDistrict.vicinityInfo
                                  .avgBizConSales
                              "
                            >
                              <template v-slot:title>
                                <h4>주변 평균 월 매출</h4>
                              </template>
                              <template v-slot>
                                <span class="date">{{ updateDate }}</span>
                              </template>
                              <template v-slot:content>
                                <div style="max-width: 35em; margin: 0 auto;">
                                  <ChartAvgSales
                                    :height="250"
                                    :analysisInfo="
                                      space.companyDistrict.vicinityInfo.result
                                    "
                                    :amountSortedInfo="amountSortedInfo"
                                  />
                                </div>
                              </template>
                            </DetailInfoBox>
                            <DetailInfoBox v-if="genderDistribution">
                              <template v-slot:title>
                                <h4>성별 고객 분포</h4>
                                <p class="h4_desc">
                                  창업 메뉴 선정에 필요한 지표가 됩니다.
                                </p>
                                <span class="date">{{ updateDate }}</span>
                              </template>
                              <template v-slot:content>
                                <div class="chart-wrapper mt-20">
                                  <ChartGender
                                    :options="genderDistribution"
                                    id="genderChart"
                                  ></ChartGender>
                                </div>
                              </template>
                            </DetailInfoBox>
                            <DetailInfoBox
                              v-if="
                                space.companyDistrict.vicinityInfo.ageGroupDis
                                  .result
                              "
                            >
                              <template v-slot:title>
                                <h4>연령별</h4>
                                <span class="date">{{ updateDate }}</span>
                              </template>
                              <template v-slot:content>
                                <div class="chart-wrapper">
                                  <ChartAge
                                    :dataGroup="
                                      space.companyDistrict.vicinityInfo
                                        .ageGroupDis.result
                                    "
                                  />
                                </div>
                              </template>
                            </DetailInfoBox>
                            <DetailInfoBox
                              v-if="
                                space.companyDistrict.vicinityInfo
                                  .dayDistribution.result
                              "
                            >
                              <template v-slot:title>
                                <h4>요일별</h4>
                                <span class="date">{{ updateDate }}</span>
                              </template>
                              <template v-slot:content>
                                <div class="chart-wrapper">
                                  <ChartDay
                                    :dataGroup="
                                      space.companyDistrict.vicinityInfo
                                        .dayDistribution.result
                                    "
                                  />
                                </div>
                              </template>
                            </DetailInfoBox>
                          </div>
                        </section> -->
                        <section
                          class="article-section"
                          v-if="space.companyDistrict"
                        >
                          <header class="section-header is-blind">
                            <h3>상권분석 내용</h3>
                          </header>
                          <div class="section-content">
                            <AnalysisCategory
                              v-if="categoryTabClicked"
                              :bCode="space.companyDistrict.bCode"
                            />
                            <AnalysisPopulation
                              v-if="categoryTabClicked"
                              :bCode="space.companyDistrict.bCode"
                            />
                          </div>
                        </section>
                      </v-tab-item>
                    </v-tabs-items>
                  </div>
                </div>
              </div>
              <div class="col col-lg-4 d-none d-lg-block">
                <div id="infoAppVisitSticky" v-stick-in-parent="stickykit">
                  <div class="border p-4">
                    <div
                      class="deadline-label mb-4"
                      v-if="space.remainingCount <= 3"
                    >
                      <img
                        src="@/assets/images/deadline_clock.gif"
                        class="w-4"
                      />
                      <span class="txt-bold txt-tiny">마감임박</span>
                    </div>
                    <SpacePriceArea
                      :deposit="space.deposit"
                      :rentalfee="space.monthlyRentFee"
                      :pyeong="space.size"
                    />
                    <div class="txt-box">
                      <p class="txt-mini txt-black">
                        입점 문의 후 신속하게 담당자가 연락드리겠습니다
                      </p>
                    </div>
                    <div class="btn-box">
                      <NButton
                        color="primary"
                        block
                        @click="toSpaceMeeting()"
                        class="mk_sp_topapply_btn"
                      >
                        입점 문의
                      </NButton>
                    </div>
                  </div>
                  <div
                    class="mt-4 promotion-wrapper"
                    v-if="
                      space.companyDistrict.promotions &&
                      space.companyDistrict.promotions.length > 0
                    "
                  >
                    <div
                      v-swiper:swiperPromotionSticky="
                        swiperPromotionStickyOption
                      "
                    >
                      <div
                        class="d-flex justify-content-between align-items-end px-2"
                      >
                        <h4 class="txt-medium txt-bold txt-black">
                          진행중인 이벤트
                        </h4>
                        <div v-if="space.companyDistrict.promotions.length > 1">
                          <div class="swiper-pagination txt-small"></div>
                        </div>
                      </div>
                      <div class="swiper-wrapper">
                        <div
                          class="swiper-slide py-4 px-2"
                          v-for="promotion in space.companyDistrict.promotions"
                          :key="promotion.no"
                        >
                          <PromotionPreview :promotion="promotion" />
                        </div>
                      </div>

                      <div
                        class="btn-box d-flex mt-4 justify-content-center align-items-center"
                        v-if="space.companyDistrict.promotions.length > 1"
                      >
                        <NButton
                          color="outline-gray"
                          size="mini"
                          icon
                          circle
                          class="swiper-button-prev"
                        >
                          <i class="icon icon-arrow-angle-left txt-bold"></i>
                          <span class="is-blind">이전으로</span>
                        </NButton>
                        <NButton
                          color="outline-gray"
                          size="mini"
                          icon
                          circle
                          class="swiper-button-next"
                        >
                          <i class="icon icon-arrow-angle-right txt-bold"></i>
                          <span class="is-blind">다음으로</span>
                        </NButton>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 스크롤시 하단 고정 -->
      <div
        class="d-lg-none"
        :class="{ 'is-active': isScrolled }"
        id="infoAppVisitFixed"
      >
        <AppVisitBox
          :deposit="space.deposit"
          :rentalfee="space.monthlyRentFee"
          :pyeong="space.size"
          :space="space"
          :route="'/delivery-ktichen/form'"
          addClass="mk_sp_bottomapply_btn"
        />
      </div>
    </article>

    <!-- 브랜드 모달 레이어 -->
    <BrandModal
      :visible="showBrandModal"
      @close="closeBrandModal"
      :brandInfo="brandInfo"
      :menuInfo="menuInfo"
    />
    <!-- 찜 관련 toast -->
    <div class="toast-wrapper">
      <transition name="fadeInOut" mode="out-in">
        <div v-if="isLiked" class="toast-box">
          <span class="toast"
            >찜 되었습니다. 마이페이지 > 찜한 방에서 확인할 수 있습니다.</span
          >
        </div>
      </transition>
      <transition name="fadeInOut" mode="out-in">
        <div v-if="!isLiked" class="toast-box">
          <span class="toast">찜 해제 되었습니다.</span>
        </div>
      </transition>
    </div>
    <Modal
      yesBtn="로그인하기"
      noBtn="닫기"
      :visible="isGuideVisible"
      @close="goToLogin"
    >
      <div class="txt-box txt-center">
        <p class="txt-small txt-black txt-bold">
          로그인이 필요한 서비스 입니다 <br />로그인 하시겠습니까?
        </p>
      </div>
    </Modal>
    <Modal
      noBtn="닫기"
      :visible="isConsultVisible"
      @close="isConsultVisible = false"
    >
      <div class="txt-box txt-center">
        <p class="txt-small txt-black txt-bold">
          해당 공간에서 창업자
          <br />상담이 이루어 지고 있습니다 <br />
          입점문의 해주시면 <br />순차적으로 담당자가 연락드리겠습니다
        </p>
      </div>
    </Modal>
    <Modal noBtn="닫기" :visible="showShareBtn" @close="showShareBtn = false">
      <div class="row-box">
        <h4 class="txt-medium txt-black txt-bold">SNS 공유하기</h4>
      </div>
      <div class="d-flex flex-wrap justify-content-around txt-center mt-6">
        <div>
          <NButton
            id="kakaoShare"
            size="large"
            color="yellow"
            icon
            circle
            @click="kakaoShare()"
          >
            <i class="icon-sns-kakao"></i>
          </NButton>
          <p class="my-1">
            <span class="d-block txt-tiny txt-gray-700">카카오톡</span>
          </p>
        </div>
        <div>
          <a
            :href="`https://www.facebook.com/sharer/sharer.php?u=https://nanudakitchen.com/delivery-kitchen/${this.$route.params.uid}`"
            target="_blank"
            class="btn btn-large btn-icon btn-circle btn-blue"
          >
            <i class="icon-sns-fbook"></i>
          </a>
          <p class="my-1">
            <span class="d-block txt-tiny txt-gray-700">페이스북</span>
          </p>
        </div>
        <div>
          <a
            :href="`https://social-plugins.line.me/lineit/share?url=https://nanudakitchen.com/delivery-kitchen/${this.$route.params.uid}`"
            target="_blank"
            class="btn btn-large btn-icon btn-circle btn-green"
          >
            <i class="icon-sns-line"></i>
          </a>
          <p class="my-1">
            <span class="d-block txt-tiny txt-gray-700">라인</span>
          </p>
        </div>
      </div>
    </Modal>
  </main>
</template>

<script>
import LoadingLayer from '@/components/UI/LoadingLayer';
// 상세 정보 컴포넌트
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
import DetailInfoBox from '@/components/spaces/DetailInfoBox'; // 상세정보 컴포넌트
import AppVisitBox from '@/components/Spaces/AppVisitBox'; // 방문신청
import FacilityInfoList from '@/components/spaces/FacilityInfoList'; // 시설 목록
import FacilityInfo from '@/components/spaces/FacilityInfo'; // 시설 목록 내용
import NewDeliverySpace from '@/components/DeliveryKitchen/NewDeliverySpace'; // 유사한 공간
import DeliveryBrandList from '@/components/Brands/DeliveryBrandList'; // 창업 가능 브랜드
import PromotionPreview from '@/components/Promotion/PromotionPreview';

// 차트 컴포넌트
import ChartAvgSales from '@/components/Spaces/ChartAvgSales'; // 평균매출차트
import ChartGender from '@/components/Spaces/ChartGender'; // 성별차트
import ChartAge from '@/components/Spaces/ChartAge'; // 연령차트
import ChartDay from '@/components/Spaces/ChartDay'; // 요일차트

//상권분석 컴포넌트
import AnalysisSales from '@/components/Analysis/AnalysisSales';
import AnalysisSummary from '@/components/Analysis/AnalysisSummary';
import AnalysisCategory from '@/components/Analysis/AnalysisCategory';
import AnalysisPopulation from '@/components/Analysis/AnalysisPopulation';

//  mixins
import { handleScroll } from '@/assets/mixins/handleScroll';
import { kakaoAPIs } from '@/assets/mixins/kakaoAPIs';
import { brandInfo } from '@/assets/mixins/brandInfo';

export default {
  mixins: [handleScroll, kakaoAPIs, brandInfo],
  components: {
    SpacePriceArea,
    DetailInfoBox,
    AppVisitBox,
    FacilityInfoList,
    FacilityInfo,
    ChartAvgSales,
    ChartGender,
    ChartAge,
    ChartDay,
    LoadingLayer,
    NewDeliverySpace,
    DeliveryBrandList,
    PromotionPreview,
    AnalysisSales,
    AnalysisSummary,
    AnalysisCategory,
    AnalysisPopulation,
  },
  async asyncData(context) {
    let res = await context.$axios.$get(
      `/deliverySpace/${context.params.uid}`,
      { params: { nanudaUserNo: context.store.state.userNum } },
    );
    let similarSpaces = await context.$axios.$get(
      `/deliverySpace/${context.params.uid}/similar`,
      {
        params: {
          nanudaUserNo: context.store.state.userNum,
          take: 5,
        },
      },
    );
    let promotionData = await context.$axios.$get(
      `/space/${context.params.uid}/promotions`,
    );
    let filterArray = ['부페']; // 업종 필터
    let genderDis = { boy: null, girl: null };
    let isVicinityFailed;
    let amountSortedInfo = null;
    if (res) {
      //상권정보 데이터가 없으면 isVicinityFailed = true
      if (res.companyDistrict.vicinityInfo) {
        const theInfo = JSON.stringify(
          res.companyDistrict.vicinityInfo.avgBizConSales.result,
        );
        isVicinityFailed =
          theInfo.includes('null') ||
          theInfo.includes('fail') ||
          res.companyDistrict.vicinityInfo.avgBizConSales.result.length < 1;
      } else {
        isVicinityFailed = true;
      }

      if (!isVicinityFailed) {
        //타입 가격순대로 정렬
        amountSortedInfo = res.companyDistrict.vicinityInfo.avgBizConSales.result
          .sort((a, b) => {
            return b.KB_AVG_AMT - a.KB_AVG_AMT;
          })
          .filter((arr) => {
            for (const filter of filterArray) {
              if (!arr.KB_STORE_TYPE.includes(filter)) {
                return true;
              }
            }
          });

        // 성별 비율
        genderDis = {
          boy: Math.round(
            res.companyDistrict.vicinityInfo.genderDistribution.result.M * 100,
          ),
          girl: Math.round(
            res.companyDistrict.vicinityInfo.genderDistribution.result.FM * 100,
          ),
        };
      }

      return {
        isVicinityFailed: isVicinityFailed,
        space: res, // 공간 정보
        coords: { lat: res.companyDistrict.lat, lng: res.companyDistrict.lon }, // 지점 위,경도
        similarSpaces: similarSpaces.items, // 유사 공간
        updateDate: res.createdAt, // 업데이트 날짜
        amountSortedInfo: amountSortedInfo, // 주변 평균 월 매출
        genderDistribution: genderDis,
        promotions: promotionData,
      };
    }
  },
  head() {
    // 상세페이지 - head meta 태그 추가
    return {
      title: `${this.space.companyDistrict.company.nameKr} ${this.space.companyDistrict.nameKr} ${this.space.size}평 - 나누다키친`,
      meta: [
        {
          hid: 'og:title',
          name: 'og:title',
          property: 'og:title',
          content: `${this.space.companyDistrict.company.nameKr} ${this.space.companyDistrict.nameKr} ${this.space.size}평 - 나누다키친`,
        },
        {
          hid: 'og:url',
          name: 'og:url',
          property: 'og:url',
          content: `https://nanudakitchen.com/delivery-kitchen/${this.$route.params.uid}`,
        },
        {
          hid: 'og:description',
          name: 'og:description',
          property: 'og:description',
          content: this.space.desc,
        },
        {
          hid: 'og:image',
          name: 'og:image',
          property: 'og:image',
          content:
            this.space.images && this.space.images.length > 0
              ? this.space.images[0].endpoint
              : '/meta_main.png',
        },
      ],
    };
  },
  data() {
    return {
      salesTabClicked: false,
      categoryTabClicked: false,
      populationTabClicked: false,
      salesCategoryRatio: null,
      isAnalysisTabVislble: false,
      tab: null,
      minLevel: 6, //최소 지도 레벨
      analysisMapMinLevel: 8,
      baseUrl: process.env.baseUrl,
      isScrolled: false,
      employeeCount: null, // 직장인 수
      showShareBtn: false, // SNS 공유버튼
      swiperTopOption: {
        // 상단 슬라이드
        loop: false,
        slidesPerView: 1,
        centeredSlides: true,
        spaceBetween: 0,
        grabCursor: true,
        followFinger: false,
        lazy: {
          loadPrevNext: true,
          preloaderClass: 'lazy-loader',
        },
        fadeEffect: {
          crossFade: true,
        },
        preloadImages: true,
        navigation: {
          nextEl: '.slide-wrapper .swiper-button-next',
          prevEl: '.slide-wrapper .swiper-button-prev',
          hideOnClick: true,
          disabledClass: 'swiper-button-disabled',
          hiddenClass: 'swiper-button-hidden',
        },
        pagination: {
          el: '.slide-wrapper  .swiper-pagination',
          clickable: true,
          renderBullet: function (index, className) {
            return '<span class="' + className + '">' + index + '</span>';
          },
        },
      },
      swiperThumbsOption: {
        // 썸네일 슬라이드
        loop: false,
        slidesPerView: 6,
        centeredSlides: true,
        spaceBetween: 10,
        grabCursor: true,
        followFinger: false,
        lazy: {
          loadPrevNext: true,
          preloaderClass: 'lazy-loader',
        },
        fadeEffect: {
          crossFade: true,
        },
        preloadImages: true,
      },
      swiperPromotionOption: {
        // 프로모션 Mobile
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: false,
        freeMode: true,
        spaceBetween: 0,
        grabCursor: true,
      },
      swiperPromotionStickyOption: {
        // 프로모션 PC
        loop: true,
        slidesPerView: 1,
        centeredSlides: true,
        spaceBetween: 0,
        preloadImages: true,
        followFinger: false,
        grabCursor: false,
        navigation: {
          nextEl: '.promotion-wrapper .swiper-button-next',
          prevEl: '.promotion-wrapper .swiper-button-prev',
        },
        pagination: {
          el: '.promotion-wrapper  .swiper-pagination',
          type: 'fraction',
          clickable: true,
        },
      },
      isLiked: false, // 찜하기 상태
      isGuideVisible: false, // 로그인 안내 팝업 상태
      isConsultVisible: false, // 해당 공간 상담신청 안내 팝업 상태
      showSideDrawer: false, // 헤더 메뉴 레이어 상태
      stickykit: {
        options: {
          parent: '.my-sticky-class',
          offset_top: 90,
        },
        on: {
          'sticky_kit:stick': function (e) {},
          'sticky_kit:unstick': function (e) {},
        },
      },
    };
  },
  methods: {
    //상권분석 데이터 공통 get method
    // getAnalysisTabInfo(url) {
    //   return this.$axios.get(
    //     `https://platform-analysis.nanudakitchen.com/analysis-tab/${url}?bdongCode=${this.space.companyDistrict.bCode}`,
    //   );
    // },
    // async getSalesAnalysisInfo() {
    //   const salesCategoryRatio = await this.getAnalysisTabInfo(
    //     'category-ratio',
    //   );
    //   this.salesCategoryRatio = salesCategoryRatio.data;
    // },
    async getCategoryAnalysisInfo() {
      //...
    },
    async getPopulationAnalysisInfo() {
      //...
    },
    onAnalysisMapLoad(map) {
      if (this.analysisMapMinLevel) {
        map.setMinLevel(this.analysisMapMinLevel);
      }
      const moveLatLon = new window.kakao.maps.LatLng(
        this.coords.lat,
        this.coords.lng,
      );
      const theCircle = new window.kakao.maps.Circle({
        map: map,
        center: moveLatLon,
        strokeWeight: 2,
        strokeColor: '#ffffff',
        strokeOpacity: 0.8,
        strokeStyle: 'dashed',
        fillColor: '#17a2b8',
        fillOpacity: 0.5,
      });
      theCircle.setRadius(1000);

      theCircle.setMap(map);
      this.map = map;
    },
    openSideDrawer() {
      // 헤더 메뉴 레이어 상태
      this.showSideDrawer = !this.showSideDrawer;
    },
    goToLogin(res) {
      if (res.ok) {
        this.$router.push('/login');
      } else {
        this.isGuideVisible = false;
      }
    },
    scrollFunc() {
      this.appVisitFixed();
    },
    appVisitFixed() {
      // 상담신청 고정 이벤트
      const target = this.$refs.tabContent;
      if (target) {
        let rect =
          target.getBoundingClientRect().top + this.currentScroll ||
          target.offsetTop;
        if (this.currentScroll > rect) {
          this.isScrolled = true;
        } else {
          this.isScrolled = false;
        }
      }
    },
    kakaoShare() {
      // 카카오 api 링크 공유
      Kakao.Link.sendScrap({
        requestUrl: `https://nanudakitchen.com/delivery-kitchen/${this.$route.params.uid}`,
        installTalk: true,
        fail: function (err) {
          console.log(err);
        },
      });
    },
    async favoriteSpace() {
      //토큰 유효기간 검사
      await this.$checkTokenExpired();
      if (this.$store.getters.isAuthenticated) {
        if (this.space.likedYn) {
          // 찜 해제하기
          return this.$axios
            .$delete('/favoriteSpace', {
              params: {
                deliverySpaceNo: `${this.$route.params.uid}`,
                spaceTypeNo: '2',
              },
            })
            .then((res) => {
              if (res) {
                this.space.likedYn = false;
                this.space.likedCount -= 1;
                this.isLiked = false;
              }
            });
        } else {
          // 찜 하기
          return this.$axios
            .$post('/favoriteSpace', {
              deliverySpaceNo: `${this.$route.params.uid}`,
              spaceTypeNo: '2',
            })
            .then((res) => {
              if (res) {
                this.space.likedYn = true;
                this.space.likedCount += 1;
                this.isLiked = true;
              }
            });
        }
      } else {
        this.isGuideVisible = true;
      }
    },
    async toSpaceMeeting(res) {
      await this.$checkTokenExpired();
      this.$store.dispatch('spaces/setSelectedSpace', this.space);
      if (this.$store.getters.isAuthenticated) {
        this.$router.push('/delivery-kitchen/form');
      } else {
        this.$router.push({
          name: 'login',
          params: { redirected: '/delivery-kitchen/form' }, // form 으로 바로 연결
        });
      }
    },
  },
  created() {
    // 로그인 체크 후 찜상태 표시
    if (this.$store.getters.isAuthenticated) {
      this.isLiked = this.space.likedYn;
    }
    if (this.space.consultCount >= 10) {
      this.isConsultVisible = true;
    }
  },
  mounted() {
    const referrer = document.referrer;

    // 기업공유주방 광고용 pixel 값
    if (this.space.companyDistrict.company.companyType === 'CORP_COMPANY') {
      if (referrer.includes('facebook')) {
        this.$fb.track('facebook_NHKitchen_view');
      } else if (referrer.includes('instagram')) {
        this.$fb.track('instagram_NHKitchen_view');
      } else if (referrer.includes('kakao')) {
        this.$fb.track('kakao_NHKitchen_view');
      }
      console.log(referrer);
    }

    // 썸네일 슬라이드 sync
    this.$nextTick(() => {
      if (this.space.images && this.space.images.length > 0) {
        const swiperTop = this.$refs.swiperTop.swiper;
        const swiperThumbs = this.$refs.swiperThumbs.swiper;
        swiperTop.controller.control = swiperThumbs;
        swiperThumbs.controller.control = swiperTop;
      }
    });
  },
};
</script>
<style lang="scss">
.marker {
  position: relative;
  bottom: 3em;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #635dff;
  padding: 0.65em;
  font-size: $txt-mini;
  border-style: solid;
  border-color: #2e28ff;
  border-width: 2px;
  &:after {
    position: absolute;
    top: 67%;
    left: 50%;
    display: block;
    content: '';
    width: 50%;
    height: 50%;
    margin-left: -25%;
    background-color: #635dff;
    transform: rotate(45deg);
    border: 0;
    border-right-width: inherit;
    border-bottom-width: inherit;
    border-color: inherit;
    border-style: solid;
  }

  &.is-active {
    background-color: #d95050;
    border-color: #c12b2b;
    &:after {
      background-color: #d95050;
      border-color: #c12b2b;
    }
  }

  .count {
    position: relative;
    z-index: 2;
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: $txt-bold;
    background-color: $white;
    border-radius: 50%;
    color: $black;
  }
}
// delivery space detail
#deliverySpaceDetail {
  .empty-header.transparent {
    position: fixed !important;
    z-index: $zindex-header;
    transition: background-color 0.4s ease;
  }
  .down,
  .up {
    .empty-header.transparent {
      background: $black;
      color: $white;
    }
  }
  .toast-wrapper {
    .toast-box {
      position: fixed;
      bottom: 1em;
      left: 0;
      right: 0;
      text-align: center;
      z-index: $zindex-modal;
      opacity: 0;
      visibility: hidden;
      @include maxLayout();

      .toast {
        display: inline-block;
        padding: 0.5em;
        background-color: rgba(0, 0, 0, 0.65);
        color: $white;
        text-align: center;
        border-radius: $border-radius-sm;
        font-size: $txt-tiny;
      }
    }
  }

  .deadline-label {
    padding: 0.25em 0.25em;
    border-radius: $border-radius-sm;
    border: 1px solid #f20303;
    color: #f20303;
    text-align: center;
    > * {
      vertical-align: middle;
    }
  }

  #deliveryAppVisitFixed {
    padding: 0.5em 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-modal;
    background: $white;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
    @include maxLayout();
    .btn-favorite {
      &:hover {
        background-color: transparent;
        color: $primary;
      }
    }
  }

  .promotion-mo-wrapper {
    .swiper-slide {
      width: 88%;
      min-width: 260px;
    }
  }

  #infoAppVisitSticky {
    .promotion-wrapper {
      .swiper-pagination {
        position: static;
        .swiper-pagination-current {
          color: $primary;
        }
      }
      .swiper-button-prev {
        position: static;
      }
      .swiper-button-next {
        position: static;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  #deliverySpaceDetail {
    .promotion-mo-wrapper {
      .swiper-slide {
        width: 56%;
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .delivery-kitchen-uid {
    #footer {
      display: none;
    }
  }
}
</style>
