<template>
  <main id="spaceMeetingsForm" class="main-wrapper">
    <EmptyHeader border title="상담신청">
      <template v-slot:leftArea>
        <PrevButton @click="$router.go(-1)" />
      </template>
    </EmptyHeader>
    <article class="main-article">
      <header class="article-header mb-4 is-blind">
        <h2 class="txt-large txt-black">신청공간 및 상담관련</h2>
      </header>
      <div class="article-content">
        <section class="article-section border-bottom">
          <div class="inner-container">
            <header class="section-header mb-4">
              <h3 class="txt-medium txt-bold txt-black">입점하고 싶은 공간</h3>
            </header>
            <div class="section-conent">
              <div
                class="app-space-preview d-flex align-items-start justify-content-start"
              >
                <div class="col-4 p-0">
                  <div class="app-space-img lazy-preload">
                    <img v-lazy="filePath" loading="lazy" alt v-if="filePath" />
                    <img
                      v-lazy="require('@/assets/images/common/no_img.png')"
                      loading="lazy"
                      alt
                      v-else
                    />
                  </div>
                </div>
                <div class="col-8 p-0 pl-4">
                  <div class="row-box">
                    <div class="mb-2">
                      <Badge
                        v-if="theSpace.SPACE_TYPE_NO == 1"
                        color="darkorange"
                        size="mini"
                        text="식당형"
                      />
                      <Badge
                        v-else
                        color="lightblue"
                        size="mini"
                        text="배달형"
                      />
                      <span class="d-inline-block txt-mini"
                        >공간번호 {{ theSpace.NO }}</span
                      >
                    </div>
                    <h4 class="txt-small txt-black txt-bold">
                      {{ theSpace.SHOW_NAME }}
                    </h4>
                    <p class="txt-tiny txt-black txt-semi-bold mt-1">
                      {{ theSpace.SIDO }} {{ theSpace.SIGUNGU }}
                      {{ theSpace.BNAME }}
                    </p>
                  </div>
                  <div class="row-box mt-2">
                    <SpacePriceArea
                      :deposit="theSpace.DEPOSIT"
                      :rentalfee="theSpace.RENTAL_FEE"
                      :pyeong="theSpace.SIZE"
                    ></SpacePriceArea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="article-section">
          <div class="inner-container">
            <header class="section-header mb-4">
              <h3 class="txt-medium txt-bold txt-black">상담관련</h3>
            </header>
            <div class="section-conent">
              <div class="form-wrapper">
                <!-- 상담가능 시간 -->
                <FormGroup>
                  <div class="d-flex align-items-end justify-content-between">
                    <FormLabel>유선상담 가능 시간 선택</FormLabel>
                    <Radio
                      id="timeInfo01"
                      name="timeInfo"
                      label="상시가능"
                      class="type-check txt-tiny"
                      @click="hopeTime = 'ALL_DAY'"
                      :checked="hopeTime == 'ALL_DAY'"
                    ></Radio>
                  </div>
                  <FormRow class="mt-2">
                    <div class="d-flex flex-wrap gutter-8 txt-center txt-small">
                      <div class="col-4">
                        <Radio
                          id="timeInfo02"
                          name="timeInfo"
                          label="10:00~12:00"
                          class="type-button w-100p"
                          @click="hopeTime = '1012'"
                          :checked="hopeTime == '1012'"
                        ></Radio>
                      </div>
                      <div class="col-4">
                        <Radio
                          id="timeInfo03"
                          name="timeInfo"
                          label="14:00~16:00"
                          class="type-button w-100p"
                          @click="hopeTime = '1416'"
                          :checked="hopeTime == '1416'"
                        ></Radio>
                      </div>
                      <div class="col-4">
                        <Radio
                          id="timeInfo04"
                          name="timeInfo"
                          label="16:00~18:00"
                          class="type-button w-100p"
                          @click="hopeTime = '1618'"
                          :checked="hopeTime == '1618'"
                        ></Radio>
                      </div>
                    </div>
                  </FormRow>
                </FormGroup>
                <FormGroup class="pb-4 border-bottom">
                  <FormLabel>창업 경험 유무</FormLabel>
                  <FormRow>
                    <div class="row no-gutters">
                      <div class="col-4">
                        <Radio
                          id="expY"
                          name="changup_exp_yn"
                          label="예"
                          :checked="isExp"
                          @click="isExp = !isExp"
                        />
                      </div>
                      <div class="col-4">
                        <Radio
                          id="expN"
                          name="changup_exp_yn"
                          label="아니오"
                          :checked="!isExp"
                          @click="isExp = !isExp"
                        />
                      </div>
                    </div>
                  </FormRow>
                </FormGroup>
                <div class="btn-box d-flex mt-12">
                  <NButton
                    color="primary"
                    size="medium"
                    block
                    class="mk_sp3_form_com_btn"
                    @click="save()"
                    >신청하기</NButton
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </article>
    <!-- 로딩 레이어 -->
    <LoadingLayer v-if="isLoading" />
    <!--// -->
  </main>
</template>
<script>
import EmptyHeader from '@/components/Navigation/EmptyHeader';
import LoadingLayer from '@/components/UI/LoadingLayer';
import SpacePriceArea from '@/components/Spaces/SpacePriceArea';
export default {
  name: 'space-meetings-form',
  middleware: ['no-auth-guard', 'form-guard'],
  layout: 'empty',
  components: {
    EmptyHeader,
    LoadingLayer,
    SpacePriceArea,
  },
  created() {
    //토큰 유효기간 체크
    this.$checkTokenExpired('/space-meetings/form');
  },
  data() {
    return {
      baseUrl: process.env.baseUrl,
      theSpace: this.$store.state.spaces.selectedSpace,
      hopeTime: 'ALL_DAY',
      isExp: true,
      isLoading: false,
    };
  },
  computed: {
    filePath() {
      if (this.theSpace.FILE_MANAGEMENT) {
        if (this.theSpace.FILE_MANAGEMENT[0]) {
          return `${this.baseUrl}/${this.theSpace.FILE_MANAGEMENT[0].FILE_PATH}`;
        }
      }
    },
  },
  methods: {
    save() {
      this.isLoading = true;
      this.$axios
        .$post('/visitCon', {
          NANUDA_USER_NO: this.$store.state.userNum,
          SPACE_ID: this.theSpace.NO,
          HOPE_TIME: this.hopeTime,
          CHANGUP_EXP_YN: this.isExp ? 'Y' : 'N',
        })
        .then((res) => {
          this.isLoading = false;
          this.$router.push('/space-meetings/complete');
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
#spaceMeetingsForm {
  .article-section {
    padding: 1.5em 0;
  }
  .step-box {
    margin: 0 auto;
  }

  .app-space-preview {
    .app-space-img {
      position: relative;
      padding-bottom: 60%;
      overflow: hidden;
      border-radius: $border-radius-sm;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
</style>
