<template>
  <div class="mypage-list-title">
    <h4 class="txt-medium txt-black txt-bold">{{title}}</h4>
  </div>
</template>
<script>
export default {
  props: ["title"]
};
</script>
<style lang="scss">
.mypage-list-title {
  padding-bottom: 1em;
  border-bottom: 1px solid #212121;

  h4 {
    line-height: 1;
  }
}
</style>