<template>
  <div class="mypage-preview">
    <div class="preview-info">
      <div class="info">
        <slot name="info"></slot>
      </div>
      <div class="status">
        <slot name="status"></slot>
      </div>
    </div>
    <slot></slot>
  </div>
</template>
<style lang="scss">
.mypage-preview {
  position: relative;
  padding: 1em 0;
  + .mypage-preview {
    border-top: 1px solid #ddd;
  }
  .space-preview-img {
    position: relative;
    padding-bottom: 56.25%;
  }
  .preview-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .info {
      flex: 5;
    }
    .status {
      flex: 1;
      text-align: center;

      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5em;
        height: 5em;
        border-radius: 50%;
        text-align: center;
        padding: 0;

        &.badge-gray {
          color: $gray;
          border-color: lighten($gray, 45);
          background-color: lighten($gray, 45);
        }
        &.badge-green {
          color: $green;
          border-color: lighten($green, 45);
          background-color: lighten($green, 45);
        }
        &.badge-blue {
          color: $blue;
          border-color: lighten($blue, 30);
          background-color: lighten($blue, 30);
        }
        &.badge-orange {
          color: $orange;
          border-color: lighten($orange, 45);
          background-color: lighten($orange, 45);
        }
        &.badge-yellow {
          color: $yellow;
          border-color: lighten($yellow, 45);
          background-color: lighten($yellow, 45);
        }
        &.badge-purple {
          color: $purple;
          border-color: lighten($purple, 30);
          background-color: lighten($purple, 30);
        }
      }
    }
  }
}
</style>
