<template>
  <div class="mypage-list">
    <slot></slot>
  </div>
</template>
<style lang="scss" scoped>
.mypage-list {
  background-color: #fff;
  padding: 1em 1em;
  margin: 0;
  + .mypage-list {
    padding-bottom: 1em;
  }
}
</style>
