<template>
  <main class="main-wrapper" id="spaceSearch">
    <article class="main-article">
      <div class="nav-content-wrapper d-xl-none">
        <div class="nav-tab-list">
          <!-- <SearchSpaceFilter
            :show="true"
            @inputClicked="
              (val) => ((searchKeyword = ''), (isKeywordSelected = false))
            "
            @dropdownClicked="
              (val) => ((searchKeyword = val), (isKeywordSelected = true))
            "
            @inputChanged="(val) => (searchKeyword = val)"
            dropDownEndpoint="/companyDistrict/dropdown"
            mapRoute="delivery-kitchen-map"
            :searchKeyword="searchKeyword"
            :isKeywordSelected="isKeywordSelected"
            class="w-100p"
          /> -->
        </div>
        <div class="filter-bar">
          <NButton
            icon
            size="small"
            class="btn-filter"
            @click="onFilterLayerOpen()"
          >
            <i class="icon icon-filter" v-if="!isFilterLayerVisible"></i>
            <i class="icon icon-close" v-else></i>
            <span>필터</span>
          </NButton>
        </div>
      </div>
      <div class="search-filter-wrapper" v-show="isFilterLayerVisible">
        <div class="btn-box">
          <NButton
            color="outline-gray"
            size="small"
            block
            @click="onResetSearch()"
          >
            <i class="icon icon-refresh txt-medium txt-bold"></i>
            <span class="ml-2">검색 초기화</span>
          </NButton>
        </div>
        <div
          class="btn-box btn-search-result d-xl-none"
          @click="isFilterLayerVisible = false"
        >
          <NButton color="black" block class="btn-square">
            <!-- <strong class="txt-primary" v-if="totalCount > 0">{{ totalCount }}</strong> 개의  -->
            공유주방 <strong class="txt-primary mx-2">검색 결과</strong> 보기
          </NButton>
        </div>
        <!-- <section class="filter-section d-none d-xl-block">
          <header class="filter-header">
            <h3>지역별 검색</h3>
          </header>
          <div class="filter-content">
            <SearchSpaceFilter
              :show="true"
              @inputClicked="
                (val) => ((searchKeyword = ''), (isKeywordSelected = false))
              "
              @dropdownClicked="
                (val) => ((searchKeyword = val), (isKeywordSelected = true))
              "
              @inputChanged="(val) => (searchKeyword = val)"
              dropDownEndpoint="/companyDistrict/dropdown"
              mapRoute="delivery-kitchen-map"
              :searchKeyword="searchKeyword"
              class="border"
              :isKeywordSelected="isKeywordSelected"
            />
          </div>
        </section> -->
        <section class="filter-section">
          <header class="filter-header">
            <h3>주방시설</h3>
          </header>
          <div class="filter-content">
            <NButton
              class="filter-item"
              v-for="item in amenityFilterBtns"
              :key="item.id"
              :class="{
                'is-active': amenityIds.includes(item.id),
              }"
              size="tiny"
              @click="onAmenityFilterClicked(item.id)"
              >{{ item.name }}</NButton
            >
          </div>
        </section>
        <section class="filter-section">
          <header class="filter-header">
            <h3>가격 및 평수</h3>
            <!-- <div class="mt-13">
              <client-only>
                <vue-slider
                  ref="monthlyRentFeeSlider"
                  :value="monthlyRentFee.range"
                  :max="monthlyRentFee.max"
                  :clickable="false"
                  :tooltip="'always'"
                  @drag-end="dragEndMonthlyRentFee()"
                ></vue-slider>
              </client-only>
            </div>
            <div class="mt-13">
              <client-only>
                <vue-slider
                  ref="depositSlider"
                  :value="deposit.range"
                  :max="deposit.max"
                  :clickable="false"
                  :tooltip="'always'"
                  @drag-end="dragEndDeposit()"
                ></vue-slider>
              </client-only>
            </div>
            <div class="mt-13">
              <client-only>
                <vue-slider
                  ref="sizeSlider"
                  :value="size.range"
                  :max="size.max"
                  :clickable="false"
                  :tooltip="'always'"
                  @drag-end="dragEndSize()"
                ></vue-slider>
              </client-only>
            </div> -->
          </header>
          <div class="filter-content">
            <FormGroup>
              <FormLabel>
                <span class="txt-black">보증금</span>
                <span class="txt-mini">(단위: 만원)</span></FormLabel
              >
              <FormControl>
                <InputGroup>
                  <InputField
                    type="text"
                    v-model="deposit.range[0]"
                    placeholder="최소"
                  ></InputField>
                  <span class="mx-2">~</span>
                  <InputField
                    type="text"
                    v-model="deposit.range[1]"
                    placeholder="최대"
                  ></InputField>
                </InputGroup>
              </FormControl>
            </FormGroup>
            <FormGroup>
              <FormLabel>
                <span class="txt-black">월세</span>
                <span class="txt-mini">(단위: 만원)</span></FormLabel
              >
              <FormControl>
                <InputGroup>
                  <InputField
                    type="text"
                    v-model="monthlyRentFee.range[0]"
                    placeholder="최소"
                  ></InputField>
                  <span class="mx-2">~</span>
                  <InputField
                    type="text"
                    v-model="monthlyRentFee.range[1]"
                    placeholder="최대"
                  ></InputField>
                </InputGroup>
              </FormControl>
            </FormGroup>
            <FormGroup>
              <FormLabel>
                <span class="txt-black">평수</span>
                <span class="txt-mini">(단위: 평)</span></FormLabel
              >
              <FormControl>
                <InputGroup>
                  <InputField
                    type="text"
                    v-model="size.range[0]"
                    placeholder="최소"
                  ></InputField>
                  <span class="mx-2">~</span>
                  <InputField
                    type="text"
                    v-model="size.range[1]"
                    placeholder="최대"
                  ></InputField>
                </InputGroup>
              </FormControl>
            </FormGroup>
          </div>
        </section>
        <section class="filter-section">
          <header class="filter-header">
            <h3>공유주방 업체</h3>
          </header>
          <div class="filter-content">
            <div class="right-area">
              <div class="sort">
                <NSelect
                  v-model="selectedCompanyId"
                  :items="companys"
                  item-value="no"
                  item-text="nameKr"
                  placeholder="업체를 선택하세요"
                  input-id="companys"
                  add-class=""
                  allOptionText="전체"
                  :selectOption="selectedCompanyId"
                >
                </NSelect>
              </div>
            </div>
          </div>
        </section>
        <section class="filter-section">
          <header class="filter-header">
            <h3>프로모션</h3>
          </header>
          <div class="filter-content">
            <div class="right-area">
              <div class="sort">
                <NSelect
                  v-model="selectedPromotionId"
                  :items="promotions"
                  item-value="key"
                  item-text="value"
                  placeholder="프로모션을 선택해주세요"
                  input-id="promotions"
                  add-class=""
                  allOptionText="전체"
                  :selectOption="selectedPromotionId"
                >
                </NSelect>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="search-result-wrapper">
        <template v-if="!isLoadingComplete">
          <LoadingBlock />
        </template>
        <template v-else>
          <template v-if="isBestNewSpaceVisble">
            <section
              class="article-section pr-0 py-8 pl-1"
              v-if="bestSpaces.length > 0"
            >
              <SpaceSlider
                title="인기 공유주방"
                :spaces="bestSpaces"
                hideFavorite
              />
            </section>
            <section
              class="article-section pr-0 py-8 pl-1"
              v-if="newSpaces.length > 0"
            >
              <div class="section-content">
                <SpaceSlider
                  title="신규 공유주방"
                  :spaces="newSpaces"
                  @likeChanged="syncSameSpace"
                />
              </div>
            </section>
          </template>
          <template v-if="deliverySpaces.length > 0">
            <section class="article-section py-8">
              <header class="section-header is-blind">
                <h3>공유주방 리스트</h3>
              </header>
              <div class="section-content">
                <div class="space-list-top">
                  <div class="left-area">
                    <!-- <div class="total-count">
                    총
                    <strong class="txt-secondary txt-bold">{{
                      totalCount
                    }}</strong>
                    개의 공간
                  </div> -->
                  </div>
                  <div class="right-area">
                    <div class="sort w-20">
                      <span class="select txt-small">
                        <select v-model="orderBy" @change="scrollTop()">
                          <option :value="null">등록순</option>
                          <option value="monthlyASC">월세 낮은순</option>
                          <option value="monthlyDESC">월세 높은순</option>
                          <option value="depositASC">보증금 낮은순</option>
                          <option value="depositDESC">보증금 높은순</option>
                        </select>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="space-list mt-4" v-if="deliverySpaces.length > 0">
                  <div class="row gutter-16">
                    <div
                      v-for="space in deliverySpaces"
                      :key="space.no"
                      class="col-12 col-md-6 col-lg-4 col-xxl-3"
                    >
                      <SpacePreview
                        :space="space"
                        @likeChanged="syncSameSpace"
                      />
                    </div>
                  </div>
                  <div class="row-box">
                    <v-app>
                      <v-pagination
                        v-model="pagination.skip"
                        :length="pageCount"
                        @input="onPaginationClicked"
                        class="mt-2 pb-4"
                        :total-visible="7"
                      ></v-pagination>
                    </v-app>
                  </div>
                </div>
              </div>
            </section>
          </template>
          <template v-else>
            <div
              class="d-flex align-items-center justify-content-center"
              style="height: 100vh;"
            >
              <p>
                검색결과가 없습니다
              </p>
            </div>
          </template>
        </template>
      </div>
    </article>
  </main>
</template>
<script>
import SearchSpaceFilter from '@/components/DeliveryKitchen/SearchSpaceFilter';
import SpacePreview from '@/components/Main/SpacePreview';
import SpaceSlider from '@/components/Main/SpaceSlider';
import LoadingBlock from '@/components/UI/LoadingBlock';
// import VueSlider from 'vue-slider-component';

export default {
  components: {
    SearchSpaceFilter,
    SpacePreview,
    SpaceSlider,
    LoadingBlock,
  },
  computed: {
    querys() {
      let querys = {};
      if (this.searchKeyword && this.isKeywordSelected) {
        querys.address = this.searchKeyword;
      }

      if (this.monthlyRentFee.range[0])
        querys.minMonthlyRentFee = this.monthlyRentFee.range[0];
      if (this.monthlyRentFee.range[1])
        querys.maxMonthlyRentFee = this.monthlyRentFee.range[1];
      if (this.deposit.range[0]) querys.minDeposit = this.deposit.range[0];
      if (this.deposit.range[1]) querys.maxDeposit = this.deposit.range[1];
      if (this.size.range[0]) querys.minSize = this.size.range[0];
      if (this.size.range[1]) querys.maxSize = this.size.range[1];
      if (this.amenityIds.length > 0) {
        querys.amenityIds = this.amenityIds;
      }
      // this.pagination.take = 12;
      // this.pagination.skip = 1;
      // querys.take = this.pagination.take;
      // querys.skip = this.pagination.skip;

      if (this.selectedCompanyId) {
        querys.companyNo = this.selectedCompanyId;
      }
      if (this.selectedPromotionId) {
        querys.promotionType = this.selectedPromotionId;
      }

      switch (this.orderBy) {
        case 'monthlyDESC':
          querys.orderByMonthlyRentFee = 'DESC';
          break;
        case 'monthlyASC':
          querys.orderByMonthlyRentFee = 'ASC';
          break;
        case 'depositDESC':
          querys.orderByDeposit = 'DESC';
          break;
        case 'depositASC':
          querys.orderByDeposit = 'ASC';
          break;
        // default:
        //   querys.orderByNo = 'DESC';
        //   break;
      }

      return {
        ...querys,
      };
    },
    pageCount() {
      return Math.ceil(this.totalCount / this.pagination.take);
    },
    isLoadingComplete() {
      if (
        !this.spacesLoading &&
        !this.bestSpacesLoading &&
        !this.newSpacesLoading
      ) {
        return true;
      } else {
        return false;
      }
    },
  },
  watch: {
    querys() {
      this.setQuerys();
      this.getSpaces();
    },
  },
  data() {
    return {
      spacesLoading: false,
      bestSpacesLoading: false,
      newSpacesLoading: false,
      isFilterLayerVisible: false,
      amenityFilterBtns: [
        { name: '화구', id: '1' },
        { name: '튀김기', id: '3' },
        { name: '쇼케이스/주류 냉장공간', id: '5' },
        { name: '4구 냉장/냉동고', id: '17' },
        { name: '2구 냉장/냉동고', id: '18' },
        { name: '테이블 냉장고', id: '19' },
        { name: '온수기', id: '26' },
      ],

      totalCount: null,
    };
  },
  async asyncData(context) {
    let selectedCompanyId = null;
    let selectedPromotionId = null;
    let searchKeyword = null;
    let isKeywordSelected = false;
    let isBestNewSpaceVisble = true; // 인기, 신규 공유주방 섹션
    let deliverySpaces = [];
    let totalCount = null;
    let orderBy = null;
    let nanudaUserNo = null;
    if (context.store.state.userNum) {
      console.log('this.$store.state.userNum', context.store.state.userNum);
      nanudaUserNo = context.store.state.userNum;
    }
    let bestSpaces = await context.$axios.$get('/bestSpace/byQuery', {
      params: {
        take: 6,
      },
    });
    let newSpaces = await context.$axios.$get('/deliverySpace', {
      params: {
        nanudaUserNo: nanudaUserNo,
        take: 6,
      },
    });
    let companys = await context.$axios.$get('/company');
    let promotions = await context.$axios.$get('/promotion/types');
    let amenityIds = [];
    let monthlyRentFee = {
      range: [],
      label: '월세',
      hint: '단위:만원',
    };
    let deposit = {
      range: [],
      label: '보증금',
      hint: '단위:만원',
    };
    let size = {
      range: [],
      label: '평수',
      hint: '단위:평',
    };
    let pagination = {
      skip: 1,
      take: 12,
    };

    if (context.route.query.skip && context.route.query.take) {
      pagination.skip = +context.route.query.skip;
      pagination.take = +context.route.query.take;
      if (pagination.take !== 1) {
        isBestNewSpaceVisble = false;
      }
    }
    if (context.route.query.address) {
      searchKeyword = context.route.query.address;
      isKeywordSelected = true;
    }
    //선택 시설이 하나일땐  context.route.query.amenityIds이 string 둘 이상일땐 array로 옴
    if (
      context.route.query.amenityIds &&
      Array.isArray(context.route.query.amenityIds)
    ) {
      amenityIds = context.route.query.amenityIds;
    } else if (context.route.query.amenityIds) {
      amenityIds.push(context.route.query.amenityIds);
    }
    // 가격, 크기 필터
    if (context.route.query.minMonthlyRentFee)
      monthlyRentFee.range[0] = parseInt(context.route.query.minMonthlyRentFee);

    if (context.route.query.maxMonthlyRentFee)
      monthlyRentFee.range[1] = parseInt(context.route.query.maxMonthlyRentFee);

    if (context.route.query.minDeposit)
      deposit.range[0] = parseInt(context.route.query.minDeposit);

    if (context.route.query.maxDeposit)
      deposit.range[1] = parseInt(context.route.query.maxDeposit);

    if (context.route.query.minSize)
      size.range[0] = parseInt(context.route.query.minSize);

    if (context.route.query.maxSize)
      size.range[1] = parseInt(context.route.query.maxSize);

    // orderBy
    if (context.route.query.orderByMonthlyRentFee === 'DESC')
      orderBy = 'monthlyDESC';

    if (context.route.query.orderByMonthlyRentFee === 'ASC')
      orderBy = 'monthlyASC';

    if (context.route.query.orderByDeposit === 'DESC') orderBy = 'depositDESC';

    if (context.route.query.orderByDeposit === 'ASC') orderBy = 'depositASC';
    if (context.route.query.promotionType)
      selectedPromotionId = context.route.query.promotionType;

    if (context.route.query.companyNo)
      selectedCompanyId = +context.route.query.companyNo;
    //업체 페이지에서 왔을때
    if (context.route.params.companyNo)
      selectedCompanyId = +context.route.params.companyNo;

    // get spaces
    await context.$axios
      .$get('/deliverySpace', {
        params: {
          nanudaUserNo: nanudaUserNo,
          address: searchKeyword,
          minMonthlyRentFee: monthlyRentFee.range[0],
          maxMonthlyRentFee: monthlyRentFee.range[1],
          minDeposit: deposit.range[0],
          maxDeposit: deposit.range[1],
          minSize: size.range[0],
          maxSize: size.range[1],
          amenityIds: amenityIds,
          companyNo: selectedCompanyId,
          promotionType: selectedPromotionId,
          take: pagination.take,
          skip: pagination.skip,
          orderByMonthlyRentFee: context.route.query.orderByMonthlyRentFee,
          orderByDeposit: context.route.query.orderByDeposit,
        },
      })
      .then((res) => {
        deliverySpaces = res.items;
        totalCount = res.totalCount;
      });

    return {
      bestSpaces: bestSpaces.items, // 인기 공유주방
      newSpaces: newSpaces.items, // 신규 공유주방
      companys: companys,
      amenityIds: amenityIds,
      monthlyRentFee: monthlyRentFee,
      deposit: deposit,
      size: size,
      promotions: promotions,
      pagination: pagination,
      searchKeyword: searchKeyword,
      isKeywordSelected: isKeywordSelected,
      isBestNewSpaceVisble: isBestNewSpaceVisble,
      orderBy: orderBy,
      selectedCompanyId: selectedCompanyId,
      selectedPromotionId: selectedPromotionId,
      deliverySpaces: deliverySpaces,
      totalCount: totalCount,
    };
  },
  methods: {
    syncSameSpace(space, no) {
      // TODO : 추후 로직 수정 필요
      const newIdx = this.newSpaces.findIndex((e) => e.no == no);
      this.$set(this.newSpaces, newIdx, space);
      const deliveryIdx = this.deliverySpaces.findIndex((e) => e.no == no);
      this.$set(this.deliverySpaces, deliveryIdx, space);
    },
    setBestNewVisible() {
      const keys = Object.keys(this.querys);
      if (keys.length > 2 || this.pagination.skip > 1) {
        this.isBestNewSpaceVisble = false;
      } else {
        this.isBestNewSpaceVisble = true;
      }
    },
    onPaginationClicked(value) {
      this.pagination.skip = value;
      this.scrollTop();
      this.setQuerys('pagination');
      this.getSpaces();
    },
    scrollTop() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    },
    // dragEndMonthlyRentFee() {
    //   this.isMonthlyRentFeeTouched = true;
    //   const [min, max] = this.$refs.monthlyRentFeeSlider.getValue();
    //   // console.log('sliderValue', sliderValue);
    //   this.monthlyRentFee.range.splice(0, 1, min);
    //   this.monthlyRentFee.range.splice(1, 1, max);
    // },
    // dragEndDeposit() {
    //   this.isDepositTouched = true;
    //   const [min, max] = this.$refs.depositSlider.getValue();
    //   // console.log('sliderValue', sliderValue);
    //   this.deposit.range.splice(0, 1, min);
    //   this.deposit.range.splice(1, 1, max);
    // },
    // dragEndSize() {
    //   this.isSizeTouched = true;
    //   const [min, max] = this.$refs.sizeSlider.getValue();
    //   // console.log('sliderValue', sliderValue);
    //   this.size.range.splice(0, 1, min);
    //   this.size.range.splice(1, 1, max);
    // },
    reset() {
      this.pagination = {
        take: 12,
        skip: 1,
      };
      this.searchKeyword = '';
      this.amenityIds = [];
      this.selectedCompanyId = null;
      this.selectedPromotionId = null;
      this.monthlyRentFee.range.splice(0, 1, null);
      this.monthlyRentFee.range.splice(1, 1, null);
      this.deposit.range.splice(0, 1, null);
      this.deposit.range.splice(1, 1, null);
      this.size.range.splice(0, 1, null);
      this.size.range.splice(1, 1, null);
      this.orderBy = null;
    },
    onResetSearch() {
      this.reset();
    },
    onFilterLayerOpen() {
      this.isFilterLayerVisible = !this.isFilterLayerVisible;
    },
    onAmenityFilterClicked(value) {
      if (this.amenityIds.includes(value)) {
        const i = this.amenityIds.indexOf(value);
        this.amenityIds.splice(i, 1);
      } else {
        this.amenityIds.push(value);
      }
    },
    setQuerys(value) {
      if (value !== 'pagination') {
        this.pagination.take = 12;
        this.pagination.skip = 1;
      }
      this.querys.take = 12;
      this.querys.skip = this.pagination.skip;
      this.$router.replace({ query: this.querys }).catch((err) => {});
      this.setBestNewVisible();
    },
    getSpaces() {
      this.spacesLoading = true;
      let params = this.querys;
      if (this.$store.state.userNum) {
        params.nanudaUserNo = this.$store.state.userNum;
      }
      this.$axios
        .$get('/deliverySpace', {
          params: params,
        })
        .then((res) => {
          this.deliverySpaces = res.items;
          this.totalCount = res.totalCount;
          this.spacesLoading = false;
        });
    },
    getNewSpaces() {
      this.newSpacesLoading = true;
      this.$axios
        .$get('/deliverySpace', {
          params: {
            nanudaUserNo: this.$store.state.userNum,
            take: 6,
          },
        })
        .then((res) => {
          this.newSpaces = res.items;
          this.newSpacesLoading = false;
        });
    },
    getBestSpaces() {
      this.bestSpacesLoading = true;
      this.$axios
        .$get('/bestSpace/byQuery', {
          params: {
            take: 6,
          },
        })
        .then((res) => {
          this.bestSpaces = res.items;
          this.bestSpacesLoading = false;
        });
    },
  },
  mounted() {
    this.setQuerys('pagination');
    // this.$root.$on('toggleFavorite', (value) => {
    //   // 찜하기 동기화
    //   this.getSpaces();
    //   this.getNewSpaces();
    //   this.getBestSpaces();f
    // });
    this.$root.$on('onNavigation', (value) => {
      if (this.$route.path === value) {
        this.reset();
      }
    });
  },
};
</script>
<style lang="scss">
.v-application--wrap {
  min-height: 0 !important;
}
#spaceSearch {
  .main-article {
    display: block;

    .search-filter-wrapper {
      width: 100%;
      padding: 1.25em;
      background-color: $white;
      .filter-section {
        padding: 1em 0;
        .filter-header {
          h3 {
            font-size: $txt-medium;
            font-weight: $txt-bold;
            color: $black;
          }
          + .filter-content {
            margin-top: 1em;
          }
        }
        + .filter-section {
          border-top: 1px solid $border-color;
        }
      }
    }

    .search-result-wrapper {
      position: relative;
      border-left: 1px solid $border-color;
      width: 100%;
      .article-section {
        padding-left: 1.25em;
        padding-right: 1.25em;
        .section-header {
          text-align: center;
        }
        + .article-section {
          border-top: 1px solid $border-color;
        }
      }
      .space-list-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .main-article {
      display: flex;
      .search-filter-wrapper {
        width: 21em;
        display: block !important;
      }
      .search-result-wrapper {
        width: calc(100% - 21em);
      }
    }
  }

  @media screen and (max-width: 1199px) {
    .main-article {
      .search-filter-wrapper {
        position: fixed;
        top: 6.75em;
        left: 0;
        right: 0;
        height: calc(100vh - 6.75em);
        z-index: 2;
        overflow-y: auto;
        border-top: 1px solid $border-color;
        padding-bottom: 4em;
        .btn-search-result {
          position: fixed;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
        }
      }
      .search-result-wrapper {
        margin-top: 3em;
      }
    }
  }
}
</style>
