<template>
  <CommonTable
    :headers="this.headers"
    :items="this.users"
    page="users"
    addBtn="사용자"
    :isLoading="loading"
  />
</template>

<script>
import CommonTable from "@/components/Admin/CommonTable";
export default {
  components: { CommonTable },
  layout: "admin",
  data() {
    return {
      headers: [
        {
          text: "UID",
          align: "center",
          sortable: false,
          value: "NO"
        },
        {
          text: "핸드폰번호",
          value: "PHONE",
          sortable: false,
          align: "center"
        },
        { text: "이름", value: "NAME", sortable: false, align: "center" },
        {
          text: "생성일",
          value: "createdAt",
          sortable: false,
          align: "center"
        }
      ],
      loading: false
    };
  },
  asyncData(context) {
    //user data 가져오기
    context.loading = true;
    return context.$axios
      .$get("/userAdmin")
      .then(result => {
        context.loading = false;
        return { users: result };
      })
      .catch(e => console.log(e));
  },
  //keep-alive component가 다시 활성화 될때 emit되는 이벤트 훅
  activated() {
    return this.$axios
      .$get("/userAdmin")
      .then(result => {
        this.users = result;
      })
      .catch(e => console.log(e));
  }
};
</script>

<style lang="scss"></style>
