<template>
  <ErrorPage title="시스템 점검중">
    <template v-slot:imgArea>
      <img src="@/assets/svg/common/system_character.svg" alt />
    </template>
    <template v-slot:txtArea>
      <div class="txt-box">
        <h2 class="txt-large txt-black">시스템 점검 중입니다.</h2>
        <p class="mt-4">
          더 나은 서비스를 위해 점검 중입니다. <br />
          이용에 불편을 드려 죄송합니다. <br />
          조금만 기다려주세요.
        </p>
      </div>
    </template>
  </ErrorPage>
</template>
<script>
import ErrorPage from '@/components/UI/System/ErrorPage';
export default {
  layout: 'empty',
  components: {
    ErrorPage,
  },
};
</script>
