<template>
  <article id="consultingLanding">
    <div class="form-content">
      <div class="form-wrapper">
        <div class="form-box">
          <div class="txt-center txt-black mb-4">
            <a href="https://nanudakitchen.com" target="_blank"
              ><LogoTitle class="w-25 h-2"
            /></a>
          </div>
          <div class="title-box txt-center mb-6" v-if="!isComplete">
            <div class="mb-6 pb-6 border-bottom">
              <p class="txt-small txt-gray-600">
                <span class="txt-bold txt-black"
                  >나누다키친 온라인창업 설명회 1부</span
                >를 <br />시청해주셔서 감사드립니다
              </p>
            </div>
            <h2 class="txt-large txt-bold txt-black">
              <strong class="txt-secondary">2부</strong> 창업 설명회 신청서
            </h2>
          </div>
          <div class="content-box">
            <template v-if="!isComplete">
              <div class="form-group">
                <div class="form-control">
                  <div class="input">
                    <input
                      type="text"
                      id="user_name"
                      class="form-element"
                      placeholder="이름"
                      v-model="$v.userName.$model"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-control">
                  <div class="input">
                    <input
                      type="text"
                      id="user_phone"
                      class="form-element"
                      placeholder="휴대폰 번호"
                      v-model="$v.userPhone.$model"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-control">
                  <div class="input">
                    <input
                      type="text"
                      id="hope_area"
                      class="form-element"
                      placeholder="창업 희망 지역"
                      v-model="$v.hopeArea.$model"
                    />
                  </div>
                </div>
              </div>
              <div class="agree-box d-flex justify-content-between">
                <CheckBox
                  label="개인정보취급방침에 동의합니다"
                  id="informedConsent"
                  class="txt-tiny"
                  @click="isInformedConsent"
                  :checked="isInformedConsentChecked"
                  addClass="mk_re2_law_btn"
                />
                <Button
                  @click="showInformedConsent = true"
                  class="btn-text btn-tiny btn-underline"
                  >약관보기</Button
                >
              </div>
              <div class="btn-box mt-6">
                <NButton
                  color="secondary"
                  size="large"
                  block
                  @click="save()"
                  :disabled="
                    $v.userName.$invalid ||
                    $v.userPhone.$invalid ||
                    $v.hopeArea.$invalid ||
                    !isInformedConsentChecked
                  "
                >
                  상담 신청하기
                </NButton>
              </div>
              <div class="txt-box">
                <p class="txt-small">
                  ※ 2부는
                  <span class="txt-bold txt-secondary">1:1 맞춤형</span>으로
                  진행됩니다
                  <br />
                  ※ 자세한 사항은 문자로 안내드리겠습니다
                </p>
              </div>
            </template>
            <template v-else>
              <div class="txt-center">
                <i
                  class="icon icon-info-confirm txt-massive txt-bold txt-secondary"
                ></i>
                <p class="txt-large mt-2">
                  상담신청이
                  <strong class="txt-secondary txt-bold">완료</strong
                  >되었습니다.
                </p>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>

    <!-- 개인정보취급방침 모달 -->
    <CustomModal
      :visible="showInformedConsent"
      headerType="default"
      id="InformedConsent"
      title="개인정보취급 이용약관"
      noBtn="닫기"
      @close="showInformedConsent = false"
    >
      <Privacy />
    </CustomModal>
  </article>
</template>
<script>
import 'moment/locale/ko'; // moment 한글
import LogoTitle from '@/components/UI/LogoTitle';
import Privacy from '@/components/Agreement/Privacy';
import * as axios from 'axios';
import { required, numeric } from 'vuelidate/lib/validators';
export default {
  layout: 'empty',
  components: {
    LogoTitle,
    Privacy,
  },
  data() {
    return {
      userName: '',
      userPhone: '',
      hopeArea: '',
      requestIp: '',
      isComplete: false,
      showInformedConsent: false,
      isInformedConsentChecked: true,
    };
  },
  methods: {
    isInformedConsent() {
      if (!this.isInformedConsentChecked) {
        this.isInformedConsentChecked = !this.isInformedConsentChecked;
      } else {
        this.isInformedConsentChecked = !this.isInformedConsentChecked;
      }
    },
    save() {
      this.$axios
        .$post('/presentation/secondMeetingApplicant', {
          name: this.userName,
          phone: this.userPhone,
          hopeArea: this.hopeArea,
          requestIp: this.requestIp,
        })
        .then((res) => {
          this.isComplete = true;
          sessionStorage.setItem('isComplete', this.isComplete);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  validations: {
    userName: {
      required,
    },
    userPhone: {
      required,
      numeric,
    },
    hopeArea: {
      required,
    },
  },
  mounted() {
    axios.get('https://api.ipify.org?format=json').then((res) => {
      this.requestIp = res.data.ip;
    });

    if (window.sessionStorage.isComplete) {
      const isComplete = sessionStorage.getItem('isComplete');

      if (isComplete) {
        this.isComplete = isComplete;
      }
    }
  },
};
</script>
<style lang="scss">
#consultingLanding {
  position: relative;
  min-height: 100vh;
  background-color: #bcc8eb;
  // background-image: url('~assets/images/landing/img_consulting.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25em;
  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    width: 40%;
    height: 12em;
    // background: url('~assets/images/landing/bg_shape.png') no-repeat bottom left;
    background-size: contain;
  }
  &:after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    content: '';
    width: 40%;
    height: 12em;
    // background: url('~assets/images/landing/bg_shape.png') no-repeat bottom left;
    background-size: contain;
    transform: rotate(-180deg);
  }
  .form-content {
    max-width: 100%;
    width: 30em;
    margin: 0 auto;
  }
  .form-box {
    padding: 2em;
    border-radius: $border-radius;
    background-color: $white;
    .form-group {
      .form-control {
        .form-element {
          border-color: $light;
          background-color: $light;
          border-width: 2px;
          &:focus {
            border-color: $secondary;
          }
        }
      }
    }
  }
}
</style>
