<template>
  <article
    class="main-article"
    id="landingDeliverySpace"
    ref="mainArticle"
    :class="{
      'is-final': isFinal,
      'is-complete': isComplete,
    }"
  >
    <div class="d-block d-xl-none">
      <transition name="fade" mode="out-in">
        <div class="bg-layer" v-if="isVisibleIntro">
          <span class="ani-bg-scale"></span>
          <div class="main-title-wrap">
            <LogoTitle />
            <h1 class="main-title" v-html="computedMainTitle">
              <span> {{ computedMainTitle }} </span>
            </h1>
          </div>
          <div class="main-footer">
            <div class="txt-box p-5">
              <p class="txt-bold txt-small">
                <strong class="txt-bolder">KB국민카드</strong> 배달 매출 데이터
                기반으로 상권분석을 하여 창업자들한테
                <br class="d-none d-md-block" />특정한 지역에 어떠한 음식으로
                입점을 할 수 있는지 추천 드리고 있습니다.
              </p>
            </div>
            <div class="bg-white py-2 px-0">
              <div class="row gutter-8">
                <div class="col col-2 offset-1">
                  <img
                    :src="
                      require('@/assets/images/landing/delivery-space/logo_kb.png')
                    "
                    alt="KB국민카드"
                  />
                </div>
                <div class="col col-2">
                  <img
                    :src="
                      require('@/assets/images/landing/delivery-space/logo_datakr.png')
                    "
                    alt="공공데이터포털"
                  />
                </div>
                <div class="col col-2">
                  <img
                    :src="
                      require('@/assets/images/landing/delivery-space/logo_localdata.png')
                    "
                    alt="LOCAL DATA"
                  />
                </div>
                <div class="col col-2">
                  <img
                    :src="
                      require('@/assets/images/landing/delivery-space/logo_opendata.png')
                    "
                    alt="서울열린데이터광장"
                  />
                </div>
                <div class="col col-2">
                  <img
                    :src="
                      require('@/assets/images/landing/delivery-space/logo_opnsvc.png')
                    "
                    alt="건축데이터개방"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
    <!-- pc 에서 좌측 항상 노출-->
    <div class="d-none d-xl-block">
      <div class="bg-layer">
        <span class="ani-bg-scale"></span>
        <div class="main-title-wrap">
          <LogoTitle />
          <h1 class="main-title">
            <span v-html="mainTitle">
              {{ mainTitle }}
            </span>
            <span class="cursor"></span>
          </h1>
        </div>
        <div class="main-footer">
          <div class="txt-box p-5">
            <p class="txt-bold txt-small">
              <strong class="txt-bolder">KB국민카드</strong> 배달 매출 데이터
              기반으로 상권분석을 하여 창업자들한테
              <br class="d-none d-md-block" />특정한 지역에 어떠한 음식으로
              입점을 할 수 있는지 추천 드리고 있습니다.
            </p>
          </div>
          <div class="bg-white py-2 px-0">
            <div class="row gutter-8">
              <div class="col col-2 offset-1">
                <img
                  :src="
                    require('@/assets/images/landing/delivery-space/logo_kb.png')
                  "
                  alt="KB국민카드"
                />
              </div>
              <div class="col col-2">
                <img
                  :src="
                    require('@/assets/images/landing/delivery-space/logo_datakr.png')
                  "
                  alt="공공데이터포털"
                />
              </div>
              <div class="col col-2">
                <img
                  :src="
                    require('@/assets/images/landing/delivery-space/logo_localdata.png')
                  "
                  alt="LOCAL DATA"
                />
              </div>
              <div class="col col-2">
                <img
                  :src="
                    require('@/assets/images/landing/delivery-space/logo_opendata.png')
                  "
                  alt="서울열린데이터광장"
                />
              </div>
              <div class="col col-2">
                <img
                  :src="
                    require('@/assets/images/landing/delivery-space/logo_opnsvc.png')
                  "
                  alt="건축데이터개방"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <template v-if="!isComplete">
      <section class="article-section" :id="`section-${stepIndex + 1}`">
        <div class="inner-container">
          <template v-if="stepIndex > 0 && !isComplete">
            <div>
              <div class="justify-content-between mb-8">
                <div>
                  <div v-for="(step, index) in steps" :key="index">
                    <button
                      @click="goBackStep()"
                      v-if="index === stepIndex - 1"
                    >
                      <i
                        class="icon icon-arrow-angle-left txt-black txt-bold"
                      ></i>
                      <span class="txt-large txt-black txt-bold">
                        <template v-if="stepIndex === 1">
                          {{ kbFoodCategory.name }}
                        </template>
                        <template v-if="stepIndex === 2">
                          {{ region1DepthName }}
                        </template>
                        <template v-if="stepIndex === 3">
                          {{ region2DepthName }}
                        </template>
                      </span>
                    </button>
                  </div>
                </div>
                <!-- <div>
                <button
                  @click="onSelectCategory()"
                  v-if="isCategory && !isFinal"
                >
                  건너뛰기
                  <i class="icon icon-arrow-right"></i>
                </button>
              </div> -->
              </div>
            </div>
          </template>
          <template v-if="stepIndex === 0">
            <!-- 업종 선택 -->
            <header class="section-header">
              <h3>
                <strong class="d-block txt-large">업종 선택 시,</strong>
                최적화된 위치에 공유주방을 추천해드립니다.
              </h3>
            </header>
            <div class="section-content">
              <div class="d-block d-xl-none">
                <v-tabs
                  fixed-tabs
                  background-color="white"
                  ref="tabs"
                  v-model="tab"
                  light
                >
                  <v-tab>
                    <span class="tab-dot"></span>
                  </v-tab>
                  <v-tab>
                    <span class="tab-dot"></span>
                  </v-tab>
                </v-tabs>
                <v-tabs-items v-model="tab" light>
                  <v-tab-item v-for="n in 2" :key="n">
                    <div
                      class="mb-4"
                      v-for="(category, index) in computedCategory(n)"
                      :key="category.code"
                    >
                      <div
                        class="card-box pl-40"
                        :style="{
                          'animation-delay': `${index * 0.1}s`,
                          'background-color': category.bgColor,
                          'background-image':
                            'url(' +
                            require(`@/assets/images/landing/delivery-space/bg_cate_${category.code}.png`) +
                            ')',
                          'background-position': 'left center',
                          'background-size': 'contain',
                        }"
                        @click="onSelectCategory(category)"
                      >
                        <span class="txt-large txt-bold txt-white">{{
                          category.name
                        }}</span>
                      </div>
                    </div>
                  </v-tab-item>
                </v-tabs-items>
              </div>
              <div class="d-none d-xl-block">
                <div class="row gutter-16">
                  <div
                    class="col-12 col-xxl-6"
                    v-for="(category, index) in categories"
                    :key="category.code"
                  >
                    <div
                      class="card-box pl-40"
                      :style="{
                        'animation-delay': `${index * 0.1}s`,
                        'background-color': category.bgColor,
                        'background-image':
                          'url(' +
                          require(`@/assets/images/landing/delivery-space/bg_cate_${category.code}.png`) +
                          ')',
                        'background-position': 'left center',
                        'background-size': 'contain',
                      }"
                      @click="onSelectCategory(category)"
                    >
                      <span class="txt-large txt-bold txt-white">{{
                        category.name
                      }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
          <template v-else-if="stepIndex === 1">
            <!-- 시/구 선택 -->
            <header class="section-header">
              <h3>
                원하는 지역을 선택해주세요
              </h3>
            </header>
            <div class="section-content">
              <div class="row gutter-16">
                <div
                  class="col col-6"
                  v-for="(region, index) in locationType"
                  :key="index"
                >
                  <button
                    class="card-box w-100p h-14"
                    @click="onSelectRegion1DepthName(region)"
                    :style="{ 'animation-delay': `${index * 0.1}s` }"
                  >
                    <span class="card-name">{{ region.name }}</span>
                  </button>
                </div>
              </div>
            </div>
          </template>
          <template v-else-if="!isFinal && districtList.length > 0">
            <header class="section-header">
              <h3>
                시 또는 구를 선택해주세요
              </h3>
            </header>
            <div class="section-content">
              <div class="row gutter-16">
                <div
                  class="col col-6"
                  v-for="(district, index) in districtList"
                  :key="district.code"
                >
                  <button
                    class="card-box w-100p h-12"
                    :style="{ 'animation-delay': `${index * 0.1}s` }"
                    @click="onSelectRegion2DepthName(district.districtName)"
                  >
                    <span class="card-name">{{ district.districtName }}</span>
                  </button>
                </div>
              </div>
            </div>
          </template>
          <template v-else-if="isFinal">
            <!-- 공유주방 결과 -->
            <template v-if="deliverySpaces.length > 0">
              <header class="section-header">
                <div class="bg-white shadow rounded p-6 mb-8">
                  <div class="bg-light rounded-lg">
                    <span
                      :style="{
                        width: averageRatingScorePercent + '%',
                        'background-color': averageRatingScoreColor,
                      }"
                      class="space-rating-bar"
                    >
                    </span>
                  </div>
                  <p class="txt-center mt-4">
                    <span class="txt-black txt-medium">
                      <template v-if="region1DepthName">
                        <strong class="txt-bold border-bottom border-black">
                          {{ region1DepthName }}
                          {{ region2DepthName }}
                        </strong>
                        의 해당 공유주방에
                      </template>
                      <template v-if="kbFoodCategory.name">
                        <strong
                          class="txt-primary border-bottom border-primary"
                          >{{ kbFoodCategory.name }}</strong
                        >(으)로 입점하는
                      </template>
                      <template
                        v-if="deliverySpaces[0].averageRatingScore > 70"
                      >
                        것을
                        <strong class="txt-success">추천</strong>합니다.
                      </template>
                      <template
                        v-else-if="deliverySpaces[0].averageRatingScore > 40"
                      >
                        것은
                        <strong class="txt-secondary">양호</strong>합니다.
                      </template>
                      <template v-else>
                        것은
                        <strong class="txt-warning">가능</strong>하지만
                        <br class="d-none d-xxl-block" />주의하실 필요 있고
                        담당자 상담시 음식 메뉴 관련 질문을 해주세요.
                      </template>
                    </span>
                  </p>
                  <!-- <div class="btn-box txt-right">
                    <button
                      class="btn-txt txt-primary txt-small txt-underline"
                      @click="showDetailModal = true"
                    >
                      상세분석
                    </button>
                  </div> -->
                </div>
              </header>
              <div
                class="section-content"
                v-if="deliverySpaces.length > 0 || !showNoContent"
              >
                <!-- <template
                v-if="
                  deliverySpaces.length >= 0 && stepIndex === 3 && deliverySpaces[0].averageRating
                "
              >
                <div class="space-rating-box">
                  <p>
                    <span>
                      {{ deliverySpaces[0].averageRating }}
                    </span>
                    <span v-if="deliverySpaces[0].averageRatingScore">
                      {{ deliverySpaces[0].averageRatingScore }}
                    </span>
                    <span v-if="deliverySpaces[0].averageRevenuePercentileScore">
                      {{ deliverySpaces[0].averageRevenuePercentileScore }}
                    </span>
                    <span
                      v-if="deliverySpaces[0].averageTargetPopulationPercentile"
                    >
                      {{ deliverySpaces[0].averageTargetPopulationPercentile }}
                    </span>
                  </p>
                  <p>
                    <template v-if="deliverySpaces[0].averageRating === 1">
                      <strong class="txt-secondary">추천</strong>
                    </template>
                    <template v-else-if="deliverySpaces[0].averageRating === 2">
                      <strong class="txt-success">양호</strong>
                    </template>
                  </p>
                </div>
              </template> -->
                <div class="sub-title-wrap">
                  <div>
                    <p class="sub-title">원하는 공유주방을 선택해주세요</p>
                  </div>
                  <div class="checkbox">
                    <input
                      type="checkbox"
                      name="checkbox"
                      id="selectAll"
                      v-model="selectAll"
                    />
                    <label for="selectAll" class="label-txt">
                      <span class="txt-black" v-if="!selectAll">
                        전체 선택</span
                      >
                      <span class="txt-black" v-else> 전체 선택 해제</span>
                    </label>
                  </div>
                </div>
                <div class="row gutter-16">
                  <div
                    class="col-12 col-md-6"
                    v-for="(space, index) in deliverySpaces"
                    :key="space.no"
                  >
                    <div
                      class="space-preview"
                      :class="{
                        'is-active': space.active,
                        'is-selected': selectedIds.includes(space.no),
                      }"
                      :style="{ 'animation-delay': `${index * 0.1}s` }"
                    >
                      <div class="space-preview-wrap">
                        <div class="space-check">
                          <span class="checkbox txt-large">
                            <input
                              type="checkbox"
                              name="checkbox"
                              :id="`space_id_${space.no}`"
                              :value="space.no"
                              v-model="selectedIds"
                            />
                            <label
                              :for="`space_id_${space.no}`"
                              class="label-txt"
                            ></label>
                          </span>
                        </div>
                        <div class="space-preview-img">
                          <div class="space-img lazy-preload">
                            <template v-if="space.tempPicYn !== 'Y'">
                              <img
                                v-lazy="space.images[0].endpoint"
                                :alt="space.typeName"
                                v-if="space.images && space.images[0]"
                                class="thumb-img"
                              />
                            </template>
                            <template v-else>
                              <img
                                v-lazy="
                                  require('@/assets/images/landing/delivery-space/default.jpg')
                                "
                                :alt="space.typeName"
                                class="thumb-img"
                              />
                            </template>
                          </div>
                        </div>
                        <div
                          class="space-info-wrap"
                          v-if="space.companyDistrict"
                        >
                          <div class="space-info">
                            <!-- <p class="space-badge">
                              <span
                                v-if="space.isOpenedYn === 'N'"
                                class="badge badge-secondary badge-mini"
                              >
                                오픈예정
                              </span>
                              <span
                              v-if="space.remainingCount <= 3"
                              class="badge badge-red badge-mini"
                            >
                              마감임박
                            </span>
                            </p> -->
                            <p class="space-title">
                              <span
                                v-if="space.isOpenedYn === 'N'"
                                class="badge badge-secondary badge-mini"
                              >
                                오픈예정
                              </span>
                              <span>{{ space.companyDistrict.nameKr }}</span>
                              <span>{{ space.size }}평</span>
                            </p>
                            <p
                              class="txt-small txt-gray"
                              v-if="space.companyDistrict.region1DepthName"
                            >
                              {{ space.companyDistrict.region1DepthName }}
                              {{ space.companyDistrict.region2DepthName }}
                              {{ space.companyDistrict.region3DepthName }}
                            </p>
                            <p class="space-price mt-4">
                              <span class="txt-gray txt-small">보증금</span>
                              <template v-if="space.deposit">
                                <strong class="txt-huge txt-bold">{{
                                  space.deposit
                                }}</strong>
                                <span class="txt-tiny">만원</span>
                              </template>
                              <template v-else>
                                <strong class="txt-large txt-bold txt-red"
                                  >없음</strong
                                >
                              </template>
                              <br />
                              <span class="txt-gray txt-small">임대료</span>
                              <template v-if="space.monthlyRentFee"
                                ><strong class="txt-huge txt-bold">{{
                                  space.monthlyRentFee
                                }}</strong>
                                <span class="txt-tiny">만원</span>
                              </template>
                              <template v-else>
                                <strong class="txt-large txt-bold txt-red"
                                  >없음</strong
                                >
                              </template>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="space-etc">
                        <div
                          class="d-flex align-items-center justify-content-between"
                        >
                          <span class="txt-bold txt-black"
                            >{{ new Date().toISOString().substr(5, 2) }}월
                            프로모션</span
                          >
                          <button
                            class="btn btn-mini btn-rounded btn-moreview"
                            :class="
                              space.active
                                ? 'btn-outline-primary'
                                : 'btn-primary'
                            "
                            @click.stop="expand(index, space.no)"
                          >
                            <span>자세히보기</span>
                            <i
                              class="icon txt-bold ml-2"
                              :class="
                                space.active
                                  ? 'icon-arrow-angle-up'
                                  : 'icon-arrow-angle-down'
                              "
                            ></i>
                          </button>
                        </div>
                        <template v-if="space.active">
                          <template v-if="!isLoadingPromotion">
                            <template
                              v-if="promotions && promotions.length > 0"
                            >
                              <div class="mt-2">
                                <!-- <h4 class="txt-medium txt-red txt-bold">
                                  <i class="mdi mdi-gift"></i>
                                  프로모션
                                </h4> -->
                                <div class="promotion-list">
                                  <div
                                    v-for="(promotion, index) in promotions"
                                    :key="promotion.no"
                                    class="my-1"
                                  >
                                    <span class="num">{{ index + 1 }}</span
                                    ><span class="txt-medium">{{
                                      promotion.displayTitle
                                    }}</span>
                                  </div>
                                </div>
                              </div>
                            </template>
                          </template>
                          <template v-else>
                            <div class="loader txt-center">
                              <img
                                src="@/assets/svg/common/loader.svg"
                                alt="로딩중"
                                class="w-4"
                              />
                            </div>
                          </template>
                        </template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </template>
            <template v-else>
              <div class="txt-center txt-black mt-40">
                <p>
                  해당조건에 맞는 공유주방이 없습니다. <br />
                  아래의 신청폼을 작성해주시면, <br />해당 조건에 유사한 지역의
                  공유주방을 안내해드리겠습니다
                </p>
              </div>
            </template>
          </template>
        </div>
        <div class="sticky-wrap">
          <template v-if="isFinal">
            <div class="sticky-form">
              <div class="row gutter-8 align-items-end">
                <div class="col col-12">
                  <div class="form-box">
                    <div class="row gutter-8">
                      <div class="col col-6">
                        <div class="input">
                          <input
                            type="text"
                            name="userName"
                            placeholder="이름"
                            v-model="$v.userName.$model"
                          />
                        </div>
                      </div>
                      <div class="col col-6">
                        <div class="input">
                          <input
                            type="text"
                            name="userPhone"
                            placeholder="휴대폰번호"
                            v-model="$v.userPhone.$model"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-12">
                  <div class="btn-box mt-4">
                    <NButton
                      color="primary"
                      block
                      @click="send()"
                      :disabled="$v.userName.$invalid || $v.userPhone.$invalid"
                    >
                      바로 상담 신청하기</NButton
                    >
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </section>
    </template>
    <template v-else>
      <!-- 상담 신청 완료 -->
      <section class="article-section d-flex align-items-center">
        <div class="inner-container">
          <div class="txt-center">
            <i
              class="icon icon-info-confirm txt-massive txt-bold txt-success"
            ></i>
            <p class="txt-large mt-2 txt-black">
              상담신청이
              <strong class="txt-success txt-bold">완료</strong>되었습니다.
            </p>
          </div>
          <div class="btn-box txt-center">
            <a href="/landing-page/delivery-space" class="btn btn-secondary"
              ><i class="icon icon-home mr-2"></i>다른 공유주방 찾아보기</a
            >
          </div>
        </div>
      </section>
    </template>
    <!-- 로딩 레이어 -->
    <div class="loading-layer bg-white" v-if="isLoading">
      <div class="px-4">
        <p class="txt-black txt-center">
          <template v-if="region1DepthName">
            <strong class="txt-primary"
              >{{ region1DepthName }} {{ region2DepthName }}</strong
            >
            에서
          </template>
          <template v-if="kbFoodCategory.name">
            <strong class="txt-primary">{{ kbFoodCategory.name }}</strong>
            (으)로
          </template>
          최적화된 <br />공유주방들을 찾고 있습니다
        </p>
        <div class="txt-center">
          <img
            src="@/assets/images/landing/delivery-space/loading_kitchen.gif"
            alt="로딩중"
          />
        </div>
      </div>
    </div>
    <!--// -->
    <!-- 로딩 레이어 -->
    <div class="loading-layer" v-if="isLoadingLayer">
      <div>
        <div class="loader">
          <img src="@/assets/svg/common/loader.svg" alt="로딩중" />
        </div>
      </div>
    </div>
    <!--// -->
    <Modal
      :visible="showDetailModal"
      headerType="default"
      noBtn="닫기"
      id="detailModal"
      @close="showDetailModal = false"
    >
      <!-- 상세 분석 내용 -->
      <div></div>
    </Modal>
  </article>
</template>
<script>
import * as axios from 'axios';
import { kakaoAPIs } from '@/assets/mixins/kakaoAPIs';
import { required, numeric } from 'vuelidate/lib/validators';
import LoadingLayer from '@/components/UI/LoadingLayer';
import LogoTitle from '@/components/UI/LogoTitle';
export default {
  layout: 'empty',
  mixins: [kakaoAPIs],
  components: {
    LoadingLayer,
    LogoTitle,
  },
  data() {
    return {
      nestAPI: 'https://platform-api.nanudakitchen.com', // https://platform-api.nanudakitchen.com
      tab: null,
      mainTitleArray: [
        `최적의 선택 \n 최고의 공유주방`,
        `공유주방의 모든 것, \n 나누다키친! `,
      ],
      mainTitle: '',
      locationType: [
        {
          name: '서울',
          isCategory: true,
        },
        {
          name: '경기',
        },
        {
          name: '인천',
        },
        {
          name: '부산',
        },
        {
          name: '충청도',
          isDirectSpace: true,
        },
        {
          name: '경상도',
          isDirectSpace: true,
        },
      ],
      steps: ['지역', '시/구', '음식', '배달 공유주방'],
      breadcrumbs: [],
      districtList: [],
      deliverySpaces: [],
      stepIndex: 0,
      directSpace: '',
      isVisibleIntro: true,
      isCategory: false,
      categories: [
        { name: '한식', code: 'F16', bgColor: '#D8D8D8' },
        { name: '패스트푸드', code: 'F15', bgColor: '#D9BFB7' },
        { name: '중식', code: 'F12', bgColor: '#393531' },
        { name: '분식', code: 'F04', bgColor: '#FF9D3C' },
        { name: '일식', code: 'F10', bgColor: '#72C492' },
        { name: '양식', code: 'F07', bgColor: '#F44E4E' },
        { name: '카페', code: 'F14', bgColor: '#9FDAE2' },
        { name: '기타외국식', code: 'F02', bgColor: '#EDB75E' },
      ],
      region1DepthName: '',
      region2DepthName: '',
      kbFoodCategory: {
        name: '',
        code: '',
      },
      selectedIds: [],
      promotions: [],
      showForm: false,
      userName: '',
      userPhone: '',
      isFinal: false, // 결과 페이지
      isComplete: false, // 폼신청 완료 페이지
      isLoading: false, // 결과 로딩
      isLoadingPromotion: false, // 상세 정보 프로모션 로딩
      isLoadingLayer: false, // 폼신청 로딩
      showDetailModal: false, // 상세 정보 모달
      showNoContent: false,
      coords: {
        lat: '',
        lng: '',
      },
      averageRatingScorePercent: 0,
    };
  },
  computed: {
    averageRatingScoreColor() {
      const score = +this.deliverySpaces[0].averageRatingScore;
      if (score > 70) {
        return '#46b266';
      } else if (score > 40) {
        return '#4b80ff';
      } else {
        return '#fec001';
      }
    },
    computedMainTitle() {
      return this.mainTitleArray[0].replace('\n', '<br />');
    },
    computedCategory() {
      return (i) => this.categories.slice(4 * (i - 1), 4 * i);
    },
    selectAll: {
      get() {
        // 체크리스트가 모두 체크 되었을 때
        return this.deliverySpaces
          ? this.deliverySpaces.length === this.selectedIds.length &&
              this.deliverySpaces.length > 0
          : false;
      },
      set(value) {
        const selected = [];
        if (value) {
          this.deliverySpaces.map((item) => {
            selected.push(item.no);
          });
        }
        this.selectedIds = [...selected];
      },
    },
  },
  methods: {
    typeWriter(text, i, callback) {
      if (i < text.length) {
        this.mainTitle = text.substring(0, i + 1).replaceAll('\n', '<br>');
        setTimeout(() => {
          this.typeWriter(text, i + 1, callback);
        }, 100);
      } else if (typeof callback == 'function') {
        setTimeout(callback, 3000);
      }
    },
    startTextAnimation(i) {
      if (typeof this.mainTitleArray[i] == 'undefined') {
        setTimeout(() => {
          this.startTextAnimation(0);
        }, 5000);
      }
      if (i < this.mainTitleArray.length) {
        this.typeWriter(this.mainTitleArray[i], 0, () => {
          this.startTextAnimation(i + 1);
        });
      }
    },
    onSelectCategory(category) {
      this.stepIndex = 1;
      this.kbFoodCategory.name = category.name;
      this.kbFoodCategory.code = category.code;
    },
    onSelectRegion1DepthName(region1Depth) {
      // 충청&경상도가 아닌 경우 (서울, 경기, 인천, 부산)
      this.region1DepthName = region1Depth.name;
      let region1DepthNameSubstr = region1Depth.name.substr(0, 2);
      if (!region1Depth.isDirectSpace) {
        axios
          .get(
            `${process.env.b2bBaseURL}/nanuda/delivery-space/find-all-district-by-code`,
            {
              params: {
                locationType: region1DepthNameSubstr,
              },
            },
          )
          .then((res) => {
            if (res) {
              this.stepIndex = 2;
              if (res.data && res.data[0]) {
                this.directSpace = res.data[0].directSpace; // 2depth 가 있는 경우 'N'값 반환
                if (this.directSpace !== 'N') {
                  // 2depth 없는 경우
                  this.isFinal = true;
                  this.deliverySpaces = res.data;
                  this.deliverySpaces.map((e) => {
                    this.$set(e, 'active', false);
                    this.selectedIds.push(e.no);
                  });
                } else {
                  this.districtList = res.data.slice(1, res.data.length); // 2depth 리스트 반환
                }
              }
            }
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        // 충청&경상도
        axios
          .get(`${process.env.b2bBaseURL}/nanuda/delivery-space`, {
            params: {
              region1DepthName: region1DepthNameSubstr,
              orderByMonthlyRentFee: 'ASC',
            },
          })
          .then((res) => {
            this.isLoading = true;
            if (res) {
              // 공간이 있는 경우
              setTimeout(() => {
                this.isLoading = false;
                this.stepIndex = 2;
                this.isFinal = true;
                this.deliverySpaces = res.data.items;
                this.deliverySpaces.map((e) => {
                  this.$set(e, 'active', false);
                  this.selectedIds.push(e.no);
                });
              }, 3000);
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    onSelectRegion2DepthName(region2DepthName) {
      let body;
      if (this.kbFoodCategory) {
        body = {
          kbFoodCategory: this.kbFoodCategory.code,
        };
      }
      this.region2DepthName = region2DepthName;
      if (this.region1DepthName !== '서울') {
        axios
          .get(`${process.env.b2bBaseURL}/nanuda/delivery-space`, {
            params: {
              region2DepthName: region2DepthName,
              orderByMonthlyRentFee: 'ASC',
            },
          })
          .then((res) => {
            this.isLoading = true;
            if (res) {
              setTimeout(() => {
                this.stepIndex = 3;
                this.isFinal = true;
                this.isLoading = false;
                this.deliverySpaces = res.data.items;
                this.deliverySpaces.map((e) => {
                  this.$set(e, 'active', false);
                  this.selectedIds.push(e.no);
                });
              }, 3000);
            }
            if (!res) {
              console.log(error);
              this.showNoContent = true;
            }
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        axios
          .get(`${process.env.b2bBaseURL}/nanuda/delivery-space`, {
            params: {
              region1DepthName: this.region1DepthName,
              region2DepthName: this.region2DepthName,
              orderByMonthlyRentFee: 'ASC',
              isSkipped: this.region1DepthName !== '서울' ? 'Y' : 'N',
              ...body,
            },
          })
          .then((res) => {
            this.isLoading = true;
            if (res) {
              setTimeout(() => {
                this.isLoading = false;
                this.isFinal = true;
                this.stepIndex = 3;
                this.deliverySpaces = res.data.items;
                this.deliverySpaces.map((e) => {
                  this.$set(e, 'active', false);
                  this.selectedIds.push(e.no);
                });
              }, 3000);
            }
          })
          .catch((error) => {
            // if (error.response.data.statusCode === 400) {
            //   this.isFinal = true;
            //   this.isCategory = false;
            //   this.stepIndex = 3;
            //   if (this.kbFoodCategory) {
            //     this.kbFoodCategory = category.name;
            //   }
            // }
            if (error.response.data.statusCode === 500) {
              this.isFinal = true;
              this.region2DepthName = '';
            }
          });
      }
    },
    goBackStep() {
      // 뒤로가기
      this.stepIndex -= 1;
      if (this.stepIndex === 0) {
        this.kbFoodCategory.name = '';
      }
      if (this.stepIndex === 1) {
        this.region1DepthName = '';
        this.directSpace = '';
      }
      if (this.stepIndex === 2) {
        this.region2DepthName = '';
      }

      this.reset();
    },
    reset() {
      // 초기화
      this.isFinal = false;
      this.deliverySpaces = [];
      this.promotions = [];
      this.selectedIds = [];
      // this.districtList = [];
      this.averageRatingScorePercent = 0;
    },
    expand(i, spaceNo) {
      // 더보기 드롭다운
      if (this.deliverySpaces[i].active) {
        this.deliverySpaces[i].active = false;
        this.promotions = [];
        this.isLoadingPromotion = false;
      } else {
        this.deliverySpaces.map((e) => {
          this.$set(e, 'active', false);
        });
        this.deliverySpaces[i].active = true;
        this.isLoadingPromotion = true;
        axios
          .get(`${process.env.b2bBaseURL}/nanuda/delivery-space/${spaceNo}`)
          .then((res) => {
            this.isLoadingPromotion = false;
            this.promotions = res.data.companyDistrict.promotions;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    send() {
      // 상담신청
      this.isLoadingLayer = true;
      this.$fb.track('CompleteRegistration');
      this.$gtag.event('conversion', {
        send_to: 'AW-449955989/YQSyCPbhuu8BEJWRx9YB',
      });
      this.$gtag.event('reservation_2', {
        send_to: 'G-0KL898XG4N',
        description: 'Landing Page conversion',
        items: [{ promotion_name: 'reservation_2' }],
      });
      axios
        .post(
          `${process.env.b2bBaseURL}/nanuda/delivery-founder-consult/bulk`,
          {
            name: this.$v.userName.$model,
            phone: this.$v.userPhone.$model,
            deliverySpaceNos: this.selectedIds,
          },
        )
        .then((res) => {
          if (res) {
            setTimeout(() => {
              this.isLoadingLayer = false;
              this.isComplete = true;
              this.isFinal = false;
            }, 3000);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  validations: {
    userName: {
      required,
    },
    userPhone: {
      required,
      numeric,
    },
  },
  mounted() {
    setTimeout(() => {
      this.isVisibleIntro = false;
    }, 2000);
    this.startTextAnimation(0);
  },
  updated() {
    if (this.isFinal) {
      if (
        this.deliverySpaces.length > 0 &&
        this.deliverySpaces[0].averageRatingScore
      ) {
        this.averageRatingScorePercent = this.deliverySpaces[0].averageRatingScore;
      } else {
        this.averageRatingScorePercent = 40;
      }
    }
  },
};
</script>
<style lang="scss">
// landingDeliverySpace
#landingDeliverySpace {
  background-color: #f5f5f5;
  min-height: 100vh;
  .v-tab {
    .tab-dot {
      display: inline-block;
      width: 1em;
      height: 1em;
      background-color: $gray-300;
      border-radius: $border-radius-lg;
      transition: width 0.4s ease;
    }
    &.v-tab--active {
      .tab-dot {
        width: 3em;
        background-color: $secondary;
      }
    }
  }

  &.is-final {
    .article-section {
      padding-bottom: 11.5em !important;
      background-image: none !important;
    }
  }

  &.is-complete {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.is-active {
    .card-box {
      opacity: 1;
    }
  }

  .article-section {
    padding: 1.5em 0;
    min-height: inherit;
    &#section-1 {
      background-color: #fff;
    }
    &#section-2,
    &#section-3 {
      padding-bottom: 16em;
      background-image: url('~assets/images/landing/delivery-space/bg_landmark.svg');
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;
    }
  }

  > .inner-container {
    position: relative;
    z-index: 2;
  }

  .section-header {
    h3 {
      color: $black;
      font-size: 1.8rem;
      font-weight: $txt-bold;
    }
    + .section-content {
      margin-top: 1em;
    }
  }

  .step-list {
    margin: 1em 0;
  }

  .img-box {
    margin: 2em 0;
    .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60vw;
      height: 60vw;
      max-width: 20em;
      max-height: 20em;
      background-color: $light;
      border-radius: 50%;
      margin: 0 auto;

      img {
        max-width: 20em;
        max-height: 50%;
      }
    }
  }
  .card-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.75em;
    opacity: 0;
    position: relative;
    border-radius: $border-radius;
    background-color: $white;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.4s linear forwards;
    cursor: pointer;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      content: '';
      border: 3px solid transparent;
      border-radius: $border-radius;
      transition: border 0.2s linear;
    }
    &:hover {
      &:before {
        border-color: black;
      }
    }

    .card-icon {
      display: block;
      text-align: center;
      margin-bottom: 0.5em;
      img {
        width: 3em;
        margin: 0 auto;
      }
    }

    .card-name {
      font-size: $txt-large;
      font-weight: $txt-bold;
      color: $black;
      text-align: center;
    }
  }

  .step-list {
    display: flex;
    align-items: center;
    justify-content: center;

    .step {
      display: flex;
      align-items: center;
      margin: 0 0.5em;
      white-space: nowrap;
      background-color: $light;
      border-radius: 1em;
      &.is-active {
        .step-num {
          background-color: $primary;
          border-color: $primary;
          color: $white;
          + .step-txt {
            font-size: $txt-tiny;
          }
        }
      }
      .step-num {
        display: inline-flex;
        width: 2em;
        height: 2em;
        border: 1px solid $border-color;
        background-color: $white;
        color: $black;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: $txt-tiny;
        + .step-txt {
          display: inline-block;
          margin-left: 0.5em;
          padding: 0.125em 1em 0.125em 0;
          font-size: 0;
        }
      }
    }
  }

  .space-rating-bar {
    position: relative;
    display: block;
    width: 0;
    border-radius: $border-radius-lg;
    height: 0.5em;
    transition: width 0.4s ease 0.5s;

    &:before {
      position: absolute;
      right: -1em;
      top: -1em;
      display: block;
      content: '';
      width: 2em;
      height: 2em;
      background: url('~assets/images/landing/delivery-space/icon_smile.png')
        no-repeat center center / cover;
    }
  }

  .space-rating-box {
    border: 2px solid $black;
    background-color: $white;
    border-radius: 4px;
    margin-bottom: 2em;
    padding: 1em;
  }

  .space-preview {
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 0.4s linear forwards;
    border: 1px solid $border-color;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    &.is-selected {
      border-width: 3px;
      border-color: $success;
    }

    .space-rating {
      display: none;
      background-color: $black;
      padding: 0.5em 1em;
      color: $gray-300;
      font-size: $txt-small;
    }

    &.is-active {
      .space-info-wrap {
        position: relative;
        background-color: $white;
        color: $black;
      }
    }
    .space-preview-wrap {
      position: relative;
      // display: flex;
    }
    .space-check {
      position: absolute;
      right: 0.75em;
      top: 0.5em;
      z-index: 2;
      .checkbox {
        input[type='checkbox'] {
          + .label-txt {
            &:before {
              background-color: $gray-300;
              color: $white;
            }
          }

          &:checked {
            + .label-txt {
              &:before {
                border-color: $success;
                background-color: $success;
              }
            }
          }
        }
      }
    }
    .space-preview-img {
      position: relative;
      // width: 40%;

      .space-img {
        position: relative;
        padding-bottom: 56.25%;
        // height: 100%;
        img {
          display: block;
          width: 100%;
        }
      }
    }
    .space-info-wrap {
      position: relative;
      padding: 1em 1em;
      background-color: $white;
      color: $black;
      // width: 60%;
      .space-info {
        .space-badge {
          // min-height: 1.5em;
          margin-bottom: 0.5em;
        }
        .space-title {
          font-size: 1.8rem;
          font-weight: $txt-bold;
          line-height: 1;
          margin-bottom: 0.5em;
        }
        .space-price {
          line-height: 1.2;
          * {
            vertical-align: middle;
          }
        }
      }
      .space-rating {
        font-weight: $txt-bold;
        font-size: $txt-tiny;
        border-top: 1px solid $border-color;
        padding-top: 0.5em;
        margin-top: 0.5em;
      }
      .btn-moreview {
        position: absolute;
        right: 1em;
        bottom: 1em;
      }
    }
    .space-etc {
      background-color: $white;
      padding: 1em 0;
      margin: 0 1em;
      border-top: 1px solid $border-color;
    }
  }

  // bottom sticky
  .sticky-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-modal;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.15);

    .sticky-form {
      background-color: $white;
      padding: 1.25em;
      .form-title {
        h4 {
          font-size: 1.8rem;
        }
      }
    }
    .btn-toggle-form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3em;
      background-color: $primary;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      .bar {
        display: inline-block;
        width: 3em;
        height: 0.25em;
        background-color: $white;
        border-radius: 1em;
      }
    }

    .sticky-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $black;
      color: $white;
      padding: 1.25em;
    }
  }

  .bg-layer {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: $light;
    z-index: 4;
    padding-bottom: 8em;

    .ani-bg-scale {
      background-image: url('~assets/images/landing/delivery-space/bg_intro.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .main-title-wrap {
      position: relative;
      z-index: 1;
      color: $white;
      padding: 1em 1.5em;
      .svg-icon {
        display: block;
        width: 12em;
        margin-bottom: 1em;
      }
      h1 {
        font-weight: 600;
        line-height: 1.3;
      }
      .cursor {
        margin-left: 0.05em;
        border-right: 0.05em solid;
        animation: caret 1s steps(1) infinite;
      }
      @keyframes caret {
        50% {
          border-color: transparent;
        }
      }
    }
    .main-footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      p {
        color: $white;
      }
    }
  }

  .breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.875em 0.5em;
    background-color: $lightorange;
    border-radius: $border-radius;
    margin-bottom: 1em;
    text-align: center;
    color: $white;
    span {
      font-size: $txt-large;
      &.is-active {
        font-weight: $txt-bold;
        b {
          border: 2px solid $primary;
          border-radius: $border-radius-lg;
          padding: 0.25em 0.5em;
          color: $primary;
        }
      }
      + span {
        &:before {
          display: inline-block;
          content: '>';
          margin: 0 0.25em;
        }
      }
    }
  }

  .sub-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }
  .sub-title {
    color: $black;
    font-weight: $txt-bold;
  }

  .promotion-list {
    .num {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 1.5em;
      height: 1.5em;
      background: $gray-700;
      color: $white;
      border-radius: 50%;
      margin-right: 0.5em;
    }
  }

  .loading-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background-color: rgb(255 255 255 / 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    &.bg-white {
      background-color: $white !important;
    }
    .loader {
      text-align: center;
      img {
        width: 6em;
        height: 6em;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    padding-left: 50%;
    .breadcrumbs {
      color: $black;
    }
    .bg-layer {
      width: 50%;
      padding: 0;
      display: block !important;
      box-shadow: 0 20px 10px rgb(0 0 0 / 30%);
      .main-title-wrap {
        padding: 3em 1.5em;
      }
    }
    &:not(.is-final) {
      .section-header {
        h3 {
          color: $black;
        }
      }
      .sub-title {
        color: $black;
      }
    }

    .sticky-wrap {
      left: 50%;
      .btn-toggle-form {
        display: none;
      }
      .sticky-nav {
        display: none;
      }
    }

    .loading-layer {
      left: 50%;
      width: 50%;
      background-color: #fff;
    }
  }
}

.marker {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #635dff;
  padding: 1em;
  font-size: $txt-mini;
  border-style: solid;
  border-color: #2e28ff;
  border-width: 2px;
}
@keyframes slide {
  0% {
    background-image: url('~assets/images/landing/delivery-space/bg_image_01.png');
  }
  33% {
    background-image: url('~assets/images/landing/delivery-space/bg_image_02.png');
  }
  66% {
    background-image: url('~assets/images/landing/delivery-space/bg_image_03.png');
  }
}
</style>
