<template>
  <main id="register" class="main-wrapper">
    <EmptyHeader border title="공간 등록하기">
      <template v-slot:leftArea>
        <PrevButton @click="$router.go(-1)" />
      </template>
    </EmptyHeader>
    <article class="main-article py-12">
      <div class="inner-container">
        <header class="article-header is-blind">
          <h2 class="txt-large txt-black">공간 등록 폼</h2>
        </header>
        <div class="article-content">
          <section class="article-section p-4 border bg-light">
            <div>
              <div class="txt-box txt-left">
                <p class="txt-medium txt-bold mb-4 d-flex align-items-center">
                  <i
                    class="icon-info-guide txt-primary txt-bold txt-large mr-1"
                  ></i>
                  <span class="txt-black"
                    >공간을 등록하기 전 한 번 읽어주세요!</span
                  >
                </p>
              </div>
              <div class="o-list">
                <ol>
                  <li>
                    <span class="num txt-primary txt-bold">01</span>
                    <p class="txt-tiny txt-black">
                      <strong>
                        공간 등록이 완료된 후 사전 고지 없이 임의로
                        <br class="d-block d-md-none" />타 업체 또는 개인과
                        계약할 경우 제재 </strong
                      >를 받을 수 있습니다.
                    </p>
                  </li>
                  <li class="mt-2">
                    <span class="num txt-primary txt-bold">02</span>
                    <p class="txt-tiny txt-black">
                      <strong>정보 입력 후, 담당자 확인을 거쳐 등록</strong
                      >되며, <br class="d-block d-md-none" />정보 수정은
                      담당자를 통해 하실 수 있습니다.
                    </p>
                  </li>
                </ol>
              </div>
            </div>
          </section>
          <div class="row gutter-16">
            <div class="col col-12 col-md-6">
              <section class="article-section">
                <div>
                  <header class="section-header">
                    <h3>필수 입력정보 <span class="txt-primary">*</span></h3>
                  </header>
                  <div class="section-content">
                    <!-- 점포명 -->
                    <template v-if="!$store.getters.isAuthenticated">
                      <FormGroup>
                        <FormLabel>이름</FormLabel>
                        <FormControl>
                          <InputGroup>
                            <InputField
                              type="text"
                              placeholder="홍길동"
                              v-model="$v.userName.$model"
                              :autofocus="true"
                              addClass="mk_re2_store_btn"
                            />
                          </InputGroup>
                        </FormControl>
                        <FormMessage
                          v-if="!$v.userName.required && $v.userName.$dirty"
                          >이름을 입력해주세요</FormMessage
                        >
                      </FormGroup>
                      <FormGroup>
                        <FormLabel>휴대폰번호</FormLabel>
                        <FormControl>
                          <InputGroup>
                            <InputField
                              type="text"
                              placeholder="'-'없이 입력해주세요"
                              v-model="$v.phoneNumber.$model"
                              addClass="mk_re2_store_btn"
                            />
                          </InputGroup>
                        </FormControl>
                        <FormMessage
                          v-if="
                            !$v.phoneNumber.required && $v.phoneNumber.$dirty
                          "
                          >핸드폰번호를 입력해주세요</FormMessage
                        >
                        <FormMessage v-if="!$v.phoneNumber.numeric"
                          >숫자만 가능합니다</FormMessage
                        >
                      </FormGroup>
                    </template>
                    <template v-else>
                      <FormGroup>
                        <FormLabel>이름</FormLabel>
                        <FormControl>
                          <InputGroup>
                            <InputField
                              type="text"
                              placeholder="홍길동"
                              v-model="$store.state.userName"
                              :disabled="true"
                            />
                          </InputGroup>
                        </FormControl>
                      </FormGroup>
                      <FormGroup>
                        <FormLabel>휴대폰번호</FormLabel>
                        <FormControl>
                          <InputGroup>
                            <InputField
                              type="text"
                              placeholder="'-'없이 입력해주세요"
                              v-model="$store.state.userPhoneNum"
                              :disabled="true"
                            />
                          </InputGroup>
                        </FormControl>
                      </FormGroup>
                    </template>
                    <!-- 점포명 -->
                    <FormGroup>
                      <FormLabel>공간 이름</FormLabel>
                      <FormControl>
                        <InputGroup>
                          <InputField
                            type="text"
                            placeholder="예) 나누다키친 ○○점"
                            v-model="$v.spaceName.$model"
                            addClass="mk_re2_store_btn"
                          />
                        </InputGroup>
                      </FormControl>
                      <FormMessage
                        v-if="!$v.spaceName.required && $v.spaceName.$dirty"
                        >공간 이름을 입력해주세요</FormMessage
                      >
                    </FormGroup>
                    <!-- 주소 -->
                    <FormGroup>
                      <FormLabel>주소</FormLabel>
                      <FormControl>
                        <InputGroup>
                          <InputField
                            type="text"
                            placeholder="도로명/지번 주소"
                            :readonly="true"
                            @focused="onAddressInputClicked"
                            v-model="$v.address.$model"
                          />
                        </InputGroup>
                      </FormControl>
                      <FormControl>
                        <InputGroup>
                          <InputField
                            type="text"
                            placeholder="상세주소"
                            v-model="$v.detailedAddress.$model"
                            ref="detailedAddress"
                            addClass="mk_re2_detail_btn"
                          />
                        </InputGroup>
                      </FormControl>
                      <FormMessage
                        v-if="
                          !$v.detailedAddress.required &&
                          $v.detailedAddress.$dirty
                        "
                        >상세주소를 입력해주세요</FormMessage
                      >
                    </FormGroup>
                    <!-- 희망대여 금액 -->
                    <FormGroup>
                      <FormLabel>희망 대여 금액</FormLabel>
                      <FormControl>
                        <InputGroup>
                          <InputField
                            type="text"
                            placeholder="만원 단위로 입력해 주세요."
                            v-model="$v.rentalHopeFee.$model"
                            addClass="mk_re2_rent_btn"
                          />
                          <span class="unit txt-tiny">만원</span>
                        </InputGroup>
                      </FormControl>
                      <FormMessage v-if="!$v.rentalHopeFee.numeric"
                        >숫자만 가능합니다</FormMessage
                      >
                    </FormGroup>
                  </div>
                </div>
              </section>
            </div>
            <div class="col col-12 col-md-6">
              <section class="article-section">
                <div>
                  <header class="section-header">
                    <h3>선택 입력정보</h3>
                  </header>
                  <div class="section-content">
                    <!-- 공간 사진 등록 -->
                    <!-- <FormGroup>
                      <div
                        class="d-flex align-items-end justify-content-between"
                      >
                        <FormLabel>공간 사진 등록</FormLabel>
                        <Button
                          class="btn-text txt-mini d-flex align-items-center txt-secondary"
                          @click="showTooltip"
                        >
                          <i
                            class="icon-info-guide txt-medium mr-1 mk_re2_picguide_btn"
                          ></i>
                          <span class="mk_re2_picguide_btn"
                            >사진을 이렇게 찍어주세요</span
                          >
                        </Button>
                      </div>
                      <FormRow>
                        <div class="row-box mt-2">
                          <client-only>
                            <ImageUpload
                              category="MAIN_SPACE"
                              label="<span>매장 외부</span> <span>(1장)</span>"
                              :forAdd="true"
                              @syncFiles="updateFormData"
                              :class="{ 'is-active': tooltip.visibleTooltip }"
                              :visibleBtn="tooltip.visibleBtn"
                              @click="showTooltipNext"
                              :totalImagesSize="totalImagesSize"
                              :maxSize="maxSize"
                              addClass="mk_re2_pic1_btn"
                            >
                              <transition name="fade">
                                <div
                                  class="tooltip"
                                  v-show="tooltip.visibleTooltip"
                                  @click="showTooltipNext"
                                >
                                  <img
                                    src="@/assets/images/register/guide_upload_outside.png"
                                    alt="매장 외부 가이드 툴팁"
                                  />
                                </div>
                              </transition>
                              <div
                                class="dim-layer"
                                v-show="tooltip.visibleTooltip"
                                @click="showTooltipNext"
                              ></div>
                            </ImageUpload>
                          </client-only>
                        </div>
                        <div class="row-box mt-2">
                          <client-only>
                            <ImageUpload
                              category="I_SPACE"
                              label="매장 내부"
                              :forAdd="true"
                              @syncFiles="updateFormData"
                              :class="{
                                'is-active': tooltip.visibleTooltipNext,
                              }"
                              :visibleBtn="tooltip.visibleBtn"
                              @click="hideTooltip"
                              :totalImagesSize="totalImagesSize"
                              :maxSize="maxSize"
                              class="mk_re2_pic2_btn"
                            >
                              <transition name="fade">
                                <div
                                  class="tooltip"
                                  v-show="tooltip.visibleTooltipNext"
                                  @click="hideTooltip"
                                >
                                  <img
                                    src="@/assets/images/register/guide_upload_inside.png"
                                    alt="매장 외부 가이드 툴팁"
                                  />
                                </div>
                              </transition>
                              <div
                                class="dim-layer"
                                v-show="tooltip.visibleTooltipNext"
                                @click="hideTooltip"
                              ></div>
                            </ImageUpload>
                          </client-only>
                        </div>
                      </FormRow>
                      <div class="file-stuatus-wrapper mt-4">
                        <div class="status-bar">
                          <span
                            class="bars"
                            :class="barColor"
                            :style="{ width: currentSize + '%' }"
                          ></span>
                        </div>
                        <div class="file-size">
                          <span class="size total-size" :class="sizeColor">{{
                            toSize(totalImagesSize)
                          }}</span
                          ><span class="size max-size">
                            / {{ toSize(maxSize) }}</span
                          >
                        </div>
                      </div>
                    </FormGroup> -->
                    <!-- 매장에 있는 기물 선택 -->
                    <FormGroup>
                      <FormLabel>공간에 있는 기물 선택</FormLabel>
                      <FormRow>
                        <div
                          class="d-flex flex-wrap gutter-8 txt-center txt-black txt-tiny"
                        >
                          <div class="col-4">
                            <CheckBox
                              id="spaceFacilityInfo-1"
                              name="spaceFacilityInfo"
                              label="화구"
                              class="type-button w-100p"
                              @click="checkboxClicked(1)"
                              :checked="selectedAmenities.includes(1)"
                            >
                              <div class="mb-2 mt-2">
                                <i
                                  class="icon-FIREBALL d-block txt-massive"
                                ></i>
                              </div>
                            </CheckBox>
                          </div>
                          <div class="col-4">
                            <CheckBox
                              id="spaceFacilityInfo-2"
                              name="spaceFacilityInfo"
                              label="식기세척기"
                              class="type-button w-100p"
                              @click="checkboxClicked(2)"
                              :checked="selectedAmenities.includes(2)"
                            >
                              <div class="mb-2 mt-2">
                                <i class="icon-WASHER d-block txt-massive"></i>
                              </div>
                            </CheckBox>
                          </div>
                          <div class="col-4">
                            <CheckBox
                              id="spaceFacilityInfo-3"
                              name="spaceFacilityInfo"
                              label="튀김기"
                              class="type-button w-100p"
                              @click="checkboxClicked(3)"
                              :checked="selectedAmenities.includes(3)"
                            >
                              <div class="mb-2 mt-2">
                                <i class="icon-FRYER d-block txt-massive"></i>
                              </div>
                            </CheckBox>
                          </div>
                          <div class="col-4">
                            <CheckBox
                              id="spaceFacilityInfo-4"
                              name="spaceFacilityInfo"
                              label="보관공간"
                              class="type-button w-100p"
                              @click="checkboxClicked(4)"
                              :checked="selectedAmenities.includes(4)"
                            >
                              <div class="mb-2 mt-2">
                                <i class="icon-STORAGE d-block txt-massive"></i>
                              </div>
                            </CheckBox>
                          </div>
                          <div class="col-4">
                            <CheckBox
                              id="spaceFacilityInfo-5"
                              name="spaceFacilityInfo"
                              label="냉장공간"
                              class="type-button w-100p"
                              @click="checkboxClicked(6)"
                              :checked="selectedAmenities.includes(6)"
                            >
                              <div class="mb-2 mt-2">
                                <i
                                  class="icon-REFRIGERATOR d-block txt-massive"
                                ></i>
                              </div>
                            </CheckBox>
                          </div>
                          <div class="col-4">
                            <CheckBox
                              id="spaceFacilityInfo-6"
                              name="spaceFacilityInfo"
                              label="냉동공간"
                              class="type-button w-100p"
                              @click="checkboxClicked(7)"
                              :checked="selectedAmenities.includes(7)"
                            >
                              <div class="mb-2 mt-2">
                                <i class="icon-FREEZER d-block txt-massive"></i>
                              </div>
                            </CheckBox>
                          </div>
                          <div class="col-4">
                            <CheckBox
                              id="spaceFacilityInfo-7"
                              name="spaceFacilityInfo"
                              label="와이파이"
                              class="type-button w-100p"
                              @click="checkboxClicked(8)"
                              :checked="selectedAmenities.includes(8)"
                            >
                              <div class="mb-2 mt-2">
                                <i class="icon-WIFI d-block txt-massive"></i>
                              </div>
                            </CheckBox>
                          </div>
                          <div class="col-4">
                            <CheckBox
                              id="spaceFacilityInfo-8"
                              name="spaceFacilityInfo"
                              label="주차공간"
                              class="type-button w-100p"
                              @click="checkboxClicked(9)"
                              :checked="selectedAmenities.includes(9)"
                            >
                              <div class="mb-2 mt-2">
                                <i class="icon-PARKING d-block txt-massive"></i>
                              </div>
                            </CheckBox>
                          </div>
                          <div class="col-4">
                            <CheckBox
                              id="spaceFacilityInfo-9"
                              name="spaceFacilityInfo"
                              label="쇼케이스"
                              class="type-button w-100p"
                              @click="checkboxClicked(5)"
                              :checked="selectedAmenities.includes(5)"
                            >
                              <div class="mb-2 mt-2">
                                <i
                                  class="icon-SHOWCASE d-block txt-massive"
                                ></i>
                              </div>
                            </CheckBox>
                          </div>
                        </div>
                      </FormRow>
                    </FormGroup>
                    <!-- 전하고 싶은 말 -->
                    <FormGroup>
                      <FormLabel>전하고 싶은 말</FormLabel>
                      <FormControl>
                        <div class="textarea">
                          <textarea
                            placeholder="매칭 프로세스, 정산, 내 가게에서 직접 창업하기 등 궁금하신 사항을 편하게 입력 해 주세요."
                            class="form-element mk_re2_etc_btn"
                            v-model="spaceDesc"
                            maxlength="500"
                          ></textarea>
                          <span class="form-underline"></span>
                        </div>
                      </FormControl>
                      <div class="txt-box txt-right mt-1">
                        <p class="length txt-small">
                          {{ spaceDesc.length }} / 500
                        </p>
                      </div>
                    </FormGroup>
                  </div>
                </div>
                <div class="agree-box mt-6 bg-light">
                  <CheckBox
                    label="[필수] 공간 등록 사전동의"
                    id="informedConsent"
                    class="txt-small"
                    @click="isInformedConsent"
                    :checked="isInformedConsentChecked"
                    addClass="mk_re2_law_btn"
                  />
                  <Button
                    @click="showInformedConsent = true"
                    class="btn-text btn-tiny btn-underline"
                    >자세히보기</Button
                  >
                </div>
                <div class="btn-box txt-lg-right">
                  <Button
                    class="btn btn-medium btn-primary btn-block mk_register_form_com_btn"
                    @click="save"
                    :disabled="
                      $v.spaceName.$invalid ||
                      $v.address.$invalid ||
                      $v.rentalHopeFee.$invalid ||
                      $v.detailedAddress.$invalid ||
                      $v.userName.$invalid ||
                      $v.phoneNumber.$invalid ||
                      !isInformedConsentChecked
                    "
                    >공간 등록하기</Button
                  >
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- <article class="article-section bg-gray-100 mt-8 d-none">
        <div class="inner-container">
          <div class="section-content">
            <div class="row-box">
              <div class="txt-box txt-left">
                <p class="txt-medium txt-bold mb-4 d-flex align-items-center">
                  <i
                    class="icon-info-guide txt-primary txt-bold txt-large mr-1"
                  ></i>
                  <span class="txt-black">공간 정보 등록 전 읽어주세요.</span>
                </p>
              </div>
              <div class="o-list">
                <ol>
                  <li>
                    <span class="num txt-primary txt-bold">01</span>
                    <p class="txt-tiny txt-black">
                      <strong>
                        공간 등록이 완료된 후 사전 고지 없이 임의로
                        <br class="d-block d-md-none" />타 업체 또는 개인과
                        계약할 경우 제재 </strong
                      >를 받을 수 있습니다.
                    </p>
                  </li>
                  <li class="mt-2">
                    <span class="num txt-primary txt-bold">02</span>
                    <p class="txt-tiny txt-black">
                      <strong>정보 입력 후, 담당자 확인을 거쳐 등록</strong
                      >되며, <br class="d-block d-md-none" />정보 수정은
                      담당자를 통해 하실 수 있습니다.
                    </p>
                  </li>
                </ol>
              </div>
            </div>
            <div class="agree-box bg-white">
              <CheckBox
                label="[필수] 공간등록 사전동의"
                id="informedConsent"
                class="txt-small"
                @click="isInformedConsent"
                :checked="isInformedConsentChecked"
                addClass="mk_re2_law_btn"
              />
              <Button
                @click="showInformedConsent = true"
                class="btn-text btn-tiny btn-underline"
                >자세히보기</Button
              >
            </div>
            <div class="btn-box txt-lg-right">
              <Button
                class="btn btn-medium btn-primary btn-block w-30 mk_re2_form_com_btn"
                @click="save"
                :disabled="
                  $v.spaceName.$invalid ||
                  $v.address.$invalid ||
                  $v.rentalHopeFee.$invalid ||
                  $v.detailedAddress.$invalid ||
                  $v.userName.$invalid ||
                  $v.phoneNumber.$invalid ||
                  !isInformedConsentChecked
                "
                >등록완료</Button
              >
            </div>
          </div>
        </div>
      </article> -->
    </article>
    <!-- 사전동의서 모달 -->
    <CustomModal
      :visible="showInformedConsent"
      headerType="default"
      id="InformedConsent"
      title="공간 등록 사전동의서"
      noBtn="닫기"
      @close="showInformedConsent = false"
    >
      <InformedConsent />
    </CustomModal>
    <!-- // -->
    <!-- 주소 검색  -->
    <!-- 주소 검색 모달 -->
    <CustomModal
      :visible="showPostcode"
      headerType="default"
      id="searchAddress"
      title="주소검색"
      noBtn="닫기"
      @close="closePostCode"
    >
      <VueDaumPostcode
        @complete="focusAddress($event)"
        ref="postcode"
      ></VueDaumPostcode>
    </CustomModal>
    <!-- // -->
    <!-- 위도경도를 얻기위해 다음맵이 필요함 -->
    <vue-daum-map
      v-show="false"
      :appKey="appKey"
      :center="coords"
      :level.sync="level"
      :libraries="libraries"
      @load="onLoad"
    />
    <!-- // -->
    <!-- 로딩 레이어 -->
    <LoadingLayer v-if="isLoading" />
    <!--// -->
  </main>
</template>
<script>
import EmptyHeader from '@/components/Navigation/EmptyHeader';
// 발리데이션
import {
  required,
  minLength,
  maxLength,
  numeric,
  between,
  alphaNum,
} from 'vuelidate/lib/validators';
// 주소검색창
// import { VueDaumPostcode } from "vue-daum-postcode";
// 이미지업로드
import ImageUpload from '@/components/Register/ImageUpload';
// 모달
import Modal from '@/components/Modal/Modal';
import CustomModal from '@/components/Modal/CustomModal';
import InformedConsent from '@/components/Register/InformedConsent';
import LoadingLayer from '@/components/UI/LoadingLayer';
//mixins
import { sendingFormData } from '@/assets/mixins/sendingFormData';
import { kakaoAPIs } from '@/assets/mixins/kakaoAPIs';
import { bytesToSize } from '@/assets/utils/common.js';
import requiredUnless from 'vuelidate/lib/validators/requiredUnless';

export default {
  middleware: ['form-guard'],
  mixins: [sendingFormData, kakaoAPIs],
  created() {
    //axios 디폴트 헤더에 토큰 추가
    this.$axios.defaults.headers.common[
      'x-access-token'
    ] = this.$store.state.token;
    //토큰 유효기간 체크
    this.$checkTokenExpired('/register/form');
  },
  layout: 'empty',
  components: {
    EmptyHeader,
    ImageUpload,
    Modal,
    CustomModal,
    InformedConsent,
    LoadingLayer,
  },
  data() {
    return {
      isLoading: false,
      isInformedConsentChecked: false, // 사전 동의 체크 여부
      showInformedConsent: false, // 사전동의 모달
      tooltip: {
        // 공간사진 가이드 툴팁
        visibleBtn: false,
        visibleTooltip: false,
        visibleTooltipNext: false,
      },
      spaceDesc: '', // 공간 설명 내용
      isSpaceFacilityInfo: false, // 매장에 있는 기물 선택
      isFireball: false,
      isDishWasher: false,
      isFryer: false,
      isStorage: false,
      isRefrigerator: false,
      isFreezer: false,
      isWIFI: false,
      isParkingLot: false,
      isShowcase: false,
      detailedAddress: '',
      spaceName: '',
      rentalHopeFee: '',
      userName: '',
      phoneNumber: '',
      mainSpaceImg: null,
      insideSpaceImg: null,
      maxSize: 20971520,
      uploadComplete: false,
      selectedAmenities: [],
    };
  },

  validations: {
    userName: {
      required: requiredUnless('hasAuth'),
    },
    phoneNumber: {
      required: requiredUnless('hasAuth'),
      numeric,
    },
    spaceName: {
      required,
    },
    address: {
      required,
    },
    detailedAddress: {
      required,
    },
    rentalHopeFee: {
      required,
      numeric,
    },
  },
  computed: {
    hasAuth() {
      return this.$store.getters.isAuthenticated;
    },
    totalImagesSize() {
      let totalSize = 0;
      if (this.mainSpaceImg) {
        this.mainSpaceImg.map((e) => {
          totalSize += e.size;
        });
      }
      if (this.insideSpaceImg) {
        this.insideSpaceImg.map((e) => {
          totalSize += e.size;
        });
      }
      return totalSize;
    },
    currentSize() {
      // 현재 업로드된 파일 용량
      return ((this.totalImagesSize / this.maxSize) * 100).toFixed(0);
    },
    barColor() {
      // 용량 바 색상
      return {
        'bg-green': this.currentSize < 50,
        'bg-orange': this.currentSize < 90 && this.currentSize >= 50,
        'bg-red': this.currentSize >= 90,
      };
    },
    sizeColor() {
      // 용량 텍스트 색상
      return {
        'txt-green': this.currentSize < 50,
        'txt-orange': this.currentSize < 90 && this.currentSize >= 50,
        'txt-red': this.currentSize >= 90,
      };
    },
  },
  methods: {
    checkboxClicked(no) {
      if (this.selectedAmenities.includes(no)) {
        this.selectedAmenities.splice(this.selectedAmenities.indexOf(no), 1);
      } else {
        this.selectedAmenities.push(no);
      }
    },
    onAddressInputClicked() {
      this.showPostcode = true;
    },
    toSize(size) {
      return bytesToSize(size);
    },
    showTooltip() {
      //  사진 등록 안내 툴팁
      this.tooltip.visibleTooltip = true;
      this.tooltip.visibleBtn = true;
    },
    showTooltipNext() {
      //  사진 등록 안내 툴팁
      this.tooltip.visibleTooltip = false;
      this.tooltip.visibleTooltipNext = true;
    },
    hideTooltip() {
      //  사진 등록 안내 툴팁
      this.tooltip.visibleTooltipNext = false;
      this.tooltip.visibleBtn = false;
    },
    closePostCode() {
      // 검색창 모달 닫기
      this.showPostcode = false;
    },
    isInformedConsent() {
      // 사전동의 체크 여부
      if (!this.isInformedConsentChecked) {
        // 체크안되어있는 상태 => checked 및 사전동의서 모달 보여주기
        this.isInformedConsentChecked = !this.isInformedConsentChecked;
        this.showInformedConsent = !this.showInformedConsent;
      } else {
        // 체크되어있는 상태 => checked 해제
        this.isInformedConsentChecked = !this.isInformedConsentChecked;
      }
    },
    focusAddress($event) {
      this.setAddress($event, 'address');
      this.showPostcode = false;
      this.$refs.detailedAddress.$el.children[0].focus(); // 상세주소로 focus 가기
    },
    //파일을 업로드하면 mainSpaceImg와 insideSpaceImg로 나눠 데이터에 저장
    updateFormData(files) {
      let arr = [];
      if (Object.keys(files) == 'MAIN_SPACE') {
        files.MAIN_SPACE.map((e) => {
          arr.push(e.file);
        });
        this.mainSpaceImg = arr;
      } else {
        files.I_SPACE.map((e) => {
          arr.push(e.file);
        });
        this.insideSpaceImg = arr;
      }
    },
    save() {
      //전송할 폼데이터 객체 생성
      //메인이미지가 있다면 MAIN_SPACE를 필드 값으로 이미지 숫자만큼 폼데이터를 생성함
      if (this.mainSpaceImg) {
        this.mainSpaceImg.map((e) => {
          const blob = new Blob([e]);
          this.appendForm(blob, 'MAIN_SPACE', e.name);
        });
      }
      //내부이미지가 있다면 I_SPACE를 필드 값으로 이미지 숫자만큼 폼데이터를 생성함
      if (this.insideSpaceImg) {
        this.insideSpaceImg.map((e) => {
          const blob = new Blob([e]);
          this.appendForm(blob, 'I_SPACE', e.name);
        });
      }
      this.selectedAmenities.map((e) => {
        this.appendForm(e, 'AMENITY');
      });
      this.appendForm(this.coords.lat, 'LAT');
      this.appendForm(this.coords.lng, 'LON');
      this.appendForm(this.addrCode, 'ADDR_CODE');
      this.appendForm(this.detailedAddress, 'DETAIL_ADDRESS');
      this.appendForm(this.addrEng, 'ADDR_ENG');
      this.appendForm(this.addrJibun, 'ADDR_JIBUN');
      this.appendForm(this.spaceName, 'NAME');
      this.appendForm(this.spaceDesc, 'ETC');
      this.appendForm(this.rentalHopeFee, 'RENTAL_HOPE_FEE');
      this.appendForm(this.zonecode, 'ZONECODE');
      this.appendForm(this.address, 'ADDRESS');
      this.appendForm(this.addressEnglish, 'ADDRESS_ENGLISH');
      this.appendForm(this.addressType, 'ADDRESS_TYPE');
      this.appendForm(this.bcode, 'BCODE');
      this.appendForm(this.bname, 'BNAME');
      this.appendForm(this.bname1, 'BNAME1');
      this.appendForm(this.bname2, 'BNAME2');
      this.appendForm(this.sido, 'SIDO');
      this.appendForm(this.sigungu, 'SIGUNGU');
      this.appendForm(this.sigunguCode, 'SIGUNGU_CODE');
      this.appendForm(this.userLanguageType, 'USER_LANGUAGE_TYPE');
      this.appendForm(this.query, 'QUERY');
      this.appendForm(this.buildingName, 'BUILDING_NAME');
      this.appendForm(this.buildingCode, 'BUILDING_CODE');
      this.appendForm(this.apartment, 'APARTMENT');
      this.appendForm(this.jibunAddress, 'JIBUN_ADDRESS');
      this.appendForm(this.jibunAddressEnglish, 'JIBUN_ADDRESS_ENGLISH');
      this.appendForm(this.roadAddress, 'ROAD_ADDRESS');
      this.appendForm(this.roadAddressEnglish, 'ROAD_ADDRESS_ENGLISH');
      this.appendForm(this.autoRoadAddress, 'AUTOROAD_ADDRESS');
      this.appendForm(this.autoRoadAddressEnglish, 'AUTO_ROAD_ADDRESS_ENGLISH');
      this.appendForm(this.autoJibunAddress, 'AUTOJIBUN_ADDRESS');
      this.appendForm(
        this.autoJibunAddressEnglish,
        'AUTOJIBUN_ADDRESS_ENGLISH',
      );
      this.appendForm(this.userSelectedType, 'USER_SELECTED_TYPE');
      this.appendForm(this.noSelected, 'NO_SELECTED');
      this.appendForm(this.hname, 'HNAME');
      this.appendForm(this.roadnameCode, 'ROADNAME_CODE');
      this.appendForm(this.roadname, 'ROADNAME');
      this.isLoading = true;
      if (this.$store.getters.isAuthenticated) {
        this.$axios.$post('/space', this.form).then((response) => {
          this.isLoading = false;
          this.$router.push('/register/complete');
          this.$axios.$post('/space/sendMessage', { NO: response.NO });
        });
      } else {
        this.appendForm(this.userName, 'NON_USER_NAME');
        this.appendForm(this.phoneNumber, 'NON_USER_PHONE');
        this.$axios.$post('/nonUserSpace', this.form).then((response) => {
          this.isLoading = false;
          this.$router.push('/register/complete');
          this.$axios.$post('/nonUserSpace/sendMessage', {
            NO: response.NO,
            NON_USER_NAME: this.userName,
            NON_USER_PHONE: this.phoneNumber,
          });
        });
      }
    },
  },
};
</script>
<style lang="scss">
// register
#register {
  &.is-fixed {
    height: 100vh;
    overflow: hidden;
  }

  .article-section {
    padding: 1.5em 0;

    .section-header {
      margin-bottom: 1em;
      h3 {
        color: $black;
        font-size: $txt-medium;
        font-weight: $txt-bold;
      }
    }
    .form-group {
      + .form-group {
        margin-top: 2em;
      }
    }
  }

  .tooltip {
    position: absolute;
    left: 5.25em;
    top: -0.5em;
    width: 16.25em;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .I_SPACE {
    .tooltip {
      top: -4em;
    }
  }
  .upload-photo {
    height: 300px;
    border: 1px solid $gray-400;
    background-color: $gray-100;
    border-radius: $border-radius;
  }

  .agree-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625em 1em;
    border-radius: 0;
  }
}

#searchAddress {
  padding: 0;
  .vue-daum-postcode-container {
    min-height: 400px;
    height: calc(100vh - 5.75em) !important;
  }
  .modal-content {
    padding: 0;
  }
}
// 파일 용량 상태별 색상
.file-stuatus-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .status-bar {
    background-color: $gray-100;
    height: 0.5em;
    border-radius: $border-radius;
    overflow: hidden;
    width: calc(100% - 8.75em);
    .bars {
      display: inline-block;
      vertical-align: top;
      width: 0;
      height: inherit;
      transition: width 0.4s ease-out;
    }
  }
  .file-size {
    width: 8.75em;
    text-align: right;
    .size {
      font-size: $txt-tiny;
    }
  }
}
</style>
