<template>
  <CommonTable
    :headers="this.headers"
    :items="popup"
    page="popup"
    add-btn="팝업 배너"
  />
</template>

<script>
import CommonTable from '@/components/Admin/CommonTable';
export default {
  components: { CommonTable },
  layout: 'admin',
  asyncData(context) {
    // data 가져오기
    context.loading = true;
    return context.$axios
      .$get('/popupAdmin')
      .then((res) => {
        context.loading = false;
        // const res = context.app.$getDateOnly(result);
        return { popup: res };
      })
      .catch((e) => console.log(e));
  },
  data() {
    return {
      headers: [
        {
          text: 'UID',
          align: 'center',
          sortable: false,
          value: 'NO',
        },
        {
          text: '배너 타이틀',
          align: 'center',
          sortable: true,
          value: 'TITLE',
        },
        {
          text: '게재 시작일',
          align: 'center',
          sortable: false,
          value: 'START_DATE',
        },
        {
          text: '게재 종료일',
          align: 'center',
          sortable: false,
          value: 'END_DATE',
        },
        {
          text: '생성일',
          align: 'center',
          sortable: false,
          value: 'createdAt',
        },
        {
          text: 'STATUS',
          align: 'center',
          sortable: true,
          value: 'SHOW_YN',
        },
      ],
      loading: false,
    };
  },
  activated() {
    return this.$axios
      .$get('/popupAdmin')
      .then((res) => {
        // const res = this.$getDateOnly(result);
        this.popup = res;
      })
      .catch((e) => console.log(e));
  },
};
</script>

<style lang="scss"></style>
