<template>
  <div class="promotion-list">
    <div class="txt-black mb-4" v-if="promotionTotalCount > 1">
      TOTAL
      <strong class="txt-bold txt-secondary">{{ promotionTotalCount }}</strong>
    </div>
    <div
      class="row gutter-16"
      :class="{ 'justify-content-center': promotions.length < 2 }"
    >
      <div
        class="col col-md-6"
        v-for="promotion in promotions"
        :key="promotion.no"
      >
        <PromotionPreview :promotion="promotion" />
      </div>
    </div>
    <div class="btn-box" v-if="promotionTotalCount > promotions.length > 0">
      <NButton
        color="primary"
        size="medium"
        block
        @click="moreView()"
        class="mk_promotion_more_btn"
        v-if="promotionTotalCount > promotions.length"
        >더 보기</NButton
      >
    </div>
  </div>
</template>
<script>
import PromotionPreview from '@/components/Promotion/PromotionPreview';
export default {
  props: {
    promotions: {
      type: Array,
      default: () => [],
    },
    promotionTotalCount: {
      type: Number,
      default: null,
    },
  },
  components: {
    PromotionPreview,
  },
  methods: {
    moreView() {},
  },
};
</script>
