<template>
  <div
    class="promotion-preview"
    v-if="promotion"
    @click="toDetailPromotion(promotion.no)"
  >
    <div>
      <template v-if="promotion.codeManagement">
        <Badge
          size="mini"
          color="secondary"
          :text="promotion.codeManagement.value"
          :style="{
            background: promotion.codeManagement.subCssValue,
            'border-color': promotion.codeManagement.subCssValue,
          }"
          class="promotion-type"
        />
      </template>
      <h4 class="promotion-title">{{ promotion.displayTitle }}</h4>
      <div class="promotion-desc" v-if="promotion.summary">
        {{ promotion.summary }}
      </div>
    </div>
    <div class="promotion-date">
      <i class="icon icon-info-calendar mr-2"></i>
      <span> {{ $moment(promotion.started).format('YYYY.MM.DD') }}</span> ~
      <span>{{ $moment(promotion.ended).format('YYYY.MM.DD') }}</span>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    promotion: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    toDetailPromotion(id) {
      this.$router.push(`/events/${id}`);
    },
  },
};
</script>
<style lang="scss" scope>
.promotion-preview {
  padding: 1.5em;
  border-radius: $border-radius-sm;
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
  height: 100%;
  &:hover {
    transform: translate3d(0, -8px, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .promotion-type {
    margin-bottom: 1em;
  }
  .promotion-title {
    font-size: $txt-large;
    font-weight: $txt-bold;
    color: $black;
    + .promotion-desc {
      margin-top: 0.5em;
    }
  }
  .promotion-desc {
    font-size: $txt-small;
    color: $gray;
  }
  .promotion-date {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid $border-color;
    color: $black;
  }
}
</style>
