<template>
  <main id="spaceMeetingsComplete" class="main-wrapper">
    <EmptyHeader border title="상담신청 완료">
      <template v-slot:leftArea>
        <CloseButton @click="$router.push('/')" />
      </template>
    </EmptyHeader>
    <article class="main-article complete-article">
      <header class="article-header">
        <!-- <template v-if="$route.query.isExistedMessage">
          <h2>{{ $route.query.isExistedMessage }}</h2>
        </template>
        <template v-else> -->
        <h2>상담신청이 완료되었습니다.</h2>
        <p>
          업무시간 이후 신청 건은 다음 영업일에
          <br />순차적으로 연락드리겠습니다.
        </p>
        <!-- </template> -->
      </header>
      <div class="article-content">
        <div class="inner-container">
          <div class="btn-box txt-center mt-6">
            <NButton
              color="outline-primary"
              size="medium"
              block
              class="mk_pl3_spaces_btn w-30"
              @click="$router.push('/')"
            >
              <span>홈으로</span>
            </NButton>
          </div>
        </div>
      </div>
    </article>
  </main>
</template>
<script>
import EmptyHeader from '@/components/Navigation/EmptyHeader';
export default {
  name: 'small-business-complete',
  layout: 'empty',
  components: {
    EmptyHeader,
  },
};
</script>
