<template>
  <main id="deliveryKitchen" class="main-wrapper">
    <header class="main-header is-blind">
      <h1>배달형 공유주방</h1>
    </header>
    <article class="main-article">
      <header class="article-header txt-left">
        <div class="inner-container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="title-box">
                <h2>
                  배달 창업 성공의 시작은 <br />
                  최적화된 주방에서부터
                </h2>
                <p>
                  원하는 지역의 공유주방을 찾아보세요
                </p>
              </div>
              <!-- <div class="mt-8">
                <SearchDeliverySpace
                  dropDownEndpoint="/companyDistrict/dropdown"
                  mapRoute="delivery-kitchen-map"
                  addClass="mk_deliverysearch_btn"
                  addClass2="mk_deliveryfound_btn"
                />
                <div class="btn-box mt-2">
                  <router-link to="/delivery-kitchen/map"
                    ><v-icon color="white" dark>mdi-map-marker</v-icon>
                    <span
                      class="btn-tiny btn-txt txt-white txt-underline txt-bold mk_deliverymapfound_btn"
                      >지도로 찾아보기</span
                    ></router-link
                  >
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </header>
      <section
        class="article-section bg-light"
        ref="articleContent"
        id="feature"
      >
        <header class="section-header is-blind">
          <h3>배달형 공유주방 특징</h3>
        </header>
        <div class="section-content">
          <div class="feature-slider">
            <div class="inner-container">
              <div v-swiper:feature="featureOption">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="slide-box">
                      <div class="row gutter-16">
                        <div class="col-12 col-lg-5">
                          <div class="img-box">
                            <img
                              src="@/assets/images/delivery-kitchen/feature_img_01.gif"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="col-12 col-lg-7">
                          <div class="content-box txt-center txt-lg-left">
                            <div class="title-box">
                              <h4>
                                <strong class="txt-primary"
                                  >배달 전문 창업</strong
                                >에 최적화된<br />
                                공유주방을
                                <strong class="txt-primary">나누다키친</strong
                                >에서
                              </h4>
                            </div>
                            <div class="txt-box">
                              <p>
                                어디서 배달 전문 창업을 할지 고민을 할 필요 없이
                                <br />
                                나누다키친에서는 창업에 최적화 된 공간들을
                                <br />쉽게 검색할 수 있고 빠르게 입점할 수
                                있도록 <br />
                                도와드리겠습니다.
                              </p>
                            </div>
                            <div class="btn-box mt-8">
                              <router-link
                                to="/delivery-kitchen"
                                class="btn btn-primary w-30 mk_deliverysharefound_btn"
                                >공유주방 찾기</router-link
                              >
                            </div>
                            <!-- <div class="btn-box mt-8">
                              <button
                                class="btn-txt txt-primary txt-underline"
                                @click="moreRead = !moreRead"
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slide-box">
                      <div class="row gutter-16">
                        <div class="col-12 col-lg-5">
                          <div class="img-box">
                            <img
                              src="@/assets/images/delivery-kitchen/feature_img_02.png"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="col-12 col-lg-7">
                          <div class="content-box txt-center txt-lg-left">
                            <div class="title-box">
                              <h4>
                                음식에만
                                <strong class="txt-primary">집중</strong>하세요
                                <br />
                                <strong class="txt-primary"
                                  >배달 전문 창업</strong
                                >을 빨리 시작할 수<br />
                                있도록 준비 시켜드립니다
                              </h4>
                            </div>
                            <div class="txt-box">
                              <p>
                                음식에만 집중할 수 있도록 배달 전문 창업에
                                <br />꼭 필요한 서비스와 최적의 공간을 제공하고
                                창업 준비를<br />
                                시켜드릴 수 있도록 상담을 진행하고 있습니다.
                              </p>
                            </div>
                            <div class="row-box" v-if="moreRead">
                              <RestaurantProcess />
                            </div>
                 -->
                            <!-- <div class="btn-box mt-8">
                              <button
                                class="btn-txt txt-primary txt-underline"
                                @click="moreRead = !moreRead"
                              >
                                {{ !moreRead ? '더 읽기' : '접기' }}
                              </button>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slide-box">
                      <div class="row gutter-16">
                        <div class="col-12 col-lg-5">
                          <div class="img-box">
                            <img
                              src="@/assets/images/delivery-kitchen/feature_img_03.gif"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="col-12 col-lg-7">
                          <div class="content-box txt-center txt-lg-left">
                            <div class="title-box">
                              <h4>
                                <strong class="txt-primary">데이터</strong>를
                                통해
                                <br />
                                공유주방을 찾아드립니다
                              </h4>
                            </div>
                            <div class="txt-box">
                              <p>
                                나누다키친은 빅데이터를 기반으로<br />
                                창업자들에게 최적의 조건의 상권을 분석하여<br />
                                창업제에게 적합한 공간을 찾아드립니다.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 페이징 -->
                <div class="swiper-pagination"></div>
              </div>
              <!-- 네비게이션 버튼  -->
              <NButton size="large" icon circle class="swiper-button-prev">
                <i class="txt-black icon icon-arrow-angle-left txt-bold"></i>
                <span class="is-blind">이전으로</span>
              </NButton>
              <NButton size="large" icon circle class="swiper-button-next">
                <i class="txt-black icon icon-arrow-angle-right txt-bold"></i>
                <span class="is-blind">다음으로</span>
              </NButton>
            </div>
          </div>
        </div>
      </section>
      <section class="article-section">
        <div id="bestKitchen"></div>
        <div class="inner-container">
          <header class="section-header txt-center">
            <h3>이달의 <strong class="txt-primary">인기 공유주방</strong></h3>
          </header>
          <div class="section-content">
            <SpaceList
              :spaces="deliveryBestSpaces"
              addClass="mk_deliverybestkitchen_btn"
            />
            <!-- <br />
            <header class="section-header txt-center">
              <h3>
                <strong class="txt-primary">{{ deliverySpacesCount }}</strong>
                등록된 모든 공간들을 만나보세요
              </h3>
              <div class="btn-box">
                <NButton
                  color="primary"
                  to="/delivery-spaces"
                  class="w-30"
                  >공유주방 찾기</NButton
                >
              </div>
            </header> -->
          </div>
        </div>
      </section>
      <section class="article-section bg-light">
        <div class="inner-container">
          <header class="section-header txt-left">
            <h3>
              무엇으로 창업할지 고민이세요? <br />
              걱정하지 마세요 <br />
              <strong class="txt-primary">브랜드</strong>만 선택하세요
            </h3>
            <p class="h3_desc">
              무엇으로 배달 전문 창업을 시작할지 모르신다고요? <br />
              걱정하지 마시고 나누다키친과 함께하는 다양한 브랜드들을
              만나보세요.
              <br />
              <button
                class="btn-txt txt-primary txt-underline mk_deliveryrecipestart_btn"
                @click="showMyBrandModal = true"
              >
                나만의 레시피로도 창업할 수 있습니다
              </button>
            </p>
          </header>
          <div class="section-content">
            <div class="food-category-list">
              <div class="category-slider" v-swiper:category="categoryOption">
                <div class="swiper-wrapper">
                  <span
                    v-for="category in foodCategory"
                    :key="category.no"
                    class="swiper-slide checkbox type-button rounded txt-tiny"
                  >
                    <input
                      type="checkbox"
                      :id="`category-${category.no}`"
                      @change="addCategory(category.no)"
                    />
                    <label
                      :for="`category-${category.no}`"
                      class="label-txt bg-gray-300 px-4"
                      ># {{ category.name }}</label
                    >
                  </span>
                </div>
              </div>
            </div>
            <div class="row-box">
              <BrandList
                :brands="brands"
                noLimit
                @click="showBrandInfo"
                addClass="mk_deliverybrandinfo_btn"
              />
            </div>
          </div>
        </div>
      </section>
      <section
        class="article-section txt-center overlay-dark"
        id="middleBanner"
      >
        <div class="inner-container">
          <div class="title-box txt-white">
            <h4>
              <strong>배달 전문 창업</strong>에 대해 <br />
              좀 더 알고 싶으신가요?
            </h4>
          </div>
          <div class="txt-box txt-white">
            <p class="txt-small">
              어떤 공유주방을 선택해야할지, 어떤 브랜드가 적합한지 <br />
              맞춤 컨설팅이 필요하다면 <br />나누다키친이 친절하게
              상담해드리겠습니다
            </p>
          </div>
          <div class="btn-box">
            <NButton
              color="primary"
              @click="toFormPage(2)"
              class="w-30 mk_deliveryapply_btn"
              >입점 문의하기</NButton
            >
          </div>
        </div>
      </section>
      <!-- <section class="article-section bg-light" id="bottomBanner">
        <div class="inner-container">
          <div class="title-box txt-left">
            <h4 class="txt-black">
              <strong class="txt-primary">나누다키친</strong>과 함께<br />배달
              전문 창업을 시작할<br />준비가 되셨습니까?
            </h4>
          </div>
          <div class="btn-box">
            <router-link
              to="/delivery-kitchen/map"
              class="btn-txt txt-primary txt-underline"
              >나한테 맞는 공간 찾아보기</router-link
            >
          </div>
        </div>
      </section> -->
    </article>
    <!-- 브랜드 상세 모달 레이어 -->
    <BrandModal
      :visible="showBrandModal"
      @close="closeBrandModal"
      :brandInfo="brandInfo"
      :menuInfo="menuInfo"
    />
    <!-- 마이 브랜드 모달 -->
    <Modal
      noBtn="닫기"
      :visible="showMyBrandModal"
      @close="showMyBrandModal = false"
    >
      <div class="txt-center">
        <p>
          나만의 특별한 레시피로 창업할 수 있도록 상권선정과 운영노하우를 상담해
          드립니다.
        </p>
        <br />
        <NButton
          color="primary"
          block
          @click="toFormPage(1)"
          class="mk_deliveryrecipe_apply_btn"
          >창업 문의하기</NButton
        >
      </div>
    </Modal>
  </main>
</template>
<script>
import SpaceList from '@/components/Main/SpaceList'; // 공간 리스트
import SearchDeliverySpace from '@/components/DeliveryKitchen/SearchDeliverySpace';
import RestaurantProcess from '@/components/RestaurantKitchen/RestaurantProcess';
import { brandInfo } from '@/assets/mixins/brandInfo';
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤 이베트
export default {
  mixins: [brandInfo, infoAppRequest, handleScroll],
  components: {
    SearchDeliverySpace,
    RestaurantProcess,
    SpaceList,
  },
  async asyncData(context) {
    let deliveryBestSpaces = await context.$axios.get(
      '/bestSpace/deliverySpaces',
    );
    let deliverySpacesCount = await context.$axios.get(
      '/deliverySpace/getCount',
    );
    return {
      deliveryBestSpaces: deliveryBestSpaces.data,
      deliverySpacesCount: deliverySpacesCount.data,
    };
  },
  head() {
    return {
      titie: '나누다키친 배달 공유주방 창업',
      meta: [
        {
          hid: 'og:title',
          name: 'og:title',
          property: 'og:title',
          content: '나누다키친 배달 공유주방 창업',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          property: 'og:url',
          content: 'https://nanudakitchen.com/delivery-kitchen',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          property: 'og:description',
          content:
            '배달 창업 성공의 시작은 최적화된 주방에서부터 원하는 지역의 공유주방을 찾아보세요',
        },
        {
          hid: 'og:image',
          name: 'og:image',
          property: 'og:image',
          content: '/meta_delivery.png',
        },
      ],
    };
  },
  data() {
    return {
      showMyBrandModal: false,
      moreRead: false,
      categoryOption: {
        loop: false,
        cssWidthAndHeight: true,
        slidesPerView: 'auto',
        freeMode: true,
        spaceBetween: 0,
        grabCursor: true,
      },
      featureOption: {
        loop: true,
        autoHeight: true,
        slidesPerView: 1,
        centeredSlides: true,
        freeMode: false,
        spaceBetween: 0,
        grabCursor: true,
        navigation: {
          nextEl: '.feature-slider .swiper-button-next ',
          prevEl: '.feature-slider .swiper-button-prev',
        },
        pagination: {
          el: '.feature-slider .swiper-pagination',
          clickable: true,
        },
      },
      foodCategory: [
        {
          no: 1,
          name: '한식',
        },
        {
          no: 4,
          name: '양식',
        },
        {
          no: 3,
          name: '일식',
        },
        {
          no: 9,
          name: '분식',
        },
        {
          no: 16,
          name: '도시락',
        },
        {
          no: 15,
          name: '기타',
        },
      ],
      brands: [],
      categoryNos: [],
    };
  },
  methods: {
    addCategory(categoryNo) {
      if (this.categoryNos.includes(parseInt(categoryNo))) {
        const index = this.categoryNos.indexOf(parseInt(categoryNo));
        if (index > -1) {
          this.categoryNos.splice(index, 1);
        }
      } else {
        this.categoryNos.unshift(parseInt(categoryNo));
      }
      this.getBrands();
    },
    getBrands() {
      this.$axios
        .$get('/brand/category', {
          params: {
            CATEGORY_NOS: this.categoryNos,
          },
        })
        .then((res) => {
          if (res) {
            this.brands = res;
          }
        });
    },
  },
  created() {
    this.getBrands();
  },
  mounted() {
    this.$nextTick(() => {
      const el = document.getElementById(this.$route.hash);
      el && el.scrollIntoView();
    });
  },
};
</script>
<style lang="scss" scoped>
#deliveryKitchen {
  #bestKitchen {
    position: absolute;
    top: -6rem;
    height: 6rem;
  }
  .main-article {
    .article-header {
      position: relative;
      padding: 8em 0 4.5em;
      background: url('~assets/images/delivery-kitchen/bg_top_visual.jpg')
        no-repeat center center;
      background-size: cover;
      @include darkOverlay();

      .inner-container {
        .title-box {
          h2 {
            font-weight: $txt-bold;
            color: $white;
          }
          p {
            margin-top: 0.5em;
            color: $white;
          }
        }
      }
    }
  }
  .matching-process-step-list {
    ol {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .matching-process-step-list-item {
        position: relative;
        text-align: center;
        margin: 0.5em 0;

        &:nth-child(3n + 1) {
          .icon-box {
            &:before {
              display: none;
            }
          }
        }

        &:last-child {
          .icon-box {
            img {
              transform: scale(1.5);
            }
          }
        }

        .icon-box {
          position: relative;
          width: 100%;
          margin: 0 auto;

          img {
            position: relative;
            min-width: 3.75em;
            width: 50%;
            background-color: $white;
            z-index: 2;
          }

          &:before {
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            content: '';
            width: inherit;
            height: 0.25em;
            background-color: $black;
          }
        }
        .txt-box {
          position: relative;
          margin-top: 0;
          z-index: 3;
          .step-num {
            font-size: $txt-mini;
            font-weight: $txt-bolder;
            color: $black;
            strong {
              font-weight: $txt-bolder;
              color: $primary;
            }
          }
          p {
            margin-top: 1em;
            font-size: $txt-small;
            color: $black;
          }
        }
      }
    }
  }
  .category-slider {
    .swiper-slide {
      width: auto;
    }
  }
  .feature-slider {
    .inner-container {
      position: relative;
    }
    .img-box {
      text-align: center;
      // img {
      //   max-height: 18em;
      // }
    }
    .content-box {
      h4 {
        color: $black;
      }
      // p {
      // }
    }
    .swiper-slide {
      .row {
        flex-direction: row-reverse;
      }
    }
    .swiper-button-prev {
      left: -2.5em;
    }
    .swiper-button-next {
      right: -2.5em;
    }
    .swiper-pagination {
      position: static;
      margin-top: 1em;
    }
  }
  #middleBanner {
    background: url('~assets/images/delivery-kitchen/bg_inquiry_banner.jpg')
      no-repeat center top;
    background-size: cover;
    .inner-container {
      position: relative;
      z-index: 2;
    }
  }
  #bottomBanner {
    .inner-container {
      position: relative;
      padding-left: 10em;
      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 4em;
        bottom: -2em;
        width: 5em;
        height: 12.5em;
        background: url('~assets/images/common/nnd_man_02.png') no-repeat bottom
          left;
        background-size: 5em 12.5em;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .feature-slider {
      padding: 0 3em;
    }
  }
}
</style>
