<template>
  <div>
    <!-- <CardWithTitle title="계정상태">
      <v-row justify="space-between" align="center">
        <span class="body-1">계정 사용 가능 여부</span>
        <ToggleBtn
          :isActivated="isActivated"
          @activate="onActivateUser"
          :isLoading="loading.toggleBtn"
        />
      </v-row>
    </CardWithTitle>-->
    <v-row align="stretch" justify="space-around">
      <v-col cols="12" lg="6">
        <CardWithTitle title="기본 정보">
          <div
            class="d-flex flex-column justify-items-space-around"
            style="height: 100%;"
          >
            <v-form>
              <v-text-field
                label="UID"
                v-model="$route.params.uid"
                disabled
              ></v-text-field>
              <v-text-field
                v-model="userName"
                label="이름"
                :rules="[required]"
                :loading="loading.userName"
                :success-messages="success.userName"
                :error-messages="error.userName"
                @change="changeInfo('userName', 'NAME', routerUrl)"
              ></v-text-field>
              <v-text-field
                label="휴대폰번호"
                v-model="formatedPhoneNum"
                disabled
              ></v-text-field>
              <div v-if="lastLoginAt">
                <span class="caption grey--text text--darken-1"
                  >마지막 로그인 시간</span
                >
                <p>{{ lastLoginAt }}</p>
              </div>
            </v-form>
          </div>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="등록한 공간과 대여 조건"
          :headers="spaceHeaders"
          :items="spaceData"
          page="spaces"
        />
      </v-col>
    </v-row>

    <!-- <CardWithTitle title="사용자 선택 약관">
      <v-row justify="space-between" align="center">
        <v-btn color="orange" light>사용자 선택 약관 보기</v-btn>
        <v-checkbox label="동의합니다" color="orange"></v-checkbox>
      </v-row>
    </CardWithTitle>-->
    <v-row align="stretch" justify="space-around">
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="신청한 방문 상담"
          :headers="spaceConsultHeaders"
          :items="spaceConsultData"
          page="space-meetings"
        />
      </v-col>
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="신청한 상품 상담"
          :headers="planConsultHeaders"
          :items="planConsultData"
          page="plan-meetings"
        />
      </v-col>
    </v-row>
    <v-row align="stretch" justify="space-around">
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="공간 계약"
          :headers="spaceContractHeaders"
          :items="spaceContractData"
          page="space-contracts"
        />
      </v-col>
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="창업 계약"
          :headers="founderContractHeaders"
          :items="founderContractData"
          page="founder-contracts"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import TableWithTitle from '@/components/Admin/TableWithTitle';
import { validations } from '@/assets/mixins/validations';
import { changeInfo } from '@/assets/mixins/changeInfo';
import { formatPhoneNum } from '@/assets/utils/common';
export default {
  layout: 'admin',
  components: { TableWithTitle },
  mixins: [changeInfo, validations],
  data: () => {
    return {
      spaceHeaders: [
        {
          text: 'UID',
          value: 'NO',
          sortable: false,
        },
        {
          text: '이름',
          value: 'NAME',
          sortable: false,
        },
        {
          text: '희망 대여 가격',
          value: 'RENTAL_FEE',
          sortable: false,
        },
        {
          text: '희망 대여 시작일',
          value: 'RENTAL_START_DATE',
          sortable: false,
        },
        {
          text: '희망 대여 종료일',
          value: 'RENTAL_END_DATE',
          sortable: false,
        },
      ],
      spaceContractHeaders: [
        {
          text: 'UID',
          value: 'NO',
          sortable: false,
        },
        {
          text: '공간이름',
          value: 'SPACE.NAME',
          sortable: false,
        },
        {
          text: '시작일',
          value: 'S_START_DATE',
          sortable: false,
        },
        {
          text: '종료일',
          value: 'S_END_DATE',
          sortable: false,
        },
      ],
      spaceConsultHeaders: [
        {
          text: 'UID',
          value: 'NO',
          sortable: false,
        },
        {
          text: '공간이름',
          value: 'SPACE.NAME',
          sortable: false,
        },
        {
          text: '상담일',
          value: 'CONFIRM_DATE',
          sortable: false,
        },
      ],
      planConsultHeaders: [
        {
          text: 'UID',
          value: 'NO',
          sortable: false,
        },
        {
          text: '상품이름',
          value: 'PRODUCT.NAME',
          sortable: false,
        },
        {
          text: '상담일',
          value: 'CONFIRM_DATE',
          sortable: false,
        },
      ],
      founderContractHeaders: [
        {
          text: 'UID',
          value: 'NO',
          sortable: false,
        },
        {
          text: '공간이름',
          value: 'SPACE.NAME',
          sortable: false,
        },
        {
          text: '상품이름',
          value: 'PRODUCT.NAME',
          sortable: false,
        },
        {
          text: '시작일',
          value: 'C_START_DATE',
          sortable: false,
        },
        {
          text: '종료일',
          value: 'C_END_DATE',
          sortable: false,
        },
      ],
      routerUrl: '/userAdmin/',
    };
  },

  methods: {
    onActivateUser() {
      this.isActivated = !this.isActivated;
    },
  },
  asyncData(context) {
    return context.$axios
      .$get('/userAdmin/' + context.route.params.uid)
      .then((res) => {
        return {
          uid: res.NO,
          userName: res.NAME,
          phoneNumber: res.PHONE,
          isActivated: res.DEL_YN,
          spaceData: res.SPACE,
          spaceContractData: res.SPACE_CONTRACT_MANAGER,
          spaceConsultData: res.FOUNDER_CONSULT,
          planConsultData: res.PRODUCT_CONSULT,
          founderContractData: res.CHANGUP_CONTRACT_MANAGER,
          lastLoginAt: res.LAST_LOGIN_AT,
        };
      })
      .catch((e) => console.log(e));
  },
  computed: {
    formatedPhoneNum() {
      return formatPhoneNum(this.phoneNumber);
    },
  },
};
</script>

<style></style>
