<template>
  <main class="main-wrapper" id="brandDetail" v-if="brand">
    <header class="main-header txt-center is-blind">
      <h1>브랜드 상세</h1>
    </header>
    <article class="main-article">
      <header class="article-header">
        <div class="bg-layer">
          <span
            class="ani-bg-scale"
            v-if="brand.MAIN_BANNER && brand.MAIN_BANNER.length > 0"
            :style="{
              'background-image': 'url(' + brand.MAIN_BANNER[0].endpoint + ')',
            }"
          >
          </span>
        </div>
        <div class="inner-container">
          <div class="title-box">
            <span class="title-eng">{{ brand.NAME_ENG }}</span>
            <h2 class="title">
              {{ brand.NAME_KR }}
            </h2>
          </div>
          <div class="btn-box txt-center mt-8">
            <NButton
              size="medium"
              color="outline-white"
              class="w-25"
              @click="toFormPage(1, brand.NO)"
              >창업 문의</NButton
            >
          </div>
        </div>
      </header>
      <section class="article-section" id="brandStory">
        <div class="inner-container">
          <div class="row">
            <div class="col col-4">
              <header class="section-header">
                <div class="title-box">
                  <span class="title-eng">Brand Story</span>
                  <h3>
                    브랜드 소개
                  </h3>
                </div>
                <div class="txt-box">
                  <p class="txt-small">
                    {{ brand.DESC }}
                  </p>
                </div>
              </header>
            </div>
            <div class="col col-8">
              <div class="row gutter-16">
                <div
                  class="col col-6"
                  v-if="brand.LOGO && brand.LOGO[0].endpoint"
                >
                  <img :src="brand.LOGO[0].endpoint" alt="" class="border" />
                </div>
                <div
                  class="col col-6"
                  v-if="brand.MAIN_MENU_IMAGE && brand.MAIN_MENU_IMAGE[0]"
                >
                  <img
                    :src="brand.MAIN_MENU_IMAGE[0].endpoint"
                    alt=""
                    class="border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="article-section py-0">
        <div class="row no-gutters">
          <button
            @click="toFormPage(1, brand.NO)"
            class="col col-6 d-flex align-items-center justify-content-center h-30 bg-black"
            id="middleBannerLeft"
          >
            <p class="txt-white txt-large">창업 문의</p>
          </button>
          <router-link
            to="/start-your-business/event/1"
            class="col col-6 d-flex align-items-center justify-content-center h-30 bg-gray-800"
            id="middleBannerRight"
          >
            <p class="txt-white txt-large">창업 설명회</p>
          </router-link>
        </div>
      </section>
      <section
        class="article-section"
        id="brandMenu"
        v-if="menuList && menuList.length > 0"
      >
        <div class="inner-container">
          <header class="section-header txt-center txt-black">
            <span class="title-eng">Menu</span>
            <h3>
              메뉴 소개
            </h3>
          </header>
          <div class="section-content">
            <div class="row">
              <div
                class="col col-4 mb-4"
                v-for="menu in menuList"
                :key="menu.no"
              >
                <div>
                  <div class="img-box txt-center">
                    <img
                      v-lazy="menu.IMAGES[0].endpoint"
                      :alt="menu.NAME_KR"
                      v-if="menu.IMAGES && menu.IMAGES.length > 0"
                    />
                    <img
                      v-lazy="require('@/assets/images/common/no_img.png')"
                      alt=""
                      v-else
                    />
                  </div>
                  <div class="txt-box txt-center">
                    <h4 class="txt-large txt-black">{{ menu.NAME_KR }}</h4>
                    <p class="txt-small mt-2" v-html="menu.DESC">
                      {{ menu.DESC }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="article-section bg-light">
        <div class="inner-container">
          <div class="row">
            <div class="col col-4">
              <header class="section-header">
                <div class="title-box">
                  <span class="title-eng">Brand Store</span>
                  <h3>
                    운영 매장 소개
                  </h3>
                </div>
                <div class="txt-box">
                  <p class="txt-small">
                    {{ brand.NAME_KR }} 브랜드로 운영중인 <br />
                    매장을 소개 해드립니다
                  </p>
                </div>
              </header>
            </div>
            <div class="col col-8">
              <div class="row gutter-16">
                <div class="col col-6">
                  <img
                    src="@/assets/images/dummy/brand_curryboy_01.jpg"
                    alt=""
                    class="border"
                  />
                </div>
                <div class="col col-6">
                  <img
                    src="@/assets/images/dummy/brand_curryboy_02.jpg"
                    alt=""
                    class="border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="article-section bg-gray-800 txt-center" id="bottomBanner">
        <div class="inner-container">
          <header class="section-header">
            <div class="title-box">
              <span class="title-eng txt-white">Franchise</span>
              <h3>
                <span class="txt-white">
                  체계적인 시스템과 노하우로 <br />
                  성공적인 창업을 지원하는 나누다키친
                </span>
              </h3>
            </div>
          </header>
          <div class="section-content txt-white">
            <div class="txt-box">
              <p>
                공유주방에 특화된 브랜드 찾고 교육 그리고 오픈까지
                <br />
                나누다키친에서는 체계적인 시스템과 노하우로
                <br />성공적인 창업을 지원합니다
              </p>
            </div>
            <div class="btn-box txt-center mt-8">
              <NButton size="medium" color="outline-white" class="w-25"
                >창업 문의</NButton
              >
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
</template>
<script>
import { infoAppRequest } from '@/assets/mixins/infoAppRequest';
export default {
  mixins: [infoAppRequest],
  async asyncData(context) {
    let brand = await context.$axios.$get(
      `/brand/detail/${context.route.params.path}`,
    );
    let menu = await context.$axios.$get('/menu', {
      params: {
        NO: brand.NO,
        limit: 12,
      },
    });

    return {
      brand: brand,
      menuList: menu.rows,
    };
  },
};
</script>
<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
#brandDetail {
  .article-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    @include darkOverlay();
    &:before {
      z-index: 1;
      opacity: 0.35;
    }

    &:after {
      display: block;
      content: '';
      width: 1px;
      height: 4em;
      background-color: $white;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 2;
    }

    .inner-container {
      position: relative;
      z-index: 2;
      .title-box {
        text-align: center;
        .title-eng {
          color: $white;
          letter-spacing: 0.2em;
        }
        .title {
          font-size: 7rem;
          color: $white;
        }
      }
    }
  }
  .section-header {
    .title-box {
      // &:after {
      //   display: block;
      //   content: '';
      //   width: 2em;
      //   height: 1px;
      //   background-color: $black;
      //   margin-top: 1em;
      // }
    }
  }
  .title-eng {
    font-family: 'Volkhov', cursive;
  }

  #bottomBanner {
    background: url('~assets/images/brands/bg_brand_detail_bottom_visual.jpg')
      no-repeat center center;
    background-size: cover;
    @include darkOverlay();
    .inner-container {
      position: relative;
      z-index: 2;
    }
  }
}
</style>
