<template>
  <div>
    <div class="d-lg-none">
      <div class="history-wrapper">
        <dl
          v-for="(history, index) in histories"
          :key="index"
          :class="{ 'is-active': history.active }"
        >
          <dt @click="expand($event, index)">
            <span class="year">{{ history.year }}</span>
            <NButton
              size="tiny"
              class="btn btn-icon"
              circle
              bgColor="transparent"
            >
              <i class="icon icon-arrow-angle-down"></i>
              <span class="is-blind">더보기</span>
            </NButton>
          </dt>
          <dd :ref="'accordion-body-' + index">
            <ul class="u-list">
              <li v-for="item in history.items" :key="item.month">
                <span class="month">{{ item.month }}</span>
                <p
                  v-for="(content, index) in item.contents"
                  :key="index"
                  v-html="content.text"
                >
                  {{ content.text }}
                </p>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <div class="history-wrapper">
        <dl
          v-for="(history, index) in histories"
          :key="index"
          :id="`history${index + 1}`"
        >
          <dt @click="expand($event, index)">
            <span class="year">{{ history.year }}</span>
          </dt>
          <dd :ref="'accordion-body-' + index">
            <ul class="u-list">
              <li v-for="item in history.items" :key="item.month">
                <span class="month">{{ item.month }}</span>
                <p
                  v-for="(content, index) in item.contents"
                  :key="index"
                  v-html="content.text"
                >
                  {{ content.text }}
                </p>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      histories: [
        {
          active: false,
          year: '2017',
          items: [
            {
              month: '05',
              contents: [{ text: '쉐어스토어플랫폼 “나누다키친” 브랜드 런칭' }],
            },
            {
              month: '10',
              contents: [{ text: 'SEED 투자 유치(3.5억원)' }],
            },
            {
              month: '11',
              contents: [
                { text: '<strong>벤처기업인증 (중소기업진흥공단)</strong>' },
                {
                  text:
                    '공유경제플랫폼(주거) 스타트업 “쉐어하우스우주”와 MOU 체결',
                },
              ],
            },
          ],
        },
        {
          active: false,
          year: '2018',
          items: [
            {
              month: '03',
              contents: [
                { text: '㈜장진우와 레시피개발 MOU 체결' },
                { text: '나누다키친 온라인 플랫폼 서비스(Web) 런칭' },
                { text: '위대한상사1호 엔젤투자조합 결성 및 투자유치(1억원)' },
              ],
            },
            {
              month: '04',
              contents: [
                {
                  text: '<strong>서울시 다문화가정지원센터와 MOU 체결</strong>',
                },
              ],
            },
            {
              month: '05',
              contents: [
                {
                  text:
                    '㈜장진우와 레시피개발 MOU체결 및 “나누다카레”브랜드 런칭',
                },
              ],
            },
            {
              month: '06',
              contents: [
                {
                  text:
                    'KEB하나은행과 나누다키친 창업자대상 대출상품 서비스 런칭',
                },
                {
                  text:
                    '신용보증기금 4.0 스타트업 보증프로그램 선정 <br>(4차산업혁명선도 온디멘드분야 선도기업/ 3년간 최대 30억 보증)',
                },
              ],
            },
            {
              month: '07',
              contents: [
                { text: '서울시 주최 엑스트라마일 엑셀러레이션(EMA) 1기 선정' },
                { text: 'BC카드-나누다키친 빅데이터 상권 분석 MOU 체결' },
              ],
            },
            {
              month: '10',
              contents: [
                {
                  text:
                    '<strong>SK그룹 사회성과인센티브(SPC) 프로젝트 참여기업 선정</strong>',
                },
              ],
            },
            {
              month: '11',
              contents: [
                {
                  text:
                    '<strong>SVCA(아시아소셜벤쳐경진대회) 동북아 라운드 대상</strong>',
                },
              ],
            },
            {
              month: '12',
              contents: [
                {
                  text:
                    'P2P금융플랫폼기업 "렌딧"과 공유경제 발전을 위한 MOU 체결',
                },
              ],
            },
          ],
        },
        {
          active: false,
          year: '2019',
          items: [
            {
              month: '02',
              contents: [
                {
                  text:
                    '서울시 먹거리창업센터 제5차 입주기업으로 선정 (R&D연구소 설립)',
                },
                { text: 'F&B 프랜차이즈 기업 모던키친컴퍼니와 MOU 체결' },
              ],
            },
            {
              month: '03',
              contents: [
                {
                  text: '신규 레시피 브랜드 “500도씨 제육” 런칭',
                },
                {
                  text:
                    'F&B 프랜차이즈 기업 ㈜미담제작소, 청년장사꾼과 MOU 체결 ',
                },
              ],
            },
            {
              month: '04',
              contents: [
                {
                  text:
                    '<strong>서울시50플러스재단과 중장년층 일자리 창출을 위한 MOU 체결</strong>',
                },
              ],
            },
            {
              month: '05',
              contents: [
                {
                  text: '<strong>KB금융지주 One firm 파트너십 체결</strong>',
                },
                {
                  text:
                    '서울시50플러스재단 <br><없던창업프로젝트> 사업설명회 파트너사 선정',
                },
              ],
            },
            {
              month: '06',
              contents: [
                {
                  text:
                    '<strong>서울시 2019 청년프로젝트 민간보조사업자 협약 체결</strong>',
                },
                { text: '<strong>2019 서울형 강소기업 선정</strong>' },
                {
                  text:
                    '<strong>한국디자인진흥원 2019년 디자인주도 사회적기업 선정</strong>',
                },
                {
                  text:
                    '<strong>SK행복나래재단 상품경쟁력강화사업(서비스) 지원기업 선정</strong>',
                },
              ],
            },
            {
              month: '07',
              contents: [
                { text: '50호 창업계약(오픈예정점포) 달성' },
                {
                  text:
                    '한국디자인진흥원 2019년 디자인주도 사회적기업 혁신역량강화사업 협약체결',
                },
                { text: '2019 일생활균형 서울형 강소기업 인증' },
                {
                  text: '월드전람 주최 제52회 프랜차이즈 창업박람회 2019 참가',
                },
              ],
            },
            {
              month: '08',
              contents: [
                { text: '서울시 소셜벤처허브센터 입주' },
                { text: 'KB국민카드 <Future 9> 기업 선정' },
                { text: '신규 레시피 브랜드 “나누다키친 중식뷔페” 런칭' },
                { text: '나누다키친 레시피연구소 개소, 배달전문 직영점 오픈' },
              ],
            },
            {
              month: '09',
              contents: [
                { text: '시리즈A 투자 유치 (23억원)' },
                { text: '서울시 공유기업 인증' },
              ],
            },
            {
              month: '10',
              contents: [
                {
                  text: '나누다키친 창업설명회 첫 개최',
                },
              ],
            },
            {
              month: '11',
              contents: [
                {
                  text: '김유구 대표, 청년기업인상 (벤처유공포상) 수상',
                },
              ],
            },
          ],
        },
        {
          active: false,
          year: '2020',
          items: [
            {
              month: '01',
              contents: [
                {
                  text:
                    '제주 소셜벤처 코워킹 스페이스 &#39;낭그늘&#39; 인큐베이팅 2기 선정',
                },
                { text: 'F&B 프랜차이즈 기업 ㈜에땅과 MOU체결' },
              ],
            },
            {
              month: '02',
              contents: [
                {
                  text: '직영형 공유주방 - NND 나누다키친 공유식당 1호점 오픈',
                },
              ],
            },
            {
              month: '04',
              contents: [
                {
                  text: '빅데이터 기반의 공유주방 창업매칭 플랫폼 서비스 출시',
                },
                {
                  text: '공유주방 전용 종합배상책임보험 출시 (KB손해보험 협업)',
                },
              ],
            },
            {
              month: '05',
              contents: [
                {
                  text:
                    '제주 소셜벤처 코워킹 스페이스 &#39;낭그늘&#39; 엑셀러레이팅 2기 선정',
                },
              ],
            },
            {
              month: '06',
              contents: [
                {
                  text:
                    'CJ그룹 스타트업 상생 프로그램 &#39;오벤터스 2기&#39; 선정',
                },
                {
                  text:
                    '공유주방 브랜드 개러지키친, 고스트키친, 먼슬리키친, 모두의주방과 MOU 체결',
                },
              ],
            },
            // {
            //   month: '07',
            //   contents: [
            //     {
            //       text: '배달형 공유주방 스타트업 "이츠이츠" 인수합병',
            //     },
            //   ],
            // },
            {
              month: '08',
              contents: [
                {
                  text: '임대형 공유주방 호텔 콜라보 모델 "NND 다동1호점" 오픈',
                },
              ],
            },
            {
              month: '09',
              contents: [
                {
                  text:
                    '제주 최초 배달형 공유주방 "NND 딜리버리 제주1호점" 오픈',
                },
              ],
            },
            {
              month: '11',
              contents: [
                {
                  text:
                    '과학기술정보통신부 정보통신기술(ICT) 규제샌드박스 실증특례기업 선정',
                },
              ],
            },
            {
              month: '12',
              contents: [
                {
                  text: 'CJ프레시웨이와 MOU 체결',
                },
              ],
            },
          ],
        },
        {
          active: true,
          year: '2021',
          items: [
            {
              month: '01',
              contents: [
                {
                  text:
                    'KB국민은행과 ‘공유주방 창업자 전용’ 금융 지원 상품 론칭',
                },
              ],
            },
            {
              month: '02',
              contents: [
                {
                  text: '세스코와 ‘공유주방 전용 위생관리 상품’ 개발 MOU 체결',
                },
              ],
            },
            {
              month: '04',
              contents: [
                {
                  text:
                    '중소벤처기업부 소상공인시장진흥공단 시행 ‘공유주방 인큐베이팅’ 사업 주관기관 선정',
                },
              ],
            },
            {
              month: '05',
              contents: [
                {
                  text: '‘혁신기업 국가대표 1000’ 선정',
                },
              ],
            },
          ],
        },
      ],
    };
  },
  methods: {
    expand(e, i) {
      let el = this.$refs['accordion-body-' + i][0];

      if (this.histories[i].active === false) {
        this.histories[i].active = true;
      } else {
        this.histories[i].active = false;
      }
    },
  },
};
</script>
<style lang="scss">
.history-wrapper {
  // display: flex;
  // flex-direction: column-reverse;
  position: relative;

  dl {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: $white;
    border-radius: $border-radius-sm;
    margin-top: 1em;

    &.is-active {
      border: 1px solid $black;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
      dt {
        .btn-icon {
          transform: rotate(180deg);
          .icon {
            color: $black;
            font-weight: $txt-bold;
          }
        }
      }
      dd {
        display: block;
      }
    }

    dt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      padding: 1em 1em;
      cursor: pointer;
      .year {
        font-size: $txt-large;
        font-weight: $txt-bolder;
        color: $black;
      }

      .btn-icon {
        transform: rotate(0);
        transition: all 0.4s ease;
      }
    }
    dd {
      display: none;
      text-align: left;
      padding: 1em 1em;
      border-top: 1px solid $border-color;

      .u-list {
        li {
          position: relative;
          padding: 0;
          &:before {
            display: none;
          }
          .month {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 2em;
            color: $black;
            font-size: $txt-medium;
            font-weight: $txt-bold;
            text-align: center;
            line-height: 1.6;
          }
          p {
            margin-left: 3em;
            margin-right: auto;
            font-size: $txt-tiny;
            strong {
              color: $black;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 1025px) {
    &:after {
      display: block;
      clear: both;
      content: '';
      width: 2px;
      background: $border-color;
      left: 50%;
      position: absolute;
      margin-left: -1px;
      top: 1em;
      bottom: 1em;
      z-index: 1;
    }
    dl {
      background-color: transparent;
      margin: 2.5em 0;
      overflow: visible;
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      dt {
        position: relative;
        display: block;
        float: left;
        width: calc(50% - 2em);
        text-align: right;
        padding: 0;
        margin-right: 2em;
        .year {
          font-size: $txt-huge;
          color: $black;
          // opacity: 0.5;
        }
        &:before {
          position: absolute;
          right: -2.5em;
          top: 0.5em;
          display: block;
          content: '';
          width: 1em;
          height: 1em;
          border-radius: 50%;
          border: 0.25em solid $primary;
          background-color: $light;
        }
      }
      dd {
        position: relative;
        display: block !important;
        float: right;
        width: calc(50% - 2em);
        // background-color: $white;
        border: 0;
        border-radius: $border-radius-sm;
        margin-left: 2em;
        padding: 0;
        // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

        // &:before {
        //   display: block;
        //   content: '';
        //   position: absolute;
        //   top: 0.5em;
        //   left: -0.25em;
        //   width: 1em;
        //   height: 1em;
        //   transform: rotate(45deg);
        //   background-color: $white;
        //   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        //   z-index: 1;
        // }

        .u-list {
          position: relative;
          padding: 0.5em 0;
          z-index: 2;
          // background: $white;
          li {
            + li {
              margin-top: 1em;
            }
            .month {
              display: inline-block;
              position: absolute;
              top: 0;
              right: 0;
              width: 2em;
              color: $black;
              font-size: $txt-small;
              font-weight: $txt-bold;
              text-align: center;
              line-height: 1;
            }
            p {
              margin-left: 3em;
              margin-right: 0;
              // font-size: $txt-mini;
              line-height: 1.2;
              + p {
                margin-top: 0.5em;
              }
              strong {
                color: $black;
              }
            }
          }
        }
      }
      &:nth-child(odd) {
        dt {
          float: right;
          text-align: left;
          margin-right: auto;
          margin-left: 2em;
          &:before {
            right: auto;
            left: -2.5em;
          }
        }
        dd {
          float: left;
          text-align: right;
          margin-right: 2em;
          margin-left: auto;

          &:before {
            left: auto;
            right: -0.25em;
          }
          .u-list {
            li {
              .month {
                left: auto;
                right: 0;
              }
              p {
                margin-left: 0;
                margin-right: 3em;
              }
            }
          }
        }
      }
    }
  }
}
</style>
