<template>
  <div class="partner-list">
    <div class="row gutter-8">
      <div class="col-4 col-md-2">
        <img src="@/assets/images/common/partner_kb.png" alt="KB금융지주" />
      </div>
      <div class="col-4 col-md-2">
        <img src="@/assets/images/common/partner_seoul.png" alt="서울특별시" />
      </div>
      <div class="col-4 col-md-2">
        <img src="@/assets/images/common/partner_sk.png" alt="SK" />
      </div>
      <div class="col-4 col-md-2">
        <img src="@/assets/images/common/partner_ibk.png" alt="IBK 기업은행" />
      </div>
      <div class="col-4 col-md-2">
        <img
          src="@/assets/images/common/partner_intervalue.png"
          alt="INTER VALUE"
        />
      </div>
      <div class="col-4 col-md-2">
        <img src="@/assets/images/common/partner_cj.png" alt="CJ" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.partner-list {
  text-align: center;
  padding: 0.5em;

  img {
    width: 100%;
    max-width: 100%;
  }
}
</style>
