<template>
  <div>
    <v-dialog v-model="imageDialog" max-width="1000">
      <v-carousel height="700" :value="imageIndex">
        <v-carousel-item
          v-for="(item, i) in images"
          :key="i"
          :src="`${baseUrl}/${item.FILE_PATH}`"
          contain
          style="background-color: white;"
        ></v-carousel-item>
      </v-carousel>
    </v-dialog>
    <CardWithTitle title="공간 사진">
      <v-row>
        <v-col cols="12" lg="6">
          <p>메인 이미지(1개)</p>
          <v-row no-gutters>
            <v-col cols="12">
              <client-only>
                <AdminFileUpload
                  @updateImages="onUpdateImages"
                  :uid="uid"
                  category="MAIN_SPACE"
                ></AdminFileUpload>
              </client-only>
            </v-col>
            <v-col cols="12">
              <ImageList
                :images="mainImages"
                :baseUrl="baseUrl"
                @delete="deleteImage"
                @click="onImageClicked"
              ></ImageList>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" lg="6">
          <p>건물 내부사진</p>
          <v-row no-gutters>
            <v-col cols="12">
              <client-only>
                <AdminFileUpload
                  @updateImages="onUpdateImages"
                  :uid="uid"
                  category="I_SPACE"
                ></AdminFileUpload>
              </client-only>
            </v-col>
            <v-col cols="12">
              <ImageList
                :images="insideImages"
                :baseUrl="baseUrl"
                @delete="deleteImage"
                @click="onImageClicked"
              ></ImageList>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </CardWithTitle>
    <v-row align="start" justify="space-around">
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="공간주 정보"
          :headers="userHeaders"
          :items="[user]"
          page="users"
          hideFooter
          :disableLink="userType === 'normal' ? false : true"
        >
          <template v-slot:top>
            <SMSBtnAndDialog
              :adminPhoneNum="loginedUser.PHONE"
              :userPhoneNumb="user.PHONE"
            ></SMSBtnAndDialog
          ></template>
        </TableWithTitle>
        <div v-if="user.NO === '비회원'">
          <v-alert type="warning">비회원 입니다</v-alert>
        </div>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="문의사항">
          <v-textarea
            label="문의 사항"
            filled
            auto-grow
            v-model="etc"
            :loading="loading.etc"
            :success-messages="success.etc"
            :error-messages="error.etc"
            @blur="changeInfo('etc', 'ETC', routerUrl)"
          ></v-textarea>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" lg="6">
        <CardWithTitle title="공간 정보">
          <v-row>
            <v-col cols="6">
              <client-only>
                <vue-daum-map
                  :appKey="appKey"
                  :center="coords"
                  :level.sync="level"
                  :libraries="libraries"
                  @load="onAdminLoad"
                  style="width: 100%; height: 350px;"
                  class="mb-5"
                />
              </client-only>
              <div class="text-center">
                <v-btn
                  :href="`https://map.kakao.com/link/map/${spaceName},${coords.lat},${coords.lng}`"
                  target="_blank"
                >
                  <v-icon>mdi-open-in-new</v-icon>
                  <span class="ml-2">크게보기</span>
                </v-btn>
              </div>
            </v-col>
            <v-col cols="6">
              <v-text-field label="UID" v-model="uid" disabled></v-text-field>
              <v-spacer></v-spacer>
              <v-text-field
                label="점포명"
                :rules="[required]"
                v-model="spaceName"
                @blur="changeInfo('spaceName', 'NAME', routerUrl)"
                :loading="loading.spaceName"
                :success-messages="success.spaceName"
                :error-messages="error.spaceName"
              ></v-text-field>
              <v-spacer></v-spacer>
              <v-text-field
                label="노출 점포명"
                v-model="showName"
                @blur="changeInfo('showName', 'SHOW_NAME', routerUrl)"
                :loading="loading.showName"
                :success-messages="success.showName"
                :error-messages="error.showName"
                :disabled="isShowing === 'Y' ? true : false"
              ></v-text-field>
              <v-text-field
                label="주소"
                v-model="address"
                @click="showPostcode = !showPostcode"
                readonly
                :loading="loading.address"
                :success-messages="success.address"
              ></v-text-field>
              <v-text-field
                label="상세주소"
                v-model="detailAddress"
                class="small-input"
                :loading="loading.detailAddress"
                :success-messages="success.detailAddress"
                :error-messages="error.detailAddress"
                @blur="changeInfo('detailAddress', 'DETAIL_ADDRESS', routerUrl)"
              ></v-text-field>
            </v-col>
          </v-row>

          <VueDaumPostcode
            v-if="showPostcode"
            @complete="setNChangeAddr($event)"
            style="width: 100%; height: 400px; overflow: auto;"
          />
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="공간 게재 정보">
          <v-row justify="space-between" align="center">
            <v-col cols="12" lg="6" class="d-flex justify-space-between">
              <p>공간검색 게재</p>
              <ToggleBtn
                :isActivated="isShowing"
                @activate="toggleShow('isShowing')"
                :isLoading="loading.toggleBtn"
              />
            </v-col>
            <v-col cols="12" lg="6" class="d-flex justify-space-between">
              <p>공간삭제 여부</p>
              <ToggleBtn
                :isActivated="isDel"
                @activate="toggleDelete('toggleBtn')"
              />
            </v-col>
            <v-alert v-if="showingBtnErrorMessage" type="error">
              {{ showingBtnErrorMessage }}
            </v-alert>
          </v-row>
          <v-divider></v-divider>
          <v-row justify="space-between" align="center">
            <v-col cols="12" lg="4">
              <ManagerSelect
                :initialManager="adminUser"
                :loading="loading.manager"
                :success="success.manager"
                :error="error.manager"
                @change="changeManager"
                roles="SPACE"
              ></ManagerSelect>
            </v-col>
            <v-col cols="12" lg="4">
              <v-select
                label="상태"
                class="small-input"
                v-model="status"
                :items="categorys.STATUS"
                item-text="VALUE"
                item-value="KEY"
                :loading="loading.status"
                :success-messages="success.status"
                :error-messages="error.status"
                @change="changeInfo('status', 'STATUS', routerUrl)"
                color="orange"
              ></v-select>
            </v-col>
          </v-row>
          <v-checkbox
            label="배달가능 여부"
            true-value="Y"
            false-value="N"
            v-model="deliveryYn"
            :isActivated="deliveryYn"
            :loading="loading.deliveryYn"
            :success-messages="success.deliveryYn"
            :error-messages="error.deliveryYn"
            @change="changeInfo('deliveryYn', 'DELIVERY_YN', routerUrl)"
          ></v-checkbox>
          <v-textarea
            label="공간설명"
            filled
            auto-grow
            v-model="spaceInfo"
            :loading="loading.spaceInfo"
            :success-messages="success.spaceInfo"
            :error-messages="error.spaceInfo"
            @blur="changeInfo('spaceInfo', 'SPACE_INFO', routerUrl)"
            :disabled="isShowing === 'Y' ? true : false"
          ></v-textarea>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-row align="stretch">
      <v-col cols="12" lg="6">
        <CardWithTitle title="공간 상세 정보">
          <v-row justify="space-between">
            <v-col cols="6" lg="2">
              <v-text-field
                label="층수"
                :rules="[int]"
                v-model="floor"
                ref="floor"
                :loading="loading.floor"
                :success-messages="success.floor"
                :error-messages="error.floor"
                @blur="changeInfo('floor', 'FLOOR', routerUrl)"
              ></v-text-field>
            </v-col>
            <v-col cols="6" lg="2">
              <v-text-field
                label="매장평수"
                v-model="size"
                :loading="loading.size"
                :success-messages="success.size"
                :error-messages="error.size"
                @blur="changeInfo('size', 'SIZE', routerUrl)"
              ></v-text-field>
            </v-col>
            <v-col cols="6" lg="2">
              <v-text-field
                label="좌석수"
                v-model="seats"
                :loading="loading.seats"
                :success-messages="success.seats"
                :error-messages="error.seats"
                @blur="changeInfo('seats', 'SEAT', routerUrl)"
              ></v-text-field>
            </v-col>
            <v-col cols="6" lg="2">
              <v-text-field
                label="큰 화구수"
                v-model="bigFire"
                :loading="loading.bigFire"
                :success-messages="success.bigFire"
                :error-messages="error.bigFire"
                @blur="changeInfo('bigFire', 'B_FIREBALL', routerUrl)"
              ></v-text-field>
            </v-col>
            <v-col cols="6" lg="2">
              <v-text-field
                label="작은 화구수"
                v-model="smallFire"
                :loading="loading.smallFire"
                :success-messages="success.smallFire"
                :error-messages="error.smallFire"
                @blur="changeInfo('smallFire', 'S_FIREBALL', routerUrl)"
              ></v-text-field>
            </v-col>
            <v-col cols="6" lg="2">
              <v-checkbox
                label="일반음식사업자"
                true-value="Y"
                false-value="N"
                v-model="isGeneralRestaurant"
                :loading="loading.isGeneralRestaurant"
                :success-messages="success.isGeneralRestaurant"
                :error-messages="error.isGeneralRestaurant"
                @change="
                  changeInfo('isGeneralRestaurant', 'GEN_RES_YN', routerUrl)
                "
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-card-title>공통</v-card-title>
          <v-divider></v-divider>
          <v-row no-gutters justify="start">
            <v-col
              cols="6"
              lg="3"
              v-for="item in commonAmenities"
              :key="item.NO"
            >
              <v-checkbox
                :label="item.AMENITY_NAME"
                :value="item.NO"
                v-model="selectedCommonAmenities"
                :disabled="isShowing === 'Y' ? true : false"
                @change="changeInfo('selectedAmenities', 'AMENITY', routerUrl)"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-col cols="12">
            <v-select
              prepend-icon="mdi-asterisk"
              label="공간유형"
              v-model="spaceTypeNo"
              :items="categorys.SPACE_TYPE"
              item-text="NAME"
              item-value="NO"
              :loading="loading.spaceTypeNo"
              :success-messages="success.spaceTypeNo"
              :error-messages="error.spaceTypeNo"
              @change="changeAmenities()"
              color="orange"
              :disabled="isShowing === 'Y' ? true : false"
            ></v-select>
          </v-col>
          <template v-if="spaceTypeNo === 1">
            <v-card-title>식당 공유주방</v-card-title>
            <v-divider></v-divider>
            <v-row no-gutters justify="start">
              <v-col
                cols="6"
                lg="3"
                v-for="item in restaurantAmenities"
                :key="item.NO"
              >
                <v-checkbox
                  :label="item.AMENITY_NAME"
                  :value="item.NO"
                  v-model="selectedRestaurantAmenities"
                  :disabled="isShowing === 'Y' ? true : false"
                  @change="
                    changeInfo('selectedAmenities', 'AMENITY', routerUrl)
                  "
                ></v-checkbox>
              </v-col>
            </v-row>
          </template>
          <template v-if="spaceTypeNo === 2">
            <v-card-title>배달 공유주방</v-card-title>
            <v-divider></v-divider>
            <v-row no-gutters justify="start">
              <v-col
                cols="6"
                lg="3"
                v-for="item in deliveryAmenities"
                :key="item.NO"
              >
                <v-checkbox
                  :label="item.AMENITY_NAME"
                  :value="item.NO"
                  v-model="selectedDeliveryAmenities"
                  :disabled="isShowing === 'Y' ? true : false"
                  @change="
                    changeInfo('selectedAmenities', 'AMENITY', routerUrl)
                  "
                ></v-checkbox>
              </v-col>
            </v-row>
            <v-card-subtitle>추가이용 가능공간</v-card-subtitle>
            <v-divider></v-divider>
            <v-row>
              <v-col
                cols="6"
                lg="3"
                v-for="option in deliveryOptions"
                :key="option.NO"
              >
                <v-checkbox
                  :label="option.DELIVERY_SPACE_OPTION_NAME"
                  :value="option.NO"
                  v-model="selectedOptions"
                  @change="
                    changeInfo(
                      'selectedOptions',
                      'DELIVERY_SPACE_OPTION',
                      routerUrl,
                    )
                  "
                ></v-checkbox>
              </v-col>
            </v-row>
          </template>
        </CardWithTitle>
      </v-col>
      <!-- <v-col cols="12" lg="6">
        <CardWithTitle title="공간 등록 사용자 변경">
          <UserAutoComplete
            @changed="changeUser"
            :userNo="userNo"
            :userName="userName"
            :userPhone="userPhone"
            :loading="loading.userNo"
            :success="success.userNo"
            disabled
          ></UserAutoComplete>
        </CardWithTitle>
      </v-col> -->
    </v-row>
    <v-row align="stretch">
      <v-col cols="12" lg="12">
        <CardWithTitle title="창업브랜드종류">
          <BrandCards
            :brandList="brandList"
            :selectBrand="selectBrand"
            :baseUrl="baseUrl"
            @click="onBrandClicked"
          />
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="임대차 관련 정보">
          <v-row no-gutters>
            <v-text-field
              :rules="[number]"
              label="희망 대여 금액"
              class="small-input mr-10"
              v-model="rentalHopeFee"
              :loading="loading.rentalHopeFee"
              :success-messages="success.rentalHopeFee"
              :error-messages="error.rentalHopeFee"
              @blur="changeInfo('rentalHopeFee', 'RENTAL_HOPE_FEE', routerUrl)"
              disabled
            ></v-text-field>
            <v-text-field
              :rules="[number]"
              label="월임대료"
              class="mr-10"
              v-model="monthlyRent"
              :loading="loading.monthlyRent"
              :success-messages="success.monthlyRent"
              :error-messages="error.monthlyRent"
              @blur="changeInfo('monthlyRent', 'MONTHLY_RENT', routerUrl)"
            ></v-text-field>
            <v-text-field
              label="월평균 공과금 + 관리비"
              class="mr-10"
              v-model="monthlyFee"
              :loading="loading.monthlyFee"
              :success-messages="success.monthlyFee"
              :error-messages="error.monthlyFee"
              @blur="changeInfo('monthlyFee', 'MONTHLY_FEE', routerUrl)"
            ></v-text-field>
            <v-menu
              ref="showExpiryDate"
              v-model="showExpiryDate"
              :close-on-content-click="false"
              :return-value.sync="expiryDate"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="expiryDate"
                  label="임대차 계약 완료일"
                  readonly
                  v-on="on"
                  prepend-icon="mdi-calendar"
                  :loading="loading.expiryDate"
                  :success-messages="success.expiryDate"
                  :error-messages="error.expiryDate"
                ></v-text-field>
              </template>
              <v-date-picker v-model="expiryDate" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="showExpiryDate = false"
                  >Cancel</v-btn
                >
                <v-btn
                  text
                  color="primary"
                  @click="
                    [
                      $refs.showExpiryDate.save(expiryDate),
                      changeInfo('expiryDate', 'EXPIRY_DATE', routerUrl),
                    ]
                  "
                  >OK</v-btn
                >
              </v-date-picker>
            </v-menu>
          </v-row>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="프로모션" v-if="userType === 'company'">
          <v-chip
            color="orange darken-4"
            v-for="(item, index) in promoList"
            :key="item.NO"
            close
            class="mr-2 mb-2"
            @click:close="deletePromo(index)"
            >{{ item.TITLE }}</v-chip
          >
          <PromotionAutoComplete
            :spaceNo="uid"
            @selected="changePromo"
            :userType="userType"
            :success="success.promoNoList"
            :loading="loading.promoNoList"
            :error="error.promoNoList"
          ></PromotionAutoComplete>
        </CardWithTitle>
      </v-col>
    </v-row>
    <v-row align="stretch">
      <v-col cols="12" lg="6">
        <CardWithTitle title="공간 대여 조건">
          <v-row align="center">
            <v-col cols="12" lg="2">
              <p>대여 유형</p>
            </v-col>
            <v-col cols="12" lg="10">
              <v-radio-group
                v-model="rentalType"
                :mandatory="false"
                @change="changeInfo('rentalType', 'RENTAL_TYPE', routerUrl)"
                :loading="loading.rentalType"
                :success-messages="success.rentalType"
                :error-messages="error.rentalType"
              >
                <v-row justify="space-around" align="center">
                  <v-radio
                    v-for="n in categorys.RENTAL_TYPE"
                    :key="n.KEY"
                    :label="n.VALUE"
                    :value="n.KEY"
                  ></v-radio>
                </v-row>
              </v-radio-group>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="12" lg="2">
              <p>대관 일시</p>
            </v-col>
            <v-col cols="12" lg="10">
              <v-radio-group
                v-model="rentalDateType"
                :mandatory="false"
                @change="
                  changeInfo('rentalDateType', 'RENTAL_DATE_TYPE', routerUrl)
                "
                :loading="loading.rentalDateType"
                :success-messages="success.rentalDateType"
                :error-messages="error.rentalDateType"
              >
                <v-row justify="space-around" align="center">
                  <v-radio
                    v-for="n in categorys.RENTAL_DATE_TYPE"
                    :key="n.KEY"
                    :label="n.VALUE"
                    :value="n.KEY"
                  ></v-radio>
                </v-row>
              </v-radio-group>
            </v-col>
          </v-row>

          <v-textarea
            label="기타 사항"
            filled
            auto-grow
            v-model="rentalEtc"
            :loading="loading.rentalEtc"
            :success-messages="success.rentalEtc"
            :error-messages="error.rentalEtc"
            @blur="changeInfo('rentalEtc', 'RENTAL_CONTENT', routerUrl)"
          ></v-textarea>
        </CardWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <CardWithTitle title="공간 노출 정보">
          <v-row>
            <v-col cols="12" lg="6">
              <v-row no-gutters align="center">
                <v-text-field
                  :rules="[number]"
                  label="희망 보증금"
                  class="mr-10"
                  v-model="deposit"
                  :loading="loading.deposit"
                  :success-messages="success.deposit"
                  :error-messages="error.deposit"
                  @blur="changeInfo('deposit', 'DEPOSIT', routerUrl)"
                  :disabled="isShowing === 'Y' ? true : false"
                ></v-text-field>
                <p>만원</p>
              </v-row>
            </v-col>
            <v-col cols="12" lg="6">
              <v-row no-gutters align="center">
                <v-text-field
                  :rules="[number]"
                  label="대여 금액"
                  class="small-input"
                  v-model="rentalFee"
                  :loading="loading.rentalFee"
                  :success-messages="success.rentalFee"
                  :error-messages="error.rentalFee"
                  @blur="changeInfo('rentalFee', 'RENTAL_FEE', routerUrl)"
                  :disabled="isShowing === 'Y' ? true : false"
                ></v-text-field>
                <p>만원</p>
              </v-row>
            </v-col>

            <v-col cols="12" lg="6">
              <v-checkbox
                label="대여 경험 유"
                true-value="Y"
                false-value="N"
                v-model="isRentalExp"
                :loading="loading.isRentalExp"
                :success-messages="success.isRentalExp"
                :error-messages="error.isRentalExp"
                @change="changeInfo('isRentalExp', 'RENTAL_EXP_YN', routerUrl)"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6">
              <v-menu
                ref="showRentalStartDate"
                v-model="showRentalStartDate"
                :close-on-content-click="false"
                :return-value.sync="rentalStartDate"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="rentalStartDate"
                    label="희망 대여 시작일"
                    readonly
                    v-on="on"
                    prepend-icon="mdi-calendar"
                    :loading="loading.rentalStartDate"
                    :success-messages="success.rentalStartDate"
                    :error-messages="error.rentalStartDate"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="rentalStartDate" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="showRentalStartDate = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="
                      [
                        $refs.showRentalStartDate.save(rentalStartDate),
                        changeInfo(
                          'rentalStartDate',
                          'RENTAL_START_DATE',
                          routerUrl,
                        ),
                      ]
                    "
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" lg="6">
              <v-menu
                ref="showRentalEndDate"
                v-model="showRentalEndDate"
                :close-on-content-click="false"
                :return-value.sync="rentalEndDate"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="rentalEndDate"
                    label="희망 대여 종료일"
                    readonly
                    v-on="on"
                    prepend-icon="mdi-calendar"
                    :loading="loading.rentalEndDate"
                    :success-messages="success.rentalEndDate"
                    :error-messages="error.rentalEndDate"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="rentalEndDate" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="showRentalEndDate = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="
                      [
                        $refs.showRentalEndDate.save(rentalEndDate),
                        changeInfo(
                          'rentalEndDate',
                          'RENTAL_END_DATE',
                          routerUrl,
                        ),
                      ]
                    "
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-menu>
            </v-col>
          </v-row>

          <v-textarea
            label="기타 사항"
            filled
            auto-grow
            class="mt-5"
            v-model="rentalHopeEtc"
            :loading="loading.rentalHopeEtc"
            :success-messages="success.rentalHopeEtc"
            :error-messages="error.rentalHopeEtc"
            @blur="changeInfo('rentalHopeEtc', 'RENTAL_HOPE_ETC', routerUrl)"
          ></v-textarea>
        </CardWithTitle>
      </v-col>
    </v-row>
    <div>
      <p class="subtitle mt-10">상권정보</p>
      <v-card class="px-5 py-5 mb-4">
        <v-row>
          <v-col cols="12" lg="4">
            <p>
              <v-icon class="mr-1">mdi-check</v-icon>
              <span>공간상권상태</span>
            </p>
            <v-select
              label="상권정보 요청상태"
              class="small-input"
              :disabled="analysisDisable"
              v-model="analysisStatus"
              :items="analysisStatusList"
              item-text="VALUE"
              item-value="KEY"
              :loading="loading.analysisStatus"
              :success-messages="success.analysisStatus"
              :error-messages="error.analysisStatus"
              @change="analysisStatusChange"
              color="orange"
            ></v-select>
          </v-col>
          <v-col cols="12" lg="8">
            <div v-if="grade && spaceScore && kbScore && analysisScore">
              <p>
                <v-icon class="mr-1">mdi-star</v-icon>
                <span>공간상권등급</span>
              </p>
              <v-simple-table disabled>
                <thead>
                  <tr>
                    <th class="text-left">등급</th>
                    <th class="text-left">정렬 스코어</th>
                    <th class="text-left">KB 스코어</th>
                    <th class="text-left">상권분석 스코어</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ grade }}</td>
                    <td>{{ parseFloat(spaceScore).toFixed(6) }}</td>
                    <td>{{ parseFloat(kbScore).toFixed(6) }}</td>
                    <td>{{ parseFloat(analysisScore).toFixed(6) }}</td>
                  </tr>
                </tbody>
              </v-simple-table>
            </div>
          </v-col>
        </v-row>
        <v-row>
          <!-- <p>주변상권정보</p> -->
          <v-col cols="12" lg="4" v-if="analysisInfo">
            <p>
              <v-icon class="mr-1">mdi-storefront-outline</v-icon>
              <span>점포 주변의 평균 매출</span>
            </p>
            <v-simple-table disabled>
              <thead>
                <tr>
                  <th class="text-left">월</th>
                  <th class="text-left">연</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{
                      parseFloat(analysisInfo.avgStoreSales.KB_AVG_AMT).toFixed(
                        0,
                      ) | numeralFormat('0,000')
                    }}
                    원
                  </td>
                  <td>
                    {{
                      (
                        parseFloat(analysisInfo.avgStoreSales.KB_AVG_AMT) * 12
                      ).toFixed(0) | numeralFormat('0,000')
                    }}
                    원
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-col>

          <v-col cols="12" lg="4" v-if="analysisInfo">
            <p>
              <v-icon class="mr-1">mdi-account-tie</v-icon>
              <span>점포 주변의 직장인구</span>
            </p>
            <v-simple-table disabled>
              <thead>
                <tr>
                  <th class="text-left">직장 수</th>
                  <th class="text-left">직장인 수</th>
                  <th class="text-left">직장인 월 평균소득</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{
                      parseFloat(analysisInfo.employeeRatio.NPS_CO_COUNT)
                        | numeralFormat('0,000')
                    }}
                    개
                  </td>
                  <td>
                    {{
                      parseFloat(analysisInfo.employeeRatio.NPS_EMP)
                        | numeralFormat('0,000')
                    }}
                    명
                  </td>
                  <td>
                    {{
                      (parseFloat(analysisInfo.employeeRatio.NPS_CO_AVG_WAGE) /
                        0.09)
                        | numeralFormat('0,000')
                    }}
                    원
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-col>

          <v-col cols="12" lg="4" v-if="analysisInfo">
            <p>
              <v-icon class="mr-1">mdi-gender-male-female</v-icon>
              <span>남녀비율</span>
            </p>
            <v-simple-table disabled>
              <thead>
                <tr>
                  <th class="text-left">남</th>
                  <th class="text-left">여</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{
                      (
                        parseFloat(analysisInfo.genderDistribution.M) * 100
                      ).toFixed(1)
                    }}
                    %
                  </td>
                  <td>
                    {{
                      (
                        parseFloat(analysisInfo.genderDistribution.FM) * 100
                      ).toFixed(1)
                    }}
                    %
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-col>

          <v-col cols="12" lg="4" v-if="analysisInfo">
            <p>
              <v-icon class="mr-1">mdi-chef-hat</v-icon>
              <span>업종(업태)별 월 평균</span>
            </p>
            <v-simple-table disabled>
              <thead>
                <tr>
                  <th class="text-left">업종</th>
                  <th class="text-left">월 평균매출</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, i) in analysisInfo.avgBizConSales" :key="i">
                  <td>{{ item.KB_STORE_TYPE }}</td>
                  <td>
                    {{
                      parseFloat(item.KB_AVG_AMT).toFixed(0)
                        | numeralFormat('0,000')
                    }}
                    원
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-col>

          <v-col cols="12" lg="4" v-if="analysisInfo">
            <p>
              <v-icon class="mr-1">mdi-account-group</v-icon>
              <span>연령대별 고객 분포</span>
            </p>
            <v-simple-table disabled>
              <thead>
                <tr>
                  <th class="text-left">나이</th>
                  <th class="text-left">비율</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10대</td>
                  <td>
                    {{
                      (parseFloat(analysisInfo.ageGroupDis.A10) * 100).toFixed(
                        1,
                      )
                    }}
                    %
                  </td>
                </tr>
                <tr>
                  <td>20대</td>
                  <td>
                    {{
                      (parseFloat(analysisInfo.ageGroupDis.A20) * 100).toFixed(
                        1,
                      )
                    }}
                    %
                  </td>
                </tr>
                <tr>
                  <td>30대</td>
                  <td>
                    {{
                      (parseFloat(analysisInfo.ageGroupDis.A30) * 100).toFixed(
                        1,
                      )
                    }}
                    %
                  </td>
                </tr>
                <tr>
                  <td>40대</td>
                  <td>
                    {{
                      (parseFloat(analysisInfo.ageGroupDis.A40) * 100).toFixed(
                        1,
                      )
                    }}
                    %
                  </td>
                </tr>
                <tr>
                  <td>50대</td>
                  <td>
                    {{
                      (parseFloat(analysisInfo.ageGroupDis.A50) * 100).toFixed(
                        1,
                      )
                    }}
                    %
                  </td>
                </tr>
                <tr>
                  <td>60대</td>
                  <td>
                    {{
                      (parseFloat(analysisInfo.ageGroupDis.A60) * 100).toFixed(
                        1,
                      )
                    }}
                    %
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-col>

          <v-col cols="12" lg="4" v-if="analysisInfo">
            <p>
              <v-icon class="mr-1">mdi-calendar-range-outline</v-icon>
              <span>요일별 매출 분포</span>
            </p>
            <v-simple-table disabled>
              <thead>
                <tr>
                  <th class="text-left">요일</th>
                  <th class="text-left">비율</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>월요일</td>
                  <td>
                    {{
                      (
                        parseFloat(analysisInfo.dayDistribution.MON) * 100
                      ).toFixed(1)
                    }}
                    %
                  </td>
                </tr>
                <tr>
                  <td>화요일</td>
                  <td>
                    {{
                      (
                        parseFloat(analysisInfo.dayDistribution.TUE) * 100
                      ).toFixed(1)
                    }}
                    %
                  </td>
                </tr>
                <tr>
                  <td>수요일</td>
                  <td>
                    {{
                      (
                        parseFloat(analysisInfo.dayDistribution.WED) * 100
                      ).toFixed(1)
                    }}
                    %
                  </td>
                </tr>
                <tr>
                  <td>목요일</td>
                  <td>
                    {{
                      (
                        parseFloat(analysisInfo.dayDistribution.THU) * 100
                      ).toFixed(1)
                    }}
                    %
                  </td>
                </tr>
                <tr>
                  <td>금요일</td>
                  <td>
                    {{
                      (
                        parseFloat(analysisInfo.dayDistribution.FRI) * 100
                      ).toFixed(1)
                    }}
                    %
                  </td>
                </tr>
                <tr>
                  <td>토요일</td>
                  <td>
                    {{
                      (
                        parseFloat(analysisInfo.dayDistribution.SAT) * 100
                      ).toFixed(1)
                    }}
                    %
                  </td>
                </tr>
                <tr>
                  <td>일요일</td>
                  <td>
                    {{
                      (
                        parseFloat(analysisInfo.dayDistribution.SUN) * 100
                      ).toFixed(1)
                    }}
                    %
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-col>
        </v-row>
      </v-card>
    </div>
    <v-row align="baseline" justify="space-around">
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="공간 계약"
          :headers="spaceContractHeaders"
          :items="spaceContractData"
          page="space-contracts"
        ></TableWithTitle>
      </v-col>
      <v-col cols="12" lg="6">
        <TableWithTitle
          title="방문 상담 신청"
          :headers="spaceConsultHeaders"
          :items="spaceConsultData"
          page="space-meetings"
        ></TableWithTitle>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import TableWithTitle from '@/components/Admin/TableWithTitle';
import { validations } from '@/assets/mixins/validations';
import AdminFileUpload from '@/components/Admin/AdminFileUpload';
import ImageList from '@/components/Admin/ImageList';
import UserAutoComplete from '@/components/Admin/UserAutoComplete';
import PromotionAutoComplete from '@/components/Admin/Spaces/PromotionAutoComplete';
import { changeInfo } from '@/assets/mixins/changeInfo';
import { kakaoAPIs } from '@/assets/mixins/kakaoAPIs';
import { images } from '@/assets/mixins/images';
import ManagerSelect from '@/components/Admin/ManagerSelect';
import SMSBtnAndDialog from '@/components/Admin/SMSBtnAndDialog';
import BrandCards from '@/components/Admin/Spaces/BrandCards';

export default {
  layout: 'admin',
  mixins: [kakaoAPIs, changeInfo, validations, images],
  components: {
    TableWithTitle,
    AdminFileUpload,
    ImageList,
    UserAutoComplete,
    ManagerSelect,
    SMSBtnAndDialog,
    BrandCards,
    PromotionAutoComplete,
  },
  data() {
    return {
      userHeaders: [
        {
          text: 'UID',
          value: 'NO',
          align: 'center',
          sortable: false,
        },
        {
          text: '이름',
          value: 'NAME',
          align: 'center',
          sortable: false,
        },
        {
          text: '전화번호',
          value: 'PHONE',
          align: 'center',
          sortable: false,
        },
      ],
      spaceContractHeaders: [
        {
          text: 'UID',
          value: 'NO',
          align: 'center',
          sortable: false,
        },
        {
          text: '시작일',
          value: 'S_START_DATE',
          align: 'center',
          sortable: false,
        },
        {
          text: '종료일',
          value: 'S_END_DATE',
          align: 'center',
          sortable: false,
        },
      ],
      spaceConsultHeaders: [
        {
          text: 'UID',
          value: 'NO',
          align: 'center',
          sortable: false,
        },
        {
          text: '상담일',
          value: 'CONFIRM_DATE',
          align: 'center',
          sortable: false,
        },
      ],
      baseUrl: process.env.baseUrl,
      showExpiryDate: false,
      showRentalStartDate: false,
      showRentalEndDate: false,
      routerUrl: '/spaceAdmin/',
      selectBrand: [],
      imageDialog: false,
      imageIndex: null,
      showingBtnErrorMessage: '',
    };
  },
  computed: {
    mapSpaceName() {
      if (this.spaceName.indexOf(',') !== -1) {
        return this.spaceName.replace(/,/g, '，');
      }
    },
    insideImages() {
      //이미지의 카테고리가 INSIDE면 insideImages에 넣음
      const insideImages = this.images.filter((image) => {
        return image.CATEGORY === 'INSIDE';
      });
      return insideImages;
    },
    mainImages() {
      //이미지의 카테고리가 MAIN_SPACE면 mainImages에 넣음
      const mainImages = this.images.filter((image) => {
        return image.CATEGORY === 'MAIN_SPACE';
      });
      return mainImages;
    },
    analysisStatusList() {
      //이미지의 카테고리가 INSIDE면 insideImages에 넣음
      let tempList = this.categorys.ANALYSIS_STATUS;
      return tempList;
    },
    promoNoList() {
      let tempArr = [];
      this.promoList.map((e) => {
        tempArr.push(e.NO);
      });
      return tempArr;
    },
    //모든 어메니티를 합친 어레이
    selectedAmenities() {
      let tempArr = this.selectedCommonAmenities.concat(
        this.selectedRestaurantAmenities,
        this.selectedDeliveryAmenities,
      );
      return tempArr;
    },
  },
  deactivated() {
    this.$destroy();
  },
  methods: {
    changeAmenities() {
      // 공간 유형 변경시 각 유형 amenity 배열 초기화
      if (this.spaceTypeNo === 1) {
        this.selectedDeliveryAmenities = [];
      }
      if (this.spaceTypeNo === 2) {
        this.selectedRestaurantAmenities = [];
      }
      this.changeInfo('spaceTypeNo', 'SPACE_TYPE_NO', this.routerUrl);
      this.changeInfo('selectedAmenities', 'AMENITY', this.routerUrl);
    },
    onImageClicked(img, i) {
      this.imageDialog = true;
      let index;
      if (img.MAIN_YN === 'Y') {
        index = i;
      } else if (this.images.some((e) => e.MAIN_YN === 'Y')) {
        index = i + 1;
      }
      this.imageIndex = index;
    },
    analysisStatusChange(value) {
      if (value === 'ANALYSIS_PROGRESS' || value === 'ANALYSIS_FIN') {
        this.analysisDisable = true;
      }
      this.changeInfo('analysisStatus', 'ANALYSIS_STATUS', this.routerUrl);
    },
    toggleShow(ref) {
      //활성화 상태에서 비활성화로
      if (this.isShowing === 'Y') {
        this.isShowing === 'Y'
          ? (this.isShowing = 'N')
          : (this.isShowing = 'Y');
        this.changeInfo(ref, 'SHOW_YN', this.routerUrl);
        return;
      }
      //비활성화 상태에서 활성화로
      //추후 vuelidate로 전부 변경할 예정
      if (!this.showName) {
        this.showingBtnErrorMessage = '노출 점포명을 입력해주세요';
      } else if (!this.spaceInfo) {
        this.showingBtnErrorMessage = '공간설명을 입력해주세요';
      } else if (!this.spaceTypeNo) {
        this.showingBtnErrorMessage = '공간타입을 선택해주세요';
      } else if (!this.rentalFee) {
        this.showingBtnErrorMessage = '노출 대여료를 입력해주세요';
      }
      if (
        this.showName &&
        this.spaceInfo &&
        this.spaceTypeNo &&
        this.rentalFee
      ) {
        this.showingBtnErrorMessage = '';
        this.isShowing === 'Y'
          ? (this.isShowing = 'N')
          : (this.isShowing = 'Y');
        this.changeInfo(ref, 'SHOW_YN', this.routerUrl);
      }
    },
    toggleDelivery(ref) {
      this.changeInfo(ref, 'DELIVERY_YN', this.routerUrl);
    },
    toggleDelete(ref) {
      this.isDel === 'Y' ? (this.isDel = 'N') : (this.isDel = 'Y');
    },
    changeManager(value) {
      this.manager = value;
      this.changeInfo('manager', 'MANAGER', this.routerUrl);
    },
    //공간과 매핑된 유저 정보를 바꿈
    changeUser(user) {
      this.user = {
        NO: user.no,
        NAME: user.name,
        PHONE: user.phone,
      };
      this.userNo = user.no;
      this.changeInfo('userNo', 'NANUDA_USER_NO', this.routerUrl);
    },
    //프로모션 수정
    changePromo(thePromo) {
      // console.log('thePromo', thePromo);
      if (!this.promoNoList.includes(thePromo.NO)) {
        this.promoList.push(thePromo);
        this.changeInfo('promoNoList', 'PROMOTION_NO', this.routerUrl);
      } else {
        this.error.promoNoList = '이미 추가된 프로모션입니다';
        setTimeout(() => {
          this.error.promoNoList = '';
        }, 2000);
      }
    },
    deletePromo(index) {
      this.promoList.splice(index, 1);
      this.changeInfo('promoNoList', 'PROMOTION_NO', this.routerUrl);
    },
    async setNChangeAddr($event) {
      //주소정보를 data에 넣을때까지 기다림
      const result = await this.setAddress($event, 'address');
      this.changeInfo('address', 'ADDRESS', this.routerUrl);
    },
    //브랜드 카드 클릭시
    onBrandClicked(brandNo) {
      if (this.selectBrand.includes(brandNo)) {
        const index = this.selectBrand.findIndex((e) => brandNo === e);
        this.selectBrand.splice(index, 1);
      } else {
        this.selectBrand.push(brandNo);
      }
      this.changeInfo('selectBrand', 'BRAND_LIST', this.routerUrl);
    },
  },
  //데이터 이니시에이팅
  async asyncData(context) {
    let res = await context.$axios.$get(
      '/spaceAdmin/' + context.route.params.uid,
    );
    //일반 유저일때
    let user, userNo, userName, userPhone, userType;
    let promoList = [];
    if (res.NANUDA_USER) {
      user = res.NANUDA_USER;
      userNo = res.NANUDA_USER_NO;
      userName = res.NANUDA_USER.NAME;
      userPhone = res.NANUDA_USER.PHONE;
      userType = 'normal';
      //비회원일때
    } else if (res.NON_USER_NAME) {
      userName = res.NON_USER_NAME;
      userPhone = res.NON_USER_PHONE;
      user = {
        NAME: userName,
        PHONE: userPhone,
        NO: '비회원',
      };
      //업체 지점일때
    } else {
      userName = `${res.COMPANY_DISTRICT_SPACE_MAPPER[0].COMPANY_DISTRICT[0].COMPANY.NAME_KR} ${res.COMPANY_DISTRICT_SPACE_MAPPER[0].COMPANY_DISTRICT[0].NAME_KR}`;
      userNo = res.COMPANY_DISTRICT_SPACE_MAPPER[0].COMPANY_DISTRICT[0].NO;
      user = {
        NAME: userName,
        NO: res.COMPANY_DISTRICT_SPACE_MAPPER[0].COMPANY_DISTRICT[0].NO,
      };
      userPhone = null;
      if (res.PROMOTION_SPACE_MAPPER.length > 0) {
        res.PROMOTION_SPACE_MAPPER.map((e) => {
          promoList.push(e.PROMOTION[0]);
        });
      }
      userType = 'company';
    }
    let categorysData = await context.$axios.$get('/category', {
      params: {
        PAGE: 'SPACE',
      },
    });
    let brandList = await context.$axios.$get('/brandAdmin');
    // 카테고리API와 저장된 브랜드관련 카테고리 설정
    let tempSelectBrand = [];
    let analysisDisableValue = false;
    for (let i of res.SPACE_NANUDA_BRAND) {
      if (i.BRAND) {
        tempSelectBrand.push(i.BRAND.NO);
      }
    }
    if (
      res.ANALYSIS_STATUS === 'ANALYSIS_PROGRESS' ||
      res.ANALYSIS_STATUS === 'ANALYSIS_FIN'
    ) {
      analysisDisableValue = true;
    }
    //로그인된 어드민 유저의 정보를가져옴
    let loginedUserData = await context.$axios.$get(
      `/userManagerAdmin/${context.store.state.userNum}`,
    );
    //배달공간 옵션
    let deliveryOptions = await context.$axios.$get(
      '/deliverySpaceOptionAdmin',
    );
    //옵션 매퍼 객체를 데이터가공
    let selectedOptions = [];
    res.DELIVERY_SPACE_OPTION_SPACE_MAPPER.map((e) => {
      selectedOptions.push(e.DELIVERY_SPACE_OPTION_NO);
    });
    // amenity list
    let commonAmenities = await context.$axios.$get('/amenityAdmin/spaceType');
    let restaurantAmenities = await context.$axios.$get(
      '/amenityAdmin/spaceType/1',
    );
    let deliveryAmenities = await context.$axios.$get(
      '/amenityAdmin/spaceType/2',
    );
    //선택된 공통시설 배열 데이터가공
    let selectedCommonAmenities = [],
      selectedRestaurantAmenities = [],
      selectedDeliveryAmenities = [];
    res.AMENITY_SPACE_MAPPER_ADMIN_COMMON.map((e) => {
      selectedCommonAmenities.push(e.AMENITY_NO);
    });
    res.AMENITY_SPACE_MAPPER_ADMIN_RESTAURANT.map((e) => {
      selectedRestaurantAmenities.push(e.AMENITY_NO);
    });
    res.AMENITY_SPACE_MAPPER_ADMIN_DELIVERY.map((e) => {
      selectedDeliveryAmenities.push(e.AMENITY_NO);
    });
    return {
      selectedCommonAmenities: selectedCommonAmenities,
      selectedRestaurantAmenities: selectedRestaurantAmenities,
      selectedDeliveryAmenities: selectedDeliveryAmenities,
      commonAmenities: commonAmenities,
      restaurantAmenities: restaurantAmenities,
      deliveryAmenities: deliveryAmenities,
      deliveryOptions: deliveryOptions,
      loginedUser: loginedUserData,
      uid: res.NO,
      user: user,
      userNo: userNo,
      userName: userName,
      userPhone: userPhone,
      coords: { lat: res.LAT, lng: res.LON },
      addrCode: res.ADDR_CODE,
      addrEng: res.ADDR_ENG,
      addrJibun: res.ADDR_JIBUN,
      addrZip: res.ADDR_ZIP,
      address: res.ADDRESS,
      detailAddress: res.DETAIL_ADDRESS,
      isShowing: res.SHOW_YN,
      isDel: res.DEL_YN,
      spaceName: res.NAME,
      showName: res.SHOW_NAME,
      isGeneralRestaurant: res.GEN_RES_YN,
      manager: res.MANAGER,
      status: res.STATUS,
      floor: res.FLOOR,
      size: res.SIZE,
      seats: res.SEAT,
      bigFire: res.B_FIREBALL,
      smallFire: res.S_FIREBALL,
      deposit: res.DEPOSIT,
      monthlyFee: res.MONTHLY_FEE,
      monthlyRent: res.MONTHLY_RENT,
      expiryDate: res.EXPIRY_DATE,
      etc: res.ETC,
      rentalType: res.RENTAL_TYPE,
      rentalDateType: res.RENTAL_DATE_TYPE,
      rentalEtc: res.RENTAL_CONTENT,
      rentalHopeFee: res.RENTAL_HOPE_FEE,
      rentalStartDate: res.RENTAL_START_DATE,
      rentalEndDate: res.RENTAL_END_DATE,
      isRentalExp: res.RENTAL_EXP_YN,
      adminUser: res.ADMIN_USER,
      images: res.FILE_MANAGEMENT,
      spaceContractData: res.SPACE_CONTRACT_MANAGER,
      spaceConsultData: res.FOUNDER_CONSULT,
      spaceTypeNo: res.SPACE_TYPE_NO,
      deliveryYn: res.DELIVERY_YN,
      spaceInfo: res.SPACE_INFO,
      analysisStatus: res.ANALYSIS_STATUS,
      analysisInfo: res.VICINITY_INFO,
      grade: res.GRADE,
      spaceScore: res.SPACE_SCORE,
      kbScore: res.KB_SCORE,
      analysisScore: res.ANALYSIS_SCORE,
      selectBrand: tempSelectBrand,
      categorys: categorysData,
      analysisDisable: analysisDisableValue,
      rentalHopeEtc: res.RENTAL_HOPE_ETC,
      brandList: brandList.rows,
      promoList: promoList,
      userType: userType,
      rentalFee: res.RENTAL_FEE,
      selectedOptions: selectedOptions,
    };
  },
};
</script>

<style lang="scss"></style>
