<template>
  <main class="main-wrapper">
    <article class="main-article">
      <section class="article-section">
        <header class="section-header txt-center">
          <h3>
            파트너 공유주방
          </h3>
        </header>
        <div class="section-content">
          <div class="inner-container">
            <CompanyList :companies="companies" v-if="companies.length > 0" />
          </div>
        </div>
      </section>
    </article>
  </main>
</template>
<script>
import CompanyList from '@/components/Company/CompanyList'; // 업체 리스트
export default {
  components: {
    CompanyList,
  },
  async asyncData(context) {
    //TODO: 현재 기업형공유주방 순서 상단으로 하드코딩, 추후  ORDER INDEX 컬럼 추가 및 순서 변경(drag and drop)기능 작업 필요
    let companies = await context.$axios.$get('/company');
    const companyType = 'CORP_COMPANY';
    let newCompanies = [];
    const corpCompany = companies.filter((company) => {
      return company.companyType === companyType;
    });
    corpCompany.sort((a, b) => {
      return b.no - a.no; // 기업공유주방
    });
    companies = companies.filter((company) => {
      return company.companyType !== companyType;
    });

    newCompanies = [...corpCompany, ...companies];

    return {
      companies: newCompanies,
    };
  },
};
</script>
