<template>
  <main class="main-wrapper search-space-wrapper">
    <article class="main-article">
      <div class="nav-content-wrapper">
        <div class="d-xl-none" style="width: calc(100% - 4em);">
          <SearchDeliverySpaceFull
            :show="true"
            @canceled="isShowSearchPage = false"
            @centerChanged="onCenterChanged"
            dropDownEndpoint="/companyDistrict/dropdown"
            mapRoute="delivery-kitchen-map"
            class="w-100p border-right"
          />
        </div>
        <div class="filter-bar">
          <!-- <NButton
            icon
            size="small"
            class="btn-search"
            :class="{ 'is-active': isSearchLayerVisible }"
            @click="onSearchLayerOpen()"
          >
            <i class="icon icon-search"></i>
            <span>검색</span>
          </NButton> -->
          <NButton
            icon
            size="small"
            class="btn-filter"
            :class="{ 'is-active': isFilterLayerVisible }"
            @click="onFilterLayerOpen()"
          >
            <i class="icon icon-filter"></i>
            <span>필터</span>
          </NButton>
        </div>
        <div
          class="search-content-wrapper"
          v-show="isSearchLayerVisible || isFilterLayerVisible"
        >
          <div v-show="isSearchLayerVisible && !isFilterLayerVisible">
            <SearchDeliverySpaceFull
              :show="true"
              @canceled="isShowSearchPage = false"
              @centerChanged="onCenterChanged"
              dropDownEndpoint="/companyDistrict/dropdown"
              mapRoute="delivery-kitchen-map"
            />
          </div>
          <div v-show="isFilterLayerVisible && !isSearchLayerVisible">
            <!-- TODO:  추후 컴포넌트 화 -->
            <div class="filter-wrapper">
              <section class="filter-section">
                <div class="filter-title">
                  <h1>주방시설</h1>
                </div>
                <div class="filter-content">
                  <NButton
                    size="mini"
                    class="filter-tab"
                    :class="{ 'is-active': isKitchenApplianceTapOpen }"
                    @click="
                      isKitchenApplianceTapOpen = !isKitchenApplianceTapOpen
                    "
                    ><span class="mr-2">주방시설</span>
                    <v-icon v-if="!isKitchenApplianceTapOpen"
                      >mdi-menu-down</v-icon
                    ><v-icon v-else>mdi-menu-up</v-icon>
                  </NButton>
                  <div v-show="isKitchenApplianceTapOpen" class="filter-layer">
                    <NButton
                      class="filter-item"
                      v-for="item in amenityFilterBtns"
                      :key="item.id"
                      :class="{
                        'is-active': amenityFilters.includes(item.id),
                      }"
                      size="tiny"
                      @click="onAmenityFilterClicked(item.id)"
                      >{{ item.name }}</NButton
                    >
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="map-content-wrapper" :class="{ 'is-collapsed': isCollapsed }">
        <div class="map-area-wrapper">
          <client-only>
            <vue-daum-map
              :appKey="appKey"
              :center="coords"
              :level.sync="level"
              :libraries="libraries"
              @load="onRestaurantClustererLoad"
              class="map-area"
            />
          </client-only>
        </div>
        <div
          class="space-area-wrapper"
          :class="{ 'is-fixed': isSpaceListfixed }"
          v-if="bottomSpace || bottomCardLoading"
        >
          <div class="space-list-title is-fixed"></div>
          <div class="space-list-wrapper" ref="restaurantSpaceList">
            <div class="space-list">
              <div class="txt-center" v-if="bottomCardLoading">
                <div class="loader">
                  <img
                    src="@/assets/svg/common/loader.svg"
                    alt="로딩중"
                    style="width: 6em;"
                  />
                </div>
              </div>
              <template v-else>
                <div
                  class="p-3 mb-4 bg-light rounded-sm txt-tiny txt-center"
                  v-if="bottomSpace"
                >
                  <span class="txt-black txt-bold"
                    >{{ bottomSpace.SIDO }} {{ bottomSpace.SIGUNGU }}
                    {{ bottomSpace.BNAME }}</span
                  >
                </div>
                <div
                  class="space-list-preview"
                  :loading="bottomCardLoading"
                  @click="$router.push(`/restaurant-kitchen/${bottomSpace.NO}`)"
                >
                  <div class="row no-gutters align-items-start">
                    <div class="space-img">
                      <img
                        v-lazy="
                          `${baseUrl}/${bottomSpace.FILE_MANAGEMENT[0].FILE_PATH}`
                        "
                        v-if="
                          bottomSpace.FILE_MANAGEMENT &&
                          bottomSpace.FILE_MANAGEMENT.length > 0
                        "
                        class="thumb-img"
                      />
                      <img
                        v-lazy="require('@/assets/images/common/no_img.png')"
                        v-else
                        class="thumb-img"
                      />
                    </div>
                    <div class="space-info">
                      <h5 class="txt-medium txt-bold txt-black">
                        {{ bottomSpace.SHOW_NAME }}
                      </h5>
                      <div class="row-box mt-2">
                        <div
                          v-if="
                            bottomSpace.DEPOSIT ||
                            bottomSpace.RENTAL_FEE ||
                            bottomSpace.SIZE
                          "
                        >
                          <div
                            class="d-flex align-items-center mb-1 mr-4"
                            v-if="bottomSpace.DEPOSIT || bottomSpace.RENTAL_FEE"
                          >
                            <i
                              class="icon icon-info-won txt-medium txt-primary"
                            ></i>
                            <span class="txt-black ml-2 is-nowrap">
                              <template
                                v-if="
                                  bottomSpace.DEPOSIT !== '' &&
                                  bottomSpace.DEPOSIT != '0'
                                "
                              >
                                <span class="txt-medium txt-bolder">{{
                                  bottomSpace.DEPOSIT
                                }}</span>
                                <span class="txt-mini">만원</span>
                              </template>
                              <template v-else>
                                <span class="txt-bold txt-tiny"
                                  >보증금 없음</span
                                >
                              </template>
                              <span class="txt-mini">/</span>
                            </span>
                            <span class="txt-black ml-2 is-nowrap">
                              <template v-if="bottomSpace.RENTAL_FEE">
                                <span class="txt-medium txt-bolder">
                                  {{ bottomSpace.RENTAL_FEE }}
                                </span>
                                <span class="txt-mini">만원</span>
                              </template>
                              <template v-else>
                                <span class="txt-bold txt-tiny">월세 없음</span>
                              </template>
                            </span>
                          </div>
                          <div
                            class="d-flex align-items-center mb-1"
                            v-if="bottomSpace.SIZE"
                          >
                            <i
                              class="icon icon-info-pyeong txt-medium txt-primary"
                            ></i>
                            <span class="txt-black ml-2 is-nowrap">
                              <span class="txt-medium txt-bolder">
                                {{ bottomSpace.SIZE }}
                              </span>
                              <span class="txt-mini">평</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row-box mt-2">
                        <div
                          class="d-flex align-items-center justify-content-start"
                        >
                          <div
                            class="d-flex align-items-center"
                            @click.stop="favoriteSpace(bottomSpace)"
                          >
                            <span>
                              <i
                                class="icon icon-heart-fill txt-bold txt-primary"
                                v-if="isSpaceLiked"
                              ></i>
                              <i class="icon icon-heart txt-bold" v-else></i>
                            </span>
                            <span class="txt-black txt-small ml-2">{{
                              spaceLikedCount
                            }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div
                  class="btn-box mt-4"
                  ref="moreBtn"
                >
                  <NButton color="outline-primary" size="medium" block @click="moreBtn()">더보기</NButton>
                </div>-->
              </template>
            </div>
          </div>
        </div>
      </div>
    </article>
    <Modal
      yesBtn="로그인하기"
      noBtn="닫기"
      :visible="isVisible"
      @close="goToLogin"
    >
      <div class="txt-box txt-center">
        <p class="txt-small txt-black txt-bold">
          로그인이 필요한 서비스 입니다 <br />로그인 하시겠습니까?
        </p>
      </div>
    </Modal>
  </main>
</template>

<script>
import { kakaoAPIs } from '@/assets/mixins/kakaoAPIs';
import { handleScroll } from '@/assets/mixins/handleScroll'; // 스크롤이벤트 , scrollFunc() 함수에 작성
import SearchDeliverySpaceFull from '@/components/DeliveryKitchen/SearchDeliverySpaceFull';
import EmptyHeader from '@/components/Navigation/EmptyHeader';

export default {
  components: { SearchDeliverySpaceFull, EmptyHeader },
  mixins: [kakaoAPIs, handleScroll],
  data() {
    return {
      baseUrl: process.env.baseUrl,
      minLevel: 6,
      bottomSpace: null,
      isShowSearchPage: false,
      isSpaceListfixed: false,
      isVisible: false,
      isSpaceLiked: false,
      spaceLikedCount: null,
      amenityFilterBtns: [
        { name: '화구', id: '1' },
        { name: '식기 세척기', id: '2' },
        { name: '튀김기', id: '3' },
        { name: '보관공간', id: '4' },
        { name: '쇼케이스/주류 냉장공간', id: '5' },
        { name: '냉장공간', id: '6' },
        { name: '냉동공간', id: '7' },
        { name: '와이파이', id: '8' },
        { name: '주차공간', id: '9' },
      ],
    };
  },
  async asyncData(context) {
    let coords;
    let searchKeyword;
    let spaceNo;
    let level = 7;
    let amenityFilters = [];
    //라우트 좌표 쿼리가 있으면 그 좌표로 센터를 잡음
    if (context.route.query.lat && context.route.query.searchKeyword) {
      coords = {
        lat: context.route.query.lat,
        lng: context.route.query.lon,
      };
      searchKeyword = context.route.query.searchKeyword;
    } //url에 공간번호가 있을시
    else if (context.route.query.spaceNo) {
      let res = await context.$axios.$get('/companyDistrict/getCenter', {
        params: { keyword: '무주' },
      });
      coords = { lat: res.lat, lng: res.lon };
      spaceNo = context.route.query.spaceNo;
    }
    //좌표가 없고 키워드만 있을시
    else if (context.route.query.searchKeyword) {
      let res = await context.$axios.$get('/companyDistrict/getCenter', {
        params: { keyword: context.route.query.searchKeyword },
      });
      coords = { lat: res.lat, lng: res.lon };
      searchKeyword = context.route.query.searchKeyword;
      //둘다 없을 시
    } else {
      let res = await context.$axios.$get('/companyDistrict/getCenter', {
        params: { keyword: '무주' },
      });
      coords = { lat: res.lat, lng: res.lon };
      level = 13;
      // searchKeyword = '무주';
    }
    //선택 시설이 하나일땐  context.route.query.amenityIds이 string 둘 이상일땐 array로 옴
    if (
      context.route.query.amenityIds &&
      Array.isArray(context.route.query.amenityIds)
    ) {
      amenityFilters = context.route.query.amenityIds;
    } else if (context.route.query.amenityIds) {
      amenityFilters.push(context.route.query.amenityIds);
    }
    let restaurantSpaces = await context.$axios.$get('/space/search', {
      params: { keyword: '', amenityIds: amenityFilters },
    });

    return {
      coords: coords,
      restaurantSpaces: [...restaurantSpaces.cities],
      searchKeyword: searchKeyword,
      selectedSpaceNo: spaceNo,
      level: level,
      amenityFilters: amenityFilters,
    };
  },
  computed: {
    querys() {
      return {
        searchKeyword: this.searchKeyword,
        spaceNo: this.selectedSpaceNo,
        amenityIds: this.amenityFilters,
      };
    },
  },
  watch: {
    amenityFilters() {
      this.resetRestaurantSelection();
      this.getSpaceAndRemarker();
    },
    querys() {
      this.setQuerys();
    },
  },
  methods: {
    getSpaceAndRemarker() {
      this.$axios
        .$get('/space/search', {
          params: { keyword: '', amenityIds: this.amenityFilters },
        })
        .then((res) => {
          this.restaurantSpaces = res.cities;
          this.clusterer.clear();
          const overlays = this.getRestaurantOverlays();
          const markers = this.getRestaurantMarkers();
          this.clusterer.addMarkers(overlays);
          this.clusterer.addMarkers(markers);
          this.map.relayout();
        });
    },
    onRestaurantClustererLoad(map) {
      if (this.minLevel) {
        map.setMinLevel(this.minLevel);
      }
      this.map = map;
      this.clusterer = new kakao.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
        minLevel: 9, // 클러스터 할 최소 지도 레벨
        maxLevel: 15,
        texts: getTexts,
        styles: [
          {
            // calculator 각 사이 값 마다 적용될 스타일을 지정한다
            padding: '10px',
            minWidth: '50px',
            background: '#635dff',
            borderRadius: '50%',
            color: '#fff',
            fontSize: '25px',
            textAlign: 'center',
          },
        ],
      });
      //   customize text field for cluste
      function getTexts(count) {
        return `<span>${Math.floor(count / 2)}</span>`;
      }

      // //   zoomable control
      // const zoomControl = new kakao.maps.ZoomControl();
      // map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
      // //   sky view control
      // const mapTypeControl = new kakao.maps.MapTypeControl();
      // map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

      const overlays = this.getRestaurantOverlays();
      const markers = this.getRestaurantMarkers();

      kakao.maps.event.addListener(map, 'idle', () => {
        this.$nextTick(() => {
          map.relayout();
        });
      });
      //마커, 타입리스트 초기화
      kakao.maps.event.addListener(map, 'dragstart', () => {
        this.resetRestaurantSelection();
        this.$nextTick(() => {
          map.relayout();
        });
      });
      kakao.maps.event.addListener(map, 'click', () => {
        this.resetRestaurantSelection();
        this.$nextTick(() => {
          map.relayout();
        });
      });
      kakao.maps.event.addListener(map, 'zoom_start', () => {
        this.resetRestaurantSelection();
      });
      this.clusterer.addMarkers(overlays);
      this.clusterer.addMarkers(markers);
    },
    getRestaurantOverlays() {
      const overlays = this.restaurantSpaces.map((restaurantSpace) => {
        const overlay = new kakao.maps.CustomOverlay({
          position: new kakao.maps.LatLng(
            restaurantSpace.lat,
            restaurantSpace.lon,
          ),
          clickable: false,
          content: `<div id=${restaurantSpace.no} class="marker"><span class="count"></span></div>`,
          zIndex: 1,
        });
        if (this.selectedSpaceNo == restaurantSpace.no) {
          const overlay = new kakao.maps.CustomOverlay({
            position: new kakao.maps.LatLng(
              restaurantSpace.lat,
              restaurantSpace.lon,
            ),
            clickable: false,
            content: `<div id=${restaurantSpace.no} class="marker is-active"><span class="count"></span></div>`,
            zIndex: 1,
          });
          // const moveLatLon = new kakao.maps.LatLng(
          //   restaurantSpace.lat,
          //   restaurantSpace.lon,
          // );
          // map.panTo(moveLatLon);
          return overlay;
        }
        return overlay;
      });
      return overlays;
    },
    getRestaurantMarkers() {
      //   get custom image
      this.transparentIcon = new kakao.maps.MarkerImage(
        'https://kr.object.ncloudstorage.com/common-nanuda/icon_marker_transparent.png',
        new kakao.maps.Size(39, 50),
      );

      const markers = this.restaurantSpaces.map((restaurantSpace) => {
        const marker = new kakao.maps.Marker({
          position: new kakao.maps.LatLng(
            restaurantSpace.lat,
            restaurantSpace.lon,
          ),
          clickable: true,
          image: this.transparentIcon,
          zIndex: 2,
        });
        kakao.maps.event.addListener(marker, 'click', () => {
          this.changeCollapse(false).then(() => {
            let previousMarkerDom;
            let currentMarkerDom;
            this.map.relayout();
            this.panToCenter(this.map, restaurantSpace);
            this.bottomSpace = null;
            if (this.selectedSpaceNo) {
              previousMarkerDom = document.getElementById(this.selectedSpaceNo);
            }
            if (previousMarkerDom) {
              previousMarkerDom.classList.remove('is-active');
            }
            currentMarkerDom = document.getElementById(restaurantSpace.no);
            if (currentMarkerDom) {
              currentMarkerDom.classList.add('is-active');
            }
            this.selectedSpaceNo = restaurantSpace.no;
            this.bottomSpaceLoading = true;
            this.$axios.$get(`/space/${restaurantSpace.no}`).then((res) => {
              this.bottomSpace = res;
              this.bottomSpaceLoading = false;
            });
            if (this.$store.getters.isAuthenticated) {
              this.likeLoading = true;
              this.$axios
                .$get(
                  `/favoriteSpace/checkForRestaurantKitchen/${restaurantSpace.no}`,
                )
                .then((res) => {
                  this.likeLoading = false;
                  this.isSpaceLiked = res.isLiked === 'Y' ? true : false;
                });
            }
            this.countLoading = true;
            this.$axios
              .$get(
                `/nonUserFavorite/checkCountForRestaurantKitchen/${restaurantSpace.no}`,
              )
              .then((res) => {
                this.countLoading = false;
                this.spaceLikedCount = res;
              });
            // const moveLatLon = new kakao.maps.LatLng(
            //   restaurantSpace.lat,
            //   restaurantSpace.lon,
            // );
            // console.log('moveLatLon', moveLatLon)
            // map.panTo(moveLatLon);

            this.selectedSpaceNo = restaurantSpace.no;

            // this.map.relayout();
          });
        });
        //// 클릭 이벤트 리스너

        // url에 선택된 공간no가 있다면 클릭 트리거
        if (this.selectedSpaceNo == restaurantSpace.no) {
          kakao.maps.event.trigger(marker, 'click');
        }
        return marker;
      });
      return markers;
    },
    onAmenityFilterClicked(value) {
      if (this.amenityFilters.includes(value)) {
        const i = this.amenityFilters.indexOf(value);
        this.amenityFilters.splice(i, 1);
      } else {
        this.amenityFilters.push(value);
      }
    },
    scrollFunc() {
      // 스크롤 이벤트
      if (this.bottomSpaceListCount > 0) {
        const target = this.$refs.restaurantSpaceList;
        const header = document.getElementById('header').clientHeight;
        if (Math.floor(target.getBoundingClientRect().top) <= header + 6) {
          this.isSpaceListfixed = true;
        } else {
          this.isSpaceListfixed = false;
        }
      }
    },
    resetRestaurantSelection() {
      this.changeCollapse(true).then(() => {
        // 맵 초기화
        if (this.selectedSpaceNo) {
          const selectedMarker = document.getElementById(this.selectedSpaceNo);
          selectedMarker.classList.remove('is-active');
        }
        this.selectedSpaceNo = null;
        this.bottomSpace = null;
        this.isSpaceListfixed = false;
      });
    },
    onCenterChanged(value) {
      this.coords = value.coords;
      this.searchKeyword = value.searchKeyword;
      this.bottomSpace = null;
      this.level = 7;
    },
    async favoriteSpace(theSpace) {
      //토큰 유효기간 검사
      await this.$checkTokenExpired();
      if (this.$store.getters.isAuthenticated) {
        if (this.isSpaceLiked) {
          // 찜 해제하기
          return this.$axios
            .$delete('/favoriteSpace', {
              params: {
                deliverySpaceNo: theSpace.NO,
                spaceTypeNo: '1',
              },
            })
            .then((res) => {
              if (res) {
                this.isSpaceLiked = false;
                this.spaceLikedCount -= 1;
              }
            });
        } else {
          // 찜 하기
          return this.$axios
            .$post('/favoriteSpace', {
              deliverySpaceNo: theSpace.NO,
              spaceTypeNo: '1',
            })
            .then((res) => {
              if (res) {
                this.isSpaceLiked = true;
                this.spaceLikedCount += 1;
              }
            });
        }
      } else {
        this.isVisible = true;
      }
    },
  },
};
</script>

<style lang="scss">
.marker {
  position: relative;
  bottom: 3em;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #635dff;
  padding: 0.5em;
  font-size: 0.9rem;
  border-style: solid;
  border-color: #2e28ff;
  border-width: 2px;
  &:after {
    position: absolute;
    top: 67%;
    left: 50%;
    display: block;
    content: '';
    width: 50%;
    height: 50%;
    margin-left: -25%;
    background-color: #635dff;
    transform: rotate(45deg);
    border: 0;
    border-right-width: inherit;
    border-bottom-width: inherit;
    border-color: inherit;
    border-style: solid;
  }

  &.is-active {
    background-color: #d95050;
    border-color: #c12b2b;
    &:after {
      background-color: #d95050;
      border-color: #c12b2b;
    }
  }

  .count {
    position: relative;
    z-index: 2;
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: $txt-bold;
    background-color: $white;
    border-radius: 50%;
    color: $black;
  }
}
</style>
